[2018-03-16 12:08] heplesser commented on #911
@alberto-antonietti We generally recommend against building NEST in the source directory, but since we do not explicitly prevent it, building should work correctly. It would be great if you could provide a pull request to fix this.

[2018-03-16 13:03] elbixos commented on #892
Ok, another install on a different machine, this time using
- virtualenv to select python3
- pip for installing python modules.

Everything seems ok, even the nose part that failed before.

I would recommend this solution. I'll try it on the original pc in a few days.

[2018-03-20 10:22] steffengraber commented on #830
Because encoding='utf-8' as argument to open() won't run under Python2 I decided to use the io-module (io.open(file”, “r”, encoding=”utf-8”)).

[2018-03-20 14:50] aserenko commented on #910
Maybe it might be easier to transmit requests in SLI, handling the python-to-SLI translation on the client side?

[2018-03-22 16:03] heplesser commented on #833
The discussion on the old trac.903 issue did not contain any relevant information, it was only about the transition from always rounding up to rounding symmetrically.

This is foremost a matter of what users expect given the NEST syntax. I will put the matter on the agenda of the next Open Developer VC on 16 April.

[2018-03-23 20:28] AlexVanMeegen opened #916 "Installation on mac: homebrew/science deprecated"
Dear all,

installing NEST on a macOS High Sierra using Homebrew didn't work because `brew tap homebrew/science` returns `Error: homebrew/science was deprecated. This tap is now empty as all its formulae were migrated.`

In the [announcement of Homebrew 1.5.0](https://brew.sh/2018/01/19/homebrew-1.5.0/) is a bit of additional information:

[2018-03-26 08:18] heplesser commented on #830
Fixed by #915.

[2018-03-26 08:18] #830 closed

[2018-03-26 09:43] heplesser commented on #916
@AlexVanMeegen Please use `brew tap brewsci/science`.
@steffengraber Could you re-generate the help webpages so the corrections made in #897?

[2018-03-27 19:44] TomBugnon commented on #904
That would be great. Please let me know if there is anything I could do to help you out with this.

[2018-04-04 14:30] alberto-antonietti opened #918 "SetNumRecProcesses for weight_recorder"
I have noticed that the `nest.SetNumRecProcesses( )` function works only for spike_detectors and not for weight_recorders. Is that foreseen?

Having few MPI processes dedicated to the weight recording would accelerate simulations run with hundreds/thousands of MPI processes?

[2018-04-05 07:31] heplesser commented on #904
@TomBugnon Until we have proper support for co-located synapses, I have realised that there is a reasonably efficient work-around. You can first create one type of synapses as usual, but label them using NEST's labeled synapse model variants. For almost all synapse models in NEST, there is a `_lbl` variant, which allows you to set an integer synapse label on the connection. If you use a different

[2018-04-05 11:49] heplesser commented on #918
@alberto-antonietti Unfortunately, the lack of a global weight recording possibility is a feature. Having a global spike detector is quite straightforward and cheap at runtime, since all spikes are transmitted to all MPI processes anyways. To provide global weight recording, we would have to transmit all weights, which are far more than spikes (if a neuron has a fan-out of 10.000, each spike trans

[2018-04-05 14:03] #153 closed

[2018-04-06 00:14] jougs commented on #911
Closed by #914.

[2018-04-06 00:14] #911 closed

[2018-04-06 08:01] heplesser commented on #916
@steffengraber Thank you!

[2018-04-06 08:01] #916 closed

[2018-04-06 11:43] nchr9 opened #919 "How can I record the changes of the synapse's weight during the simulation ?"
I use a custom synapse . Is there any way to keep track of the weight change ?

[2018-04-06 12:25] richard20020815 commented on #892
@elbixos
i used fink(finkproject.org)to create an Linux environment on my Mac
using virtualenv will cause Nest to say "Could not find Pythoninterp .....find 2.7.14 but....." when cmake

so i tried your
-DPYTHON_EXECUTABLE=/usr/bin/python3
-DPYTHON_LIBRARY=/usr/lib/x86_64-linux-gnu/libpython3.5m.so
-DPYTHON_INCLUDE_DIR=/usr/include/python3.5

but i can't find the .so file
so i changed it to the lib

[2018-04-06 13:38] heplesser commented on #919
@nchr9 Questions such as this are better asked on the NEST User mailing list, where you usually will get answers sooner.

You can use the `weight_recorder` to record synapse weights every time a spike passes through a synapse (weights are not well-defined in between spikes). Here is a small example:
[code]
Note that the weight recorder is not connected to a neuron but specified in the synapse mode

[2018-04-06 14:13] ChristianKeup opened #921 "Allow different time constants for exc. and inh. synapses in /iaf_psc_exp_ps_lossless"
The new `/iaf_psc_exp_ps_lossless` (see #901) is an alternative implementation of `/iaf_psc_exp_ps` in that it is computationally more expensive, but detects some threshold crossings that the standard implementation misses (namely, when V_th is crossed to and fro between two checkpoints). Otherwise, the two models are equivalent.

However, while `/iaf_psc_exp_ps` allows to set different decay time

[2018-04-06 14:29] nchr9 commented on #919
I am new NEST-user. Even though I made a subscription to nest-community I can't post anything yet to the mailing list.
Thanks for your answer.  I am using nest 2.4.2!
when I run <<wr = nest.Create('weight_recorder')>>
it yields me an error which says  :
NESTError: UnknownModelName in Create_l_i: /weight_recorder is not a known model name.
Can I add it to my models ?

[2018-04-06 15:08] alberto-antonietti commented on #919
@nchr9 the weight_recorder device has been made available from NEST 2.12.0. Are you able to use a more recent version of NEST?

[2018-04-06 15:47] nchr9 commented on #919
@alberto-antonietti  The BCPNN module I use is only compatible with nest 2.2.2 and 2.4.2 !  That's why I installed 2.4.2 before importing the module. But now, after installing the module, if I upgrade nest to a newer version, will that cause me problems anew ?

[2018-04-07 13:14] heplesser commented on #921
Once this is implemented, 703d1389ac4b34b4a65429238c0df58d14990988 should be reversed, i.e. `regressiontests/ticket-686-positive-parameters.sli` should then test `iaf_psc_exp_ps_lossless` as well.

[2018-04-07 20:01] Vaurien96 opened #922 "Problem with NEST 2.14.0 installation (cmake)"
Hi folks !

Description of problem: I am trying to install NEST 2.14.0 on Ubuntu 16.04 to run it with Python.
Therefore I try these steps : http://www.nest-simulator.org/installation/ (introduction)

But when I try the cmake line I get the the following output and cannot run "make" :

`cmake -DCMAKE_INSTALL_PREFIX:PATH='/home/ubuntu/Téléchargements/nest' '/home/ubuntu/Téléchargements/nest-simulato

[2018-04-08 22:54] jougs commented on #918
Just a short addition: @apeyser, @wschenck and I are indeed working on a replacement for the was we write out data. The general idea is that specific backends are actually writing the data and a new backend based on [SIONlib](http://www.fz-juelich.de/ias/jsc/EN/Expertise/Support/Software/SIONlib/_node.html) allows to write the data from recorders in a binary streaming format very efficiently. We e

[2018-04-08 23:04] jougs commented on #919
I'm afraid that you either have to update your module to a newer NEST version or back-port the `weight_recorder` to your version (which I reckon is much harder).

However, although it might be possible to back-port the `weight_recorder` in theory, I really recommend you to upgrade. Your version 2.4.2 was released on August 19, 2014 and we have fixed numerous smaller and bigger bugs in the recent 3

[2018-04-08 23:04] #919 closed

[2018-04-08 23:07] jougs commented on #922
You have to install the development package for libltdl. The command line (given on the [installation page](http://www.nest-simulator.org/installation/) you linked to) should get you everything you need:
[code]

Feel free to re-open if that does not help.

[2018-04-08 23:07] #922 closed

[2018-04-08 23:14] jougs commented on #210
@jessica-mitchell: can you please add the information from the last comment by @muffgaga to the installation documentation and comment here once this can be closed?

[2018-04-08 23:15] jougs commented on #225
I agree that we should not currently do this and am thus closing.

[2018-04-08 23:15] #225 closed

[2018-04-09 04:55] ikitayama opened #923 "On-demand simulation model loading in NEST 3"
What prevents the current ModelsModule::init() from on-demand model loading?

Not only the current form increases the build time when compiled with the Fujitsu toolchain, but as people keep adding their models in there, it will blow up in the near future.

[2018-04-09 08:06] heplesser commented on #919
@nchr9 I believe the BCPNN model is implemented using PyNN, not NEST directly. Therefore, there is a good chance that PyNN insulates you from underlying changes in NEST, although you may need the newest version of PyNN to work with NEST 2.14.0.

Concerning the mailing list, I do not see any pending subscriptions requests. Please contact me by email if you do not receive mail from the list or canno

[2018-04-09 08:16] heplesser commented on #923
@ikitayama You raise an interesting point, which has two aspects that we may want to discuss separately.
One is the fact that especially modelsmodule can take a very long time to compile due to the large number of models contained. It is my impression (although I have not systematically tested this), that intra-procedural optimization attempts by the compiler contribute very significantly to build

[2018-04-09 09:38] Vaurien96 commented on #922
Ok that worked. Thank you and sorry for how trivial that was.

[2018-04-09 14:20] nchr9 opened #925 "poisson generator- same output"
Hi,
Because I have an issue with posting at mailing list I am writing my problem here. I use a poisson generator but each time it creates the same membrane potential to the neurons.
Do you know how the generator can produce random values without changing firing rates ?

[2018-04-09 19:47] TomBugnon commented on #904
Thank you for your return. I implemented this workaround in the front-end I use to run simulations. It works but is quite slow (with my network, 1-2sec for each regular `ConnectLayer` call, as opposed to 15-20sec for querying and duplicating each of the >50  projections for which I need multiple receptors), so it would be great to eventually have proper support for this feature. Cheers

[2018-04-10 07:10] mschmidt87 commented on #925
In NEST, the creation of random number is controlled by setting the seeds for the global and local random number generators. By default, the seed of the global random number generator is set to 0, the seeds for the local random number generators (one generator per thread) are set to 1, 2, 3, etc. .

You can see this by typing:
[code]

If you want to obtain different spikes from your Poisson genera

[2018-04-10 12:29] lekshmideepu commented on #179
Started to work on this.

[2018-04-10 16:36] nchr9 commented on #925
Thank you very much. Now It works properly.

[2018-04-12 02:30] mschmidt87 commented on #925
Great, this can be closed.

[2018-04-12 02:33] jougs commented on #771
I'm currently working on a complete refactoring of *librandom* (see #245).  This will bring a great simplification of the code as the new version will be based off C++11's `random` header. In addition, a master-seed mechanism will ensure that re-seeding becomes easy.

I thus propose that the way to go should be making your proposed workaround the standard procedure for this kind of problem and we'

[2018-04-12 02:33] #771 closed

[2018-04-12 02:52] mschmidt87 opened #926 "inconsistent documentation of inhomogeneous_poisson_generator"
I am trying to use the `inhomogeneous_poisson_generator` (introduced in #671 ) and the help page of this model mentions a parameter `individual_spike_trains`:

  sends a different spike train to each of its targets.  If
  /individual_spike_trains is set to false using either SetDefaults or
  CopyModel before a generator node is created, the generator will send the
  same spike train to all of its

[2018-04-12 04:01] ikitayama commented on #923
@heplesser I'm not sure if the IPO is the issue, as on x86 I'm able to build NEST quickly. As documented in INSTALL file, I agree it is due to generation of many template classes during the
build. So depending on what toolchain one uses, the built time may significantly vary.

Secondly, I never took a closer look at the loading time at run time either, anyway, my point is
that the current state of

[2018-04-12 04:52] ikitayama commented on #882
@gtrensch sorry it took so long to reply, here it is:
[code]

[2018-04-12 10:02] #925 closed

[2018-04-12 10:11] heplesser commented on #926
@mschmidt87 The `individual_spike_trains` property seems to have entered the documentation by copy-paste from `sinusoidal_poisson_generator`. `inhomogeneous_poisson_generator` has always only supported individual spike trains. Could you take a look at the discussion for the PR that merged this model into master to see if there was an explicit decision not to support identical spike trains and then

[2018-04-13 02:47] mschmidt87 commented on #926
I just found these two related issues: #279 and #505 . It seems that there is a proposal on how to reform the windowing system but this was never implemented.

[2018-04-13 06:43] heplesser commented on #926
@mschmidt87 Thanks for the detective work! I would suggest for now a minimally invasive procedure: delete the misleading documentation and leave everything else as is. #505 will revise windowing in a general fashion and we have a separate effort ongoing to overhaul documentation (@jessica-mitchell).

[2018-04-13 07:38] heplesser commented on #894
@suku248 I will close this as we have a fix per #924. Would you create a follow-up issue for a more thorough solution to the underlying problem?

[2018-04-13 07:38] #894 closed

[2018-04-13 14:29] heplesser commented on #833
Some thoughts on this problem in preparation of the discussion in the [VC on 16 April](https://github.com/nest/nest-simulator/wiki/2018-04-16-Open-NEST-Developer-Video-Conference).

The rounding problem @luis-rr discovered arises because logically delays are a continuous quantity, while in the implementation they are a discrete quantity. We make the underlying assumption that, if we simulated the

[2018-04-14 17:16] #926 closed

[2018-04-16 07:32] heplesser commented on #833
I have now performed a more detailed analysis which you will find in
[NEST_Delays_883.pdf](https://github.com/nest/nest-simulator/files/1914207/NEST_Delays_883.pdf).

This analysis shows that for at least up to the third moment, and for uniform, linear and quadratic distributions, assigning full or half weight to the corner points yields the same values in the limit of infinite resolution. Interes

[2018-04-16 08:44] heplesser commented on #761
I have also made very good experiences with PyTest in the last round of my Advanced Programming course, where I previously used nosetest. Here a few examples of features that PyTest provides (see [course repo for complete example code](https://bitbucket.org/heplesser/nmbu_inf200_h17/src/90bfa4257b602d09a54a47eced8b9bb2f7c1afe5/Project/SampleProjects/biolab_project/?at=master):
[code]

Define a fix

[2018-04-18 03:36] ikitayama commented on #771
@jougs Do you implement the new librandom in NEST 3 also for the toolchains that don't have
C++11's `random` header? In my quick testing with -std=c++11, FCC doesn't seem to have it.

[2018-04-18 12:36] heplesser commented on #772
#929 adds some tests for spatial kernels. This is a first step.

[2018-04-18 12:43] heplesser commented on #414
This will fixed by #930.

[2018-04-18 20:37] heplesser commented on #414
Fixed by #930, therefore closing.

[2018-04-18 20:37] #414 closed

[2018-04-19 11:42] ikitayama commented on #771
@jougs I was told in the latest Fujitsu toolchain it's included as part of numerics library. Please ignore the above and go ahead implement the new librandom.

[2018-04-20 11:01] theuema opened #933 "Assertion failed: (std::strlen( argv[ 0 ] ) > 0), function SLIStartup / MacOSX"
I installed nest using homebrew as described on our homepage!

After realising that the nest module got installed in python2 per default i used
brew reinstall nest --with-python3 --HEAD

I do have a site-package "nest" present in /usr/local/lib/python3.6/site-packages/nest/ right now and finally, after exporting all the env variables in my .zshrc (from /usr/local/Cellar/nest/HEAD-e38d0c7_1/bin/nes

[2018-04-22 02:10] ikitayama opened #934 "NEST v2.12.0 does not build on x86"

[2018-04-22 02:11] ikitayama commented on #934
[code]

[2018-04-22 02:12] ikitayama commented on #934
Also the CMAKE options I used:
[code]

[2018-04-22 02:13] ikitayama commented on #934
CMake command:

[code]

[2018-04-22 21:33] heplesser commented on #934
@ikitayama I think this is closely related to #712, which also describes a work-around. The proper fix is in #715. Briefly, the problem is as follows: The error you observe happens when then NEST online help is built. Since NEST 2.12, we use Python to build the help, even if NEST is compiled without Python. NEST the will typically use the system Python to build help, and if that is older than Pyth

[2018-04-23 02:28] ikitayama commented on #934
@heplesser Thanks! I took Option 1 and build wend through successfully.

[2018-04-23 02:28] #934 closed

[2018-04-23 04:08] ikitayama opened #936 "v2.12.0 Number of virtual processes (threads*processes) must be an integer multiple of the number of processes. Value unchanged."
I don't seem to get the nvp changed.
[code]

[2018-04-23 07:31] ikitayama commented on #882
Trying with the latest Fujitsu 1.2.0-24 toolchain against Jakob's 5g dev branch, I don't need to
pass explicitly the -Kopenmp option.

[2018-04-23 07:31] #882 closed

[2018-04-23 08:25] heplesser commented on #936
@ikitayama The errors installcheck shows seem to be quite a mixture of issues. I noticed one error message reported
[code]
This command was only introduced into NEST after the release of NEST 2.12 (see f250592), so I wonder if different versions of NEST may have gotten mixed up?

[2018-04-23 08:27] ikitayama commented on #936
@heplesser I'll double check the branch I'm currently on. Has anyone seen similar errors with the v2.12.0? Is it a quite solid stable release?

[2018-04-23 10:56] ikitayama commented on #936
@heplesser Jakob and I are using the hpc_benchmark.sli script, though is there a more simpler script
to test the hybrid operation (MPI + OpenMP) working?

[2018-04-23 16:57] alberto-antonietti commented on #933
@theuema, if you run a python script instead of an interactive python session, do you obtain the same error?

Can you try to run this very simple script, just to check if the import succeeds?

[simple_check.zip](https://github.com/nest/nest-simulator/files/1939249/simple_check.zip)

[2018-04-24 03:28] ikitayama commented on #936
@heplesser `make installcheck` errors aside, by setting params part properly in the hpc_benchmark.sli file, I was able to run through the NEST 2.12.0 to the end with the desired nvp.
Many thanks to @jakobj for helping me out on this issue.

[2018-04-24 03:29] #936 closed

[2018-04-24 12:11] ikitayama commented on #245
@heplesser Is there a work-in-progress branch to give it a try?

[2018-04-24 22:00] heplesser commented on #933
@theuema What happens if you start `nest` from the command line, without using Python? Quit with `Ctrl-D`.

[2018-04-25 06:33] heplesser opened #937 "0 GetStatus on a single rank desynchronizes GRNG"
Nilton Kamiji reported this first on NEST User on 24 March 2018.

To reproduce, run the script
[code]
with at least two MPI processes. It will fail with
[code]
It passes when run with a single MPI process.

If both ranks individually run `0 GetStatus`, the script passes:
[code]

The problem is most likely that the `0 GetStatus` somewhere reads a number from the GRNG, although I cannot see any reas

[2018-04-25 09:31] jougs commented on #245
@ikitayama: I only have a preliminary prototype at the moment and definitely won't be able to finish it before the end of May. You can watch out for the corresponding pull request here and just chime in if you experience any problems on K then.

[2018-04-25 13:01] ikitayama opened #938 "Number of connections are different"
Below is a result of a run of 32 MPI processes and 12 OpenMP per rank.
I don't understand why number of connections are different.

I'm on @jakobj's 5g branch and used this .sli file:
https://github.com/ikitayama/nest-simulator/blob/miniApp/examples/nest/hpc_benchmark.sli

I appreciate any suggestions as to why this happens.
(BTW, GSL version is 2.3)
[code]

[2018-04-25 20:28] TomBugnon opened #939 "[feature request] Support gap junctions in tp.ConnectLayers"
Hi all,

I am noticing that gap junctions currently can't be created via the topology module's `ConnectLayers` function.  It would make sense to have support for this as gap junctions -like any other connection- are topologically organized in the brain, so I thought I would just raise the issue... (also, it would help me in my research :) )

Two immediate problems are that ConnectLayers doesn't se

[2018-04-26 13:06] heplesser opened #940 "Pre-release: Test all examples and documentation"
Test that all the following work:

## Examples
- examples/nest
- pynest/examples
- topology/examples

## Documentation
- doc/model_details
- doc/nest_by_example
- topology/doc (run `make_manual.sh` to re-build manual and check)

[2018-04-26 13:08] heplesser opened #941 "Pre-release: Ensure external modules build"
Test that
- MyModule builds and runs
- User modules listed on https://github.com/nest/nest-simulator/wiki/NEST-Modules build and run; inform module developers in case of problems.

[2018-04-26 13:12] heplesser opened #942 "Pre-release: Re-add iaf_neuron and ensure NEST 2.14 examples still run"
We deprecated `iaf_neuron` for NEST 3.0. In order to ensure that code that ran with 2.14 still runs with 2.16, we need to re-add it to the NEST 2.16 release branch (but not restore it in master). This should happen at the very end of the release preparation. Then ensure that 2.14 examples still run on 2.16 with identical examples (see #940 for directories with tests).

[2018-04-27 08:39] hakonsbm commented on #937
This is not a problem with `0 GetStatus` reading a number from GRNG, but rather a parallel computing problem.

When a script is run with for example two MPI processes, and call `0 GetStatus` only on process `0`, that process will at one point in accumulating the status dictionary want to update delay extrema, and thus has to communicate with other processes. This communication is done in the follo

[2018-04-27 09:06] heplesser commented on #937
@hakonsbm Thank you for the detailed analysis!

I do not see any technical way in which we could guard against this type of problem: MPI requires by definition that all ranks stay in step, so that MPI communication operations on different ranks match each other. It is also impossible, in all generality, to detect that a user is performing a specific operation only on a single rank and prevent that

[2018-04-27 09:06] #937 closed

[2018-04-27 12:14] maharjun opened #945 "-d option in python call triggers debug mode in NEST"
This is relevant to the commit

[code]

Consider the file `nesttest.py` as below
[code]

Now, The following commands give the following output

[code]

[code]

We can see that a -d option passed to the python file triggers debug mode in NEST although the -d is only supposed to be used by the program. Is this expected behaviour? As it is very strange for a module to have so many side effects.

[2018-04-27 12:16] maharjun commented on #945
This looks like it could be related to #840

[2018-04-30 11:08] ikitayama opened #946 "OpenMPI is not detected at CMake configure time"
On K computer, I am unable to detect OpenMPI at CMake configure time:
[code]

[2018-04-30 11:09] ikitayama commented on #946
PS I'm working on Jakob's 5g branch at the moment.

[2018-04-30 12:38] heplesser commented on #940
See also https://github.com/jakobj/nest-simulator/issues/73 for tests done on the 5g branch.

[2018-04-30 13:16] heplesser commented on #941
See also https://github.com/jakobj/nest-simulator/issues/74

[2018-04-30 14:18] heplesser commented on #329
@astoeckel @Silmathoron @JonThom @diesmann  I have now looked more thoroughly at this model (see also #944) and the situation is somewhat complicated.
1. The model is called `..._traub`, which is a notation which we in NEST reserve for models obtain from specific papers or books (it should really be `..._traub_miles` or `..._tm_1991` to be consistent with other model names.
1. The model in Traub a

[2018-04-30 14:40] Silmathoron commented on #329
Thanks for the nice summary @heplesser !
I agree with both options.
Regarding the implementation of the spike detection mechanism, however, I'm not sure @astoeckel proposal is sufficient, though it is better than current one.

Problems could occur for high firing rates where the neuron might spike several times without going below ``V_th`` (unless we find a "good" value for it, but this would stil

[2018-05-01 02:52] ikitayama commented on #946
[code]

[2018-05-01 06:09] ikitayama commented on #946
@tammoippen the CMake file is almost 2 years old, but I'm so stuck with this, would you take a look at it? Thanks!

[2018-05-01 08:54] tammoippen commented on #946
Hello @ikitayama, I am not sure, I have access to the K computer anymore, as I am also not working at Jülich anymore. Hence, I try my best to telediagnosis this ;). Can you provide the `cmake` command you used?
From the `C compile flags` section, it seems the correct [cmake-Platform](https://github.com/nest/nest-simulator/blob/master/cmake/Platform/Fujitsu-Sparc64.cmake) was chosen. Also the compi

[2018-05-01 09:26] ikitayama commented on #946
@tammoippen I was thinking about almost the same thing, as I've never seen this before on K computer until recently. Thanks.

Here's the command I use at this moment:

[code]

[2018-05-01 09:34] theuema commented on #933
@alberto-antonietti thanks for your suggestion: the import WORKS?..

`python3 simple_check.py
[INFO] [2018.5.1 11:26:42 /tmp/nest-20180420-7658-1fbhpmy/nestkernel/rng_manager.cpp:238 @ Network::create_rngs_] : Creating default RNGs
[INFO] [2018.5.1 11:26:42 /tmp/nest-20180420-7658-1fbhpmy/nestkernel/rng_manager.cpp:233 @ Network::create_rngs_] : Deleting existing random number generators
[INFO] [2

[2018-05-01 09:54] ikitayama commented on #946
WIth CMake 3.8.1, a bit of progress:

[code]

[2018-05-01 10:13] tammoippen commented on #946
That is odd. MPI for C is found, but not for C++? Can you try one of the options [here](https://cmake.org/cmake/help/v3.8/module/FindMPI.html#usage). Something like: `-DMPI_C_COMPILER=/opt/FJSVtclang/GM-1.2.0-24/bin/mpifccpx -DMPI_CXX_COMPILER=/opt/FJSVtclang/GM-1.2.0-24/bin/mpiFCCpx`

[2018-05-01 12:51] ikitayama commented on #946
@tammoippen Instead, I inserted the full path to the wrapper in `cmake/Platform/Fujitsu-Sparc64.cmake` and worked as below:

[code]

[2018-05-01 14:36] tammoippen commented on #946
Great! I think the next steps to close this issue would be:
- [ ] adjust cmake scripts for OpenMP changes in cmake v3.9 and later
- [ ] adjust cmake platform file for K

[2018-05-01 22:46] ikitayama commented on #946
@tammoippen got it. I feel like when NEST 3 is released, higher CMake version may become a requirement, so what you proposed makes very sense to me. Thanks a lot for giving me a vaulable
advice to me!

[2018-05-02 06:26] heplesser commented on #933
@theuema I can reproduce this problem under OSX, and a colleague could reproduce it under Linux.
Interestingly, everything works fine under OSX and Linux if one runs NEST from `ipython` instead of `python`. So you can have interactive sessions using `ipython`.

We will investigate. This is probably some library issue. Since the problem occurs only for interactive sessions, not while executing scri

[2018-05-02 07:06] heplesser commented on #933
- The assertion does not trigger for NEST 2.14.0 under OSX, neither using Anaconda Python 3.6.5 or 2.7.12.
- The assertion triggers with master (ad52581ce) and with the 5g-branch (e760d1d9611da99aa0b459c9122ce428f0b02631) using Anaconda Python 3.6.5.
I wonder if this could have something to do with changes in argument handling in PyNEST.

[2018-05-02 07:07] alberto-antonietti commented on #933
@heplesser I get the same error with Linux and non-Anaconda Python 2.7.12.

[2018-05-02 10:52] ikitayama commented on #946
With CMake 3.8.2, below seems to work.
[code]

[2018-05-02 10:55] ikitayama commented on #946
However, using CMake 3.11.1, something weird's going on.

[code]

[2018-05-02 13:11] heplesser opened #949 "NEST help files (hlp, html) should end with newline"
Currently, the last line in hlp and html help files generated by NEST does not end in a newline. That leads to ugly output if `cat` is used as a fallback pager (see also #948). The files should end with a newline.

[2018-05-02 19:53] #933 closed

[2018-05-02 19:55] heplesser commented on #933
@theuema @alberto-antonietti The problem should be fixed in the newest master (
689190009a285b4404873590acac676ff9e04fce).

[2018-05-04 14:45] aserenko commented on #861
As far as I understand, it should indeed be resolved now.

As soon as Archiving_Node::get_history() does not return events with time equal to its start time argument t1, events that would lead to accounting coinciding (zero-delta-t) spike pairs can never be returned by get_history. So, the comparison `if ( minus_dt != 0 )` just checks if `minus_dt`
or `plus_dt` retain their initial values, which c

[2018-05-04 14:45] #861 closed

[2018-05-07 00:26] mschmidt87 commented on #210
I adapted the solution of @muffgaga and ran the following code:

[code]

This is my `environment.yaml` file:

[code]

I get the following error by cmake:

    -- The CXX compiler identification is unknown
    -- The C compiler identification is unknown
    -- Check for working CXX compiler: /home/max.schmidt/anaconda3/envs/multiarea_model/bin/g++
    -- Check for working CXX compiler: /home/max.sc

[2018-05-09 13:36] jakobj opened #954 "Avoid using types to distinguish secondary events"
@janhahne you have introduced an additional template argument here https://github.com/nest/nest-simulator/blob/master/nestkernel/event.h#L958 to distinguish several secondary events that might carry payload of the same type. did @suku248 and me reconstruct that correctly? in the following (https://github.com/nest/nest-simulator/blob/master/nestkernel/event.h#L1090 ff) you use different types to di

[2018-05-09 16:54] janhahne commented on #954
@jakobj @suku248 Yes you reconstructed this correctly. This was introduced with PR #856 in order to remove a lot of redundant code from `event.h` (also see the explanation in the PR description). The main reason for the second template argument are the static variables of the base class: Without the second argument all secondary events of the same template data type share the same static variables

[2018-05-10 06:37] heplesser commented on #954
@jakobj @janhahne @suku248 By the magic of C++, you can actually use the derived class as the second template argument to distinguish the static elements, as in the following example:
[code]

I would also suggest to replace `D` and `E` with more informative names for the template arguments.

[2018-05-11 09:13] jakobj commented on #954
thanks for the replies @janhahne @heplesser ! sounds good. @janhahne would you please create a PR in which the second argument are replaced with the name of the subclass and maybe update the documentation?

[2018-05-11 10:19] jakobj opened #955 "SecondaryEvent data type smaller than unsigned int"
It looks like the logic in `write_to_comm_buffer` and `read_from_comm_buffer` (https://github.com/nest/nest-simulator/blob/master/nestkernel/event.h#L885 ff) for secondary events assumes that the events which will be written/read need to be larger than or of equal size as unsigned ints (`c + i * sizeof( unsigned int )`). Otherwise one might run into unallocated memory. @janhahne is that correct an

[2018-05-11 10:28] jakobj commented on #938
i think this issue is fixed, isn't it @ikitayama ?

[2018-05-11 13:41] ikitayama commented on #938
@jakobj Yes. Closing.

[2018-05-11 13:41] #938 closed

[2018-05-13 11:43] janhahne commented on #955
@jakobj Do we really assume this here? For data types smaller than unsigned int `number_of_uints_covered( void )` returns 1 (the integer division gives 0, but the following if statement increases the return value). Thus we definitely allocate (more than) enough memory. Additionally the `memcpy` statement in `write_to_comm_buffer`

[code]

only copies the range of the original data type (see the `s

[2018-05-13 14:32] jakobj commented on #955
yes, you are right, the `min` should take care of not running into unallocated memory. i've run into issues when defining a new secondary event that carries `bool` values, where I ended up with segmentation faults. will try to reproduce the bug and update this description

[2018-05-14 13:44] #954 closed

[2018-05-14 14:50] MatthiasKohler opened #957 "tsodyks2_connection first PSP already depressed"
The tsodyks2_connection models short time synaptic depression. The depression depends on the time since the last spike. But for the first spike transmitted over the connection, there is no previous spike and the time of the last spike is given to the send function as zero. If the time of the first spike is very close to zero a high synaptic depression is observed, even if the connection was never

[2018-05-24 10:02] permosegaard opened #958 "nest.simulate() doesn't complete with music support compiled in"
I'm having some issues trying to run nest with music, nest without music support seems to work well but as soon as I add in music support calls to nest.simulate() seem to never return and surprisingly that's with no music neurons defined in the code

The python process spins up to 100% cpu and never comes down so I assumed it was stuck in a tight loop. Running "perf" against the process it seems t

[2018-05-25 13:00] AlexVanMeegen commented on #210
As far as I know, the conda package `gcc` is deprecated and replaced by `gcc_linux-64` and `gxx_linux-64` (if I understand the [conda doc](https://conda.io/docs/user-guide/tasks/build-packages/compiler-tools.html#) correctly). With the `environment.yaml` file
[code]
compiling works flawlessly for me using
[code]
Besides the replacement of `gcc`, I also added `cmake`, `cython` and `libtool` to have

[2018-05-25 14:21] AlexVanMeegen commented on #210
Beyond this, we stumbled across an intriguing issue that is likely related to the conda problems discussed here. Using the attached
[minimal_fail.tar.gz](https://github.com/nest/nest-simulator/files/2039404/minimal_fail.tar.gz), we can produce numerically inconsistent results on the same system depending on the installation procedure of NEST and the conda environment despite passing all installche

[2018-05-28 10:01] heplesser commented on #957
@MatthiasKohler Could you post a brief script reproducing the effect?

@Silmathoron suggests to add an additional internal flag to suppress plasticity when the first spike passes a synapse. We should also check if this affects other plasticity models and whether the solution should be implemented in a base class.

[2018-05-28 10:14] heplesser commented on #945
@maharjun The way NEST works right now, it parses the command line for options it knows and processes those as soon as the NEST module is loaded. A work-around may be (not tested) to process the options in the python script and to remove processed options from `sys.argv` before importing nest. Changing this behavior in general would change the behavior of NEST and will need more careful discussion

[2018-05-28 10:19] heplesser commented on #763
Closed since testing with Py2 and Py3 has been introduced with #789.

[2018-05-28 10:19] #763 closed

[2018-05-28 10:22] heplesser commented on #761
The [Open NEST Developer VC on 16 April](https://github.com/nest/nest-simulator/wiki/2018-04-16-Open-NEST-Developer-Video-Conference) decided to move to `py.test`, thus closing.

[2018-05-28 10:22] #761 closed

[2018-05-28 10:41] sepehrmn commented on #606
I will make a pull request in June after some more testing.

[2018-05-28 14:06] weidel-p commented on #958
Dear @permosegaard, thanks for reporting this bug.

MUSIC creates an "application graph" defining the connections between the defined processes which is empty in your case. The function `pushForward` iterates over all existing connections and somehow runs into an endless loop if the graph is empty.

This is a bug in the MUSIC library and not in NEST but it seems to be easily fixable. I will create

[2018-05-28 14:34] heplesser commented on #958
@weidel-p Thanks for investigating!
@permosegaard Since this seems not to be a NEST issue, would you consider closing this issue once @weidel-p has posted the reference to the MUSIC issue on this matter?

[2018-05-28 20:51] MatthiasKohler commented on #957
`#In this script two neurons connected with one tsodyks2_synapse
#are simulated. The presynaptic neuron is stimulated which in turn
#generates PSPs in the postsynaptic neuron. When the stimulation
#is directly applied at the start of the simulation the first PSP
#is already depressed. When simulation is run for some time before
#stimulation is applied no depression is observed.
#
#Matthias Kohler

[2018-05-28 20:51] #957 closed

[2018-05-28 20:54] MatthiasKohler commented on #957
``
`<#In this script two neurons connected with one tsodyks2_synapse
#are simulated. The presynaptic neuron is stimulated which in turn
#generates PSPs in the postsynaptic neuron. When the stimulation
#is directly applied at the start of the simulation the first PSP
#is already depressed. When simulation is run for some time before
#stimulation is applied no depression is observed.
#
#Matthias Koh

[2018-05-28 20:56] MatthiasKohler commented on #957
[code]

[2018-05-29 06:21] heplesser opened #959 "Suppress plasticity mechanisms on first spike passing a synapse"
This is a follow-up to #957, which contains an example script provided by @MatthiasKohler.

The first spike passing a plastic synapse may lead to implausible depression or facilitation if plasticity mechanisms take into account the time since the previous spike that passed the synapse. In such cases, no depression or facilitation should take place upon the first spike passing the synapse. This is

[2018-05-30 18:45] keiko-fujii opened #961 "Assertion error during ConnectLayers execution"
When I call topology.ConnectLayers(), I got an assertion error.

max_capacity, max_depth>::insert(nest::Position<D, double>, const T&) [with
int D = 3, T = long unsigned int, int max_capacity = 100, int max_depth =
10]: Assertion `( pos >= lower_left_ ) && ( pos < lower_left_ + extent_ )'
failed.

I inserted printf() in ntree_impl.h to get 'pos', 'lower_left_', and 'extent_' values.
- pos = [-27.7

[2018-05-30 20:18] heplesser commented on #961
@keiko-fujii I suspect that this is a numerical issue due to, see my comments on NEST User today. As a first attempt at a work-around, could you use `np.ceil(size_x)` instead of `size_x * 2` in `extent` and correspondingly for the other dimensions? That will minimize rounding problems for boundaries of the ntree octants.

Maybe you could send me the position data by direct mail in compressed form

[2018-05-31 09:01] keiko-fujii commented on #961
@heplesser  As you mentioned, using
`'extent': [np.ceil(size_x*2), np.ceil(size_y*2), np.ceil(size_z*2)]`
didn't cause the assertion error.

I ran twice for each 'extent' condition (i.e. with /without np.ceil()),
I got 2 sucesess with np.ceil(), whereas 2 fails without np.ceil().

Now I understood better what you kindly explained about subcube and rounding error in one previous e-mail.
I quote you

[2018-06-04 06:41] heplesser commented on #955
@janhahne Anything new on this one?

[2018-06-04 13:34] keiko-fujii commented on #961
@heplesser Thank you so much for your kind answer.
I feel all of my questions are clear now.
Is it better if I close this issue, or keep this open?

[2018-06-04 14:18] heplesser commented on #961
@keiko-fujii Excellent! I would suggest to close this issue. I will add a sentence to the Topology documentation to make clear that the extent should have sizes that are representable as fractions in binary.

[2018-06-04 15:16] keiko-fujii commented on #961
@heplesser Thank you again for all your help!

[2018-06-04 15:16] #961 closed

[2018-06-04 15:59] janhahne commented on #955
@heplesser @jakobj I think I found the very nasty error here.

It is best explained by a small example
[code]

This gives the output
[code]

In `operator>>` in  `event.h` there is one call with `*i` instead of with an actual variable. So the fix is a two-liner. Will create a PR right now.

[2018-06-05 14:47] #955 closed

[2018-06-06 14:29] MatthiasKohler opened #967 "Documentation error for spike_generator."
From spike_generator.h : line 77:

[code]

But when wants to set the allow_offgrid_times parameter it is not found. The correct name for it is
allow_offgrid_spikes as evident in spike_generator.cpp line 101:

[code]

[2018-06-10 03:46] xdzhangxuejun opened #968 "mpirun has detected an attempt to run as root."
Running at root is *strongly* discouraged as any mistake (e.g., in
defining TMPDIR) or bug can result in catastrophic damage to the OS
file system, leaving your system in an unusable state.

[2018-06-10 13:53] xdzhangxuejun opened #969 "can not be used when making a shared object; recompile with -fPIC"
/usr/bin/ld: /usr/local/lib/libpython3.5m.a(abstract.o): relocation R_X86_64_32S against `_Py_NotImplementedStruct' can not be used when making a shared object; recompile with -fPIC

[2018-06-11 06:54] heplesser commented on #968
@xdzhangxuejun This is not a NEST problem. If NEST is built in a normal user account and started from a normal user account, it should never run as root. The error message you see must be due to some problem on you system. I am therefore closing this issue.

[2018-06-11 06:54] #968 closed

[2018-06-11 06:57] heplesser commented on #969
@xdzhangxuejun Cryptic error messages do not make issues. If you run into a problem installing or running NEST and would like help, please provide a detailed description of what you are trying to do, on what kind of system (OS, compiler, Python version, ...). For this type of inquiry, the NEST User Mailing List (http://www.nest-simulator.org/community/) is a better forum than Github issues. I am t

[2018-06-11 06:57] #969 closed

[2018-06-11 14:08] #825 closed

[2018-06-11 14:29] xdzhangxuejun commented on #309
Hi @steffengraber . Can you give me a linker to download  Libneuronsim.  Thank you very much.

[2018-06-11 15:31] jougs commented on #309
https://github.com/INCF/libneurosim

[2018-06-12 03:53] xdzhangxuejun commented on #309
Thank you for your help. I have got some trouble when I install  libneuronsim. First, i can't find configure in "libneurosim-master". Second , when i use autoconf to compile the configure.ac failed. It give me information as such:
"configure.ac:3: error: possibly undefined macro: AM_INIT_AUTOMAKE
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf doc

[2018-06-12 07:14] xdzhangxuejun commented on #969
OK !Thank you very much.

At 2018-06-11 14:57:47, "Hans Ekkehard Plesser" <notifications@github.com> wrote:

@xdzhangxuejun Cryptic error messages do not make issues. If you run into a problem installing or running NEST and would like help, please provide a detailed description of what you are trying to do, on what kind of system (OS, compiler, Python version, ...). For this type of inquiry, the N

[2018-06-12 07:15] xdzhangxuejun commented on #969
Ok! thank you for your advice.

在 2018-06-11 14:57:47，"Hans Ekkehard Plesser" <notifications@github.com> 写道：

Closed #969.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-12 07:16] xdzhangxuejun commented on #968
Ok. Thank for your information.

在 2018-06-11 14:54:52，"Hans Ekkehard Plesser" <notifications@github.com> 写道：

Closed #968.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-12 07:17] xdzhangxuejun commented on #968
Ok. Thank for your help.

At 2018-06-11 14:54:52, "Hans Ekkehard Plesser" <notifications@github.com> wrote:

@xdzhangxuejun This is not a NEST problem. If NEST is built in a normal user account and started from a normal user account, it should never run as root. The error message you see must be due to some problem on you system. I am therefore closing this issue.

—
You are receiving this because

[2018-06-12 09:30] #967 closed

[2018-06-12 09:35] heplesser opened #971 "allow_offgrid_times vs allow_offgrid_spikes"
This is a follow-up to #967.

`spike_generator` has parameter `allow_offgrid_spikes` that controls if spike times can be set to times not multiples of the step; such times are rounded up to the next step.

`inhomogeneous_poisson_generator` and `step_current_generator` have parameter `allow_offgrid_times` that similarly control the setting of times at which poisson rate or output current are change

[2018-06-12 09:38] heplesser commented on #309
@xdzhangxuejun Please ask questions about libneurosim in forums for libneurosim, not in the NEST issue tracker. The problems you see look like generic problems with your autotools installation.

[2018-06-12 14:10] abigailm commented on #971
It doesn't make sense. We should standardize to `allow_offgrid_times` or simply `allow_offgrid`

[2018-06-13 19:22] TomBugnon opened #972 "`make installcheck` reaches wrong testing code after sourcing `nest_vars.sh` for a different version"
Hi all,

I notice that when installing a given version of NEST using the usual routine:

[code]

... the testing suite that is used for the install checks is not that of the NEST version that was just built, but rather that of the NEST version referenced by the environment variables from `nest_vars.sh`.

This caused me quite some headaches as I was trying to install nest versions with different te

[2018-06-14 07:53] #949 closed

[2018-06-14 13:51] heplesser commented on #717
@suku248 Any news on this one?

[2018-06-15 06:58] espenhgn opened #973 "SLI sleep implementation conforming to standards?"
@heplesser requested to create an issue:
It is rather surprising that no-one else has run into this issue:
[code]
In Sleep_dFunction::execute( SLIInterpreter* i ), usec is defined as long, but the POSIX standard only requires an "signed integer type capable of storing values at least in the range [-1, 1000000]", and on OSX it is of type int.

C++98 didn't care about the narrow, C++11 does. The way

[2018-06-15 08:01] heplesser commented on #973
The reason @espenhgn ran into this problem, which has not occurred previously, is that he uses the new Clang 6 compiler version, which now uses C++14-mode by default (http://releases.llvm.org/6.0.0/tools/clang/docs/ReleaseNotes.html#id9). As a work-around, you can try adding the `-std=gnu++98`.

[2018-06-15 08:08] heplesser opened #974 "Ensure that NEST code conforms with C++17"
In order to ensure that NEST can be built with modern compilers, we should ensure that NEST builds with compilers running in C++17 mode. This test shall only eliminate code that is no longer legal under C++17, such as narrowing conversions, see #973 for an example. At the same time, NEST shall compile in C++11 mode, i.e., no constructs newer than C++11 shall be used at present.

Suitable compilers

[2018-06-17 15:55] heplesser commented on #974
Some problems I have noticed:
- In C++-17, `bind2nd` and `ptr_fun` have been removed, see http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2014/n4190.htm . `bind2nd` has been replaced by `bind`,  while `ptr_fun` supposedly is no longer needed.
- `LONG_LONG_{MIN,MAX}` have been removed, I suppose one should use something like `constexpr tic_t tic_t_min =  std::numeric_limits< tic_t >::max()` now

[2018-06-17 18:07] yan1982 opened #975 "negative conductance in gif_cond_exp model"
Hello,
I notice that conductance of inhibitory synapses recorded from gif_cond_exp model is always negative. The problem seems to come from line 617 of the gif_cond_exp.cpp file. Apparently the minus sign has been forgotten.

[2018-06-17 20:37] heplesser commented on #975
@yan1982 Thanks for noticing this! Could you create a pull request with a fix, and preferably a regression test?

[2018-06-18 11:21] heplesser opened #977 "ConnectionCreator::target_driven_connect_ does not handle exceptions correctly"
`ConnectionCreator::target_driven_connect_()` does not catch exceptions inside the thread-parallel context and re-throw the outside. This may lead to a crash if an exception is thrown while connections are created.

[2018-06-19 09:54] sreeramsharma commented on #851
JtagCli.cpp:(.text+0x31f): undefined reference to `ZiiDiag::JtagTarget::JtagTarget()'
 How to avoid that error during compilation .....

[2018-06-19 11:30] stinebuu commented on #977
@heplesser As a side note, this is implemented in [the SubnetFreeTopology branch](https://github.com/compneuronmbu/nest-simulator/blob/fix-481-SubnetFreeTopology/topology/connection_creator_impl.h#263), so if this issue is not fixed by the time the subnetFree branch is merged into master, it will be fixed then.

[2018-06-19 13:15] heplesser commented on #851
@sreeramsharma Are you quite sure you posted you question in the right place? This does not look like anything in the NEST (Neural Simulation Tool) code base.

[2018-06-24 17:08] dnao commented on #405
It's been a while but decided to try and revisit this to see if I could make some headway.

One issue I found was that the normalisation factor in [Roth and Van Rossum](http://homepages.inf.ed.ac.uk/mvanross/reprints/roth_mvr_chap.pdf) was not the correct one for my purposes. They normalise the beta function so that it's peak amplitude is 1.0. I need to normalise it so that the _integral_ of the f

[2018-06-26 16:33] golosio commented on #405
@dnao <https://github.com/dnao> I think that a more appropriate place to
ask for help about your issue would be the nest user group. If you are not
already subscribed you can do it from this page:
http://www.nest-simulator.org/community/
If you'll send there your questions together with a link to your piece of
code, some other user/developer could help you.
I will also try to help you.

2018-06-24

[2018-06-29 09:37] stinebuu commented on #717
I have gone through 5G's `EventDeliveryManager` to check if all is initialized and cleared and made a PR towards the 5G branch to fix what I found. When going though the code I found that
- `secondary_event_buffer` and `displacements_` are gone, so we don't need to worry about them
- `comm_marker` is not used anywhere, so I have removed it
- there were some variables not initialized in the constru

[2018-07-03 16:50] #973 closed

[2018-07-04 09:47] babsey opened #981 "Proposal: Explicit index of pyNEST package"
Hello all,

as I mentioned at the NEST conference I would like to decrease security risks in NEST. Here, I propose to explicit index in NEST. I was able to reduce from 113 to 50 indices in NEST packages.

Moreover, I exclude imported packages, e.g. sys, os, numpy... as well as some SLI functions.
If anyone disagree with it, I can modify `__all__` list in `_main.py` file.
If anyone like to import s

[2018-07-05 00:45] espenhgn opened #982 "outdated example `/topology/examples/hill_tononi_Vp.py`"
Some of the description(s) in this example file is out of data. Accd. to a note it's supposed to produce 5Hz oscillations, but connecting a spike recorder to the system reveals fast oscillations:
![image](https://user-images.githubusercontent.com/2492641/42296980-65e66b84-8036-11e8-97a2-ce025605d716.png)

Now that the Hill&Tononi neuron model (`ht_neuron`) is built into NEST, I think the script sh

[2018-07-05 14:34] #975 closed

[2018-07-17 09:12] jougs commented on #116
@mih I just realized that I mentioned someone completely not you two years ago :-(
Are you still interested in this and if yes, could you please have another look at this?

[2018-07-23 10:23] terhorstd commented on #892
fixed by PR #984

[2018-07-23 10:23] #892 closed

[2018-08-01 04:17] ikitayama opened #988 "Build of master as of today fails on K computer"
[code]

[2018-08-01 11:27] heplesser opened #989 "WeightRecorderEvent::receiver_gid initialized with invalid value"
`WeightRecorderEvent::receiver_gid` is of unsigned integer type but initialized with `-1`. This does not lead to problems in practice, but is not good practice either.

We need to choose a valid value marking the absence of a receiver. `0` may be a suitable choice, since 0 can never be the GID of a recorder.

[2018-08-01 12:31] heplesser opened #990 "Ensure NEST compiles with libc++ from LLVM in C++11 mode"
Since we have permitted the use of C++11 features in NEST, and as some compilers require `-std=c++11` switches to compile code with C++11 features (only gcc adds them "automagically" unless prohibited), some constructs no longer work. This is especially true for toolchains that do not use libstdc++ from GNU, but libc++ from LLVM.

A useful test setup currently is using Clang 6.0 with the `-std=c++

[2018-08-01 13:00] heplesser commented on #988
@ikitayama This is strange. As far as I can see in the git history, no files have changed in `librandom` in the last six months.

Just to be sure, which commit were you compiling?

[2018-08-01 13:16] ikitayama commented on #988
@heplesser sorry I'm at c808ff03bedeb9974d38da420a1b72b244225443

[code]

[2018-08-01 13:27] heplesser commented on #988
@ikitayama This last error is the same as reported by @carlosengutierrez in https://github.com/jakobj/nest-simulator/issues/122 against the 5G branch. Since the problem occurs in master as well, I have created #990 as follow-up. If you now only observe the last problem you reported (the "no operator=" error in `aeif_cond_alpha_multisynapse`), but no longer the problems in librandom, I would sugges

[2018-08-01 13:34] #988 closed

[2018-08-02 01:17] ikitayama opened #992 "Multiple definition of nest::names::sigma and ::theta"
At c808ff03bedeb9974d38da420a1b72b244225443, building NEST on JURON I get:
[code]
While the lazy fix is simple, but I'll let the maintainers decide how to fix this.

[2018-08-02 07:11] heplesser commented on #992
@ikitayama This is fixed in the 5G branch already, so it will be solved once #920 is merged.

[2018-08-02 07:40] ikitayama commented on #992
@heplesser Ok, are we close enough to do that, or can you cherry-pick the specific fix?

[2018-08-02 09:42] heplesser commented on #992
@ikitayama I think we will be ready to merge 5G into Master very, very soon now (tomorrow, maybe even today), so I would prefer to avoid cherry-picking to master at this late point. Is that okay with you?

[2018-08-02 09:48] ikitayama commented on #992
@heplesser no problem, sir!

[2018-08-02 09:51] heplesser commented on #717
For reference: @stinebuu's PR towards the 5G branch was
https://github.com/jakobj/nest-simulator/pull/113. This issue was thus successfully addressed when that PR was merged and I will close it.

[2018-08-02 09:51] #717 closed

[2018-08-02 10:12] #946 closed

[2018-08-03 00:41] ikitayama commented on #992
Closing.

[2018-08-03 00:41] #992 closed

[2018-08-03 07:19] ikitayama opened #994 "Build of NEST statically fails"
[code]
gives a dynamically linked nest, as shown below:
[code]

[2018-08-03 08:32] heplesser commented on #990
Fixed by #993.

[2018-08-03 08:32] #990 closed

[2018-08-03 12:15] heplesser commented on #974
After merging #993, NEST now builds with `-std=c++11`.

[2018-08-03 12:26] weidel-p commented on #989
Thanks for spotting this issue, I will create a PR fixing this.

[2018-08-03 13:56] hakonsbm opened #996 "Clean up model modification of dynamic recordables map"
Some models update the dynamic recordables map at the end of their `set_status()` by creating a copy of `recordablesMap_`, make changes to the copy, then assign the copy back to `recordablesMap_`. See for example https://github.com/nest/nest-simulator/blob/b69389b918b1a8a6e0f7651231997722de2cb46e/models/aeif_cond_alpha_multisynapse.cpp#L696

The reason for this is presumably to prevent changes to

[2018-08-03 15:21] hakonsbm commented on #940
I have run and verified that all examples work with the current master (b69389b).

[2018-08-03 23:46] ikitayama commented on #994
With Arm Clang, the build fails in the middle of it:

[code]

I'm building the latest master branch, with the CMake command below:
[code]

[2018-08-04 05:08] tammoippen commented on #994
Can you run `ldd path/to/nest` to see what is actually liked to nest. Sometimes `libc` or similar is not available as static lib, then the executable cannot be build static. If you have a look into `install-dir/lib/`, there should be all libraries from nest. If they have the `.a` suffix, the static build was as successful as it can be...

As with the compile error: it cannot find `-lgcc_s`... mayb

[2018-08-04 07:06] tammoippen commented on #994
This looks quite good for the `-Dstatic-libraries=ON` part: `librandom.a` etc. is build correctly. Linking `randomtest` with the `--static` flag makes the linker look for static versions of `libgcc_s` (see the `-lgcc_s` parts), which it doesn't find. You can either

* install static versions of the system libraries
* compile without `--static`

[2018-08-04 07:26] ikitayama commented on #994
@tammoippen building it without -static ended up producing a dynamically linked binary.

[code]

So -Dstatic-libraries=ON has no effect?

[2018-08-04 07:38] tammoippen commented on #994
By the way: you should also add `-Dwith-ltdl=OFF` (responsible for (dynamically) loading user modules). As far as I suspect, this will not be possible with a static exe.

[2018-08-05 10:54] ikitayama commented on #994
With Ubuntu GCC8, b6938b91 builds statically fine without making changes at all to CMake files.
It seems bringing libgcc_s.a to the system isn't the answer.

[2018-08-05 13:02] ikitayama commented on #994
If I set to with-python to OFF, the libgcc_s is required at link time, but on most systems there's no
static version, so I'm having a problem. I use SLI as an interface to NEST, but for this case, should I
set it to the default (ON) value?

[2018-08-06 10:04] ikitayama commented on #994
Arm Clang builds NEST fine the statically linked executables without making changes to the CMake files.

[2018-08-06 10:16] #989 closed

[2018-08-06 10:17] ikitayama commented on #994
So has anyone succeeded in building NEST statically with GCC in the past.

[2018-08-06 22:54] ikitayama commented on #994
@heplesser I confirm that as well on my macOS Sierra with GCC 8 from Homebrew.
However, doing the same on ThunderX (aarch64) with GCC 9 produces a dynamically
linked executable. If I supply the -static to the driver, the build complains that there's no static
version of libgc_s.

[2018-08-06 22:56] ikitayama commented on #994
My userland packages are from CentOS 7.

[2018-08-10 08:44] hakonsbm opened #1002 "Segfault when using MyModule"
Running `examples/MyModule/sli/example.sli` fails with a segfault when it tries to connect with `/drop_odd_spike`.

[2018-08-12 14:57] heplesser commented on #805
#1002/#1003 have clearly shown the need for testing mymodule building in CI testing. Thus increasing priority on this one.

[2018-08-12 21:05] gtrensch commented on #994
I have made some attempts with an Ubuntu 16.04 and gcc-5.4.0 to build a static Nest module from the current master. It finally failed due to a missing libgcc_s.a. There seems to be no 64bit version!

As already mentioned by @tammoippen, the linker flags we use in Nest create a dynamically linked ELF file (`-Wl, -Bdynamic`) if no static version of the required library is available. `-Wl,-Bstatic,-l

[2018-08-13 01:42] ikitayama commented on #994
@gtrensch yes. Our HW simulator requires applications be linked statically.

[2018-08-13 07:38] hakonsbm commented on #941
I have verified that user modules in https://github.com/nest/nest-simulator/wiki/NEST-Modules work (or at least are unchanged compared to jakobj#74). MyModule will work when #1003 is merged.

[2018-08-13 15:41] gtrensch commented on #994
@ikitayama I have continued my attempts because I could not believe that static linking should not be possible. I used a simple c-main program for testing. Finally, I managed to build a static version of the Nest kernel from the current master.

If compiler option `--static` is set, externs refer to the static version of `glibc` and not `libgcc_s`.
[code]
`readelf main -a` dislpays how externs are

[2018-08-13 23:33] ikitayama commented on #994
@gtrensch On our ThunderX system, there isn't a static version of readline package available, so I re-ran CMake with  `-Dwith-readline=OFF,` the build gets crashed at the last step saying no -lreadline etc., so I edited my `nest/CMakeFiles/nest.dir/link.txt`  to look like below:

[code]
The above gives me the statically linked NEST binary. I used GCC 9.0.0 which I built natively myself.

[2018-08-13 23:34] ikitayama commented on #994
@gtrensch I didn't test either the upstream Clang, only Arm Clang, but I agree it should work as well.

[2018-08-13 23:36] ikitayama commented on #994
@heplesser if you're happy, please go ahead and close this Issue.

[2018-08-14 06:26] hakonsbm commented on #940
All documentation scripts except one run without problems with the current master. I have created PR #1004 fixing the one that didn't run (this is however not a new problem).

[2018-08-14 14:40] heplesser commented on #994
Thanks for working this out! @ikitayama Could you create a follow-up issue about the `-lreadline` which should not appear when NEST is linked when built with `-Dwith-readline=OFF`. I assume there is some error in a CMake file somewhere.

[2018-08-14 14:40] #994 closed

[2018-08-14 23:38] ikitayama commented on #994
@heplesser Will do.

[2018-08-15 01:26] ikitayama opened #1006 "libreadline is assume to exist and ready to be linked when building NEST with -Dwith-readline=OFF"
@heplesser assumes there's something wrong with the current CMake files under the cmake directory.

[2018-08-15 13:40] heplesser commented on #1006
More specifically, as described in #994, nest seems to be linked against libreadline even if `-Dwith-readline=OFF` is given, which leads to problems if no (statically linked) libreadline is available.

[2018-08-17 09:15] carlosengutierrez opened #1010 "dt resolution error at SetKernelStatus on K"
Hi All,
I pulled the repository on K computer -->> git clone https://github.com/nest/nest-simulator.git nest216 -b master, and installed it using cmake command:

cmake -DCMAKE_TOOLCHAIN_FILE=Platform/Fujitsu-Sparc64 -DCMAKE_INSTALL_PREFIX:PATH=../nest216install/ -Dwith-gsl=ON -Dwith-optimize="-KPIC -Kfast -x1" -Dwith-defines="-DUSE_PMA" -Dwith-python=3 -Dwith-mpi=ON -Dwith-openmp=ON -Dwith-warning

[2018-08-17 09:36] ikitayama commented on #1010
@carlosengutierrez did you run `make installcheck' before you start real work?

[2018-08-17 09:46] carlosengutierrez commented on #1010
Hi @ikitayama, make installcheck doesn't work when installing NEST using interactive jobs on working nodes.

[2018-08-17 09:58] #996 closed

[2018-08-17 10:46] hakonsbm commented on #940
#1004 is merged now, so this can be closed.

[2018-08-17 11:03] ikitayama commented on #1010
@carlosengutierrez I'd try other easier examples then so that you make sure you have a sane binary.

[2018-08-17 11:16] #940 closed

[2018-08-17 11:42] #1002 closed

[2018-08-17 11:42] heplesser commented on #941
@hakonsbm With #1002 solved by #1003, can this issue be closed?

[2018-08-17 11:51] hakonsbm commented on #941
@heplesser Yes, I have verified that MyModule works now, so this issue can be closed.

[2018-08-17 11:56] #941 closed

[2018-08-17 12:05] heplesser commented on #942
@stinebuu Could you run this check with the newest master? Use the attached diff-file to restore `iaf_neuron` (hope it works, created the diff in May). Then see if examples from 2.14 still work.

[restore_iaf_neuron.diff.zip](https://github.com/nest/nest-simulator/files/2297109/restore_iaf_neuron.diff.zip)

[2018-08-18 12:12] ikitayama commented on #1010
@carlosengutierrez do you set the environmental variable, NEST_DATA_DIR points to the appropriate directory? Are you sure you are using the "local" Filesystem which is accessible from the compute nodes? I am not a PyNEST person, but I've just finished running the hpc_benchmark.sli job without an issue.

[2018-08-19 05:15] ikitayama commented on #1010
I'm stumbled upon the same error @carlosengutierrez is seeing with the brunel-2000.sli script on K computer.

[2018-08-20 11:48] lekshmideepu commented on #824
@gtrensch  PR #789 is already merged.

[2018-08-20 12:14] stinebuu commented on #942
@heplesser I have run all examples from 2.14 with newest master + `iaf_neuron`. It all seems fine too me!

There are a few examples I am not able to run, this is mostly `music` examples and has to do with my `music` setup and not because we have changed something for 2.16. I am also not able to run `examples/nest/structural_plasticitly_benchmark.sli`, but I don't think we were able to run this exa

[2018-08-20 14:05] #824 closed

[2018-08-20 14:10] heplesser commented on #942
@stinebuu That's good news!

- Concerning the structural plasticity example, we added protection against doing unstable things (running with multiple threads). Could you check that the 2.14 example runs if you change the number of threads to 1?
- Could you run some examples, e.g., some brunel examples with SLI code from 2.14 on NEST built with 2.14 and with the current pre-2.16 to ensure that they

[2018-08-20 15:49] gtrensch commented on #1006
@ikitayama I did not succeed in reproducing the problem.

Perhaps it's a version-dependent CMake issue. However, please can you check the NEST Configuration Summary and provide more information?

For comparison: If `-Dwith-readline=OFF` is set  ...
[code]
... `Use Readline  : No` should be reported and `-lreadline` should not show up at the linker options.

SLI kernel:
[code]
NEST kernel:
[code]

[2018-08-20 23:02] ikitayama commented on #1010
@carlosengutierrez I have slight concerns about removing the -Kfast flag as it might affect the entire performance of your application.

[2018-08-21 06:17] heplesser commented on #851
Problems are fixed in master, thus closing.

[2018-08-21 06:17] #851 closed

[2018-08-21 08:59] gtrensch commented on #1006
In addition to my previous entry: You may also check the generated libnestutil/config.h file (after cmake). It must not contain!
[code]

[2018-08-21 15:14] heplesser commented on #942
@stinebuu Excellent, so we are ready to go!

[2018-08-21 15:14] #942 closed

[2018-08-22 07:11] carlosengutierrez commented on #1010
Hi @ikitayama.
I tested pynest for a small model developed in our lab, for 2 nodes and 8 threads per node:
Installation with -Kfast flag: job elapse time=00:23:25, memory=402.9 Mb     (It seems, if kernel resolution dt is not changed or updated, the code runs OK).
Installation without -Kfast flag:  job elapse time=02:37:44 , memory=396 Mb    (performance is affected)

[2018-08-22 07:52] ikitayama commented on #1010
We should investigate further as to why the -Kfast flag caused an error
with the example .sli script.

On Wed, Aug 22, 2018 at 16:11, Carlos Gutierrez <notifications@github.com>
wrote:

[2018-08-22 09:27] janhahne opened #1013 "Segmentation fault when starting SLI in NEST 2.16.0"
I just downloaded the NEST 2.16.0 release from github ( https://github.com/nest/nest-simulator/releases/download/v2.16.0/nest-2.16.0.tar.gz ) and got an segmentation fault when I started "nest" (the SLI Version)

[code]

Probably for the same reason "make installcheck" crashes during the first test with an segmentation fault. I experienced this issue under Ubuntu 18.04 with gcc 7.3 and was also ab

[2018-08-22 09:52] stinebuu commented on #1013
@janhahne I can reproduce this issue. When I try to start NEST I get an error message saying

[code]

So it seems like nest looks for the startup file in @terhorstd folder on my computer? Which will not work of course.

[2018-08-22 10:39] ikitayama commented on #1006
CMake version I used today is 3.11.1. If -Dwith-readline=OFF, in the NEST Configuration Summary I see a line

Use Readline : No

as it should. I don't think we'd need to expand the options to the driver. Are you suggesting
we should edit the link.txt file?

[2018-08-22 12:05] hakonsbm commented on #1013
@janhahne @stinebuu @terhorstd Looks like the release contains some files that should not be there. Specifically it contains `libnestutil/config.h`, which is supposed to be generated by CMake. Removing it and letting CMake generate a new one solves the issue for me.

In addition to `config.h`, it also contains other generated files, like `setup.py`, `nest-config`, `nest-vars.sh`, generated CMake f

[2018-08-22 12:11] heplesser commented on #1013
@hakonsbm @terhorstd @jougs  Could it be that the 2.16.0 tarball includes files it shouldn't, while checking out the v2.16.0 tag using git would give one a clean source tree without any of the cmake-generated files?

@janhahne @stinebuu You seem to encounter two rather different types of error, one a segfault, the other a "file not found".

[2018-08-22 12:18] heplesser commented on #1010
@carlosengutierrez So the `-Kfast` flag makes a factor 6 difference in runtime? Does compiling without it imply no optimization at all (i.e., `-O0`)? Can you use other switches to activate almost all optimization, or `-Kfast` in combination with an additional switch that ensures strict IEEE754-compliant arithmetic?

[2018-08-22 12:28] janhahne commented on #1013
I think @hakonsbm analysis is correct. Removing `libnestutil/config.h` beforehand solved the issue for me as well.

[2018-08-22 13:46] heplesser commented on #1013
I now downloaded all three archives offered at
https://github.com/nest/nest-simulator/releases/tag/v2.16.0. Only the `nest-2.16.0.tar.gz` file contains `config.h` and other spurious files, the other two archives are identical and fine.

@jougs @terhorstd Could you update the `nest-2.16.0.tar.gz` file? I think it should keep the revision number, since it is only a mispacked archive. Or do we need t

[2018-08-22 13:50] janhahne commented on #1013
@heplesser @jougs @terhorstd The Zenodo entry http://doi.org/10.5281/zenodo.1400175 unfortunately also contains the archive with the additional files.

[2018-08-22 14:05] heplesser commented on #1013
Since Zenodo presumably is permanent, I assume we need to creare 2.16.1 immediately. It should have the same authors as 2.16.0.

Why do we need the extra tarball at all, in addition to the ones Github provides automatically? I think we discussed this once, but I forgot again.

[2018-08-22 15:47] gtrensch commented on #1006
@ikitayama  No, not really. It's more about finding out why the linker-flag `-lreadline` seems to be set. Can you verify the  following:
- Does the generated `config.h` file defines `HAVE_READLINE`? This must not be the case! Otherwise, 'readline' functions in the SLI code are not skipped.
- Does the SLI and NEST linkage contain the linker-flag? This can be verified by running make with VERBOSE=1

[2018-08-23 00:35] ikitayama commented on #1006
@gtrensch

- Checking my build directory, HAVE_READLINE is _not_ defined in `libnestutil/config.h.`
- They don't look to contain the inker flags.

[code]

and

[code]

[2018-08-23 08:13] gtrensch commented on #1006
@ikitayama
Everything looks good! Maybe there is a misunderstanding about what the real problem is. Can you explain how the problem is expressed in your environment?

[2018-08-24 07:29] gtrensch commented on #1006
@ikitayama
As this is in follow-up on the static linking issue #994, with my question, I actually targeted more the error messages, warnings etc. the linker gives you. The `-lreadline` flag is obviously not set, which is correct. Is it possible to get the full CMake and build logs with -Dwith-readline=ON and -Dwith-readline=OFF?

[2018-08-24 07:33] ikitayama commented on #1006
@gtrensch sure, we're recovering from an emergency power outage right now, will provide you the logs as soon as it finishes.

[2018-08-25 04:07] ikitayama commented on #1006
@gtrensch would you take a look at the logs uploaded below?
[on-build.log](https://github.com/nest/nest-simulator/files/2320337/on-build.log)
[on.log](https://github.com/nest/nest-simulator/files/2320338/on.log)
[off-build.log](https://github.com/nest/nest-simulator/files/2320340/off-build.log)
[off.log](https://github.com/nest/nest-simulator/files/2320341/off.log)

[2018-08-25 04:10] ikitayama commented on #1006
The code-base is today's HEAD, and the cmake command is invoked (-Dwith-readline=ON):
[code]

[2018-08-26 01:11] carlosengutierrez commented on #1010
Hi @heplesser , I tried -Kfast combined with 'no' flags as suggested by K help desk to ensure IEEE754-compliant arithmetic: -Kfast -Knoeval -Knofast_matmul -Knofp_relaxed -Knoilfunc -Knons
Sli and python codes run OK, showing the mentioned warning message.
The time elapse time was = 00:51:02 , memory = 394.8 Mb. Better performance than removing completely -Kfast flag. However, the best performance

[2018-08-26 11:30] heplesser commented on #1010
@carlosengutierrez Good. Is it ok to close the issue then?

[2018-08-27 00:52] carlosengutierrez commented on #1010
@heplesser , yes please. thanks, C.

[2018-08-27 12:36] tammoippen opened #1015 "Tests require sources to be present"
At least the two tests:

* [`regressiontests/ticket-659-copyright.py`](https://github.com/nest/nest-simulator/blob/master/testsuite/regressiontests/ticket-659-copyright.py)
* [`unittests/test_unused_names.py`](https://github.com/nest/nest-simulator/blob/master/testsuite/unittests/test_unused_names.py)

both look at the nest sources during `make installcheck`. In some cases the sources are not avai

[2018-08-27 12:56] tammoippen commented on #1015
The current, working version of the nest formula for homebrew-core can be seen here:

https://gist.github.com/tammoippen/8b8d708312367dfa996008cb50f56145

Only the `unittests/test_unused_names.py` test is failing. Discussions regarding nest on homebrew can be followed here (https://github.com/Homebrew/homebrew-core/pull/24908) and referenced PRs.

[2018-08-28 06:34] heplesser opened #1016 "--verbosity option does not work"
In current NEST master (1aa9c69eb) and thus most likely also in 2.16.0, the `--verbosity` switch fails as follows:
[code]

Interestingly, the verbosity value is read an respected during startup, but then the option is *also* interpreted as a script to execute.

[2018-08-29 08:44] gtrensch commented on #1006
@ikitayama
In both runs 'readline' is off, either manually set or automatically turned off, as it was not found by CMake.
`-- Could NOT find Readline (missing: READLINE_LIBRARY READLINE_INCLUDE_DIR)`
[code]
This is the expected behavior. Also the builds themself were successful. Unfortunately, they did not run with `make VERBOSE=1`, so I can't see the linker options. However, I assume that linkage

[2018-08-30 16:13] gtrensch commented on #1006
As soon as possible, I will provide a correction and create a pull request.

[2018-09-03 20:15] #974 closed

[2018-09-04 05:20] steffengraber opened #1022 "`run_examples.sh` could use wrong python executable"
On systems with different Python versions installed there is a problem when using `share/doc/nest/run_examples.sh`. With `runner=python` in line 70 only the standard Python version of the system is used, but if NEST was built with a different one, this could end in an error.

Isn't it better to use something like that:

    PYRUNNER=$($NEST_INSTALL_DIR/bin/nest-config --python-executable)

and the

[2018-09-04 17:10] jougs commented on #1013
During the creation of the custom release tarball (`nest-2.16.tar.gz`; on a machine by @terhorstd, thus the references to his home dcirectory), we executed `cmake` in the source directory in order to acquire a `Makefile` that permits us to run `make dist`. Apparently that run both created and packed the build artifacts that now cause the trouble.

The reason for having our own tarball in the first

[2018-09-04 17:43] jougs commented on #1013
An while we're on it, saving the world: @janhahne: can you please switch your OS to English?! The word `Speicherabzug` makes me cry ;-)

[2018-09-05 06:45] heplesser commented on #1013
@jougs I agree that we should stick to English, but thanks to @janhahne for finally enlightening me to what "core dump" is in my native language ;).

[2018-09-05 06:48] heplesser commented on #1013
@jougs I agree with your suggestion: Why should be do things manually that Github offers us automatically, and confuse the world with two minimally different tarballs. So dropping the manual tarball and updating our instructions to `nest-simulator-....` makes sense. Would you create an issue for that? The only thing we would need to check before is whether linking to the Github-autogenerated archi

[2018-09-05 06:57] jougs commented on #1013
@heplesser: just in case this was not clear: we never linked to a tarball on GitHub from Zenodo, but rather uploaded one there. This will definitely also work in the future. But having just the release without additional files, we can also go a step further and just [cite the release](https://guides.github.com/activities/citable-code).

[2018-09-09 18:32] sepehrmn commented on #606
I am working on making a pull request and closing this issue.

[2018-09-09 18:32] #606 closed

[2018-09-09 18:34] sepehrmn commented on #764
I am working on making a pull request and closing this issue. There have been changes in NEST and also the model which I will discuss there.

[2018-09-09 18:34] #764 closed

[2018-09-09 19:12] sepehrmn commented on #505
I personally do not need this feature anymore. I have an old pull request that has an implementation inside the class. I hope to reopen it for merging soon.

This issue can be closed.

[2018-09-11 16:41] jougs commented on #1022
I like this suggestion. Can you please review #1024?

[2018-09-12 12:57] jougs commented on #1015
@tammoippen: you are of course totally right that the two tests you mention should really be run as part of our static code analysis or code style checks instead of during the run of the testsuite. I placed the first one there, as we did not have CI back then and this seemed like the best place to put it. I probably put the second one also there just because the first was already there and I did n

[2018-09-12 18:15] jakobj opened #1025 "Rename `get_delay` -> `get_delay_steps` in `Event`?"
As far as I can see, `get_delay()` of events (https://github.com/nest/nest-simulator/blob/master/nestkernel/event.h#L170) returns a delay in steps. For consistency, shouldn't this function be called `get_delay_steps()`? if so, I can create a PR. @suku248 @heplesser @jougs

[2018-09-13 07:00] heplesser commented on #1025
@jakobj A good point. We have here
[code]
I think the original logic was that the data type `delay` would indicate that values were in steps, so one would not need the `steps` in the method name. This holds for the first two. The third method then has the `steps` in the name and uses the generic `long` as return type.

When reading code that uses these methods, the return and argument types are us

[2018-09-13 07:03] #1022 closed

[2018-09-13 08:48] jougs commented on #116
We close this, as we now have a Debian/Ubuntu package in a [PPA by @steffengraber](https://launchpad.net/~nest-simulator/+archive/ubuntu/nest) and the problem does not seem to be a problem there.

[2018-09-13 08:48] #116 closed

[2018-09-13 08:56] heplesser commented on #151
@apeyser As you have been heavily involved in the discussion here, could you take care of implementation?

[2018-09-13 08:58] heplesser commented on #179
@lekshmideepu Any news on this one?

[2018-09-13 09:06] clinssen commented on #192
N.B. this will break the API because `Archiving_Node::get_triplet_K_value()` will be renamed, hence the NEST 3.0 milestone.

[2018-09-13 09:06] heplesser commented on #207
Closed due to inactivity. Future of NEST (from NEST3 may use MPI 3.0 functions).

[2018-09-13 09:06] #207 closed

[2018-09-13 09:11] heplesser commented on #210
@AlexVanMeegen Any news on this one?

[2018-09-13 09:15] heplesser commented on #242
@lekshmideepu Do you know if Travis also allows us to test with Intel compilers?

[2018-09-13 09:19] heplesser opened #1027 "Add CMake configuration for Intel Compiler, MPI, MKL"
We should add CMake support for Intel compilers. One important point is to set the `-fp-model strict` flag to ensure IEEE754-compatible numerics.

See also #242.

[2018-09-13 09:25] jougs opened #1028 "Factor out MyModule as a standalone repository"
We promote `MyModule` as a way to extend NEST without requiring the NEST sources around, I propose to go the full length and make it it's own repository under the roof of the NEST Initiative. This would have the following advantages:
* `MyModule` documentation disentangled from NEST documentation
* better discoverability for `MyModule` code and documentation
* natural way of enabling CI for the co

[2018-09-13 09:44] heplesser commented on #356
Fixed already by 7911ce3fa434c6353ce50, thus closing.

[2018-09-13 09:44] #356 closed

[2018-09-13 09:46] heplesser commented on #357
Should be addressed in context of NESTML for synapses.

[2018-09-13 09:50] heplesser commented on #370
@Silmathoron Any news on this?

[2018-09-13 09:57] heplesser commented on #376
Closing this since workaround exists and problem appears to be rare.

[2018-09-13 09:57] #376 closed

[2018-09-13 10:00] heplesser commented on #457
Closing due to inactivity.

[2018-09-13 10:00] #457 closed

[2018-09-13 12:47] heplesser commented on #260
Solved by #775, thus closing.

[2018-09-13 12:47] #260 closed

[2018-09-13 16:15] tammoippen commented on #271
None from my side, sorry.

[2018-09-14 09:18] jakobj commented on #1025
yes, i feel like using nest specific types to indicate in which form the time is represented is not optimal style. i have found myself looking up the implementation again and again to figure out what exactly these functions return, so more descriptive and coherent naming seems necessary.

regarding nest-specific types in general: my feeling is we should remove all of them, since i've found them al

[2018-09-14 13:10] jessica-mitchell commented on #361
@heplesser  There seems to be some discussion in this topic and I'm unsure what the user docs should include.
Are we aiming to warn users against threading? When does this come up as an issue for users? Why would a user want to use threading in the first place?
@apeyser indicated there are different types; so is this threading referring to a problem in some specific instance?
thanks

[2018-09-14 15:07] jessica-mitchell commented on #274
I've been compiling a list of terms; I still need to format list into some order. Here's what I have so far:
https://github.com/jessica-mitchell/nest-simulator/blob/doc-doc/doc/glossary.rst

Suggestions welcome :)

[2018-09-15 20:30] sanjayankur31 opened #1031 "'success' in 'struct nest::StaticAssert...' does not name a type"
I'm getting a failed build with GCC 8.2.1 on Fedora 30 systems for the nest 2.16.0 release. I'm still looking at the cause, but here is the error message.

[code]

The compiler flags are:

[code]

Cheers!

[2018-09-15 20:31] sanjayankur31 commented on #1031
This is the complete build log: [build-log.txt](https://github.com/nest/nest-simulator/files/2386069/build-log.txt)

[2018-09-16 10:46] sanjayankur31 commented on #1031
Another note: the build is only failing on 2 architectures: i686 and armv7hl (All builds here: https://koji.fedoraproject.org/koji/taskinfo?taskID=29705080)

[2018-09-16 15:03] heplesser commented on #1031
@sanjayankur31 From ` 'struct nest::StaticAssert<false>' ` it looks to me that `sizeof(Target)` does not return `8` as NEST requires. So the question would be why that is not the case om some systems. Since `unsigned long data_;` is the only data member of `Target`, it seems NEST implicitly requires that `sizeof(unsigned long)` is 8 byte, while it may be 4 on some systems.

@jakobj Could you take

[2018-09-17 07:07] apeyser commented on #361
@jessica-mitchell: to be more exact, threading "under the covers" within a C library that does not recur to python isn't a problem. "Threading" which is actually multiprocessing in python using the `multiprocessing` module isn't a problem. But either directly calling threads in python or having a multithreaded C program that executes any python within multiple threads is a problem.

So NEST in Pyt

[2018-09-17 07:17] jougs commented on #843
This is now possible in the current [HEAD of the development branch](https://github.com/apeyser/nest-private/tree/nestio). I'm thus closing. Thanks for the request!

[2018-09-17 07:17] #843 closed

[2018-09-17 10:32] heplesser commented on #1025
VC on 17 Sep 2018 agreed with suggestion to add `_steps` to `{get,set}_delay()`.

[2018-09-18 12:01] clinssen commented on #1028
The fate of ConnPlotter, a contribution by @heplesser and one of his students, might also be relevant for this discussion. ConnPlotter is a perfectly self-contained package, with documentation and a good file layout (it is currently in `extras/`), and as such, it is also a good candidate for being spun off into its own repository (e.g. github.com/nest/ConnPlotter).

As for the documentation: writi

[2018-09-18 12:35] ruedigerkupper commented on #268
Ohmygod!!! SLI-mode is gone??? Shame, shame, shame!!!
(Go ahead, cheers, Rüdiger)

[2018-09-18 13:08] clinssen opened #1034 "`get_K_value()` can return 0 erroneously in edge case"
To compute the postsynaptic trace, the function `Archiving_Node::get_K_value(double t)` finds the last known spike in the history, and decays exponentially from that point on (https://github.com/nest/nest-simulator/blob/0c993abc963c709e7632b9cb5fc701d155d8ab40/nestkernel/archiving_node.cpp#L98).

An edge case can arise when presynaptic spike times precisely coincide with postsynaptic spike times.

[2018-09-19 12:10] apeyser commented on #151
@heplesser Taken care of, see #1035

[2018-09-20 19:52] heplesser commented on #361
@jessica-mitchell @apeyser said it all: the entire problem here was created when people tried to build GUIs around NEST using multithreading.

[2018-09-21 06:04] #322 closed

[2018-09-21 09:01] apeyser commented on #361
@heplesser @jessica-mitchell And thus we are building a gui infrastructure for several simulators!

[2018-09-25 14:38] heplesser commented on #1031
@apeyser Thanks for the explanation! I am not entirely sure I fully understand your comment on 32-bit supercomputers (is some irony hiding there?). It seems we need to have 64 bits for `data_`, to have enough space for all information that needs to go there. Could we find some pragmatic solution here, e.g., using `uint64_t`, provided it is defined in the C++11 standard. Would we really need to cha

[2018-09-25 15:11] heplesser commented on #1034
@clinssen Nice catch! We recently changed `get_history()` (in bd82afdd3e86e1e3b40d61f86309e988bb80ab65). Could you check if this effect also occurs for the parent of that change (0edf474)?

Although I assume the true culprit is probably the fact that we require time differences strictly larger than a user-defined eps in

https://github.com/nest/nest-simulator/blame/0c993abc963c709e7632b9cb5fc701d1

[2018-09-25 15:37] apeyser commented on #1031
I'd definitely go for using well-defined length types for as many types as possible, such as `uint64_t`.
Some of the ARM hardware is still unusual, and that's the only place that I'd expect any large machines to have some preference for 32-bits, at least in some of the early stages of the machines.

[2018-09-25 15:40] #1016 closed

[2018-09-25 16:31] heplesser commented on #1031
@ikitayama Could you comment on this issue with respect to coming ARM-based systems?

[2018-09-26 12:02] heplesser commented on #1031
@jakobj I also do not see the value of a 32 bit version.

@terhorstd Could you put this on the agenda for the next NEST Developer VC as an explicit decision item?

[2018-09-27 03:44] ikitayama commented on #1031
I've built today's master branch without an issue in Rawhide (aka Fedora 30 candidate with GCC 8.2.1) VM on a ThunderX server (arm64). As @jakobj mentioned, the Community should decide they want to support 32-bit binaries. I'd just drop the support and be done with it. I think Arm-based supercomputers will all be 64-bit machines.

[2018-09-27 10:13] sanjayankur31 commented on #1031
I had discussed this during the package review too. The reviewer had suggested we support whatever archs were available [in case someone wants to run smaller sims on a chromebook](https://bugzilla.redhat.com/show_bug.cgi?id=1273579#c26) or something. However, I agree that if it's too much trouble, then we drop support here (as upstream), and downstream packagers like me at Fedora can drop support

[2018-09-27 10:20] ikitayama commented on #1031
What’s the advantage of runnng NEST on 32-bit platforms? 2.16 has the 5th
gen kernel which Is new, during the develeoent it was considered to support
from small laptops up to supercomputers, but guess the assumption was that
they are all on 64-bit platforms.

On Thu, Sep 27, 2018 at 19:13 Ankur Sinha <notifications@github.com> wrote:

[2018-09-28 11:42] clinssen commented on #1034
I checked whether the bug was present in the 2.14 (4g) release, and this is indeed the case.

[2018-09-28 17:28] jougs commented on #405
If you want to have the model included in the official NEST repository, you can still post a Pull Request. Many thanks and best regards!

[2018-09-29 21:58] jougs commented on #338
This was fixed by #546 and #789.

[2018-09-29 21:58] #338 closed

[2018-09-30 20:37] terhorstd commented on #877
The [Open NEST Developer VC on 16 April](https://github.com/nest/nest-simulator/wiki/2018-04-16-Open-NEST-Developer-Video-Conference) decided to move to `py.test`, thus closing.

[2018-09-30 20:37] #877 closed

[2018-10-02 09:30] stinebuu commented on #679
@heplesser As this is implemented in the [nest-3 branch](https://github.com/compneuronmbu/nest-simulator/tree/nest-3) do we want to close this issue to be able to close the [Remove subnets](https://github.com/nest/nest-simulator/projects/2#card-2069522) project?

[2018-10-02 09:31] stinebuu commented on #481
@heplesser As this is fixed in the [nest-3 branch](https://github.com/compneuronmbu/nest-simulator/tree/nest-3) do we want to close this issue to be able to close the [Remove subnets](https://github.com/nest/nest-simulator/projects/2#card-2069522) project?

[2018-10-05 13:42] heplesser commented on #679
Closing as this is fixed in the NEST 3 branch.

[2018-10-05 13:42] #679 closed

[2018-10-05 13:43] heplesser commented on #481
Closing as this is implemented in the NEST 3 branch.

[2018-10-05 13:43] #481 closed

[2018-10-05 16:15] sanjayankur31 commented on #1031
Not much other than supporting a wider range of hardware. If 32 bit is going away and 64 bit will become the norm, dropping 32bit support should be fine. I'm not as up to date as the others here on these things, unfortunately.

[2018-10-06 16:02] Maryada-27 opened #1042 "Calling nest.Disconnect"
I am still facing same issue as stated in #786. I want to disconnect my device to neuron connection.
Which version is this resolved.

[2018-10-09 20:49] heplesser opened #1043 "NEST is running out of space for synapse models"
NEST currently supports only 63 different synapse models. The current master has already 55 synapse models, so that only very few additional synapse models can be created with `CopyModel`.  Adding more synapse models makes the situation even worse, see #865.

The number of synapse models available by default is as large as 55, because many synapse models exist in multiple versions (plain, `_lbl`,

[2018-10-10 18:45] jeliason opened #1044 "Cannot make NEST 2.16.0 - cannot find GSL header files"
Hi!

I've been trying for some time to install NEST 2.16.0 on Ubuntu 16.04 to run with Python and PyNN. I want to have the GSL libraries linked. The configuration with cmake yields the following:

cmake -DCMAKE_INSTALL_PREFIX:PATH=/home/myname/opt/nest-simulator-2.16.0-build /home/myname/opt/nest-simulator-2.16.0

-- The CXX compiler identification is GNU 7.3.0
-- The C compiler identification is

[2018-10-11 08:29] heplesser commented on #1044
Your problems may be caused by confusion caused by Anaconda. We have experienced problems caused by Anaconda earlier and will take a look.

@alexvanmeegen could you take a look?

[2018-10-11 08:37] heplesser commented on #470
Closing as this will be superseded by new documentation under development.

[2018-10-11 08:37] #470 closed

[2018-10-11 08:48] heplesser commented on #494
We keep this model for now and revisit the issue of the aeif-implementation when we replace hand-written model code by NESTML-generated model code.

[2018-10-11 08:48] #494 closed

[2018-10-11 08:52] heplesser commented on #505
Closing this issue due to lack of demand. Streaming solutions under development will handle this case in a different way.

[2018-10-11 08:52] #505 closed

[2018-10-11 08:54] clinssen commented on #1044
Relevant discussion: https://gitlab.kitware.com/cmake/cmake/issues/17966

It looks like CMake explicitly excludes "/usr/include" from the include path, because it is detected as the compiler's standard search path. However, for reasons of virtual environment isolation, Anaconda explicitly *excludes* it from the path. @jeliason: to check if this is indeed the issue, could you try the workaround des

[2018-10-11 08:54] heplesser commented on #506
@ddahmen @janhahne @jstapmanns Could you report on status?

[2018-10-11 08:57] heplesser commented on #522
@sdiazpier Could you have a look at this an comment on how easy or difficult it would be to implement?

[2018-10-11 09:00] heplesser commented on #523
@suku248 @jakobj Could you take a look at this proposal and see if it is still relevant/applicable now that we have the 5G kernel (https://doi.org/10.3389/fninf.2018.00002)?

[2018-10-11 09:07] heplesser commented on #534
Should be addressed in the context of NESTML.

[2018-10-11 09:10] heplesser commented on #537
Re-do benchmarks and revisit in developer VC once results are clear.

[2018-10-11 09:12] heplesser commented on #550
Superseded by NESTio project, therefore closing.

[2018-10-11 09:12] #550 closed

[2018-10-11 09:14] heplesser commented on #554
- Deprecated `Resume` in NEST 2.16.1
- Remove `Resume` in NEST 3

Interactive control will be supported by other means in the future.

@stinebuu Could you add the deprecation warning for `Resume`?

[2018-10-11 09:16] heplesser commented on #555
Remove in NEST 3. May allow us to remove `sli/psignal.*` files.

[2018-10-11 09:20] heplesser commented on #571
To be discussed in Developer VC 29 Oct 2018.

[2018-10-11 09:21] heplesser commented on #571
@sdiazpier Could you share your thoughts on this issue?

[2018-10-11 09:28] heplesser commented on #639
@lekshmideepu Any news on this one?

[2018-10-11 09:31] heplesser commented on #641
@lekshmideepu  Any news? We see more frequently now that jobs stop due to timeouts, so it would be good to move forward.

[2018-10-11 09:33] heplesser commented on #649
This is in place with NEST 2.16.0.

[2018-10-11 09:33] #649 closed

[2018-10-11 09:35] heplesser opened #1045 "Document how to create C++-level unit tests"
With NEST 2.16.0, we added the framework for C++ unit tests, but this is not documented yet (in `testsuite/README.md` or `testsuite/cpptests/README.md`).

Add documentation for this possibility!

[2018-10-11 09:38] heplesser commented on #677
@stinebuu Could you check if your recent work on tests solves this problem?

We should probably close this issue, since it is superseded by our move towards pyest.

[2018-10-11 09:43] heplesser commented on #682
Closing since problems of this type are exceedingly rare.

[2018-10-11 09:43] #682 closed

[2018-10-11 09:46] heplesser commented on #723
Closing due to inactivity. Please re-open if the problem is still relevant.

[2018-10-11 09:46] #723 closed

[2018-10-11 09:48] heplesser commented on #728
@stinebuu Could you take a look at how difficult it would be to solve this? A solution would need to work for all supported mask/kernel types.

[2018-10-11 09:58] heplesser commented on #772
We should create these tests in preparation of the NEST-3 interface for spatial connections.

[2018-10-11 09:58] terhorstd commented on #756
This is something that should be tested in CI, but because of its computational cost, depends on stages in CI. It doesn't make sense to run this each and every time, but only occasionally and if everything else passes.

@lekshmideepu this is a good use-case for improved travis setup.

[2018-10-11 10:03] heplesser commented on #782
The links to external modules are here: https://github.com/nest/nest-simulator/wiki/NEST-Modules

[2018-10-11 10:03] #782 closed

[2018-10-11 10:06] heplesser commented on #795
Should be checked against NESTML.

[2018-10-11 10:10] clinssen commented on #795
This issue/code and suggestions could also mutually benefit from a lookup table version of the exponential function that was recently implemented by @suku248

[2018-10-11 11:34] sdiazpier commented on #633
No news here, I need to do more tests on it to identify the source of this problem.

[2018-10-11 14:13] stinebuu commented on #677
@heplesser The testsuite does not complain about the missing file with #1019. I tried the master testsuite without Nosetests as well, and I do not get a complaint about `mpitest_issue_578_sp.py` there either, so it might just be my configurations or something that does not lead to a complaint, but I still think it is safe to close the issue.

As you said in a comment above, the test `mpitest_issue

[2018-10-11 20:53] jeliason commented on #1044
I actually just got it to compile by having GSL installed by conda in the conda env, then linking to those local GSL header and library files with compiler flags **with-gsl** and **GSL_INCLUDE_DIR** during configuration. I'm not sure why this local one had to be used, since I added the system directories explicitly previously and that didn't seem to work. I got through make and make install, and i

[2018-10-11 21:10] AlexVanMeegen commented on #1044
Great to hear. Let me know if you run into further problems!

[2018-10-15 14:37] jakobj commented on #1043
yes, the fact that one can only create few additional synapse models is certainly an issue. here are my thoughts:
1) we should explicitly discourage people from use copy model for identical models with different parameters settings as this not only exhausts the maximal number of synapse types but also can incur runtime penalties
2) we should reduce the default synapse model count by only registeri

[2018-10-15 21:38] jakobj opened #1048 "Testsuite error in windows subsystem for linux (ubuntu)"
When trying to run the testsuite in WSL, the following error occurs directly in the beginning

[code]
NEST version: 2.16

does anyone have experience with this?

[2018-10-19 08:50] terhorstd commented on #811
wont fix soon, reopen if it ever comes up again.

[2018-10-19 08:50] #811 closed

[2018-10-19 08:50] terhorstd commented on #820
@abigailm is there progress on this one?

[2018-10-19 08:51] terhorstd commented on #826
This system is not available anymore.

[2018-10-19 08:51] #826 closed

[2018-10-19 09:30] terhorstd commented on #853
@jougs, do you have a comment on this?

[2018-10-19 09:38] terhorstd commented on #880
this should not be the case. Can you check if you are using "--static" and trying to build with Python? That can't work, because python needs dynamic linking.

[2018-10-19 09:39] terhorstd commented on #904
This is still being worked on.

[2018-10-19 09:43] terhorstd commented on #918
@jougs @apeyser  could you comment on the state of this?

[2018-10-19 09:44] terhorstd commented on #921
@ChristianKeup any progress on this?

[2018-10-19 09:53] heplesser commented on #945
@maharjun NEST knows the following command line options:
[code]
You should use other names for command line options for your script to avoid side effects.

[2018-10-19 09:53] #945 closed

[2018-10-19 09:55] terhorstd commented on #958
Issue has to be handled in https://github.com/INCF/MUSIC/issues/54
closing here.

[2018-10-19 09:55] #958 closed

[2018-10-19 09:59] terhorstd commented on #972
@jougs any updates on this?

[2018-10-19 10:01] terhorstd commented on #977
this is fixed in NEST-3 branch.

[2018-10-19 10:01] #977 closed

[2018-10-19 10:05] terhorstd commented on #981
this is a good point! would you be able to provide a PR against master for this?

[2018-10-19 10:08] terhorstd commented on #1006
is there any news on this? @gtrensch

[2018-10-19 10:18] terhorstd commented on #1044
seems to be solved, please reopen if problem persists.

[2018-10-19 10:18] #1044 closed

[2018-10-19 10:47] Silmathoron commented on #853
Just to say that, even if say Cython was to be used to couple the kernel and PyNEST, as long as we make sure that the sources are accessible (copy them in a ~/.nest file?) and that we can find the path to where the libraries are installed (idem), then it is theoretically possible to uncouple both and make PyNEST pip installable.
As an example, the [igraph](http://igraph.org/redirect.html) library

[2018-10-19 13:37] apeyser commented on #1031
The worst case is a 2-fold memory increase -- that's just meaningless, computationally.

Fuggedaboutit and just go to well-defined 64 bit types, and if someone's laptop needs twice as much memory, they should borrow someone else's in the lab with twice as much memory.

[2018-10-20 09:40] lx-lei opened #1053 "PyNEST tests failed when I run the "make installcheck""
I did all  steps that the INSTALL doc tells me to do, except I installed the Boost before all steps.
After installed the nest, I run the "make installcheck", then I find PyNEST tests failed.

I installed the nest-simulator-2.16.0 with Ubuntu 16.04.

1. download .7z package from www.boost.org and compiled it ,then installed.
2. tar the nest-simulator-2.16.0.tar.gz
3. sudo apt-get install -y all thi

[2018-10-20 13:54] #1053 closed

[2018-10-21 17:09] sdiazpier commented on #839
I have submitted PR  #1052: Fixed the documentation get vacant synaptic elements
to address this issue.

[2018-10-22 06:29] apeyser commented on #918
@terhorstd Weight recorders are more complex than all other detectors. It will have to wait for a second pass, after NESTIO is integrated.

[2018-10-22 07:13] tammoippen commented on #1045
As discussed on friday, I think boost unittest is a quite large dependency:

https://www.boost.org/doc/libs/1_44_0/libs/test/doc/html/utf/compilation.html

And I want to suggest some different C++ unittest frameworks, I personally used:

- [Catch2](https://github.com/catchorg/Catch2): header only unittesting framework; can be packed with nest (no issues with installed versions / version conflicts)

[2018-10-22 07:46] ChristianKeup commented on #921
I just opened the issue as part of finalizing the 2d implementation of the model. Currently I would rather not work on it, sorry.

[2018-10-22 12:31] stinebuu commented on #1042
@Maryada-27 I have made a PR to fix this issue, #1054, could you check if the PR fixes your problems?

[2018-10-22 15:33] jougs commented on #1043
@jakobj: I was assigned to this mainly for mental support, not for the coding ;-)

First, let me reply to [your comment](https://github.com/nest/nest-simulator/issues/1043#issuecomment-429878910):
* Discouraging the use of `CopyModel` probably won't help much if NEST already brings 55 types and the user anyway only has 8 types left for customization.
* Not registering the special types probably le

[2018-10-23 09:28] lekshmideepu commented on #179
I had a successful build for  gcc 4.8.4 and clang 5.0.0.  But I have used gcc 5 and clang 3.7 in my .yml file.
For some reason it is not picking the one which I gave.
https://travis-ci.org/lekshmideepu/nest-simulator/builds/383079868

[2018-10-23 13:28] lekshmideepu commented on #179
https://github.com/travis-ci/travis-ci/issues/10288

[2018-10-23 16:05] jougs commented on #972
Basically, the code is ready, but depends on the merge of #1039. I'll start a PR once that's done.

[2018-10-23 18:14] lekshmideepu commented on #179
PR #1057

[2018-10-23 18:38] lekshmideepu commented on #639
Will continue to work on this once the PR  #1057 is merged. Otherwise it would be a bit complex as it will affect the same .yml file.

[2018-10-24 07:32] apeyser commented on #151
Issue #1035 merged.

[2018-10-24 07:32] #151 closed

[2018-10-24 10:53] jougs commented on #853
I have a feeling that at the moment this causes more trouble than good. People would still have to have a compiler, the GSL and some other libraries around and we would have to define and manage the dependencies different versions of NEST and PyNEST.

I thus think that building PyNEST alongside NEST is just the easiest option for both us and the users. For absolute beginners, I'd rather have packa

[2018-10-25 13:37] jessica-mitchell opened #1061 "improve documentation of pynest get_verbosity() and set_verbosity() docstrings"
In python, the return value for _get_verbosity()_ is an integer, which itself isn't very self-explanatory
And the docstring isn't much help either:
[code]
 The confusion is also compounded by the fact that _set_verbosity()_ asks for a string, and neither docstring for _set_ or _get_ provides a correlation between the integer and string
[code]
I presume that the integer and string have a 1 to 1 cor

[2018-10-27 09:00] Silmathoron commented on #725
Hey @jougs, I'm also encountering some segfault errors due to mostly harmless combinations of NEST import with other CPP-interfaced python libraries and, before I open a new issue and start a PR about it, I would like to understand what you mean about the "ownership of data structures by threads".

I sounds weird to me (I've never heard of threads "owning" anything), and as far as I've looked, we

[2018-10-28 10:35] sanjayankur31 opened #1063 "Does NEST need to link against libneurosim or libpyneurosim?"
Hello,

At buildtime, does NEST need to link against libneurosim or libpyneurosim or both? Currently, it expects them both in the same directory, `/usr/lib{,64}`, but at runtime, it seems to require libpyneurosim in `PYTHONPATH` which is not `/usr/lib{,64}` (it should be `/usr/lib{,64}/pythonX.Y/site-packages`).

I had opened this PR against libneurosim where I'd moved libpyneurosim to the correct

[2018-10-28 15:32] heplesser commented on #1063
@jougs Could you answer this one?

[2018-10-29 10:44] #1015 closed

[2018-10-30 08:47] lekshmideepu opened #1064 "Conditional Travis builds using stages"
As our travis builds are taking a lot of time, I did a [trial run](https://travis-ci.org/lekshmideepu/nest-simulator/builds/450909094) using the stages feature of Travis. (It is just a proof of concept :-)As per our current setup, STATIC_ANALYSIS is running for all matrix builds. In the new trial run, it is running only for the first time. Depending on its success, other builds will follow.

[2018-10-30 12:29] gtrensch commented on #1031
I have worked out a pragmatic solution which I tested on a 32-bit ARM Raspberry Pi. See also pull request #1065.

Regarding the word size, I believe, one can safely assume that future ARM-based HPC systems are 64-bit architectures. Nonetheless, there is also the very interesting XILINX Zynq device family (ARM + FPGA) that is still 32-bit. Being prepared and keeping an eye on writing portable code

[2018-11-01 16:25] Vaurien96 opened #1066 "Problem with NEST 2.16.0 installation"
Hi! I'm encountering difficulties to install NEST:

I installed the required packages then used this command `cmake -DCMAKE_INSTALL_PREFIX:PATH=</install/path> -Dwith-python=2
 </path/to/nest/source>`

and `make`. At the end of `make` I get this error:

[ 99%] Compiling Cython CXX source for pynestkernel...

Error compiling Cython file:
------------------------------------------------------------

[2018-11-02 05:14] ikitayama opened #1067 "LLVM/Clang: make installcheck fails on JURON"
NEST is built with OpenMP offloading flags, but the code base doesn't have
any offloading related directives yet.

[code]

[2018-11-02 09:29] hakonsbm commented on #1066
Looks like "Téléchargements" (specifically the "é"s) in your path causes some issues with Cython, or rather, with Python2. The simplest solution is to use another directory with a path without any non-ascii characters. Alternatively you can try to use Python3, which has better Unicode support.

[2018-11-02 11:42] Vaurien96 commented on #1066
Thanks, it worked!

[2018-11-02 11:42] #1066 closed

[2018-11-03 14:28] #1025 closed

[2018-11-03 14:31] heplesser commented on #677
@stinebuu Please fix the test and make it run.

[2018-11-07 10:01] terhorstd commented on #247
That sounds good! We are happy to see a PR for this!

[2018-11-07 10:16] terhorstd commented on #193
conclusion from NEST3 video conference: go with `iaf_psc_exp_htum`.

[2018-11-07 10:21] terhorstd commented on #192
conclusion from NEST3 video conference: yes, this should be changed.

[2018-11-10 01:58] ikitayama opened #1070 "OpenMP offload capable NEST run-time error on JURON"
2.16-ish NEST binary built with the LLVM/Clang OpenMP offload flags aborts early at run time on
JURON Can the NEST experts take a quick look at the backtrace and shed some light on?
[code]

[2018-11-10 14:31] heplesser commented on #1070
- Seems to be some problem in setting up the recordables map of sli_neuron. Could try to remove sli_neuron and see if the error persists.
- You mention LLVM/Clang, but the trace has a lot of gcc/.../4.8.5/... paths. Any mixup possible?
- What are the "offload flags" you mention? Does it work without them?

[2018-11-10 23:33] ikitayama commented on #1070
The OpenMP offloading related flags are: -fopenmp -fopenmp-targets=nvptx64-nvidia-cuda --cuda-path=$ENV{CUDA},

... and yes, it runs fine when it is built only with the -fopenmp from the above set.
Rest of the questions you raised cannot be answered until Monday as the JURON login
node is currently extremely crowded.

[2018-11-11 02:33] ikitayama commented on #1070
[code]

Not sure, at least module list says GCC doesn't get loaded.

[2018-11-11 18:48] jougs commented on #1015
@tammoippen: this is fixed in #1039. Do you need to check/change anything for homebrew?

[2018-11-11 20:58] heplesser commented on #1070
- You new trace shows that it is not the `sli_neuron` but a general issue with neuron model registration.
- The new trace does not show any STL library source code locations, in contrast to the earlier trace. Do you know why?
- I am a little concerned about the `/lib/libstdc++.so.6`, on a system with many modules I would have expected a compiler-dependent path to `libstdc++`, and when building wit

[2018-11-12 14:06] gtrensch opened #1072 "Duplicate include of libnestutil.a if 'nest' is linked statically"
If NEST ist statically build, CMake generates a duplicate include for libnestutil.a.
(.../CMakeFiles/nest.dir/link.txt)

[2018-11-13 11:19] jhnnsnk opened #1073 "Inconsistent behavior for fixed number of connections if set to 0"
Plain NEST and Topology behave differently for a fixed indegree (or outdegree) if the number of connections is set to 0:
Plain NEST does not connect as expected, but Topology establishes `all_to_all` connections without warning.
I suggest that also Topology should not connect in this case and I would prepare a pull request if that's fine with you.

Here a reproducer with the latest NEST master (ve

[2018-11-13 22:02] jougs commented on #853
I will close this due to clear undecidedness on the issue.

[2018-11-13 22:02] #853 closed

[2018-11-14 16:55] tammoippen commented on #1015
@jougs Current head (ab69db5 tested) installs and tests smoothly on homebrew. New I only need a new release ;) .

[2018-11-15 03:03] ikitayama commented on #1031
I think with @jakobj 's approval, PR #1065 should go into the mainline. I'm
not following the code changes unfortunately, so
remove from the possible reviewers list.

On Tue, Nov 13, 2018 at 4:26 PM Alexander Peyser <notifications@github.com>
wrote:

[2018-11-15 12:24] janhahne opened #1074 "NEST Command Index (helpindex.html) remains empty with python2.7"
Since the merge of #1062 the NEST Command Index (helpindex.html) remains empty (without any entries) when using python2.7.

There is no error during `make` or `make install` but from executing `generate_help.py` manually I assume that the reason is
[code]

From looking at https://docs.python.org/3/library/html.html it seems that `escape` has been added with python3.2 and is not available for 2.7.

[2018-11-15 16:04] clinssen commented on #1074
@janhahne: thanks for your feedback! Could you please try to install the "future" package (`pip install future`) to see if that resolves your issue?

[2018-11-15 19:46] janhahne commented on #1074
@clinssen Thank you for the suggestion. Installing the "future" package indeed resolves the issue for me.

So the only problem left in my opinion is, that a user without the html and the future package installed has no clue why the helpindex is empty or not generated, since everything fails silently.

[2018-11-16 02:36] piewchee commented on #866
hi,
I am facing similar error with "no module named nest"
however the error is slightly different.
OS: Ubuntu 16.04
python version: 2.7.12
cmake version: 3.5.1

in virtualenv:venv

I am using the command:   cmake -DCMAKE_INSTALL_PREFIX:PATH=</install/path> </path/to/NEST/src>

After the installation, i checked under venv/lib/python2.7/site-packages; there is no "nest" installed.

May I know what i

[2018-11-16 02:39] piewchee opened #1075 "PyNEST test failed"
Hi
My apology for creating a new issue for this as i m not sure if issue #866 which has been closed will be noticed.

I am facing similar error with "no module named nest"
however the error is slightly different.
nest: 2.16.0
OS: Ubuntu 16.04
python version: 2.7.12
cmake version: 3.5.1
cython: 0.29

in virtualenv:venv
After
After running make installcheck
PyNEST test failed =2
Please see attached

[2018-11-16 13:01] jakobj commented on #1043
thanks for your support @jougs :)

I agree that the current split is suboptimal for the normal (non-HPC) use case. However, giving users full flexibility with respect to the desired split as in your example makes me a bit uneasy as this complicates reproduction of results among users ("which split did you use?", "hmm, I don't remember, let me check my log files, ..., ughh, can find them right now,

[2018-11-16 13:36] Silmathoron commented on #1043
As mentioned in the full-day NEST dev visio, I would advise for a cmake option (one for HPC, one for laptop users), in agreement with @jakobj 's suggestion.

[2018-11-19 12:32] clinssen commented on #1074
It looks like pynest does not have any package dependencies, apart perhaps from numpy which is imported in `hl_api_connections.py`: https://github.com/nest/nest-simulator/blob/18f25d59905da821f0ddc9efc9e9200a84bc76da/pynest/nest/lib/hl_api_connections.py#L31

It might go too far to add infrastructure to check Python version and request/auto-install the html package. I will file a PR that simply us

[2018-11-20 07:39] heplesser commented on #1073
@jhnnsnk Thanks for detecting this! The behavior of topology is clearly wrong, it should not create any connections in this case. One could consider `indegree==0` an error, but I think it is easier (and fully consistent) to simply not create connections in this case. The implementation should make sure that nothing is done at all instead of iterating over all targets and doing nothing for each tar

[2018-11-20 10:30] sanjayankur31 commented on #1063
@jougs would you have any comments here please?

[2018-11-21 08:39] jougs commented on #1063
@mdjurfeldt: can you  please comment on this one?

[2018-11-21 10:14] heplesser opened #1077 "Create up-to-date and complete Bioconda recipe for NEST"
Bioconda provides recipes for NEST at

https://bioconda.github.io/recipes/nest/README.html

for easy installation via Conda. Currently, the recipes only cover 2.12 and 2.14, and support Linux only (see also #1041). We should create recipes for newer versions, possibly one for github master, and support for OSX.

[2018-11-23 22:34] mdjurfeldt commented on #1063
I've answered this in the libneurosim issue, but copy the text here:

"libpyneurosim is not a Python extension. It is rather support for using connection generators written in Python from C++ code (i.e. the reverse of what Python extensions do). Therefore, libpyneurosim should be installed in ordinary library directories like /usr/lib{,64}. NEST needs to link against both libpyneurosim and libneur

[2018-11-23 22:36] mdjurfeldt commented on #1063
The NEST example which the citation refers to is https://github.com/nest/nest-simulator/blob/master/pynest/examples/csa_example.py#L55 .

[2018-11-24 14:34] #1063 closed

[2018-11-24 17:27] sanjayankur31 opened #1080 "FindLibNeurosim must be updated to take py2/py3 into account"
Now that libneurosim provides:

- libpy2neurosim and libneurosim for py2
- libpy3neurosim for py3

the FindLibNeurosim.cmake file would need to be modified to take the python version into account. If we're building with py2, it should look for the first ones, otherwise the second one.

[2018-11-26 11:09] #1031 closed

[2018-11-26 11:37] heplesser commented on #1043
Discussed in VC 26 Nov. Combine user-friendly cmake options as suggested by @jakobj and @Silmathoron and @jougs' suggestion for full control. To be implemented asap and included in NEST 2.16.1.

[2018-11-26 13:16] janhahne commented on #1074
Fixed by #1076

[2018-11-26 13:16] #1074 closed

[2018-11-27 20:23] srijanie03 opened #1082 "Import nest works but nothing after that does"
Hi All,

I have been trying to install NEST on MacOS X - Sierra with Python 3.5. I have done it using Homebrew and also manually as suggested in http://www.nest-simulator.org/installation/.

While trying to install it manually, I get the error - `FileNotFoundError: [Errno 2] No such file or directory: '/Users/Srijanie/anaconda/lib/python3.5/site-packages/cmake/data/CMake.app/Contents/bin/cmake` th

[2018-11-28 19:34] clinssen commented on #1034
Work-in-progress: https://github.com/nest/nest-simulator/compare/master...clinssen:traces-refactor

I added a cached version of the postsynaptic trace to the Archiving_Node so that the value can be queried by GetStatus(). Although the added code is very lightweight, it would be ideal to wrap this around an "#ifdef DEBUG" or something similar.

![traces](https://user-images.githubusercontent.com/41

[2018-11-29 08:11] ricardomurphy opened #1083 "Errors detected during the run of the NEST test suite"
[reports.zip](https://github.com/nest/nest-simulator/files/2628146/reports.zip)
Hello,
I am trying to install NEST on the Abel cluster at the University of Oslo. Things seemed to be going more-or-less OK but I received this message at the end (error report attached):

NEST Testsuite Summary
----------------------
  NEST Executable: /usit/abel/u1/ricardom/nest-2.16.0/bin/nest
  SLI Executable : /us

[2018-11-29 08:54] ricardomurphy commented on #1083
Hello Hans Ekkehard.
Thanks for your response. Yes I'm using an Intel compiler so I'll try
again with -Dwith-optimize="-O3 -fp-model strict". Actually I already
have -Dwith-python=3, here's my script:
module purge
module load python3/3.5.0
module load gsl/2.2
module load intel/2018.1
module load libtool/2.4.6-foss-2016b
module load cmake/3.7.1
module list
cmake -DCMAKE_INSTALL_PREFIX=$HOME/nest-2.

[2018-11-30 14:12] ricardomurphy commented on #1083
Hello again Hans.
NEST seems to be working on Abel. Just to let you know, I tried
the "-O3-fp-model strict" but I got lots of messages about
an unrecognised option (or words to that effect; also with "-O2".
So I tried omitting the "-O#", i.e.:

module purge
module load python3/3.5.0
module load gsl/2.2
module load intel/2018.1
module load libtool/2.4.6-foss-2016b
module load cmake/3.7.1
module lis

[2018-11-30 14:23] ricardomurphy commented on #1083
Sorry Hans! I just realized that I (probably) omitted the space between -O3 and -fp. So to be on the safe side perhaps I'd better compile again.
Ricardo

[2018-12-02 22:47] gtrensch commented on #1006
Pull request #1084 created.

[2018-12-03 09:03] ricardomurphy commented on #1083
Hellolo again.
The -Dwith-optimize="-O3 -fp-model strict" option (with the space!)
worked fine and I was again able to reproduce our earlier single-cell
results (yet to try a network).Thanks a lot.
Ricardo

___________________________________

Dr. Ricardo Murphy,
University of Oslo,
Department of Molecular Medicine,
Physiology Section,
Pb. 1103, Blindern,
0317 Oslo

Tel:   95333157
Fax: 22851249
E

[2018-12-03 16:06] apdavison opened #1085 "`GetConnections` does not seem to filter by synapse label when only the `target` attribute is given."
Description of problem: `GetConnections` does not seem to filter by synapse label when only the `target` attribute is given.

Version-Release or Git commit: 2.16.0. This works with 2.14.0

How reproducible: Always

Steps to Reproduce:
[code]

Actual results:
[code]

Expected results:
[code]

[2018-12-03 17:08] heplesser commented on #1083
@ricardomurphy As all seems fine, I will close this one.

[2018-12-03 17:08] #1083 closed

[2018-12-03 17:38] jakobj commented on #1043
i've now implemented the cmake option to set the bit sizes of various target members, see https://github.com/jakobj/nest-simulator/tree/feature/cmake-target-customization. However, this does not seem to solve the problem, since in various other places, we also assume maximal/minimal sizes of rank, thread id, syn id, lcid, see for example https://github.com/jakobj/nest-simulator/blob/feature/cmake-

[2018-12-05 22:00] jougs commented on #1043
Many thanks for working on this and good luck with the cleansing ;-)

[2018-12-10 11:21] stinebuu commented on #1075
Hi @piewchee, are you still having this problem?

[2018-12-10 11:31] clinssen commented on #1082
Hi @srijanie03, thanks for your submission. Are you still experiencing the issue? In the case of the homebrew install, what might be going wrong is that you're importing a module called "nest", from a directory that also has a subdirectory called "nest". This confuses Python, so it would be better to start your Python session from another (empty) directory.

[2018-12-10 16:51] healther opened #1087 "Weird behavior (probably numerics) in iaf_psc_exp_ps for tau_m=tau_syn"
It seems as if the `iaf_psc_exp_ps` model has problems integrating synaptic input for `tau_m=tau_syn_*`. We think it is a problem with the implementation of the alpha-function, as it works for even slight differences between `tau_m` and `tau_syn`.

The following code produces the 4 attached plots (executed with nest 2.14.0 and reproduced by @jakobj on current master), bug found and reproducer code

[2018-12-10 16:55] jakobj commented on #1087
i've created the following patch that seems to eliminate the problem at least in this test case:

[code]

@JulianGoeltz please let us know whether this works also in more general cases
@jschuecker i think you've fixed a similar issue like this before, maybe you could have a look?

[2018-12-10 22:31] srijanie03 commented on #1082
Thank you @clinssen. Yes, I am still facing the problem.  I tried to call Python from another directory and then import Nest, but it says, "No module named nest".

[2018-12-10 23:46] #1075 closed

[2018-12-10 23:47] piewchee commented on #1075
I think it has been resolved.
Forgot how I resolved it.

Rgds

[2018-12-11 09:52] clinssen commented on #1082
Sorry, just a small rectification: the script, in combination with bash, is a little sneaky: just running it will have no effect, because the environment variables are only set within the environment of the script; once it terminates, you are back to your old env. To make the export statements in the script stick around, you have to invoke it (in bash, at least) as follows: `source nest_vars.sh`.

[2018-12-11 12:02] healther commented on #1087
FYI: Also this code executed with the unpatched nest@2.14.0 takes very long to terminate (i.e. we didn't wait until it finished, but >2mins) for the precise model, the imprecise one does terminate, but produces a valid looking plot for the normal model (I wouldn't bet on it not being numerically unstable though).

With the path by @jakobj both go through without any problems
[code]

[2018-12-11 13:25] AlexVanMeegen opened #1090 "Distributed inhibitory weights"
Dear all,

this is a follow up on existing but closed issues (#459 and #835): To the best of my knowledge, it is not possible to have inhibitory weights distributed according to a distribution with positive support (e.g. lognormal or exponential).

As a quick hack, I used the `sigma` parameter of the lognormal distribution to enable lognormally distributed inhibitory weights (similar to #835). I c

[2018-12-12 08:07] zhangysjlu opened #1091 "problem with NEST 2.16.0 installation (make)"
after configure nest and compile nest by make, the error appears:
![screenshot from 2018-12-12 13-03-38](https://user-images.githubusercontent.com/13186004/49855351-f147e300-fe27-11e8-81f7-e06466bf655a.png)

[2018-12-12 12:11] Spielzeug commented on #1082
I have the same problem on archlinux installing from aur: https://aur.archlinux.org/packages/nest/

It installs everything in /usr prefix, comparing the -Dwith-python=2 and -Dwith-python=3 installations the python3.7/site-packages/nest has only pynestkernel.so and nothing else while python2.7 has

https://gist.github.com/Spielzeug/d85b274ab3bb8be6d66b44d3cb6705bb

[2018-12-13 02:59] zhangysjlu commented on #1091
Dear Alex,

Yes, I am using anaconda  and virtual environment. I have followed your suggestion and recompiled the nest. Now, it works. Thank you very much!

[2018-12-14 13:31] janhahne commented on #506
@flinz @heplesser The status is that we finished the implementation and created a PR #1095. We are happy about any review/input.

[2018-12-14 15:57] alberto-antonietti opened #1096 "Strange performances of nest.GetConnections()"
_Originally posted by @alberto-antonietti in https://github.com/nest/nest-simulator/pull/920#issuecomment-409323965_

Follow-up of my comment on #920

[2018-12-14 16:42] alberto-antonietti commented on #1096
I have explored more systematically the performances of `GetConnections`, comparing NEST 2.14.0 and the current `master` (version `ad5ef5c`).

I have done three different tests, with the following code:

[code]
in three conditions:
1) PRE = 5k, POST = 5k, Total synapses: 25 M
2) PRE = 50, POST = 50k, Total synapses: 2.5 M
3) PRE = 50k, POST = 50,  Total synapses: 2.5 M

on an HPC node with 36 core

[2018-12-14 17:45] alberto-antonietti commented on #1096
I just tried to repeat some of those tests with `nest-3@c7ca105` (https://github.com/compneuronmbu/nest-simulator/tree/nest-3) and the times needed increased again  (roughly doubled the ones with `ad5ef5c`). Maybe this could be useful for developers workin on NEST-3.

[2018-12-17 22:39] heplesser commented on #1087
@jakobj I think you were referring to #71. Could you create a PR?

[2018-12-18 21:22] Silmathoron opened #1097 "Wrong handling of refractoriness with GSL"
In all GSL models except the aEIF, the refractoriness is not handled correctly: the GSL ``while`` loop should contain the refractoriness test.

See for instance the [``iaf_cond_alpha``](https://github.com/nest/nest-simulator/blob/master/models/iaf_cond_alpha.cpp#L100) for an example of the problem, and the [``aeif_cond_alpha``](https://github.com/nest/nest-simulator/blob/master/models/aeif_cond_al

[2018-12-19 12:51] #1042 closed

[2018-12-19 12:57] heplesser commented on #1097
@Silmathoron Thanks for discovering this. Actually, fixing this inside the `while` loop will not fully address the problem, since the call to `gsl_odeiv_evolve_apply()` will cause multiple evaluations of the right-hand side. One therefore needs to clamp inside the function evaluating the rhs, as in [ht_neuron](https://github.com/nest/nest-simulator/blob/84c9435810256522ab1c2cc642ff9a09db6d6637/mod

[2018-12-19 17:48] Silmathoron commented on #1097
Ow, didn't know that, thanks for the precision @heplesser!
Well, that makes things easier: all GSL models need to be corrected then ^^

[2018-12-20 06:37] steffengraber commented on #1077
Hi @heplesser  I think master builds are not allowed for bioconda:
„While supported by conda, git_url and git_rev are not as stable as a git tarball. Ideally a github repo should have tagged releases that are accessible as tarballs from the “releases” section of the github repo.“
https://bioconda.github.io/guidelines.html
What do you think?

In general this is not a problem. But how and where shou

[2019-01-07 09:32] hakonsbm commented on #1096
@alberto-antonietti Thank you for the benchmarks! I have created a PR (#1099) which should fix the performance issue.

[2019-01-09 10:45] #1073 closed

[2019-01-10 11:00] stinebuu opened #1100 "local_spike_counter does not handle multiplicity"
`local_spike_counter` does not take multiplicity into account when counting the spikes. By running the example below, you'll see that the `local_spike_counter` and `n_events` differ, but they should be the same. If we look at the delivered spikes (if we connect a `spike_detector`), we see that all spikes are delivered, so it is just the `local_spike_counter` that is the problem. I'll make a PR sho

[2019-01-11 08:51] clinssen commented on #1034
Following discussion with @abigailm, I adapted the unit test to include coverage for multiple pre- and post-spikes occurring within one (d_min) timestep. The figure shows the results as they ought to be, i.e., match between Python-computed reference (cyan trace) and NEST values obtained via GetStatus() (orange dots). In NEST, the trace values are sampled at regular intervals, namely, at each simul

[2019-01-11 16:58] suku248 commented on #1034
@clinssen Instead of not incrementing the access counter, could you try and make the `1` in [this line](https://github.com/nest/nest-simulator/blob/386fb6ed77615a197d6c16fa39c738d10804a484/nestkernel/archiving_node.cpp#L191) a `2` and check whether this also solves the problem?

[2019-01-14 10:18] hakonsbm opened #1102 "Too many connections on one thread leads to erroneous results"
Creating more than 2²⁷ = 134217728 connections with one synapse type on one thread leads to erroneous results when simulating. This is because the `Target` class uses 27 bits for storing the local connection index, `lcid`. New connections beyond those 134217728 therefore get the wrong `lcid`, leading to wrong results.

There are asserts in the `Target` class that check if `lcid` gets too high, but

[2019-01-14 13:35] clinssen commented on #1034
Thanks for your suggestion. Unfortunately this does not solve the issue. Let's put this on our agenda for tomorrow for further discussion.

[2019-01-15 13:32] jougs opened #1104 "Allow GetStatus to only retrieve a subset of the status dict"
PyNEST and the new simplified syntax of get formally already enables access to specific elements.
[code]
It would be nice to have this possibility in C++ to reduce the memory requirements for the status dict in cases when only some elements are needed. Especially in recorders, this could cut down the memory requirements a lot, if the event data is not requested at all. Solving this probably requir

[2019-01-16 09:40] albada opened #1106 "upgrade licence to GPL v3"
For the Potjans & Diesmann model in OpenSourceBrain, Padraig Gleeson suggested bringing the different versions (PyNN, NEST) under a common licence, namely GPL v3. This would thus require NEST to be under GPL v3. For information about this new version of the licence, see: https://www.gnu.org/licenses/gpl-3.0.en.html

[2019-01-16 22:48] heplesser commented on #1106
NEST is under GPL v2 *or later*, where the "or later" decision is a the discretion of the user. So if you would like to use NEST under GPL v3, your are most welcome to do so.

[2019-01-17 07:30] ikitayama opened #1107 "Too many failures from the installcheck target on JURON"
<del>Upstream NEST built with LLVM/Clang 7.0.0 couldn't pass lots of tests provided by the
installcheck target on JURON. As on an x86 box, there's no failure found from the same
set of tests, JURON should be executing periodically with help from the CI system.</del>
[reports.tar.gz](https://github.com/nest/nest-simulator/files/2767477/reports.tar.gz)

[2019-01-17 11:13] ikitayama opened #1108 "symbol lookup error reported during the execution of NEST's testsuite"
The NEST binary built with the XL compiler for the ppc64le platform (AKA POWER8) doesn't
seem to pass the Phase 1 tests see:

[code]

I'm on the master branch of the upstream NEST.

[2019-01-18 01:12] ikitayama commented on #463
This test fails on JURON with the following messages:
[code]

I'd happy to provide more information if needed.

[2019-01-18 01:13] ikitayama commented on #463
@heplesser could you re-open this Issue? Thanks.

[2019-01-18 01:57] ikitayama commented on #1107
I built the master branch of NEST again on JURON with Clang and did `make installcheck'
[code]

Is it a good idea to revisit the issues fixed in the past but failed again on JURON
one-by-one? Or uploaded logs are enough to investigate the issues further?

[2019-01-18 06:33] ikitayama commented on #1107
Closing. Discuss the issue in #1070.

[2019-01-18 06:33] #1107 closed

[2019-01-18 10:35] albada commented on #1106
Okay!

[2019-01-18 10:35] #1106 closed

[2019-01-20 14:23] L24358 opened #1109 "Error on set_local_device_id"
Hi,
I've installed NEST and COREM in Ubuntu 18.04 with python 2.7. No errors occurred while installing. I can successively run corem by typing `./corem Retina_scripts/example_1.py` in the command line. And I can import nest using "import nest" in python2.7. However when trying to run sample code NEST_scripts/example1.py, it shows the error:
![screenshot from 2019-01-20 22-07-21](https://user-image

[2019-01-23 14:30] #1100 closed

[2019-01-23 16:55] trudeaun commented on #1108
Do you know what version of XL compiler is being used? You can run `xlc --version` [[doc link](https://www.ibm.com/support/knowledgecenter/SSXVZZ_16.1.1/com.ibm.xlcpp1611.lelinux.doc/compiler_ref/opt_version.html)] to find out. Give it a try with the latest one, [IBM XL C/C++ for Linux 16.1.1](https://www.ibm.com/us-en/marketplace/xl-cpp-linux-compiler-power) (Community Edition available free of c

[2019-01-24 13:11] stinebuu commented on #1109
@L24358 Your problem seems to be that COREM has not updated their external module in quite some time, so it is no longer compatible with the newest version of NEST. NEST 2.16 made some changes to the way models are defined, and this also impacts models in external modules. You can see [here](https://nest.github.io/nest-simulator/model_conversion_5g) for a guide on how to update the model in the mo

[2019-01-25 12:32] A13k2 opened #1110 "pass kwargs to plotting function in raster_plot.py"
I was trying to find a solution for outputting smaller pdf files for raster_plot and rasterized=True does so, but it didn't get passed to the actual plot function.
Passing args to pylab.plot(...) in _make_plot does the trick for me.
Hope this helps :)

[2019-01-30 12:20] #179 closed

[2019-01-31 01:33] ikitayama commented on #1070
Here's an updated backtrace from NEST built with the latest LLVM/Clang trunk (note that GCC is 7.2.0) with OpenMP offload flags. There seems to be no libcxx available for ppc64le, so its is ok
to use GCC's C++ runtime library though, I am not sure about as to why I am seeing host gcc's version number in it.

[code]

[2019-01-31 12:01] ikitayama commented on #1070
@heplesser I appreciate your input on this.

[2019-02-01 17:56] jakobj commented on #1087
sure, i'll create a PR

[2019-02-03 19:09] sepehrmn commented on #606
A great deal has changed on this as the theoretical foundations were not stable as previously thought, and project evolved. I will be happy to present the work on 2019 03 04 or later to facilitate the process. I should be done with network unit tests in a few weeks and will update.

[2019-02-04 03:47] ikitayama opened #1113 "symbol lookup error on JURON"
I get the below symbol lookup error when executing NEST on JURON

[code]

I built NEST from the HEAD using the trunk 9.0.0 LLVM/Clang. I can provide the binary and the
script upon request.

[code]

[2019-02-05 10:48] ikitayama commented on #1113
I wasn't just installing the NEST binary onto the correct destination.

[2019-02-05 10:48] #1113 closed

[2019-02-05 12:21] janhahne opened #1114 "Connections without delay cannot be created with Topology"
Currently the creation of connections without delay (e.g. `rate_connection_instantaneous`) is not possible with Topology.

Example
[code]
raises
[code]

A fix for this was already included in #960. This PR was however closed due to unrelated problems with `make_symmetric`. I will create a PR soon.

[2019-02-06 09:26] Silmathoron commented on #329
An update on the issue of spike detection with the HH model, I have been playing with BRIAN lately and noticed that they have an example of HH where they use the sodium gate variable ``m`` to detect spike events and handle refractoriness.
This intuitively sounds like an interesting way of doing it, so I'm adding it here for reference:
[https://brian2.readthedocs.io/en/2.0rc/examples/compartmental.

[2019-02-11 03:46] ikitayama commented on #1070
I'm still observing the run-time issue (LLVM/Clang toolchain is today's at the tip of trunk, loaded GCC module version is 7.2.0):

[code]

[2019-02-11 03:48] ikitayama commented on #1070
The C++ run-time library seems to be linked, at least the ldd says:
[code]

[2019-02-11 03:50] ikitayama commented on #1070
Comments from the NEST community are greatly appreciated.

[2019-02-11 04:23] ikitayama commented on #1070
Sidenote 1: lib{cxx, cxxabi} on ppc64le is currently doesn't build due to a GCC bug see:

https://bugzilla.redhat.com/show_bug.cgi?id=1538817

and,

https://bugs.llvm.org/show_bug.cgi?id=39696

[2019-02-17 04:44] EricThomson opened #1124 "Remove pylab from pynest"
I'm curiouis how people would feel about removing `pylab` from the docs/examples. It's a bit of a namespace wrecker, and teaches new programmers bad habits (under the hood, it includes `from numpy import *` and `from matplotlib import *`). It is officially deprecated and discouraged by the Matplotlib developers. For instance, in the [matplotlib usage guide](https://matplotlib.org/tutorials/introdu

[2019-02-17 07:06] ikitayama commented on #1124
👍

On Sun, Feb 17, 2019 at 13:44 Eric Thomson <notifications@github.com> wrote:

[2019-02-18 10:56] jessica-mitchell commented on #1124
Thank you for bringing this to our attention. We would happily accept a pull request implementing these changes!  Do you want to work on this?

[2019-02-18 13:49] EricThomson commented on #1124
Sure: I will reference this issue when I make the pull request(s).

[2019-02-18 17:34] #728 closed

[2019-02-18 18:44] #554 closed

[2019-02-19 11:50] #1114 closed

[2019-02-20 18:36] #677 closed

[2019-02-21 15:28] clinssen commented on #1082
@srijanie03 : any updates? If the issue has been resolved, could you please share with us how you solved it?

[2019-02-22 15:12] heplesser commented on #1109
Closing this issue since it is an issue in an external module.

[2019-02-22 15:12] #1109 closed

[2019-02-22 15:13] heplesser commented on #1110
Closing this issue as it is not directly related to NEST. Other users will still be able to find the solution suggested among the closed issues.

[2019-02-22 15:13] #1110 closed

[2019-02-22 15:17] heplesser commented on #1108
@ikitayama I will close this issue for now. Feel free to re-open (or to ping me to re-open).

[2019-02-22 15:17] #1108 closed

[2019-02-22 15:39] EricThomson opened #1130 "Phase 5 Tests all fail with ' Open MPI does not support recursive calls of mpirun'"
I'm building `nest-stimulator` directly from a fork of the repo. things are largely working ok. I ran cmake with:

While `make` and `make install` ran ok,  phase 5 of the tests (for mpi) all failed with something like:

I've attached TEST-core.phase_5.xml (note changed extension to `txt` otherwise it wouldn't let me attach). [TEST-core.phase_5.txt](https://github.com/nest/nest-simulator/files/2894

[2019-02-22 15:44] heplesser commented on #1070
@ikitayama This looks very strange. The error occurs when NEST is setting up, specifically, when loading the modelsmodule and this instantiating all model prototypes. During this process, it NEST creates the recordables map for each model, and things go wrong while inserting into that map, which is a standard `std::map`, so it should be rather safe to use. The process also may introduce new names

[2019-02-22 15:53] heplesser commented on #1124
@EricThomson I am a bit surprised you closed this issue already. Usually, we keep issues open until the pull request solving the issue has been merged. I reopen, feel free to close again if I got it wrong.

[2019-02-22 22:18] EricThomson commented on #1124
helplesser sorry I am sort of new to how to do this kind of thing. :)

[2019-02-23 02:45] ikitayama commented on #1108
Ok

On Sat, Feb 23, 2019 at 0:17 Hans Ekkehard Plesser <notifications@github.com>
wrote:

[2019-02-23 08:18] heplesser opened #1132 "Replace pep8 by pycodestyle in static code analysis"
The `pep8` tool has been renamed to `pycodestyle`:
[code]
We should update our static code analysis scripts.

[2019-02-25 09:51] steffengraber commented on #210
I have created a NEST build recipe here: https://github.com/steffengraber/conda-nest
And then there are two Anaconda packages that can be installed in this way:

`conda install -c steffengraber -c conda-forge nest=v2.16.0`

or for master

`conda install -c steffengraber -c conda-forge nest=master`

Feel free to copy and use, but it would be nice to receive some feedback on this.

[2019-02-25 09:54] steffengraber commented on #1077
The topic belongs to #210

[2019-02-25 10:27] heplesser commented on #329
When addressing this issue, also check other affected models, e.g., `hh_cond_beta_gap_traub`.

[2019-02-25 12:46] clinssen opened #1134 "NEST version information is inconsistent"
External tools (e.g. NESTML) should be able to query the version number of the current NEST build/install on a machine. Currently, the returned version numbers are inconsistent.

E.g. when running on my local branch, which was forked from master a few weeks ago:

    $ ~/nest-simulator-build/bin/nest

                  -- N E S T --
      Copyright (C) 2004 The NEST Initiative

     Version: trace

[2019-02-26 05:34] EricThomson commented on #1130
Maybe I am wrong to expect these tests to pass on my local machine (i.e., naively, I thought it would test it by spawning multiple processes on my single machine and calling `mpirun ...` on these processes). Maybe I needed to do more to set it up?  If so I will close this issue.

At any rate, it doesn't really matter I'm just using threads currently and it works great, so in practice it will be a

[2019-02-27 10:00] janhahne opened #1136 "Inconsistent naming of protected variables/functions (with or without trailing underscore)"
From the [NEST coding guidelines](https://nest.github.io/nest-simulator/coding_guidelines_c++#variables-and-class-members) it is not clear if `protected` functions and members should have a trailing underscore. So far the handling of protected variables/functions seems to be inconsistent, see e.g., https://github.com/nest/nest-simulator/blob/master/nestkernel/archiving_node.h#L181 and https://gith

[2019-02-27 20:35] heplesser commented on #1136
@janhahne Thank you for pointing this out! I think all methods that are not part of the public interface of a class should carry the `_` in their name to indicate that they are an implementation detail.

[2019-03-01 10:39] steffengraber opened #1138 "`run_examples.sh` can not find examples"
This is just a smaller issue.

If you want to run `run_examples.sh` in an installation of NEST in `NEST_INSTALL_DIR/share/doc/nest/` it fails, because it can not find `../examples`.

You might be able to change this by adjusting `NEST_SOURCE/examples/CMakeLists.txt` in line 20, or changing `run_examples.sh` in line 50 - the latter would cause other problems again.

[2019-03-04 00:39] ikitayama commented on #1070
@heplesser some neuron models are at the initial stage, successfully registered, but not all
of them as you pointed out.

[2019-03-05 09:17] babsey opened #1140 "Segmentation fault in inhomogeneous poisson generator"
We occur this issue when we create inhomogeneous poisson generator with parameters. However, it works when we create this stimulator without parameters and then set parameter values.

To view the issue, we implemented two examples. This will crash:
[code]

Interestingly, this code works:
[code]

We used ipython (6.2.1 - 6.4.0) for Python 3.6.5 with NEST 2.16.0.

I created the issue for these reaso

[2019-03-06 00:12] ikitayama commented on #1070
@heplesser

Currently I'm not offloading any pieces of the NEST code yet, I'm just building NEST with the appropriate OpenMP offloading flags on top of the default one.

[2019-03-06 03:23] EricThomson commented on #1140
I see the same thing (Nest 2.16, Python 3.7 -- I ran it from the command line and got a segfault).

[2019-03-06 09:31] hakonsbm opened #1141 "Restore PyNEST functions to the top level module"
With the restructuring of PyNEST in #1058, some low-level functions are no longer available from the top level `nest` module, but hidden in either `hl_api` or `ll_api`, which is great.

However, there are some functions that are not in the top level which could belong there:
- `PrintNetwork`
- `message`
- `set_verbosity`
- `get_verbosity`

Most of these functions are used in examples, so if we dec

[2019-03-06 15:05] hakonsbm commented on #1140
When a node is created with parameters, the default parameters are temporarily changed. It is when resetting the default parameters to the old value things go wrong, because the inhomogeneous poisson generator doesn't handle setting empty `rate_times` and `rate_values` vectors (specifically it goes wrong when it tries dereferencing the first value in the empty vector, leading to the segfault).

I'

[2019-03-08 15:09] jessica-mitchell commented on #226
@heplesser It looks like the documentation in ` iaf_psc_delta_canon` has been corrected:

Compared to `iaf_psc_alpha_canon` :

Is this statement in the `iaf_psc_delta_canon`  accurate? Should the same text be used for `iaf_psc_alpha_canon`?

[2019-03-13 12:27] #226 closed

[2019-03-13 15:20] pedroernesto commented on #1091
The comments in this issue have been really useful to build NEST on miniconda2 as well. After running `make installcheck`, the installation gets these stats:

     Passed: 834
     Skipped: 10 (9 PyNEST)
     Failed: 0 (0 PyNEST)

However, after `import nest`, submodule _sli_ can not be imported yet:

---------------------------------------------------------------------------

<ipython-input-2-07c

[2019-03-13 20:50] heplesser commented on #1087
Fixed by #1112, thus closing.

[2019-03-13 20:50] #1087 closed

[2019-03-13 21:23] heplesser commented on #1091
@pedroernesto I assume you have built NEST from the master branch in the github repo, not from the NEST 2.16.0 release. With #1058 we reorganized the low-level parts of the NEST Python interface. You now need to use
[code]

[2019-03-14 08:16] babsey commented on #1141
Thank you for this assignment. I will take care of the issue.

Before I work on I would like to know your thoughts of Hakon's concerning.

[2019-03-14 08:24] #981 closed

[2019-03-14 09:30] apeyser commented on #564
It shouldn't be exec, but it shouldn't be static either, but  should use importlib module (which probably doesn't fix PyCharm, but it's still cleaner than this).

[2019-03-15 01:53] ikitayama opened #1151 "Flag -Dstatic-libraries=ON doesn't warrant a production of a static linked NEST binary when XL is used on JURON"
#1084 isn't enough to fix static linking issue with XL, to say the least.

Steps to reproduce:
[code]

[2019-03-15 10:11] pedroernesto commented on #1091
yes, I built NEST from the master branch on GitHub. Thanks for the quick response.

[2019-03-18 11:11] #1140 closed

[2019-03-18 11:23] #1102 closed

[2019-03-18 17:23] pedroernesto commented on #1063
When building NEST inside a Miniconda2 Python environment, just at the end I get this error message when linking against the `libneurosim` package installed at /usr/local/. The same happens if `libneurosim` is installed inside the same environment (and found by NEST at such location).
Note: The Miniconda environment is being setup and NEST configured according to this issue:
https://github.com/nes

[2019-03-18 17:35] sanjayankur31 commented on #1063
This is probably worth a new issue at libneurosim @pedroernesto . I've not seen it on a standard Fedora install that we're building NEST for so it's something to do with your environment from the looks of it:

- https://koji.fedoraproject.org/koji/buildinfo?buildID=1211488
- https://koji.fedoraproject.org/koji/packageinfo?packageID=27709
- https://src.fedoraproject.org/rpms/nest/blob/master/f/nest

[2019-03-19 08:23] pedroernesto commented on #1063
Yes, It seems so. When building NEST outside the Miniconda environment:

`conda deactivate`
`cmake -DCMAKE_INSTALL_PREFIX=$HOME  -Dwith-libneurosim=ON  -Dwith-mpi=/usr/include/mpi -Dwith-gsl=/usr/include/gsl -Dwith-python=2`

only some warnings show up, but NEST is built:

Scanning dependencies of target nest
[ 97%] Building CXX object nest/CMakeFiles/nest.dir/main.cpp.o
[ 97%] Building CXX object

[2019-03-19 15:11] jakobj opened #1152 "Support current versions of clang-format"
nest requires clang-format in the exact version 3.6. the current release version in 7. the configuration file should be updated to work with the more recent versions to make life easier for people who are not stuck with, e.g., ubuntu 16.04 lts (https://www.howtoinstall.co/en/ubuntu/xenial/clang-format-3.6).

[2019-03-19 20:29] #1085 closed

[2019-03-19 20:29] #1096 closed

[2019-03-20 16:53] alberto-antonietti commented on #1096
Thank everyone for the PR.
Just as a follow-up, these are the performances after the merging of the PR.
There is a considerable improvement for condition 1 (except using 4 threads) and condition 2.

Condition 1) PRE = 5k, POST = 5k, Total synapses: 25 M
Condition 2) PRE = 50, POST = 50k, Total synapses: 2.5 M
Condition 3) PRE = 50k, POST = 50, Total synapses: 2.5 M

1)
| CONNECTIONS

[2019-03-22 10:15] jougs commented on #700
@jakobj: In #1071, I've fixed the second point you mention. Can you please file a PR for the first to substantiate your bold statement above? :muscle: :wink:

[2019-03-24 23:07] jakobj commented on #700
hmm, my 2017 self was apparently a bit ambitious. does setting verbosity via the commandline work for you for any level, e.g.,
[code]
for me it looks like the comparisons in https://github.com/nest/nest-simulator/blob/master/sli/slistartup.cc#L282 fail as soon as the verbosity level has more than three characters?!

[2019-03-25 00:23] jiaweiwuwu opened #1154 "nest problem"
$ python3 neuralnet.py
Traceback (most recent call last):
  File "neuralnet.py", line 14, in <module>
    from pyNN import nest
  File "/home/jiwu/.local/lib/python3.6/site-packages/pyNN/nest/__init__.py", line 18, in <module>
    from . import simulator
  File "/home/jiwu/.local/lib/python3.6/site-packages/pyNN/nest/simulator.py", line 257, in <module>
    state = _State()  # a Singleton, so only

[2019-03-25 00:25] jiaweiwuwu commented on #1154
anyone can help?

[2019-03-25 00:29] jiaweiwuwu commented on #1154
anyone can help _,?will be very thankful

[2019-03-25 08:15] Silmathoron commented on #1154
Hi @jiaweiwuwu I'm not a PyNN user so I can't help much, but we would need some additional information before we can tell you anything.

- Did you install NEST and was the installation successful?
- Can you run ``import nest`` directly in python without going through PyNN?
- What is your platform (OSX, a linux)?
- Do you have other python versions installed? If so on which python did you install N

[2019-03-25 12:46] Silmathoron opened #1155 "Specify python version in library filenames"
Currently, NEST cannot be installed locally or system-wide for several Python versions because the libraries files are python specific but would all have the same name.
Should we not fix this problem by using the [``OUTPUT_NAME``](https://cmake.org/cmake/help/latest/prop_tgt/OUTPUT_NAME.html) keyword of the [``add_library``](https://cmake.org/cmake/help/latest/command/add_library.html#normal-libra

[2019-03-26 01:28] jiaweiwuwu commented on #1154
Am 2019-03-25 09:15, schrieb Tanguy Fardet:

Dear Farde,

thank you very much for your Answer.I did install Nest successful,and
import nest with PyNEST==2.8.0,also, i am using linux Ubuntu18.04,my
python version is python3.Here is my Projekt that leads to this
Problem."https://github.com/danielgeier/ml2-spiking" [4].

Best regard

Links:
------
[1] https://github.com/jiaweiwuwu
[2]
https://github.

[2019-03-26 17:01] #247 closed

[2019-03-27 02:55] ikitayama opened #1156 "Configuring NEST with the XL option -static doesn't work on JURON"
@gtrensch at al.,
As only dynamically linked applications are supported on JURON, simply passing -static onto XL compiler does build a non-runnable binary (-Dstatic-libraries=ON).

In my quick glance at cmake/ProcessOptions, when it gets executed JURON specific variables are not visible yet, so I'm not sure how we should tell the build system to use -qstaticlink=xllibs instead.

For now, I'm editi

[2019-03-27 08:37] ikitayama commented on #1151
Setting -static or -qstaticlink=xllibs solves this. See #1156 for further build configuration discussion.

[2019-03-27 08:37] #1151 closed

[2019-03-28 16:10] jougs commented on #700
hmm, you might be right.

Executing
[code]
gives me three times `10`. This indeed suggests that something with setting the verbosity is fishy... Could you look into this?

[2019-03-31 23:13] ikitayama opened #1158 "Clang: -Dstatic-libraries produces a dynamically linked NEST on Arm"
@gtrensch Building statically linked NEST with the trunk Clang produces a dynamically linked NEST.

Steps to reproduce:
[code]

[2019-03-31 23:22] ikitayama commented on #1158
GCC 8.2.0 produces a statically linked NEST as expected with the -Dstatic-libraries variable set to ON.

[2019-03-31 23:22] ikitayama commented on #1158
Not formally tested on x86, but the results should be the same.

[2019-04-02 11:30] stinebuu commented on #1154
@jiaweiwuwu NEST 2.8.0 is quite old (it was released in 2015), our newest version is NEST 2.16, is there any reason why you are using an old version of NEST?

I am also wondering if you have made sure you have placed NEST in your `PYTHONPATH`?

I suggest you install NEST 2.16 and then run
[code]
before checking if the problem persist.

[2019-04-02 11:33] stinebuu commented on #1138
Is this fixed with #1117 ?

[2019-04-02 18:35] jiaweiwuwu commented on #1154
Am 2019-04-02 13:30, schrieb Stine Brekke Vennemo:

Dear Stine Brekke Vennemo,

thank you very much for your Help.

Best wishes

Links:
------
[1] https://github.com/jiaweiwuwu
[2]
https://github.com/nest/nest-simulator/issues/1154#issuecomment-478955687
[3]
https://github.com/notifications/unsubscribe-auth/ArdR81YaY5cmqId35fFnhUxzhgIIwgyIks5vcz9qgaJpZM4cF28u

[2019-04-03 12:51] stinebuu commented on #1154
@jiaweiwuwu no problem! Did it solve your problem?

[2019-04-04 10:35] steffengraber commented on #1138
@stinebuu No, unfortunately not. I left my comment at #1117.

[2019-04-05 15:12] gtrensch commented on #1138
I have corrected this in PR #1117 and waiting for review.

[2019-04-05 16:23] clancylea opened #1162 "Do you have some case run nest on ARM-FPGA cluster？"
Hello，i want to study nest using ARM-FPGA（ZYNQ） cluster.Recently,i have run on ARM cluster.
But,i found the process with FPGA have some difficulty.
Do you have some case run nest at FPGA cluster.

Others questions:
First,can i use my arm-linux cross-compile to compile nest?
Second,could i run nest without SLI？
Thanks!

[2019-04-08 11:51] steffengraber commented on #1138
Just tried and it works with #1117! I Think it is ok to close this issue.

[2019-04-08 12:30] #1138 closed

[2019-04-08 12:36] terhorstd opened #1164 "Test for broken ABI dependencies with specific environments"
The PR #1153 that is intended to be a test for a probably broken ABI using a very specific conda environment, but is rejected due to heavy data dependency. There should be a test, but with a more specific call to the respective broken library call.

[2019-04-08 13:21] #1034 closed

[2019-04-08 13:48] #1164 closed

[2019-04-08 14:08] heplesser commented on #274
Glossary is available in master, thus closing.

[2019-04-08 14:08] #274 closed

[2019-04-08 14:08] jougs commented on #274
This is now on read-the-docs: https://nest-simulator.readthedocs.io/en/latest/glossary.html

[2019-04-08 14:17] heplesser commented on #332
Closing due to inactivity.

[2019-04-08 14:17] #332 closed

[2019-04-08 14:19] heplesser commented on #346
Leave 59 hour limit for now, but add overflow check.

[2019-04-08 14:27] heplesser commented on #362
This cannot be fixed until NEST becomes more aware of units, therefore closing.

[2019-04-08 14:27] #362 closed

[2019-04-08 14:27] heplesser commented on #370
@Silmathoron Ping!

[2019-04-08 14:36] heplesser commented on #506
Closing as #1095 has been merged a little while ago.

[2019-04-08 14:36] #506 closed

[2019-04-08 14:41] heplesser commented on #522
To be addressed via NESTML.

[2019-04-08 14:49] heplesser commented on #525
- Deprecate in NEST 2.18
- Remove in NEST 3

[2019-04-08 14:55] heplesser commented on #533
@sdiazpier Ping!

[2019-04-08 19:20] Silmathoron commented on #525
@jougs @heplesser so what are the functions that will replace it?

[2019-04-08 19:22] Silmathoron commented on #370
@heplesser I assume this means that we go for the GSL version then ;) I'll try to do that tomorrow

[2019-04-09 07:00] heplesser opened #1167 "Revise deprecated decorator in transition to NEST 3."
The `deprecated` decorated in `hl_api_helper.py` is still designed to handle the transition to "NewConnect" as the default deprecation case. Deprecations for NEST 3.0 already work around these defaults. In the NEST 3 branch, where all these deprecations are removed, we need to revise the `deprecated` decorator to allow flexible handling of deprecations in the future.

The issue should also review

[2019-04-09 07:03] #361 closed

[2019-04-09 07:58] heplesser commented on #537
Discussed in Hackathon 9 April 2019: Remove without replacement in NEST 3.0. If required, consider new implementation based on connection generator interface.

[2019-04-09 08:14] heplesser commented on #564
Closing, the work in #1150 goes a way to addressing this, a perfect solution is not possible.

[2019-04-09 08:14] #564 closed

[2019-04-09 08:23] heplesser commented on #639
@lekshmideepu Ping!

[2019-04-09 08:23] heplesser commented on #641
@lekshmideepu Ping!

[2019-04-09 08:26] heplesser commented on #697
Won't fix as this problem never seems to occur in practice and is easily detected if it should.

[2019-04-09 08:26] #697 closed

[2019-04-09 08:43] terhorstd commented on #756
Since this would more be a debug strategy than a test that would need to run continuously (especially since it causes longish run times), we decided to close this after adding some notes in the developer documentation.

[2019-04-09 08:47] jougs commented on #797
This will be solved by https://github.com/nest/nest-simulator/issues/1028.

[2019-04-09 10:20] heplesser opened #1168 "Revise test_post_trace notebook"
The `model_details/test_post_trace.ipynb` notebook should be revised to become more of a tutorial exposition. It should also be linked from `guides/index.rst`.

[2019-04-09 11:38] heplesser commented on #806
@janhahne Ping!

[2019-04-09 11:41] heplesser commented on #880
Closing due to inactivity.

[2019-04-09 11:41] #880 closed

[2019-04-09 11:47] heplesser commented on #820
Model should be re-created using NESTML, including tests.

[2019-04-09 11:49] heplesser commented on #921
Closing due to inactivity.

[2019-04-09 11:49] #921 closed

[2019-04-09 11:53] heplesser commented on #923
We do not see an easy solution for this right now. I therefore close this issue for now.

[2019-04-09 11:53] #923 closed

[2019-04-09 11:57] jougs commented on #918
`SetNumRecProcesses` and the global spike detector have been removed from NEST with the [merge of 5g](https://github.com/nest/nest-simulator/pull/920).

`weight_recorder` was re-enabled in [NESTio](https://github.com/jougs/nest-simulator/tree/nestio/) in https://github.com/jougs/nest-simulator/pull/29 and will also support efficient writing in parallel and distributed.

[2019-04-09 11:57] heplesser commented on #971
@stinebu Ping!

[2019-04-09 12:00] heplesser commented on #1006
Closing, fixed by #1084.

[2019-04-09 12:03] heplesser commented on #1043
@jakobj Will #1088 fix the limitation on the number of synapse models?

[2019-04-09 12:09] heplesser commented on #1061
@jessica-mitchell Good idea, could you provide a PR?

[2019-04-09 12:11] jougs commented on #1064
Fixed by merge of #1111.

[2019-04-09 12:11] #1064 closed

[2019-04-09 12:12] heplesser commented on #1067
@ikitayama Is there anything new on this?

[2019-04-09 12:19] heplesser commented on #1077
We decided 9 April to not support a recipe in Bioconda, instead focusing on conda-forge. Thus closing.

[2019-04-09 12:19] #1077 closed

[2019-04-09 12:20] heplesser commented on #210
Request Bioconda to remove NEST recipe to avoid duplicity.

[2019-04-09 12:22] apdavison commented on #210
@heplesser I don't think you mean [duplicity](https://en.oxforddictionaries.com/definition/duplicity) :-)

[2019-04-09 12:29] jougs commented on #210
@apdavison: so you are in favor of duplicity or what?!

[2019-04-09 12:33] apdavison commented on #210
@jougs well if you're trying to avoid it now it rather suggests you were being duplicitous in the past... :D

[2019-04-09 12:42] jougs commented on #210
Touché!

[2019-04-09 12:53] jakobj commented on #1043
yes, the new default setting for `target-bits-split` supports 512 synapse models. the limitation remains however for the `hpc` setting.

[2019-04-09 13:06] Silmathoron commented on #370
Ok, I ended up wasting my day and actually did the propagator version... cheers!

[2019-04-09 16:53] terhorstd commented on #1152
This seems to be an intended upstream design decision: https://lists.llvm.org/pipermail/cfe-dev/2017-June/054351.html.
Seems like the only option is to fix the required version...

[2019-04-09 19:22] ikitayama commented on #1067
@heplesser building NEST with the clang trunk still shows the same effect. And it is known this happens at the module init phase, so the proposed Init refactor might save this situation.

[2019-04-10 12:58] heplesser commented on #1090
This will be addressed in a general way in NEST 3.

[2019-04-10 13:21] heplesser commented on #1152
Closing, since there is no general solution for this due to the nature of clang-format, as pointed out [above](https://github.com/nest/nest-simulator/issues/1152#issuecomment-481333599).

[2019-04-10 13:21] #1152 closed

[2019-04-10 13:22] #1141 closed

[2019-04-10 13:25] heplesser commented on #1155
@Silmathoron This sounds good! Would you be able to create a PR?

[2019-04-10 13:27] Silmathoron commented on #1152
@heplesser shouldn't we at least update it to the latest version so that people don't have to download and install a super old llvm and clang but just use one that is directly available on most systems (between 3.9 and 7)?
As somebody who just had to wait for everything to compile, I must say this is quite annoying...

[2019-04-10 13:28] Silmathoron commented on #1152
We don't have to change the file, just decide that starting 2.18+ we use it with cland-format-X (X>=3.9)

[2019-04-10 13:29] heplesser commented on #1156
@ikitayama Have you tried to modify the relevant `cmake/Platform/JURON_*` files to make sure the correct flags are used?

[2019-04-10 13:31] heplesser commented on #1158
@ikitayama Which linker flags are actually issued when you configure with clang?

[2019-04-10 13:31] Silmathoron commented on #1155
@heplesser yes, I can have a look in the coming weeks

[2019-04-10 13:32] apeyser commented on #1155
So -- how dimensional should the matrix be? Or should this be handled more as a module, with nest being installed in subdirectories that are tagged and added to PATH?

This is the same problem as multiple dependency on HPC systems: you could have NEST with no python and openmpi, NEST with python3.4 and mpich, NEST with python3.7 parampi and so forth, ad infinitum -- so solving this with tagging li

[2019-04-10 13:35] Silmathoron commented on #1155
@apeyser I was only thinking about Python, given how the python install works, I don't see how to make anything better than that...

[2019-04-10 13:36] ikitayama commented on #1158
$ cat nest/CMakeFiles/nest.dir/link.txt
[code]

[2019-04-10 13:39] ikitayama commented on #1156
@heplesser not yet, OK then I need to detect the -static and replace it with -qstaticlink=xllibs in CMAKE_CXX_FLAGS.

[2019-04-10 15:00] terhorstd opened #1173 "Protected members in Archiving_Node"
The implementation of the new  `Clopath_Archiving_Node` (introduced in #1095) throws up several questions and problems.

* `private` attributes of `Archiving_Node` became `protected` ([nestkernel/archiving_node.h:200](https://github.com/nest/nest-simulator/pull/1095/files#diff-592a988d91a508d329ba879d523e8d68L200)), which encourages intricate implementation dependencies (it is a "[code smell](http

[2019-04-10 15:06] terhorstd commented on #1136
This is a symptom of #1173 and should probably be addressed there. Basically, refactoring to not need protected. If this still remains, please open a new issue to fix the coding guidelines first.

[2019-04-10 15:06] #1136 closed

[2019-04-10 15:59] jougs commented on #1130
@EricThomson: I was already afraid that I'm the only one capable of getting this error. Thank you so much for also getting (and reporting) it ;-)

May I ask about the exact MPI implementation you are using, i.e. can you please send the output of `mpirun --version`?

I am working on a solution for this (and other issues with our current test setup) since quite some time in PR #1071. Unfortunately t

[2019-04-10 16:15] jougs commented on #1124
@EricThomson: Can you please tell us about the status of your PR? Thanks!

[2019-04-10 20:06] #1045 closed

[2019-04-10 20:10] heplesser commented on #1152
@Silmathoron Version 6 seems sensible, since it is the default on a number of current Ubuntu versions. But we will always be tied to a specific version, since part of the formatting is hard-wired in clang-format. A PR would be welcome, but other issues seem more important.

[2019-04-10 20:13] Silmathoron commented on #1152
@heplesser it's just that using a version which is not available anywhere anymore is a bit annoying... at least version 6 would let us breathe for a few additional months or years.
The pull request is pretty straightforward: just change a number in the file and run it, but it would mean that all other PRs should be updated accordingly.

[2019-04-11 08:56] clinssen opened #1175 "Source directory layout reorganisation"
As discussed during the Jülich NEST Hackathon of April 2019.

- [ ] Create a new `/src` directory and move all C++ and sli source files into here. E.g. `/nestkernel`, `/sli`, etc. are moved to `/src/nestkernel`, `/src/sli`, etc.
- [ ] PyNEST/SLI/C++ examples should be combined in `/examples`
- [ ] Create new subdirectories in the `/src/models` directory according to:
  - `stimulating_devices`
  -

[2019-04-11 10:35] janhahne commented on #1173
Here are some thoughts on this:

Without NESTML in the picture this structure is actually ideal: "Normal neurons" cannot use the Clopath synapse anyway, as they do not provide the necessary low-pass filtered versions of the membrane potentials
[code]
that are part of the GSL ODE-systems of the supported neurons and are needed for the calculation of the Clopath synapse. For that reason "normal" neu

[2019-04-11 12:22] #1043 closed

[2019-04-11 12:35] clinssen commented on #1173
Thanks to NESTML being based on a code generation philosophy, we are indeed quite flexible in our targeting. However, one of the arguments for changing the way NEST does things here, is that we wanted to avoid having to "co-generate" (i.e. simultaneously process) the neuron and its connected synapses. This means that shuffling the location of the parameters around (from synapse to neuron or vice v

[2019-04-11 12:55] hakonsbm commented on #588
Fixed with f98057a5a5add2fa08b2a0a062a63ae196e9e658, now in https://github.com/compneuronmbu/nest-simulator/tree/nest-3.

[2019-04-11 13:36] jougs commented on #1080
@sanjayankur31: would you be able to provide a PR fixing this? Thanks!

[2019-04-11 13:51] sanjayankur31 commented on #1080
Sure, please assign it to me. It'll take me 2--3 weeks to get this done with my current task-load, though. I hope that's OK.

[2019-04-11 13:52] jougs commented on #1080
It would take me even much longer atm ;-) Thanks for your support!

[2019-04-11 14:00] gtrensch commented on #1162
@clancylea NEST can be run on ARM 32bit. This has already been demonstrated with a Raspberry Pi cluster running with MPICH, and also with a Zynq 70xx SoC. Using the PL for acceleration is a subject of research. Since NEST relies on OpenMPI a Zynq-FPGA cluster would require a  communication fabric in the PL and a software stack/layer being able to abstract the implementation details away from NEST.

[2019-04-11 20:33] heplesser opened #1178 "Use proper multiline strings for message texts in hl_api"
As pointed out by @jougs [here](https://github.com/nest/nest-simulator/pull/1165/files/453b19942debd52b3bcad8933951b1e6a01c7f71#discussion_r274302893) in the review of #1165, the Python hl_api contains multiline strings defined in rather cumbersome ways, e.g.
- https://github.com/nest/nest-simulator/blob/453b19942debd52b3bcad8933951b1e6a01c7f71/pynest/nest/lib/hl_api_connections.py#L248
- https://

[2019-04-11 20:35] #525 closed

[2019-04-12 06:43] apeyser commented on #1155
You can do installs to different local paths, and then source the correct nest_vars.sh files. That can be integrated with various `modules` schemes to load the correct combinations of python, mpi, nest and so on.

I strongly suggest that as the better approach here.

So, instead of installing to /usr, install to /usr/libexec/nest2.16-python3.4-openmpi, /usr/libexec/nest2.16-python3.7-mpich/, ... a

[2019-04-12 10:47] clinssen commented on #346
@jougs: just a small clarification question: what exactly is the data that is being put into the uint_t field—is it the tic count, or the delay steps? The maximum value of a signed 32-bit int is 2**32-1, which would imply a maximum simulation time of (2**32-1)/60/60/1E4 = 119 hours, whereas if the data type is signed (32-bit int_t), it would come out as half that, i.e. 59 hours. This is assuming 1

[2019-04-12 11:35] janhahne commented on #1173
@clinssen I completely understand the decision that you want to avoid "co-generation" of neurons and synapses in NESTML. However, I am not sure that I fully understand the consequences regarding the Clopath synapse: After all the Clopath synapse needs the low-pass filtered versions of the membrane potentials from the neuron model, which means that there is a clear dependency between the neuron tha

[2019-04-12 15:12] Silmathoron commented on #1155
@apeyser what you are saying is correct but does not require anything on our part: this is something any user (provided the necessary knowledge) can already do.
Furthermore, such a setup would require additional work or knowledge on the user side because someone would have to decide which install is the default one... I don't really see how what you propose can be done easily (in the sense that it

[2019-04-15 07:43] hedyehrezaei opened #1179 "Make installcheck error"
Dear all,

I confronted an error while trying to install nest 2.16.0 on ubuntu:

$ make installcheck
Execute NEST's testsuite....

Phase 1: Testing if SLI can execute scripts and report errors
-------------------------------------------------------------
  Running test 'selftests/test_pass.sli'... Running  Apr 15 10:46:45 stop [Error]: No stopped context was found! Apr 15 10:46:45 Start [Error]: S

[2019-04-15 10:25] terhorstd commented on #1179
There seems to be something wrong in the setup of your paths, which is not a bug in NEST.
This is generally a discussion that is easier on the user [mailing list](https://nest-simulator.org/mailinglist), please subscribe there.

[2019-04-15 10:25] #1179 closed

[2019-04-16 10:19] jougs commented on #1175
This is closely related to #291.

[2019-04-16 14:53] jougs commented on #1175
In addition to cleaning things up, this also needs to take into account the [FHS](https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard) and commonly respected practice in the major distributions.

[2019-04-16 16:41] lekshmideepu opened #1180 "Module import error in Python Regression test issue-1034.py"
I came across the following error in a Travis OSX [build](https://travis-ci.org/lekshmideepu/nest-simulator/jobs/520817252#L5891) where Python was OFF.
[code]

Obviously this test must not be run in a non-Python environment.

Surprisingly, as you could see [here](https://travis-ci.org/nest/nest-simulator/jobs/517258036#L5461), this test was a success in other Travis builds (and also ran successful

[2019-04-16 16:41] lekshmideepu commented on #1180
Expect comments from @jougs , @clinssen , @heplesser

[2019-04-16 17:32] jougs commented on #1180
@lekshmideepu: I've extended and modified the description to reflect our joint view as I understood it from our F2F meeting earlier today. Feel free to edit if I misunderstood something.

[2019-04-16 17:33] clinssen commented on #1180
In an offline discussion, @jougs noted that it is possible to have Python test scripts in the `regressiontests` directory that do not rely on the PyNEST API, including the existing script `issue-779-1016.py`, which uses the Python "subprocess" module to invoke the `nest` binary directly. This makes it hard to distinguish between .py files that should always be run, and those that should only be ru

[2019-04-17 06:05] stinebuu commented on #971
@heplesser  I have just fixed this in the nest-3 branch, see f2242bc2576863bb5e514af07f275da6c84f1634. Should I close this, or are we waiting for the branch to be merged into master?

[2019-04-17 06:12] heplesser commented on #971
@stinebuu I think we decided to leave the issues open until NEST-3 is merged.

[2019-04-17 14:16] lekshmideepu opened #1181 "nest.init fails when going to fallback test harness"
As shown [here](https://travis-ci.org/lekshmideepu/nest-simulator/jobs/521221141#L6865),  nest.init(["--verbosity=WARNING", "--quiet"]) fails with AttributeError
[code]

[2019-04-17 14:46] jougs opened #1182 "Link helper libraries statically"
The NEST source code is split into several directories (`conngen`, `libnestutil`, `librandom`, `models`, `nestkernel`, `precise`, `sli`, `topology`), each built into a dynamic helper library. The `nest` executable (residing in the `nest` subdirectory) comes into existence by a bit of glue code and dynamically linking all of the helper libraries.

This issue demands that the setup is changed so tha

[2019-04-17 14:59] apeyser commented on #1155
Yes -- I'm proposing that module files be added to distributions.
If NEST is built by hand, the user should know what they're doing, and we should put this issue as a suggestion in the INSTALL.txt, in case people don't realize that they can build multiple NESTs by hand.

For distributions, it should be part of the distribution package construction process. That is the standard approach for such pr

[2019-04-17 15:35] Silmathoron commented on #1182
Out of curiosity, what is the advantage of linking statically compared to the current dynamical linking?

[2019-04-17 15:39] Silmathoron commented on #1181
Just to specify that we already know the solution since it just comes from an incorrect call: it should be ``nest.ll_api.init``

[2019-04-17 16:40] jougs commented on #1182
The main advantage is that static linking eliminates dynamic linking as a possible problem source ;-)

An example would be an issue we are currently seeing on [JURON](http://www.fz-juelich.de/portal/EN/Research/ITBrain/Supercomputer/JULIA_JURON/_node.html), where the system scheduler ([LSF](https://en.wikipedia.org/wiki/Platform_LSF)) also installs a library called `libtopology.so`. Due to the spe

[2019-04-17 17:54] ikitayama commented on #1182
gem5 requires apps be statically linked, for example.

On Thu, Apr 18, 2019 at 0:35 Tanguy Fardet <notifications@github.com> wrote:

[2019-04-17 18:32] Silmathoron commented on #1182
Ok, thanks!

[2019-04-18 13:12] lekshmideepu commented on #242
@heplesser  Short answer is "yes", but with restrictions. There is an interesting thread in the [Travis](https://github.com/travis-ci/travis-ci/issues/4604) and [intel](https://software.intel.com/en-us/forums/intel-c-compiler/topic/564473) pages.
As ICC is a proprietary software one cannot use it directly on Travis due to the licensing issues. But the good thing is, Intel has a special [licensing]

[2019-04-24 02:12] ikitayama opened #1184 "The -Wall option is obsolete"
There's a compiler which doesn't get along with the -Wall option out there. Platform specific file might be a workaround, but if that's overkill, what should we do?

[2019-04-24 14:46] lekshmideepu commented on #641
During the last hackathon, I had a discussion with @steffengraber  With the current docker image of NEST, it would be difficult to run it on Travis. Plan is to work together with Steffen once he is back from vacation.

[2019-04-25 06:25] hakonsbm commented on #250
Fixed with 41c4071cd5ed8746a0a1175aaef6332b9197dddc in https://github.com/compneuronmbu/nest-simulator/tree/nest-3

[2019-04-26 15:59] bgruening commented on #1077
Bioconda had the advantage to build automatic and minimal containers (https://quay.io/repository/biocontainers/nest?tab=tags). Please ping me if you want to have those containers for conda-forge as well.

Thanks!

[2019-04-29 13:15] terhorstd commented on #1184
Could you please be more specific which compiler can not handle the `-Wall` option? I suppose it is not that *all* compilers consider `-Wall` as obsolete, as your title seems to suggest...

If it is a very platform specific compiler, my first suggestion would be to either fix the compiler or write a wrapper (outside of NEST) that drops `-Wall`. Or is there a reason why this explicitly needs to be

[2019-05-01 08:21] ikitayama commented on #1184
If g++ didn’t understand the option then what would the wrapper look like?

On Mon, Apr 29, 2019 at 22:15 terhorstd <notifications@github.com> wrote:

[2019-05-02 13:47] jakobj opened #1185 "handles_test_event should return whether the target node can handle the event not raise a exception"
as the name of the function suggests i would expect `handles_test_event` to return whether the target node can handle the event, i.e., a boolean value, not raise a exception (e.g., https://github.com/nest/nest-simulator/blob/master/nestkernel/node.cpp#L250). exceptions should then be raised on the node initiating the test, based on the return value. for nodes sending multiple event types this woul

[2019-05-03 14:06] lekshmideepu opened #1186 "Updating the docs regarding the MacOS installation"
As we soon have MacOS Mojave builds on Travis, we need to update our current documentation [page ](https://nest-simulator.readthedocs.io/en/latest/installation/mac_install.html) for OSX

[2019-05-03 16:36] yslahoti opened #1187 "Nest Topology: Recording Devices"
Is there any way to use devices that are connected in a layer? I generated a 30 x 30 grid and connected a device to the center neuron but am unable to extract the voltage information after simulation.

[2019-05-05 20:38] heplesser commented on #1187
@yslahoti This type of question is usually more appropriate for the NEST User mailing list (https://www.nest-simulator.org/community/).

To be sure that I understand you correctly: You created a 30 x 30 grid of some model neurons, and then connected a `voltmeter` to the neuron in the center? What output do you get when you call `GetStatus` on the `voltmeter` after the simulation? The `events` dict

[2019-05-06 11:22] jessica-mitchell opened #1188 "Data types in model parameters (discussion)"
It was noted during discussion of PR #1143 that the parameter data types of models (nest-simulator/models/*.h) are perhaps confusing to users in a python environment. E.g. the current models show the parameter data types as 'double'  rather than float:
![image](https://user-images.githubusercontent.com/3313313/57222097-af4f5180-7001-11e9-8bfd-969f4f854544.png)

How can we best clarify the correct

[2019-05-06 14:14] AndiH commented on #1182
I want to note somewhere how we solved the issue for JURON, which @jougs referred to in a [previous reply](https://github.com/nest/nest-simulator/issues/1182#issuecomment-484168258).

As @jougs said, the issue arises due to LSF coming with its own `liptopology.so`.

CMake builds the Nest executable using `RUNPATH` to locate Nest's `libtology.so` and use the symbols defined in there. `RUNPATH` is s

[2019-05-07 07:52] ricardomurphy opened #1189 "Activation particles for NaP and T in ht_neuron"
In setting up a network of ht_neuron neurons I've found it necessary to change the number of activation particles for the NaP and T currents. I've done this by altering the code for ht_neuron as shown in the attached file, where both currents now have just one activation particle. But more generally it would be convenient if the number of activation particles for these currents could be made setta

[2019-05-08 07:42] alberto-antonietti opened #1190 "GetConnections() does not work with volume_transmitter as target"
When retrieving the connections to a volume_transmitter, `GetConnections()` behaves inconsistently.

[code]
returns: ()
[code]
returns: (array('l', [1, 2, 0, 0, 0]),)

In `788e93e` , with `NEST 2.14` GetConnections() is working fine.

I will try to locate the source of the problem, but maybe someone familiar with the function (e.g., @hakonsbm, who refactored GetConnections in #1099 ) could identif

[2019-05-08 08:31] hakonsbm commented on #1190
It works for me with the current master (788e93e3). What version are you on?

[2019-05-08 08:40] hakonsbm commented on #1190
@alberto-antonietti Sorry, I think I misread your issue. Do you mean the inconsistency between what is returned from `nest.Connect()` and `nest.GetConnections()`?

[2019-05-08 08:41] alberto-antonietti commented on #1190
Sorry a line in the code was missing.
`nest.GetConnections(A,VT)`
returns () instead of (array('l', [1, 2, 0, 0, 0]),)

[2019-05-08 09:06] hakonsbm commented on #1190
Ah, that makes more sense, I get the same result as you then. I can try to look into it.

[2019-05-11 19:40] yurivict opened #1192 "Please add the cmake variable to enable/disable python bindings"
The package should be able to choose to not build the bindings regardless of python being found or not.

[2019-05-11 19:40] yurivict opened #1193 "c++: warning: argument unused during compilation: '-L/usr/local/lib' [-Wunused-command-line-argument] ^"
clang-6 prints this warning for every compilation line.

[2019-05-11 19:47] yurivict opened #1194 "Please use /bin/sh in extras/nest_vars.sh.in"
https://github.com/nest/nest-simulator/blob/master/extras/nest_vars.sh.in#L1

bash requires an extra-dependency on BSD platforms.

[2019-05-11 19:54] yurivict opened #1195 "Please don't fail when CMAKE_INSTALL_PREFIX is /usr/local"
https://github.com/nest/nest-simulator/blob/master/CMakeLists.txt#L104

There's nothing wrong with installing into ```/usr/local```.
It normally installs into a stage directory when package is built.

[2019-05-11 20:07] yurivict opened #1196 "pynestkernel.pyx:689:10: Unreachable code"
I'm getting this with python-3.6 on FreeBSD:
[code]

[2019-05-13 20:17] heplesser opened #1199 "Refactor beta-function normalization"
Once #1197 is merged, we will have code computing the normalization constant for the beta  function in at least three places:
- `aeif_cond_beta_multisynapse::calibrate()`
- `ht_neuron::get_synapse_constant()` (best documentation)
- `iaf_cond_beta::get_normalization_factor()`

We should refactor this to a single `nestutils/beta_normalization_factor.h` function.

[2019-05-13 21:16] jougs commented on #1196
We all get to see these warnings.

The reason for them is that Cython gets confused by the [`raise` statement in the line above](https://github.com/nest/nest-simulator/blob/master/pynest/pynestkernel.pyx#L687) although that is clearly in an (even unlikely) `else` clause and thus usually not executed. In the generated code in `pynest/pynestkernel.cxx`, you can see that the "unreachable" statement i

[2019-05-13 21:16] #1196 closed

[2019-05-13 21:25] jougs commented on #1193
Do you have a suggestion on how to fix this or could you even provide a PR? Thanks!

[2019-05-13 22:25] yurivict commented on #1193
I think this is induced by some external package.

[2019-05-13 22:25] #1193 closed

[2019-05-14 07:42] jessica-mitchell commented on #1186
@lekshmideepu What exactly needs to be updated?

[2019-05-14 07:54] jessica-mitchell commented on #1188
@jougs @heplesser Based on the brief chat at the open dev meeting this Monday, should I go ahead and remove the column for data type in the models file (for PR #1143) altogether?

[2019-05-14 11:46] #1194 closed

[2019-05-15 07:50] ikitayama commented on #1184
@terhorstd in the meantime, I just set -Dwith-warning=OFF at the CMake config time.

[2019-05-16 07:37] jougs commented on #1193
Thanks for clearing this up and closing.

[2019-05-16 07:46] yurivict commented on #1193
You're welcome.

[2019-05-16 09:14] dilawar opened #1202 "NEST packages for various linux flavors on Open Build Service"
I am building NEST packages for various Linux favors using Open Build Service. These are available here https://software.opensuse.org//download.html?project=home%3Adilawar&package=nest

~These are `python3` only (its easy to make  them for default python but I personally don't see any merit).~ Builds with default python distribution.

I am using my forks to build these packages: some changes were

[2019-05-16 09:26] jougs commented on #1188
@jessica-mitchell, @clinssen, @steffengraber: should we have a f2f meeting next week to discuss the several open issues regarding model documentation? I think we'd gain more from looking more with a bird-view style instead of discussing each detail separately.

[2019-05-16 10:03] #1061 closed

[2019-05-16 13:20] omrylmz opened #1203 "Multiple nest brains do not work together."
We are developing the platform NRP: https://bitbucket.org/hbpneurorobotics/

NRP supports distributed brain modules. With v2.14 our experiment that uses 2 nest brains was working. Now at v2.16, it is not able to have 2 mpi processes together. We have the single brain option for the experiment and it just works.

Here at line 58 we observe that 1 brain is ok and multiple mpis fail.
https://bitbucke

[2019-05-18 22:11] yurivict opened #1205 "Broken on i386: no type named 'success' in 'nest::StaticAssert<false>'; did you mean 'StaticAssert<true>::success'?"
See the log: http://beefy5.nyi.freebsd.org/data/120i386-default/501758/logs/nest-2.16.0.log

[code]

[2019-05-21 13:02] morales-gregorio opened #1207 "Improve warning messages in pynest microcircuit example, using warnings package"
In the current version of the pynest microcircuit (implementation of the Potjans and Diesmann 2014 model) the error/warning messages are directly printed to the terminal.

Using the python warning package should probably be the preferred option.

[2019-05-21 13:25] morales-gregorio opened #1208 "Microcircuit example sli implementation should not have a jobfile generator in it"
The file  `nest-simulator/examples/nest/Potjans_2014/run_microcircuit.sh` generates a bash script and submits a job for a PBS type queuing system.

It would probably be best if there was no such file since each user will have different computing constraints and requirements. Therefore having this file in there might lead to confusion and misuse of resources.

[2019-05-27 08:55] babsey opened #1209 "Clarify variable namespaces in Hodgkin-Huxley model"
During the MSc course, we were troubled to understand the correct namespaces for the variables `m`, `n` and `h` in Hodgkin-Huxley model.

[Wiki](https://en.wikipedia.org/wiki/Hodgkin%E2%80%93Huxley_model) says:

In summary:
n - activation of potassium channel
m - activation of sodium channel
h - inactivation of sodium channel

To my view, they are named as `Act_n`, `Act_m` and `Inact_h`.
Why are t

[2019-05-28 15:53] maxbortone opened #1210 "Importing NEST in jupyter lab fails"
I have installed nest in my conda environment by running
[code]

When running the import statement
[code]

from a jupyter lab cell I get the following error:

[code]

I am using:
* `jupyterlab 0.35.6`
* `nest-simulator 2.16.0`

[2019-05-31 14:59] alberto-antonietti opened #1211 "Assertion `source_lid < MAX_LID' failed with GetConnections"
Another issue that I encountered with `GetConnections`

When calling nest.GetConnections with "large" networks, NEST terminate because an assertion fails.

You should reproduce the problem with the following script:
[code]

the script works fine with N<=2^19-1, since the MAX_LID in my system is defined as 2^19-1 (i.e., 524287).

@hakonsbm, can be this somehow related to #1190?

[2019-06-03 05:20] sbrodeur opened #1212 "Segmentation fault with probabilistic synapse and weight recording"
Description of problem:
When the 'weight_recorder' model is used with probabilistic synapses (e.g. 'bernoulli_synapse'), a segmentation fault occurs. This may be caused by the fact that probabilistic synapses can randomly drop spikes, causing the `e.set_receiver` function of the  `Event ` instance to never be called, thus leaving the receiver attribute uninitialized. When creating an associated `W

[2019-06-03 10:22] heplesser opened #1213 "Deprecate iaf_psc_alpha_canon"
Model `iaf_psc_alpha_canon` is to be deprecated and will be removed in NEST 3. See #1169 and #370.

[2019-06-03 12:35] Silmathoron commented on #1213
Should I include this directly into #1169?

[2019-06-03 13:24] terhorstd commented on #1203
Could you provide a way to reproduce this error and be more specific on the actual problem?

[2019-06-03 13:31] terhorstd commented on #1195
This is something that we should re-discuss in one of the next [NEST VCs](https://github.com/nest/nest-simulator/wiki/Open-NEST-Developer-Video-Conference), probably after the NEST conference.

[2019-06-03 13:41] terhorstd commented on #1187
Continued on mailing list

[2019-06-03 13:41] #1187 closed

[2019-06-03 14:15] terhorstd opened #1215 "Finalize NESTio development"
Finalize [NESTIO](https://github.com/jougs/nest-simulator/tree/nestio) in order to do a PR towards master:
* [x] API documentation
* [x] examples
* [x] tests
* [x] renaming of functions

[2019-06-04 16:52] clinssen opened #1220 "`make clean` does not clean `pynest/build` directory"

[2019-06-04 17:49] clinssen commented on #1220
This turned out to be a misconception about how "make clean" is supposed to be used.

In the context of the recommendation in the NEST installation documentation to build "out-of-source", the clean target might not make a lot of sense to have, but it is generated by CMake-internal magic and cannot be easily disabled. This makes it not worth discussing further; I am hence closing the issue.

[2019-06-04 17:49] #1220 closed

[2019-06-04 22:11] terhorstd commented on #1134
This should also go into 2.18.

[2019-06-05 09:00] terhorstd commented on #1215
There are significant changes in the user-side API, so this can not go into 2.18.

[2019-06-05 09:09] Silmathoron commented on #1213
It *is* included in #1169

[2019-06-05 09:15] #242 closed

[2019-06-05 09:15] #1027 closed

[2019-06-06 00:31] mschmidt87 opened #1222 "Add `LD_LIBRARY_PATH` to guide for "writing an extension module""
To build an extension module for NEST, I followed the guide on the NEST Developer Space: https://nest.github.io/nest-simulator/extension_modules

However, after following steps 1-5 for installing the example module, I couldn't load it, but received this error:
[code]

I could easily fix this by adding the NEST lib folder to my `LD_LIBRARY_PATH`, like so:
`export LD_LIBRARY_PATH=~/opt/nest/ins/lib/

[2019-06-06 09:04] #639 closed

[2019-06-06 10:27] aserenko opened #1224 "Connection descriptors are invalidated after adding new connections, but still accepted by GetStatus"
1. When a new connection is created, the connection descriptors (`source-gid, target-gid, target-thread, synapse-id, port`) are rearranged, and ids of the existing connections may change. In this case descriptors returned by GetConnections() before become incorrect.

2. Such incorrect descriptors are still accepted by GetStatus(), because the latter seems to look only at the synapse id, ignoring t

[2019-06-07 09:20] heplesser commented on #1224
I assume that his is an effect of the rebuilding of the connection representation after changes to connections introduced with the 5G kernel. I further assume there is no easy work-around, but we need to document this. This would become problematic in particular in connection with structural plasticity when connections change all the time. Or am I to pessimistic?

[2019-06-07 10:12] jakobj commented on #1224
Yes, this is due to sorting the connections by the source gids, either triggered by a call to `GetConnections` or by `Simulate`. We could add a check that makes sure the available information does match and throw an error if it doesn't but I fear that this would still miss some cases. The first thing that comes to my mind is to be very transparent about the invalidation of connection descriptors,

[2019-06-07 11:00] steffengraber commented on #210
There is now a conda package for NEST on conda-forge

The recipe is available here:
https://github.com/conda-forge/nest-simulator-feedstock/

Packages are available here:
https://anaconda.org/conda-forge/nest-simulator

Create a conda environment and install it with:

`conda install -c conda-forge nest-simulator `

or (with MPI support):

`conda install -c conda-forge nest-simulator=*=mpi_openmpi*

[2019-06-07 11:58] #1134 closed

[2019-06-10 12:14] heplesser opened #1226 "Review iaf_psc_exp current input"
This is a follow-up to #1225.

The two types of current input to `iaf_psc_exp` are, I believe, correctly implemented but both user- and developer-facing documentation needs to be improved.

1. User-facing documentation is hidden at very end of model documentation (https://github.com/nest/nest-simulator/blob/059fe89e8229018b46c98499236da74c74ac18dd/models/iaf_psc_exp.h#L117) and refers to `[6]`, bu

[2019-06-10 23:24] ikitayama commented on #1010
I'd like to re-open this Issue as I was hit by the same error, even though I supplied the suggested flags by the Support.

[2019-06-10 23:25] ikitayama commented on #1010
@heplesser, could you change the status to Closed to Open?

[2019-06-11 11:57] #1180 closed

[2019-06-12 22:48] ikitayama commented on #1010
We, @carlosengutierrez , @jarsi , @suku248 together sat down and talked about this Issue yesterday at RCCS and came up with the same workaround which is to not alter the default resolution at run time as @carlosengutierrez mentioned in this thread. We've verified this worked on K computer with the (likely) updated Fujitsu toolchain and updated NEST code base.

[2019-06-12 22:49] ikitayama commented on #1010
@heplesser would you still keep this open as I'd like to investigate the root cause with the local Support?

[2019-06-13 08:49] jougs commented on #1213
Fixed by merge of #1169.

[2019-06-13 08:49] #1213 closed

[2019-06-13 09:04] heplesser commented on #1010
@ikitayama Yes, no problem keeping it open while you investigate.

[2019-06-14 08:26] ikitayama commented on #1010
@carlosengutierrez provided me the past exchange with the Support and I think it is worth mentioning
that they found the performance is retained with the number of flags down to as minimum as "-Kfast -Knofp_relaxed."

[2019-06-14 10:34] bjuergens opened #1229 "cython dependency not mentioned in documentation"
In [linux_install.rst](https://github.com/nest/nest-simulator/blob/master/doc/installation/linux_install.rst) `cython` needs to be added to the list of modules installed with `sudo apt-get install -y`

if cython is not installed, you get the fellowing error when building nest

[code]

[2019-06-14 12:47] lekshmideepu commented on #641
Together with @steffengraber we did a "proof of concept" [build](https://travis-ci.org/lekshmideepu/nest-simulator/jobs/545710474#L5299) for the NEST docker build on Travis. The error showed is not related to the docker file as such.

[2019-06-17 10:00] jessica-mitchell commented on #1188
Closing this issue because resolved in PR #1143

[2019-06-17 10:00] #1188 closed

[2019-06-17 11:13] DylanMuir commented on #1210
I have the same issue in `ipython` on the mac. However, in straight `python` I can import `nest` successfully.

[2019-06-17 11:21] jessica-mitchell commented on #1210
Hi, sorry the delay in responding to your question.

Jupyter-lab is currently not in the conda-forge package of nest. I'd recommend that you install jupyter lab in the same conda environment as the nest-simulator.

 activate the environment that has nest-simulator
`conda activate NEST_ENV`
 install jupyter lab
`conda install -c conda-forge jupyterlab`
 run jupyter lab
`jupyter-lab`

With this, i w

[2019-06-17 11:27] jessica-mitchell commented on #1210
@DylanMuir I think this is the same issue for you, ipython is not in the nest-simulator package. You can
`conda install  ipython`
while in the nest environment.