[2017-01-24 10:15] jakobj opened #637 "GetKernelStatus causes MPI communication of delay extrema"
As mentioned in #628, `0 GetStatus` leads to an update of delay extrema across all MPI processes via a call to `MPIAllgather` (https://github.com/nest/nest-simulator/blob/master/nestkernel/connection_manager.cpp#L331 ff). As this is also done prior to simulating in `prepare_simulation_` (https://github.com/nest/nest-simulator/blob/master/nestkernel/simulation_manager.cpp#L526), and hence is not re

[2017-01-24 10:38] heplesser commented on #636
See also #484

[2017-01-24 10:39] heplesser commented on #636
@TomBugnon Could you try (in the Python 2.7 environment) to install the newest version of NEST using
[code]

[2017-01-24 11:18] jougs commented on #637
From my perspective, `0 GetStatus`/`GetKernelStatus` are meant to inform the user. Providing correct values only _after_ the simulation is thus not a good thing IMO. I think it's useful for users to be able to retrieve the correct delay extrema to quickly check delay distributions (by querying the synapse model''s extrema) and possibly also to get a feeling for buffer sizes and communication inter

[2017-01-24 17:27] emka commented on #210
I have built NEST as Anaconda package for a lecture, available at https://anaconda.org/emka/nest-simulator (may be a little outdated now). Feel free to copy and modify [the build recipe](https://github.com/emka/conda-recipes/tree/master/nest-simulator).

[2017-01-24 23:18] TomBugnon commented on #636
Installing the HEAD in the python 2.7 solved it. It works nicely, many thanks.

[2017-01-24 23:18] #636 closed

[2017-01-25 12:06] lekshmideepu opened #638 "pynest tests fails when GSL is OFF and Python is ON"
On JURECA, the following tests failed when tested  with Python and without GSL

ERROR: test_targets (nest.tests.test_sp.test_issue_578_sp.TestIssue578)
      raise _kernel.NESTError(encode(errorstring))
  pynestkernel.NESTError: UnknownModelName in SetDefaults_l_D: /iaf_cond_exp is not a known model name. Please check the modeldict for a list of available models. A frequent cause for this error is

[2017-01-25 12:13] heplesser commented on #484
This is appears to be fixed in the current head (see also #636), and documentation has been improved (#615). Therefore, I am closing this Issue.

[2017-01-25 12:13] #484 closed

[2017-01-25 12:23] #311 closed

[2017-01-25 13:24] lekshmideepu commented on #638
Informed @sdiazpier about it as it is related to Structural plasticity

[2017-01-25 13:26] lekshmideepu commented on #638
I am working on a PR to include this job (Python: ON and all others: OFF) with Travis

[2017-01-25 13:32] lekshmideepu commented on #619
Working on this issue. Even though I added the following lines in .travis.yml file, (which should work in a normal case) , it is building only with default python version 2.7
python:
  - "2.7"
  - "3.5"

Using the virtualenv is a nice idea.

[2017-01-25 13:59] lekshmideepu opened #639 "Travis build jobs on multiple OSs(OSX,Linux)"
Currently, Travis jobs are building only on Linux worker machines. Working on adding the feature of building jobs also on OSX

[2017-01-26 06:52] heplesser commented on #290
Using structural plasticity is now blocked when using multiple threads (see #629) and #633 is created as a follow-up issue. Thus closing this issue.

[2017-01-26 06:52] #290 closed

[2017-01-26 13:08] lekshmideepu opened #641 "Using Docker for NEST CI"
Our builds on Travis takes a lot of time for different reasons like:
   - installing all the necessary packages on an "empty" worker machine
   - running all possible combinations of the jobs (job matrix).
 Also in future we would like to test with multiple python versions and multiple OS's which would again take a lot of time.

Since Travis supports docker images, I think it is a good idea to hav

[2017-01-26 13:52] #632 closed

[2017-01-26 16:00] heplesser commented on #264
Fixed by #265, therefore closing.

[2017-01-26 16:00] #264 closed

[2017-01-26 16:06] heplesser opened #643 "Issue error message when attempting to set an invalid resolution"
Since #265, simulation time must be a multiple of the resolution. This can lead to confusing error messages upon calls to `Simulate` if the resolution cannot be represented properly in tics. For example,
[code]
will lead to an error on the `Simulate` call, even though the simulation time is 32 times the resolution.
The problem is that with a default tic of 1 microsecond, NEST actually sets the res

[2017-01-26 16:12] heplesser opened #644 "NEST encounters bad_alloc exception when changing tic length"
The following causes a `bad_malloc` exception (per hash 1cb0529, OSX 10.11 with gcc 6.2):

[code]

Interestingly, a number of examples and tests, e.g. `ArtificialSynchrony.sli` and `test_iaf_ps_dc_t_accuracy.sli` set resolution and tics in this way and work. In those cases, a full network is built before `Simulate` is called. Creating just a single neuron does not get rid of the exception.

See al

[2017-01-26 16:14] heplesser commented on #644
@gtrensch This is a slightly mysterious bug that may provide an interesting opportunity to delve into the NEST kernel---interested?

[2017-01-26 16:17] heplesser commented on #641
@lekshmideepu This sounds like a very fine idea. Could you explore this a bit further? Would this also allow us to move to a newer Ubuntu version and recent compiler and tools? The pep8 checker we currently use on travis is quite old and leads sometimes to results inconsistent with newer versions.

[2017-01-26 16:33] lekshmideepu commented on #641
@heplesser Sure, I could explore the various options.

[2017-01-26 20:17] heplesser opened #645 "Some examples do not run (properly)"
The following examples currently do not work:
[code]
I am working on a PR. The failure of the `ArtificialSynchrony` test is related to #643. The other two failures are related to the change from `iaf_neuron` to `iaf_psc_alpha`. Furthermore, response behavior off `hpc_benchmark.sli` seems off (very high firing rates, esp towards end).

[2017-01-27 23:26] jougs commented on #574
@sanjayankur31: would you be willing to review #647 and comment here if that solves the problem for you? Thanks!

[2017-01-30 10:50] heplesser commented on #638
Closing as this is fixed by #640.

[2017-01-30 10:50] #638 closed

[2017-01-30 10:56] gtrensch commented on #644
@heplesser yes, I like mysterious bugs.

[2017-01-30 15:49] Silmathoron commented on #619
Hi @lekshmideepu, I'm a bit surprised that the travis matrix does not work.
Here [one that works](https://github.com/Silmathoron/NNGT/blob/master/.travis.yml) on one of my projects. Alternatively you can make sure that NEST gets the desired PyVersion by exporting an environment variable ``PYV=2`` or 3, which you'll pass to ``-Dwith-python=PYV``

[2017-01-30 16:20] jakobj opened #649 "Add c++ unit tests"
In order to expand our testsuite with standardized unittest for c++ functions (see, e.g., librandom), we need to include a c++ testing framework into NEST's tests. Currently, we consider [ctest](https://cmake.org/Wiki/CMake/Testing_With_CTest) and [google test](https://github.com/google/googletest/). Both have compatible licenses (BSD like). We need to make sure that the testsuite can run on many

[2017-01-30 21:24] heplesser commented on #649
Adding C++ tests is a good idea. We should evaluate carefully existing options. [Boost.test](http://www.boost.org/doc/libs/1_63_0/libs/test/doc/html/index.html) also appears to be quite popular, as well as [Catch](https://github.com/philsquared/Catch). I found some relevant discussion here:
- http://alexott.net/en/cpp/CppTestingIntro.html
- https://www.reddit.com/r/cpp/comments/36pru0/best_way_to_

[2017-01-31 06:09] heplesser commented on #574
Fixed by merge of #647.

[2017-01-31 06:09] #574 closed

[2017-01-31 17:08] jakobj commented on #649
I've started working on including boost.test, which seems like a good solution. For mocking there is [turtle](http://turtle.sourceforge.net/), apparently working great with boost. you can find the current progress in my fork under the [feature/cpptest](https://github.com/jakobj/nest-simulator/tree/feature/cpptest) branch. let me know what you think and what a good demonstration would look like. sh

[2017-02-01 14:15] alberto-antonietti opened #651 "'fixed_indegree' connection rule does not work with volume_transmitter"
I was trying to use a fixed_indegree rule to connect a group of neurons to different volume transmitters (previously I used to do this witout errors). This is the example code:

[code]

And I got the error:

I can prevent the error to occur with a temporary workaround, but I would let you know about this issue.

[2017-02-02 09:06] #645 closed

[2017-02-02 11:16] heplesser opened #652 "Create NEST 2.12 Release"
All open issues for NEST 2.12 are solved, all PRs are merged, so we are ready to wrap it all into a shiny new release. This issue is just here to document for eternity what we have done.

[2017-02-02 17:22] jakobj commented on #627
for the record: one has to modify the mpirun line in the .nestrc file to include the oversubscribe option explicitly, e.g.,:
[code]

[2017-02-02 17:22] #627 closed

[2017-02-03 17:33] apeyser commented on #624
This conflicts with the nestio work. Before any refactoring is done, @wschenck and @jougs need to be pulled in.

[2017-02-08 16:00] janhahne opened #655 "NEST runs into assertion when gap junctions are used without wfr"
NEST runs into an assertion (event.h, line 978) when gap junctions are used without waveform relaxation. The error was introduced with PR #607 - the `GapJunctionEvent` `coeff_length_` parameter is only set when wfr is used, but needs to be set anyway (also without wfr use). The fix is a one liner, i will submit a PR shortly.

[2017-02-08 18:19] jakobj opened #657 "Compile NEST on JUQUEEN with jemalloc and gsl"
I am trying to compile NEST on JUQUEEN with jemalloc as the allocator. I have successfully compiled jemalloc and NEST without gsl. However, neuron models supporting gap junctions need NEST to be compiled with gsl. When loading the gsl module and changing my cmake line to
[code]
 I get the following error while compiling:
[code]
I guess this could be an issue of using gcc for jemalloc and NEST, whi

[2017-02-08 21:47] heplesser commented on #657
It looks like (i) make is still trying to link gsl from a system directory and (ii) is trying to link `libgsl.so`, i.e., a dynamic library version. Do you have `libgsl.a` installed in your own installation of GSL? You may want to try to specify the path to your GSL installation as argument to `-Dwith-gsl`.

[2017-02-08 22:36] heplesser commented on #651
@alberto-antonietti It's not a bug, it's a feature, although one that has arcane and technical reasons. For the sake of efficiency, almost all connection rules work in parallel, and it is then the parallel process responsible for a connection target that generates the necessary random numbers. This works well for normal neurons (those with proxies), since these exist only on a single process. But

[2017-02-08 22:36] #651 closed

[2017-02-08 23:44] alberto-antonietti commented on #651
Thanks @heplesser, now I understand the meaning of the prohibition :-) Thank you for the clarification!

[2017-02-09 07:49] apeyser commented on #657
I agree with hep - I think you're running into the pain of BGQ incorrectly remapping dynamic links to static links. You may also need to hack the gsl CMake instructions to get a proper link line.

[2017-02-09 10:47] heplesser commented on #210
@emka Thank you for creating the recipe! I will have a look at it once we have NEST 2.12 out and try to update it for that.

[2017-02-09 10:58] heplesser commented on #637
@jakobj I agree with @jougs in this matter. The main problematic point you mention, calling `0 GetStatus` to obtain GID information is bad script design today, and will become obsolete when `Create` returns `GIDCollection` in NEST3.  Global delay information may, on the other hand be interesting during the network construction phase, in particular if networks are built with randomized delays. We s

[2017-02-09 11:01] jakobj commented on #637
Yes, I see your point and am happy to close this. I will create a PR soon to fix the hpc_benchmark script, avoiding the `0 GetStatus` calls.

[2017-02-09 11:01] #637 closed

[2017-02-09 14:36] heplesser commented on #655
Fixed by #656

[2017-02-09 14:36] #655 closed

[2017-02-10 09:24] appukuttan-shailesh opened #658 "Implement recording of signals provided by stimulating devices"
This query was originally intended towards the development of the PyNN-NEST interface, but has a more general application within NEST. The objective was to record the profile of injected current, but:
1) the 'multimeter' object in NEST does not appear to allow recording from stimulating devices, and seems to be restricted to neurons. It doesn't throw errors, but returns empty (similar to issue #57

[2017-02-10 18:07] apeyser opened #659 "Add state checks for prepare-run-cleanup loop"
PR #650 : after merging, consideration should be given to more carefully checking state.

[2017-02-13 21:25] jakobj commented on #578
@hakonsbm, sorry I just stumbled over this issue again. No, I think if you throw an exception, there is no reason to keep that test. That connection should not be possible, and you can maybe even add a test that makes sure that an exception is thrown.

[2017-02-14 13:46] Silmathoron opened #662 "Wrong "Monkeypatch" in warnings.showwarning"
In [``hl_api_helper.py``](https://github.com/nest/nest-simulator/blob/32fdfd8eab48499cfea33b9cd5832f3b00f1e5f1/pynest/nest/lib/hl_api_helper.py#L39), a python builtin function has been replaced with a custom one which has:

* a wrong number of arguments
* wrong argument names

This causes crash in scripts using both ``nest`` and the ``warnings`` module.

I'm not sure replacing builtin functions is

[2017-02-16 07:34] heplesser commented on #635
@SimonaNedelcheva One set of tests in the PyNEST test suite is failing (`test_connect_distributions.py`). This is probably a conflict between your setup and the test mechanism, not an actual problem with NEST. Could you post your configuration, i.e.,
- your `configure` command line
- the configuration report printed at the end of the `configure` run
- the `config.log` file from the build directory

[2017-02-16 17:04] appukuttan-shailesh commented on #658
I think I have managed to implement the record feature for the AC current source. The modified files are here (not yet ready for a pull):
[ac_generator.h](https://github.com/appukuttan-shailesh/PyNN_testData/blob/master/ac_generator_record.h)
[ac_generator.cpp](https://github.com/appukuttan-shailesh/PyNN_testData/blob/master/ac_generator_record.cpp)

A sample output for the code [here](https://git

[2017-02-17 08:56] appukuttan-shailesh commented on #658
I think I have solved my first query by adding:
`extern const Name I_inj;      //!< Current from StimulatingDevice`
to [nest_names.h](https://github.com/nest/nest-simulator/blob/master/nestkernel/nest_names.h), and adding
`const Name I_inj( "I_inj" );`
to [nest_names.cpp](https://github.com/nest/nest-simulator/blob/master/nestkernel/nest_names.cpp)

Changes would accordingly be made in _ac_generat

[2017-02-17 12:03] heplesser commented on #658
@appukuttan-shailesh Your code looks quite fine, but it seems you are working on the basis of NEST 2.10. Please use the most recent code from Github as the basis of any development to minimize the risk of merge conflicts later. You don't seem to have added unnecessary code.

Names are a complex matter. One purpose of the `names` system is to keep some consistency in naming across models. Also, fro

[2017-02-20 08:48] apeyser commented on #644
So the question is which array that is binned by tic size isn't properly resized on resetting tics?

[2017-02-20 09:17] gtrensch commented on #644
@apeyser It's the spike buffer. Something goes wrong with min_delay calculation in case tics_per_ms is < 1000.0.

[2017-02-20 15:34] appukuttan-shailesh commented on #658
Thanks for pointing that out. I have now updated my repository to the latest version, and made the necessary changes. I have implemented the record feature for the following models:
1) ac_generator
2) dc_generator
3) step_generator
4) noise_generator

A sample output for the above ([code](https://github.com/appukuttan-shailesh/PyNN_testData/blob/master/nest_test_record_all.py)):
![output_all](http

[2017-02-20 15:45] appukuttan-shailesh commented on #658
@heplesser : I was running the tests (_make installcheck_) and got the following output:

ERROR: test_synapse_deletion_one_to_one_no_sp (nest.tests.test_sp.test_disconnect.TestDisconnectSingle)
  TypeError: allgather() takes exactly 1 positional argument (2 given)
  FAILED (SKIP=11, errors=1)

  PyNEST tests: 548
     Passed: 547
     Failed: 1

NEST Testsuite Summary
----------------------
  NEST

[2017-02-22 18:07] gtrensch commented on #644
@heplesser before I create a pull request, can you please have a look at the text below, in particular my remarks at the end, and let me know what you think. Perhaps we can also discuss this in Oslo during the hackathon.

@apeyser many thanks for your hints and the debug session !!!

The problem is the following:
Let's assume that _tics_per_ms_ was set to 100. and it is:
[code]
This will set follo

[2017-02-23 08:23] apeyser commented on #644
I think the issue is that their exist a large number of time units: steps (int), ms (float), tics (int), delay (naked int)... there should be a universal unit, and all inputs should immediately be converted into it. It should be a very simple class without all the object oriented complexity.

It needs to be transparent and fast -- the previous iteration was eating 50% of simulation time in constru

[2017-02-27 21:14] heplesser opened #665 "ConnectLayers does not connect to thread siblings of devices"
In multithreaded simulations, `ConnectLayers` does not connect to thread siblings of devices. The following code:
[code]
will connect only the neuron managed by thread 0 (neuron with GID 4) to the spike detector (instance on thread 0):
[code]
The other neurons should be connected to the thread-siblings of the spike detector on their respective threads. This is a regression from NEST 2.10, which cr

[2017-02-28 14:55] JimmyMVP opened #667 "TypeMismatch error when setting a default distribution for a parameter"
Here is a code snippet for an example:

    nest.SetDefaults('stdp_dopamine_synapse', {'vt': vt[0], 'weight' :  {'distribution' : 'normal', 'mu' : 0., 'sigma' : 1.}})

and the error:

terminate called after throwing an instance of 'TypeMismatch'
  what():  TypeMismatch
[bluebrain285:44128] *** Process received signal ***
[bluebrain285:44128] Signal: Abort trap: 6 (6)
[bluebrain285:44128] Signal co

[2017-02-28 16:47] gtrensch commented on #392
This issue has been resolved by #546 and can be closed.

[2017-02-28 21:11] #392 closed

[2017-02-28 22:44] heplesser commented on #667
@JimmyMVP I can reproduce your problem and NEST should not crash like this, but return a proper error message. But your  code is incorrect: You are calling `nest.SetDefaults()`, and default values have to be fixed values. You cannot provide a random distribution as a default value.

[2017-03-01 10:15] terhorstd commented on #665
closed by merge of #666

[2017-03-01 10:15] #665 closed

[2017-03-02 10:01] heplesser commented on #644
@gtrensch @apeyser Thank you very much for your detective work! I agree that the best fix for now is to modify the `TimeConverter` class so that it returns arguments equal to positive/negative infinity unchanged. It is unfortunate that integer types, in contrast to IEEE754 doubles, do not have properly defined infinity values.

The reason for initializing with positive/negative infinity is that it

[2017-03-03 15:58] zbarni opened #670 "'origin' parameter in multimeter has no effect"
#669
`nest.SetStatus(voltmeter, {"withtime": True, "record_from": ['V_m'], "interval": 202., "origin":3.})`

should sample at 205., 407., 609., etc. Instead, the current version disregards the origin parameter and sample at 202., 404., 606., etc.

Bugfix: modified multimeter to actually consider the origin variable when sampling. Modification of the DataLoggingRequest class was also required to ke

[2017-03-06 08:54] heplesser commented on #670
@zbarni It is a feature, not a bug, although the documentation is partially incorrect. The correct documentation is in the SLI-style documentation for `RecordingDevice` in [recording_device.h, l 66ff](https://github.com/nest/nest-simulator/blob/5003e2b32f409bd13ad570df6093532c993466a2/nestkernel/recording_device.h#L66):
[code]

The corresponding Doxygen-documentation for `class Multimeter` ([multi

[2017-03-06 14:32] ghazalehsaghar commented on #486
hello
I used xcode 7 and gcc 4.2, then I update xcode 8.2.1 , then I faced the above error, As you said now I install gcc 6.3.0. But how can I make the gcc 6.3.0 as the default gcc. I mean it looks my mac is using the gcc 4.2. I want to make it to use gcc 6.3.0

[2017-03-06 15:40] terhorstd commented on #652
:birthday: [NEST 2.12](https://github.com/nest/nest-simulator/releases/tag/v2.12.0) was released!

[2017-03-06 15:40] #652 closed

[2017-03-06 16:39] rcfduarte commented on #670
In our current implementation (with @zbarni ), we're running very long simulations where we need to sample the values of population state variables at regular intervals. For example, we would like to sample the population activity at 100.1, 200.1, 300.1, etc (where the extra 0.1 ms is added to account for a delay of 0.1 ms from an input generator to the network). As @zbarni mentioned, as it is cur

[2017-03-06 17:14] zbarni commented on #670
For multimeter, at least, the part with `(t - start) mod interval == 0` is not true. Instead, judging from my tests, seems like `start` is  just a cutoff timepoint and doesn't shift the sampling window in any way.

If you run the following code

[code]
you will get `[ 202.  404.  606.  808.]`, as expected. Now, you could change `start` to any value < 201, say `"start": 100.`, and you would get the

[2017-03-07 14:20] heplesser commented on #486
I assume that gcc 6.3.0 is installed on your computer so that it is invoked as `gcc-6` and `g++-6`. Then, you need to tell `cmake` about it:
[code]
See also the `INSTALL` file include with NEST and the [instructions on our website](http://www.nest-simulator.org/#mac-os-x).

[2017-03-07 14:53] heplesser commented on #670
@zbarni You are right, the documentation is inconsistent in itself. It is the "at times t = nh" that describes what is happening.

I belated realized that I created #505 a while ago to propose a general, modernized solution to windowing stimulation and recording devices. We should pursue that for NEST3; then, `start`, `stop` and `origin` will disappear as parameters.

Your issue here is actually n

[2017-03-08 11:57] heplesser opened #673 "Revise all tests to work without subnets"
With #480, subnets will be removed from NEST. This requires tests that work without recourse to subnets. Especially, any use of `ChangeSubnet`, `CreateSubnet`, `LayoutNetwork` and `Get[Nodes|Leaves|Children]` needs to be removed.

Test changes need to be made after #455 is merged so we can use GIDCollection-based commands to replace the subnet-based commands, but before we actually remove subnets.

[2017-03-09 07:22] mschmidt87 opened #674 "Trailing tab in output files of weight_recorder"
The `weight_recorder` introduced in #497 stores the recorded events in a tab-separated file. It introduces a trailing tab in each line. This is certainly a tiny detail but it causes some trouble when loading the data.
For instance, when I'm trying to load the data using the pandas library, e.g. using

    pd.read_csv('weights.csv', sep='\t')

this leads to errors in the create data object because

[2017-03-10 01:23] mschmidt87 commented on #674
Actually, I came across the same problem in the output files of the `spike_detector`, which also prints a `\t` at the end of each line. The case here is a little more complicated because this detector has multiple options regarding its output. For instance, it can also print time in steps and then give the offset to the simulation step in addition (if `precise_times` is set to `True`). Thus, one h

[2017-03-10 07:54] heplesser commented on #674
I originally designed the output format with trailing tab for simplicity. In this way, one can always append more output to a line without having to check whether one is at the beginning of a line or not. I did not realize then that trailing whitespace may lead to problems elsewhere. Since any type of output can be turned off (eg, we cannot rely on each line starting with a GID), each entry printe

[2017-03-10 09:47] terhorstd opened #677 "PyNEST Tests complain about missing files when not using Nosetests"
when running `make installcheck` on a system with Nosetests not configured properly, a file is not found. Nevertheless the suite returns no failed test.

[code]

[2017-03-12 14:35] laurentperrinet commented on #382
Thanks for implementing the homebrew formula with python 3. However I have some problems installing it. If I run the vanilla version, I get as expected:

[code]

but in the case of the py3k option, I get:

[code]

any idea?

[2017-03-13 00:23] mschmidt87 commented on #674
Thanks for thinking about possible solutions. I would favor your first suggestion. However, I'd say that we can leave the functions as they are for now. Both `numpy` and `pandas` are able to deal with this trailing tab, so we don't have a use case where the current file format fails and can stick with the simple procedure that is currently implemented.

[2017-03-13 06:36] heplesser commented on #674
@mschmidt87 Okay, I will close the issue and the PR then. Once we have the coming NESTIO infrastructure in place, the problem should disappear anyways.

[2017-03-13 06:36] #674 closed

[2017-03-13 07:57] heplesser commented on #382
@tammoippen Could you take a look at this?

[2017-03-14 12:10] heplesser opened #678 "Problems generating help in system with multiple Python installations"
André Sevenius reported the following problem on NEST User 14 March 2017:

I get the following error:

[code]

[code]

So as you can see, python should be setup correctly and it finds the right inerpreter. But this is a classical error where python3.x is interpreted by 2.7, but I've checked paths and everything, even changing aliases to make sure no reference to python2 exist.

[2017-03-14 12:14] heplesser commented on #678
@jougs Assigning to you as this is a follow-up to #647.

Suggested work-around (not tested): In file `doc/CMakeLists.txt` delete lines 20-44
[code]
Online help will not be available in this case.

I suspect this problem is due to the fact that we have hardcoded python on lines 26-27

[code]

and line 40

[code]

Should we get python from the CMake-Variable containing the Python excutable CMake has

[2017-03-14 13:32] heplesser commented on #246
@steffengraber If I understand the discussion above correctly, you had gotten most things to work towards the end of last year. Do you think we could pick this issue up again an move towards a pull request?

[2017-03-14 14:04] heplesser opened #679 "Replacement needed for PrintNetwork"
With subnets about to be removed by #480, the old `PrintNetwork` function needs replacement. There are three issues:

1. Since the simulator no longer represents network hierarchy, we need another way to present the network.
1. The name `PrintNetwork` was always a bit of a misnomer, since it prints only the nodes.
1. `PrintNetwork` is hard-coded to write to `cout`, which breaks at the very latest

[2017-03-14 14:32] steffengraber commented on #246
@heplesser Yes I can do this.

[2017-03-15 02:20] mschmidt87 opened #680 "PyNEST testsuite: test_quantal_stdp_synapse fails with Numpy 1.12.0 due to float index"
I recently installed the latest release of numpy, which is 1.12.0. Note that the release contained in the Ubuntu repositories is 1:1.11.1~rc1-1ubuntu1 for Ubuntu 16.10. To my understanding, numpy 1.12.0 will be contained in the repositories of Ubuntu 17.04 (see [http://packages.ubuntu.com/search?keywords=python-numpy](http://packages.ubuntu.com/search?keywords=python-numpy)).

In this version of n

[2017-03-16 08:31] heplesser commented on #680
@mschmidt87 Thanks for reporting and fixing this!

Concerning the change of tools/versions, this is a more complicated issue and should be handled in a separate issue here. I much agree that we need to test with up-to-date tools, but we also need to test against old versions of tools. Otherwise, we risk that people running, e.g., LTS versions of Linux distributions or work on supercomputers (which

[2017-03-16 12:41] mschmidt87 commented on #680
Okay, sure, I certainly agree to this. I will open an issue with regards to this and take the travis modification out of #681 .

[2017-03-16 12:41] mschmidt87 commented on #680
Okay, sure, I certainly agree. I will open an issue with regards to this and take the travis modification out of #681 .

[2017-03-16 13:11] mschmidt87 opened #682 "Version of dependencies/tools used by Travis"
This is a follow-up issue from the discussion in #680 suggested by @heplesser .

The initial reason to open this was the numpy version used by travis, which was not the latest release version of numpy (1.12.0) and so travis did not detect the but reported in #680.
As @heplesser noted, we should discuss which version of packages travis should take into account for the tests.

Travis should test for

[2017-03-16 13:50] kappeld opened #683 "Custom connector models in NEST 2.12"
This issue effects the modified API for registering connector models at the new ModelManager of NEST 2.12.

We have developed a dynamically loadable Module for NEST that implements a reward-based learning rule in a custom connector model. To implement this synapse model it was necessary for us to create a new type of synapses that is guaranteed to be updated after a certain maximum time lag instea

[2017-03-16 13:57] physicalist opened #684 "NEST built via Homebrew with Python{2,3} support misses Cython dependency"
In the current nest.rb Formula the Cython :build dependency prevents the build process.
This might be due to a recent change in how Homebrew checks external Python dependencies, but at least for me the Formula would not install due to unsatisfied dependency Cython,
despite having installed Cython with pip/pip3. This is on brew'ed Python2.7 & -3.6.
[code]
I could fix this with adding Cython as a re

[2017-03-17 07:58] heplesser commented on #683
@kappeld I understand your problem now. I think the most elegant way to solve this would be to add a second template parameter to the public `register_connection_model()` method with default value, along the lines of
[code]

The second variant is important for PyNN-support. Could you test this an create a pull request for it?

It also seems interesting to add your synapse models to NEST, since the

[2017-03-17 09:40] heplesser commented on #684
See also @382

[2017-03-17 09:46] kappeld commented on #683
Thanks! that looks like a very elegant solution. I will try this out a.s.a.p and close the issue once I could verify that it works and then create the pull request.

[2017-03-17 12:48] heplesser commented on #682
To keep complexity limited, I would propose that we have
- one test case with the oldest versions of tools we support
- one test case with "cutting edge" versions of tools, updated as least once a month
- possibly a test case with coming versions (release candidates) to be prepared
These cases should only be run for the "all included" variant, for all other cases in our test matrix we run one conf

[2017-03-20 14:15] #670 closed

[2017-03-21 10:43] tammoippen commented on #382
Hi @laurentperrinet and @heplesser ,

I am looking into it.

[2017-03-21 11:19] tammoippen commented on #382
@laurentperrinet
I cannot reproduce your error. However, I created a PR on homebrew (https://github.com/Homebrew/homebrew-science/pull/5293) to get the right python3 dependancies. Maybe you can locally change these dependancies and try again:

[code]

If it still fails, please give the relevant output of `brew install --verbose homebrew/science/nest --with-python3`.

[2017-03-21 15:41] kappeld commented on #683
I created a pull request that fixes this issue: https://github.com/nest/nest-simulator/pull/686

Sorry for multiple commits. I had some troubles with Vera++

[2017-03-21 23:28] physicalist opened #687 "SHA256 changed for 2.12.0 since release"
There is surely a simple explanation, but it seems that the sha256 for nest-2.12.0.tar.gz has changed sometime after it was released. This issue surfaced in @tammoippen's PR, [homebrew-science/#5293](https://github.com/Homebrew/homebrew-science/pull/5293). I still had the 'original' in my Homebrew cache (sha256: 6b5ca7680f758...), and comparing it to the currently linked file (sha256: bac578f38bb0

[2017-03-22 05:07] heplesser commented on #687
@jougs @steffengraber Could this be due to the fix for archive/path name inconsistencies that you applied?

@physicalist @tammoippen Homebrew support for NEST is an "spare time effort" by the small number of Mac enthusiasts in the otherwise very linuxy NEST developer community.

[2017-03-22 06:10] physicalist commented on #687
@heplesser Yes and you may count me into this small number of enthusiasts ;)
I have written my own NEST formula in the past but it was never fit for production (I just noticed for the first time that @tammoippen based his formula on my long-forgotten PR, yay!).
The above was by no means a critique, there are not enough words to express my gratitude towards the NEST developers and contributors. My

[2017-03-22 06:19] physicalist commented on #684
I'm not sure I see the relevance of #382 in this case.

As for the Python3 requirement in the dependencies, @tammoippen has in the meantime submitted the relevant [PR](https://github.com/Homebrew/homebrew-science/pull/5293).

[2017-03-22 14:48] shlomita opened #690 "nest.test() failed"
Hi,

I install NEST 2.12.0 on centos7, running python 2.7.12.

When I run
    _nest.version()_

I get:
    _u'N\x00E\x00 2\x00.\x001\x00'_

When I run
    _nest.test()_

I get:
     _...
     self.assertIn('SE2', neuron_synaptic_elements)
AssertionError: 'SE2' not found in {u'S\x00E': {u't\x00a\x00u\x00_\x00v\x00': 0.1, u'z': 10.0, u'z\x00_\x00c\x00o\x00n\x00n': 0, u'e\x00t': 0.1, u'c\x00o\x00n\x0

[2017-03-22 17:14] iMichka commented on #687
Hi. I'm one of the homebrew maintainers.

@heplesser don't worry, we are not asking the nest maintainers to update the formula. This is up to the homebrew users/maintainers to take care of this. So @physicalist 's wish that you should do is not exactly how it is supposed to work. In general everything works fine and upstream should not be bothered with packaging problems. That's our role :)

The p

[2017-03-22 17:21] apeyser commented on #687
Yup, it's probably a good idea to have nest-X.Y.Z.0 and nest-X.Y.Z.1... even for trivial changes, since these don't (shouldn't) happen that often. Even if it's not a bug and "should" make no difference, just to minimize confusion of the "Hey, the path changed" type.

Thanks @iMichka for the suggestion.

[2017-03-22 18:51] physicalist commented on #687
@iMichka @apeyser Great suggestions. Bumping the revision is an even better approach than my late-night bleary-eyed "idea" ;)
@iMichka you have a point regarding the bottles. I just assumed more people were using the Python bindings, but I guess they all updated right away when the sha256 hadn't changed yet :)
In any case, thank you @iMichka for taking the time & effort!

[2017-03-22 18:52] #687 closed

[2017-03-23 08:07] heplesser commented on #684
I added the reference to #382 here because that issue also relates to problems when installing via homebrew.

[2017-03-23 08:22] heplesser commented on #687
@iMichka @tammoippen @physicalist @jougs What happened is that we just exchanged the nest-2.12.0.tar.gz tarball on Github, changing the name of the top level directory inside the archive from nest-simulator-2.12.0 to nest-2.12.0, so that the name of the unpacked directory is consistent with the name of the archive. The content did not otherwise change and we did not move a tag.

The question conce

[2017-03-23 09:08] heplesser commented on #690
This looks strange and I cannot reproduce it on OSX 10.11 with Python 2.7.12. It looks a bit as if it could be a unicode problem, somehow lots of 0-bytes popping up inside strings. Could you provide the configuration report provided at the end of the `cmake` run? What happens when you run `make installcheck` in the build directory?

I assume Python is working fine otherwise?

[2017-03-23 10:41] physicalist commented on #684
OK. I didn't see @tammoippen had replied as well over there, that clarified the connection to the Python3 dependency issue. Apologies.

It seems we're on a good path regarding the Cython Homebrew issue, though. Hopefully it'll be accepted "real soon now", after I made some requested changes.

[2017-03-23 15:04] jougs commented on #687
Sorry for causing this confusion. I've recently exchanged the manually uploaded tarball to fix a path inconsistency with previous releases of NEST, not knowing that you relied on the SHA of that file.

I guess it would in general be more safe for you to just use [the other tar.gz](https://github.com/nest/nest-simulator/archive/v2.12.0.tar.gz) for packaging, as that is auto-created by GitHub to alw

[2017-03-24 19:08] tammoippen commented on #684
I think this can be closed as https://github.com/Homebrew/homebrew-science/pull/5280 is merged.

[2017-03-24 19:10] tammoippen commented on #382
Both of the nest related homebrew PR's are merged by now. @laurentperrinet , can you please state, whether there are still issues with installing nest via homebrew?

[2017-03-26 10:27] shlomita commented on #690
Hi,

We have few version of python installed on the system + the python came with the Operation System.
Each user can work with any python he like.

I need to install Nest and then users can run it from any python they choose.
With one of the python 2.7, then can run it okay but with the other not and get the error I sent in my previous message.

I tried to compile Nest again to give you the logs,

[2017-03-26 19:46] heplesser commented on #684
@physicalist Could you confirm that this issues if fixed by the Homebrew-fix and then close the issue?

[2017-03-26 19:59] heplesser commented on #690
@shlomita Python 2.7.5 has a bug in its regular expression module. You need at least version 2.7.8 for help generation to work, see post my Nilton Kamiji on NEST User on 8 March.

Furthermore, you cannot mix NEST with different Python versions. If you compile NEST with a given Python version, you can only use that version of NEST with the same Python version. You can build NEST in separate directo

[2017-03-27 15:21] SepehrMN commented on #505
Hi,
Is there a timetable for merging the new windowing system?

[2017-03-27 20:24] #683 closed

[2017-03-28 11:44] physicalist commented on #684
Confirmed to compile with both `--with-python` and `--with-python3`.

[2017-03-28 11:44] #684 closed

[2017-03-28 16:54] mhoff opened #696 "music_event_out_proxy broken for local_num_threads > 1"
**Description of problem:**
When using more than one thread the `music_event_out_proxy` fails to map the internal event port with the right size, for some specific values of `local_num_threads`.

**Git commit:** 58fd190f5e404f1e3e822c0d3915e2321d102ed5
**How reproducible:** Always (assuming `local_num_threads > 1`)
**Steps to Reproduce:** `mpirun -np 2 music run.music` (for attached [testcase](htt

[2017-03-28 20:46] wschenck opened #697 "Malformed SLI command crashes NEST"
An interactive nest session at SLI level can be crashed (seg.fault) by commands of the following form:
<tt>0 << /test >> GetStatus</tt>
Of course, this is "crazy" SLI usage, but nest should not crash even in this case.
Tested under Ubuntu 16.04.

[2017-03-29 13:55] heplesser commented on #697
@wschenck I can confirm this. Actually
[code]
is enough to cause the seg.fault, so it is a SLI problem.
[code]
passes (as it should, this is well-formed SLI code),
[code]
leads to a SLI error message (a slightly confusing one, though).

Running the `sli` executable in using lldb, I get the following
[code]
but no sensible stack trace. Would need to re-compile with `-Dwith-debug` to find out more.

[2017-03-30 07:22] heplesser commented on #680
Fixed by merge of #681.

[2017-03-30 07:22] #680 closed

[2017-03-30 07:52] heplesser commented on #505
@SepehrMN At present, the new windowing system is a proposal waiting for a volunteer to implement it. Many core developers are currently busy with major changes behind the scenes (subnet removal, improved output), so it will probably be a while until we get around to this one.

[2017-03-30 10:51] SepehrMN commented on #505
Many thanks. I think what I wrote can be very easily be turned into how your `windows` suggestion would work. Furthermore, it would work with a `window_stop` as well.

[2017-03-30 11:36] Silmathoron commented on #673
I realized there is something I did not ask, but that have been disturbing me for a long time: why remove ``GetNodes``?
It's not related to ``SubNet`` except regarding the fact that it used it to get only the nodes in the subnet, but it could be used without ``SubNet`` and it is quite useful to obtain the gids of either the neurons, or specific devices, which can be useful if it is annoying for th

[2017-03-31 14:51] physicalist commented on #662
I've run into the same issue when testing my NEST installation with `do_python.py`. Interestingly, only with Python3. Here's one of the error messages for reference:
[code]

The code section with the Monkey patch stems from 8d8b19cf53ae83981eb64d890aec5634365978e7 and even contains a [comment](https://github.com/nest/nest-simulator/blame/master/pynest/nest/lib/hl_api_helper.py#L44) that the functi

[2017-03-31 22:09] SepehrMN opened #698 "Spin_detector problems"
I looked at the code and I see two problems with the spin_detector:

1. The documentation is for the spike_detector
2. The precision setting does not conform to #446. After the cpp file changes, this will require additional tests.

I could potentially fix both.

[2017-04-03 07:02] heplesser commented on #696
@jougs Could you take a look at this?

[2017-04-03 09:48] heplesser commented on #698
@SepehrMN I would be great if you could provide a PR fixing this!

[2017-04-03 09:54] heplesser commented on #690
@shlomita Have you been able to solve this problem by re-compiling? If so, please close the issue.

[2017-04-03 10:00] heplesser commented on #635
Closing due to inactivity.

[2017-04-03 10:00] #635 closed

[2017-04-03 10:04] heplesser commented on #667
Looks like duplicate of #545.

[2017-04-03 10:10] heplesser commented on #495
Closing this as there is a work-around given by @gewaltig above, and we do not have capacity to support Macports explicitly at present (homebrew is supported).

[2017-04-03 10:10] #495 closed

[2017-04-03 10:13] shlomita commented on #690
It work only with python I compile NEST with.

[2017-04-03 10:13] #690 closed

[2017-04-03 10:16] heplesser commented on #419
Closing because this concerns an extreme, unphysiological border case only.

[2017-04-03 10:16] #419 closed

[2017-04-03 10:21] heplesser commented on #382
@laurentperrinet Do you still have problems with homebrew? If not, would you close this issue?

[2017-04-03 10:23] heplesser commented on #325
Closing as we now have released NEST 2.12.0.

[2017-04-03 10:23] #325 closed

[2017-04-03 11:47] mhoff commented on #696
@jougs I had another look into the issue and recognized that some settings for `local_num_threads` do actually work. See the original issue for the updated description.
@kappeld FYI

[2017-04-03 13:14] heplesser commented on #673
@Silmathoron In NEST 3.0, we will have `GIDCollections` which represent nodes in a very compact form and `Create()` will return a `GIDCollection` representing all nodes created by that call (it just contains first and last GID and model ID). The user is then responsible for keeping track of the nodes in the network.

In the worst case, you could still create a `GIDCollection` covering all nodes an

[2017-04-03 13:16] heplesser commented on #696
@mdjurfeldt Maybe you also could take a look, although the problem quite likely is on the NEST side since things worked with 2.10.

[2017-04-03 13:57] mhoff commented on #696
The testcase now contains a small helper script for testing the parameter range: [out_proxy_bug.zip](https://github.com/nest/nest-simulator/files/890236/out_proxy_bug.zip). It would be nice if someone could confirm this behaviour.

I also updated the original report, because I accidentally used another testcase version for the actual results. The attached testcase is now consistent with the above

[2017-04-03 14:24] heplesser commented on #677
When running with Nosetests available, the tests in `mpitest_issue_578_sp.py` are not executed at all.

I am wondering if we should (a) remove support for anything except nosetest (which is pretty standard today) and (b) double-check that nosetests really finds all our tests. I will create a new issue for this.

[2017-04-03 14:48] Silmathoron commented on #673
Ok, thanks for the precision.
Are the models stored internally by their type? The bottom question being, if I create the global ``GIDCollection``, then use ``Select`` to keep only ``"spike_detector"``, if there are ``N`` nodes, and ``D`` detectors, will this be ``O(N)`` or ``O(D)``?

[2017-04-03 21:07] heplesser commented on #673
@Silmathoron (a) As of NEST 3, we expect users to keep track of network elements they create. Since GIDCollections will allow this in a convenient and efficient manner, I would not want to spend much resources on making "forget and search" particularly efficient. (b) `Select` is currently implemented in SLI and loops over all neurons, so it would be O(N). Exploiting the `ModelrangeManager`,  one c

[2017-04-03 21:13] Silmathoron commented on #673
Understood, thanks again for the precisions!

[2017-04-04 09:42] heplesser commented on #561
As far as I understand the [CMake docs](https://cmake.org/cmake/help/latest/command/set.html), CMake should convert the relative path to an absolute one, at least in CMake 3.8. I will make explicit in our documentation that one should provide absolute paths.

[2017-04-04 09:49] jakobj opened #700 "Suppress all NEST startup output"
When running simulations on large systems the user should be able to minimize the amount of output NEST is generating during startup. At the moment, I see two issues

1. NEST's welcome message
2. INFO output from the rng manager

I would hence suggest two modifications:

1. add a verbosity check round the `welcome` and `shortwelcome` calls in sli-init (https://github.com/nest/nest-simulator/blob/m

[2017-04-04 09:59] heplesser commented on #578
See also #663 and #658, which add recording to many stimulation devices. That may require adjustment to tests once #663 is merged.

[2017-04-04 10:24] heplesser commented on #545
The reason is most likely that we have parallelized setting of defaults across threads [see here](https://github.com/nest/nest-simulator/blob/ad9365396b85edab65a9d2cccfaebdce2a42d477/nestkernel/model_manager.cpp#L361) and that this code does not handle exceptions safely inside the parallel region. This may be because the code only catches `BadProperty`, no other exceptions. The code also has only

[2017-04-04 10:25] heplesser commented on #667
Closing as duplicate of #545.

[2017-04-04 10:25] #667 closed

[2017-04-04 11:11] heplesser commented on #700
This is essentially a duplicate of #415, but since you propose a fix here, I will close #415 in favour of this issue. Personally, I find the message from the RNG manager on startup rather irritating, too.

Ideally, we should read the verbosity from `.nestrc` or the command line (last having higher priority) and use that as initial value for the `LoggingManager`.

[2017-04-04 11:12] heplesser commented on #415
I am closing this in favour of #700, which came with an offer of a fix.

[2017-04-04 11:12] #415 closed

[2017-04-05 05:33] #561 closed

[2017-04-05 10:38] heplesser opened #702 "Should we drop gid-based variants of Connect in NEST 3?"
When we introduced "NewConnect", we kept old variants of the `Connect` call for backward compatibility. `Connect` thus can be called in many ways
[code]

I am wondering whether we should drop the first six, gid-based variants in NEST 3 and rather add a variant with numeric values for `weight` and `delay` for the GidCollection-based variant.

[2017-04-05 11:12] heplesser opened #703 "Improve error handling in Connect"
When `Connect` in the list/gidcollection-based variant is called and the user forgets to specify a connection rule or spec, e.g.,
[code]
a rather confusing
[code]
We should make this more informative: If an error occurs, we could inspect the dictionary and check if it contains `/rule`. If not, we can explicitly tell the user that the conn spec is missing.

[2017-04-06 16:25] SepehrMN commented on #606
I have begun working on this and I plan to submit it in stages.

[2017-04-07 08:18] #578 closed

[2017-04-07 13:07] flinz commented on #545
This is resolved by #704 .

[2017-04-07 13:07] #545 closed

[2017-04-07 14:45] mhoff commented on #696
@kappeld and I tracked down the issue to the [ConnectionManager](https://github.com/nest/nest-simulator/blob/master/nestkernel/connection_manager.cpp#L413):

[code]

If the conditions
* `not target->has_proxies()` and `target->local_receiver()`
* `not source->is_proxy()` and `not source->has_proxies()`

are met, the parameter `target_thread` gets overwritten by a suggested thread for the target gi

[2017-04-07 22:18] heplesser commented on #696
This code was introduced with [#221](https://github.com/nest/nest-simulator/pull/221/files#diff-ab2ac3347b4262d628f9f3b6b99c55b5R392), which fixed #211, more precisely with 73ad9f8e63c8ef13fec75115c691aad62c49dccc. Removing lines 413, 475, and 513 should make [regressiontests/issue-211.sli](https://github.com/nest/nest-simulator/blob/master/testsuite/regressiontests/issue-211.sli) fail.

The backg

[2017-04-08 17:07] mhoff commented on #696
Thank you for the explanation.

Assuming [this](https://github.com/nest/nest-simulator/files/907665/patch.txt) is what you meant, I can already say that it ends up in the same behavior as the previous "fix". The testcase works fine, but my more complex example produces
[code]

Certainly. As soon as the problem is fixed I can provide the PR.
Meanwhile I will try to create a simple testcase which ex

[2017-04-10 14:05] kappeld commented on #696
Hi, I think I understand now what is going wrong here. The patch that @heplesser proposed almost fixes the problem but there is one condition in which the function may still exit without creating a connection. In line [line 463 of connection_manager.cpp](https://github.com/nest/nest-simulator/blob/master/nestkernel/connection_manager.cpp#L463) the check `source->get_thread() != target_thread` may

[2017-04-10 14:57] mhoff commented on #696
The regression test can be found here: https://github.com/IGITUGraz/nest-simulator/commit/71c755dc04d276c530c408330fad08efce30758e
Without the fix it does produce the mismatching widths behavior.

[2017-04-10 22:07] heplesser commented on #696
@mhoff @kappeld Thank you for your detective work! `one_node_per_process() == true` for all four `music_*` models and `== false` for all other models in NEST master.

I think your analysis is essentially correct, but you should place the `source->is_proxy()` check first:
[code]
This ensures that only local neurons (same MPI process) will send spikes to the music proxy.

To make further discussion

[2017-04-11 11:53] mhoff commented on #696
We will do one final test on our side and file the PR presumably tomorrow.

[2017-04-11 20:22] jougs commented on #696
@kappeld, @mhoff : many thanks for tracking this down. Other than the MUSIC proxies, there are no nodes with this specific setting of flags. And if there were, I assume they need to be treated in the same way.

Can you please start a PR with your changes? I'll review it positively and quickly if you do.

[2017-04-12 09:55] janhahne opened #707 "weight_recorder does not work with connection types which use secondary events"
Recording the weights of a connection type that uses secondary events gives an empty list

Example script:
[code]

@weidel-p already found the reason:

[2017-04-12 10:02] janhahne opened #708 "CopyModel does not work with connection types which use secondary events"
The CopyModel functionality does not work properly with connection types which use secondary events.

Example script:
[code]

The neuron with is connected with `syn1` does not receive the input from the `gap_junction` and stays at its resting potential.

@jakobj already found the reason:

The `break` statement was accidentally not removed with the original PR #175 which should already have fixed t

[2017-04-13 02:27] mschmidt87 commented on #508
Actually, I was just looking something up in the documentation on random numbers and realized that it is outdated. It still uses the old function names for creation of connections, such as `RandomDivergentConnect`, so this should be updated as well.

[2017-04-13 12:08] kkapanova opened #712 "with-Python=OFF still leaves python required paths in Help Generation"
In order to compile nest without Python,
I had to comment few lines in nest-2.12.0/doc/CMakeLists.txt and more precisely I removed the following part from the file:
[code]
Probably there should and extra if Python statement

[2017-04-18 07:49] heplesser commented on #712
@kkapanova I assume that you encountered this problem on a system on which Python was not available at all? I am just trying to understand why this problem did not show up in our CI testing.

This is closely related to #678.

[2017-04-18 07:50] heplesser commented on #678
See also #712 on what happens if no Python is available at all.

[2017-04-18 08:14] #707 closed

[2017-04-18 09:09] #658 closed

[2017-04-18 09:22] #708 closed

[2017-04-19 19:17] kkapanova commented on #712
@heplesser Yes you are correct. No Python was available on the system during the installation. Nevertheless, once this part of the code is removed, the compilation proceeds with no problems..

[2017-04-20 07:20] heplesser commented on #678
@steffengraber Together with #712, I think the situation is as follows:
- If no Python is available at all, or if Python is older than 2.7.8 (`re`-bug), we skip help generation completely.
- Otherwise, we need to use the Python that CMake has discovered instead of hard-coding `python` as is the case at present.

[2017-04-20 07:21] heplesser commented on #712
This will be handled as part of solving #678, therefore I close this issue.

[2017-04-20 07:21] #712 closed

[2017-04-20 08:06] stinebuu commented on #703
@heplesser I am not sure if checking for `/rule` will work. As far as I can tell, when calling `Connect` in this manner, SLI interprets it as a parameter in conn spec, and fills in missing defaults:

`/conn_spec :Connect_complete_dict % fill in missing defaults` (line 456 in nest-init.sli)

The dictionary will then contain a `/rule`, namely `all_to_all`.

[2017-04-20 08:54] heplesser commented on #703
@stinebuu This indeed makes things more complicated. The problem is that it would be difficult to identify a dictionary that is a syndict in all generality. So I will close this for now.

[2017-04-20 08:54] #703 closed

[2017-04-21 07:27] heplesser commented on #74
I tried again with the newest master and compilers, problems persist.

### Apple LLVM version 8.1.0 (clang-802.0.42)

- Still no support for OpenMP
- Crashes:
    - unittests/test_aeif_cond_alpha_multisynapse.sli
    - unittests/test_aeif_cond_beta_multisynapse.sli
    - unittests/test_mip_corrdet.sli
    - unittests/test_recorder_close_flush.sli
    - regressiontests/ticket-80-175-179.sli
- Pytho

[2017-04-21 07:29] heplesser commented on #179
See also #74.

[2017-05-08 13:03] heplesser commented on #712
@kkapanova Could you test if the fix proposed by @steffengraber in #715 works on your Python-free system? The easiest way to do this is probably to manually apply the change in #715 to your copy of the NEST sources and then test in a new build directory. Please report if it works or any problems in #715.

[2017-05-08 14:56] suku248 opened #717 "Inconsistent initialization and reset of EventDeliveryManager"
In PR #716 @heplesser noticed that

This needs to be checked and if we do not need to reset those members explicitly, a comment is required that explains why.

[2017-05-11 10:09] maharjun opened #718 "NEST Deadlock if exception thrown in update"
It Appears that the following situation leads to a deadlock in the v2.12.0 commit. When an exception is raised on any one thread and not on the other thread in the same simulation slice, the loop for that thread only is terminated by the following condition in the while loop. The rest of the threads then stall on the next barrier leading to a deadlock.

[code]

On a related note, how feasible woul

[2017-05-11 11:36] heplesser commented on #718
@maharjun Thank you for reporting this. Do you have a reproducer that we could use as the basis of a regression test?

I believe that the fix is reasonably straightforward: We can introduce a loop in the `omp master` section beginning at [simulation_manager.cpp:837](https://github.com/nest/nest-simulator/blob/7d3c92fca72f11bc7761a3209983d0d28edd3736/nestkernel/simulation_manager.cpp#L837) to check

[2017-05-11 20:58] maharjun commented on #718
I have code in the following repository that causes a deadlock, although I'm not sure one detects a deadlock in a unit test, I have the  neuron model and network setup with all the instructions to install and test at the following branch of my repository

https://github.com/IGITUGraz/SpikeDetectorFuse/tree/NESTExceptionDeadlockTest

[2017-05-15 13:45] hakonsbm opened #719 "Error when calling set_synapse_defaults with multiple threads"
After PR #704 a bug has been found with setting defaults for synapse models using multiple threads, making NEST crash. Because of this, the test test_connect_parameters.py causes a segmentation fault somewhat reliably on multi-core systems.

The problem arises because we are setting defaults in parallel using OpenMP. Using parallelization here is not necessary, and removing it will fix the issue.

[2017-05-15 14:08] appukuttan-shailesh opened #720 "Updates recording of currents provided by stimulating devices"
This is a continuation of the discussion towards the end of #663.

The following needs to be updated:
- Setting the recordables: GetDefaults('..._generator')['recordables']
- Appropriate updates to unit test to include above
- For noise generator, set current = 0, when no target neuron connected
- For noise generator, keep the current value constant for the duration of noise_generator's dt
(soluti

[2017-05-15 14:51] appukuttan-shailesh commented on #720
@gtrensch : I have pulled the changes from your repository and updated L348 here:
https://github.com/appukuttan-shailesh/nest-simulator/tree/record-stim

Once we decide on the AC source, I shall create a pull request.

[2017-05-15 16:35] Maryada-27 opened #721 "PYNEST testsuit fail"
![error](https://cloud.githubusercontent.com/assets/24396825/26068206/0d721308-399d-11e7-999f-ab953ebe041d.png)
[nest.96JXc.tar.gz](https://github.com/nest/nest-simulator/files/1001726/nest.96JXc.tar.gz)

[2017-05-16 13:23] heplesser opened #722 "NEST Name mechanism is not thread-safe under insertion"
NEST uses a global `Name` table to accelerate name lookup and comparison in dictionaries. Inserting into this table in a thread-parallel context can corrupt the name table. This can happen if new names are introduced as strings in parallel context, in particular during `set_status()/get_status()` calls.

Measures:
1. Assert that `Name::insert()` is only executed in thread-serial context.
1. Replac

[2017-05-18 00:47] ikitayama opened #723 "Use FCCpx to link randomtest and sli on the K computer frontend"
Is there a way to link randomtest and sli executables with FCCpx, not mpiFCCpx?

As I need to instrument the application with Score-P, the above is needed so
simply typing make can built all the executables.

[2017-05-19 12:00] kennysharma opened #725 "Threading Issues When OMP_NUM_THREADS != local_num_threads"
### Description of problem:
If you use Nest within a multi-threaded application where any thread can create connections AND you have the environment variable `OMP_NUM_THREADS` set to a different value than `local_num_threads` in the Nest kernel, you will encounter issues such as `Connect(...)` calls succeeding despite not actually creating the underlying connections.

It appears as though this was

[2017-05-19 13:27] heplesser commented on #725
@kennysharma Thank you for your very detailed report! I can reproduce this with the current master on MacOS and made the following observations:

- All works well with `OMP_NUM_THREADS` from 3 to 8; things go well from 3 most likely because there are only two neurons.
- For `OMP_NUM_THREADS` greater than 8, the script leads to a segmentation fault.
- The call to [`omp_set_num_threads()` in `connec

[2017-05-19 13:38] kennysharma commented on #725
From my testing, if I insert a call to `omp_set_num_threads` (the same block of code I referenced above) into the top of `nest::ConnBuilder::connect()` in `nestkernel/conn_builder.cpp` and re-compile, I no longer get an error in the test code at least with my local Nest 2.10.0 build.

I commented it out again and rebuilt in the same terminal to verify it wasn't some lingering variable and the issu

[2017-05-19 13:42] heplesser commented on #721
@Maryada-27 Please also attach an archive containing the entire `reports` directory and post your cmake invocation, the report at the end of cmake here.

[2017-05-19 13:46] heplesser commented on #720
@appukuttan-shailesh @gtrensch I will try to work on this early next week.

[2017-05-19 15:04] heplesser commented on #725
Just a speculation: NEST relies on omp_dynamic being set to false, so that the number of threads remains fixed. If Python's threading package changes that setting to true or explicitly changes the number of threads (e.g. based on OMP_NUM_THREADS), then NEST will be in trouble when control returns to NEST. Inserting explicit omp_set_num_threads() calls in certain places in NEST code would fix this.

[2017-05-19 20:14] wmayner opened #728 "`topology.PlotKernel` doesn't show periodic boundary conditions"
**Description of problem:**
When plotting the kernel for a given neuron in a layer with periodic boundary conditions, the boundary conditions are not reflected in the plot.

**Version-Release or Git commit:**
 2.12.0

**How reproducible: (Always/Sometimes/Unsure)**
Always

**Steps to Reproduce:**
Run this script and view the plot `p`:

[code]

**Actual results:**
![kernel](https://cloud.githubuser

[2017-05-22 08:30] #722 closed

[2017-05-22 08:32] jougs commented on #719
Is this problems fixed with the merge of #724? If yes, please close it. Otherwise please comment on what is still needed. Thanks!

[2017-05-22 11:38] hakonsbm commented on #719
It turns out it is necessary to use parallelization after all, and the bug has been fixed by #724, so I'm closing this.

[2017-05-22 11:38] #719 closed

[2017-05-22 15:34] hakonsbm commented on #74
All tests pass when compiling with clang under Ubuntu. Here is my setup:

- Ubuntu

[2017-05-22 15:49] hakonsbm commented on #74
All tests pass when compiling with clang under Ubuntu 16.04.2, using clang version 3.8.0.
What I did:

- Download and compile OpenMP from source from [http://llvm.org/git/openmp.git ](http://llvm.org/git/openmp.git )
- Some exports:
[code]
- Run `cmake` with paths to the clang compiler, specifying the compiled OpenMP version and its include path
[code]
- Run `make -j4 install installcheck` as usua

[2017-05-23 08:01] heplesser commented on #74
I now built under MacOS 10.12.5 with clang 4.0.0 from brew with everything turned off:
[code]
Building with static libraries requires deletion of duplicate names from `topology_names.h`.

Then, the following test lead to segmentation faults:
- unittests/test_mip_corrdet.sli
- unittests/test_recorder_close_flush.sli
- regressiontests/ticket-80-175-179.sli
The other tests reported failing above (`te

[2017-05-24 11:26] heplesser commented on #728
@wmayner The online documentation and the user manual explicitly state that `PlotKernel()` ignores periodic boundary conditions, so the behavior you report is correct wrt documentation.

Thus, I consider this a feature request, which raises the question of how important this use case is.

[2017-05-24 15:07] #74 closed

[2017-05-24 16:21] wmayner commented on #728
Ah, I see—I was following [the `topology` tutorial](http://www.nest-simulator.org/part-4-topologically-structured-networks/) and hadn't actually read the full documentation for that function. Sorry for the unnecessary issue.

It would be nice to show the boundary conditions, but that's certainly a very low-priority feature.

[2017-05-25 18:28] Maryada-27 commented on #721
[reports.tar.gz](https://github.com/nest/nest-simulator/files/1029865/reports.tar.gz)

[2017-05-25 18:29] Maryada-27 commented on #721
cmake -DCMAKE_INSTALL_PREFIX:PATH=/media/maddy/dev/nest -Dwith-python=3 -Dwith-gsl=ON -DPYTHON_EXECUTABLE=/usr/bin/python3 -DPYTHON_LIBRARY=/usr/lib/x86_64-linux-gnu/libpython3.5m.so.1 -DPYTHON_INCLUDE_DIR=/usr/include/python3.5m -DPYTHON_INCLUDE_DIR2=/usr/include/x86_64-linux-gnu/python2.7 /media/maddy/dev/nest-2.12.0

[2017-05-26 08:09] Maryada-27 commented on #721
Hi,

I have uploaded the necessary details

On Fri, May 19, 2017 at 3:42 PM, Hans Ekkehard Plesser <
notifications@github.com> wrote:

--
Thanks and Regards

*Maryada*

[2017-05-26 09:12] heplesser commented on #721
The end of your `reports/installcheck.log` shows
[code]
So the problem is due to a mix of Python 2.7 and Python 3.5: you built PyNEST using Python 3.5, but the NEST testsuite finds `nosetests` in your Python 2.7 installation. I also notice in your `cmake` invocation that you need to "work hard" to build NEST with Python 3. Can you change your environment so that simply `--Dwith-python=ON` will bui

[2017-05-26 09:12] #721 closed

[2017-05-26 11:24] #720 closed

[2017-05-27 13:26] #359 closed

[2017-05-28 18:09] maharjun opened #735 "Incorrect Parameter Name String in conn_builder.cpp"
As of the latest master commit `15b63f2` (master branch), the file `conn_builder.cpp` at line '340' appears to mistakenly contain a space after the `"` in the parameter string `" A_minus"`

[2017-05-29 06:18] kennysharma commented on #725
As a followup (and for additional context for the NEST Developer Video Conference), it appears that we have OMP_NUM_THREADS explicitly set to avoid segmentation faults in Nest that occur when the number of threads is confused. I was not part of the team back then, but it's quite easy to produce crashes in a few different places.

Here's a minimal example to produce crash (tested against Nest 2.10.

[2017-05-29 07:06] #718 closed

[2017-05-29 08:34] heplesser commented on #735
@maharjun Thanks for reporting! That space seems to have been there for a while already, and it appears that that test is never executed. I have now removed the test entirely (see #736 for reasons) and added a regression test.

[2017-05-29 08:40] heplesser opened #737 "Review `ConnBuilder::check_synapse_params_`"
This is a follow-up to #735 and #736. `ConnBuilder::check_synapse_params_()` tests whether certain synapse parameters for certain synapse types. There are several problems with this code
- string passed by value, not reference;
- slow comparison with strings instead of Name objects;
- testing based on name of base model: tests will not be applied to copied models
- not sure if there is a unit- or

[2017-05-29 10:30] sanjayankur31 opened #738 "NEST crash - possibly concurrency related"
## Description of problem:

When running my (rather large) simulation that includes structural plasticity, NEST crashes when the simulation is resumed after updates are made to connections (connections are deleted using nest.Disconnect, and new ones are formed using nest.Connect).

## Version-Release or Git commit:

We've disabled NEST's internal `update_structural_plasticity` bit. This is followi

[2017-05-30 12:37] heplesser commented on #737
In context of #736, it is clear now that this issue needs fixing, in particular to make sure that `check_synapse_params_()` will work correctly even if we create a connection using a model created by `CopyModel`.

I think the only way to solve this cleanly is to add a virtual method `check_params_()` to the base class  `Connection<T>` doing nothing and overriding it in those classes that need chec

[2017-05-31 21:03] heplesser opened #740 "step_current_generator must require sufficient spacing of amplitude_times"
Currently, `amplitude_times` in `step_current_generator` can be set to arbitrary doubles; NEST only checks that they are non-descending. If times are less than resolution apart, the `step_current_generator` will [not advance correctly through the amplitude array](https://github.com/nest/nest-simulator/blob/08e830bfd54943809c76b89e7ddced5f6c8ea5d7/models/step_current_generator.cpp#L245), as it can

[2017-05-31 21:13] heplesser opened #741 "Changing tic-base is unsafe"
Changing the tic-base of the NEST `Time` class, e.g.,
[code]
invalidates the recording interval of voltmeter and multimeter, e.g.,
[code]
The reason for this is that the interval is represented internally as a `Time` object, i.e., in tics; when the size of the tic changes, the value of the interval changes as well.

Any other `Time` objects stored in neuron and synapse prototypes will be affected

[2017-06-01 07:10] heplesser commented on #741
As a side effect of the implicit change in the `interval`, the default-resetting implied in the following `Connect` with parameters leads to a confusing error:
[code]

[2017-06-01 07:31] heplesser commented on #741
## Proposal for solution

1. We can without practical problems restrict changes in tic-base to occur in a "fresh" kernel only, i.e., either a newly started kernel or immediately after `ResetKernel`.
1. In particular, we prohibit change of tic base after any `CopyModel`, `SetDefaults`, `Create`, `Connect` and `Simulate` calls
1. Thus, we only allow changes to tic base in situations where
    a. tim

[2017-06-01 09:21] bernhardkaplan opened #742 "PyNEST nosetest fails for installation with python3"
[code]
System: Xubuntu 16.04.2, Linux 4.8.0-53-generic #56~16.04.1-Ubuntu

Configuration command: `cmake -DCMAKE_INSTALL_PREFIX:PATH=~/Downloads/nest-2.12.0-build ~/Downloads/nest-2.12.0 -Dwith-mpi=ON -Dwith-python=3`
Installation also fails without the python3 flag and only finishes successful when `-Dwith-python=2` is specified.

Report folder:
[nestreport.tar.gz](https://github.com/nest/nest-si

[2017-06-01 21:46] heplesser commented on #740
@zbarni Could you take a look at this one? The solution is the same as required in #671.

[2017-06-02 07:15] sanjayankur31 commented on #738
Cannot reproduce. Closing for the time being.

[2017-06-02 07:15] #738 closed

[2017-06-02 17:28] appukuttan-shailesh commented on #740
@heplesser, @zbarni : Just a note to consider the inclusion of a
`spike_generator::Paramters_::assert_valid_spike_time_and_insert_()` for the step_current_generator.

[2017-06-02 17:59] Tigeraus opened #743 "The Draw problem in Raster_plot.py"
in line 293 of raster_plot.py:

`pylab.draw()`

This can not show the figure. I suggest that replace it with `pylab.show()`

[2017-06-03 11:43] heplesser commented on #743
@Tigeraus The methods in `nest.raster_plot` call `pylab.draw()` intentionally: on many backends, `pylab.show()` would block the simulation until the figure window is closed. `nest.raster_plot` provides `show()` to force showing the figure. If plotting from a loop, it may be necessary to insert `pylab.pause(0.001)` to briefly surrender control to the GUI loop to allow it to update a figure.

[2017-06-03 11:43] #743 closed

[2017-06-06 08:27] #737 closed

[2017-06-06 12:14] #735 closed

[2017-06-08 14:39] kappeld opened #746 "Segmentation fault if `Install` is called after `CopyModel`"
@mhoff and I discovered a strange bug that seems to manifests whenever a custom module is loaded after a call to `CopyModel`. More precisely the following python code fails with a segmentation fault:

[code]

where `mymodule` is just the example custom module that comes with NEST.

We tested with the latest commit of NEST using `ipython3`on Debian Jessie.

I briefly looked into `ModelManager::regi

[2017-06-09 05:29] heplesser commented on #746
@kappeld @mhoff Thank you for reporting this and for your detective work! I believe the problem is [due to the following bit of code](https://github.com/nest/nest-simulator/blob/d66456ce6393e48961814444c82179fd1e52ab60/nestkernel/model_manager.cpp#L622)
[code]
`pristine_prototypes_` keeps unmodified copies of the original model prototypes, so that `ResetKernel` can restore `prototypes_`. `CopyMode

[2017-06-09 13:14] janhahne opened #748 "Error when nest.helpdesk() is called with Python < 2.7.8"
When I install NEST with Python 2.7.6 and then call `nest.helpdesk()` in python I get an error that the file helpindex.html does not exist. If I call `nest.help('iaf_psc_alpha')` (or any other NEST object) i get the - of course somehow right - answer `Sorry, there is no help for 'iaf_psc_alpha'!`

I assume this behavior results from the combination of PR #688 and #715.

When I call `nest.helpdesk(

[2017-06-12 05:14] steffengraber commented on #246
@heplesser @jougs Can we close it?

[2017-06-12 08:41] rpgowers opened #749 "Broken NEST installation, fatal SLIStartup [resolved]"
**[Issue probably resolved]**
**Description**
Consistently achieving broken NEST installation.

**Version**
I am trying to install NEST 2.12.0 on Ubuntu 16.04 with Python 2.7.11 (anaconda version 4.3.21)

**Steps**
I installed NEST with the following steps,
`cmake -DCMAKE_INSTALL_PREFIX:PATH=../nest-install -Dwith-mpi=ON -Dwith-readline=OFF -DCMAKE_C_COMPILER=cc -DCMAKE_CXX_COMPILER=c++ -DMPI_C_CO

[2017-06-12 13:12] heplesser commented on #748
@steffengraber Could you take a look at this? I think @janhahne's suggestion to print
[code]

[2017-06-12 13:41] #749 closed

[2017-06-12 14:22] #246 closed

[2017-06-12 14:54] heplesser opened #750 "Testsuite Readme requires update"
This is a follow-up to #713.

The [testsuite/README.md](https://github.com/nest/nest-simulator/blob/079581aab513480e6021934cbe117e81eee447fa/testsuite/README.md) file needs to be updated to reflect the new skipping commands introduced in #713.

[2017-06-13 05:26] steffengraber commented on #748
@janhahne @heplesser There is a little fix: #751.
Please test and review it.

[2017-06-13 05:53] steffengraber commented on #678
@heplesser Can we close this issue?

[2017-06-13 07:41] heplesser commented on #678
Fixed by #715.

[2017-06-13 07:41] #678 closed

[2017-06-13 09:19] #750 closed

[2017-06-13 10:29] mmagician commented on #742
Same problem for me, have you found a solution yet?

[2017-06-13 11:10] #748 closed

[2017-06-13 11:36] heplesser commented on #742
`reports/installcheck.log` indicates that the testsuite runs Python 2.7, while NEST was built with Python 3.5:
[code]
This explains why things work correctly when you build with `-Dwith-python=2`, because NEST is then built with and tested using Python 2.7.

So different Python installations on your system apparently confuse NEST. Could you do the following:

1. `source <installpath>/bin/nest_vars

[2017-06-13 11:38] heplesser commented on #742
Duplicate of #721.

[2017-06-15 13:14] dohmatob opened #754 ""isinstance" bug in nest.py"
#### Description

Running the example http://www.nest-simulator.org/py_sample/twoneurons/ yields the following error traceback

[code]

[2017-06-16 11:26] heplesser commented on #641
@lekshmideepu I was wondering about the status of this project? I just noticed that Travis builds hang because the llvm.org website is currently unreachable, so clang-format cannot be downloaded. It would be really great if we could avoid such "live" dependencies in the future.

[2017-06-19 06:45] DimitriPlotnikov opened #756 "Add new compiler configuration with bound checks in std-container and `AddressSanitizer` for array bounds checks"
Std-containers have safe (with bound checks, e.g. vec.at(1)) and unsafe (without bounds checks vec[1]) getters. However, `g++` enables to use a "debug" version of these containers by defining a flag `D_GLIBCXX_DEBUG` for the g++ compiler. In the later case, all unsafe access will be replaces through the safe variants.

The same applies for the plain c++ arrays. By default, the g++ compiler relays

[2017-06-19 07:00] DimitriPlotnikov commented on #756
An pleasant effect in the previously described approach is that in the case of the std-container bound violation there are no actual information regarding the actual line of code where the error occurred. Therefore, I tested also `clang++-4.0`
Uncommenting line 10 (which contains out-of-bound access to a vector) generates the following error:
[code]
Uncommenting line 12 (which contains out-of-boun

[2017-06-19 07:03] DimitriPlotnikov commented on #756
Summary: with `gcc` an out-of-bound array access can be seen directly. With `clang` there is at least a chance for somebody how understands what to do with stacktraces to find out there the out-of-bound container access happened.

[2017-06-19 11:02] heplesser commented on #756
@DimitriPlotnikov Thank you very much for figuring this out. I would suggest the following steps:
1. Add the necessary options to the `--Dwith-debug` option in [cmake/ProcessOptions.cmake](https://github.com/nest/nest-simulator/blob/372f485d036e5e11ac7619abce8b4429cbdf13af/cmake/ProcessOptions.cmake#L35), so that the compiler checks access violations for STL containers and C-style arrays. We may n

[2017-06-19 15:10] muffgaga commented on #210
And just for the record:

I had to take some steps to successfully build NEST 2.12.0 with Anaconda 4.4.0 on last weeks' Debian stable (i.e. Jessie ;) ):

[code]

[2017-06-19 15:13] muffgaga commented on #749
IMHO the path provided to `CMAKE_INSTALL_PREFIX:PATH` should be automatically canonicalized to a absolute path (using `realpath` or similar); it's a quite common "mistake" to provide relative installation paths.

[2017-06-19 21:29] heplesser commented on #756
At least on my machine, both compiling and running NEST with both debugging options given by @DimitriPlotnikov becomes very slow. Thus, it is probably not a good idea to use this for all tests, but rather for a test that is only run after all normal configurations have passed.

[2017-06-20 15:12] lekshmideepu opened #758 "Using container based infrastructure for Trusty"
Currently we use the"generic" build of Travis where the python image is provided by Ubuntu and is an old version 2.7.6. This creates some SSL warnings and I have already discussed the same with travis developers (https://github.com/travis-ci/travis-ci/issues/7868).
As we also wanted to speedup our builds by using the container based infrastructure of Trusty image, I have opened the following reque

[2017-06-20 15:56] lekshmideepu opened #759 "Moving the installation of CPPCHECK and CLANG-FORMAT to .travis.yml"
As we have[ $xSTATIC_ANALYSIS enabled](https://github.com/nest/nest-simulator/blob/master/.travis.yml#L36) for all our builds, do we need [this](https://github.com/nest/nest-simulator/blob/master/build.sh#L90) ?

Also I think we could move these installations from build.sh to the package installation section in .travis.yml where we install all the other packages.

[2017-06-20 22:10] wmayner commented on #662
I've had the same issue—so far, it seems that this is the only incompatibility with Python 3.

[2017-06-21 07:10] heplesser commented on #758
See also #682.

[2017-06-21 07:10] heplesser commented on #758
And how does this relate to #641?

[2017-06-21 11:22] heplesser opened #761 "Decide on one Python test approach for NEST"
NEST currently has two ways of running Python tests: `nosetests` and the `unittest` test runner. The latter is used if the former is not available, but runs far fewer tests and may run into problems that our CI testing does not pick up (because it uses `nosetests`), see #677.

Maintaining two different test setups requires extra efforts and risks that things are not tested as well as we believe. R

[2017-06-21 11:27] heplesser opened #762 "PyNEST test result parsing confused by NEST output"
The [code parsing the output generated by nosetests](https://github.com/nest/nest-simulator/blob/f201ca0ac064c28e05d2b57f132c51c8065f6efa/testsuite/do_tests.sh.in#L722) to provide a progress indication during testing is confused by output generated by NEST, since the parser relies on lines of the form `TestABC ... ok`. If NEST input intervenes before `ok` (or any other result), no progress will be

[2017-06-21 13:12] lekshmideepu commented on #759
I have successfully moved the installation to the yaml file and the build is fine except the final build summary table as it depends on the MSGBLDxxxx numbers created by @gtrensch
Made necessary changes in the build.sh file and have to do the changes in extras/parse_travis_log.py

[2017-06-21 14:15] gtrensch commented on #759
Generally, moving all the installation to the yml-file is a good idea. $STATIC_ANALYSIS is always set in the build matrix and can probably be removed too.

The MSGBLDxxxx message numbers indicate the status of the code analysis tool installation process. They are needed to evaluate the build by the parser script.

[2017-06-21 15:34] lekshmideepu commented on #758
As far as I know, the use of [container](https://docs.travis-ci.com/user/trusty-ci-environment/#Container-based-with-sudo%3A-false) based builds and [docker](https://docs.travis-ci.com/user/docker/) services are little bit different.
As some of the packages are not available in the [white list](https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-trusty), I think we need to wait a

[2017-06-21 15:59] lekshmideepu opened #763 "Testing on multiple python versions."
For some time ago, there was a discussion on testing multiple python versions. I tried the matrix [build ](https://travis-ci.org/lekshmideepu/nest-simulator/builds/245277036)for two different versions (2.x and 3.x) of python.  (issue with the pythonlibs has to be fixed in the build. I am working on this.)
I think testing the latest version of builds from both 2 and 3 series is enough. Could you pl

[2017-06-21 19:46] sepehrmn opened #764 "Feature needed: neuron updating weights"
I need the neuron to perform the computations for updating weights and have it set the weight on each synapse. I would also need to access connection weights (but I suppose this could be stored during the network creation time). One way to do so would be to try to get a pointer for each incoming connection on the neuron. There are two different synapses. At some point during the simulation, I woul

[2017-06-22 07:32] gtrensch commented on #759
@lekshmideepu A note on the message numbers: Parsing log files or console outputs is always a proplem. From a software engineering perspective it introduces dependencies and a coupling which you actually want to avoid. The previous implementation relied on the message texts itself. Means, fixing a typo could mess up the log parser. So I intruduced the numbers. You may move and change the messages

[2017-06-26 10:19] Silmathoron commented on #761
As a note, Unittest implements the discovery [from version 3.2 on](https://docs.python.org/3/library/unittest.html#test-discovery) and apparently also in [2.7](https://docs.python.org/2.7/library/unittest.html#test-discovery).

[2017-06-26 20:05] wangsihao opened #768 "Errors detected during the run of the NEST test suite"
[reports.zip](https://github.com/nest/nest-simulator/files/1103333/reports.zip)

[2017-06-27 00:06] mschmidt87 commented on #761
Hi, I have made only good experiences with py.test. We are using it in the [h5py_wrapper](https://github.com/INM-6/h5py_wrapper) as well as [python-dicthash](https://github.com/INM-6/python-dicthash) library. These are admittedly much smaller projects than NEST, but even here, moving from unittest to py.test saved us overhead code and made the code more readable, in my opinion.

As far as I can se

[2017-06-27 05:14] heplesser commented on #768
@wangsihao Which version of NEST are you using? We have fixed some errors relating to Python3 since releasing NEST 2.12.0. Please test with the newest version of the master branch from Github. None of the test failures indicate actual problems with NEST, they are minor Python issues in the test setup.

[2017-06-27 06:29] heplesser commented on #761
@mschmidt87 Is py.test compatible with existing tests based on unittests, or would we have to adapt all existing tests?

[2017-06-27 06:55] mschmidt87 commented on #761
py.test is compatible with testsuites based on unittest and nosetest, see the Documentation on [unittest](https://docs.pytest.org/en/latest/unittest.html) and [nosetest](https://docs.pytest.org/en/latest/nose.html).
In principle, you just execute `pytest` in the folder (or a parent folder) containing your tests and . (I tried this with nest, but it complains about some import issues in the test sc

[2017-06-29 07:23] heplesser commented on #768
Partly duplicate of #680, fixed by #681, and for the remainder a duplicate of #662. Closing.

[2017-06-29 07:23] #768 closed

[2017-06-29 07:33] heplesser commented on #754
@dohmatob This looks strange. There should not be any file nest.py in a NEST installation, and the line `if isinstance(each_item...` is not in NEST code.

[2017-06-29 07:33] #754 closed

[2017-06-29 07:44] heplesser commented on #390
Closing due to inactivity.

[2017-06-29 07:44] #390 closed

[2017-06-29 08:05] heplesser commented on #324
Closing because of lack of activity.

[2017-06-29 08:05] #324 closed

[2017-06-29 08:09] heplesser commented on #299
@uahic @weidel-p This issue has been inactive for a long time. Are you still interested in following it up or should we close it?

[2017-06-29 08:10] heplesser commented on #295
Closing due to inactivity.

[2017-06-29 08:10] #295 closed

[2017-06-29 08:19] #270 closed

[2017-06-29 08:21] heplesser commented on #268
We suggest using the standard `postscript-mode`, which is regularly maintained by an active external community.

[2017-06-29 08:21] #268 closed

[2017-06-29 08:21] heplesser commented on #262
This will be replaced with awesome `GidCollection`s once #480 is merged.

[2017-06-29 08:21] #262 closed

[2017-06-29 08:29] heplesser commented on #254
Seems fixed by #464.

[2017-06-29 08:29] #254 closed

[2017-06-29 08:35] heplesser commented on #248
Solving this would require knowing which entries in status dicts are read-only.  This can be solved once all models are generated using NESTML.

[2017-06-29 08:37] heplesser commented on #247
Since `hpc_benchmark.sli` has been used in many publications, we should keep it as constant as possible. But we should create a new version implementing the ideas above as well as being fully NEST3-style.

[2017-06-29 08:47] heplesser commented on #237
Closing, but see #242.

[2017-06-29 08:47] #237 closed

[2017-06-29 08:49] heplesser commented on #238
Closing due to inactivity.

[2017-06-29 08:49] #238 closed

[2017-06-29 08:49] heplesser commented on #230
Closed due to inactivity.

[2017-06-29 08:49] #230 closed

[2017-06-29 08:50] heplesser commented on #228
Closed due to inactivity.

[2017-06-29 08:50] #228 closed

[2017-06-29 08:52] heplesser commented on #223
Closing due to inactivity.

[2017-06-29 08:52] #223 closed

[2017-06-29 08:54] heplesser commented on #197
Documentation is provided through Python help system.

[2017-06-29 08:54] #197 closed

[2017-06-29 09:05] heplesser commented on #191
@zifeo Would you be interested in providing a pull request implementing access to th two parameters?

[2017-06-29 09:09] heplesser commented on #185
Closing in favor of #761.

[2017-06-29 09:09] #185 closed

[2017-06-29 09:11] heplesser commented on #153
After some more experience,  I think we still need this feature. Building and installing the documentation under macOS can be slow, in particular when recompiling often.

[2017-06-29 09:14] heplesser commented on #145
Closing due to inactivity.

[2017-06-29 09:19] #145 closed

[2017-06-29 09:22] heplesser commented on #81
Closing as issue is fixed in current HEAD.

[2017-06-29 09:22] #81 closed

[2017-06-29 09:29] heplesser commented on #742
Closing because it is a duplicate.

[2017-06-29 09:29] #742 closed

[2017-06-29 09:34] heplesser commented on #725
This will become easier to solve once we implement a strict logical separation between virtual processes and open mp threads; currently in early stages in connection with NEST3 work.

[2017-06-29 09:37] heplesser commented on #696
Closing as the issue has been fixed by #710.

[2017-06-29 09:37] #696 closed

[2017-06-29 09:38] heplesser commented on #677
Defer until we have a decision on #761.

[2017-06-29 09:39] heplesser commented on #657
@jakobj Any progress on this?

[2017-06-29 09:46] heplesser commented on #527
Since we have the work-around listed above, we should just prohibit `DataConnect()` when in Multithreaded mode (SLI and PyNEST).

[2017-06-29 09:47] heplesser commented on #521
Fixed by #714, closing.

[2017-06-29 09:47] #521 closed

[2017-06-29 09:49] heplesser commented on #430
This will be fixed when integrating #480, therefore closing.

[2017-06-29 09:49] #430 closed

[2017-06-29 09:51] heplesser commented on #382
Closing due to inactivity.

[2017-06-29 09:51] #382 closed

[2017-06-29 09:52] heplesser commented on #372
Closing due to inactivity.

[2017-06-29 09:52] #372 closed

[2017-06-29 09:59] heplesser commented on #358
Closing due to inactivity.

[2017-06-29 09:59] #358 closed

[2017-06-29 10:00] terhorstd commented on #368
Note also the discussion on buffers in multi-synapse models in the [2016-09-19-Open-NEST-Developer-Video-Conference](https://github.com/nest/nest-simulator/wiki/2016-09-19-Open-NEST-Developer-Video-Conference)...

[2017-06-29 12:32] #662 closed

[2017-06-29 12:35] steffengraber commented on #257
Just a short update: I am currently working on a complete setup for the user documentation on readthedocs. Part of this work is a complete build process for the website.
The PyNEST reference will then be part of it.

[2017-06-29 18:39] jougs commented on #723
[This link](https://stackoverflow.com/questions/1867745/cmake-use-a-custom-linker) provides some information on how to override the linker for Cmake. However, as the `sli` and `randomtest` executables are not the main executables of NEST, may I ask why you want to instrument those?

[2017-06-29 19:44] jougs commented on #206
This i related to and fixed by #483.

[2017-06-29 19:47] jougs commented on #190
I'm closing this due to inactivity. Apparently the current information is enough.

[2017-06-29 19:47] #190 closed

[2017-06-29 19:50] jougs commented on #309
This is related to and fixed by #483. See #206 for a similar problem when using CSA.

[2017-06-29 21:02] heplesser commented on #749
@muffgaga Your suggestion is plausible, but as a comment to a closed issue, there is a high risk it will get lost. Could you open a new issue or, even better, create a pull request implementing your suggestion?

[2017-06-29 21:09] heplesser commented on #763
@lekshmideepu I agree that using the latest from the 2 and the 3 series, respectively, gives a reasonable balance between resources used and coverage.

I know too little about tox or travis images, so I would leave that to you.

[2017-06-29 23:43] jougs commented on #248
Closing here as this is now a NESTML issue. Please go there for updates and discussion.

[2017-06-29 23:43] #248 closed

[2017-06-29 23:46] jougs commented on #347
This was fixed by the merge of https://github.com/nest/nest-simulator/pull/471. I'm thus closing.

[2017-06-29 23:46] #347 closed

[2017-06-29 23:50] jougs commented on #407
As we are getting closer to a first feature preview for nestio, I am closing this isssue. Further discussion about the handling of I/O can take place in the PR once it is opened.

[2017-06-29 23:50] #407 closed

[2017-06-30 00:11] mschmidt87 opened #771 "Enable passing a random number generator to the Connect function"
This issue is a follow-up of the discussion on the NEST USER mailing list involving @heplesser  (Subject of the original mail was "Controlling random connectivity and stochastic input independently").

**Use case**
In a simulation of a network with random connectivity, the user wants to control the random network structure and random input given to the network independently.

**Current workaround

[2017-06-30 09:03] hakonsbm opened #772 "More comprehensive set of tests for Topology"
With PR #705 tests that previously had to be run manually are converted to be run with `installcheck`. However, this set of tests lacks tests for much of the functionality in Topology, such as

- Kernels
- Parameters
- Prescribed number of connections
- Multapses/autapses
- Visualization functions

These tests should be added.

[2017-06-30 11:03] heplesser commented on #302
Manual topology tests are now included in the testsuite per #705. Other manual test are addressed in the context of #348. I therefore close this issue.

[2017-06-30 11:03] #302 closed

[2017-06-30 11:10] hakonsbm opened #773 "Add tests for randomized generators"
We currently have no tests of the statistical properties of spike trains generated by randomized generators. That should be fixed.

This issue is also described in #348, but it is better to have this as a separate issue.

[2017-06-30 11:16] hakonsbm commented on #348
As these points are pretty different tasks, I am creating a PR regarding your first point, and I have created a separate issue, #773, for your second point.

[2017-06-30 12:25] zifeo commented on #191
I sadly won't have any time for this in the following months :/.

[2017-07-02 10:03] jakobj commented on #657
No, not so much. I finally decided that gap junction simulations are typically so small that they don't really need jemalloc. This is of course not true for other network simulations the require gsl for the neuron models. Unfortunately I don't have too much time to look into this further.

[2017-07-03 10:56] heplesser opened #777 "Include structural plasticity status information in kernel status"
This is a follow-up to #260 and #775. Since it involves an UI change, it targets NEST 3.0.

Currently, status information on kernel parameters for structural plasticity are managed using `Get/SetStructuralPlasticityStatus`.  These parameters should be managed using `Get/SetKernelStatus` instead. In order to retain the grouping of parameters, they should be included in a sub-dictionary of the overa

[2017-07-03 11:53] weidel-p commented on #299
It's fine with me to close this issue. Thanks for asking.

[2017-07-03 12:34] #527 closed

[2017-07-04 09:08] heplesser opened #778 "Remove assertion that prohibits simulation for 0 ms"
#650 introduced an assertion to `SimulationManager::run()` that makes it impossible to simulate for zero time:
[code]
There is no reason to prohibit this, it should simply be a no-op. Therefore, the assertion should be replaced with `return`.

[2017-07-05 15:50] maharjun opened #779 "Importing nest in python mutates sys.argv"
The following lines of code

[code]

results in the the following output
[code]

which is as expected. However, the following lines of code:

[code]

result in the following:
[code]

Here we clearly see that the importing of the nest module results in `sys.argv[0]` being changed to `pynest`

COMMIT ID: a721e62116fd57349439af4cf863835d596918b3
Cmake flags: `-Dwith-python=3 -Dwith-mpi=OFF -Dwith-opt

[2017-07-06 10:19] heplesser commented on #299
Closing due to inactivity.

[2017-07-06 10:19] #299 closed

[2017-07-06 16:13] wangsihao opened #780 "Writing extension module"
Hi, I am a beginner in nest, I just follow the guidance to create my own module. When I run nest.Install("mymodule"), there is a error showed as follow.

pynestkernel.NESTError: DynamicModuleManagementError in Install: Module 'mymodule' could not be opened.
The dynamic loader returned the following error: 'file not found'.

Please check LD_LIBRARY_PATH (OSX: DYLD_LIBRARY_PATH)!

I modified the dir

[2017-07-07 15:33] ricardomurphy opened #781 "Broken link in documentation (NEST/SLI Quick Reference)"
Description of problem:
When I use the "NEST/SLI Quick Reference", select a topic such as
"Models and nodes", and then click on a link to, say, "Node", I get an
error message:

"Not Found
The requested URL /helpindex/s/Node was not found on this server.
Apache/2.2.22 (Debian) Server at www.nest-simulator.org Port 80"

How reproducible: It happens a lot.

Steps to Reproduce: See description.

Actua

[2017-07-09 22:01] gtrensch commented on #762
@heplesser After some investigation I found that the NEST stderr output interferes with the nosetests messages. nosetests comes with several plugins, e.g to capture stdout. The capture-plugin is on per default. For stderr a similar plugin (nose-capturestderr) is available but needs to be installed manually:  https://pypi.python.org/pypi/nose-capturestderr/1.2 I ran some tests and it works quite we

[2017-07-10 08:08] flinz opened #782 "Index of user contributed modules/extensions (MyModule)"
As far as I can see it there is currently no index for user contributed modules hosted on the nest website or the github wiki (https://github.com/nest/nest-simulator/wiki).

As more specialized modules are contributed I think it would make sense to maintain a list (possibly sorted by use-case) to point the community to available modules.

[2017-07-10 08:27] muffgaga commented on #749
Done, cf. #783.

[2017-07-10 10:32] terhorstd commented on #779
That is very interesting. Is there a particular problem with this you need to have solved?

[2017-07-10 10:34] jougs commented on #780
Can you please be more specific on what you set the `DYLD_LIBRARY_PATH` to and how?

[2017-07-10 12:10] steffengraber commented on #781
@ricardomurphy
Thank you for reporting this issue. For a first step I repaired all the broken links by hand.
Next we need to update the [quickref.md](https://github.com/nest/nest-simulator/blob/master/extras/userdoc/md/documentation/quickref.md).

[2017-07-10 14:17] wangsihao commented on #780
Hi, I tried all of the following ways, none of them works

export DYLD_LIBRARY_PATH=/Users/myusername/Downloads/neuron/nest/bld/lib/nest:$DYLD_LIBRARY_PATH

export DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:$/Users/myusername/Downloads/neuron/nest/bld/lib/nest:$/Users/myusername/Downloads/neuron/nest/bld/bin

export DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:$/Users/myusername/Downloads/neuron/nest/bld/lib/ne

[2017-07-10 14:29] lekshmideepu commented on #780
Could you please echo the current value of your _DYLD_LIBRARY_PATH_
echo $DYLD_LIBRARY_PATH

[2017-07-10 14:44] wangsihao commented on #780
Sihaos-MacBook-Air:Sihao_Test sihaowang$ echo DYLD_LIBRARY_PATH
DYLD_LIBRARY_PATH

[2017-07-10 15:46] jougs commented on #780
@wangsihao: You're missing a `$` sign in front of `DYLD_LIBRARY_PATH`. Can you please also send the output of `echo $PYTHONPATH` and `for x in $(echo $DYLD_LIBRARY_PATH | tr : " "); do ls -l $x; done`

[2017-07-10 15:52] wangsihao commented on #780
@jougs   Hi, the result is as follow

Sihaos-MacBook-Air:~ sihaowang$ echo $DYLD_LIBRARY_PATH
/Users/sihaowang/Downloads/neuron/nest/bld/lib/nest::$/Users/sihaowang/Downloads/neuron/nest/bld/lib/nest:$/Users/sihaowang/Downloads/neuron/nest/bld/bin:$/Users/sihaowang/Downloads/neuron/nest/bld/lib/nest:$/Users/sihaowang/Downloads/neuron/nest/bld/lib

Sihaos-MacBook-Air:~ sihaowang$ echo $PYTHONPATH
/

[2017-07-10 16:01] jougs commented on #780
It seems that your `DYLD_LIBRARY_PATH` is a bit messed up after your experiments. Can you please run `export DYLD_LIBRARY_PATH=/Users/sihaowang/Downloads/neuron/nest/bld/lib/nest` and try again if loading the module works?

[2017-07-10 16:12] wangsihao commented on #780
@jougs  Hi, it still does not work, shows the same error.

Sihaos-MacBook-Air:Sihao_Test sihaowang$ echo $DYLD_LIBRARY_PATH
/Users/sihaowang/Downloads/neuron/nest/bld/lib/nest
Sihaos-MacBook-Air:Sihao_Test sihaowang$ for x in $(echo $DYLD_LIBRARY_PATH | tr : " "); do ls -l $x; done
total 1520
-rwxr-xr-x  1 sihaowang  staff  387448 Jul 10 11:08 libmymodule.dylib
-rwxr-xr-x  1 sihaowang  staff  3872

[2017-07-10 16:14] maharjun commented on #779
When using python, it is useful in many cases to have access to the command used to execute it (for example, I would like to store the command used to execute a run so that I can reproduce it in the future). If the name of the main file (`sys.argv[0]`) is overwritten then this becomes impossible.

My current workaround is to create a shim from which I import nest. In the shim I store and reassign

[2017-07-10 16:15] jougs commented on #780
Sorry for that. Does it work if you run `nest.Install("libmymodule")` instead of `nest.Install("mymodule")`?

[2017-07-10 16:19] wangsihao commented on #780
@jougs   Sorry, the problem still exist

pynestkernel.NESTError: DynamicModuleManagementError in Install: Module 'libmymodule' could not be opened.
The dynamic loader returned the following error: 'file not found'.

Please check LD_LIBRARY_PATH (OSX: DYLD_LIBRARY_PATH)!

[2017-07-11 01:00] wangsihao commented on #780
@jougs  I already fixed that problem, thanks for your help

[2017-07-11 09:48] ricardomurphy commented on #781
Thank you for your prompt response.
Ricardo Murphy

___________________________________

Dr. Ricardo Murphy,
University of Oslo,
Department of Molecular Medicine,
Physiology Section,
Pb. 1103, Blindern,
0317 Oslo

Tel:   95333157
Fax: 22851249
Email: ricardo.murphy@medisin.uio.no

On Mon, Jul 10, 2017, at 14:10, graber wrote:

Links:

  1. https://github.com/ricardomurphy
  2. https://github.com/n

[2017-07-12 07:47] jougs commented on #780
@wangsihao Can you please tell us how you solved the problem? This might possibly help other users with the same problem. I'm now closing this.

[2017-07-12 07:47] #780 closed

[2017-07-12 15:42] pherbers opened #784 "CGConnect crashes when showing debug information"
When CGConnect is used with libneurosim and csa, and a debug flag is active, NEST crashes.
This is not really critical, but I usually use debug flags for my own python code for the logger.

`cgconnect_debuglog_failure.py`

    # Execute this file using `python cgconnect_debuglog_failure.py --debug`
    # When the --debug or -d flag is active, nest.CGConnect() will crash (line 17)
    #
    # NEST

[2017-07-13 13:26] SepehrMN commented on #698
The fix has been merged. So this can be closed.

[2017-07-13 13:26] #698 closed

[2017-07-13 13:27] SepehrMN commented on #698
@jougs I closed this. It was part of a milestone so I hope it is OK.

[2017-07-13 13:28] SepehrMN commented on #559
@jougs @heplesser This was fixed in #446 and can be closed.

[2017-07-13 14:52] jougs commented on #698
Yes. Thanks!

[2017-07-13 14:53] #559 closed

[2017-07-17 09:18] mmagician commented on #742
This was indeed the problem, thanks!

[2017-07-17 16:15] DaWelter opened #786 "Calling nest.Disconnect"
To my understanding it should be possible to call the Disconnect function as follows
[code]
However each of these attempts gives the error appended in the comment.

In particular the last attempt appears odd to me because regarding the synapse spec, the documentation states "All parameters are optional and if not specified will use the default values determined by the current synapse model." (http

[2017-07-18 11:01] gtrensch commented on #644
PR has been created. The TimeConverter class has not been merged into the Time class. This would be better done in the course of a refactoring task.
This issue can be closed after merge.

[2017-07-21 21:15] wangsihao opened #790 "random number generator in noise generator"
Hi

In nest, I want to test different noises generated by noise generator with same parameter, how can I set seed to generate different noises, it seems right now the noises generated by same parameters are  same. Thanks

[2017-07-24 10:27] mschmidt87 commented on #790
Hi,
in order to obtain different realizations of noise, you have to set the seeds for the random number generators of NEST.

In your case, you would need to do
`nest.SetKernelStatus({'rng_seeds': 123})`
and then vary the value of the seeds between trials to obtain different realizations.

In the documentation on nest-simulator.org, you will find a complete explanation of random numbers in NEST: [h

[2017-07-26 01:12] Silmathoron commented on #786
This is indeed a bug and a test for the `Disconnect` function should be added to `pynest/nest/tests/test_sp/test_disconnect.py` once it's solved.
In the meantime, you can have a look at the `DisconnectOneToOne` function, though this is only a temporary and not very satisfactory patch... I'm afraid not many people use `Disconnect`, which is why it stayed undetected.
Could you tell us your use case?

[2017-07-26 06:53] Silmathoron commented on #761
@heplesser do you have some pideas about how to assess the various possibilities?

Also, could you edit your message to clarify your remark about Nose? From the way to said it I thought that development of Nose had ceased, but it's only the first version which is (obviously) no longer developed; Nose2, which is now the current release, is still very much active.

[2017-07-26 06:54] lemontree561 opened #791 "PyNEST tests occur problem "python: can't open file 'test_sp/mpitest_issue_578_sp.py' "waitting for solution"
make installcheck
Phase 7: Running PyNEST tests.
------------------------------

  Nosetests unavailable. Using fallback test harness.
  Fewer tests will be excuted.
python: can't open file 'test_sp/mpitest_issue_578_sp.py': [Errno 2] No such file or directory
python: can't open file 'test_sp/mpitest_issue_578_sp.py': [Errno 2] No such file or directory

[2017-07-26 07:14] lemontree561 commented on #791
but the test_sp/mpitest_issue_578_sp.py existed

[2017-07-26 10:49] gtrensch commented on #761
I looked at the nose2 plugins and their documentation. It seems that nose2 comes with such a built-in plugin which can be configured to also capture stderr.
Please see: http://nose2.readthedocs.io/en/latest/plugins/buffer.html

[2017-07-26 12:13] mschmidt87 commented on #761
py.test has similar functionality: [https://docs.pytest.org/en/latest/capture.html](https://docs.pytest.org/en/latest/capture.html)

[2017-07-26 13:15] SepehrMN commented on #764
@jougs @heplesser @apeyser Would you please be so kind as to comment as soon as convenient? I need this feature very soon. I can implement a solution that does not involve a major rework. I think it would be best that I receive suggestions from the NEST core people who have worked on the kernel.

[2017-07-27 08:58] apeyser commented on #764
@SepehrMN I don't think @jougs and @heplesser are around for a few more weeks, and they know the connection infrastructure better than I do.

Maybe @suku248 or @abigailm can make a suggestion? How can @SepehrMN get access to the synaptic models from inside the neuron model? Or visa-versa? (that may be a better approach).

[2017-07-28 07:35] lemontree561 commented on #728
@wmayner why I run the demo of the topology tutorial ,I can't find the result picture,I also use your code to try but I also can't find the result picture.How to get the result picture?
Thanks!

[2017-07-28 07:39] lemontree561 commented on #728
I solve the problem ,thanks

[2017-07-31 01:28] lemontree561 opened #792 "How to use Nest St"

[2017-07-31 01:29] #792 closed

[2017-07-31 01:33] lemontree561 opened #793 "How to use Nest Simulator to achieve MNIST"

[2017-07-31 11:34] heplesser commented on #762
@gtrensch Thanks for investigating! I would not want to make the correct operation of the NEST test suite dependent on the installation of an additional Pyton package. But that package is only a single file of code that appears to be quite directly based on similar code in nose. Could we integrate this capture technique directly in NEST, so that we can capture stderr without the need for installin

[2017-07-31 11:38] heplesser commented on #782
@flinz We now have a [page for external modules](https://github.com/nest/nest-simulator/wiki/NEST-Modules) and will shortly create links to it from nest-simulator.org and other wiki pages.

@terhorstd I think we should also link from the top-level README.md here and provide instructions to module writers on how to ensure that we detect their modules.

[2017-07-31 11:49] heplesser commented on #779
This is a recurring issue, see also #163, #164, #377, #393. I had thought this would have been fixed by #393, but apparently not. @apeyser Could you take a look?

[2017-07-31 11:52] #272 closed

[2017-07-31 12:08] #790 closed

[2017-07-31 12:58] heplesser commented on #761
@Silmathoron I edited my statement on nose and nose2 development, but looking at the [commit frequency in the nose2 repo](https://github.com/nose-devs/nose2/graphs/contributors), I am not optimistic concerning nose2.

[2017-07-31 13:28] gtrensch commented on #762
@heplesser I see two aspects which I would handle seperatly:
- the bug we want to fix for the 2.12.1 release which is due to missing nosetests functionality (stdout is captured while stderr is not)
- the question whether we stay with nosetests and perhaps move to nose2 or swich to a different Python test framework

Addressing the question of the test framework we want to use, will very likely also

[2017-07-31 13:41] heplesser commented on #793
@lemontree561 Closing since the issue does not contain any description. From the title, I also get the impression that this might be a question that is more suitable for the [NEST User Mailing List](http://www.nest-simulator.org/community/).

[2017-07-31 13:41] #793 closed

[2017-07-31 15:19] Silmathoron commented on #761
Right... py.test does look a lot more active!

[2017-07-31 15:41] gtrensch commented on #761
... and comes with a basic support for running tests written for nose:  https://docs.pytest.org/en/latest/nose.html

[2017-08-01 08:59] heplesser commented on #764
@SepehrMN Could you provide more information on the model you are attempting to implement, maybe provide a reference to a paper describing the model?

Generally, access to the incoming synapses of a neuron is difficult, since synapses are sorted by sender neuron in memory. Keeping pointers to synapses is dangerous indeed, since those pointers would be invalidated by memory reallocation during netw

[2017-08-01 09:43] SepehrMN commented on #764
@heplesser Many thanks! I will investigate this!

This is related to #606. The information-theoretic framework for creating goal functions for neurons is described in [1]. The theoretic background is described in [2]. The neuron model I currently have implemented in Python to work with it, which I will submit for merging once it is fully in C++, is described in [3] and studied further in [4][5][6]

[2017-08-01 14:40] flinz opened #794 "Make of extension module fails while linking"
I am trying to convert a synapse model previously written to be part of the nest-core (https://github.com/nest/nest-simulator/pull/544) to a contributed module.

Please find the source code in https://github.com/flinz/nest-module-STDPStructplast).

The build works fine up until linking the resulting shared library, where i fails with:
[code]

I am building on OSX with gcc/gxx 4.9. Here is a more e

[2017-08-02 04:33] Silmathoron opened #795 "AdExp optimization [Discussion]"
Currently, the AdExp implementation uses ``std::exp`` to [compute the spike generation current](https://github.com/nest/nest-simulator/blob/master/models/aeif_psc_alpha.cpp#L113).

From some stuff I was doing on NNGT, I realized that using the standard exponential is a very bad idea in terms of performance. I am therefore wondering whether it would not be a good idea to replace it with some clever

[2017-08-02 06:19] heplesser commented on #795
@Silmathoron This is an interesting idea. Computational neuroscience would certainly benefit from efficient hardware implementations of `exp()` and `expm1()` .... The acceleration you report is indeed amazing---is this for a single neuron or for a large network simulation?

Concerning precision: are deviations from the exact solution evenly distributed around zero? If `fastexp()` would be systemat

[2017-08-02 07:14] heplesser commented on #794
@flinz Do you get the same linker error when building the example `MyModule` included? I tested your module code  with my build setup and it linked (macOS 10.12.6, gcc 7.1.0 from Homebrew). Thus I think that you hunch that this may be related to namespaces may be right.

Is there any chance you could test with a newer compiler? It could also be useful to run `make VERBOSE=1` to see the actual comp

[2017-08-02 10:37] flinz commented on #794
Of course I didn't check the obvious first - gcc4.9 apparently has problems building even the MyModule example. [Here is the verbose output,](https://github.com/nest/nest-simulator/files/1193497/buildlog2.txt) should you want to follow this up further..

With AppleClang 8.0.0.8000042 the example works. I will follow up with news on compiling my own module.

[2017-08-02 12:23] heplesser commented on #794
@flinz Thanks for checking. Given that gcc-4.x is dated and this problem appears to be specific to macOS, I think I need to focus my energies elsewhere. I will thus close this issue.

[2017-08-02 12:23] #794 closed

[2017-08-02 14:28] terhorstd commented on #782
So, have a look into the [wiki](../wiki/NEST-Modules), I just added the short repository descriptions that are shown in the search results and the comment, that the page is autogenerated (i.e. will be overwritten if someone edits it online).

[2017-08-03 00:00] Silmathoron commented on #795
@heplesser these are good questions:

1. The speedup is for the exp alone, I did not have time to benchmark, but the `std::exp` does represent most of the time spent in the AdExp dynamics...
2. No, the equation comes from Taylor expansions, so it's systematically lower than the real value (see attached picture)
3. I'll try to do some tests that I'll add to the notebook when time permits.
4. This a

[2017-08-03 03:58] Silmathoron commented on #795
Ok, let's make a clean update: I tested 4 approximations to `exp`

[code]

Which leads to the following results
![comparison_approx_exp](https://user-images.githubusercontent.com/8523051/28905304-f323e192-784a-11e7-8942-9ef5fe9d6f5f.png)

For the record, the new `(corrected)_fexp` come from this [SO post](https://stackoverflow.com/q/10552280/5962321) and [this reply](https://stackoverflow.com/a/10

[2017-08-03 07:51] heplesser commented on #795
Thanks! The last link you posted not only provides C-implementations but also promises a Mathematica notebook with background information. Don't have time to look at it right now.

I found two relevant publications, with the second building on the first:
- Schraudolph, N. N. A Fast, Compact Approximation of the Exponential Function Neural Comput, 1999, 11, 853-862
- Cawley, G. C. On a Fast, Compac

[2017-08-03 12:18] flinz commented on #782
That looks great @terhorstd! Thanks for the efforts. Should i leave the issue open until the corresponding entries on the homepage, readme, and others are done?

[2017-08-03 12:20] SepehrMN commented on #795
This is very interesting, maybe it would be useful to have a generic fast exp function in the NEST numerics file?

[2017-08-03 12:31] flinz opened #797 "Systematic unit testing for external modules (MyModule)"
After having put together an external module recently (https://github.com/nest/nest-simulator/pull/544#issuecomment-319948176), i have noticed that unit testing of these is still a little tricky.

Currently i am (https://github.com/flinz/nest-module-STDPStructplast/blob/master/.travis.yml) building NEST in travis, then executing my python unit tests via cmake (inspired by https://github.com/IGITUG

[2017-08-03 13:22] ingablundell commented on #795
I see no problem in using one of the above approximations for exp. I would have thought the std exp is already implemented as  a Taylor sum? I would have also suggested checking for C implementations. I can't really comment on computation time.

[2017-08-03 16:35] jougs commented on #791
@lemontree561 Thanks for the report. The issue should be fixed in #799. Please follow the discussion there for further information.

[2017-08-04 11:54] lucianopaz opened #800 "Record conductance from cond_*_multisynapse models"
Request
===
I wanted to request an enhancement to nest. In the latest stable release 2.12, it is not possible to connect a multimeter to record from the synaptic conductances of any `cond_*_multisynapse` models. At present, the only way to work around this problem is to simulate chunks of time and call GetStatus for the neurons to manually record `g`. In many situations, it is important to record

[2017-08-04 13:00] JonThom commented on #329
Hi developers,
I was wondering what the status is for hh_cond_exp_traub refractoriness.
In my balanced network of hh_cond_exp_traub neurons, the spike trains show characteristic bursts of 3-4 spikes with inter-spike intervals of 1ms, which corresponds to the simulation time resolution.
This seems both artificial and unrealistic. However, setting T_ref to non-zero also seems rather artificial, and

[2017-08-04 23:16] Silmathoron commented on #329
Hi Jonatan,
the hh_cond_exp_traub's refractoriness was updated for 2.12, is that the version you are using ?

As a general rule, it is best to always provide:

1. the Python and NEST versions you are using
2. a small example that reproduces the problem you are talking about

Given the way the spikes are detected for the HH model, what you describe seems indeed very unreasonable, but I cannot say m

[2017-08-05 16:02] anduls opened #801 "Install check error 2.12.0"
Did not pass the install check
nest version 2.10 and 2.11 was installed successfully.
[reports.tar.gz](https://github.com/nest/nest-simulator/files/1202499/reports.tar.gz)

[2017-08-06 20:54] JonThom commented on #329
Please see the updated comment above.

[2017-08-06 22:52] gtrensch commented on #243
For each Nest MPI test a testrunner shell script is created and launched. This is a subshell which itself creates another subshell to execute a SLI macro avaluating the MPI installation and returning an execution command for the MPI test case before execeuting it. (thanks to @jougs  who gave me an introduction into the SLI secrets that are used here) Due to the usage of SLI this becomes quite comp

[2017-08-06 23:23] Silmathoron commented on #329
Sorry, maybe my comment was unclear: please post code directly, it will save us time.

[2017-08-07 07:37] kennysharma commented on #725
A brief followup, I am currently testing the most basic solution in our local Nest 2.10 fork of adding:

[code]
to any methods containing omp pragma statements:

[code]
and everything appears to be working and performing properly (though we'll need to do a bunch of regression testing to make sure).

I know this isn't a "clean" solution that would be accepted upstream, but it will serve as a tempor

[2017-08-07 08:32] DaWelter commented on #786
Thanks for your help.
I want to experiment with SNN control and machine learning.
I connected a multimeter to output neurons in order to measure their membrane potential over a brief simulation period. I found no way to "clear" the data in the multimeter for the next period. So I figured I might just disconnect the old meter and create a new one.  (I don't really know what I am doing ...)
Now I gu

[2017-08-07 08:35] abigailm commented on #786
I don't know if this helps your particular case, but you wouldn't need to disconnect and create a new one. You can create multiple recorders at the outset, and use differing values for 'start' and 'stop' to record different segments of the simulation.

On 07/08/2017 10:32, DaWelter wrote:

Thanks for your help.
I want to experiment with SNN control and machine learning.
I connected a multimeter to

[2017-08-07 08:47] DaWelter commented on #786
Hi,
I'll keep your suggestion in mind. I suppose it will work. But first I will try the idea with the integrator neuron.  ;-)  Properly configured it could act as a low pass filter I believe. Anyway, I think I'm good.
Thanks again.
Best regards.

[2017-08-07 08:52] heplesser commented on #329
#590 fixed #473, but this only means that `hh_cond_exp_traub` now handles the refractory time as configurable parameter and handles it correctly wrt changes in resolution. It is still a fixed refractory *time*.

The reference provided by @yan1982 does not provide the full model description. The documentation of the NEST implementation contains the following "Todo" remark: "Only the channel variabl

[2017-08-07 10:00] #644 closed

[2017-08-07 10:02] #778 closed

[2017-08-07 10:11] jougs commented on #801
It looks like you are running the tests from an old version of NEST (testing `ConvergentConnect`) with the new version (in which the function does not exist anymore). Can you please remove your installation directory `/opt/nest/` and re-install?

[2017-08-07 12:56] #791 closed

[2017-08-07 13:38] heplesser opened #805 "Include MyModule in CI Testing"
Currently, `MyModule` is not tested during CI testing. This risks code rot and also means that issues with and surrounding user-defined modules will not be detected and cannot be regression-tested, e.g. #746/#804.

Assuming that NEST source code is in `src`, NEST is build in `bld` and installed to `ins`, all in the same directory, `MyModule` can be built as follows:
[code]

I am not sure yet how t

[2017-08-07 15:32] #746 closed

[2017-08-09 13:09] heplesser commented on #800
@lucianopaz Thank you for your detailed description. As you point out, the extension you need would require significant changes to the simulator kernel. Before discussing that at all, I would therefore rather like to consider your use case in more detail.
The Wong & Wang (2006) paper you cite uses a model with four conductance based synapses, of which three are "plain" conductance-based synapses,

[2017-08-09 13:44] heplesser commented on #353
@hakonsbm Could you take a look at this one? It may be related to the work you did on #302.

[2017-08-09 13:46] heplesser commented on #348
I am closing this one since follow-up issues have been created, and part of the issue has been addressed.

[2017-08-09 13:46] #348 closed

[2017-08-09 13:50] heplesser commented on #309
@jougs @steffengraber  Can we close this issue in view of @jougs  last comment?

[2017-08-09 14:23] hakonsbm commented on #353
I'll take a look.

[2017-08-09 16:37] jougs commented on #309
I guess not until #483 is merged. I try to work on updating that asap and report back.

[2017-08-09 17:12] janhahne opened #806 "Improve event handling for SecondaryEvents"
This issue should remind us of reviewing the event handling of secondary events in more depth. The potential problem is easily explained by an example:

The `RateNeuronEvent` handle function in `rate_neuron_ipn_impl.h`
[code]
uses an iterator `it` that is advanced by the event member function `get_coeffvalue( it )`. From only looking at `rate_neuron_ipn_impl.h` this seems unsafe since it is unclea

[2017-08-10 09:43] JonThom commented on #329
Update:

- I used a spike generator to feed a single neuron several spikes at 0.1ms intervals, starting at t = 10 ms. The voltage and conductance traces show that the incoming spikes change the conductances but apparently not the voltage dynamics during the spike.

![hh_traub_images](https://user-images.githubusercontent.com/30726223/29163894-22155ac6-7dbe-11e7-814a-45be809d0fb0.png)

Without havi

[2017-08-10 10:11] heplesser commented on #329
@JonThom Thank you for your analysis! I took another look at the code now, and it seems to me that the spike-detection method is problematic unless one has long refractory periods. The documentation for the model states that:
[code]
This is in principal a fine idea, but the implementation is problematic. For each time step, the `update()` method first stores the old membrane potential
[code]
then

[2017-08-11 08:05] lucianopaz commented on #800
@heplesser, you are right. For the particular use case that I mentioned, it is preferable to create a new neuron model based on the `ht_neuron`. However, I still think that being able to record multiple `g`'s in the builtin multisynapse models would be an important gain. I started to work on a [fork](https://github.com/lucianopaz/nest-simulator) to implement this, and I am currently writing the te

[2017-08-16 01:29] jougs commented on #801
@anduls: Any update on this? Thanks!

[2017-08-16 01:59] jougs commented on #784
This behavior is caused because NEST also handles the `-d` and `--debug` flags. The easy solution would be to ignore them if the NEST kernel is executed by PyNEST. A fix for this should probably also fix #779.

[2017-08-17 01:36] lemontree561 opened #808 "Topology how to connect two layers and set the connection rules"
I have read the manual of the Topology,but there no example to show two different layers connection.

[2017-08-17 04:59] heplesser commented on #808
@lemontree561 Please use the [NEST User Mailing List](http://www.nest-simulator.org/community/) to ask questions about how to use NEST. Issues on Github are for reporting bugs and proposing improvements to the simulator. I am thus closing this issue.

[2017-08-17 04:59] #808 closed

[2017-08-18 13:02] babsey opened #809 "Proposal: Add gamma kernel in topology"
Hello!

I would like contribute my work to NEST 2.12.0. In topology part you have a set of kernels but I missed the Gamma kernel for connection probability. The new concept of the connectivity was published recently (see http://www.bcf.uni-freiburg.de/news/20170817-Spreizer-et-al).

Basically, I used Python algorithm to find targets selected by Gamma distribution as a function of distance between

[2017-08-21 09:54] #762 closed

[2017-08-21 13:17] heplesser opened #811 "Explore design options for the SLI language"
This issue is based on work by @diesmann and contains three different alternative SLI language modifications, all using `test_spike_poisson_ps_base2.sli` as starting point.

## Variant F

[code]

## Variant ND

[code]

### Variant P

[code]

[2017-08-23 17:24] heplesser commented on #809
@babsey Your proposal seems sound. Taking the gamma function from the GSL is fine, we are using the GSL also in other places requiring higher transcendental functions. It is important then to encapsulate the pertaining code with `#ifdef HAVE_GSL` guards.

Two more comments:
- ` ( std::pow( theta_, kappa_ ) * gsl_sf_gamma( kappa_ ) )` is constant unless `theta_` or `kappa_` are changed. It (even be

[2017-08-25 09:10] #368 closed

[2017-08-30 15:17] #740 closed

[2017-09-04 10:32] jougs commented on #801
Closing due to inactivity.

[2017-09-04 10:32] #801 closed

[2017-09-04 15:31] jougs opened #817 "Environment variables are not properly set for make installcheck"
The custom build targets configured in lines [189-207 of CMakeLists.txt](https://github.com/nest/nest-simulator/blob/master/CMakeLists.txt#L189) set the environment variables `PATH` and `PYTHONPATH`. However, these are evaluated at *configure time*, not at *run time* as intended. The problem is explained in [this stackoverflow question](https://stackoverflow.com/questions/35029277/how-to-modify-en

[2017-09-06 07:50] suku248 opened #820 "Unittest of dopamine synapse model"
There are only manual tests of `stdp_dopa_connection` and they are outdated and will be removed with #774. A unittest of this synapse model is required.

[2017-09-06 10:21] #817 closed

[2017-09-07 00:45] jougs opened #821 "Pushing ConnectionGenerator objects from Python to SLI fails"
As reported in [a comment in #483](https://github.com/nest/nest-simulator/pull/483#issuecomment-327026285), pushing ConnectionGenerator objects (e.g. created using [CSA](http://github.com/INCF/csa)) from Python to SLI fails with the following error message:

[code]

This is probably caused by an erroneous implementation of `unpackConnectionGeneratorDatum( x )` in `nest/neststartup.h`, which result

[2017-09-07 11:11] heplesser commented on #821
@jougs Since this completely breaks CSA support in PyNEST, we should include it in 2.14.0. I will set the milestone---I suppose you are investigating already?

[2017-09-10 23:45] ikitayama commented on #723
@jougs Thanks. I'll take a look at it. I actually do need to instrument nest only. I need to instrument those just to avoid an error at the CMake install stage.

[2017-09-10 23:49] ikitayama commented on #723
@jougs if we can just install binaries separately, like `make install nest` that'd be simple.

[2017-09-12 11:35] Aamanen opened #824 "Phase 7: PyNEST test failed with python 2.7.12"
Phase 7: Running PyNEST tests.
------------------------------

  Using nosetests.

  Failure: OSError (No such file /usr/local/lib/python2.7/site-packages/nest/tests) ... ERROR
  ERROR: Failure: OSError (No such file /usr/local/lib/python2.7/site-packages/nest/tests)
    File "/home/martin/.local/lib/python2.7/site-packages/nose/failure.py", line 42, in runTest
  OSError: No such file /usr/local/l

[2017-09-12 16:02] paulbrodersen opened #825 "vogels_sprekeler_synapse / sign check"
The Vogels-Sprekeler synapse implements a constant weight decay for each pre-synaptic spike.
For sufficient pre-synaptic spikes, this can result in the weight becoming 0, which is expected and desired behaviour . However, if the initial weight was negative, nest throws an error if subsequently the synapse properties are changed (e.g. when the learning rate is changed).

MWE: (kinda)

[code]

I wou

[2017-09-12 16:49] paulbrodersen commented on #825
My cpp is rusty and was never any good to begin with. However, I think that the problem is in vogels_sprekeler_connection.h, line 302 and below:

[code]

Presumably, escaping the check if `weight_` is 0 should do the trick, i.e:

[code]

[2017-09-13 13:36] gtrensch opened #826 "BlueGene/Q Python installation description requires an update"
The BlueGene/Q Python installation description in INSTALL requires an update to properly reflect the install options introduced with #452, #412. This also needs to be tested on BlueGene/Q.

[2017-09-17 18:29] sanjayankur31 commented on #825
It's been a while since I wrote this, but from the lines you've quoted, it seems that we classify the weight either as negative (inhibitive in NEST convention) or non negative (rather than positive). You're getting the error because of the initial weight that you're setting - `-0.` does not qualify as negative. I set it to a very small negative quantity when I use it - `-0.00000000001` or the sort

[2017-09-19 12:07] Aamanen commented on #824
Here comes an update:
I tried copying the "tests" folder which is mentioned in the error, from the source directory into the directory in which the test was looking. After doing that I receive another error:

Phase 7: Running PyNEST tests.
------------------------------

  Using nosetests.

  Failure: ImportError (No module named nest) ... ERROR
  ERROR: Failure: ImportError (No module named nest)

[2017-09-19 13:27] gtrensch commented on #824
@Aamanen I can confirm that this is a bug in the NEST CMake scripts. We do not properly handle relative paths. A pull request is in preparation.
The following should bypass the issue:
`/usr/local/nest-2.12.0-build$ sudo cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr/local/nest-2.12.0 -Dwith-python=2`
Note: Do not forget to delete the old installation to remove the CMake cache.

[2017-09-19 17:04] gtrensch commented on #824
Discussed this issue with @jougs. PR has been created #828.

[2017-09-20 12:39] Aamanen commented on #824
@gtrensch Thank you for your reply!
It seems that it did some of the trick. At least now I am able to start the nosetest, but I get an error from the test_disconnect.py. The test gives the summary:

  ERROR: test_synapse_deletion_one_to_one_no_sp (nest.tests.test_sp.test_disconnect.TestDisconnectSingle)
  TypeError: allgather() takes exactly 1 positional argument (2 given)
  FAILED (SKIP=11, error

[2017-09-20 12:58] jougs commented on #824
Thanks for testing.

The exact error you are receiving is
[code]
@sdiazpier, @lekshmideepu: I seem to remember you investigated this one earlier, haven't you? Can you please comment? Thanks!

[2017-09-20 14:13] sdiazpier commented on #824
Hi dear @Aamanen and @jougs , this is already solved in a PR from Lekshmi #789. This will be solved when the PR gets merged.

[2017-09-20 14:37] lekshmideepu commented on #824
@jougs : I would try to address the review comments in my PR #789 as fast as possible

[2017-09-20 17:14] Aamanen commented on #824
Thanks you so much for you quick reply and the changes to the test_disconnect.py did the trick!

I am all new to Ubuntu and the environment, so I have a related question, which I hope you can help me with:

When running python (v2.7.12) I try to import the Nest module by running :
`import nest`
and I get the error
[code]
I have an idea that the reference to my nest installation within my python is

[2017-09-21 04:05] jougs commented on #824
@Aamanen: thanks for testing and for the confirmation that the changes from #828 and #789 do the trick. We will make these fixes available in the upcoming NEST 2.14.0 release.

Regarding the `import` of PyNEST: you have to tell Python about the non-standard location of your modules by setting the environment variable `PYTHONPATH`. In your case, something like
[code]
should do the trick. The exact

[2017-09-21 07:47] Aamanen commented on #824
@jougs Thank you so much for you help - now it seems to be running smoothly!

I was not aware of the Mailing list, but I have now subscribed.
Thanks again!

[2017-09-24 12:49] Spielzeug opened #830 "Make fails with UnicodeDecodeError"
Under archlinux, make fails either using python2 or python3:

cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DPYTHON_EXECUTABLE=/usr/bin/python2 -DPYTHON_INCLUDE_DIR=/usr/include/python2.7 -DPYTHON_LIBRARY=/usr/lib/libpython2.7.so -DPYTHON_BASENAME=-python2.7 ../nest-2.12.0

OR

cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DPYTHON_EXECUTABLE=/usr/bin/python -DPYTHON_INCLUDE_DIR=/usr/include/python3.6 -DPYTHON

[2017-09-25 09:44] jougs commented on #723
Just mentioning @jakobj to make him aware of this issue.

[2017-09-26 07:47] tammoippen commented on #761
I can also support pytest! We are using it a lot and the plugin support is awesome:

* `pytest-cov` give coverage reports
* `pytest-flake8` pep8 and more static code analysis for python

pytest fixtures is a very nice alternative for setup/teardown code.

[2017-09-27 23:39] sanjayankur31 commented on #830
It seems to be an encoding issue - explained quite well [here](https://stackoverflow.com/questions/21129020/how-to-fix-unicodedecodeerror-ascii-codec-cant-decode-byte). Funnily enough, I don't see it neither with python2 nor python3 on Fedora 26 here, so could be something to do with the system defaults there? Maybe check your default encodings? In a python interpreter, `import sys` and check the

[2017-09-28 00:01] sanjayankur31 opened #832 "'std::out_of_range' thrown when a neuron with multiple connection types loses all connections of one type"
Description of problem
-------------------------------
If a neuron (probably any node) has multiple types of connections (synapses), say `static_synapse` and `vogels_sprekeler_synapse`, deleting all connections of one type results in nest throwing an `std::out_of_range` error.

Version-Release or Git commit:
-------------------------------------------
Current head: f6959c3eef3422f12ff3f4dec40b72fc

[2017-09-28 00:09] sanjayankur31 commented on #832
[crash-reproducer.txt](https://github.com/nest/nest-simulator/files/1339049/crash-reproducer.txt)

[2017-09-28 12:09] luis-rr opened #833 "Uniform distribution of delays isn't uniform"
Hi! I just ran into an odd behaviour when trying to create a uniform distribution of delays for my network. I'm new to Nest so I apologise if I'm misinterpreting the results or if this is a known issue.

_Description of problem:_

Uniform distribution of delays is not uniform. Edge values are less probable than middle ones.

_Version-Release or Git commit:_
nest-2.12.0

_How reproducible:_
Always

[2017-09-28 19:38] Spielzeug commented on #830
It is an encoding problem, my problem is that I do not know how to avoid it properly. I too have ascii for python2 and utf-8 for python3. For now I circumvented the problem as I said above and have nest installed and running, for the future it would be nice to know how to force python encoding during cmake configuration generation.

[2017-09-29 04:24] heplesser commented on #833
@luis-rr Thanks for your report. I think this is traceable to `nest_time.h`

[code]

and further `numerics.h`

[code]

@jougs Could you dig out the discussion in the old trac issue trac.903 referenced above?

@hannahbos I am wondering what the most correct interpretation/solution in the context of NEST's time philosophy would be. Do you have any suggestions?

[2017-10-03 16:08] luis-rr opened #835 "Can't build an exponential distribution of inhibitory synaptic weights"
Hi!

Not sure if this is a bug, a missing feature, by design or me misunderstanding. If I should direct this somewhere else, don't hesitate to let me know and close the issue.

Some models rely on the synaptic weight being negative in order to consider the synapse inhibitory (see [here](https://github.com/nest/nest-simulator/blob/49d917723e743188a48f187ab07ca8ccc8679b3a/models/aeif_cond_exp.cpp#L5

[2017-10-03 21:16] heplesser commented on #225
I am seriously wondering if we should pursue this matter. Registering input arriving at a delta-synapse neuron during the refractory time should lead to loss of that input. Due to user needs, `iaf_psc_delta` provide a possibility of registering such input, but I now wonder if we should really propagate this to other models.

[2017-10-03 21:51] heplesser commented on #830
@steffengraber Could you take a look at this? I assume the problem occurs because some `.sli` file contains non-ASCII characters. Then, if the file is opened using `f = open(file, 'r')`, this will lead to trouble in Python 3. We probably have to check two things here:
1. How to handle file opening properly under Py2 and Py3 (in Py3, add `encoding='utf-8'` as argument to `open()`,  but that won't r

[2017-10-03 21:58] heplesser commented on #832
@janhahne Since the `primary_end_` is related to the split into primary and secondary connections, the latter related to gap/rate junctions, I think you may be qualified to help here. Clearly, deleting synapses causes some trouble here, see @sanjayankur31's analysis above. Interestingly, in his reproducer he does not seem to use gap junctions and still run into trouble.

[2017-10-03 22:05] heplesser commented on #835
@luis-rr Right now, this is unfortunately not possible. I suppose it would be quite straightforward to implement by interpreting negative lambda as meaning a distribution with parameter |lambda| and values drawn multiplied with -1.

[2017-10-04 11:19] janhahne commented on #832
@sanjayankur31 Thank you for the detailed analysis of the issue! I agree with your conclusions and think that you already found the appropriate fix for the problem.

@heplesser The fix should probably be included in NEST 2.14.0 as it is even worth if gap junctions are present: In this case you don't run into an assertion, but you get wrong results for the gap-junctions part of the simulation! I wi

[2017-10-04 13:25] luis-rr commented on #835
I've submitted a pull request.

Alternative, a work around would be:

[code]

[2017-10-06 12:15] paulbrodersen commented on #825
I chose a bad example. I actually encounter the error when I have a negative weight that decays to zero. As there is no Wmin parameter, there is currently no way of preventing such a decay to zero, at which point the error is triggered.

[2017-10-06 22:19] krisdamato opened #837 "nest.Install() call fails with file not found error"
As the title says, I'm not managing to install my module which I've successfully built. Interestingly, I can install `MyModule` built in the same manner without any hiccups.

The module is built and two `.so` files copied over to the lib path. I've added the NEST/lib/nest path to `LD_LIBRARY_PATH` too.

Any thoughts? Thanks.

[2017-10-07 15:55] krisdamato commented on #837
Alright, I found the problem after spending the better part of a day commenting out code and rebuilding. It was a coding error, absolutely nothing to do with the build process except that the resulting library probably had some missing definitions.

For the sake of posteriority: I created a `sam_names.h` file and corresponding source file containing name definitions for my models. I was using `nam

[2017-10-09 06:43] steffengraber commented on #830
@heplesser We can use the `io` module and write `io.open(“file”, “r”, encoding=”utf-8”)` instead of `open( ... )`. It is available since 2.6 and standard in python3.
I have to test it.

[2017-10-11 22:13] jougs commented on #821
I've investigated this a bit more and consulted with @mdjurfeldt. We came to the conclusion that this is an issue in the Connection Set Algebra that needs fixing there. The corresponding issue is https://github.com/INCF/csa/issues/6. Please add further comments there.

[2017-10-11 22:13] #821 closed

[2017-10-12 12:05] #832 closed

[2017-10-12 12:27] terhorstd commented on #837
Thanks for the report!
Things like this are usually discussed on the mailing list, since they are not bugs.

[2017-10-12 12:27] #837 closed

[2017-10-12 12:47] terhorstd commented on #786
issue resolved.

[2017-10-12 12:47] #786 closed

[2017-10-12 12:58] heplesser commented on #830
We can use the following to scan the code base for files that are not valid UTF-8 files:
[code]

[2017-10-12 13:01] terhorstd commented on #331
Current master even got worse
[code]

This is however a very constructed case and the SLI interface is rarely used directly.
_Please re-open if there is a relevant simulation use-case._

[2017-10-12 13:01] #331 closed

[2017-10-12 13:11] terhorstd commented on #330
discussion moved to #329.

[2017-10-12 13:11] #330 closed

[2017-10-12 13:13] jougs commented on #329
@ingablundell, @DimitriPlotnikov: Can you please have a look at this in the context of NESTML? The [comment](https://github.com/nest/nest-simulator/issues/329#issuecomment-321510409) by @heplesser. Thanks!

[2017-10-12 13:32] DimitriPlotnikov commented on #329
@jougs
I believe in NESTML it also depends on how the model is written and we cannot do any magic to force the modeler to do it some way.

[2017-10-12 15:34] jougs commented on #725
The fundamental problem here is that there is no (and in general can't be) well-defined behavior if two "applications" in the same process use conflicting thread configurations.

NEST was not at all designed for a use case like this. It heavily relies on the fact that the number of threads is completely under its own control. Even with guards like proposed [above]( https://github.com/nest/nest-sim

[2017-10-12 15:34] #725 closed

[2017-10-12 16:05] Silmathoron commented on #329
@DimitriPlotnikov No magic, but a check could be made to test whether the modeler included a reset condition on the mambrane potential, and if not, warn about potential problems for spike detection...
And anyway, if we want a correct implementation for the HH model in NEST, we need to correct the spike detection ;)

[2017-10-12 16:12] jougs commented on #830
@heplesser: Thanks for the code. Here's my extended version, which should work with Python 2 and 3:
[code]

On my machine (Ubuntu 17.04), this does not report any errors. @Spielzeug, can you please save the code in a file and execute it in in the NEST source directory on your machine? Thanks!

[2017-10-12 16:25] terhorstd commented on #781
forgotten to close this long fixed issue.

[2017-10-12 16:25] #781 closed

[2017-10-13 06:29] DimitriPlotnikov commented on #329
@Silmathoron
Yes, it is doable.

[2017-10-13 08:23] heplesser opened #839 "Document non-obvious semantics of get_synaptic_elements_vacant()"
This is a follow-up to the discussion in #827.  According to that discussion, `Node::get_synaptic_elements_vacant()` can return a negative value to indicate that connections need to be deleted. This is not obvious from the name of the function and needs to be documented clearly in the doxygen comment for the method. If similar semantics should exist for other SP-related methods, they also need to

[2017-10-13 16:09] TomBugnon opened #841 "Linking error when registering masks or kernels during external module installation on macOS"
Dear NEST users,

I am trying without success to install in nest-2.12.0 the example external module 'MyModule' extended with the 'EllipticMask' class (as described in the Topology user manual) and experience a linking error related to the registration of the mask with TopologyModule when compiling MyModule on Mac OS. I would greatly appreciate if anyone could help!

You can find the module and ins

[2017-10-13 16:46] TomBugnon commented on #841
A few additions to the original issue:

- The ``nest::Mask`` symbols can be linked  when adding:

[code]

to mymodule.cpp but the ``nest::TopologyModule::mask_factory_()`` error remains.

- I also included in the google drive the module ``RotatedRectangularMaskModule`` (which is the one I actually need). This module defines a topology mask that is rectangle (defined by its lower_left and upper_rig

[2017-10-14 00:11] gtrensch commented on #697
@jougs
`DictconstructFunction::execute()` expects a key value pair on the SLI stack regadless the fact that there might be just one data item. Following line causes a "SLI stack underflow" in that case:
https://github.com/nest/nest-simulator/blob/49d917723e743188a48f187ab07ca8ccc8679b3a/sli/slidict.cc#L691

Please can you have look at the following hack? It introduces a boundary check. It is perha

[2017-10-14 15:24] heplesser commented on #697
@gtrensch Thanks for your detective work! Your proposal looks good, but I would write the test as
[code]
The declaration of `key` should be as local as possible, and `NULL` is for C, in C++ `0` works perfectly fine and is recommended by Bjarne S.

When creating a PR, could you also replace the "magic" 30 values by `SLIInterpreter::M_ERROR`?

[2017-10-15 09:08] gtrensch commented on #697
@heplesser Many thanks for the feedback. It was a quick hack after midnight :), and there is also a typo in the 4th line. Regarding NULL, I would use nullptr instead. 0 should be used for numbers. I will create the PR.

[2017-10-16 09:35] heplesser commented on #697
@gtrensch "Because of C++'s tighter type checking, the use of plain 0, rather than any suggested NULL macro, leads to fewer problems." Bjarne Stroustrup, The C++ Programming Language, 3rd ed, §5.1.1. Therefore, I would prefer a plain an simple `0`.

[2017-10-16 20:20] jougs commented on #206
Fixed by the merge of #483.

[2017-10-16 20:20] #206 closed

[2017-10-16 20:21] jougs commented on #309
Fixed by the merge of #483.

[2017-10-16 20:21] #309 closed

[2017-10-22 17:56] mmohaghegh opened #842 "Compiling nest 2.12.0 on debian 9 with 2 failed items in PyNEST"
Hello,
Please find the contents of "report" directory in the compressed file attached.
Thanks a lot for the support
[reports.tar.gz](https://github.com/nest/nest-simulator/files/1405177/reports.tar.gz)

[2017-10-23 11:05] tomvierjahn opened #843 "Allow for RecordingBackend being a module"
As discussed with @apeyser during this year's HBP summit, we would like to provide a separate nestio-based `RecordingDevice` via a nest module.

Currently, we have to compile it into nest, since we have to hard-code its entry in `IOManager::recording_backends_`, and hard-code its parameters in `nest_names.*`.

We would appreciate very much if a new `RecordingDevice` provided as a nest module could

[2017-10-30 11:05] #353 closed

[2017-10-30 11:21] mickelindahl opened #847 "CMakeLists.txt file for the extension module ignores DCMAKE_INSTALL_PREFIX flag"
**Description of problem:**
CMakeLists.txt file for the extension module  seems to strictly uses the installation directory for NEST and ignores the DCMAKE_INSTALL_PREFIX variable  whilte running cmake.

Background
I am trying to compile my module on an supercomputer  (https://www.pdc.kth.se/resources/computers/beskow) that already has nest 2.12.0 installed. I need to install the module in an othe

[2017-10-30 15:44] tammoippen commented on #847
This is correct. See #844 : this also changes the behavior with handling the `CMAKE_INSTALL_PREFIX` for user modules. Also have a look at `NEST_MODULE_PATH` and `SLI_PATH` env variables, that should be set when modules are not installed in the default directory. You can take the CMakeList.txt from #844 as a sample and should get your module working with nest 2.12 as well.

[2017-10-31 12:47] maharjun opened #848 "nest import causes scikit-learn to segfault"
The following is the code that can reproduce the error

[code]

This code will segfault. However, if you flip the order of the imports to
[code]

Then everything works just fine.

I have dug into the issue a bit and uncovered this.

scikit-learn imports cython-compiled libraries libsvm and liblinear both of which contain a (non-exposed) function named `set_parameter` which is called when one makes

[2017-11-06 03:22] ikitayama opened #851 "neststartup.cpp:(.text+0x18): undefined reference to `nest::ModelsModule::ModelsModule()'"
This is seen on while building nest on the K computer:

[code]
CMake options are below:
[code]

[2017-11-06 23:17] heplesser commented on #851
@ikitayama Which version of NEST were you building? If it is a recent version, do you know an older version that could be built successfully?

[2017-11-07 00:07] ikitayama commented on #851
I'm at currently HEAD. Don't know the version last worked, sorry.

[2017-11-07 00:20] ikitayama commented on #851
@heplesser I think I am almost the only one I can reproduce the issue, what's the next step to
resolve this issue?

[2017-11-07 08:35] heplesser commented on #851
@ikitayama I would try two approaches. One would be to use tools to inspect the object code generated for symbols defined and expected. That may give some hint where things may go wrong. The other approach would be to try to install older versions of NEST (e.g. the 2.12 and 2.14 releases) and once you have found a version that works use bisectioning to find the change that introduced the error.

@

[2017-11-07 11:43] tammoippen opened #853 "Are you interested in `pip install pynest` ?"
After working on #844, I was wondering, if I could decouple NEST and PyNEST even further and had some interesting hacking hours. Now, I have a [prove of concept](https://github.com/tammoippen/nest-simulator/tree/pynest) to make NEST and PyNEST two independent projects, with NEST completely dependancy-free from PyNEST or Python installations and PyNEST installs with setup.py using `nest-config`. Th

[2017-11-07 12:13] Silmathoron commented on #853
Thanks @tammoippen this indeed looks quite interesting and makes sense to me

[2017-11-07 18:36] tmchartrand opened #854 "Formatting in py_sample examples on website"
Not sure this is the right place to post this, but since they seem to be generated from the python examples I figured I'd post here.

Description of problem:
The inline code blocks in the py_sample examples on the website are getting formatted essentially as multiline code blocks, making it hard to read these examples. See screenshot (from [gap_junctions_inhibitory_network](http://www.nest-simulat

[2017-11-08 03:33] ikitayama commented on #851
v2.12.0 does build cleanly, but v2.14.0 does not on the K computer frontend.

[2017-11-08 18:44] jougs commented on #355
@stinebuu, @hakonsbm: this is the issue I was talking about the other day. Can you please comment on what is fixed by your recent work on `GIDCollections`? If most of these things are fixed, we could finally close this long-standing issue.

It could also be good to revisit  #455 and comment there on what's actually still missing.

Thanks a lot!

[2017-11-09 09:09] hakonsbm commented on #355
`GIDCollections` should indeed be able to replace the functionality of these things now.

- It has its own iterator, replacing the functionality of `IteratorDatum` for GIDs.
- `GIDCollections` are already used in the conngen module. And with the recent enhancements to it, `GIDCollection` stores the GIDs in contiguous ranges.
- `GIDCollections` completely replace the usage of `Multirange`.

[2017-11-09 09:47] hakonsbm commented on #455
To update on current progress on GIDCollections:

Everything works now, except for
- Topology module, which is in the progress of having subnets replaced with GIDCollections.
- Sending a Numpy array with GIDs and a GIDCollection to `Connect`, as described in #369. But this should be easy to implement.

[2017-11-11 17:59] vogdb commented on #721
For people wandering about python's environments. Here is the trick I've used to solve this installation problem:
[code]

[2017-11-16 18:04] planetmija commented on #830
@jougs : I tried it with my own fresh compiled python 3.6.3, but I don't get any output:
`$ python bla.py
3.6.3 (default, Nov 16 2017, 17:53:58)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-16)]
`
OR

`$ python bla.py
3.5.3 |Intel Corporation| (default, Apr 27 2017, 18:08:47)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]
`
But I get the same compile error:
`  File "/opt/bwhpc/common/devel/python/3.6.3.20171114/li

[2017-11-17 13:01] planetmija commented on #830
@jougs : Sorry, forgot, that I already deleted the build dir. Here are the files:
[code]

[2017-11-17 20:41] tclose commented on #853
This would be nice as it would allow you to keep a single NEST install and multiple pyNEST installations for different Python versions.

[2017-11-18 15:51] heplesser commented on #853
@tammoippen We discussed this PR in the [NEST Developer VC last Monday](https://github.com/nest/nest-simulator/wiki/2017-11-13-Open-NEST-Developer-Video-Conference) and concluded that such a separation is probably not a good idea at the moment.

The main problem is that NEST currently does not have a well-defined C++ API, even less a precisely defined SLI command interface, which is essential for

[2017-11-20 09:41] tammoippen commented on #853
@heplesser I agree. Keeping NEST and PyNEST in sync would be quite difficult, when PyNEST is distributed via pypi. Especially, when you want to install different versions of NEST/PyNEST. This is only a minor suggestion in this issue. Also putting PyNEST into a seperate repository is a minor suggestion.

I agree, that building NEST itself is the difficult part. Having to build the PyNEST wrapper al

[2017-11-24 15:01] janhahne opened #859 "siegert_neuron ignores use_wfr setting"
At the moment the `node_uses_wfr` parameter of all neurons of type `siegert_neuron` is always `false` although the neuron should support the use of the waveform_relaxation method. This can lead to wrong results when simulated with `use_wfr = True`.

[2017-11-27 10:50] #859 closed

[2017-11-27 11:21] terhorstd commented on #848
We have seen a similar behaviour with importing `scipy`. The current workaround is to import `scipy` first, as you do with `sklearn`.

[2017-11-27 13:44] aserenko opened #861 "Strange handling of zero-delta-t spike pairs in STDP in stdp_facetshw - innocent spikes get thrown away"
This is a discussion issue about the implementation of the FACETS-STDP model.

[The following code in stdp_connection_facetshw_hom.h](https://github.com/nest/nest-simulator/blob/a1416d8e7707ec3cab97d7c315578cf5c84701d3/models/stdp_connection_facetshw_hom.h#L496) is said to implement symmetric nearest-neighbour spike pairing scheme:
[code]

If a postsynaptic spike happens at exactly the same moment

[2017-11-27 23:09] tclose commented on #853
FWIW This seems like a good idea to me. Being able to install multiple Python bindings for the same NEST install would be nice.

[2017-11-29 23:25] andraderenew opened #862 "ImportError: cannot import name 'pynestkernel'"
When I import nest in python 3.6 I can´t. This appears in the screen

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/andraderenew/Downloads/nest-2.14.0/pynest/nest/__init__.py", line 70, in <module>
    from . import pynestkernel as _kernel      # noqa
ImportError: cannot import name 'pynestkernel'

Also if I try to open a file with python it gives me the s

[2017-11-30 17:17] MariaCervera commented on #506
@heplesser Has there been any development of such models since the issue was raised? I would be interested in trying them if there are any available models for testing.
Thanks a lot.

[2017-11-30 22:04] heplesser commented on #853
@tammoippen I like your idea in principle. It would lead to a nice separation of concerns and would allow the combination of one NEST with multiple Pythons as @tclose suggested.

But I am wondering a little about the future. We are busily planning for and working on NEST3 and that will probably bring a closer integration of NEST and Python in particular in two areas:

- Passing data into/out of th

[2017-11-30 23:45] heplesser commented on #862
@andraderenew Probably something went wrong when you installed NEST. I am surprised that you are loading `nest-2.14.0/pynest/nest/__init__.py` from the source code directory, not from an installation directory. Is your `PYTHONPATH` set correctly?

Generally, this type of problem is better discussed on the NEST User mailing list. You should also provide more information about how you installed NEST

[2017-11-30 23:45] #862 closed

[2017-11-30 23:46] heplesser commented on #506
@MariaCervera None that I am aware of, unfortunately.

[2017-12-01 11:05] abigailm commented on #506
There is a person at Jülich working on this. I will encourage him to share his status.

[2017-12-03 22:19] deep-introspection opened #863 "Upgrade with brew failed on OSX High Sierra because of wrong Cython version"
Hi!

I tried to upgrade NEST via brew after switching to OSX High Sierra and got an error related to Cython at the cmake part:

[code]

Strangely, I have the Cython 0.27.3 installed according to brew... o.O?

@tammoippen, it seems you are one of the persons who can help.

Thanks!

[2017-12-03 23:03] tammoippen commented on #863
Hi @deep-introspection , the [`nest.rb`](https://github.com/Homebrew/homebrew-science/blob/master/nest.rb#L38) formula provisions its own Cython (0.25.2) for the install. I guess there is something gone wrong during the Cython install. I will have a look into this tomorrow, unfortunately I have not installed high Sierra yet. I keep you updated.

[2017-12-04 05:37] steffengraber commented on #854
@tmchartrand Thank you for finding out (and reporting it). There is now a newer version of the example online. See: http://www.nest-simulator.org/py_sample/gap_junctions_inhibitory_network/

[2017-12-04 08:53] deep-introspection commented on #863
Great, thanks @tammoippen!
Let me know if you need more details :)

[2017-12-04 09:52] tammoippen commented on #863
I can reproduce the error and have a fix for the formula. But first I have to handle with https://github.com/Homebrew/homebrew-science/pull/6479 , which is partly conflicting.

[2017-12-04 10:12] tammoippen commented on #863
Actually, that formula change will solve the issue as well.

[2017-12-04 10:21] deep-introspection commented on #863
How can I change the formula manually?

[2017-12-04 11:13] tammoippen commented on #863
`brew edit nest` or
[code]

See https://github.com/tammoippen/homebrew-science/commit/05b895a3e1e83153a6a8df419af9ac6081332ff1 for min required changes.

[2017-12-04 11:23] deep-introspection commented on #863
Thanks, this worked perfectly!

[2017-12-04 15:41] jougs commented on #355
I've removed the obsolete `multirange` class from the repository in 181e7b5b0.

[2017-12-05 17:48] tammoippen commented on #863
@deep-introspection should be fixed by https://github.com/Homebrew/homebrew-science/pull/6482. Can you confirm, please.

[2017-12-05 18:20] deep-introspection commented on #863
No, unfortunately...

Now I have this:

[code]

[2017-12-05 18:38] tammoippen commented on #863
@tclose I think this is a change you introduced with https://github.com/Homebrew/homebrew-science/pull/6479. Can you also have a look?

[2017-12-05 20:47] tclose commented on #863
Hi @deep-introspection, that is strange as I am on High Sierra and I was just able to build the formula without any problems. Are you on the master branch of Homebrew? Can you open up your nest.rb and post the section surrounding the `inreplace` call?

Also, an you run with `brew install --debug nest` and when it breaks choose the shell option and then print the contents of `nest-config` with `cat

[2017-12-06 05:41] tclose commented on #863
Also, @deep-introspection, which options were you supplying to the build if any?

[2017-12-06 12:57] tammoippen commented on #863
@tclose I guess the options are at least `--with-python3`:

@deep-introspection I cannot reproduce the issue... as @tclose said, one has to look at the `nest-config` after `make install` and before the `inreplace bin/"nest-config",`. Something like

[code]

and `brew install --verbose nest --with-python3` should also do the trick. We expect that there are some lines like:
[code]

[2017-12-06 15:04] deep-introspection commented on #863
@tclose I used  --with-mpi --with-python3

Reproducing the error with another computer on High sierra at the lab.

Here is the full log with `brew install --debug nest` :

[code]

[2017-12-06 15:45] MariaCervera commented on #506
@heplesser Ok, thank you!
@abigailm That would be great, thanks.

[2017-12-06 23:06] tclose commented on #863
I tried again with --with-python3 and --with-mpi and was not able to reproduce the error either (when you ran `brew install --debug nest` did you provide the Python3 and MPI flags as well?).

From the nest-config dump you provided the "problem" is that the compiler is already pointing to /usr/local/bin/g++-7, which is what the `inreplace` call is attempting to do. I could probably change the code

[2017-12-07 00:02] deep-introspection commented on #863
@tclose Yes, I provided the Python3 and MPI flags as well for the debug. MPI was installed with brew.

How can I change the code so that it checks if the nest-config compiler is already pointing to the /usr/local/bin path ?

[2017-12-07 00:04] tclose commented on #863
For now you can just comment out the inreplace call and it should work
fine. Did you explicitly install MPI (open-mpi or mpich?) or automatically
during the NEST build process?

On 7 December 2017 at 11:02, Guillaume Dumas <notifications@github.com>
wrote:

--
*THOMAS G. CLOSE, PHD*
Senior Informatics Officer

*Monash Biomedical Imaging*
Monash University
Room 139, 770 Blackburn Rd
Clayton Campus,

[2017-12-07 00:06] deep-introspection commented on #863
@tclose I installed openmpi with brew before.
Ok, so where can I find this inreplace call?

[2017-12-07 00:07] tclose commented on #863
brew edit nest

around line 100 I think

On 7 December 2017 at 11:06, Guillaume Dumas <notifications@github.com>
wrote:

--
*THOMAS G. CLOSE, PHD*
Senior Informatics Officer

*Monash Biomedical Imaging*
Monash University
Room 139, 770 Blackburn Rd
Clayton Campus, Clayton VIC 3800
Australia

T: +61 3 9902 9804
M: +61 491 141 390
E: tom.close@monash.edu
mbi.monash.edu.au

[2017-12-07 00:10] deep-introspection commented on #863
Ok, this is working now ! Thanks :)

[2017-12-07 00:10] #863 closed

[2017-12-07 10:40] jstapmanns commented on #506
@MariaCervera  In the course of the NEST activities in the Human Brain
Project, we aim at implementing the Clopath-rule in NEST. This can be
considered as a step towards an implementation of the more complex third
factor plasticity rule for multi compartment models by Urbanzcik and
Senn. We are currently working on a prototype implementation of the
Clopath rule in order to find out how to efficien

[2017-12-07 11:50] flinz commented on #506
@jstapmanns @abigailm That's great to hear, thanks for the update - I had heard from @diesmann that this was in the works. I am happy to review when it's ripe!

[2017-12-07 19:14] Tigerji opened #866 "Nest installation with python"
Hi Guys,

It has been fixed, but dont know how to mark this issue as closed.

Trying to install a nest simulator (2-14-0) on Ubuntu for research propose, always get errors and looking for any advice for next direction:

OS: Ubuntu 16.04
python version: 2.7.12 & 3.5.2 (both has -dev installed)
cmake version: 3.5.1
cython version: 0.27.3
pip version: 9.0.1

steps taken:
1. download and extract nest

[2017-12-07 22:38] tclose commented on #863
@sjackman Any idea why NEST would be built using the /usr/local/bin/g++-7 path (instead of the shims/*/super path) on some High Sierra installs and not others.

I could do a regex search to see if the shims/*/super path exists in nest-config before calling the in replace but I had been trying to avoid doing that because it could fail silently in that case for some configurations.

[2017-12-08 01:10] sjackman commented on #863
No, I'm afraid I don't know, sorry. ¯\_(ツ)_/¯

`inreplace` has a fourth argument `audit_result` that when set to true does not fail if the regex does not match. https://github.com/Homebrew/brew/blob/master/Library/Homebrew/utils/inreplace.rb#L19

[2017-12-11 02:40] mschmidt87 commented on #866
This sounds to me as if you have not added the path to the pynest installation to your system's PYTHONPATH. You can either do this manually or by executing `nest_vars.sh` in your `bashrc` file. This is what's meant by the output of the cmake configuration:

[2017-12-11 02:42] Tigerji commented on #866
Hi, thanks for replying.

The bashrc file has been updated. Both the bashrc file inside nest folder
and the bash file under /home (sourced)

Regards,
Tiger

On Mon, Dec 11, 2017 at 2:40 AM, mschmidt87 <notifications@github.com>
wrote:

[2017-12-11 03:25] mschmidt87 commented on #866
If I understand your problem correctly, this should be unrelated to the NEST installation itself.
So, you can import pynest when you're in the folder of the NEST installation, but outside of it you get an import error, such as
`ImportError: No module named 'nest'`. Is that correct?

Then there has to be something wrong with your python path. Can you typing
`echo $PYTHONPATH` or
within a python/ipy

[2017-12-11 09:23] jgarridoalcazar opened #868 "Module header not found on compiling NEST with user modules"
**Description of problem:**
NEST cmake cannot find the header of the external example module. The module installation procedure copies the header in <nest_path>/include/<module_name>/<module_name>.h but the cmake search for <nest_path>/include/<module_name>.h
Compiler: gcc 5.4.0 and cmake 3.5.1

**Version-Release or Git commit:**
NEST 2.14.0 current master (11/12/2017) (3d4d2bad93dd424b29304e56bd2

[2017-12-11 10:42] jgarridoalcazar opened #869 "User module not linked with NEST in recent GCC versions"
**Description of problem:**
GCC (versions 4.6 and above) does not link user modules when building NEST with such an option. By default, recent GCC versions do not link against libraries that are not used at compile time (i.e. if no symbols are imported from them, as it is the case of user modules). It is reported [here](https://stackoverflow.com/questions/11631161/force-to-link-against-unused-shar

[2017-12-11 13:40] Tigerji commented on #866
Hi, when I cd to nest folder and use python in shell, *import nest* it gave
the same error.

I have re-installed nest under *:/var/local/lib/python2.7/dist-packages*

the feedback from shell for *echo $PATHONPATH* is also

*:/var/local/lib/python2.7/dist-packages*
​

Regards,
Tiger

On Mon, Dec 11, 2017 at 3:25 AM, mschmidt87 <notifications@github.com>
wrote:

[2017-12-12 00:38] mschmidt87 commented on #866
So, let me try to get that clear. When you do move to the directory that contains the pynest installation (`/home/users/programs/nest/lib/python2.7/site-packages` or now after your new installation `var/local/lib/python2.7/dist-packages`), you get an import error? Is there a folder called `nest`?

If yes, then it should be possible to import nest. If not, then something went wrong with the install

[2017-12-13 11:58] #854 closed

[2017-12-13 19:50] Tigerji commented on #866
Hi,

The new installation is under var/local/lib/python2.7/dist-packages, it is
not only a new installation of nest, but also a clean reinstall of ubuntu.

There is a folder called nest-2.14.0

The error is same as previous cases: nest executable can run directly
from terminal,
but python cannot find nest (even if cd to var/local/lib/python2.7/dist-
packages).

Regards,
Tiger

On Tue, Dec 12, 2017

[2017-12-14 00:53] mschmidt87 commented on #866
When you say "The new installation is under var/local/lib/python2.7/dist-packages", does this mean that the pynest package is in this path oder the nest directory? What I mean is the following;

After executing the configure line, you get the output as the one shown above, which contains a line like:

This is the folder that contains the PyNEST installation. So in your case, did cmake say that it

[2017-12-14 13:10] Tigerji commented on #866
Hi,

Thanks for the help, it worked. As for this question, It has been several
rounds of re-install of ubuntu and nest since the last time I posted. The
output of configuration is no longer accessible. If it is not wrong, the
folder nest installed to is: /var/local/lib/python2.7/dist-packages.
However, it should be installed to (var/local/lib/python2.7/site-packages)

Will edit the profile and inc

[2017-12-14 18:27] Tigerji commented on #866
close as problem solved.

[2017-12-20 12:45] krisdamato commented on #830
Any updates on this? I'm getting the same error when running make install on both Python 3.5.4 and 2.7 in Ubuntu 16.04, so the above workaround does not work.

[2017-12-20 17:33] jakobj opened #874 "MPI tests for connect fail locally"
When trying to execute `test_connect_all_patterns.py` locally, I always receive the following error:

[code]

Am I running the MPI tests wrong or is this a bug? @hannahbos @heplesser @jougs

My setup is Debian 9.0, Python 3.5.2, NEST master revision 3d4d2bad, compiled with OpenMP and MPI

[2017-12-22 11:11] hakonsbm commented on #874
The error message you get means that the tests listed in the assertion error message fail when trying to run them with `mpirun`. However, I can't seem to reproduce it on my machine. Please try running some or all of the tests with
[code]
where `[script]` is one of the scripts that are failing, and post the output or error message.

[2017-12-29 13:22] assadRasheed opened #876 "AttributeError: 'module' object has no attribute 'SetKernelStatus'"
AttributeErrorTraceback (most recent call last)
<ipython-input-8-bbbb0524c451> in <module>()
     21
     22 import numpy as np
---> 23 import pyNN.nest as sim
     24 import pathlib as plb
     25 import time

C:\Users\zaid-pc\Anaconda2\lib\site-packages\pyNN\nest\__init__.py in <module>()
     16 import nest
     17
---> 18 from . import simulator
     19 from pyNN import common, recording, erro

[2018-01-05 09:14] heplesser commented on #876
@assadRasheed Are you sure that PyNN is importing the proper `nest` module? Could you in Python perform `import nest`. You should then see a message including

[code]

If not, you probably have a different module called `nest` in your `PYTHONPATH` and need to fix that  (`source <nest_install_dir>/bin/nest_vars.sh`).

If you still have problems, please provide more details about your configuration.

[2018-01-09 07:00] steffengraber commented on #830
@krisdamato
I tried it with a fresh install of Ubuntu 16.04.3 with all the latest updates (Python 2.7.12, Python 3.5.2) in a Virtualbox and could not reproduce your problems.
Additionally I tried Python 3.6.4. Even with that I could not create the error.

That's what I did in detail:

Install the dependencies:

`sudo apt-get install -y build-essential cmake libltdl-dev libreadline6-dev libncurses5

[2018-01-09 10:20] krisdamato commented on #830
I was using an ubuntu image from their official Docker repository, creating
a conda environment, and building. I can't recall the exact steps, because
now I've fixed it by using a different image. My apologies.

On an unrelated note: providing an official NEST simulator docker image
would be really cool for people who need to set this up on private
clusters/home machines.

On Tue, Jan 9, 2018 at 8

[2018-01-09 14:35] jougs opened #877 "Evaluate the use of the hypothesis test framework"
[Hypothesis](http://hypothesis.readthedocs.io/en/latest/) is a framework that allows to specify test cases in the form of intents rather than writing the full code for the tests. The framework should be evaluated on the course of the [Project about evaluating new Python test frameworks](https://github.com/nest/nest-simulator/projects/3).

[2018-01-10 00:39] jougs commented on #355
The `IteratorDatum` was removed in 60c273738e4573047 and a7d1b1809285a96 together with all pertaining classes and functions.

With this removal, I consider this issue fixed and thus close it.

[2018-01-10 00:39] #355 closed

[2018-01-11 07:18] steffengraber commented on #830
@krisdamato An official docker image is in preparation.

[2018-01-11 07:19] steffengraber commented on #830
I tried the installation with non-UTF-8 `locales` settings (en_US) of the system and could now recover the error message.
When I reset everything to en_US. UTF-8 `make` runs without error messages.

[2018-01-11 18:22] lepmik opened #880 "-fPIC (missing?) in CMAKE_(C/CXX)_FLAGS"
Hi, I had to add -fPIC in order to compile using gcc 5.2.0, maybe it should be there by default? Excuse this issue if it is already resolved.

[2018-01-16 11:13] jakobj commented on #874
As it turns out, this problem disappears on my new machine, where I've reinstalled everything from scratch. As far as I remember the strange thing about this was that I was able to run all individual tests, also with `mpirun`, only the test that uses `mpirun` itself (`test_connect_all_patterns.py`) failed. In any case, this issue can be closed.

[2018-01-16 11:13] #874 closed

[2018-01-18 02:23] ikitayama opened #882 "-Kopenmp doesn't get set in C/C++ compiler flags"
In cmake/Platform/Fujitsu-Sparc64.cmake, there are lines for OpenMP enablement on K computer:
[code]

but it doesn't seem to get set properly.
[code]

[2018-01-18 14:54] notabigfish opened #883 "Error when running make installcheck"
Hi,

below is what in installcheck.log

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
Running tests from /home/shuo/.local/share/doc/nest
Running test 'selftests/test_pass.sli'...

-> 127 (Failed: unexpected exit code 127)
----------------------------------------

Could anyone tell me how to fix this? Thank you!

[2018-01-22 11:32] terhorstd commented on #883
Have you tried to follow the instructions given in the error message you posted?

[2018-01-24 08:26] gtrensch commented on #824
Status update: This issue is waiting for PR #789 to be merged.

[2018-01-24 08:41] gtrensch commented on #882
@ikitayama, please can you send us the output from your cmake run? I don't have an account on K for testing this. The full output might reveal more information.

[2018-02-03 20:59] j143 opened #889 "nest-simulator on windows."
Hi, is it possible to build nest-simulator on windows.

windows 10, visual studio 2017 is available.
Is there any step-by-step instruction available?. Thanks a lot.

[2018-02-05 10:52] #287 closed

[2018-02-05 11:09] jougs commented on #889
@j143: There was a mail by @w-klijn about compiling NEST using Bash on Ubuntu on Windows10 [here](http://mail.nest-initiative.org/cgi-bin/mailman/private/nest_user/2017/005006.html). To access the mail in the archive, you have to subscribe to the [mailing list](http://www.nest-simulator.org/community/).

I'm closing this, but please feel welcome to discuss this issue on the mailing list.

[2018-02-05 11:09] #889 closed

[2018-02-05 11:11] terhorstd commented on #847
this is fixed in NEST 2.14.

[2018-02-05 11:11] #847 closed

[2018-02-05 11:21] jougs commented on #842
@mmohaghegh: The issues you are experiencing were fixed in [NEST 2.14.0](https://github.com/nest/nest-simulator/releases/tag/v2.14.0), releases on October 20, 2017. Please upgrade to the new version.

For the record: the title of this issue is misleading in that the problems are *not* actually compilation errors, but errors during the testsuite.

[2018-02-05 11:21] #842 closed

[2018-02-05 11:25] terhorstd commented on #756
this is currently blocked by #789

[2018-02-05 16:01] stinebuu commented on #673
The subnet removal work is happening on a [branch in the compneuronmbu repository](https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology), where all tests have been rewritten to work without subnets, and where they currently all pass. So this issue will be solved when the branch is merged with master, ie with NEST 3.0.

[2018-02-06 10:18] #835 closed

[2018-02-06 10:48] jougs commented on #417
@heplesser: do we still need this issue? My impression is that is more or less obvious what will be in NEST 3. Moreover this issue seems to be an inappropriate way to track progress and will be out of synch with the actual development most of the time. I would simply close it.

[2018-02-06 11:55] jougs commented on #460
The machine has finally been shut down and I have just now removed the DNS entry, which was redirecting `qa.nest-initiative.org` to 132.230.177.10.

[2018-02-06 11:55] #460 closed

[2018-02-06 15:00] jougs commented on #480
@heplesser: as this work is already mostly finished in [our branch](https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology), I suggest to close this issue here in order to avoid confusion.

I have updated the [Remove subnets](https://github.com/nest/nest-simulator/projects/2) project to point to the code where the work takes/took place.

[2018-02-07 13:51] jougs commented on #482
To my mind this issue does not contain much valuable information and we will have to see how to go about when the dry-run mode is actually integrated. I'm thus closing it. @heplesser: feel free to re-open if you think differently.

[2018-02-07 13:51] #482 closed

[2018-02-07 13:53] jougs commented on #417
To my mind this issue does not contain much valuable information. I'm thus closing it for the sake of less clutter in the tracker. @heplesser: feel free to re-open if you think differently.

[2018-02-07 13:53] #417 closed

[2018-02-07 13:55] jougs commented on #697
@gtrensch: any news on this? To me this looks as it should not be too much work to fix. I'll happily review a PR to fix this. Many thanks!

[2018-02-07 14:06] jougs commented on #455
@hakonsbm: Can you please copy and update the information from this issue to a new document under `extras/userdoc/md/`in our [development branch](https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology). I'll close this issue once you did that. Many thanks!

[2018-02-07 14:08] jougs commented on #480
To my mind this issue does not contain much valuable information. I'm thus closing it for the sake of less clutter in the tracker. @heplesser: feel free to re-open if you think differently.

[2018-02-07 14:08] #480 closed

[2018-02-07 14:16] jougs commented on #657
With the imminent end of life of JUQUEEN, I am not sure if we can/should actually fix this. I'm thus closing this. If anyone thinks otherwise (or has the resources to fix this), feel free to re-open.

[2018-02-07 14:16] #657 closed

[2018-02-07 14:45] jougs commented on #151
@flinz: I know it's been a while, but FWIW, are you still willing to work on this?

[2018-02-07 14:47] jougs commented on #191
@zifeo: are you still interested in this enhancement? If not, I would consider closing this due to the long inactivity and an apparent lack of users requiring it.

[2018-02-07 14:50] jougs commented on #192
@heplesser: do you think we should consider this for inclusion in NEST 3? If we decide to not change the  names, we should close this.

[2018-02-07 14:52] jougs commented on #193
@gewaltig: are you (or someone in your team) willing to rename the model? We are currently working on NEST 3, where we again allow these kind of more massive changes.

[2018-02-07 15:17] jougs commented on #257
@steffengraber: can we close this? I think the main points (pep8 conformity and documentation reformatting) have been solved by #263.

[2018-02-07 15:18] jougs commented on #260
@sdiazpier: can you please update us on the status? If this was fixed by #775, I'd like to close this issue.

[2018-02-07 15:20] jougs commented on #274
Just mentioning @jessica-mitchell to make her aware of this.

[2018-02-07 15:22] jougs commented on #291
@steffengraber, @terhorstd, @jessica-mitchell

[2018-02-07 15:28] jougs commented on #304
I have reviewed and fixed all examples in the course of the work for the [subnet-free Topology](https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology) and thus consider this fixed.

[2018-02-07 15:28] #304 closed

[2018-02-07 15:33] jougs commented on #352
I'm closing this in favor of https://github.com/compneuronmbu/nest-simulator/issues/4.

[2018-02-07 15:33] #352 closed

[2018-02-07 15:33] jougs commented on #488
I'm closing this in favor of https://github.com/compneuronmbu/nest-simulator/issues/4.

[2018-02-07 15:33] #488 closed

[2018-02-07 15:38] jougs commented on #369
@hakonsbm: Is the requested behavior possible (even with an explicit conversion to a GIDCollection) with the current code in [our branch](https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology)? If yes, can you please close this? Thanks!

[2018-02-07 15:42] jougs commented on #405
Closing due to long inactivity.

[2018-02-07 15:42] #405 closed

[2018-02-07 15:44] jougs commented on #450
Fixed by the merge of #451.

[2018-02-07 15:44] #450 closed

[2018-02-07 15:45] jougs commented on #453
At the NEST Conference 2017 we officially announced that C++11 is allowed in NEST from now on. I'm thus closing this issue.

[2018-02-07 15:45] #453 closed

[2018-02-07 15:46] jougs commented on #457
@tillschumann: Any news on this?

[2018-02-07 15:52] jougs commented on #493
This was implemented in https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology. As the issue does not contain any additional information, I'm thus closing.

[2018-02-07 15:52] #493 closed

[2018-02-07 15:53] jougs commented on #512
SiblingContainers have been removed in https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology. I'm thus closing this.

[2018-02-07 15:53] #512 closed

[2018-02-07 15:56] jougs commented on #538
@stinebuu: isn't this what is now possible with the `get()` function in [our branch](https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology)? If yes, I guess we can close this.

[2018-02-07 15:58] jougs commented on #673
This is fixed in the afforementioned branch. I'm therefore closing this.

[2018-02-07 15:58] #673 closed

[2018-02-07 16:05] jougs commented on #606
@sepehrmn: any news on this? If not, I'm soon closing this due to inactivity.

[2018-02-07 16:07] jougs commented on #782
@steffengraber, @jessica-mitchell: can you please add a link to user supplied modules to the documentation page and close this issue once you are done? Many thanks!

[2018-02-07 16:09] jougs commented on #883
Closing due to inactivity.

[2018-02-07 16:09] #883 closed

[2018-02-07 16:10] jougs commented on #876
Closing due to inactivity.

[2018-02-07 16:10] #876 closed

[2018-02-07 16:13] jougs commented on #866
Is this issue fixed?

[2018-02-07 16:16] jougs commented on #830
@steffengraber: can you please run the code from my [comment](https://github.com/nest/nest-simulator/issues/830#issuecomment-336187066) with the non-unicode locale and see if there are files with errors? Thanks!

[2018-02-07 17:11] #191 closed

[2018-02-07 18:01] sepehrmn commented on #606
@jougs Many thanks for your message. It is likely that I will make a pull request when I get the time, hopefully soonish.

[2018-02-08 07:59] steffengraber commented on #830
@jougs Sorry, checked again in new master with python 2 and 3. No errors.

[2018-02-08 08:02] steffengraber commented on #257
@jougs Yes, close it.

[2018-02-08 08:49] stinebuu commented on #538
@jougs: It does not return a NumPy array, but yes. It returns a dictionary with lists (or integers), which makes it really easy to extract data. We could add an option for returning a NumPy array if that is desirable,  we already have an option for Pandas. We would just have to convert what is returned on the Python level to a NumPy array, and that doesn't sound too difficult to me.

[2018-02-08 10:06] hakonsbm commented on #455
@jougs I have created a new document in `extras/userdoc/md` in our development branch with information from this issue, as you requested.

[2018-02-08 10:35] hakonsbm commented on #369
@jougs Didn't we decide that `Create` should only take `GIDCollection`s as input? It is possible, however, to create  `GIDCollections` from both lists and Numpy arrays using `nest.GIDCollection(gid_list_or_array)`.

Also, I don't have the right authorization to close issues I haven't created.

[2018-02-08 15:13] jougs commented on #257
Thanks!

[2018-02-08 15:13] #257 closed

[2018-02-08 15:15] jougs commented on #538
Thanks for your quick reply. I guess the main point in this issue is resolved and Pandas sounds like a good way of handling this. We can always extend to NumPy arrays once a real use case turns up.

[2018-02-08 15:15] #538 closed

[2018-02-08 15:16] jougs commented on #455
Many thanks. As the information is now in a safe place, I close this.

[2018-02-08 15:16] #455 closed

[2018-02-08 15:20] jougs commented on #369
Thanks for the heads up. I also seem to remember that we decided to only support `GIDCollection`s in calls to `Connect`. The explicit conversion to those also makes sure the nodes actually exist, which is a good thing. In summary, I consider this issue fixed and thus close it.

[2018-02-08 15:20] #369 closed

[2018-02-08 15:52] Silmathoron commented on #369
Hey, sorry to break the mood but I am not in favour of this ;P
Forcing the user to convert to ``GIDCollection``s will add a reason why some old codes will break + it forces the user to add a line.
I thik it would be much better to allow any iterator, then convert it inside ``Connect``. It is still safe but more universal.

[2018-02-09 06:16] Tigerji commented on #866
It has been fixed

Regards,
Tiger

On Wed, Feb 7, 2018 at 4:13 PM, Jochen Martin Eppler <
notifications@github.com> wrote:

[2018-02-09 06:16] #866 closed

[2018-02-13 14:16] heplesser commented on #869
Fixed by merging #871.

[2018-02-13 14:16] #869 closed

[2018-02-13 14:17] heplesser commented on #868
Fixed by merging #870

[2018-02-13 14:17] #868 closed

[2018-02-19 10:51] jessica-mitchell commented on #702
NEST Open Developer meeting says yes, 19.02.18

[2018-02-19 14:46] elbixos opened #892 "Install troubles : ImportError (dynamic module..."
Hi, and thansk for proposing NEST.
I had the following problem when trying to install. It seems that the compilation went ok but the tests say :

Phase 7: Running PyNEST tests.
------------------------------

  Using nosetests.

  Failure: ImportError (dynamic module does not define init function (initpynestkernel)) ... ERROR

Here are the reports of the install

[reports.tar.gz](https://github.co

[2018-02-20 11:27] jougs commented on #702
I'm working on this in the [Topology cleanup branch](https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology).

[2018-02-20 21:59] jougs commented on #702
The changes are now implemented in cb8160494016ccd971808eaf25b074c307efd453 and I'm thus closing this issue.

[2018-02-20 21:59] #702 closed

[2018-02-21 17:39] AlexStasik opened #893 "There were errors detected during the run of the NEST test suite!"
NEST Testsuite Summary
----------------------
  NEST Executable: /Users/astasik/NEST/bin/nest
  SLI Executable : /Users/astasik/NEST/bin/sli
  Total number of tests: 959
     Passed: 945
     Skipped: 13 (7 PyNEST)
     Failed: 1 (1 PyNEST)

***
*** There were errors detected during the run of the NEST test suite!
***
*** Please report the problem at
***     https://github.com/nest/nest-simulator/

[2018-02-23 12:42] suku248 opened #894 "Direct comparison of floating point numbers in STDP"
Floating point numbers are tested for equality without using an error margin in `ArchivingNode` and all STDP models, which results in spikes being included/excluded by mistake in the STDP update.

The problem is shown [in this commit](https://github.com/suku248/nest-simulator/commit/76f7f82bb8fa13a7b63321739e40bd75e3007e9e) when running `hpc_benchmark.sli`.

In the long run, we need to use NEST's

[2018-03-05 10:02] terhorstd commented on #893
There seems to be an issue with the new python handling the filter() function.
[code]

[2018-03-05 10:10] terhorstd commented on #892
There seems to be something wrong in your python setup. The error message mentions both versions
[code]
Try to sort out which python version you want to use. Run *either* 2.7 *or* 3.5, but not both :)

[2018-03-05 10:16] heplesser commented on #893
@AlexStasik Thank you for reporting this issue! This has already been fixed in the NEST master branch (c37b022c94); the fix will be included in the next NEST release. It is only due to a minor Python 2/3 issue in the test and does not indicate any problem in NEST itself.

[2018-03-05 10:16] #893 closed

[2018-03-05 10:40] stinebuu commented on #841
@TomBugnon sorry for the inactivity on this, is it still a problem?

[2018-03-05 11:09] terhorstd commented on #830
@steffengraber : could you add an `, encoding="utf8"` to the `open()` statements in the help generation? This would probably fix this issue (and would be more correct procedure).

[2018-03-05 11:12] terhorstd commented on #763
I would agree to testing the last versions only.

[2018-03-05 11:13] jougs opened #896 "Bump version requirement for cmake"
#819 introduces a use of the `-E env` command for `cmake`, which is not supported on older versions of CMake. Fixing this issue involves finding out when this command was added and making that the minimum required version.

[2018-03-05 12:43] terhorstd commented on #756
This would be nice to have checked in one run of the travis build.

[2018-03-05 12:51] stinebuu commented on #679
The changes for this is implemented in the [compneuronmbu SubnetFreeTopology](https://github.com/compneuronmbu/nest-simulator/tree/fix-481-SubnetFreeTopology) branch.

[2018-03-05 13:02] terhorstd commented on #896
env didn't exist in cmake-3.0.2, but does in cmake-3.1

[2018-03-05 16:13] TomBugnon commented on #841
Hi, thanks for your answer.
The issue still holds, yes. By the way I obtain a similar type of error when registering a neuron model.

I got around the problem by working from within a docker container where I can install modules without issue.

[2018-03-07 11:17] #779 closed

[2018-03-07 11:17] #784 closed

[2018-03-07 14:17] stinebuu opened #899 "Missing third rotation angle when rotating masks in 3D"
With PRs #664 and #845 we added the possibility to rotate the rectangle/box and elliptical/ellipsoidal topology masks. However, in 3D we are missing one of the rotation angles, namely rotation from the y-axis to the z-axis (the &#947; [here](https://en.wikipedia.org/wiki/Euler_angles#/media/File:Eulerangles.svg)). The third rotation angle should be added for completeness.

[2018-03-07 18:05] TomBugnon commented on #841
My bad i deleted the files. You can find the install scripts and the modules here:

https://drive.google.com/drive/folders/1Qhx4yJasnW5ejCRudCBKJfmEZIsU0_Mc?usp=sharing

Thanks again for your time, let me know if I can be of any help

[2018-03-07 21:30] #643 closed

[2018-03-07 22:12] heplesser commented on #841
@TomBugnon Thanks for your files, I can reproduce the behaviour you see. One issue is simply resolved: in `rotatedrectangularmask.h`, you need to `#include "mask_impl.h"` in addition to `mask.h`. Problems with missing factories and names remain, though, I am working on it.

[2018-03-07 23:07] heplesser commented on #894
@suku248 Your "temporary fix" seems sensible, but how robust would it be when precise neurons are combined with STDP? Would you create a PR based on the fix?

[2018-03-08 00:51] TomBugnon opened #904 "[feature request] Create multiple synapses among neuron pairs with a single tp.ConnectLayers"
Dear all,

I would like to connect the neurons in two layers according to a given spatial profile and using multiple receptors (GABA_A & GABA_B, or AMPA & NMDA in my case). That is to say, I would like to use nest.Topology to draw the pre/post-synaptic neuron pairs, and connect each of those pairs multiple times with different types of synapses (one for each receptor type in my case). This seems r

[2018-03-08 08:35] heplesser commented on #904
@TomBugnon This is indeed a very relevant use case and the only reason that this is not supported at the moment is that this use case has only come to our attention very recently. The most crucial point would be to define a clear semantics that integrates well with remaining `Connect()` semantics.

[2018-03-08 09:36] heplesser commented on #717
These data structures change significantly in https://github.com/jakobj/nest-simulator/tree/5g.
We need to check if the problems still exist there. We therefore do not proceed on this issue in master for now.

[2018-03-08 13:20] #896 closed

[2018-03-08 13:20] #659 closed

[2018-03-08 20:59] TomBugnon commented on #904
I'm not so familiar with c++ nor with the details of the simulator so let me just put out there a possibly naive solution:

How about allowing the `synapse_model` parameter in `ConnectionCreator` to be either a model name or an iterable (eg of the form `['model_1', 'num_syn_1', 'model_2', 'num_syn_2', ...]`, or `['model_1', 'model_2', ...]`, as for the layer's `elements` specification). That could

[2018-03-09 08:29] heplesser commented on #904
@TomBugnon I was first of all thinking about the semantics at the Python level. The most straightforward approach there would be to allow a a container for the `syn_spec` argument, with one model name or dictionary per synapse to be created for each connection.

There is a complication, though, since we at present also are thinking about finding a way to reduce the number of `Connect()` calls (whi

[2018-03-10 07:59] heplesser commented on #848
Fixed by #891.

[2018-03-10 07:59] #848 closed

[2018-03-11 19:50] andraderenew opened #907 "nest installation error (make installcheck)"
I am trying to install in MAC OS NEST 2.14. I have the next code because there seems to be something broken.

Renes-MacBook-Air-2:nest-2.14.0 andraderenew$ make installcheck
Execute NEST's testsuite....
dyld: Library not loaded: @rpath/libgomp.1.dylib
  Referenced from: /Users/andraderenew/NEST/bin/sli
  Reason: image not found

Phase 1: Testing if SLI can execute scripts and report errors
-------

[2018-03-11 22:41] Vafa-Andalibi opened #908 "How am I supposed to run SLI file?"
There is not a single example/tutorial whatsoever about how to run a .sli file. All the examples in the websites are for PyNest which I'm not using. I'm trying to run a sli file in SLI environment, after reading help I found the "run" command I intuitively tried this as like in every command line environment anywhere:
`SLI ]  run coba.sli `
and I get this:
[code]
No information about how to even u

[2018-03-12 07:07] heplesser commented on #908
@Vafa-Andalibi Questions like this are more suitable for the NEST User Mailing list (http://www.nest-simulator.org/community/). SLI is based on Postscript, so arguments always come first. To run a SLI file, use
[code]
Unless there are very specific reasons for why you need to avoid Python, I would suggest using the PyNEST interface.

[2018-03-12 07:07] #908 closed

[2018-03-12 17:58] elbixos commented on #892
Ok, I definitely have python 2.7 and python 3.5 installed on my pc.
My last attempt also failed and here is what I've done :

1. I started from scratch with a new clone of the github repository.
2. here is my command line for cmake
cmake -DCMAKE_INSTALL_PREFIX=/usr/bin \
	-Dwith-python=3 \
        -DPYTHON_EXECUTABLE=/usr/bin/python3 \
        -DPYTHON_LIBRARY=/usr/lib/x86_64-linux-gnu/libpython3.

[2018-03-12 19:40] elbixos commented on #892
Ok, brand new VM ubuntu 16.04.
Uninstalled python2.7

installed a bunch of packages :

sudo apt-get install build-essential python3 libreadline6 libreadline6-dev numpy python3-numpy python3-scipy python3-matplotlib cmake libgsl-dev libltdl-dev doxygen

Note that I forgot python3-nose

first Attempt :
---------------------------------------------------------------------------------------
cmake -DCM

[2018-03-13 18:55] #907 closed

[2018-03-14 14:51] heplesser commented on #800
Closed by merging #812.

[2018-03-14 14:51] #800 closed

[2018-03-14 17:15] heplesser commented on #369
@Silmathoron This change will be part of NEST3, which will come with a considerable number of UI changes, so users will need to fix code anyways.

[2018-03-15 14:30] babsey opened #910 "Proposal: NEST web API"
Hello,

I want to intoduce NEST web API which is simular to pyNEST. Thus, this API takes GET or POST requests for methods existing in pyNEST e.g. Create, Connect, GetStatus, SetStatus, Simulate ...
and the arguments are data of the AJAX request (the data can be formated in JSON).
However, I did not test it with NEST Topology but I assume it could also work with it.

I like the idea that NEST with

[2018-03-15 18:05] alberto-antonietti opened #911 "regressiontests/ticket-659-copyright.py fails if NEST build directory is in source directory"
I noticed that if NEST is built in a folder inside the source directory (e.g. nest-simulator/b ), the test done by ticket-659-copyright fails because of the headers that are not correctly ignored.

`Running test 'regressiontests/ticket-659-copyright.py'...

-> 20 (Failed: inconsistent copyright header(s))`

This is a minor issue, but I can easily fix the code of ticket-659-copyright to avoid the f