[2020-03-31 20:50] heplesser commented on #1489
@hakonsbm I had a quick look at the code of Boost 1.68.0 vs 1.69.0. Among other things, `sort/common/pivot.hpp` got a different `mid3()` implementation, and `sort/spreadsort/detail/integer_sort.hpp` since 1.69 falls back on `boost::sort::pdqsort()` instead of `std::sort()` for small sizes.

[2020-03-31 23:15] niltonlk commented on #1494
In CMakeLists.txt, there is a condition to disable the build of the example backend, however, there was a missing #ifdef in mymodule.cpp to do not include the backend header file when the audio library is not present (see #1479).

[2020-04-01 06:33] heplesser commented on #1467
Fixed by #1484.

[2020-04-01 06:33] #1467 closed

[2020-04-01 09:16] #1450 closed

[2020-04-01 11:19] stinebuu opened #1495 "MUSIC tutorial on ReadTheDocs needs updating"
**Describe the bug**
The MUSIC tutorial on ReadTheDocs is outdated and needs to be updated to fit with NEST 3.0. Especially the [MUSIC with SLI](https://nest-simulator.readthedocs.io/en/latest/tutorials/music_tutorial/music_tutorial_sli.html) documentation, which references `subnet` and outdated functions like `LayoutNetwork`. The other pages are outdated as well though.

**Screenshots**
Looking v

[2020-04-01 17:49] terhorstd opened #1496 "Documentation workflow conda environment"
**Describe the bug**
The environment introduced in the documentation workflow requires a lot of space and is over-specified for the purpose.

**To Reproduce**
Remove lines or version specifiers from doc/nest_doc_conda_env.yml
Follow documentation workflow. Still works.

**Expected behavior**
environment should be specific for the purpose, and impose restrictions only to the extent required, so the

[2020-04-02 06:29] heplesser commented on #1496
@terhorstd I agree with your philosophy of keeping environments minimal. Have you identified any dependencies yet that can be removed safely?

Looking at [nest_doc_conda_env.yml](https://github.com/nest/nest-simulator/blob/4fb2b1bceded7f3b26f0bb9991cb847433236f08/doc/nest_doc_conda_env.yml#L50), I also wonder why `pynest` here apparently is listed as a dependency via pip, even though `nest-simulat

[2020-04-02 09:33] steffengraber commented on #1489
I have a conda build environment on Ubuntu 19.10 and have now built NEST 2.20.0 with different versions of Boost. A` make installcheck` gave the following results:

- with boost v1.72.0 - errors
- with boost v1.71.0 - errors
- with boost v1.70.0 - errors
- with boost v1.69.0 - errors
- with boost v1.68.0 - ok

[2020-04-02 11:12] heplesser commented on #1489
@steffengraber Thanks for testing! The problem seems indeed related to the change from `std::sort()` to `boost::sort::pdqsort()` for small sizes that happened with v1.69.0. @hakonsbm is on it.

[2020-04-03 10:10] terhorstd opened #1498 "documentation generation dependencies"
**Describe the bug**
the `doc/conf.py` contains dependencies to `recommonmark.parser` and `copybutton.js`, that are probably not needed anymore and were remarked to be removed, see #1355

**Expected behavior**
No unnecessary dependencies should be required.

[2020-04-03 14:36] sarakonradi opened #1499 "Sphinx-tabs in documentation"
This issue opens a discussion on whether or not we want to keep``.. tabs::`` in the documentation.

An example of where tabs are currently used can be found in the installation instructions for NEST: https://nest-simulator.readthedocs.io/en/latest/installation/index.html

Tabs could also prove useful in the Part 4 PyNEST tutorial, as they can show a snippet vs. figure view of on- and off-grids: ht

[2020-04-06 10:07] #403 closed

[2020-04-06 10:07] #1272 closed

[2020-04-06 12:04] heplesser commented on #1435
I have now tested on a Saga login node with
[code]
which resulted in the following configuration
[code]

All tests pass except `test_connect_all_patterns.py`. The problem here appears to be related to  convoluted `nosetests --> mpirun -np 2 nosetests` invocation rather than due to a real problem.

[2020-04-07 06:45] sarakonradi opened #1504 "Finalize PyNEST examples"
As with every release, all examples need to be tested and the documentation finalized before NEST 3.0 is released.

Following aspects need to be checked:

* Example Content
   * [x] Add description for``twoneurons.py`` -> #1754 and #1825
* NEST-3-ness
   * [x] Incorporate NEST 3 features in examples -> #1534
   * [x] Notebooks -> #1592
   * [x] Remove ``SetDefaults()`` -> #1534
   * [x] Remove ``n

[2020-04-07 07:35] clinssen opened #1505 "Figures are broken on NEST3 transition guide"
Firgures not loading on https://nest-simulator.readthedocs.io/en/latest/guides/nest2_to_nest3/nest2_to_nest3_overview.html

rST source code (for example):

  .. image:: ../_static/img/NEST3_23_0.png

Resolves to URL: https://nest-simulator.readthedocs.io/en/latest/guides/nest2_to_nest3/guides/_static/img/NEST3_23_0.png

Should be: https://nest-simulator.readthedocs.io/en/latest/_static/img/NEST3_2

[2020-04-07 07:52] clinssen commented on #249
Synapse (Connection) classes are organised differently from the neuron (Node) classes: the latter typically have a private Parameters_ (and State_) struct, that can be quickly copied and restored to the original if an exception was thrown while updating the values. Synapse classes currently lack this organisation, but when synapses are generated using NESTML, they will follow the neuron class layo

[2020-04-07 07:59] sarakonradi commented on #1505
Hi @clinssen, well noticed. I addressed those figures in #1501 yesterday. Feel free to have a look.

[2020-04-07 08:03] clinssen commented on #1505
Thanks, would be happy to be a reviewer on #1501 if you're looking!

[2020-04-07 08:06] sarakonradi commented on #1505
@clinssen That would be great!

[2020-04-07 09:08] clinssen commented on #329
Some of the suggestions on this thread have already been merged, while others have not.

I suggest I create a PR to rename this model (`hh_cond_exp_traub`) to `hh_cond_exp_2007_review` as suggested by @heplesser, and to add documentation to the models (also hh_cond_beta_gap_traub) to document rather than change the behaviour, because these are not strictly speaking bugs but implementation details/

[2020-04-07 09:20] H27CK opened #1506 "Segfault with Boost => 1.69"
We (@jarsi, @jasperalbers) see consistent segmentation faults when sorting presynaptic connections using Boost =>1.69 (no segfault with v1.68, but versions 1.69 and 1.70 are seemingly incompatible) on multiple HPC systems (JURECA and DEEP-EST), running a variety of cases (HPC benchmark, microcircuit, multi-area model). It is necessary to confirm the issue on other systems with Boost => 1.69.

In `

[2020-04-07 09:25] H27CK commented on #1506
I have been pointed to https://github.com/nest/nest-simulator/pull/1502. We will look into this first. This issue may be redundant.

[2020-04-07 09:34] clinssen commented on #795
NESTML is probably not the right place to address this. Where does the user decide that they want nest::fastexp() rather than std::exp()? Probably this has to be decided prior to building NEST. This would take the form of a build parameter (``-Dfast-exp`` to cmake or similar).

I would suggest to replace all std::exp() calls in all models with nest::fastexp() calls, and then make fastexp() an inli

[2020-04-07 09:51] heplesser commented on #1242
Closing since this issue is fixed.

[2020-04-07 09:51] #1242 closed

[2020-04-07 10:00] heplesser commented on #1205
Closing due to lack of user response.

[2020-04-07 10:00] #1205 closed

[2020-04-07 10:38] heplesser commented on #1192
You can disable Python bindings with CMake flag `-Dwith-python=OFF`.

[2020-04-07 10:38] #1192 closed

[2020-04-07 10:47] heplesser commented on #1082
Closing due to inactivity.

[2020-04-07 10:47] #1082 closed

[2020-04-07 12:38] H27CK commented on #1506
The changes in https://github.com/nest/nest-simulator/pull/1502 remedy this issue. However, to eliminate Boost as a dependency (even if header-only), it is still our opinion that the desired functionality should be implemented directly in NEST . If that is not possible, then Boost should be enabled by default, as suggested in https://github.com/nest/nest-simulator/pull/1477.

[2020-04-07 12:38] #1506 closed

[2020-04-07 14:05] zbarni opened #1508 "Multimeter sampling with offset parameter"
**Description: The multimeter returns unexpected samples for certain `interval` and `offset` parameter combinations**

The multimeter records an unexpected first sample when it is created and connected after some initial simulation period. The multimeter documentation is not complete, but if I remember correctly, we implemented the `offset` parameter #669 to record the first sample relative to `0.

[2020-04-07 15:10] zbarni opened #1509 "Inconsistent multimeter recordings in multi-threaded environment"
**Describe the bug**
When reading the recordings from different multimeters in parallel (multi-threading), the recorded times are inconsistent. When reading sequentially, in the context of the same program, the results are reliable and correct. The multimeters are initialized with the `offset` parameter, so this might be related to #1508 . Specifically, the error is related to the first recorded t

[2020-04-07 20:50] heplesser commented on #329
@clinssen Good points! We should discuss the underlying question in general: To which degree should we implement models from the literature "as is", and to which degree should we create well-designed models with solid numerics based on models from the literature.

I believe that we will do neuroscience a service by creating well designed and implemented models, but for reproducibility checks one m

[2020-04-08 05:41] steffengraber commented on #1388
Solved.

@sarakonradi Could you clarify this, please?

@jougs @sarakonradi I have removed all pdf links

[2020-04-08 07:49] sarakonradi commented on #1388
@steffengraber Great, thanks!

I wasn't sure which Tsodyks paper was intended here. The 2000 paper focuses on synchronization. The well-established Tsodyks–Markram (TM) model is from 1997 and was later extended in 1998. Then there are other newer Tsodyks papers, such as the 2015 one.

@jougs Do you know which paper was meant to be linked for short-term plasticity?

[2020-04-08 09:55] sarakonradi opened #1510 "Fix sphinx-build warnings"
Currently, generating documentation locally with Sphinx involves activating the ``nest-doc`` environment and entering ``make html``: https://nest-simulator.readthedocs.io/en/latest/documentation_workflow/user_documentation_workflow.html

The HTML pages are rendered well. However, numerous warnings are emitted in the process. These relate to formatting issues, broken links, incomplete references, e

[2020-04-08 11:55] steffengraber commented on #1202
I'm sorry for the really late answer. That looks very nice. Are you still taking care of it? From what I can see, you're offering packages for `NEST 2.16.0`.  Currently we are at `v2.20.0`.

[2020-04-08 12:01] steffengraber commented on #1321
@jougs Didn't you want to close the issue?

[2020-04-08 13:15] sarakonradi opened #1511 "Link .py files in PyNEST microcircuit"
This issue follows up on #1444.

If we publish the [README](https://github.com/nest/nest-simulator/blob/master/pynest/examples/Potjans_2014/README.rst) as it currently is on Read the Docs, the user would see the list of ``.py`` files and not know where these are located:

![microcircuit_file_structure](https://user-images.githubusercontent.com/58212853/78783756-6e478600-79a4-11ea-9ebb-b020fd9b8ec9

[2020-04-09 08:53] jhnnsnk commented on #1511
@sarakonradi Great that you start this follow-up!
Option 1: Actually, I do not find it very useful to download files individually. I would prefer either the possibility to inspect individual files directly in the browser (similarly to Option 2) or to download the whole Potjans_2014 example with all files combined.

Option 2: With this option I see the danger that these links will hardcode to, e.g.

[2020-04-09 18:19] sarakonradi commented on #1511
@jhnnsnk Thanks for your input!

You are right, it would be suitable to inspect the files in the browser.

Yes, I agree with the danger of hardcoding. Relative links in the form of ``[relative link](file)`` would work well on GitHub, but if we publish the very same README on Read the Docs, i.e., a different site, it would break. I am not sure yet what the technical solution to that would look like

[2020-04-14 06:20] heplesser commented on #1388
@steffengraber @sarakonradi Where is the reference to Tsodyks et al (2000) that you are wondering about? I am struggling to find it in the topology documentation.

[2020-04-14 06:56] sarakonradi commented on #1388
@heplesser We are discussing the "Short-term plasticity" reference under "synapse models": https://www.nest-simulator.org/features/

Is Tsodyks et al. 2000 correct, or should it be a different paper by Tsodyks?

[2020-04-14 07:05] ricardomurphy commented on #1435
Hello Hans Ekkehard.
I tried compiling using the your configuration but without MPI:

module purge
module load git/2.23.0-GCCcore-8.3.0
module load CMake/3.12.1
module load GCC/8.3.0
module load GSL/2.6-GCC-8.3.0
module load OpenMPI/3.1.4-GCC-8.3.0
module load Python/3.7.4-GCCcore-8.3.0
module load SciPy-bundle/2019.10-foss-2019b-Python-3.7.4
module list

cmake -DCMAKE_INSTALL_PREFIX=$HOME/nest-2.

[2020-04-14 07:14] heplesser commented on #1388
@sarakonradi Tsodyks et al 2000 seems correct, it is he paper cited in the documentation in `tsodyks_connection.h`. Interestingly, though, the `tsodyks_[depressing|facilitating].py` examples cite a 1998 paper, and the `tsodyks2_connection.h` documentation a 1997 paper.

For now I would keep the link, but suggest a follow-up issue to review the contents of the "Synapse models" section: I think it i

[2020-04-14 10:25] jougs commented on #1321
@steffengraber: Yes. Closing!

[2020-04-14 10:25] #1321 closed

[2020-04-14 12:52] jougs commented on #1222
The correct way to set the module loading path at the moment is to set `NEST_MODULE_PATH`, which is correctly done if you source `nest_vars.sh`. This is, however not documented very prominently.

@sarakonradi, could you please add the information to at least the documentation for installing from source? Thanks!

[2020-04-15 06:09] heplesser commented on #1048
@jakobj @terhorstd This got automatically closed when I merged #1500. I re-open so one of you can explicitly confirm that #1500 actually fixed this issue.

[2020-04-15 10:33] hakonsbm commented on #1478
I have created a PR fixing this issue.

To use the soundclick recording backend, SFML must be installed. CMake is supposed to check if it is installed, and not compile the pertaining files if it is not. But this apparently does not work properly. I will make an issue.

[2020-04-15 11:02] clinssen commented on #1478
The latter already has a PR #1512

[2020-04-15 11:11] hakonsbm commented on #1478
@clinssen Ah, that's good.

[2020-04-15 13:06] heplesser commented on #1493
Concerning the testing, the attached slide shows the effect of different ordering of terms in the membrane potential update loop. Note that in this case we only have constant-current external input and the error can be determined by computing the value at arbitrary time directly from the analytical solution.

[HEP_CSE11_Reproducibility (dragged).pdf](https://github.com/nest/nest-simulator/files/44

[2020-04-15 17:37] jimcost commented on #1504
Hi, I'm working on building a circuit with neurons based off Brette and Gerstner (2005). I've run the examples provided in the pynest directory ('brette_gerstner_fig_2c/3d.py') and the peak voltages do not line up (with parameter tweaking as well). It doesn't appear the neurons completely spike! The shape is similar but the voltages don't exceed roughly -30mV, see below.

Figure 2C - B&G (2005):
!

[2020-04-15 21:10] heplesser commented on #1504
@jimcost Thank you for pointing this out. It is in part a feature (but a confusing one, see below), and in part indeed a little bug in the example.

The fact that the voltages traces produced by NEST never show values above ca -30 mV is an "optical" illusion: the NEST voltmeter only records subthreshold membrane potential values. Since the membrane potential grows exponentially fast towards a spik

[2020-04-16 09:06] sarakonradi commented on #1495
A brief update:

After discussing this issue with @stinebuu, we figured that the best approach would be to begin updating the code blocks. @stinebuu will give me access once those are up-to-date, so that we can improve the documentation accordingly.

@jougs Do you have any input regarding the MUSIC tutorial's content, and whether or not any parts of the text need to be rewritten? Thanks!

[2020-04-16 13:34] sarakonradi opened #1516 "Cross-check examples against publications"
This issue follows up on #1504 and invites us to check that the PyNEST examples that refer to publications properly match those publications.

@heplesser pointed out a very interesting point regarding the Brette and Gerstner example:

[code]
There may be instances like this elsewhere in the examples that need to be updated.

[2020-04-16 14:16] sarakonradi commented on #1504
@heplesser Thanks for your elaborate input! Do you suggest that we should add the documentation about the non-intuitive behavior of the voltmeter to example files such as ``brette_gestner_fig_2c`` or to the ``voltmeter``/``multimeter``?

On a different note, I am facing difficulties with the ``run_examples.sh`` file for testing the PyNEST examples. The current version seems to only go through .sli

[2020-04-17 06:18] #1505 closed

[2020-04-17 07:49] sarakonradi commented on #1331
Mentioning #1513 here, as we are currently deciding there whether or not to keep ``NEST_MODULE_PATH`` in the first place.

[2020-04-17 08:54] heplesser commented on #1504
@sarakonradi We should explain the behavior in the voltmeter/multimeter documentation and also add a note to examples that are affected.

Concerning the `run_examples.sh` script, I think @jougs @stinebuu @gtrensch @steffengraber might know more.

[2020-04-17 10:00] sarakonradi commented on #1473
Hi @ikitayama, this is indeed a good point and useful feedback for us.

@terhorstd and I further discussed this matter offline and thought that, for now, it would make sense to keep the repository as it is.

In order to allow our developers to focus on developer-relevant emails, we propose the filtering of email notifications. This can be done very easily: https://help.github.com/en/github/receivi

[2020-04-19 20:29] clinssen commented on #1499
It seems to be impossible to link directly to a particular tab. For example, from the NESTML documentation, I would like to link to the Anaconda installation instructions for NEST, but "conda" is on its own tab there (https://nest-simulator.readthedocs.io/en/stable/installation/index.html), so I can only link to the overall installation instructions page.

[2020-04-20 08:18] heplesser commented on #1478
Fixed by #1514.

[2020-04-20 08:18] #1478 closed

[2020-04-20 09:16] sarakonradi commented on #1445
Removed #1511 from the list, as it does not belong to the NEST 3.0 milestone

[2020-04-20 09:28] heplesser commented on #1354
See also #1504.

[2020-04-20 09:37] #1423 closed

[2020-04-20 11:31] sepehrmn opened #1519 "Fast trace calculator"
For many studies of neural data, such as reservoir computing, it is necessary to have a continuous trace of spiking activity. For really large simulations, this can be computationally expensive and require a lot of memory. It is useful to have it done in real-time with the simulation and take advantage of NEST's parallelization. A few years back I wrote a fast memory-efficient device that accompli

[2020-04-20 11:49] sepehrmn opened #1520 "NEST on Windows subsystem for Linux (WSL)"
**Describe the bug**
I've been trying to use NEST on windows with WSL and Anaconda. It does compile successfully but I get errors when trying to use installcheck to run the unittests.

**To Reproduce**
Steps to reproduce the behavior:
1. make install
2. make installcheck

**Desktop/Environment (please complete the following information):**
 - Shell: bash
 - Python-Version: 3.8.2
 - NEST-Version: C

[2020-04-20 12:05] stinebuu commented on #1509
@zbarni Thanks for reporting this! The issue seems similar to #1409, which was fixed with #1443. That problem was not part of NEST 2.18 or NEST 2.20 though, so it don't seem to be quite the same. Could you test with current master, just to make sure the problem persists? My guess is that it will, I just want to be sure.

If the problem still persists could you give me access to your code?

[2020-04-20 12:07] sarakonradi commented on #1499
@clinssen Good that you are pointing this out; I hadn't thought of this issue before. Yes, you can only link the overall page that contains the tabs.

Perhaps, in the long run, it would make sense to remove the tabs and present the content in a different way. For example, rather than having one installation index, there could be two pages: "Standard installation instructions" and "Advanced install

[2020-04-20 13:34] steffengraber commented on #1486
This is solved with #1472 for 2.20.1.

[2020-04-20 13:55] BSVogler opened #1522 "Empty NodeCollection constructor"
nest3 encourages the use of NodeCollections instead of neuron id lists

When adding several neurons from node collections to a node collection it is **not** possible to create an empty node collection:

[code]

The workaround `nest.NodeCollection([])` causes a crash when attempting to connect. As this is seemingly an invalid call it should throw an error.

I would like the introduction of the no-p

[2020-04-20 14:38] sarakonradi commented on #1511
Hi @clinssen, just bringing you into this. We have begun working on the microcircuit documentation in @steffengraber's ``cp-microcircuit`` branch: https://github.com/steffengraber/nest-simulator/tree/cp-microcircuit

[2020-04-20 17:40] clinssen commented on #1511
Will you guys take care of updating `doc/microcircuit/index.rst` when you are ready? Then I can omit this in the sunsetting Python 2 PR (#1313).

[2020-04-20 18:08] Silmathoron opened #1523 "Full support for numpy arrays and lists in Connect"
Following [a discussion](https://github.com/nest/nest-simulator/pull/1429#issuecomment-610761021) in #1429, I am adding an issue here regarding the support of lists and arrays in ``Connect``.

**Is your feature request related to a problem? Please describe.**
Currently, many forms of ``Connect`` are not supported, or require superfluous arguments:
* ``list`` objects are not supported
* using numpy

[2020-04-20 18:21] sarakonradi commented on #1511
Yes @clinssen, we will take care of it! The files that you see in ``doc/microcircuit`` are outdated, so we are removing those and publishing the new documentation in ``pynest/examples/Potjans_2014`` on Read the Docs.

[2020-04-21 05:43] gtrensch commented on #1494
I can confirm that this is a bug and that the HAVE_SMFL_AUDIO check is missing in the code. This is resolved by #1512.

[2020-04-21 06:21] heplesser commented on #1522
@BSVogler Just to make sure I understand you correctly: You would want avoid the redundancy of lists and node collections that occurs in your last code example above, correct? At the same time you want to avoid
[code]
where the first line is just assignment and the second an updating assignment, because you want all in a loop?

@hakonsbm @stinebuu What would you think about supporting empty NCs?

[2020-04-21 06:27] #1479 closed

[2020-04-21 06:27] #1494 closed

[2020-04-21 06:37] stinebuu commented on #1523
@Silmathoron This is very interesting. Is the reason for

[code]
that you want lists to be supported? Because or else you can just use the NodeCollections.

[2020-04-21 06:56] stinebuu commented on #1522
@heplesser @BSVogler I see no problem with having empty NodeCollections. We actually support empty SynapseCollections already, so it would be nice for consistency as well. I can have a look, it shouldn't be too difficult to implement I think.

[2020-04-21 07:12] sarakonradi opened #1524 "Publish updated microcircuit documentation on Read the Docs"
As discussed, the updated microcircuit documentation found in ``pynest/examples/Potjans_2014`` needs to be published on Read the Docs prior to the NEST 3.0 release. The outdated files in ``doc/microcircuit`` should be removed.

[2020-04-21 07:28] Silmathoron commented on #1523
Yes, of course, sorry for the potentially confusing syntax.
All examples are just to show whether the type/combination of types is accepted, so I used ``.tolist()`` for simplicity.

[2020-04-21 07:31] Silmathoron commented on #1522
I encountered a similar issue and I think it was related to the fact that ``NodeCollection`` are kind of "typed", in the sense that they check if they contain neurons or devices, and user-defined collections are currently not properly typed in that respect.
I see two main possibilities:
* add a parameter asking for the type of the empty ``NodeCollection``
* use the type of the first nodes added to

[2020-04-21 07:47] clinssen commented on #1097
Note also that `nest/tests/test_refractory.py` might have to be updated, as it does not seem to catch the wrong behaviour.

[2020-04-21 08:09] hakonsbm opened #1525 "Connecting using sliced NodeCollections with spatial information uses the wrong positions"
**Describe the bug**
When connecting using a sliced NodeCollection with spatial information, positions used for e.g. distance calculation uses the positions of the original NodeCollection. Slicing to for example a single NodeCollection will always use the position of the first node in the original NodeCollection.

**To Reproduce**
Steps to reproduce the behaviour:
- Create a NodeCollection with sp

[2020-04-21 10:26] BSVogler commented on #1522
Not necessarily a loop. For example I want to create different neurons and then update a parameter for all of them with `nodecolelction.set()`. Basically I just want to replace the rather ugly alternative with the suggested clean solution.

If there are two types, why not use two different python types like NeuronCollection and DeviceCollection in combination with a factory method based on the fir

[2020-04-21 11:14] stinebuu commented on #1522
The problem with the empty NodeCollection is not the type, it is the fact that no nodes are created. When you try to connect for instance, we check the node and try to connect that node to others, but the node is not there so an error occurs. The same problem occurs if you try to set a parameter, because you are trying to set a parameter on a node that doesn't exist. NodeCollections do not disting

[2020-04-21 13:19] hakonsbm commented on #1522
Because it is possible to create an empty NodeCollection, and get an empty NodeCollection from for example `GetNodes()`, I think we should make empty NodeCollections aware that they are empty. Using an empty NodeCollection when joining or connecting can then be done properly. Also printing an empty NodeCollection should explicitly state that it is empty.

[2020-04-21 15:14] #1470 closed

[2020-04-21 21:40] sepehrmn commented on #1520
One of the recent merges seems to have changed some stuff?

Here is what I get now:

NEST Testsuite Summary
----------------------
  NEST Executable: /home/sepehrmn/code/sepehrmn-github/nest-simulator/opt/bin/nest
  SLI Executable : /home/sepehrmn/code/sepehrmn-github/nest-simulator/opt/bin/sli
  Total number of tests: 648
     Passed: 636
     Skipped: 10 (9 PyNEST)
     Failed: 2 (1 PyNEST)

***

[2020-04-22 08:17] nosratullah opened #1527 "Exponential decay time constant in AIF models"
Dear All,

I am an MS.c. student of Computational Neuroscience and In my master thesis, I need to change the synaptic decay time constant. As I take a look at the current models, for instance in the "iaf_cond_exp" model, there's no way I could change the synaptic decay time constant. The question is, is there such a model exist so I can tune that parameter, or I should create a new model?

Best re

[2020-04-22 08:27] clinssen commented on #1527
In many models, there are variables called something like "tau_syn" that should allow you to set the decay time constant of synaptic current or conducatance. For example, in the "iaf_cond_exp" model, there is a "tau_syn_ex" and "tau_syn_in", for inhibitory and excitatory synapses, respectively.

Generally, you would set values for these parameters during instantiation. For example, using PyNEST, y

[2020-04-22 08:37] stinebuu commented on #1508
@zbarni For the second scenario, if `offset` is `0.0`, we get a sample at `120.0`, so shouldn't the time be `290.3` and not `170.3` when we have the offset? The result we are currently getting is at any rate wrong, I just need to understand better I think.

For the first scenario the samples are `[12. 15. 18. 21. 24. 27.]` when `offset` is `0.0` and with `offset=1.0` they are `[13. 16. 19. 22. 25.

[2020-04-22 08:40] morales-gregorio opened #1529 "Make kernel parameter off_grid_spiking read-only"
This issue emerged in PR  #1373

@heplesser pointed out that the kernel parameter `off_grid_spiking` should in fact be read only, but can currently be overwritten.

[2020-04-22 09:18] steffengraber opened #1531 "Review the Synapse Models section"
At https://www.nest-simulator.org/features/ some plasticity models that we now have are missing. Providing links for some, but not all models seems to be unsystematic, and it would be good to clarify the differences between tsodyks and tsodyks2 in the model documentation.

 @mhelias and @abigailm could help with these questions

This is a follow up from #1388

[2020-04-22 09:21] steffengraber commented on #1388
Follow up (#1531) was created. Thus this can be closed.

[2020-04-22 09:42] nosratullah commented on #1527
Thanks for your answer. I forgot to mention that according to documentation, the "tau_syn_ex" and   "tau_syn_in" parameters only act on alpha function. As I don't want it to act like an alpha curve, and rather want an instantaneous rise time and tunable decay time (Or maybe I just misunderstand it). I have to add that this parameter is the same no matter we use "iaf_cond_exp" or any other neuron m

[2020-04-22 10:09] clinssen commented on #1527
That is definitely a mistake in the documentation, and we will fix it in short order. Thank you for pointing this out! The models named "*_exp" definitely have an exponentially decaying synaptic kernel, characterised by a single decay constant tau_syn. (As above it could be that there are two distinct kernels, one for excitatory and one for inhibitory synapses.)

For the mailing list, yes, you wil

[2020-04-22 10:17] nosratullah commented on #1527
Again, Thanks for your responses.
I was thinking about using the beta function and set the rise time to set the rise time very fast and tune the decay time in this model: "iaf_cond_beta"
But now that I know the "*_exp" models are work just as fine, there's no need to use anything else.
Also, I guess there's another mistake in the documentation:
<img width="655" alt="Screen Shot 2020-04-22 at 14 42

[2020-04-22 10:51] zbarni commented on #1508
Hi @stinebuu! If I recall correctly from #669, we implemented the `offset` to record data at all times `t == n * h == offset + k * interval`, where h is the simulation resolution and `n` and `k` are non-negative integers (n>=1, k>=0). Or at least that was the idea. In other words, if one sets `offset = x`, the first sample should always be `x`, and the interval counting should start from there (re

[2020-04-22 11:18] stinebuu commented on #1508
@zbarni Ah, I think I understand now. So for the first scenario, because `offset` is `1`, interval is `3`, the samples should occur at `1, 4, 7, 10, 13, 16, 19,..`, but since we start to record at `10`, only `13, 16, 19,..` should be recorded? `10.1` should at any rate not be there.

For scenario 2, as `interval` is 60, the first sample should be at `170.3` and the next should then be `230.3`?

So

[2020-04-22 11:28] w-klijn commented on #1520
To add to the information collected here:
I also get multiple errors when running make test on WSL.
75% tests passed, 90 tests failed out of 367
Additionally the test "Start  89: unittests/test_iaf_ps_dc_accuracy.sli" hangs for 90 seconds and then succeeds

Ubuntu 18.04. Clean installation with only the necessary packages installed

If I look in build/Testing/Temporary/LastTest.log there appear to

[2020-04-22 11:29] zbarni commented on #1508
Precisely. You can actually remove `rec_start` to see all the samples. And don't worry about the questions, they're not basic.. I also spent a lot of time figuring out the supposed behaviour, and the documention could also use a much needed improvement.

[2020-04-22 11:36] #1527 closed

[2020-04-22 12:00] terhorstd commented on #1504
work on the example rewritng is going on in https://github.com/terhorstd/nest-simulator/tree/check-pynest-examples_1504

[2020-04-22 12:31] #1195 closed

[2020-04-22 12:31] #1222 closed

[2020-04-22 12:48] #1388 closed

[2020-04-22 16:36] gtrensch commented on #1520
@sepehrmn
In the meantime, some corrections have been applied to NEST that are related to NodeCollection. It is very likely that this resolves the problem. Please, can you rebuild NEST with the current master.
If this does not solve the issue, we additionally need to know:
- what's the exact Git hash,
- and which WSL distribution do you use?

[2020-04-22 16:48] jhnnsnk commented on #1511
@sarakonradi

Please see my first comment to #1526 . The landing page is probably the neatest solution. The links should then just go the auto-generated .html files, right?

[2020-04-22 17:56] sepehrmn commented on #1520
@gtrensch

Git hash: 27dc242f1ebe19cfc916a7bc4f338e3fa3fcdd77
WSL: "Ubuntu 18.04.4 LTS (Bionic Beaver)"

Here is with the latest master after the following steps:
1. removed bld and opt contents
2. cmake -Dwith-python=3 -DCMAKE_INSTALL_PREFIX:PATH=~/code/sepehrmn-github/nest-simulator/opt/ ~/code/sepehrmn-github/nest-simulator/src/
3. make install -j12 - you can view the log [here](https://github.

[2020-04-22 18:07] sepehrmn commented on #1520
I did a source bashrc, will post results in a sec.

[2020-04-22 18:13] sepehrmn commented on #1520
[Here ](https://github.com/sepehrmn/nest_temp_stuff/blob/master/issue_1520_update2_installcheck)is the result of make installcheck.

[2020-04-22 19:55] #1239 closed

[2020-04-22 19:55] #1469 closed

[2020-04-23 07:29] sarakonradi commented on #1511
@jhnnsnk Having discussed this matter with @steffengraber, the conversion of the README list into clickable links works. However, once it lands on Read the Docs, the .py files are converted to HTML and no longer there. Moreover, we still haven't figured out a solution for the ``reference_data``. @steffengraber suggests absolute links to be the best solution we have.

[2020-04-23 10:57] lekshmideepu opened #1542 "Moving from Ubuntu Xenial to Bionic on Travis CI"
Currently Travis linux builds are running on Xenial. Moving to Bionic will help us to use more recent versions of the libraries.

[2020-04-23 11:36] sepehrmn opened #1544 "Neuron storing and setting weights of incoming connections"
Hi,

In earlier NEST versions that was no good way for a neuron to set weights of its incoming connections online at every defined step. I was wondering if a standard "supported" way has been implemented in the connection and kernel revamp recently or it still requires creative ways to do this.

Much appreciated!

[2020-04-23 13:07] hakonsbm commented on #1440
These tests are failing now, and need to be updated:

#### SLI tests
- [ ] unittests/test_mip_corrdet.sli
- [ ] unittests/test_ppd_sup_generator.sli
- [ ] unittests/test_spike_dilutor.sli
- [ ] regressiontests/ticket-156.sli

#### PyNEST tests
- [ ] test_connect_all_patterns.py
  - [ ] `testWithMPI`
- [ ] test_connect_fixed_outdegree.py
  - [ ] `testStatistics`
- [ ] test_erfc_neuron.py
  - [ ] `t

[2020-04-23 19:32] gtrensch commented on #1520
@sepehrmn

That "make installcheck" now terminates with an error is a problem caused by a recent pull request. A correction is being worked on.

Basically, NEST should also run under WSL, even if we are not currently developing and testing for this platform. We are in the process of preparing a new NEST release and the NEST master is currently experiencing many changes.

[2020-04-23 19:41] sepehrmn commented on #1520
Ah great. Let me know if you need another installcheck.

I think I'll upgrade to WSL2 when it comes out for public (next month?)

[2020-04-23 19:57] #1350 closed

[2020-04-23 20:25] heplesser opened #1546 "Topology/Vose constructor should take const reference argument"
The [`Vose()`](https://github.com/nest/nest-simulator/blob/1d10715575ab49416c93c03ca698f67c37b6d96e/topology/vose.h#L70) constructor currently creates a copy of the distribution distribution it receives as argument. This should be replaced by call-by-reference.

[2020-04-23 22:47] heplesser opened #1547 "regressiontests/issue-779-1016.py may fail due to insufficient PATH"
**Describe the bug**
`regressiontests/issue-779-1016.py` fails because the `nest` executable is not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Invoke `make installcheck` in a shell in which `nest` is not in the `PATH`
2. Alternatively, invoke `python .../issue-779-1016.py` in a shell in which `nest` is not in the `PATH`

**Expected behavior**
Test passes or at least does not fail

[2020-04-23 23:11] heplesser opened #1548 "Test setup can fail if PyNEST test phase produces additional output"
**Describe the bug**
`make installcheck` crashes when unexpected output is generated during the PyNEST test phase when using `nosetests`.

**To Reproduce**
Steps to reproduce the behavior:
1. A PyNEST test leads to a segfault or some unexpected output to STDERR.

**Expected behavior**
No matter how PyNEST test cases fail, the subsequent C++ test phase shall run and results shall be reported proper

[2020-04-24 10:50] clinssen commented on #1097
I am not sure this should be qualified as a bug. Although clamping V_m inside the GSL stepping function is certainly the cleanest approach (and we should do that in any case), does the continued integration of V_m actually cause externally observable behaviour that is faulty?

The dynamics of synaptic conductances is unaffected. This conductance is used to calculate the synaptic transmembrane curr

[2020-04-24 11:32] heplesser opened #1554 "Make kernel parameter documentation in kernel and PyNEST consistent"
**Describe the flaw**
Kernel parameters are documented both [in C++ code](https://github.com/nest/nest-simulator/blob/3b22045458d9e36db5525606049ac68db0034fbb/nestkernel/kernel_manager.h#L51) and in [PyNEST](https://github.com/nest/nest-simulator/blob/3b22045458d9e36db5525606049ac68db0034fbb/pynest/nest/lib/hl_api_simulation.py#L192). The ordering of sections differs, possibly also the set of para

[2020-04-24 11:55] Silmathoron commented on #1097
@clinssen as long as this does not conform to the mathematical equation it is supposed to implement, I would say that, yes, this is a bug, as small as the actual discrepancy may be...

But I see your point: if the ``aeif_*`` models are the only ones where the dynamics of V in the rhs function affects another variable, and if their implementations are correct, then there should actually be no effec

[2020-04-24 12:56] heplesser opened #1555 "Kernel parameter documentation in PyNEST does not render properly"
**Describe the flaw**
When [kernel parameter documention for PyNEST](https://github.com/nest/nest-simulator/blob/3b22045458d9e36db5525606049ac68db0034fbb/pynest/nest/lib/hl_api_simulation.py#L192)) is rendered by Sphinx, parameter name and data type are not separated, see figure below (the non-rendered math is a user error ;), ignore).
![formatting](https://user-images.githubusercontent.com/105964

[2020-04-24 20:04] gtrensch opened #1556 "Add Arbor test to Travis"
Currently, the Arbor-code in NEST goes completely untested and is not even compiled. #1535 disables it by default. The Travis test matrix should be enhanced to cover Arbor testing, at least a compile of the source code.

[2020-04-24 22:00] gtrensch opened #1557 "MUSIC tests fail"
The MUSIC tests currently fail on Travis. This needs to be fixed.
See also PR #1550 and issue #1556.

[2020-04-27 07:59] jougs opened #1558 "Replace fixed version numbers in documentation by custom RST directive"
In order to make it easier for users, we introduce more and more version numbers in our documentation (current and previous NEST version, required and suggested CMake version, supported Python versions, ...). These are bound to get outdated and quite a number of documentation-related PRs are actually just fixing these after users report failures with the prescribed versions.

Wouldn't it be possib

[2020-04-27 08:53] #1124 closed

[2020-04-27 14:15] #1313 closed

[2020-04-27 16:46] WillemWybo opened #1560 "Allow specification of python executable for cmake while manually compiling & installing"
**Is your feature request related to a problem? Please describe.**
It seems that the `-Dwith-python=3` option for `cmake` command can not find the name `python3`, nor the explicit path to the python executable.

Tried installing with something like
```cmake -Dwith-python=3 -DCMAKE_INSTALL_PREFIX:PATH=</install/path> </path/to/NEST/src>```
as per [https://nest-simulator.readthedocs.io/en/stable/ins

[2020-04-28 09:30] #1495 closed

[2020-04-28 09:54] jougs commented on #1542
Closed via merge of #1543.

[2020-04-28 09:55] #1542 closed

[2020-04-28 12:32] terhorstd commented on #1451
According to @steffengraber, pull request #1466 solved this.

[2020-04-28 12:32] #1451 closed

[2020-04-28 19:20] jimcost opened #1562 "Inhomogeneous poisson generator creates the same output across simulations"
On separate simulations, the output from 'inhomogeneous_poisson_generator' appears identical. Here is a brief script to display the issue:

[code]

Output - simulation 1:
`Generator spike times: [ 41.82  62.82 116.   277.61 415.22 492.98 495.26 495.56 561.61 563.83 578.77 612.24 619.35 735.58 825.73 857.67 869.71]`

Output - simulation 2:
`Generator spike times: [ 41.82  62.82 116.   277.61 415.22

[2020-04-29 05:55] heplesser commented on #1562
@jimcost Thank you for providing a complete reproducer!

If a NEST simulation is run multiple times starting from a clean kernel (after `ResetKernel()` or starting nest), it will always use the same random number sequences and will thus produce the same spike times. You need to seed the random number generators explicitly. For me,
[code]
works: for every value of `msd` I obtain a different sequenc

[2020-04-29 08:01] Silmathoron opened #1563 "Implicit reordering with array slicing of NodeCollection"
**Describe the bug**
In [current master](https://github.com/nest/nest-simulator/commit/10ad3af021fd2ef6d999087bc3f56db6791c5db9), since the merge of #1485, ``NodeCollection`` accept array slicing but does not check for index order.
This means that it automatically reorders the result (because a ``NodeCollection`` is ordered).

**To Reproduce**
[code]

**Expected behavior**
Either unordered ``NodeC

[2020-04-29 09:31] sarakonradi commented on #1498
The updated ``doc/conf.py`` in #1530 will remove ``recommonmark.parser`` and ``copybutton.js``.

[2020-04-29 09:41] heplesser commented on #1097
@clinssen and I checked pertaining models. We found that in those models, V_m enters only into the derivative of V_m, so that clamping inside the rhs function is not strictly necessary. We therefore change from Bug to Maintenance and remove this from the NEST 3 milestone. For consistency, proper V-clamping in the rhs function should still be implemented.

[2020-04-29 09:44] heplesser opened #1565 "Correct numerics of gif_cond_* neurons"
While analysing #1097, we discovered that the numerics of the `gif_cond_` neuron have slight weakness: The spike triggered current is evolved outside the ODE solver, so a constant stc value is applied during all sub-steps of a NEST time step. The stc should be updated inside the rhs function, to have exact values at each substep.

[2020-04-29 10:45] clinssen commented on #1168
Dear @heplesser, could you elaborate on how you would like the format of the notebook to change? Right now there is already a good amount of explanatory text inbetween the code, but perhaps this is not what you are referring to.

Right now the notebook is linked to from ``test_regression_issue-1034.py``; this is akin to how all the other notebooks in ``doc/model_details`` are linked: not from the

[2020-04-29 11:02] stinebuu commented on #1508
@zbarni I have added a PR to address the issue, #1564. Hopefully it takes care of most corner cases! I added your two test cases and also added one of my own.

[2020-04-29 11:04] zbarni commented on #1508
Thanks! Can you briefly describe what the issue was?

[2020-04-29 11:12] clinssen commented on #1331
It looks like setting the runpath is not the solution here, as it was in #1545. When you type "(mymodule) Install", the dynamic loader ignores the configured runpaths (but looks at ``LD_LIBRARY_PATH``); see https://www.gnu.org/software/libtool/manual/html_node/Libltdl-interface.html#index-lt_005fdlopen for documentation.

Options:
1. Manually add the relevant path using ``lt_dladdsearchdir()``. It

[2020-04-29 11:47] stinebuu commented on #1508
Sure! In `universal_data_logger_impl.h` we find the next recording step based on current simulation time, `interval` and `offset`. If `offset` was not 0, we go one `interval` step back and add offset.
https://github.com/nest/nest-simulator/blob/10ad3af021fd2ef6d999087bc3f56db6791c5db9/nestkernel/universal_data_logger_impl.h#L120-L125

This is correct if we have not simulated before, because `offse

[2020-04-29 12:30] sarakonradi commented on #1353
After discussing this with @hakonsbm, we thought that the "NEST 3.0: What's new?" guide needs an array indexing example, the way we describe NodeCollection slicing and indexing. #1485 contains some examples on how to use array indexing.

@hakonsbm suggested that there should also be an example on how to connect sparse matrices using array indexing. This could be added to Connection Management, as

[2020-04-29 12:40] Silmathoron commented on #1353
@sarakonradi there are currently some issues with slicing and ``Connect`` that need to be resolved so I would suggest to postpone this until a decision is made on #1539 and #1563.

cc @heplesser

[2020-04-29 12:56] heplesser commented on #1317
@Helveg Have you made progress using the nest API functions from `nest.h`? If so, would you consider closing this issue?

[2020-04-29 14:08] jougs commented on #1331
I think option 1. is the one to use and that a `#define NEST_LIBRARY_PATH "the/library/path"` in `libnestutil/config.h.in` should nicely solve the problem. It could be set from within CMake as all the other macros are and used from within the `DynamicLoader`.

[2020-04-29 16:24] sepehrmn commented on #1519
@clinssen any issues/suggestions/complaints about this?

[2020-04-29 17:57] jimcost commented on #1562
The addition of `grng_seed` and `rng_seeds` produce variable output, as you should. Formerly, I was including `grng_seed` and `rng_seeds` separately. `grng_seed` would be acccepting by itself without error, but `rng_seeds` alone would cause an error.

Thank you for your reply :+1:

[2020-04-29 21:16] jougs commented on #1203
@omrylmz: are you still experiencing the problem with the latest version (i.e. [2.20.0](https://github.com/nest/nest-simulator/releases/tag/v2.20.0))? If yes, please provide a minimal reproducer that only uses NEST. I'm afraid that we don't have the resources to debug NEST embedded into the NRP at this point in time.

[2020-04-29 21:23] jougs commented on #1155
@Silmathoron: can you please comment on the current state of this? If we're not doing anything, I'd rather close this as *wontfix* than having it around forever. Thanks!

[2020-04-30 05:15] #1562 closed

[2020-04-30 05:34] heplesser commented on #1168
@clinssen I have a few suggestions:
- To keep with the style of the other notebooks in `doc/model_details`, the notebook should begin with a text cell providing an introduction, before any Python code follows.
- There should be a brief explanation of the synapse models we are checking.
- The plots at the end all come in one huge cell, all with the same plot title. It would be much more readable if

[2020-04-30 05:37] heplesser opened #1568 "Link model_details from documentation pages"
**Describe the flaw**
The notebooks in `doc/model_details` are currently only linked from some comments in code or from Github issues/PRs.

**Suggest an improvement**
Provide a page within the documentation that links these notebooks, so they become more discoverable for users. At least some notebooks are useful for users to understand model behavior.

**Additional context**
See also #1168.

[2020-04-30 05:39] heplesser opened #1569 "Ensure that all doc/model_details notebooks work"
Before releasing NEST3, ensure that all notebooks in `doc/model_details` are compatible with NEST3. Currently, at least `test_post_trace.ipynb` does not.

See also #1168.

[2020-04-30 06:36] Silmathoron commented on #1155
@jougs I think current situation is suboptimal; I'm not convinced by the modular approach since it relies on user behavior.
I was initially waiting for further opinions, then forgot ^^

Unless anyone strongly disagrees, I would propose to change current CMake config and use:

    set_target_properties(libname PROPERTIES OUTPUT_NAME "libname_nest_py${PYTHON_VERSION}")

This leads to no additional m

[2020-04-30 06:53] Silmathoron opened #1570 "Discussion on Semantics of NodeCollection and Connect()"
Following a discussion with @heplesser I would like to discuss possibly overlooked issues with current implementation of ``NodeCollection``.

The ordered nature of ``NodeCollection`` has significant impacts in terms of slicing and connections capabilities.
1. **slicing:** a first issue (see also #1563) is that array slicing must only be done in an ordered way
2. **one-to-one connect** a second iss

[2020-04-30 06:53] clinssen commented on #1155
I am a little confused about the use case here, as ``pynestkernel.so`` is already installed into a path that includes the Python version, e.g. ``lib/python3.5/site-packages/nest``. In any case, if a user wants to use two NEST installs next to one another, they would just use a custom ``CMAKE_INSTALL_PREFIX``, and they can use ``nest_vars.sh`` as currently advertised (which sets ``PYTHONPATH``). So

[2020-04-30 06:55] clinssen commented on #1568
I suggest to link these in the documentation pages of the models for which they are relevant. That is, they should be linked from inside the API documentation comment blocks in the model code.

[2020-04-30 07:13] Silmathoron commented on #1155
@clinssen this is for the other library files, those that live directly in ``${CMAKE_INSTALL_PREFIX}/lib``, i.e. potentially ``/usr/lib`` or ``~/.local/lib``

[2020-04-30 07:16] clinssen opened #1571 "Make all state variables accessible using get_status() and set_status()"
In some models, there are state variables that are not accessible through get_status() and set_status(). It should be checked that all state is accessible in all models.

Examples:
- ``Kplus_`` in ``STDPNNPreCenteredConnection``
- ``Kplus_`` in ``STDPConnection``

[2020-04-30 07:26] clinssen commented on #1155
Note that after merging #1513, these all live in the subdirectory `nest`, i.e. `/usr/lib/nest` or `~/.local/lib/nest`, (almost) eliminating the potential for naming conflicts with non-NEST libraries.

I see your point. I think however that it should be the user's responsibility to use prefixes and ``nest_vars.sh`` to manage more than one NEST installation. This is also what is suggested in the doc

[2020-04-30 07:36] #1435 closed

[2020-04-30 07:46] hakonsbm commented on #1563
If you provide an unordered array when slicing, you will get an ordered `NodeCollection` containing the selected nodes. I would say that that is the expected behaviour, although it should be documented better.

Because the behaviour is expected, we shouldn't raise an error in this case. Returning an unordered `NodeCollection` is not within the design of the `NodeCollection` (but we can discuss tha

[2020-04-30 07:56] Silmathoron commented on #1155
OK, then the "nest" part is definitely not necessary.
As for the python version, yes, it did, last time I checked (though that was a long time ago). I have no idea whether we could actually cut this dependency or not, though... (or whether we already did)

I also have no strong opinion about actually implementing this feature, I think I opened this issue following a number of users' questions that

[2020-04-30 07:59] Silmathoron commented on #1563
@hakonsbm unless we can preserve the order, ``NodeCollection`` provides very little ways of doing meaningful "one_to_one" connections.
Compared to NEST 2, ``nest.Connect(input1, input2, conn_spec="one_to_one")`` cannot work with ``NodeCollection``, e.g. trying to connect nodes 1, 2, 3 to nodes 6, 5, 4.

[2020-04-30 08:58] jougs commented on #1155
Thanks for the discussion. In a consulting call with @clinssen, we decided to close this now.

[2020-04-30 08:58] #1155 closed

[2020-04-30 09:46] steffengraber commented on #1558
What exists for us in Sphinx so far is that you can use |version| in .rst to display the NEST version number (now 3.0) in the text.

[2020-05-01 09:41] heplesser commented on #1563
Set to "blocked" as suggested by @Silmathoron in #1570.

[2020-05-01 11:46] AlexVanMeegen opened #1574 "Maximum number of connections with fixed_total_number"
**Describe the bug**
With `fixed_total_number`, it is not possible to create more than `2^32 - 1` synapses in a single `connect` call independent of the number of virtual processes. A `BadParameterValue` exception is thrown.

**To Reproduce**
Run this minimal example in any parallelization setup of your liking with a recent NEST version (probably after after #1299): [max_fixed_total_number.zip](ht

[2020-05-01 13:07] heplesser commented on #1570
## About this note

This issue and related issues and PRs (#1563, #1536, #1539) touch on the principles of how network nodes are managed in scripts for the NEST simulator. In this note, I will try to summarize key considerations in the hope to clarify pertinent aspects and to evolve towards a robust solution.

## General considerations

### Nodes and populations

Network nodes in NEST are always p

[2020-05-01 14:41] jakobj opened #1575 "Providing key:dictionary pair to SetStatus via PyNEST generates uninformative error message"
Calling the following line in pynest (3115cf68bda26e282c7f7a20fc00a7755eeb2b5b)
[code]
leads to the following error:
[code]

instead of the more informative response from SLI (`n << /test_dict << >> >> SetStatus`):
[code]

This in itself would be just a minor inconvencience, but if I actually implement `test_dict` in the corresponding model
[code]

pynest still throws the same error as above, whil

[2020-05-02 09:53] clinssen commented on #1519
It seems like the previous PR stranded only because of minor details, like having a lot of lines in a function. However, @heplesser raised questions about the desirability of this feature. Because I was not part of this discussion, perhaps it might help to describe the use case in a bit more detail. You mention reservoir computing; do you mean that the rate calculated by your proposed device will

[2020-05-02 13:07] sepehrmn commented on #1519
@clinssen yes you are right. This device was done and almost got merged but there were minor refactoring issues that I did not have time to finish at the time.

Yes, in the reservoir computing context.

This device was motivated by the need for performance and efficiency in large simulations. There are many ways to accomplish this but all except having a native NEST device have had limitations or

[2020-05-04 01:15] jougs commented on #1558
Thanks for the heads up. This is already good to know!

[2020-05-04 08:07] Helveg commented on #1317
No I haven't tried. Maybe some day we'll give this another go :)

[2020-05-04 08:07] #1317 closed

[2020-05-04 08:08] hakonsbm commented on #1575
@jakobj The problem is the `n0.get(key)` in `SetStatus()`, here:
https://github.com/nest/nest-simulator/blob/6c9bf2a803c537763d7f48d7d520c7201c90cc20/pynest/nest/lib/hl_api_info.py#L290-L291
The key (`'test_dict'`) is not in the resulting dictionary when calling `GetStatus()` in `get()`, so it throws an error. `SetStatus()` should probably check if the parameter key exists in the model before gett

[2020-05-04 16:12] sarakonradi commented on #1555
Currently, the paragraph about the keywords, the parameter subheadings ("Time and resolution, "Parallel processing", "MPI buffers") and their underlines are all split into separate items on the list:

![Screenshot from 2020-05-04 17-51-42](https://user-images.githubusercontent.com/58212853/80985826-0879dd00-8e30-11ea-8da0-b891786a47cd.png)

We can fix the paragraph issue by moving the text into a

[2020-05-05 06:34] steffengraber commented on #1555
@sarakonradi I'll take a closer look.

[2020-05-05 08:19] Silmathoron commented on #1570
To complement the proposal of @heplesser on ``NodeCollection``, here are my views on this matter.

## Proposal 1: ``NodeCollection`` as container
If it is technically feasible, we could relax both ordering and uniqueness conditions for ``NodeCollection``. In that case, except for the compact nature of NC, there would be no conceptual difference between this object and an array.
All slicing would n

[2020-05-05 09:44] sarakonradi commented on #1554
@heplesser We can adapt the C++ documentation to the PyNEST sections. I suggest doing so once we have found a solution for #1555, as the discussion regards the PyNEST parameter groupings.

[2020-05-05 14:26] diesmann commented on #1570
I am wondering whether with a too clean mathematical definition we
are not das Kind mit dem Bade ausschuetten.

In Connect(A,B,alg)

we have full flexibility if A and B are just arrays of neuron ids
where any ordering or duplicates are allowed and potentially influcence
the structure of the resulting network.

This interpretation has served us well for a long time.

The disadvantage of this is tha

[2020-05-05 14:51] jougs opened #1579 "Rename spike_detector to spike_recorder"
During the work on the documentation, it became obvious that all our detectors (except the `spike_detector`) are neither derived from the base class `RecordingDevice` nor are they using the recording backend infrastructure brought by NESTio/Output. Instead most of them are derived from `PseudoRecordingDevice` and they rather calculate a measurement of some dimension and report it in their status d

[2020-05-05 17:29] BSVogler commented on #1522
This is bugged.
After adding a node collection to the collection of the same type a proxy node out of nowhere appears, causing some set commands to fail.

[code]

[2020-05-05 20:32] sepehrmn commented on #1544
Since this has been added to "To do" I presume no "Nest-core-approved" solution has been merged. I'm not up to date with the recent kernel changes and connection revamp. If the solution does not require major time investment, I could have a go at it. @heplesser we discussed this a while ago, any comments?

[2020-05-05 20:41] clinssen commented on #1544
Just my 2 cents: from the NESTML perspective this would be great, as it would give us a way to generate code for synaptic weight normalisation. For example, a typical normalisation rule would be to divide each weight by the 2-norm of the weights vector. I believe that at the time of writing, implementing this type of weight normalisation in NEST is fairly difficult.

[2020-05-06 06:16] heplesser commented on #1579
@jougs This is a good point. I wonder if we should think a bit further then. The other "detectors" you mention are all "correl*_detectors" if I am not mistaken, and I assume they were historically named "detectors" inspired by he "spike_detector". But as you point out, they perform analysis on data while the simulation is running. So I wonder if we should not rename them as well? Should we put thi

[2020-05-06 06:32] stinebuu commented on #1522
@BSVogler I am not able to reproduce this unfortunately, could give the code to reproduce it?

[2020-05-06 12:53] terhorstd opened #1581 "Documentation on nest and multi-processing / multi-threading"
**Describe the flaw**
The simulator is built for parallel processing, but having many nodes in a cluster it is tempting to try to use python's multiprocessing package to speed up also other parts of the simulation scirpts. Information on the possible scenarios, relation to Python's multi-processing API, or multi-threading with other communications libraries is missing.

**Suggest an improvement**

[2020-05-06 13:50] clinssen opened #1582 "Integration quirks in GIF neuron models"
During a bug hunting session, me and @heplesser noticed that in one of the conductance-based GIF models, the spike-frequency adaptation and spike-triggered currents are updated outside of the inner GSL integration loop. In particular, they are updated before calling GSL; see
https://github.com/nest/nest-simulator/blob/07d2acc42007bccaafbda6121dca37a029031eb5/models/gif_cond_exp.cpp#L493
and the GS

[2020-05-07 13:04] clinssen commented on #972
Is this not already fixed by #1561?

[2020-05-07 13:18] jougs commented on #972
In principle yes (and please feel free to the magic *fixed* word to #1561).

The cleanest solution from my point of view is, however, to remove the problematic exports altogether in order to also prevent possible problems for people not running `make installcheck` or `do_tests.sh`, but
1. sourced `nest_vars.sh` previously for NEST installation _A_
2. manually re-set `PATH` and `PYTHONPATH` later o

[2020-05-07 13:31] heplesser commented on #972
@jougs I agree that a complete clean-up is useful. Would you create a new issue for that, so this one can be safely closed when #1561 is merged?

[2020-05-07 13:48] heplesser opened #1584 "Reconsider the installation location of the NEST testsuite"
Currently, code belonging to the the NEST testsuite is installed in three different places:

- the `do_tests.[sh,py]` scripts go to `share/nest/extras/`
- the Python tests go to `lib/python3.7/site-packages/nest/tests/`
- all other tests go to *six separate directories* in `share/doc/nest/`

The installation into multiple directories under `doc` seems particularly odd and confusing to me. There ma

[2020-05-07 14:29] heplesser commented on #1499
Given the problems with linking to tabs, I think we should remove tabs.

[2020-05-07 16:49] jougs opened #1585 "Remove ability to set custom documentation and library directories"
As detailed in #972, the ability to change the documentation and library search paths for NEST through the environment variables `NEST_DOC_DIR` and `NEST_DATA_DIR` can lead to problems.

This feature stems from a time, when NEST and its library were not formally installed, but could be located anywhere on the computer of the user. Current versions of NEST install documentation and library into a w

[2020-05-07 16:50] jougs opened #1586 "Clean up handling of path-related environment variables"
As detailed in #972, the ability to change the documentation and library search paths for NEST through the environment variables `NEST_DOC_DIR` and `NEST_DATA_DIR` can lead to problems.

This feature stems from a time, when NEST and its library were not formally installed, but could be located anywhere on the computer of the user. Current versions of NEST install documentation and library into a w

[2020-05-07 16:51] jougs commented on #1586
@heplesser: is this (at least coarsely) what you were asking for in https://github.com/nest/nest-simulator/issues/972#issuecomment-625257374?

@clinssen: is a good description of what #1578 should do, now #1561 solved #972?

[2020-05-07 18:38] heplesser commented on #1585
@jougs How does this differ from/relate to #1586?

[2020-05-07 20:30] jougs commented on #1585
I would extend #1586 to actually implement all points mentioned above, not just the "not setting the variables" part it currently implements.

[2020-05-07 20:34] jougs commented on #1585
Ah, now I inderstand! This is actually a duplicate of #1586 that was apparently created when GitHub told me it can't create the issue, but nonetheless created it. I'm closing this one.

[2020-05-07 20:34] #1585 closed

[2020-05-07 20:36] #700 closed

[2020-05-08 07:51] sarakonradi opened #1588 "Add documentation on parameter comparators"
This issue follows up on the discussion between @hakonsbm and @stinebuu in #1567.

The parameter comparators should be documented somewhere, possibly in the "NEST 3.0: Detailed transition guide".

[2020-05-08 08:36] clinssen commented on #1586
Yes, this clears up the intended effects, cheers!

[2020-05-08 09:15] #1476 closed

[2020-05-08 09:23] benef23 commented on #1519
Hi @sepehrmn and @clinssen,

thank you for suggesting this new device, this is exactly what I am searching for and the proposed implementation sounds very promising!

My use case:
I am implementing neural networks that are not based on exact spike time information encoding, but information is encoded in the spike frequency. With the 'spike_detector' device it's possible to read out exact spike tim

[2020-05-08 17:56] sepehrmn commented on #1519
@benef23 many thanks for your message. Unless something has changed in how NEST progresses the simulation (which I highly doubt it), making it compatible with the current NEST version should only require investment of time to do some refactoring.

Since there is demand and no objections, I guess this is a "GO"?

@jougs would you please direct me to resources or comment as NESTIO pertains to this w

[2020-05-11 09:38] #972 closed

[2020-05-11 10:15] clinssen commented on #1560
Hi, thanks for your report. We just merged a PR that sunsets Python 2 support. This changed the semantics of the "with-python" parameter slightly, so any further testing should be on the latest master branch.

In any case, your issue sounds more like a CMake issue, because we rely on it to locate Python: https://github.com/nest/nest-simulator/blob/7361bada6cd40a23140e976ec899fb7037cb7146/cmake/Pro

[2020-05-11 10:35] gtrensch commented on #1560
If following @clinssen's advice doesn't solve the problem, can you please provide the CMake output?

[2020-05-11 11:36] BSVogler commented on #1232
I also had the issue that nest was not running in PyCharm. I solved it by manually adding the path in the "Interpreter Paths" Settings.
![Bildschirmfoto 2020-05-11 um 13 33 58](https://user-images.githubusercontent.com/801818/81557535-6ce6f000-938c-11ea-8a4b-c3acf800cb70.png)

[2020-05-11 19:40] heplesser commented on #1570
The [NEST Open Developer VC today](https://github.com/nest/nest-simulator/wiki/2020-05-11-Open-NEST-Developer-Video-Conference) supported [@Silmathoron's Proposal 2](https://github.com/nest/nest-simulator/issues/1570#issuecomment-623921758). The proposal is now as follows:

1. `NodeCollection`s are well-ordered sets
    1. Each NodeID occurs at most once in an NC
    1. Iteration over NCs is in or

[2020-05-12 07:58] stinebuu commented on #1509
@zbarni Have you been able to test with current master? I am not able to reproduce your error, but that might be because I don't have your code. Could you provide it?

[2020-05-12 09:23] stinebuu commented on #1569
@heplesser [exact-integration.ipynb](https://github.com/nest/nest-simulator/blob/master/doc/model_details/exact-integration.ipynb) doesn't have any calculations, it is just documentation about *Integrating neural models using exact integration*. Should it stay as a notebook, or should I convert it to a rst file and place it somewhere else, for instance under `doc/models`?

[2020-05-12 09:49] heplesser commented on #1569
I think I wrote it as a notebook because of all the math in it. If you can port the LaTeX to RST without too much effort, why not? On the other hand, @sarakonradi, this raises also the question if we want to have certain standard formats for certain types of documentation, here rst vs notebook.

[2020-05-12 12:19] steffengraber opened #1589 "Minimize requirements and optimize debian package"
Follow up of #1472
There was an discussion about using separate boostlibs and some other minimizations, we want to discuss here.
Due to new developments in the installation of Nest this should  also be adjusted.

[2020-05-12 13:42] sarakonradi commented on #1569
@heplesser @stinebuu We just discussed this in our doc meeting and think that it makes sense to convert it to a RST file. For that, we need to ensure that we use ``.. math::`` for the math blocks and ``:math:`` inline.

It can stay at its current location for now. In the future, we suggest moving it to a "notebooks" directory in the ``nest/nest-education`` repository.

[2020-05-12 13:54] #1486 closed

[2020-05-12 14:01] jougs commented on #1519
@sepehrmn: I think if you look at the current implementation of the `spike_detector`, it should become clear what you have to do to have your new device use the NESTio infrastructure. In particular, you have to
* register the names of the recordables in `calibrate()`
* return the correct device type in `get_type()`
* hand the recorded values over to `write()` in `update()`.

I suggest that we disc

[2020-05-12 14:03] stinebuu commented on #1569
Thanks @sarakonradi, I'll convert using `.. math::` as you suggest and request a review from you once a PR is ready to make sure everything is as it should.

[2020-05-12 14:22] Silmathoron commented on #1570
I'm fine with the last proposal.
I think the only thing that needs a formal decision is the name of the new rule? Is "explicit" explicit enough? Is "data" better? Should we look for yet another rule? Should we reuse "one_to_one" there?

Once that is settled, how shall we proceed for the implementation?
I think this is compatible with #1539 so one question is as follow:
* do we first make a "good e

[2020-05-12 19:03] sepehrmn commented on #1519
Many thanks. I expect to have the pull request up in around a month.

[2020-05-13 06:39] sarakonradi commented on #1569
@stinebuu Sure! Sounds good.

[2020-05-13 09:43] juanmav commented on #1581
@terhorstd I dont know but maybe it could help. Here the sample code that I made to test multiprocessing with nest. https://github.com/juanmav/spiking/blob/master/smalltestcase.py

[2020-05-13 10:13] sarakonradi opened #1590 "Integrate PSC_over_PSP documentation into relevant neuron models"
This issue addresses the recurring question regarding how to normalize the exponential postsynaptic current in order to obtain an amplitude of 1.

After discussing this offline with @jhnnsnk, we agreed to integrate the relevant documentation found in the [PyNEST microcircuit example](https://github.com/nest/nest-simulator/blob/master/pynest/examples/Potjans_2014/helpers.py#L68) and the Hanuschkin

[2020-05-13 12:50] heplesser opened #1593 "Travis does not build NEST with Python"
With the merge of #1576, specifically commit 5bef80375d95d7af52ad95ac401f69f70ef8c6d9 (see Travis builds [4523.2](https://travis-ci.org/github/nest/nest-simulator/jobs/683182625) vs [4522.2](https://travis-ci.org/github/nest/nest-simulator/jobs/683178076). The problem seems to be that since that commit, we have mix-up of Python executable and libraries:

[code]

Beyond fixing this acute problem, t

[2020-05-13 15:01] terhorstd commented on #1579
I added this to the agenda of the [next meeting](https://github.com/nest/nest-simulator/wiki/2020-05-25-Open-NEST-Developer-Video-Conference) (25. May)

[2020-05-13 15:01] terhorstd commented on #1579
sorry, wrong button

[2020-05-13 15:14] jougs commented on #1579
I wouldn't have minded if you would have resolved the issue even before we discussed it ;-)

[2020-05-13 17:02] BSVogler commented on #1570
I welcome this design.

Is _explicit_ the same as _one_to_one_? I think _one_to_one_ is more self-explaining than explicit.

[2020-05-13 17:09] #1354 closed

[2020-05-13 17:09] #1498 closed

[2020-05-13 22:29] lekshmideepu commented on #1593
Yes, the problem is critical. I figured out that there is a hard coded path in the build script causing the issue. I could imagine that the Cmake fails when Python libraries are not found for some reason although it is requested.

[2020-05-13 22:48] lekshmideepu opened #1595 "Temporary bitbucket server issue"
Travis [static build checks](https://www.travis-ci.org/github/nest/nest-simulator/jobs/686740287#L1045) are failing due to the bitbucket server issue.
Bitbucket team is working on it.
https://bitbucket.status.atlassian.com/incidents/xlvfft1wg7dt

[2020-05-13 23:22] lekshmideepu commented on #1595
Issue has been resolved from the bitbucket side.

[2020-05-13 23:25] #1595 closed

[2020-05-13 23:25] lekshmideepu commented on #1595
.

[2020-05-14 06:05] Silmathoron commented on #1570
@BSVogler thank you for your feedback!
Yes, list have to be used if the user wants duplicates, but this would only occur with the explicit/one-to-one rule.
As to which name is better, I must say that I agree with you that ``"one_to_one"`` might be more self-explanatory so keeping it might be a good idea...
@heplesser @diesmann should we make a poll to see which name is most intuitive for the NEST

[2020-05-14 06:06] heplesser commented on #1593
Fixed by #1596.

[2020-05-14 06:06] #1593 closed

[2020-05-14 14:41] hakonsbm commented on #1570
@Silmathoron To be able to use a NumPy array in C++ for connecting without copying it, it would have to be wrapped in a NodeCollection. That means that in addition to the existing primitive and composite NodeCollections, we would need a NumPy array version as well.

I therefore suggest that we start by changing the `Connect()` interface with a "good enough" implementation only, where we always do

[2020-05-14 21:39] jougs commented on #1579
In a keyword-to-model-assignment meeting today, @abigailm raised the following points:
1. from a language perspective, _recorder_ and _detector_ are pretty much the same thing and these terms should not be used to draw a line between two classes of devices
1. the suffix _detector_ used for the correlation measurement devices is actually misleading, as it suggests that the devices are just detectin

[2020-05-15 08:24] stinebuu opened #1599 "PyNEST error messages from kernel are difficult to read"
**Is your feature request related to a problem? Please describe.**
When an error message is sent from the kernel to PyNEST, the message can be quite difficult to read. Often, the message has a newline in the form of `\n`, which is not taken into account on PyNEST level. The message might also come twice, which would be fine except for the fact that the two come right next to each other, so it is d

[2020-05-15 09:33] Silmathoron commented on #1570
@hakonsbm sounds good to me!

@heplesser @diesmann how should we proceed for the choice of the connectivity rule?

[2020-05-15 10:52] zbarni commented on #1509
@stinebuu apologies for the long delay.. the code is part of a private project and I have to ask the project owner regarding sharing, or need a bit more time to isolate the error-related section.. unfortunately, I'll be away until the end of next week, but will share it as soon as possible afterwards.

[2020-05-15 14:10] lekshmideepu opened #1600 "Avoid the explicit usage of Python library path for Travis."
Currently we are using hard-coded Python library paths in our Travis build script due to some issues finding the exact paths in some of the travis worker machines.

[2020-05-15 14:13] lekshmideepu opened #1601 "CMake doesn't terminate when the requested package is not found in Travis"
It looks like CMake doesn't terminate when the requested package like  Python is not found in the Travis build environment.
https://travis-ci.org/github/nest/nest-simulator/jobs/686740291#L904
https://travis-ci.org/github/nest/nest-simulator/jobs/686740291#L1537
https://travis-ci.org/github/nest/nest-simulator/jobs/686740291#L1578
https://travis-ci.org/github/nest/nest-simulator/jobs/686740291#L77

[2020-05-18 08:50] WillemWybo commented on #1560
Just ran CMake on the master branch and it seems to be working now (without the `-Dwith-python=3` option, guess that's the default now?)

[2020-05-18 09:15] heplesser commented on #1570
@Silmathoron @BSVogler `one_to_one` is indeed more descriptive than `explicit` or `data`. My main reason for suggesting a change was that this would be the one rule that has different semantics (allows unordered and repetitions). In NEST2, all connection rules admit all arguments (just lists), now we get one that is special. Therefore, I thought that a name change compared to NEST2 would make sens

[2020-05-18 11:26] anton-jpg opened #1603 "Mistake in the model directory (ginzburg neuron)"
In the model directory for the ginzburg_neuron (under binary neurons: https://nest-simulator.readthedocs.io/en/stable/models/binary.html), it is stated that the function accepts the parameters "c1", "c2" and "c3". The actual function requires the parameters "c_1", "c_2" and "c_3" instead.

[2020-05-18 13:53] golosio opened #1604 "Problems with stdp_synapse weight update"
The synaptic weight should decrease when presynaptic spike time > postsynaptic spike time
However, in simple pynest scripts it seems that things go in the opposite way with stdp_synapse.
Furthermore, it seems that the first pre-post couple is always lost, i.e. the update always starts from the second pre-post couple.
Comparison with theoretical calculation shows that the weight increases as if pos

[2020-05-18 14:07] Silmathoron commented on #1570
@heplesser OK, then I update #1539 some time this week and ping you

[2020-05-18 15:44] clinssen commented on #1604
Some confusion might arise because the word "delay" is used ambiguously in NEST Simulator. Intuitively we expect this to be an axonal delay (time from presynaptic neuron firing until time of spike arrival at the synapse), but actually it typically refers to the dendritic delay (time from spike arrival at the synapse to time at which the spike has an effect on the membrane potential).

With this in

[2020-05-18 17:23] golosio commented on #1604
Thank you for your email and for your interest in this issue. However
unfortunately I'm afraid that the interpretation of delays as dendritic
does not solve the issue. I really hope I made some mistake or I
misinterpreted the results.
In my example, the presynaptic neuron spike has a negligible effect on the
postsynaptic potential, since the weight is intentionally very small. For
sure it does not

[2020-05-18 23:32] golosio commented on #1604
I get consistent results if I change the sign of dendritic_delay in models/stdp_connection.h ,
243c243
<   target->get_history( t_lastspike_ - dendritic_delay, t_spike - dendritic_delay, &start, &finish );

248c248
<     minus_dt = t_lastspike_ - ( start->t_ + dendritic_delay );

256c256
<   const double _K_value = target->get_K_value( t_spike - dendritic_delay );

or alternatively if I assume tha

[2020-05-19 07:04] stinebuu opened #1607 "fixed_total_number with list for weights no longer possible"
**Describe the bug**
It is no longer possible to send a list with weights when we use `fixed_total_number`. The list have the same length as `N`, the total number of connections. This is possible in NEST 2.20, and should still be possible with NEST 3.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out master (I have tested with 6339f2055fbf14de780496df965a43b3a5cd6ada)
2. In python,

[2020-05-19 07:31] clinssen commented on #1604
This interpretation of the delays is indeed correct. I agree that we should make this more clear in the documentation.

As for the first pair being "lost": might this be due to another implementation quirk? In NEST, for performance reasons, the weight is only updated when a presynaptic spike is received by the synapse. Postsynaptic spikes are buffered (from the perspective of the synapse), and onl

[2020-05-19 07:57] sarakonradi commented on #1581
@juanmav Thanks for the sample code!

@heplesser I remember that, in the [mailing list](https://www.nest-simulator.org/mailinglist/hyperkitty/list/users@nest-simulator.org/thread/ZAXHALXHJTUOOX4VGD3T2FIMWNNNTILE/#ZAXHALXHJTUOOX4VGD3T2FIMWNNNTILE), you emphasized the importance of **not** using multiprocessing with NEST and that there are currently no scenarios where it is okay to use Python's mult

[2020-05-19 08:48] stinebuu commented on #1348
@morales-gregorio Are there any updates on this?

[2020-05-19 08:56] morales-gregorio commented on #1348
oh yes, I had difficulties building NEST in my local machine (my paths are messed up apparently) and then completely forgot about it. I will come back to this, the actual updates seem pretty straightforward, I will open the PR as soon as possible.

[2020-05-19 09:40] golosio commented on #1604
Thank you Charl. I made a drawing that in my opinion clarifies the intended behavior.
[synaptic_post_pre_diff.pdf](https://github.com/nest/nest-simulator/files/4649359/synaptic_post_pre_diff.pdf)
In NEST, the value of the stdp_synapse "delay" parameter is assigned to the variable dendritic_delay, which corresponds to what is called Dt_post in the drawing.
Most users will assume "delay" to represen

[2020-05-19 10:55] golosio commented on #1604
I must add that when the target neuron of the stdp synapse is a conductance-based model, the
time when the synaptic conductance is modified (i.e. when dg_exc is increased) due to an incoming spike is evaluated as the time of the presynaptic spike plus the "delay" parameter. This use of the delay parameter is not consistent with the dendritic delay interpretation.

[2020-05-19 12:23] #1511 closed

[2020-05-19 12:23] #1524 closed

[2020-05-19 14:01] steffengraber opened #1609 "Building of documentation in Readthedocs does not work anymore"
Redthedocs does not seem to get along with the "ignore_patterns" of the "shutil".  There are problems building the documentation.

**Possible solutions:**

- Adapting the python version for Readthedoc
- possibly use pathlib instead of shutil

[2020-05-19 14:10] hakonsbm opened #1610 "Equality comparison of a primitive and a composite NodeCollection with same length leads to a segfault"
**Describe the bug**
Equality comparison between a primitive NodeCollection and a composite NodeCollection leads to a segfault, if both NodeCollections have the same length.

**To Reproduce**
Steps to reproduce the behavior:
 * Try comparing a primitive NodeCollection with a composite NodeCollection of the same length:
[code]
 * This will lead to a segfault.

**Expected behavior**
The comparison r

[2020-05-20 08:35] terhorstd commented on #1504
As @sarakonradi wrote in #1534, we'll use this issue to collect references to PRs and #1534 will not be the solving all of these. Instead each checkmark should probably be a seaparate PR.

[2020-05-20 08:40] terhorstd commented on #1504
removed link because #1534 solves only part of this issue and shouldn't close it.

[2020-05-20 10:26] sarakonradi opened #1612 "Collect dependencies in central file"
As @terhorstd pointed out in #1515, we should have a central file where dependencies are collected, as we do for the documentation (conda environment).

The "Dependencies" section in ``doc/installation/linux_install.rst`` could then have an additional sentence like "For the full list of requirements, check here".

[2020-05-20 11:03] #1426 closed

[2020-05-20 14:19] sarakonradi commented on #1581
@suku248 Do you happen to know of any already existing conceptual document, where this has been looked into? Input from the kernel team is much appreciated.

[2020-05-20 15:09] jhnnsnk opened #1615 "Distributed indegree"
**Is your feature request related to a problem? Please describe.**
I would like to have a distributed indegree combined with the possibility of multapses, in particular in spatially structured networks.

**Describe the solution you'd like**
I can imagine a new rule `distributed_indegree` that accepts a random parameter as `indegree`, for example:

[code]

**Additional context**
The rule `fixed_tot

[2020-05-20 15:11] jhnnsnk opened #1616 "Get distances from SynapseCollection of spatially structured network"
**Is your feature request related to a problem? Please describe.**
I would like to have an easy way to get a list of distances between sources and targets from a `SynapseCollection` of a spatially structured network. Right now there is only the function `Distance()` which requires positions or `NodeCollections` as arguments, but does not accept the sources and targets of a SynapseCollection.

**De

[2020-05-22 12:34] daphnecor opened #1618 "Reset network"
**Motivation**
There are use cases with the nest library where different sets of inputs are compared or the network is trained by repeatedly changing the weights (e.g. by using STDP). Nest 2 allows this with the deprecated method ResetNetwork. It is not documented what the best practice is in this case. Nest 3 offers no replacement, thus requiring to reestablish the previous state manually.

**Pro

[2020-05-23 14:05] yunxdai opened #1619 "Unable to debug in vscode"
**Describe the bug**
I installed NEST using conda and tried to develop my program using NEST in vscode. As I selected the right python interpreter, I can run my code in terminal. However, it reported the following error message when I wanted to "launch" and "debug" the same code.

[code]
I don't know why NEST simulator works when I directly started it in terminal but failed when I tried to "launch

[2020-05-25 07:43] gtrensch commented on #1560
@WillemWybo, Python 2.x is no longer supported and therefore we only allow `-Dwith-python=[OFF|ON]`. Yes, running with `-Dwith-python=ON` (Python 3) is the default now. See also [INSTALL](https://github.com/nest/nest-simulator/blob/master/INSTALL).

[2020-05-25 08:08] Silmathoron commented on #1579
I agree with @abigailm points and I would not be in favor of renaming ``spike_detector``, the issue of the other special devices seems different and I have no strong opinion on that matter.

[2020-05-25 08:29] #1607 closed

[2020-05-25 08:35] sarakonradi opened #1620 "Model documentation enhancement checklist"
Following the merge of #1530, this meta-issue summarizes further enhancements that could, or should, be made to the model documentation:

* [x] Avoid table scroll bars -> #1639
* [ ] Move ``Remarks:`` to description
* [ ] Remove remaining Doxygen syntax (e.g., ``@notes``)
* [X] ~Add additional column to parameter table (see #1605)~
  ➟ will be implemented by NESTML (see https://github.com/nest/nes

[2020-05-25 09:46] suku248 commented on #1574
@hakonsbm could you please take a look at this?

[2020-05-25 09:58] terhorstd commented on #1560
This seems to be solved.

[2020-05-25 09:58] #1560 closed

[2020-05-25 10:08] #1603 closed

[2020-05-25 11:26] clinssen opened #1621 "Verify and document negative synaptic weights for plastic synapses"
Some models (particularly current-based models) indicate that a connection is inhibitory by having a negative connection weight. It is not clear how this interacts with synaptic plasticity. When setting the maximum weight to a negative value, behaviour seems to be consistent, e.g. a negative weight can never flip to a positive weight and vice versa, but this needs to be verified and documented.

S

[2020-05-25 11:39] heplesser commented on #1618
@daphnecor @BSVogler The crucial problem about `ResetNetwork()` is to define precisely which state `ResetNetwork()` is supposed to reset to, and to implement this reasonably efficiently. Once this is precisely defined, one can also consider ways to retain (not reset) certain properties.

So, which "moving parts" do we have in a NEST simulation (not certain the list below is complete)?

1. State va

[2020-05-25 13:28] suku248 commented on #1581
@sarakonradi I am not aware of any documentation on this topic. I don't think that the publications on PyNEST explicitly discourage users from using Python packages for multiprocessing on top of NEST's internal parallelization based on MPI/OpenMP.

I guess that such optimization attempts by NEST users typically target the network-construction phase (and not the actual simulation phase). Therefore,

[2020-05-26 11:40] BSVogler commented on #1618
Thank you for your response.
When storing the initial state it would ca. require twice the memory after initialization. Because the memory is not used for calculations it could be stored in a compressed format. The memory overhead could be made explicit by adding a `dump` and `load` method.

[code]
Dumping and loading can be used in other use cases

For this use case flushing the spikes with it ot

[2020-05-26 12:08] stinebuu commented on #1616
@jhnnsnk should the distance be the distance between the source, target pair, so the `SynapseCollection` has to have the same number of sources and targets, or should it be distance between *every* source and target in the `SynapseCollection`? In the first I guess we would return a list with distances, while in the second a list of list where the inner list is a list of positions between the sourc

[2020-05-27 00:44] sepehrmn commented on #1520
WSL2 launch version is available to some people now. Happy to say it seems to be working fine.

Windows OS build: 19041.264
Ubuntu 18.04.4 LTS

This is the result:

  PyNEST tests: 754
     Passed: 742
     Skipped: 12
     Failed: 0

Phase 8: Running C++ tests (experimental)
-----------------------------------------
  Not running C++ tests because NEST was compiled without Boost.

NEST Testsuite

[2020-05-27 09:06] stinebuu commented on #1616
`nest.Distance(src, trgt)` returns a list of distances between the src, trgt pair, so maybe do the same for the `SynapseCollection` version for consistency?

[2020-05-27 09:38] lekshmideepu commented on #1601
@heplesser It doesn't look like CMake terminates when [GSL libraries are not found ](https://travis-ci.org/github/lekshmideepu/nest-simulator/jobs/691663150#L1526)although the environment variable is set ON

[2020-05-28 07:35] jhnnsnk commented on #1616
@stinebuu Yes, I would be interested in just one list with the distances between source-target pairs, in line with the output of the `Distance()` function. Thanks for the clarification.

[2020-05-28 08:21] heplesser commented on #1601
OK, so the problem is more general and we would need a way to check if NEST has been built with the components we requested. Can we query the results of CMake in a sensible way and compare with our results? Or parse the `config.h` generated?

[2020-05-28 18:54] jd41 opened #1627 "Broken links in the documentation"
I write about both of these problems at once because I suspect that they have, in part, the same cause.

I used the tool `linkchecker` to check the NEST documentation of a ~1-week-old source (commit #4e9a69fab) for broken links:
`jd41@pc:~$ sudo apt install linkchecker`.

In `<install-directory>/share` (generated by help_generator?):
`jd41@pc:~/nestnew/share$ find .|grep html$|xargs -d '\n' linkch

[2020-05-28 19:08] jd41 opened #1628 "Automatically check pull requests for broken links"
It would be nice if documentation pull requests get checked for broken links automatically, using a tool like `linkchecker`.

[2020-05-28 19:11] jd41 opened #1629 "Install Sphinx documentation into install directory"
For me, when compiling and installing NEST, the Sphinx documentation currently isn't installed in the NEST install directory. It might be nice if users get a local copy.

[2020-05-28 20:30] sanjayankur31 opened #1630 "Python3.8+ no longer needed to link against libpython"
**Is your feature request related to a problem? Please describe.**

The Fedora Python maintainers recently informed the community that "As of Python 3.8, python C extensions modules should not link to libpython, unless they embed the interpreter in their code. Relevant upstream PR: https://github.com/python/cpython/pull/12946"

https://lists.fedoraproject.org/archives/list/devel@lists.fedoraprojec

[2020-05-29 12:52] jd41 commented on #1627
@steffengraber

[2020-05-29 22:14] harryHoward opened #1631 "CreateLayer() only creates 6 layers accurately; the seventh produces a segfault when used"
**Describe the bug**
topology.CreateLayer() only creates 6 layers accurately; the produces a segfault (11) when used.

**To Reproduce**

import nest
from nest import topology as topo
nest.ResetKernel()
neuron = 'iaf_psc_alpha'
layerSide = 25
layerSize = [float(layerSide), float(layerSide)]
excLayerDict = {'rows'     : layerSide,
                'columns'  : layerSide,
                'extent'   :

[2020-05-30 20:13] harryHoward commented on #1631
I can confirm that the same crash occurs with a 6x2 composite layer.

[2020-06-02 11:53] jd41 opened #1634 "Reduce redundancy in the NEST docuverse"
This issue is complementary to #1635.
By "docuverse", I refer to the extant content that is supposed to describe NEST or adjacent projects (like NEST-Desktop/NestML), i.e. Sphinx documentation, help_generator/Doxygen documentation, websites, developer space, error messages in the program, docstrings... I gathered resources I found in #1633, but have surely missed something.

I currently find lots

[2020-06-02 12:15] jd41 opened #1635 "Improve discoverability in the NEST docuverse"
This issue is complementary to #1634. Again, with "docuverse" I refer to all the extant NEST-related content.

I found several instances in the NEST documentation where a link to other content would be helpful, but was missing. Examples:

- the Read the Docs documentation for spike_detector doesn't link to the Recording device guide, which contains further parameters/instructions.
- The SLI tutori

[2020-06-02 12:33] jd41 commented on #1634
How to build documentation:
- doc/README.md
- NEST Documentation Workflow: https://nest-simulator.readthedocs.io/en/latest/documentation_workflow/user_documentation_workflow.html

[2020-06-04 00:46] zbarni commented on #1431
Hello! Sorry for intruding in the issue, but I think I came across a minimal example that consistently reproduces a similar error:

[code]
As it is, the script outputs `()`. Curiously, if one uncomments the line
`#nest.Connect(neuron1, neuron2)`, then it works and we get `(array('l', [3, 1, 0, 15, 0]),)`. Is this the expected behaviour?

I installed NEST 2.20 from source, Python3, Linux Mint 18. N

[2020-06-04 08:54] hakonsbm commented on #1431
@zbarni Thanks! This is not the expected behaviour. I'll look into it.

[2020-06-05 08:35] hakonsbm commented on #1574
When using `fixed_total_number`, NEST draws from a binomial distribution, iterating over all VPs until the specified number of connections is created. If NEST is installed with GSL, [`gsl_ran_binomial()`](https://www.gnu.org/software/gsl/doc/html/randist.html#c.gsl_ran_binomial) is used, where the number of trials is given as an `unsigned int`.

With an `unsigned int` width of 32 bits, the maximum

[2020-06-08 09:48] terhorstd commented on #1520
Thanks a lot!

[2020-06-08 09:48] #1520 closed

[2020-06-08 09:54] jd41 commented on #1635
#1638 is the promised pull request.

[2020-06-08 10:25] AlexVanMeegen commented on #1574
Thanks for the more detailed explanation, @hakonsbm. This is precisely what I tried to express in the issue. Once #1549 is merged, the increase to `2^64 - 1` would fix it for all practical purposes I guess. ^^

Still, I think that this is an undesired behavior - why should there by an upper limit on the number of connections? In particular, I don't understand why the number of connection have to b

[2020-06-08 12:28] hakonsbm commented on #1574
I'm not sure why it's done this way. Maybe @heplesser or @jougs knows?

[2020-06-09 16:18] terhorstd commented on #1628
This is a generalization of #1627 and should clearly be part of the solution there. Since the discussion is in #1627 I close this as duplicate.

[2020-06-09 16:18] #1628 closed

[2020-06-09 16:25] terhorstd commented on #1627
I think this is an important step to the test-ability of documentation. Referential integrity is one point of a list @jessica-mitchell started some time ago. Others were for example: doctests, language linting, doc-style tests (a la PEP8, but for RST), ...
We would have to discuss where/how this could best run. There are many aspects to this.

[2020-06-09 16:57] jd41 commented on #1635
(updated issue text after seeing I didn't complete it somehow)

[2020-06-10 08:12] stinebuu commented on #1432
@heplesser Any updates on this?

[2020-06-10 08:22] stinebuu commented on #1575
@jakobj Did @hakonsbm's comment help you solve the problem?

[2020-06-10 08:30] stinebuu commented on #1207
@jhnnsnk Did #1444 fix this by any chance?

[2020-06-10 10:29] babsey opened #1642 "Unload or reload module in NEST Kernel"
**Is your feature request related to a problem? Please describe.**
NEST is able to load external user modules e.g. the ones coming generated by [NESTML](https://github.com/nest/nestml). However it is not possible to unload all modules.
The only way to do so is currently to restart the Python interpreter.

**Describe the solution you'd like**
Several possible solution would be:
- A method to unload

[2020-06-10 13:09] sarakonradi opened #1643 "Keep model directories of "stable" and "latest" consistent"
Following the merges of #1530 and #1355, Read the Docs displays a "Maze Found" error when visiting the Model Directory and then switching between "stable" and "latest".

This happens because of the differing links between the two versions (``models`` vs. ``userdocs``):

Stable: https://nest-simulator.readthedocs.io/en/stable/models/index.html
Latest: https://nest-simulator.readthedocs.io/en/latest

[2020-06-15 08:09] #1609 closed

[2020-06-15 08:39] heplesser commented on #1574
@AlexVanMeegen Strictly speaking, it is not a binomal, but a multinomial distribution. If we assigned a fixed number of connections to each VP, we would introduce a regularity on the connection pattern that should not be there. For the most extreme case, consider that the number of VPs is equal to the number of connections to be created: Then we would have exactly on connection per VP, which certa

[2020-06-15 09:08] AlexVanMeegen commented on #1574
Thanks for the explanations and the reference, @heplesser and @hakonsbm!

[2020-06-16 11:42] sarakonradi opened #1648 "Automatically include "Acknowledgments" text in doc/index.rst"
This issue follows up on the discussion between @terhorstd, @heplesser and @steffengraber in #1646.

Here, we can discuss possible solutions for automatically including the text from ``ACKNOWLEDGMENTS.md`` in the last subsection of the welcome page.

[2020-06-16 12:49] #1590 closed

[2020-06-16 13:49] terhorstd commented on #1555
What do you think about separating the parameter table from the API documentation? basically every API can set these parameters, because they are kernel parameters. I would expect a kernel documentation that describes these parameters in an interface independent way, that could just be linked from here (and from other pages).
This is of course a big gun to fix a formatting issue, but maybe worth a

[2020-06-17 01:06] ikitayama opened #1649 "unsupported GNU_PROPERTY_TYPE (5) type: 0xc0000000"
On aarch64 with trunk Clang I see a lot of:

[code]

Can a building service include trunk Clang as well we those older stable releases?

Here's my CMake config:
[code]

[2020-06-17 07:55] Silmathoron commented on #1570
Hi @heplesser, I lost track of where we were in implementing this... could we summarize where we are with respect to the [todo list](https://github.com/nest/nest-simulator/issues/1570#issuecomment-627377510)?

I think #1539 is ready (I answered @hakonsbm comments)

We blocked issue #1563 so everything would be discussed here. We decided we would raise an error if unordered ids are used to slice a

[2020-06-17 08:04] Silmathoron commented on #1522
@hakonsbm in your [proposal](https://github.com/nest/nest-simulator/issues/1522#issuecomment-617174613), would:

[code]

lead to the same object as

[code]

I think it would be really great if it did; currently doing
[code]
leads to a composite ``NodeCollection`` which does not seem to be usable. E.g. trying to do ``nc[0]`` leads to

    NESTErrors.Invalid part or offset into NodeCollectionComposi

[2020-06-17 10:15] BSVogler commented on #1522
The idea behind hakonsbm proposal is any type information should be based on the content. The current implementation seems to be based on the content during creation. Therefore I would agree that [the described behavior](https://github.com/nest/nest-simulator/issues/1522#issuecomment-645221311) by Silmathorono should be changed.

[2020-06-17 11:49] jougs commented on #1579
@mhelias: ping!

[2020-06-17 11:51] jougs commented on #1203
Closing due to inactivity.

[2020-06-17 11:51] #1203 closed

[2020-06-17 22:59] #1548 closed

[2020-06-18 06:49] sarakonradi opened #1650 "Enhance PyNEST microcircuit example documentation"
Following the merge of #1526, this issue addresses further enhancements to the PyNEST microcircuit example:

- [x] Rename titles to "Cortical microcircuit example" -> #1841
- [x] Update "Note on Parameters" subheading -> #1841
- [x] Update links to files in ``pynest/examples/Potjans_2014`` -> #1847
- [ ] Automatically generate parameter table out of ``network_params.py``

[2020-06-21 12:13] clinssen opened #1652 "Add junitparser to installation requirements"
"Since the transition to the new test summary generator, the testsuite requires the Python ``junitparser`` package to be available." (@heplesser)

This should be added to https://github.com/nest/nest-simulator/blob/master/doc/installation/linux_install.rst, but perhaps also to other places, e.g. the requirements of the .deb packages?

What should happen in case junitparser cannot be found: fail te

[2020-06-22 08:54] clinssen commented on #1565
For more details, see #1582

[2020-06-22 08:55] clinssen commented on #1582
This issue is a duplicate of #1565.

[2020-06-22 08:55] #1582 closed

[2020-06-22 09:17] clinssen commented on #1189
Hi, thanks for the report! Sorry, I am not an expert on the ht_neuron model, and the file you attached is quite big. Could you highlight (perhaps in a comment on this thread) the parts of the code that you would suggest to change? Could you also mention a reference to the literature so we can add it as a citation to the model documentation?

[2020-06-22 10:14] heplesser commented on #1290
@lepmik Sorry for the very long silence! In the not-too-long run, we will support this by replacing hand-written code by NESTML-generated model code. Some models already allow conductance recording, e.g., `aeif_cond_alpha`.  Would you want to add it to the models that interest you based on the [code in aeif_cond_alpha](https://github.com/nest/nest-simulator/blob/aab21a8c4665c8643851eed05471f23307c

[2020-06-22 10:20] heplesser commented on #1649
@ikitayama This seems to be a compiler bug: https://github.com/ClangBuiltLinux/linux/issues/1054

[2020-06-22 10:23] ikitayama commented on #1649
If I use LLD, that goes away though.

On Mon, Jun 22, 2020 at 19:20 Hans Ekkehard Plesser <
notifications@github.com> wrote:

[2020-06-22 10:26] ikitayama commented on #1649
I’m still not certain as how we can tell CMake about LLD if I want to.

On Mon, Jun 22, 2020 at 19:23 Itaru Kitayama <itaru.kitayama@gmail.com>
wrote:

[2020-06-22 16:37] ricardomurphy commented on #1189
Hello
There are only two differences between the standard ht_neuron
and ht_neuron_sh_DKhep:

ht_neuron line 113:
node.S_.I_NaP_ = -node.P_.g_peak_NaP * std::pow( m_inf_NaP, 3.0 )
ht_neuron_sh_DKhep line 113:
node.S_.I_NaP_ = -node.P_.g_peak_NaP * std::pow( m_inf_NaP, 1.0 )

So it would be good if this line could read something like:
node.S_.I_NaP_ = -node.P_.g_peak_NaP * std::pow( m_inf_NaP, p_NaP

[2020-06-23 15:05] terhorstd opened #1655 "Broken links "Edit on GitHub" in documentation"
**Description of the flaw**
On generated pages like the new model directory, the single page edit links do not work. There is a "Edit on GitHub" button in the top right corner, e.g. in https://nest-simulator.readthedocs.io/en/latest/userdocs/iaf_cond_alpha.html that leads to a non-existing GitHub page.

Mainly Model directory entries in current 'latest' build of the documentation on readthedocs ar

[2020-06-23 16:31] clinssen commented on #1655
This is a problem for NESTML as well, as some of the documentation is automatically generated and/or pre-processed in ``conf.py``, so no backlinks exist.

The "Edit on GitHub" links can only be turned on or off globally. We could consider just turning them off.

Alternatively, I think this could easily be solved upstream by checking the HTTP response for a 404 error code.

[2020-06-23 16:46] clinssen commented on #1655
See also: https://docs.readthedocs.io/en/stable/guides/remove-edit-buttons.html

[2020-06-23 17:21] nickdesaulniers commented on #1649
The issue is using ARMv8.3 Pointer Authentication (PAC) when building with Clang, but using an older version of GNU binutils that doesn't support PAC.  @ikitayama can you use LLD to link?  Virtually all tools in binutils will produce this error, so it may be easier to avoid using PAC until you've upgraded your GNU binutils.

[2020-06-23 21:23] ikitayama commented on #1649
I will. Do you happen to know The minimal binutil version that supports PAC?

On Wed, Jun 24, 2020 at 2:22 Nick Desaulniers <notifications@github.com>
wrote:

[2020-06-23 23:34] nickdesaulniers commented on #1649
The kernel commit references GNU binutils 2.33.1: https://git.kernel.org/pub/scm/linux/kernel/git/arm64/linux.git/commit/?id=4dc9b282bf5f

[2020-06-23 23:42] ikitayama commented on #1649
@Nick Desaulniers <ndesaulniers@google.com> thanks! I'll ask the local
admin to add it as an Lmod module then.

On Wed, Jun 24, 2020 at 8:34 AM Nick Desaulniers <notifications@github.com>
wrote:

[2020-06-24 08:53] lepmik commented on #1290
Hi! No problem. I was mainly thinking of a `set_state` function, recording is already implemented in the models I use.

[2020-06-24 14:53] alcrene commented on #1210
I ran into this issue when installing NEST in a separate environment as Jupyter (which I would argue makes the most sense, since Jupyter should not be duplicated across environments – only `ipykernel`).

### Steps to reproduce the issue:

- Create two environments and activate the one with NEST:

      conda create -n jupyter-env -c conda-forge jupyter jupyterlab
      conda create -n nesttest -c

[2020-06-24 15:55] #1643 closed

[2020-06-25 09:51] BSVogler opened #1657 "How is voltage_trace supposed to be shown?"
**Describe the flaw**
In this commit 87edd9e4a10aa3524be223a499b03293ac34a579 the show method was removed. It is still included in the documentation in the examples, putting the examples in a non-working state, and making me wonder how to plot the voltages.

Examples:
https://nest-simulator.readthedocs.io/en/latest/auto_examples/one_neuron.html
https://nest-simulator.readthedocs.io/en/latest/auto_

[2020-06-25 09:58] BSVogler commented on #1657
I figured it out how to plot it. Apparently, this needs to be added
[code]

[2020-06-25 13:33] terhorstd opened #1659 "Dissolve `gh-pages` branch"
**Describe the flaw**
Currently developer documentation is outdated and not stored in an easily maintainable place.

**Suggest an improvement**
Documentation that is currently stored in the `gh-pages` branch should be moved to the respective places in the code or corresponding external modules. Outdated information shoud be removed or moved to a maintainable location and updated (e.g. neuron model

[2020-06-28 15:29] jougs opened #1660 "Integrate Sphinx documentation generation with CMake"
Currently, the Sphinx documentation is built using a standalone `Makefile` in the `doc` directory. This has several downsides:
1. Running that `Makefile` requires to `cd` into the `doc` directory, which is at least inconvenient.
1. The `Makefile` for the documentation is hard to find, as it is somewhat uncommon to have two parallel build systems.
1. The extracted documentation ends up in the sourc

[2020-06-29 07:17] jougs opened #1661 "Make references to NEST installation prefix consistent"
**Describe the flaw**
The NEST documentation refers to the installation prefix (set using `-DCMAKE_INSTALL_PREFIX:PATH=...` when running CMake) in a lot of places. However, the exact wording used is not very consistent. A quick search reveals (at least) the following ways of saying the same thing:
* `<prefix>/bin/nest`
* `$PREFIX`
* `</install/path>`
* `</path/to/nest_install_dir>`

**Suggest an i

[2020-06-29 11:14] clinssen opened #1663 "Discuss weight normalisation in documentation"
Questions about how to normalise the weights vector in plastic networks come up regularly on the mailing list. The issue is: say you have a neuron with incoming synaptic weights w1, w2, ... wn. A plasticity rule might require that the vector norm |w| remains constant.

As the solution of how to do this in NEST requires some explanation, @diesmann suggested to add a page in the documentation descri

[2020-06-30 01:27] jhang-liu opened #1664 "After compiling, I modified the code and recompile NEST. Why did not the modified code take effect?"
I compiled NEST successfully. But after I modified the code, the new code didn't take effect.

[2020-06-30 08:48] clinssen commented on #1664
Could you give some more information? Which steps did you take to build NEST? Did you follow the instructions on https://nest-simulator.readthedocs.io/en/nest-2.20.1/installation/linux_install.html? What paths are you installing to? Please post the logs (e.g. cmake output, error message).

Changing code in the source directory, and then running ``make && make install`` should certainly work.

[2020-07-01 03:13] #1664 closed

[2020-07-01 07:29] #1586 closed

[2020-07-01 07:29] #1331 closed

[2020-07-01 09:58] #1555 closed

[2020-07-01 10:06] #1349 closed

[2020-07-01 10:15] gtrensch commented on #1630
@sanjayankur31 Many thanks for pointing this out! Did you went into a NEST issue related to linking? We tend to leave the NEST linkage as it is for the moment, and Python version independent, as long as it does not cause any problems. However, we will keep your hint in mind.

[2020-07-01 10:29] sanjayankur31 commented on #1630
No, I've not observed any issues yet. This was just something that the Python maintainers in Fedora pointed out to all us maintainers. I can carry a patch downstream, but thought it'll be good to point out.

Fedora moves quite quickly, so we're already on Python3.8, and will use Python 3.9 for the next release. So, Nest on NeuroFedora will also use these python versions.

[2020-07-01 12:59] jougs commented on #1661
Just a short update: I actually like the `<prefix>` variant the most, as it does
1. not imply that the prefix is in a shell/environment variable (which the `$` variant does) and
2. does not require the reader to split an unknown path at the right location, which the `/path/to/install` variant does.

[2020-07-02 05:17] heplesser commented on #1661
I agree almost with Jochen, but wonder a little if `<prefix>` is too unspecific. How about
- `<nest_install_prefix>`
- `<nest_install_dir>`

Which variant would be most intuitive/comprehensible for a user just "nerdy" enough to install NEST from source, but not a developer?
Best,
Hans Ekkehard

[2020-07-02 09:43] clinssen opened #1667 "Merge bibliography items into nest-simulator.org bibliography page"
Several bibliography items exist in an orphaned file called ``extras/bibliography/nest.bib``.
- These entries should be merged into https://nest-simulator.org/bibliography/;
- A "download .bib file" link should be added to the top of that page;
- The ``nest.bib`` file should be removed.

@steffengraber: could you take care of the first two points?

The following entries need merging:
[code]

[2020-07-02 11:21] clinssen commented on #329
@heplesser: if we rename "hh_cond_exp_traub" to "hh_brette_2007", what should we rename "hh_cond_beta_gap_traub" to? It's a variant of "hh_cond_exp_traub" with beta function synaptic kernels and gap junctions added. "hh_brette_2007_beta_gap"? "hh_beta_gap_brette_2007"?

[2020-07-02 11:23] stinebuu opened #1669 "Add tests for specifying synapse_model when calling GetConnections"
**Is your feature request related to a problem? Please describe.**
You can specify a `synapse_model` when getting connections from `GetConnections(synapse_model=None)`. This is not tested for however. We have a [test_getconnections.py](https://github.com/nest/nest-simulator/blob/master/pynest/nest/tests/test_getconnections.py), but it has nothing about `synapse_model` or `synapse_label` and should

[2020-07-02 15:57] Silmathoron opened #1670 "Incorrect connections are returned by GetConnections"
**Describe the bug**
When multithreading is used, some additional connections are returned by ``GetConnections`` when using the ``source`` keyword (might occur for other keywords in different circumstances).

**To Reproduce**
[code]
prints ``1004`` and

    [array('l', [998, 1002, 2, 15, 0]), array('l', [999, 1002, 3, 15, 0]), array('l', [1000, 1002, 4, 15, 0]), array('l', [997, 1002, 1, 15, 0])]

[2020-07-02 17:10] terhorstd commented on #1670
If this is confirmed, it should also be added to the tests.

[2020-07-03 07:36] sarakonradi opened #1673 "Guide users with specific backgrounds and interests in documentation"
As discussed with @jougs, the documentation would benefit by better guiding users with specific backgrounds and interests (e.g., "NEST for learning"). This information could be added in the form of subsections to the "Getting started" page or incorporated within the welcome page.

[2020-07-03 08:37] terhorstd commented on #1670
could be related to #1636

[2020-07-03 09:13] hakonsbm commented on #1670
I tested, and it seems like the fix in #1636 doesn't seem to fix this issue.

[2020-07-03 11:23] stinebuu opened #1674 "Missing documentation in notebook examples"
**Describe the flaw**
The two notebooks in `doc/nest-3/`, [`Brunel_alpha_interactive_example.ipynb`](https://github.com/nest/nest-simulator/blob/master/doc/nest-3/Brunel_alpha_interactive_example.ipynb) and [`Interactive_spatial_example.ipynb`](https://github.com/nest/nest-simulator/blob/master/doc/nest-3/Interactive_spatial_example.ipynb), lack documentation explaining what is happening. We shoul

[2020-07-03 11:34] stinebuu opened #1675 "Connection Management document needs to be updated to NEST 3.0"
**Describe the flaw**
The [Connection Management guide](https://nest-simulator.readthedocs.io/en/latest/guides/connection_management.html) on ReadTheDocs is not updated to NEST 3.0. Some of the code-snippets won't work anymore, and there are new examples that should be added. It also seems quite outdated, one of the first lines are
[code]
but there is no `OneToOneConnect()` in Python, we just have

[2020-07-03 12:24] jougs commented on #1104
As no one seems to be working on this and the issue is not severe enough for anyone to complain, I'm now closing.

[2020-07-03 12:24] #1104 closed

[2020-07-03 12:25] jougs commented on #388
Apparently no one is working on this or wanting it badly enough to work on it. Thus I'm closing due to inactivity.

[2020-07-03 12:25] #388 closed

[2020-07-03 13:05] #1178 closed

[2020-07-03 13:05] #1569 closed

[2020-07-03 13:06] heplesser commented on #1652
@sarakonradi @clinssen  Looking at the description of dependencies, I find them quite complex, explaining what you need and why (or not). Doesn't that confuse users? Wouldn't it be simpler to just list the full set of requirements, since almost everyone anyways will want the full package? Possibly mark one or the other as optional? We also need to point out that Python is needed to run the testsui

[2020-07-03 13:27] terhorstd commented on #1570
@Silmathoron, if your PR is already far enough and no more discussion is required here, I'd go ahead and remove the discussion label. Is there something else to discuss here?

[2020-07-03 14:07] Silmathoron commented on #1570
@terhorstd yes, the PR is theoretically ready to be merged as soon as it gets a 2nd review and I don't think we have anything else to discuss, so the discussion label can go.
I'm still waiting for somebody to tell me whether we actually took care or the ordering problem, though, so maybe unblock #1563 and write there that an error should be raised?

[2020-07-03 14:16] stinebuu commented on #1563
@Silmathoron as discussed in #1570, and error should be raced in this instance. I have removed the Blocked label, as this is not yet fixed in master.

[2020-07-03 17:59] terhorstd commented on #1499
In an extensive discussion during this week's hackathon, we confirmed the move away from tabs.
The discussion broadened to a collection of decisions that @sarakonradi will put in a *doStyle Guide among other points the result of the discussion regardin tabs was:

* not use UI tabs, they hide information. If at all, use the harmonica "unfold section", even better is flat docs with right-side page i

[2020-07-06 06:36] gtrensch commented on #1072
I've looked into this a little more closely. It also applies to other libraries.  The reason is how CMake `target_link_libraries` work. It obviously includes the libraries from `target_link_libraries` CMake functions in the hierarchy. For example:

For the `nest` module `nestutil.a` and `nestkernel.a` is needed:

`nestkernel` itself also requires `nestutil.a`.

It would be possible to avoid this b

[2020-07-06 07:20] daiminghuan opened #1677 "ImportError: libpython3.7m.so.1.0: cannot open shared object file: No such file"
**Describe the bug**
A clear and concise description of what the bug is.
 I create new envs which contains python3.8 and nest ,but when I  type python and import nest, the error is as above , please help me, thank you!
**To Reproduce**
Steps to reproduce the behavior:
1. I installed miniconda3
2. in base env, i use command : "conda create --name nest -c conda-forge nest-simulator ". then :"conda a

[2020-07-06 09:51] terhorstd commented on #1072
Discussed in [Open Dev VC](https://github.com/nest/nest-simulator/wiki/2020-07-06-Open-NEST-Developer-Video-Conference/) and decided to close.

[2020-07-06 09:51] #1072 closed

[2020-07-06 09:54] espenhgn opened #1678 "Compilation/linking error: `ld: symbol(s) not found for architecture x86_64`"
**Describe the bug**
I'm seeing this error while compiling the current master (at ba76461b140e17d41a7061d2e6831dde36d75539),
which does not appear to be a duplicate of any closed issues I could find:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Conda env file:
[code]
2. packages:
[code]
3. misc.
[code]
4. Build script:
[code]
4. cmake summary
[code]

**Expected behavior**
A success

[2020-07-06 09:57] clinssen commented on #1544
@sepehrmn: there is indeed no elegant way to accomplish this at the time of writing. We have opened an issue to describe an "official" workaround: https://github.com/nest/nest-simulator/issues/1663

If you have an idea about how to implement this in a better way, this is very welcome. However, based on earlier discussions I fear this will be quite involved.

To prevent a lot of stale issues accumu

[2020-07-06 10:27] danxan commented on #1489
Hi,

I recently installed NEST 2.20 using Conda on a Linux system (Manjaro 20 OS) and I still experience this same error. Both with and without MPI.

Did you update the Conda package with the fix to this issue?

Thanks

[2020-07-06 10:29] clinssen commented on #795
In the Open NEST Developer Meeting of 6-7-2020, it was decided to:
- [ ] collect implementations of various exp() implementations in libnestutil;
- [ ] allow selection of a different exp() implementation during code generation with NESTML, by passing an extra parameter to the code generator.

[2020-07-06 11:30] sepehrmn commented on #1544
@clinssen many thanks.

I assume that workaround involves stopping the simulation, doing the computations in python and setting the weights. I guess this issue can be closed and I'll get my stuff merged using an rport trick.

[2020-07-06 11:30] #1544 closed

[2020-07-06 16:16] jougs opened #1681 "Add first NEST version a model became available to model description"
In #1530, we removed the `FirstVersion` and `Author` fields from the model documentation because it was mostly outdated, wrong, or useless, as it only contained manually added names and missed all further contributors.

When revisiting this change during the [recent hackathon](https://github.com/nest/nest-simulator/wiki/NEST-Hackathon-01.07---03.07-2020), we concluded that the author information s

[2020-07-06 16:22] jougs opened #1682 "Fix code formatting for all files in the repository once and for all"
It seems that not all files in the repository currently conform to our static code style guidelines and people are sometimes hit by this when they edit a file, pertaining files are then checked and unrelated code locations evoke errors.

In order to ease future development, all files in the repository should again be checked for conformity (PEP8, clang-format) and committed.

[2020-07-06 16:46] jougs commented on #1657
I just re-assigned to myself as I'm the original author of the `voltage_trace` submodule (and `raster_plot`, which probably exhibits a similar issue). However, on second thought, I am now a bit unsure if the code should be changed, or if rather just the documentation has to be extended/fixed/clarified.

Two thoughts on this:
* As it right now, we have a hard dependency on matplotlib for the plotti

[2020-07-06 19:52] jougs commented on #1579
Here's a short update after we discussed this issue again during the [recent hackathon](https://github.com/nest/nest-simulator/wiki/NEST-Hackathon-01.07---03.07-2020). Our conclusions go like this:
* *Spike detection* in NEST is technically happening inside the neuron model (in the form of a threshold check or something similar). The device currently known as `spike_detector` is really only record

[2020-07-07 07:36] stinebuu commented on #1631
@harryHoward thank you for reporting this.

Unfortunately, I am not able to reproduce this on my Ubuntu 16.04 computer, so it might be a Mac problem. @heplesser could you try once you are back?

I think it should work with NEST 3.0 though, because here we no longer create several layers at once, you have to create and connect them separately. I have converted your example, so you could try using `

[2020-07-07 07:42] terhorstd commented on #1677
This is obviously a misconfiguration in your environment, since the error states **Python 3.7** not 3.8 as you would expect.
For a more detailed answer, it would help, if you fill the other sections of the issue template, especially: how can we reproduce your error, which environment are you running in (ubuntu? mac? conda? nest version?...)

[2020-07-07 08:08] daiminghuan commented on #1677
thank you!
My operating system is ubuntu20.04, I use conda to install nest, when i installed nest ,then create a new env, and then I activate the new environment, in the new environment, I use the conda list command to view the version of python, which is 3.8,
After that is what I said above.
By the way, the python version in the base environment is 3.7.

[2020-07-07 08:45] ikitayama opened #1683 "ImportError: No module named html"
During the execution of install target, I see:

[code]

[2020-07-07 09:02] clinssen opened #1684 "Merge precisemodule with modelsmodule"
Currently, the "precise" neuron models are built into a separate module ("precisemodule") from the regular neuron and synapse models (which are in "modelsmodule"). During the post-conference 2020 NEST Hackathon, it was suggested to merge the precise models in with the rest of the models.

Action points:
- [ ] Move files; update paths; fix the build
- [ ] Update model documentation for precise mode

[2020-07-07 09:34] espenhgn commented on #1678
Did some additional testing, and the same error occurs only with `-Dwith-mpi=ON` after disabling everything else but python (and doxygen), and using the `DMPI_C/CXX_COMPILER` options as suggested in INSTALL:
[code]
config. summary, which suggests that all MPI includes etc. are found:
[code]

[2020-07-07 11:39] BSVogler commented on #1657
I think there is a misunderstanding. I just meant that this code needs to be added to the documentation because the example code is not compatible. I can fix this by myself in the next weeks (currently busy with my thesis).

Your argument is solid. I suggest that your elaborated considerations should be documented somewhere. Right now the behavior changed and the users (like me) have to guess how

[2020-07-07 13:24] zbarni commented on #1508
Thanks for the detailed response, I think this should do it..

[2020-07-07 14:29] jarsi opened #1685 "hpc_benchmark.py fails with more than 30 mpi processes"
**Describe the bug**
For benchmarking purposes I heavily rely on the hpc_benchmark.sli model. I figured I could maybe give the python version nest-simulator/pynest/examples/hpc_benchmark.py a try and maybe it makes sense to switch to it in the long run. While setting up the benchmarking framework today I ran into problems when using more than 30 MPI processes, the jobs won't finish and are stuck.

[2020-07-07 15:20] jougs commented on #1657
Alright. We usually try to follow the principle of least surprise, which dictates that users don't have to guess.

@sarakonradi: I'm reassigning back to you and trust that you add something reasonable to the corresponding documentation. Feel free to mention me again if you have additional questions.

[2020-07-07 15:26] #1400 closed

[2020-07-07 19:57] Adam-Antios opened #1687 "NEST Installation Procedure"
I tried installing NEST in two Ubuntu 20.04 machines and I always got the same error

[code]

Searching I found dozen questions for the same problem and that is why I post this as a documentation improvement, because it is peculiar for this to keep happening all the time and especially in an operating system like Ubunty, in which the installation procedure should be a breeze. Probably extra steps

[2020-07-07 21:16] jougs commented on #1547
During my work on #1686, I have [seen](https://travis-ci.org/github/nest/nest-simulator/jobs/705926332#L7917) the same test fail. The reason for failure in my case was that I (accidentally) removed the setting of the environment variable `PYTHON` from `do_tests.sh`, which in turn lead to `run_tests.sh` not being able to execute Python tests in situations when PyNEST was not enabled. The fix for my

[2020-07-08 00:59] ikitayama commented on #1683
Can I use Python 2?

[2020-07-08 09:10] clinssen commented on #1683
Only Python 3 is supported.

Have you tried: ``sudo pip3 install html`` or ``pip3 install html``?

In case that solves the problem, we should make sure that the "html" Python package is included in the installation dependencies documentation.

[2020-07-08 09:13] ikitayama commented on #1683
Ah okay. My system HPE Apollo is configured to invoke Python 2 via
/user/bin/python.
Python 3 is called with pyhton3 command.

I’d like to avoid messing around my dev env, thus no pip at this moment.

On Wed, Jul 8, 2020 at 18:10 clinssen <notifications@github.com> wrote:

[2020-07-08 10:31] ikitayama commented on #1683
As I’ve been using NEST with -Dwith-python=OFF for some time, I’ve never cared about it the 2 and 3 differences. Other than installation do we assume python 3 presence somewhere else?

[2020-07-08 11:24] clinssen commented on #1683
The default recently changed to turn building of Python bindings on by default, instead of off by default as it was before.

If you don't need Python binding, you can still use ``-Dwith-python=OFF``.

I believe the only other location (besides PyNEST) where Python is used, is in the unit tests (cc @jougs).

[2020-07-08 20:30] jougs commented on #1683
The testsuite will only use the Python version configured through CMake to run the PyNEST tests. For all "normal" tests written in Python and for auxiliary tasks it uses the plain `python` command, whatever that might be. However, the testsuite will most likely fail unpredictably if that is a Python version < 3.5, as all workarounds for those have been removed from the code.

Please note that Pyth

[2020-07-09 01:08] ikitayama commented on #1683
@jougs I just checked in CentOS 8, Python 3 needs to be called with python3, not python. Is this specific to
CentOS and RHEL? Which distribution are you mainly on?

[2020-07-09 01:49] ikitayama commented on #1683
Ubuntu just installs python3 under /usr/bin, no python binary.

[2020-07-09 03:53] ikitayama commented on #1683
@jougs confirmation is appreciated as the assumption ```/usr/bin/python``` always calls Python 3 is not obvious to me.

[2020-07-09 05:35] terhorstd opened #1689 "Wrong Python in Travis MacOS build"
Travis error in python version of macOS build:
[code]

**To Reproduce**
Seen in recent builds [#4895](https://travis-ci.org/github/nest/nest-simulator/jobs/706305051) and [Travis build #4893](https://travis-ci.org/github/nest/nest-simulator/jobs/706137828)

**Expected behavior**
Python3 should be found, used and build succeeds

**Desktop/Environment:**
 - OS: travis MacOS build
   -  AMD64
   - Xc

[2020-07-09 05:51] terhorstd commented on #1687
Thanks for reporting this, @Adam-Antios! This should indeed be easy. Can you give some more context, so that we can help?
Particularly interesting would be the output of the commands:
* `python -v`
* `set | grep NEST` or `env | grep NEST` to see if the setup is run correctly

The usual thing would be to try logging in again to actually have the environment vars in your shell and try with `python3`

[2020-07-09 06:24] terhorstd commented on #1677
It looks like installing nest first, and then creating a new environment with a different python version might cause the problem. This is a well known thing for conda and is not very obvious at first. If something is not found in an environment, search falls back to the base environment. That is fine, as long as packages in base and sub environment are compatible. It is very fragile however, since

[2020-07-09 06:28] terhorstd commented on #1677
@sarakonradi, maybe we can add parts of this to the documentation. The conda docs may not be specific enough to understand these implications, so a page or paragraph for the case described here (and maybe also #1687) might help to avoid this type of problem.

[2020-07-09 10:01] daiminghuan commented on #1677
thank you ! I get it

[2020-07-09 19:41] Adam-Antios commented on #1687
There is no output from the first command because python is invoked by `python2` or `python3` so the output of `python3 -v` is:

[code]
The output of the second command, `set | grep NEST` is:

[code]
The output of the third command, `env | grep NEST` is:

[code]

The questions I mentioned are:

[First one](https://stackoverflow.com/questions/32040958/nest-simulator-python-says-no-module-named-nest

[2020-07-09 20:45] jougs commented on #1683
@ikitayama: actually, I can't point you to a resource saying that `python` is or should be working on all systems. It's just that no one ever complained and we thus assumed this is the case. However, you might well be right that we should explicitly use `python3` everywhere to be on the safe side.

@terhorstd: what do you think about this? You also tend to have opinions about these kinds of things

[2020-07-11 19:29] #1689 closed

[2020-07-13 06:44] ikitayama opened #1691 "omp_get_num_threads() returns always 1?"
I wonder if this is the case as I am seeing it with the binary built with LLVM on AArch64.

[2020-07-13 09:31] ikitayama commented on #1691
Whatever I change env var, ```OMP_NUM_THREADS``` to 4 or 48, I get something like below:

[code]

[2020-07-13 10:14] ikitayama opened #1692 "MPI job aborts"
For a job with tasks > 2 fails to execute:

[code]

[2020-07-13 11:02] ikitayama commented on #1692
A single MPI task job does run fine.

[2020-07-13 14:25] #1431 closed

[2020-07-14 10:40] ikitayama commented on #1691
I was setting nvp to 1.

[2020-07-14 10:40] #1691 closed

[2020-07-14 11:21] ikitayama commented on #1692
Again this is due to the nvp wasn't set properly (=1) when executing many MPI tasks.

[2020-07-14 22:47] #1692 closed

[2020-07-15 04:09] jougs commented on #1661
What about `<cmake_install_prefix>` as that (minus the caps) is also used when running CMake? This way we'd just re-use an existing term instead of introducing yet another one.

[2020-07-17 08:39] gtrensch commented on #1175
@clinssen #1282 is merged.

[2020-07-17 08:42] gtrensch commented on #1232
@DylanMuir does this work for you? Can we close this issue?

[2020-07-17 08:54] gtrensch commented on #1453
Closed due to inactivity. Please reopen if problem persists.

[2020-07-17 08:54] #1453 closed

[2020-07-17 14:34] BSVogler opened #1694 "cmake uses src and not build dir for files"
Following [this guide](https://nest-simulator.readthedocs.io/en/latest/installation/mac_install.html) I create a build dir and call cmake from it, pointing to the nest source root.
`cmake -DCMAKE_INSTALL_PREFIX:PATH=<nestinstall> -DCMAKE_C_COMPILER=/usr/local/bin/gcc-10 -DCMAKE_CXX_COMPILER=/usr/local/bin/g++-10 <nest source>`

Then the nest root directory is filled with files:

It should fill the

[2020-07-17 16:04] jougs opened #1696 "Use python3 instead of python wherever we run (or talk of) a Python interpreter"
Triggered by the discussion in #1683, I did some research, and found https://www.python.org/dev/peps/pep-0394, which in essence says that distributions may either install a `python` command (linking to whatever specific Python executable they deem right) or not, but in any case they have to make a specific command (i.e. `python3`) available that should link to a super-specific one (e.g. `python3.8

[2020-07-17 16:05] jougs commented on #1683
After some more research, I've created #1696. All further discussion should go there.

[2020-07-17 16:05] #1683 closed

[2020-07-20 07:34] sepehrmn commented on #1519
Started preparing it for a new pull request. should be this week.

[2020-07-21 09:46] terhorstd commented on #1687
You seem to mix a lot of different Python versions in your installation, this is not a problem of NEST, so we can not fix it.

The installation seems to be done against Python 3.7 (`NEST_PYTHON_PREFIX=/usr/lib/python3.7/dist-packages`), but you installed `libpython3.6-dev` packages, and all your python loads are packages from `/usr/lib/python3.8/`. Python does not see packages across different Pyt

[2020-07-21 12:03] jougs commented on #1618
We had an extensive discussion about this during our [last hackathon](https://github.com/nest/nest-simulator/wiki/NEST-Hackathon-01.07---03.07-2020). The conclusion is that this is too general to fix and we will thus close it. Please feel free to create new feature requests for *concrete* functionality that is missing in order to support certain use cases. Please also make sure to provide a minima

[2020-07-21 12:03] #1618 closed

[2020-07-21 12:23] terhorstd opened #1701 "MacOS builds find wrong Python version on Travis"
Travis fails with the following error message:
[code]

**To Reproduce**
see https://travis-ci.org/github/nest/nest-simulator/jobs/706434021

**Expected behavior**
Build on Travis should find a suitable Python version and succeed.

**Desktop/Environment (please complete the following information):**
 - OS: MacOS
 - Python-Version: Python 2.7 ?!?
 - NEST-Version: latest
 - Installation: Travis

[2020-07-21 21:42] lekshmideepu commented on #1701
https://github.com/nest/nest-simulator/pull/1700

[2020-07-22 12:21] BSVogler commented on #1701
#1700 is merged, but the mac build is still failing.

https://travis-ci.org/github/nest/nest-simulator/builds/710702237

[2020-07-23 09:06] terhorstd commented on #1210
@alcrene, are you sure this is supposed to work? Assuming you run all commands in that order that you wrote, the "nest works" section is all from the `nesttest` environment, right? If you register the python kernel, how does jupyter-lab know that it needs to activate the conda environment `nesttest`? Just using the python binary from a directory of a different environment won't work, since all pac

[2020-07-23 13:15] clinssen commented on #1696
I would like to provide a contrarian viewpoint. (You might know me from my earlier work on defeating PEP8 line length conformity.) Especially including the minor version number (e.g. the 6 in 3.6) would seem to set us up for documentation that gets outdated fast, and suggests something too specific (that 3.6 is the only version that can be used). If we make it clear in one central place (installat

[2020-07-23 14:21] clinssen commented on #1696
For clarification: I understand that the suggestion is to change mentions of ``python`` to ``python3``, rather than to, say, ``python3.6``. I am OK with this!

[2020-07-23 22:23] ikitayama commented on #1696
👍

On Thu, Jul 23, 2020 at 23:21 clinssen <notifications@github.com> wrote:

[2020-07-25 13:43] Helveg commented on #1289
@jessica-mitchell @Silmathoron I'm now at 1494 points, 1 last upvote away from being able to create the tag. Can this be reopened as I think we should discuss how the NEST community wants to start using StackOverflow as a communication channel.

I think it has many distinct advantages over any other channel currently available to NEST users:
* Permanent record on the internet.
* Easily findable wi

[2020-07-27 10:43] sarakonradi commented on #1289
Bringing @jougs, @clinssen and @terhorstd into this, in case there are any thoughts or comments.

[2020-07-28 07:34] hakonsbm commented on #1489
@danxan The fix for this issue will be part of NEST 2.20.1, which is not released yet.

[2020-07-28 08:11] alcrene commented on #1210
It's definitely supposed to work :-P. Once you've registered a kernel, it shows up in the launcher; you can also change the kernel used by a particular notebook by clicking in the top right kernel. In fact, registering a kernel in this way is the *only* way to use a virtual environment from within Jupyter. If you simply

    conda activate nesttest
    conda install jupyterlab
    jupyter lab

thi

[2020-07-28 20:59] Adam-Antios commented on #1687
The problem is that I have not installed any version of Python, all those came with Ubuntu so this is the default Python environments. Anyway I will try what you suggested, thanks.

[2020-07-29 11:39] cristianoalessandro opened #1703 "Segmentation fault when calling nest.Simulate() after importing mpi4py"
**Describe the bug**
Segmentation fault if I call nest.Simulate after importing mpi4py

**To Reproduce**
[code]

**Desktop/Environment (please complete the following information):**
 - Ubuntu 16.04
 - Python 3.6.9
 - nest-2.18
 - Installation: with MPI, OpenMP and MUSIC as follows:
[code]

**Additional context**
Nest, mpi4py and MUSIC are installed in a pyenv environement. Installation of mpi4py w

[2020-07-29 18:56] cristianoalessandro commented on #1703
I switched the import statements and I do not get the segmentation fault anymore.

[code]

Whould would nest be imported first? This is a bug in nest that should be resolved!

[2020-07-29 21:31] #1600 closed

[2020-07-29 21:31] #1701 closed

[2020-07-31 08:31] gtrensch commented on #1175
@clinssen Are there any updates on this?

[2020-07-31 09:03] terhorstd commented on #1629
This is to a large degree a duplicate and/or part of #291. Closing this, please comment there, if necessary.

[2020-07-31 09:03] #1629 closed

[2020-07-31 09:34] #1657 closed

[2020-07-31 09:39] jougs commented on #1175
After recent discussions with @terhorstd and others, I am not sure anymore if the first and third point actually have a majority of the developers on their side. We should definitely bring this up again in one of the video conferences. I have a working prototype of the fourth point and the second should also be relatively easy to fix. As I'm working on this already, I'm re-assigning to myself.

[2020-07-31 10:22] gtrensch commented on #1694
@BSVogler The CMake command looks correct so far. The files should be copied to your build directory into the specified folder <nestinstall>. Can you send us the CMake output? It reports on the folders that CMake uses. Is it correct that the platform is macOS?

[2020-07-31 10:42] gtrensch commented on #1678
@espenhgn Thanks for reporting this! We will look for OSX expertise on this.

[2020-08-01 07:03] #1696 closed

[2020-08-04 08:26] BSVogler commented on #1694
Yes, I use macOs.
I guess only the last line is of interest, which confirmed my suspicion that is wrong. Note that I run it from `build` and point the source dir to the parent dir (`../`).

[code]

[2020-08-04 12:55] terhorstd commented on #1661
After some discussion @sarakonradi, @steffengraber and I concluded that `<nest_install_dir>` would be most appropriate:
* very general that can also be used in other explanations not related to cmake, e.g. `source <nest_install_dir>/bin/nest_vars.sh`
* it is (minus the caps) also the env variable exported by `nest_vars.sh`, so it
  *  does not introduce a new name
  * it is equal to the name for n

[2020-08-04 13:23] terhorstd commented on #1289
This was discussed in the [open developer meeting](https://github.com/nest/nest-simulator/wiki/2020-08-03-Open-NEST-Developer-Video-Conference) and we decided to more actively encourage our community to become active on StackOverflow. For this creating a `nest-simulator` tag could help to focus our attention directly from the beginning. So, @Helveg, please go ahead if you can, we will all join in.

[2020-08-04 19:22] heplesser commented on #329
@clinssen It is unfortunate that any neat scheme will collide with reality sooner rather than later. I would want to take this topic up in a developer meeting. One approach could be to try to find out who created and where it was first published, so that we could base our naming on that paper. Otherwise, I'd prefer `hh_brette_2007_beta_gap`, because the model is a derivative of `hh_brette_2007`.

[2020-08-04 19:26] #1610 closed

[2020-08-04 19:53] heplesser commented on #1508
@zbarni Can this issue be closed then? Feel free to close it yourself!

[2020-08-04 21:14] heplesser commented on #1678
@espenhgn I can reproduce your error when using you conda environment, but all works fine when building NEST using GCC from Homebrew. I will explore more. Something is probably going wrong about the conditional PyNEST inclusion in `neststartup`.

[2020-08-05 06:23] stinebuu commented on #1508
@heplesser I think we should wait for #1564 to be merged! :)

[2020-08-05 07:00] stinebuu opened #1708 "synapse_label argument for GetConnection"
**Describe the bug**
When working on #1669, I noticed that calling `GetConnections()` with the `synapse_label` argument, an empty `SynapseCollection` is returned, which should not be the case. See the reproducer below.

On PyNEST level, there doesn't seem to be an easy way to find the `synapse_label` of a synapse (for #1669 I used `nest.ll_api.sli_func('synapsedict')` to get a dictionary with `syn

[2020-08-05 07:23] espenhgn commented on #1678
Hi @heplesser, thanks for confirming. I'm not using homebrew (for reasons discussed for example here: https://saagarjha.com/blog/2019/04/26/thoughts-on-macos-package-managers/) but macports which should be self contained. A similar compile error results also with GCC, python3.8 etc. provided by macports, so the issue is not only occurring with conda:
[code]
Config summary
[code]
make error:
[code]

[2020-08-05 08:09] stinebuu commented on #1708
Just realized that `synapse_label` and `synapse_id` is not the same thing.. My bad!

[2020-08-05 08:09] #1708 closed

[2020-08-05 08:19] #1685 closed

[2020-08-05 08:30] stinebuu commented on #1670
@jougs, @terhorstd Do you know if anybody is working on this? It should probably be worked on so we can release 2.20.1.

[2020-08-05 11:11] hakonsbm opened #1710 "Connect with NumPy arrays of node IDs does not work with MPI"
#1429 added the possibility to use `Connect` with NumPy arrays of node IDs. However it doesn't work when using multiple processes with MPI. In addition to making that work, a unittest of `Connect` with NumPy arrays of node IDs should be added.

[2020-08-05 15:38] heplesser commented on #1678
@espenhgn Thanks for checking! I have now managed to narrow it down further. The problem is introduced by MPI4Py (which I did not have available in my Homebrew environment). If MPI4Py is available, then `neststartup.cpp` calls functions provided by MPI4Py, but `libnest.dylib` is not linked against a suitable mpi4py library. I seems one also needs to link against `libpython3.8.dylib`.

Does this/ho

[2020-08-05 15:58] espenhgn commented on #1678
That sounds odd. Should'nt it use the corresponding communicator definition from `mpi.h` wrapped by mpi4py instead?

[2020-08-05 16:47] Helveg commented on #1289
Ok! I have the reputation for it, but to create it seems I have to use it in a question I ask. So any candidates for the first `nest-simulator` question?

[2020-08-05 17:00] Helveg commented on #1289
Well, it's done, here's the tag: https://stackoverflow.com/questions/tagged/nest-simulator

And my question: https://stackoverflow.com/questions/63270027/how-can-the-connection-model-be-specified-for-the-nest-connect-call-in-the-nest

[2020-08-05 17:19] Helveg commented on #1289
We need to create a short _tag description_ and a more complete _wiki page_. See https://stackoverflow.com/tags/nest-simulator/info. I just quickly entered some text so that the tag won't be cleaned up by the moderators and I've started tagging relevant questions with it to demonstrate that it has value on StackOverflow.

Still I think you should write a better, more official description. You migh

[2020-08-06 12:22] heplesser commented on #1289
@Helveg I have watched the tag now. SO asks me to help create tag info, but when I follow that link it takes me to a page where I cannot edit anything :(.

[2020-08-06 12:28] Helveg commented on #1289
Yea that could be an issue with your reputation points, if you have improvements send them to me and I'll make the edit. My edits also need to be approved by moderators so let's make the edits count :)

[2020-08-06 14:59] espenhgn opened #1714 "test_connect_all_patterns.py is broken with mpi4py"
**Describe the bug**
test_connect_all_patterns.py test file is broken if mpi4py is correctly installed.
TravisCI skips this test as mpi4py is not found, see e.g, https://api.travis-ci.org/v3/job/715501240/log.txt, which may explain why the error below hasn't been captured:
[code]
The basic issue is that `subprocess.Popen` is attempting to run an MPI job ("mpirun -np 2 nosetest <test file>") from a

[2020-08-09 22:10] jougs commented on #1670
I am not working on it and am not aware of anyone who is.

[2020-08-09 22:32] #910 closed

[2020-08-10 09:25] hakonsbm commented on #1714
I seem to remember that there was a rewritten Python MPI test in #1071 that probably works better than the current test. Solving this issue might then be as easy as replacing the current test with the one from #1071.

[2020-08-10 11:41] Kodemannen commented on #1489
Hey

I think I am having the same issue, but it happens even if I don't use nest.GetConnections().

Just a simple simulation of an interconnected network of >= 5 neurons will cause the error. The following snippet produces it:

`
import nest

n = 5
simtime = 10

neurons = nest.Create("iaf_psc_alpha", n)
nest.Connect(neurons, neurons)

nest.Simulate(simtime)
_`_

Any idea when the next release will

[2020-08-10 13:39] #345 closed

[2020-08-10 13:39] #1181 closed

[2020-08-10 13:39] #1652 closed

[2020-08-10 15:34] #1684 closed

[2020-08-10 21:04] terhorstd commented on #1703
Hi @cristianoalessandro,
thanks for reporting this. Somehow this sounds very familiar, it may already be solved in 2.20.0, could you confirm with the newer version?

[2020-08-10 21:57] jougs opened #1717 "[DESIGN] Refactoring the extension module system"
The SLI Interpreter encapsulates a certain portion of its extended functionality in *modules*, which consist of some C++ code, implementing new commands, and (optionally) some bundled `.sli` file(s) for type checking and handling function overloading. All such modules derive from `SLIModule` and are added to the interpreter at compile-time by calling `SLIInterpreter::addmodule()`.

At some point i

[2020-08-11 00:13] gtrensch commented on #1717
Reducing SLI dependencies sounds like a good plan to me. 👍

[2020-08-11 06:18] terhorstd commented on #1717
:+1: yes, the dependencies are currently the wrong way around, which -as you mention- leads to unintuitive difficulties again and again. Thanks for taking a look at this and tidying up the long grown thicket.

[2020-08-11 14:19] heplesser commented on #1717
@jougs Thank you for describing this issue in detail and proposing a clean solution. I think converting, e.g., `ModelsModule` to a `NESTExtension` seems very sensible. One point I am wondering a little about is that of granularity: Should we collect, e.g., all neuron, device and synapse models that ship with NEST in a single extension, or should we create more focused extensions?

Concerning names

[2020-08-11 14:47] jougs commented on #1717
@heplesser: These are very good points. I like the name `NESTComponent` quite a lot. It also fits perfectly with an idea that I am currently pondering with @clinssen: What, if we used a much more fine-grained approach for these components, namely if we eliminated collective modules altogether and instead made each and every component (a neuron model, a connection rule, a recording backend) by itse

[2020-08-11 20:15] heplesser commented on #1717
This is a very interesting idea. In common current models, you probably have 1-2 neuron, 1-2 synapse and 2-5 device models, so in all 5-10 different entities that would require importing. In more complex models the number may be greater. I wonder a little about the overhead of importing, say 20-50 shared libraries in a very large distributed simulation of a complex brain model. And how would the u

[2020-08-11 20:23] jougs commented on #1717
I guess the answer would be that the user does not tell NEST to load the component at all, but it would be inferred from the function calls themselves. That is if NEST encounters a call to `Create` and does not know the neuron model it shall instantiate, it could automatically try to load the corresponding library. The same would be true for connection rules, recording backends and all other types

[2020-08-11 21:30] #1670 closed

[2020-08-12 15:04] sarakonradi opened #1719 "Revise Eclipse workflow"
This issue addresses the Eclipse workflow, which needs to be updated and moved from the ``gh-pages`` branch to ``doc/contribute`` in ``master``.

It follows up on the discussion in #1707.

[2020-08-12 19:21] espenhgn commented on #1714
@hakonsbm, looks like `test_mpitests.py` (https://github.com/nest/nest-simulator/blob/master/pynest/nest/tests/test_sp/test_mpitests.py) uses `subprocess.call` instead of `subprocess.Popen`. Did some local testing and it seems to work fine. I can create a PR. I think getting mpi4py installed on TravisCI is a simple matter of pip installing it instead of using the deb package.

[2020-08-13 22:10] lekshmideepu commented on #1714
@espenhgn  yes, you could use pip install mpi4py. In fact, this was available earlier as you could see in this [PR](https://github.com/nest/nest-simulator/pull/789). Later somehow it has been replaced by this [package](https://github.com/nest/nest-simulator/blob/master/.travis.yml#L111) in the whitelist.

[2020-08-14 07:39] gtrensch commented on #1232
Closed due to inactivity.

[2020-08-14 07:39] #1232 closed

[2020-08-14 08:37] terhorstd commented on #1694
This is the main problem. It has been seen before, e.g. in #1641

[2020-08-14 08:59] francesshei opened #1722 "Make installcheck fails on SLI execution"
Hello everyone,
I'm having troubles installing NEST 2.18.0 on top of a previous version of NEST (2.12.0).
I know it should be better to proceed with a fresh install, but I have to substitute the NEST version inside the Human Brain Project's Neurorobotics Platform (NRP): since the NRP is a collection of different software components I didn't want to delete its folder containing NEST to avoid future

[2020-08-14 09:18] #1677 closed

[2020-08-14 09:43] espenhgn commented on #1714
#1720 has been merged. Closing.

[2020-08-14 09:43] #1714 closed

[2020-08-16 16:17] dizcza commented on #1242
@gui-miotto I'm getting an error running your code.

[code]

How to run your code and get the figures?

I found a [similar issue](https://github.com/nest/nest-simulator/issues/651), but the solution is not described there. (The answer refers to some "proxies"; I looked them up on NEST readthedocs and could not find any info about proxies except MUSIC.)

[2020-08-17 09:09] gui-miotto commented on #1242
Dear @dizcza , this code can only be run on v<=2.16. This is because the fix for this issue was to forbid a direct connection between devices and volume transmitters, as explained by @janhahne (quoted bellow). That is why you are seeing this exception (IllegalConnection). Nevertheless, if you still want to run my example code on v.2.20, you have to insert a Parrot neuron between the device and the

[2020-08-17 09:44] gtrensch commented on #1694
Yes you are right, in your settings CMake should point to `/Users/benediktvogler/Studium/Masterarbeit/nest-simulator/build`. I tested this on Ubuntu with CMake 3.13.4 and it works as expected. Since CMake remembers the settings in its cache, it might be worth to check this, i.e. delete all the files created by CMake and run the build again.

[2020-08-17 09:50] jougs commented on #1547
@heplesser: ping!

[2020-08-17 09:53] BSVogler commented on #1694
To confirm that I got you correctly: You can not reproduce?

[2020-08-17 10:02] BSVogler commented on #1694
I deleted everything with `git clean -d -f -x` and reissued the command. Now it works. So it was some caching issue.

[2020-08-17 10:02] #1694 closed

[2020-08-17 11:53] dizcza commented on #1242
@gui-miotto thank you
Do you mean something like this
[code]
?

[2020-08-18 08:37] gui-miotto commented on #1242
Yes. Does it work?

[2020-08-18 11:35] dizcza commented on #1242
Yes, it works in terms of it reproduces the figures.
Thanks.

[2020-08-18 13:09] #797 closed

[2020-08-18 13:09] #805 closed

[2020-08-18 13:09] #1028 closed

[2020-08-19 07:39] heplesser commented on #1722
@jougs Could you take a look a this?

[2020-08-19 08:29] jougs commented on #1722
@francesshei: I am afraid this is the kind of things you have to deal with if you mix old and new installations... So the short answer is: don't! Always do fresh installs.

My somewhat longer suggestion is to at least move the old installation out of the way temporarily and make sure no environment variable (from the top of my head `PATH`, `LD_LIBRARY_PATH`, `NEST_DOC_DIR`, `NEST_DATA_DIR` and `NE

[2020-08-19 08:58] francesshei commented on #1722
Thanks @jougs for the suggestions!
Some environment variables that you mentioned were indeed referring to a system-wide NEST installation so that is something to fix.
The ```nest_vars.sh``` were not supposed to be the old ones as I added the path the ```cmake``` output was telling me, but I might have misunderstood that command.
I can't look for old installation trace as I'm back with the original

[2020-08-19 09:05] heplesser commented on #1547
@jougs Works well for me now, too, so I will close the issue.

[2020-08-19 09:05] #1547 closed

[2020-08-19 21:05] jougs commented on #1722
Usually one only sets `nest_vars.sh` *after* the installation to make the `nest` executable and Python module available without having to type their full path. Because you want to install over an existing installation, your old *existing* installation is in the same directory as the *new* one will be in. This can lead to old versions of libraries (and their symbols) being picked up during compilat

[2020-08-19 21:05] #1722 closed

[2020-08-19 21:07] jougs commented on #346
I'm closing this now as it is more than stale. We can re-open it in case anyone ever complains. RIP.

[2020-08-19 21:07] #346 closed

[2020-08-19 21:21] jougs commented on #1454
Argh! This somehow made it well off my radar.

As explained in [the guide on running simulations](https://nest-simulator-jougs.readthedocs.io/en/latest/guides/running_simulations.html#splitting-a-simulation-into-multiple-intervals) you shall not call `Simulate()` multiple times if you want to do do repetitive small simulations, but it is much more efficient to call
[code]
Alongside the calls to `R

[2020-08-20 05:40] heplesser opened #1725 "MPI tests may fail due to lack of CPUs / missing --oversubscribe"
**Describe the bug**
MPI tests in the testsuite may fail if they need more parallel processes than the MPI installation is configured for. This happens easily on laptop computers with 2-4 cores, since many MPI tests need 4, some even more processes.

**To Reproduce**
Execute `make installcheck` on a computer with at most 4 cores and an MPI configuration that does not allow oversubscription. This i

[2020-08-20 07:47] #1678 closed

[2020-08-20 13:31] #1669 closed

[2020-08-20 13:41] #1523 closed

[2020-08-21 06:30] heplesser opened #1727 "Revise PyNEST documentation for GetStatus and get()"
**Describe the flaw**
The current documentation for `nest.GetStatus()` is incorrect and confusing, especially the description of return values. `GetStatus()` always returns a tuple (or JSON array). The documentation of `NodeCollection.get()` should also be clarified.

**Suggest an improvement**
Properly describe the various possible return values and include examples.

[2020-08-21 09:29] brenthuisman opened #1728 "Conda install: one_neuron.py example dumps core."
**Describe the bug**
I've installed Nest through conda: `conda install -c conda-forge nest-simulator`.

I've taken a simple example from the docs: <https://nest-simulator.readthedocs.io/en/latest/auto_examples/one_neuron.html>. Running this example gives the following output:

[code]

This is in an otherwise clean conda environment. The error doesn't tell me enough to troubleshoot myself, so I pos

[2020-08-21 12:57] hakonsbm opened #1729 "Running hpc_benchmark.py with multiple processes raises an error"
Because of changes to NodeCollections, running hpc_benchmark.py with multiple processes raises an error:
[code]
This is because `nest.GetLocalNodeCollection()` slices the NodeCollection and returns a composite NodeCollection with step > 1.

The relevant slicing in in hpc_benchmark.py, here:
https://github.com/nest/nest-simulator/blob/7871dd145e8bee74045fd2468fd9be2d0d0cb913/pynest/examples/hpc_ben

[2020-08-21 13:32] hakonsbm opened #1730 "Printing a sliced composite NodeCollection shows wrong model and node ID"
**Describe the bug**
When a sliced composite NodeCollection is printed, it may show wrong model and node ID.

**To Reproduce**
[code]

**Expected behavior**
The above example should print
[code]

[2020-08-24 06:31] #1522 closed

[2020-08-24 10:16] jougs opened #1731 "Deprecate CGConnect for NEST 3"
The title has it all.

[2020-08-24 19:23] jougs commented on #1130
The problem here is really that the PyNEST testsuite is a submodule of the `nest` Python module. This leads to a situation where importing any test always imports `nest` and thus initializes MPI. If the test in question is now just a *meta-test* importing and running other tests, this might lead to recursive MPI initializations, that don't go well with all implementations.

The only solution to th

[2020-08-24 19:24] jougs commented on #1175
The fourth point is now [described as the solution](https://github.com/nest/nest-simulator/issues/1130#issuecomment-679318588) to #1130.

[2020-08-24 19:26] jougs commented on #1175
As this is more controversial than expected and several points were/are addressed in separate issues, I'm closing this ad *wontfix*.

[2020-08-24 19:26] #1175 closed

[2020-08-24 19:31] heplesser commented on #1130
@jougs Thank you for the analysis! The distinction between *meta-test* (test runner) and test proper is very useful. We should think about intelligent and robust ways of doing this. Our current setup, also of the SLI-based MPI-tests, is certainly not ideal. I have no objection to moving the PyNEST tests out of the `nest` module.

[2020-08-24 21:10] jougs commented on #1130
@heplesser: I already have a prototype ready for this and will assemble a PR, once I'm done with #1717.

[2020-08-25 12:43] brenthuisman commented on #1630
Not sure if this is the right place, but since the NeuroFedora [Issues repo](https://github.com/neurofedora/Issues/issues) seems very quiet, I post this also here in the hopes in case someone can use the information.

On a fresh Fedora 32, I ran `sudo dnf install python3-nest`. Starting Python and then `import nest`, I get the following:
[code]

I tried the above with also either the `python3-nest

[2020-08-25 13:05] sanjayankur31 commented on #1630
No, your issue isn't related to this one here. I'm looking at your bug report now (Bugs against neurofedora packages should be reported to the Fedora bugtracker here: https://bugzilla.redhat.com/enter_bug.cgi?product=Fedora&component=nest , similar to how different Linux distributions all have their separate downstream bug-trackers)

[2020-08-28 10:20] #1729 closed

[2020-08-28 21:12] johnhongyumeng opened #1738 "Failure to install GLIF module"
Dear Contributors,

I'm trying to work on the Allen visual cortex model, which requires the glif module. I'm using Ubuntu 20.02 system and I installed the latest version of NEST by anaconda with python 3.8. I have installed libtools.

However, when I try to use the following command to install glifmodule

cmake --Dwith-nest=nest-config -Dwith-ltdl=ON [-Dwith-mpi=ON] ../GlifModel

as mentioned in t

[2020-08-31 03:40] sepehrmn commented on #1519
Finishing and will be up by the end of this week for peer review. Closing the issue.

[2020-08-31 03:40] #1519 closed

[2020-08-31 20:21] jougs commented on #820
@clinssen: Whats your take on @heplesser's [comment](https://github.com/nest/nest-simulator/issues/820#issuecomment-481217978)? Would this kind of third-factor plasticity be currently feasible in NESTML? Thanks!

[2020-09-01 14:51] clinssen opened #1742 "Remove stray files in models directory"
In the `models` directory, there are two files named [`script_add_group.sh`](https://github.com/nest/nest-simulator/blob/master/models/script_add_group.sh) and [`sli_examples.txt`](https://github.com/nest/nest-simulator/blob/master/models/sli_examples.txt). These look like they can be removed. If someone (possibly from the docteam) could confirm, I will file a PR removing them.

[2020-09-02 08:31] jougs commented on #1742
These files were indeed added by accident. Please go ahead and remove them. Thanks!

[2020-09-02 08:37] jougs commented on #1738
Is there a specific reason you're compiling the module yourself, instead of relying on the most current version of the models that are built into NEST (as the [GLIF2NEST README](https://github.com/AllenInstitute/GLIF2NEST#update) suggests)? See #1126 for the PR in which they got merged.

[2020-09-02 08:52] hakonsbm opened #1743 "Error with PyNEST installation on Travis"
All builds on Travis currently fail in the PyNEST installcheck stage, because of some installation error:

[code]
This may be related to the changes in #1623, but Travis has only started failing recently.

During `make install` there's the following error
[code]

@lekshmideepu @jougs Can you take a look at this?

[2020-09-02 08:56] jougs commented on #1725
I don't think so. Old versions of at least OpenMPI don't support this

See above. On Travis, we are already adding `--oversubscribe` for the builds that need it.

I don't know, but don't think so.

Aren't cases like these exactly the reason we made the SLI `mpirun` command configurable by the user? We won't ever be able to set it correctly for *all* users. In this specific instance of the problem,

[2020-09-02 09:22] jougs commented on #1743
I'll have a look later today. Thanks for the investigation.

[2020-09-02 11:44] johnhongyumeng commented on #1738
Dear Jochen,

Thanks for replying!

I am trying to run a model for V1 in mice, developed by Allen Institute.
The description of the model is in
https://portal.brain-map.org/explore/models/mv1-all-layers.

The model is based on the GLIF model. I downloaded their data and run the
code based on their description in
https://www.dropbox.com/sh/w5u31m3hq6u2x5m/AACpYpeWnm6s_qJDpmgrYgP7a?dl=0&preview=READ

[2020-09-02 11:59] jougs commented on #1738
What I wanted to say is that you don't need the `glifmodule` anymore, because the neuron models contained in it have been integrated into NEST proper when #1126 was merged. This means that you must not call `nest.Install('glifmodule')` in your simulation script, as that module does not exist. The models should nevertheless be available.

[2020-09-02 12:04] johnhongyumeng commented on #1738
Thanks so much! I will test that by removing the line. Otherwise I will
contact the authors of the model. As soon as I find out a solution, I will
close the issue on Github.

Best,
John

On Wed, Sep 2, 2020 at 8:00 AM Jochen Martin Eppler <
notifications@github.com> wrote:

[2020-09-04 11:41] #1575 closed

[2020-09-04 13:51] #1616 closed

[2020-09-04 14:11] #1742 closed

[2020-09-05 01:57] ikitayama opened #1746 "Your Cython version is too old. Please install newer version (0.19.2+)"
On Linux I get the following error while trying to reproduce Carlos's error:

[code]

... although I have Cython `0.29.21` loaded via Spack.

[2020-09-07 07:42] #1290 closed

[2020-09-07 10:05] lekshmideepu commented on #1743
I think I know what the problem is. I would do some trial and error..

[2020-09-07 10:06] jougs commented on #1743
@lekshmideepu: Great! Just let me know if you need any help with this.

[2020-09-07 12:01] jougs commented on #1746
What does `which cython` and `cython --version` give you? Can the Spack-installed version be found properly?

[2020-09-07 12:07] jougs commented on #1743
@clinssen: Could this maybe be solved by a patch similar to the one from https://github.com/nest/nestml/pull/557?

[2020-09-07 21:55] ikitayama commented on #1746
@jougs looks like it is not installed properly.

[code]

[2020-09-07 22:43] jougs commented on #1731
Fixed by #1737

[2020-09-07 22:43] #1731 closed

[2020-09-07 22:45] jougs commented on #1743
I am afraid that this was just a glitch in the matrix and is gone now. I'm therefore closing.

[2020-09-07 22:45] #1743 closed

[2020-09-07 22:47] #1725 closed

[2020-09-08 05:46] ikitayama commented on #1746
Spack seems to install `cython, cython-2, and cython-2.7,` does NEST assume just cython?

[2020-09-08 11:08] #1661 closed

[2020-09-08 14:17] #1663 closed

[2020-09-08 22:17] ikitayama commented on #1746
Cython Spack package is being fixed in https://github.com/spack/spack/pull/18572

[2020-09-09 03:17] ikitayama commented on #1746
The issue is fixed in the Spack develop branch and now I am able to configure NEST with Python (Cython).

[2020-09-09 03:17] #1746 closed

[2020-09-11 09:45] terhorstd commented on #1687
OK, that sounds like a genuine bug in the PPA package.
@steffengraber, could you have a look at this?

[2020-09-11 09:58] gtrensch commented on #1649
@ikitayama  Has this problem been resolved and can it be closed?

[2020-09-11 10:03] ikitayama commented on #1649
Sure yes please

On Fri, Sep 11, 2020 at 18:58 Guido Trensch <notifications@github.com>
wrote:

[2020-09-11 10:04] terhorstd commented on #1184
The g++ compiler understands the -Wall option. If you have a compiler that doesn't, the compiler could be fixed or wrapped. I think for such a general flag that breaks only with a very specific compiler, we would not want to explicitly branch in the NEST code-base.

Since a work-around exists, I am closing this issue.

[2020-09-11 10:04] #1184 closed

[2020-09-11 10:07] terhorstd commented on #1612
This is also interesting in the context of #1589.

[2020-09-11 10:07] ikitayama commented on #1184
+1

On Fri, Sep 11, 2020 at 19:04 Dennis Terhorst <notifications@github.com>
wrote:

[2020-09-13 19:33] Helveg opened #1752 "Can't build NEST with Python 3.8 on Travis CI"
**Describe the bug**
During the build it reports `Python.h` is missing. This was not the case on other versions. CMake also reports that it can find the Python interpreter, includes and libs. I also installed `python3.8-dev` (which should include Python.h) to be sure.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following script on Travis CI (Ubuntu 18.04, Python 3.8):

[code]

**

[2020-09-14 09:49] terhorstd commented on #1649
Thanks

[2020-09-14 09:49] #1649 closed

[2020-09-14 10:20] sarakonradi opened #1754 "Add description for "Two neuron example""
The ``twoneurons.py`` example is currently lacking a description and instructions (please see ``one_neuron.py`` as example).

One neuron: https://github.com/nest/nest-simulator/blob/master/pynest/examples/one_neuron.py
Two neuron: https://github.com/nest/nest-simulator/blob/master/pynest/examples/twoneurons.py

[2020-09-14 10:25] BSVogler opened #1755 "Dump and Load"
This issue is intended as a starting point for a discussion in the [hackathon](https://github.com/nest/nest-simulator/wiki/NEST-Hackathon-14.09-18.09-2020).

Following suggestion #1618, the problem of supporting iterative runs remains unsolved.
The current iterative workflow looks like this:

![suggestion for dump nest impl](https://user-images.githubusercontent.com/801818/93072372-9472ff80-f681-1

[2020-09-14 14:18] #1563 closed

[2020-09-14 14:21] stinebuu commented on #1570
As #1536 and #1539 is merged and #1563 is closed, it seems like all related PRs and issues are either merged or closed. I am therefore closing this issue. Thanks to all who contributed!

[2020-09-14 14:21] #1570 closed

[2020-09-14 16:20] terhorstd opened #1757 "Development workflow description"
Currently the developer description explains how to download the sources and coding guidelines, which only is the starting point of development. Just following one of the installation guides is not enough to set up and work in a development environment.

The documentation should also contain descriptions how to do a local test-install and run the tests (also for single tests). It should list the a

[2020-09-14 16:30] terhorstd commented on #1612
The development dependencies  (#1757) maybe are different from the build dependencies.

[2020-09-15 06:40] heplesser commented on #1010
@carlosengutierrez @ikitayama It has been a while since we discussed this issue. Could you provide me with a current status on which numerics-related switches you currently use on Fugaku and how well they work for you? If you have a good solution, we should probably integrate it into the CMake Platform file for Fugaku.

[2020-09-15 06:53] heplesser commented on #820
To expand a little on my comment from 1.5 years ago: If this model including tests can be built with NESTML in the near future, that would be a way to go. If not, we need to write tests for the model as is.

[2020-09-15 06:56] ikitayama commented on #1010
@Hans Ekkehard Plesser <hans.ekkehard.plesser@nmbu.no> IMO Carlos should
carry check if that's the case on Fugaku as well, and take care whatever it
needs.
Thanks,
Itaru.

On Tue, Sep 15, 2020 at 3:40 PM Hans Ekkehard Plesser <
notifications@github.com> wrote:

[2020-09-15 07:04] heplesser opened #1758 "Document need for --oversubscribe with new MPI versions"
**Describe the flaw**
This is a follow-up to #1725. With new MPI versions, running `make installcheck` may result in failing MPI tests when the computer running the tests has too few cores. This can be fixed easily, but not generally (see comment by @jougs in #1725) by adding the `--oversubscribe` option.

**Suggest an improvement**
Installation documentation (near `make installcheck`) should poin

[2020-09-15 07:39] carlosengutierrez commented on #1010
@heplesser @ikitayama  I will test the issue on Fugaku after I install NEST using the Fujitsu compilers. We have a public link of our installation if you want to test it as well (or make SVE available 😄 🙏): https://public.3.basecamp.com/p/ndiFoxLpq5U4hnbVE2YqTxDK
Thanks, Carlos.

[2020-09-15 12:36] stinebuu opened #1759 "Remove obsolite volume mask"
For 3D layers we have two types of box-masks, `box` and `volume`. It looks like the volume mask is only there for backward compatibility.

https://github.com/nest/nest-simulator/blob/a902eaccc61f76b718d064b62f6770a5619de58a/nestkernel/nestmodule.cpp#L3016-L3017

The volume mask is not documented, we only document the box mask, but it is used in 3 spatial examples, [test_3d.py](https://github.com/n

[2020-09-15 13:24] lekshmideepu commented on #1752
I herewith confirm that I could reproduce the behaviour with your script. On the other hand, I am unable to reproduce the error using Python3.8.1 using our  travis build script

[2020-09-15 14:03] clinssen commented on #820
Me and @YounesBouhadjar will write a unit test that:

- generates random spike times: pre, post and dopa (but will also test some edge-case predefined times, such as pre and post spikes occurring at the exact same time)
- Runs a NEST simulation with three nodes and a volume transmitter with these spike times, obtain weight recording;
- Runs a Python sim with these spike times
	- precise integratio

[2020-09-15 15:00] Helveg commented on #1752
Hmm, I'll just steal yours then ;p

[2020-09-15 19:45] lekshmideepu commented on #1752
Please let me know how it goes :-)

[2020-09-15 22:24] jougs commented on #1758
I'm really not quite sure if we should have such implementation-specific information in our manuals in such detail. At least on my machine, I get the following extensive error message if I'm not setting `--oversubscribe` explicitly:
[code]
I guess it does not get any more explicit about what to do now than this already is. Of course this all depends a lot on the implementation, but I would rather

[2020-09-15 22:49] #1730 closed

[2020-09-16 07:54] stinebuu commented on #1759
Decision from NEST hackathon 16/09/2020: Remove `volume` mask, as we do no not have a policy for backward compatibility for topology, and topology is at any rate removed in NEST 3.0. I will also have a look and see if `register_mask` really need a name argument.

[2020-09-16 11:29] heplesser commented on #1758
@jougs, I agree with you as long as the user is sufficiently IT-competent. I am wondering about a biologist who installs NEST, maybe even with Conda/Brew/... and then runs `make installcheck`. How much sense would such a user make out of the (very clear) message from OpenMPI? @sarakonradi, what do you think?

[2020-09-16 12:12] jougs commented on #1758
I would expect a certain IT competence in users want to use MPI on systems where they have to deploy NEST themselves... If they get into trouble, we always have the mailing list and if there's a lot of similar requests, we could still add documentation specifically. If there are none, I'd assume that no one has a problem.

[2020-09-16 18:25] sarakonradi commented on #1758
I agree! For now, I am also not sure if these implementation-specific details fit into our manuals. If we do observe any recurrent issues within the mailing list, we can still add the information later on.

Perhaps we could include those instructions in the [Configurations Options](https://nest-simulator.readthedocs.io/en/latest/installation/install_options.html) page?

[2020-09-16 22:06] jougs commented on #1755
Many thanks to all for the (at least in my opinion) very nice discussion during the hackathon. @BSVogler can you update the issue as you go, i.e. add comments on the initial plan and progress and questions? Thanks!

[2020-09-17 08:27] BSVogler commented on #1755
Thank you for considering this suggestion. Below I want to sumamrize some discussion points.

It was generally agreed on that adding some form of serialization is a good idea, however, a proper implementation is very difficult to achieve.

Because of performance reasons, a binary format saving the data structures was preferred.

The current idea is to add some PyNest interface with a basic, single

[2020-09-17 10:50] sarakonradi commented on #1758
We (@jougs, @terhorstd and I) discussed this offline during the hackathon. Instead of adding the above-mentioned implementation-specific details, we agreed to make the "Configuration Options" more visible to users and refer to the Mailing List and Stack Overflow for troubleshooting purposes.

[2020-09-17 13:16] steffengraber commented on #1687
Many thanks for reporting.
Please try `python --version` to get your current standard python version.

In Focal the default version of `python3` is currently 3.8.
At the start of `Ubuntu 20.04` `python3.7` was still integrated. And that' the problem: NEST needs the python version that was available at the time of building.
Meanwhile a new package exists in our ppa.
To install it it is better to de

[2020-09-17 18:27] #1759 closed

[2020-09-17 18:31] #1703 closed

[2020-09-17 18:32] #1581 closed

[2020-09-17 19:35] jougs commented on #1755
For completeness (and of course general amusement), please find attached two slide decks that describe earlier attempts of mine to solve the pertaining problem. Enjoy!

* [2004: Persistent Networks in NEST (using XDR)](https://github.com/nest/nest-simulator/files/5241455/Persistent.Networks.in.NEST.pdf)
* [2008: Persistent Networks in NEST (using HDF5)](https://github.com/nest/nest-simulator/files

[2020-09-18 08:09] lekshmideepu commented on #641
We  (@steffengraber) are working on the NEST build docker image with all the build dependencies. Once this is ready, planning to test this on Travis and check if it brings any advantages like saving build time and new possibilities that we don't know right now....

[2020-09-21 14:43] jd41 opened #1773 "Can we replace nest.Prepare/nest.Run/nest.Simulate/nest.Cleanup by a single or two wrapper command(s)?"
See also #1772.

Update: The basic idea of this change is to keep track of whether the simulation is currently in a prepared state (e.g. `nest.Prepare()` has been called, but `nest.Cleanup()` hasn't), and put `nest.Prepare` and `nest.Cleanup` into wrappers which only invoke the expensive kernel functions if they are necessary/appropriate according to that status. The current motivation for exposin

[2020-09-21 14:57] Silmathoron commented on #1773
I think ``Prepare`` is actually doing stuff we do not want to see done every time run is called (unnecessary overhead), so replacing it with a wrapper is not desirable.
To me, the main issue here is the pitfall: some functions *must not* be called within a (Prepare/Cleanup) scope but nothing prevents the user from doing it.
Therefore, I think we should implement a boolean variable (``prepared`` ab

[2020-09-21 15:00] jd41 commented on #1773
Oh, my proposal would check whether prepared == True, and only call Prepare if it's false...

So as I understand, the only overhead would be that if check.

[2020-09-22 04:41] ikitayama opened #1775 "The install target should not install documents by default"
As the install target is the most noticed one for developers, I propose this should not copy lots of documents to
the destination directory.

[2020-09-22 05:05] ikitayama commented on #1775
One benefit of doing this is that shortening the copy time significantly, without going over lots of Documentation files.

[2020-09-22 11:19] jd41 commented on #1773
I realized overnight that the way I described this issue, describing every change to the python functions I propose, may obscure the rather straightforward basic idea. I prepended the message with a comment.

[2020-09-22 12:20] Helveg commented on #1752
Your Travis pipeline is rather extensive, it is probably the code in `extras/travis_build.sh` that I'm looking for, right?

[code]

More specifically, the python setup https://github.com/nest/nest-simulator/blob/aa894c19c9de145de1579729a3f5750cbba33cc3/extras/travis_build.sh#L227-L235

I'm assuming I can leave out the 2 last matplotlib lines? I'd then end up with the following script:

[code]

Loo

[2020-09-22 14:30] lekshmideepu commented on #1752
Yes, right. It is the correct script.

[2020-09-22 16:04] Helveg commented on #1752
There were some other errors so I can't give the final yes/no, but it doesn't look good:

[code]

No library? =/

[2020-09-23 08:40] stinebuu commented on #1773
@Silmathoron @jd41 There is a bool that checks for `prepare`, `simulating` and `simulated` on C++ level already, see for instance
https://github.com/nest/nest-simulator/blob/aa894c19c9de145de1579729a3f5750cbba33cc3/nestkernel/simulation_manager.h#L214-L217

This check should also be added to `set/set_status` and all functions that cannot be called within the `prepare/run/cleanup` scope.

I don't r

[2020-09-23 09:06] jd41 commented on #1773
@stinebuu The difference between the current `Simulate` and the proposed `Run` is that the current `Simulate` always includes a `Cleanup`, while the proposed `Run` doesn't. So calling the current `Simulate` twice always incurs the overhead of cleanup and prepare, while calling the proposed `Run` twice wouldn't (and still wouldn't fail if it was called without a preceding `Prepare`).

In the propos

[2020-09-23 09:18] jd41 commented on #1773
Thanks for the answer, by the way! Then whatever is changed seems to be
easier to change in C++ indeed.

On Wed, 23 Sep 2020, 10:40 Stine Brekke Vennemo, <notifications@github.com>
wrote:

[2020-09-23 09:28] Helveg commented on #1752
I used `find / -type f -name libpy*.so` and found the right libs in `/opt/` somewhere, hardcoded that path into `PYTHON_LIBRARY` and everything builds :)

[2020-09-23 09:28] #1752 closed

[2020-09-23 09:29] Helveg commented on #1775
Less build log to scroll through :heart:

[2020-09-23 09:35] Helveg opened #1777 "Document extension modules"
**Describe the flaw**
[This page](https://nest.github.io/nest-simulator/extension_modules) is the only highly ranked search engine result about extension modules and it only covers the steps to building the most basic example. There's no explanation of the interface, possibilities, how extension modules are found or where they're integrated.

**Suggest an improvement**
Create more documentation on

[2020-09-23 09:40] Silmathoron commented on #1773
Given @stinebuu 's answer, the proposed changes seem pretty straightforward.
I'm definitely in favor of a wrapper checking the state and raising errors for forbidden function.
Regarding the removal of ``Prepare`` and ``Cleanup`` I also have mixed feelings... in a way, I think that the addition of the error and a slightly improved doc would solve the issue encountered previously.
From my point of v

[2020-09-23 13:40] jd41 commented on #1773
As I understand currently, I didn't get anything wrong with my original
proposal, and it would work out that way. It would also be on the same
order of straightforwardness-to-implement as @Silmathoron's proposal.

I also still believe that it would be an improvement. In short, while
emitting the errors proposed by @Silmathoron would clearly improve the
situation, hitting upon, understanding and fi

[2020-09-23 13:42] jd41 commented on #1773
As I understand currently, I didn't get anything wrong with my original proposal, and it would work out that way. It would also be on the same order of straightforwardness-to-implement as @Silmathoron's proposal.

I also still believe that it would be an improvement. In short, while emitting the errors proposed by @Silmathoron would clearly improve the situation, hitting upon, understanding and fi

[2020-09-23 13:45] jd41 commented on #1773
I reformatted my comment and would also like to suggest another solution. We implement the original proposal, and in addition, whenever SetStatus is called in a prepared state, we emit a warning ("Cleaning up NEST kernel before using SetStatus. A performance penalty will be incurred in the next Run. See https://nest-simulator.readthedocs.org/guide-xyz" for details" or similar)... This would seem t

[2020-09-24 05:12] ikitayama commented on #1775
@terhorstd can you comment on this please?

[2020-09-24 15:13] #1557 closed

[2020-09-25 07:59] jd41 opened #1779 "Compilation instructions don't work immediately in Kubuntu 20.04"
Update: I am sorry, apparently I looked at the documentation in the stable branch. The latest branch instructs to install the correct packages [here](https://nest-simulator.readthedocs.io/en/latest/installation/linux_install.html?highlight=%22python3-matplotlib%22#installation-from-source)

The instructions for installing older versions [here](https://nest-simulator.readthedocs.io/en/latest/instal

[2020-09-25 08:11] jd41 opened #1780 "Compiling NEST takes a lot of memory at times"
When I compile NEST, some commands (in particular some cc1 commands) take a huge amount of memory (3 GB or something like that). On my current machine (which only has 4 GB), this is quite painful.

Is there anything one can reasonably do about this?

[2020-09-25 08:50] steffengraber commented on #1265
Closed due to inactivity

[2020-09-25 08:50] #1265 closed

[2020-09-25 11:17] heplesser commented on #1318
Since there has been no activity for a year and the problem seems to be one of GCC, I close this issue. Please reopen if you consider it important.

[2020-09-25 11:17] #1318 closed

[2020-09-25 11:21] heplesser commented on #1392
Since #1386 was merged eight months ago, there have been no more reports of problems concerning Apple Clang and OpenMP, so I consider this problem solved and close.

[2020-09-25 11:21] #1392 closed

[2020-09-25 16:37] sarakonradi opened #1782 "Update glif_psc documentation"
Currently, the glif_psc documentation does not render properly on Read the Docs: https://nest-simulator.readthedocs.io/en/latest/models/glif_psc.html

The "Parameters" and "References" sections need to be updated.

[2020-09-26 06:02] jd41 opened #1783 "cmake breaks doc build process/suggestion to set default install directory for cmake"
After running `cmake` in the nest-simulator main directory according to the installation instructions, `make html` for the documentation in the `doc` folder doesn't work anymore. The problem seems to be that `cmake` changes `doc/Makefile`, and discarding the changes to that Makefile makes `make html` work again. I attached a `git diff` of the Makefile after `cmake`, [diff_makefile.txt](https://git

[2020-09-28 10:05] jd41 commented on #1773
I now asked around in the last group meeting. Of ~5 NEST users present (not counting me), one person had read the "Running Simulations" guide at some point, and if I understood correctly, this person said that they don't really remember what was written in there either.

I also searched on GitHub for how often "nest.Prepare()" is currently used in Python code. I am not sure how exactly they are co

[2020-09-29 06:56] jd41 commented on #1779
Update: I am sorry, apparently I looked at the documentation in the stable branch. The latest branch instructs to install the correct packages [here](https://nest-simulator.readthedocs.io/en/latest/installation/linux_install.html?highlight=%22python3-matplotlib%22#installation-from-source)

The "latest" instructions for installing older versions [here](https://nest-simulator.readthedocs.io/en/late

[2020-09-29 09:04] stinebuu commented on #1773
@jd41 sorry for the delay in responding, things suddenly got in the way.

When we benchmark NEST, we are (often) interested in the individual `Prepare`, `Run` and `Cleanup` times, because in `Prepare` we for instance sort the connections, and this is time we are *not* interested in when benchmarking simulation time, as it is strictly speaking not relevant for what goes on when simulating (it has m

[2020-09-29 09:33] Silmathoron commented on #1773
Maybe we should write this to be discussed at the next VC? (@terhorstd)
Some different perspectives might lead to new ideas on how to tackle these issues in a way that would please everyone...

[2020-09-29 09:40] #1525 closed

[2020-09-30 09:28] #1599 closed

[2020-09-30 09:49] stinebuu commented on #1783
Hi @jd41!

Could you link to where you found that cmake should be run in the nest-simulator main directory?
When installing NEST, it is best to create a separate build directory outside the source directory (see a little down [here](https://nest-simulator.readthedocs.io/en/latest/installation/linux_install.html), so if it is documented somewhere that you should do cmake in the main directory, this

[2020-09-30 11:29] hakonsbm commented on #1783
The default value for `CMAKE_INSTALL_PREFIX` in CMake is already `/usr/local`. Defining a different default location than what is default for CMake would be confusing, I think.

An easy way to set the install directory to be a subdirectory is to use `-DCMAKE_INSTALL_PREFIX:PATH=$PWD/install`, where the current directory is inserted for `$PWD` automatically by the shell.

[2020-09-30 15:46] jd41 commented on #1634
Case in point, a problem that likely wouldn't exist if not for such redundant information: #1783.

[2020-10-01 11:05] #777 closed

[2020-10-01 12:19] #1710 closed

[2020-10-02 07:32] terhorstd commented on #939
@hakonsbm, @stinebuu, could you comment on the status of this?

[2020-10-02 08:42] Helveg commented on #1717
Another dreamy usecase that comes to mind for these lightweight custom kernels is a small CLI tool that builds a specified list of components into a kernel for you or ideally dry-runs a Python script and analyzes the component it requires and builds a kernel for it; this would make it a feasible idea to include such mini-NESTs in the wheels of your Python package and deploy it spiking machine lear

[2020-10-02 09:16] stinebuu commented on #939
Unfortunately `make_symmetric` is still not allowed when connecting with a mask or a kernel. We also haven't made any changes so that gap junctions can be supported when masks or other spatial connectivity patterns are used, I don't know if this will be easier with the new setup or not.

[2020-10-02 09:32] clinssen opened #1790 "Extension modules cannot find ``spatial`` C++ header files"
When building an extension module against the latest master, compilation fails because the header files in the ``spatial`` subdirectory cannot be found; or, alternatively, because they are not copied into the right place in the installation directory.

In ``include/nest/nestmodule.h``, the following lines:
[code]
can be replaced by
[code]
for an easy fix.

Questions that need to be addressed befor

[2020-10-02 13:20] jd41 commented on #1783
I just noticed that this information is also included [here](https://nest-simulator.readthedocs.io/en/latest/installation/install_options.html).

[2020-10-02 17:05] DominicTanzillo opened #1792 "sli_pop() outputs string '{sli_func} runprotected'"
So I've been doing some trouble shooting and I'm receiving the exception

`No stopped context was found!` when I first attempt to `from . import pynestkernel as kernel`.

I'm working in PyCharm and have added Nest as a path.

---

Right now, I'm working to create a CreateLayer(specs) and I believe I have correctly inputed the specs.

Right now though sli_pop() in ll_api.py outputs a string: '{sli_

[2020-10-02 17:38] DominicTanzillo commented on #1232
Following up to see if @BSVogler 's solution works. I'm running into the same exception and have been tinkering to get results.

[2020-10-03 06:07] jd41 opened #1794 "Main RTD page: "Reference material" can't be clicked"
On the main page, in the section "Where to find what", the "Reference material" link can't be clicked because the target page doesn't exist anymore. A new user will not find any clear reference to a "reference material" section now, I think. Unfortunately, I can't fix this myself because I don't know what exactly of the reference materials is still current and should continue to exist. The target

[2020-10-07 12:28] stinebuu commented on #1792
Hi @DominicTanzillo! Thanks for reporting this. I have not encountered this before. Can you give a reproducer example? And also tell us how you installed NEST, which Python version you are using and which NEST version you are using.

[2020-10-09 15:27] clinssen opened #1797 "Spelling question: "postsynaptic" or "post-synaptic"?"
The jury seems to be divided:

[code]

Numbers for NESTML are comparably split. I would suggest naming this "postsynaptic" consistently (also for NESTML).

cc @abigailm @sarakonradi

[2020-10-12 07:51] stinebuu commented on #1773
@jd41 @Silmathoron We will discuss this issue during the open NEST Developer VC today, and it would be great if you join so we get your inputs.:)

[2020-10-12 08:54] jd41 commented on #1773
@stinebuu Thanks for putting it on the agenda, I'll be there :)

[2020-10-12 10:50] Silmathoron commented on #1773
Since I was thinking about this during the VC, I came up with an additional possible implementation, so here is a post to summarize what might be possible:

1. Keep everything as is but add error messages in `Prepare`/`Cleanup` scope (for `SetStatus`...)
2. Remove `Prepare`, make `Cleanup` optional, in favor of wrappers (proposal by @jd41)
   * preparation call is called when needed, `Cleanup` is

[2020-10-13 07:18] stinebuu opened #1799 "test_connect_arrays_mpi.py fail even though HAVE_MPI4PY is False"
**Describe the bug**
The python test `test_connect_arrays_mpi.py` currently fails on my computer, with the error message `NameError: name 'MPI' is not defined`
[code]

I do not have mpi4py, and `HAVE_MPI4PY` is thus False. So, the test should be skipped, but it isn't.
https://github.com/nest/nest-simulator/blob/1e0ce51e17e48933a95463cc35a5c2c5d99ca366/pynest/nest/tests/test_connect_arrays_mpi.py#L

[2020-10-13 08:42] hakonsbm commented on #1799
From the unittest documentation:

and

So skipping the whole class should work. Are you sure that `HAVE_MPI4PY` is set to `False`?

[2020-10-13 09:57] stinebuu commented on #1799
@hakonsbm I clearly did not read far enough down on the page.. But, ok, then that is not the problem!

Yes, I have printed the value of `HAVE_MPI4PY`, and it is definitely `False`.

[2020-10-14 07:17] stinebuu commented on #1799
@hakonsbm I have tested a new thing, if I put in `False` directly in the `skipIf` and print something directly inside the class, like below, I still enter the class, and the text is printed.
[code]
So this prints `here` for me, and then fails because I don't have `mpi4py.MPI`. Could you check if this is the case with you as well? Of course it won't fail for you, but I am curious if it still enters

[2020-10-14 07:41] hakonsbm commented on #1799
@stinebuu

I just tested it, this appears to be the problem. So setting `comm` only if `HAVE_MPI4PY` is `True` should fix it.

[2020-10-14 13:30] Silmathoron commented on #1348
@jougs Should we actually keep an equivalent of the previous ``version()`` function that would return kernel information?
Like ``nest.version()`` is a non-standard thing which gives more info and ``nest.__version__`` is the standard python version?

[2020-10-14 22:41] jougs commented on #1348
I think `version()` can be removed once the standard `__version__` is in place. I don't see any reason for keeping it other than confusing users, which is usually not what we want :wink:

[2020-10-14 23:44] jougs commented on #1773
The original reason for splitting `Simulate` into `Prepare`, `Run` and `Cleanup` was to support faster simulations when running incremental experiment protocols (for instance to explore or prototype plasticity mechanisms from the user interface level). For the performance of some recording backends (e.g. the one for [SIONlib](https://nest-simulator.readthedocs.io/en/latest/guides/recording_from_si

[2020-10-15 00:15] jougs commented on #1454
@Helveg, is there anything more we can do here? If not, I would be closing this issue. Thanks!

[2020-10-15 08:51] Helveg commented on #1454
A generic python function that is passed the progression information such as:

[code]

[2020-10-15 12:15] jougs commented on #1454
@Helveg: Thanks for the clarification. In principle, I'm positive to implement a function that can serve as such a decorator. However, I do not yet fully understand what the difference between *total* and *duration* would be. Could you please elaborate? Also, what units would you expect for the individual values?

Technically, I think the decorator could even be implemented fully in "user-space" a

[2020-10-15 12:52] Helveg commented on #1454
Well the point of this would be to have a callback every tick and to be able to perform arbitrary operations and avoid stepped simulations. As you pointed out the `GetKernelStatus` dictionary probably already contains the information one would need at each timestep. But this could be a valuable tool to Python tools to "inject" callbacks on top of a simulation managed by an end user that might not

[2020-10-15 15:38] Helveg commented on #1454
Wow, yes, that's correct. I need to work on my specification description skills ;p The is ofcourse syntactic sugar but it's an easy win to impress the Python crowd ;)

[2020-10-15 17:20] jd41 commented on #1773
Hey @Silmathoron actually the initial message in this thread did include a change to SetStatus (in the bullet points), but I forgot to mention it explicitly in the Update: part.^1

I think the option of explicit cleanup is needed even in your variant 3, people must be able to sync/close files manually in the middle of the simulation if they want to access recordings on file before a script ends. A

[2020-10-15 18:14] jougs commented on #1454
Alright. Then I think this is feasible in principle.

The only thing that worries me a bit is the fact that the grid on which the callback would be evaluated would depend on the minimal delay in the network and that means that it could be different for each run of a simulation if randomized delays were used and seeds were changed inbetween runs. For most users this would probably not be the expect

[2020-10-15 20:02] jougs commented on #1454
@babsey: would something like this also be interesting for NEST Desktop or are you stepping the simulation there anyway to display live simulation results?

As @terhorstd already pointed out, this could also be implemented as a combination of a dead stupid `time_recorder` recording device and a streaming recording backend that sends out the heartbeats via UDP or something. However, I don't know ho

[2020-10-16 07:50] #1508 closed

[2020-10-16 07:50] #1799 closed

[2020-10-16 08:25] terhorstd commented on #1687
@Adam-Antios, did this work for you?

[2020-10-16 08:52] Helveg commented on #1454
I think that if we make the time information positional arguments of the callback we can avoid people making their own range based on assumptions. The only thing to be avoided is that people expect it to be consistent and that we send people on wild goose chases wondering why it's not. I think that this can be made obvious enough in a couple of ways:

* Prominently mentioned in its documentation
*