[2021-09-09 09:14] heplesser commented on #2101
@niltonlk That are good news, although I am surprised that also tests that failed before when the assertions were activated and that are entirely unrelated to the pp-generator, now pass. The two tests that still fail do so because of timeouts. I find this a bit curious, since the timeouts are set to 120s and the total runtime for the pynesttest is only 178s. Since the tests run concurrently, this

[2021-09-09 09:19] niltonlk commented on #2101
Looking at the log, both fails seems to be due to `Timeout >120.0s`. Running the two tests independetly with timeout 120 passes:
- test_erfc_neuron:
[code]
- test_regression_issue-1409
[code]

In addition, the above mentioned examples now works!
- recodring_demo.py
[code]
- balancedneuron.py
[code]
![Figure_1](https://user-images.githubusercontent.com/20288888/132659310-11728c51-df8a-4b95-9f5a-167

[2021-09-09 10:29] niltonlk commented on #2101
With numprocesses=1 all tests pass:
[code]

[2021-09-09 10:43] heplesser commented on #2101
Nice! It might be that the pytest time-out mechanism and the concurrent testing mechanism do not interact entirely well. What I find most surprising maybe is that some of the cpptests for blockvector failed originally and do not longer fail now. Those tests should be completely independent from the fixes you made in #2159.

[2021-09-09 18:27] niltonlk commented on #2101
My mistake. The last results were without the -D_GLIBCXX_ASSERTIONS flag. I picked the wrong cmake command from history. Sorry for the mess.
I am redoing with the correct flag and will report as soon as they are done.

[2021-09-09 20:31] niltonlk commented on #2101
Now I have `-D_GLIBCXX_ASSERTIONS` flag enabled as (extracted from cmake summary):
`C++ compiler flags  : -D_GLIBCXX_ASSERTIONS -std=c++11 -O2 -Wall -fopenmp -pthread -fdiagnostics-color=auto`

Surprisingly, the number of reported tests differs if pytest uses 1 process (numprocesses=1) or all available processes (numprocesses=auto):
- `--numprocesses=auto`
[code]
[installcheck_auto.log](https://gi

[2021-09-09 21:31] heplesser commented on #2101
@niltonlk Thank you for your detective work! And in a way good to know that the errors did not disappear by magic ;).

The varying number of tests may be due `pytest-xdist` giving up after a certain number of processes have crashed, with different limits depending on number of processes. Could you try the following variants:
- Add `--boxed` as a flag for pytest. That should, if I understand the do

[2021-09-09 23:28] niltonlk commented on #2101
--boxed seems to be a backward compatibility alias for pytest-forked --forked

I have tried with `--boxed --max-worker-restart=1000` as you suggested, in both non-MPI and MPI pytest.
However, it resulted in even fewer executed tests (`--numprocesses=auto` case):
I used the `--numprocesses=auto` case as I believe it is intended for when multiple processes are used.
[code]
[installcheck.log](https:/

[2021-09-10 04:02] #1202 closed

[2021-09-12 15:53] niltonlk commented on #2101
I found where it was trying to access an empty vector. It was in:
[code]
Which I just changed to execute the memcpy if vector_ptr points to a non-empy vector (i.e. size() > 0).

This time I made sure that the correct flag (-D_GLIBCXX_ASSERTIONS) was used. Installcheck output is as follow:
[code]
It seems that all non-mpi pynesttests were recovered with 2 of them failing. However, none of the mpi 2

[2021-09-13 10:28] jougs opened #2161 "Repository naming"

[2021-09-13 15:29] #2151 closed

[2021-09-13 17:00] #2100 closed

[2021-09-13 17:05] jougs commented on #833
@heplesser, @hakonsbm: has this been fixed by the new random number thingies in NEST 3.0? If yes, this should probably be closed.

[2021-09-14 09:11] heplesser commented on #833
@jougs This is a deeper problem than just a technical fix. By next spring we should have a thorough analysis of the situation providing guidance to how to address this best.

[2021-09-15 08:05] #1962 closed

[2021-09-24 13:10] hakonsbm commented on #2101
Fixed by #2159, #2162, and #2169.

[2021-09-24 13:10] #2101 closed

[2021-09-24 13:44] heplesser commented on #756
#2169 adds `-D_GLIBCXX_ASSERTIONS` to all test build configurations, catching all misaligned STL container access in binaries built with g++. Since we use practically no pure C arrays in NEST, I consider this good enough and close this issue.

[2021-09-24 13:44] #756 closed

[2021-09-27 01:45] kaia-li opened #2171 "How to use nest to encode the image？"
I’m working on the SNN, and I want to use the DoG filter for the on/off center, then encode the DoG image to spike image and generate the spike train.
But I don’t understand how to use NEST to do it.
1. Is there any example or explanation?
2. Is the spike train always poisson?

Thank you.

[2021-09-28 08:37] sdiazpier opened #2173 "Create test suit for stimulation devices for expected cosim functionality"
Create a pynest testsuite for relevant features in the functionality of stimulation devices which is required for co-simulation use cases. Within PR 2172 it was identified that, for some use cases, there were some checks which were blocking functionality of stimulation devices.

[2021-09-29 12:36] stinebuu commented on #2171
@kaia-li I think this question is better suited for the [NEST User Mailing list](https://www.nest-simulator.org/community/). I would suggest you send your question there, as more users of NEST will be able to see your question and can help you answer it.

I will close your issue for now.

[2021-09-29 12:36] #2171 closed

[2021-10-04 12:34] hakonsbm opened #2174 "Creation and storage of node positions is not distributed over MPI processes"
Positions of nodes are not stored only on the process that creates the node. Instead every process keeps the position of all nodes.

For example:

[code]
Running this with `mpirun -n 2 ...` will print the positions for the two processes:
[code]

The expected output is having positions of each node stored only on the process where that node is created:
[code]

A more serious problem occurs when usi

[2021-10-04 14:42] clinssen opened #2175 "pycodestyle ``# noqa`` is selectively ignored"
pep8 was replaced by pycodestyle in #1132. Unfortunately, pycodestyle does not allow a ``# noqa`` inline comment to suppress certain errors; see https://github.com/PyCQA/pycodestyle/blob/master/docs/intro.rst. This is by design and unlikely to change any time soon.

This means that (some) existing lines containing ``# noqa`` need to be refactored, because the formatting errors on those lines are n

[2021-10-04 15:00] clinssen opened #2176 "Document synaptic plasticity support for precise spike times"
It was discovered in #1840 that precise spike timing is not taken into account in synaptic plasticity rules. When two neurons are connected by a plastic synapse, the synapse will faithfully communicate the spike at the precise time to the postsynaptic partner, but the weight update rule will ignore the precise spike time offset, aliasing time to resolution timestep.

The most general solution woul

[2021-10-06 14:41] Ninontwik opened #2177 "nest package not installed: Docker nestsim/nest container"
I am using docker to use pyNEST on my windows computer. I have successfully installed NEST using the instructions mentioned here for installing on docker: https://nest-simulator.readthedocs.io/en/v2.20.1/installation/index.html.
If I am in the container, I have python version 3.8.10. If I run python and then try to "import nest it" says there is no module named nest. Importing other python package

[2021-10-07 17:47] yurivict opened #2178 "Can't disable python binding: Invalid option: -Dwith-python=false"
```cmake -Dwith-python=false ...``` fails:
[code]

Version: 3.1
OS: FreeBSD 13

[2021-10-07 18:46] yurivict opened #2179 "Installs bin/nest-server-mpi eben when the MPI option is off"
**Describe the bug**

Configure says that MPI is off:
[code]

but bin/nest-server-mpi is still installed.

**Desktop/Environment (please complete the following information):**
 - OS: xfce4
 - NEST-Version: 3.1

[2021-10-07 18:54] yurivict opened #2180 "Shouldn't install the testsuite"
**Describe the bug**
It installs share/nest/testsuite and bin/run_all_cpptests.
It should be possible to run tests after the run. No need for them to be installed.

Version: 3.1

[2021-10-08 20:37] yurivict opened #2182 "Please describe dependencies in README"
I found that libneurosim comes from this repository: https://github.com/INCF/libneurosim

What about "misic" and "SIONlib"?

Could you please add information about dependencies in README?

[2021-10-11 07:00] JiaweiShen1116 opened #2184 "Error when importing nest in ipython"
Hello,

I installed nest via conda, along with ipython in my environment. However, when I open ipython and type "import nest", it reports an error as following:

[code]

I don't know how to fix this issue and it is not listed on the troubleshoot page. Please help. Thank you very much.

[2021-10-11 13:30] appukuttan-shailesh opened #2185 "Installing nest on Windows or WSL"
We are currently in the process of preparing a tutorial for setting up PyNN and various simulators in various environments (Linux, Mac OS, Windows, EBRAINS Jupyterlab). The tutorial is intended for beginner to intermediate users, and thereore we wish to avoid more involved installation techniques. With this in mind:

1) Is it possible to currently install nest on Windows 10? If yes, are there any

[2021-10-18 18:18] jessica-mitchell opened #2189 "Update documentation on gap junctions"
**Describe the flaw**
The documentation for the gap junctions guide specifically refers to NEST 2.x .
https://nest-simulator.readthedocs.io/en/v3.1/guides/simulations_with_gap_junctions.html

**Suggest an improvement**
Ensure that the example works in NEST 3.x and update the text if anything is no longer relevant

[2021-10-19 08:33] jougs commented on #2175
@clinssen: Sorry that I've overlooked this one and might have sounded like I discovered this issue in our recent meeting. That was not my intention.

Please also see https://github.com/nest/nest-simulator/pull/2109#issuecomment-921013681 and https://github.com/PyCQA/pycodestyle/issues/924

[2021-10-20 17:15] yurivict opened #2190 "2 tests fail on FreeBSD"
**Describe the bug**
[code]

[code]

[code]

Version: 2.20.1
clang-11

[2021-10-20 17:20] yurivict opened #2191 "Tests require the installed docs directory"
**Describe the bug**
Currently the testsuite requires ```nest``` to be installed including its ```docs``` directory.

This [line](https://github.com/nest/nest-simulator/blob/master/testsuite/selftests/CMakeLists.txt#L34) runs test scripts from installed docs directory.

Problems:
(1) Some users prefer to not install docs and they can't run tests
(2) Tests should not be installed. They should run i

[2021-10-20 17:22] yurivict opened #2192 "The 'Install Nest' section doesn't explain how to run Python tests"
[Install Nest](https://nest-simulator.readthedocs.io/en/v3.1/installation/index.html)

[2021-10-20 17:24] yurivict opened #2193 "Python module is broken"
```print(dir(nest))``` only prints this:
```['__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__']```

For example, the ```Create``` symbol isn't there.
It is needed for ```neuron = nest.Create("iaf_psc_alpha")```.

Build [log](https://people.freebsd.org/~yuri/nest-build.log) has ```Permission denied``` errors, but the build still succeeds, which is another bug in

[2021-10-28 08:34] ErbB4 opened #2197 "make fails for Izhikevich tutorial"
Hi there,

I am trying to install NESTML to implement my own model. I managed to install it but had difficulty running your tutorial code. In detail, I am testing using the [tutorials](https://nestml.readthedocs.io/en/latest/tutorials/izhikevich/nestml_izhikevich_tutorial.html) and ran into some bugs when the code was trying to `make` the c++ code.

## Bug

Following the instructions [in the docum

[2021-10-28 08:36] #2197 closed, assigned to nobody

[2021-10-28 11:26] schmitts opened #2198 "Disclaimer on non-stable version on readthedocs not correct"
https://nest-simulator.readthedocs.io/en/stable/contents.html

says

But the URL does point to the stable release and not latest. Same is true for other versions, e.g. `v3.1`.

![Screenshot_20211028_132525](https://user-images.githubusercontent.com/1502412/139246812-a09b6204-e931-490a-aee2-81f499d67359.png)

[2021-10-28 12:29] #2198 closed, assigned to nobody

[2021-11-03 13:40] heplesser opened #2199 "Remove DoubleDataEvent"
Type `DoubleDataEvent` is not used anywhere in NEST. It should be removed.

[2021-11-03 15:50] #1558 closed

[2021-11-04 11:33] clinssen commented on #2199
Could I invoke Chesteron's fence here and ask what this was used for in the past?

[2021-11-04 11:35] clinssen opened #2202 "Fix help generator README"
The help generator README contains merge conflict artifacts and refers to a non-existent script. It should be removed or updated.

See: https://github.com/nest/nest-simulator/blob/master/extras/help_generator/README.md

[2021-11-04 12:25] heplesser commented on #2199
Chesterton's fence? Very long ago, we used the event to transport images to retinal filter modules. But that may have been before NEST 1.

[2021-11-04 13:11] hakonsbm opened #2203 "Refactor NodeCollection"
- From https://github.com/nest/nest-simulator/pull/2181#discussion_r741700472: `nc_const_iterator::operator*()` is quite complex and should be moved to node_collection.cpp. The same may be true for other functions as well.
- From https://github.com/nest/nest-simulator/pull/2181#discussion_r741701606: Can we always initialise `end_offset_` and `end_part_` in `nc_const_iterator`, to avoid having to

[2021-11-04 13:11] clinssen commented on #2199
https://en.wikipedia.org/wiki/Chesterton%27s_fence#Chesterton's_fence

[2021-11-08 09:40] gtrensch commented on #2179
Thank you for pointing this out! We will fix that.

[2021-11-08 09:44] Helveg commented on #2193
@yurivict any updates?

[2021-11-08 10:16] gtrensch commented on #2179
To avoid conflicts a fix should be based on PR #2200 (refactor static code analysis).

[2021-11-09 07:33] stinebuu opened #2204 "Convert `GetConnections.sources()` to iterator of NodeCollections?"
For `SynapseCollection` we have two ways of getting the source and target node ids: `conns.source` and `conns.sources()` in the snippet below

[code]

Both return node id's, but as we are using `NodeCollection` everywhere now, we should think about changing `conns.sources()` and `conns.targets()` to instead be iterators returning the source and target `NodeCollection`s. As sources and targets most

[2021-11-11 05:28] #2174 closed

[2021-11-11 13:46] hakonsbm opened #2207 "Refactor variable initialization to avoid C++17 feature for type deduction"
In `stimulation_backend_mpi.cpp` we define and initialize a variable `data` like this:
https://github.com/nest/nest-simulator/blob/3da76ddaed8fbb6fde81e9a8241641c7df512a8f/nestkernel/stimulation_backend_mpi.cpp#L206

This should only work with C++17, where the type of an expression like `auto x{3}` deduces to `int` (see [N3922](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2014/n3922.html)).

[2021-11-11 18:17] terhorstd commented on #2154
@heplesser, can this issue be closed? You merged #2148, but this one is apparently not automatically linked.

[2021-11-11 22:26] heplesser commented on #2154
@terhorstd This is actually a follow-up to #2148, see the discussion starting here: https://github.com/nest/nest-simulator/pull/2148#discussion_r703342693.

[2021-11-12 15:50] ackurth opened #2209 "Problems with `Development.Module` change"
**Describe the bug**
After the merge of #2195 I am not able to configure the current NEST master branch via cmake anymore.

**To Reproduce**
Python 3.9.7 (from Conda, python=3.9.7=hb7a2778_3_cpython )
Cmake 3.21.3 (from Conda, cmake=3.21.3=h8897547_0)

**Desktop/Environment (please complete the following information):**
 - OS: NAME="Ubuntu" VERSION="20.04.3 LTS (Focal Fossa)"
 - Shell: bash
 - NES

[2021-11-12 15:55] Helveg commented on #2209
I'll restructure the piece of code to first do a non-required `Development.Module` search, then fall back to `Development` if `Python_FOUND` is not true, that should preserve default behavior in all cases.

[2021-11-12 16:01] jougs commented on #2209
@ackurth: I observed a similar problem in a build of mine, which went away after I deleted my `CMakeCache.txt` and reran CMake anew. Could you please check if this also solves the problem for you? Thanks!

[2021-11-12 16:23] Helveg commented on #2209
I can also confirm that I encountered the problem with a stale build folder, I just removed it and reran CMake from scratch, that solved the issue. https://github.com/nest/nest-simulator/pull/2210 lists these issues in a warning if `Development` components are found but `Development.Module` isn't.

[2021-11-12 16:30] ackurth commented on #2209
@jougs: This solves the issue for me as well.

[2021-11-12 16:37] jougs commented on #2209
Great!

[2021-11-12 16:37] #2209 closed

[2021-11-12 16:46] terhorstd commented on #2209
amazingly fast resolution! Great work everyone! :rocket:

[2021-11-16 09:48] Helveg opened #2211 "Use WSGI provider that is available on Mac M1"
**Is your feature request related to a problem? Please describe.**
Appearantly the webserver we depend on for NEST server - `uwsgi` - can not be installed on Mac M1 machines. There appears to be no specific feature we require other than [WSGI, a PEP333 spec,](https://www.python.org/dev/peps/pep-0333/) that is also implemented by many other alternatives.

**Describe the solution you'd like**
Let's

[2021-11-16 11:45] heplesser commented on #2211
All three (tornado, eventlet, gunicorn) are available on conda-forge for M1, eventlet under "no-arch" and the other two under "osx-arm64". So any of the three should do. So capabilities and the size of the community around a package (as proxy for likelihood of long-term support) should be guiding which one to choose.

[2021-11-16 12:25] Helveg commented on #2211
1. [`tornado`](https://github.com/tornadoweb/tornado) 20.3k stars, 5k forks
1. [`gunicorn`](https://github.com/benoitc/gunicorn) 8k, 1.5k forks
1. [`eventlet`](https://github.com/eventlet/eventlet) 1.1k stars, 300 forks

I personally have experience with `gunicorn` as being very easy to use. Basically just `gunicorn --workers=4 my:wsgi_module`.
I can look into `tornado`, looks like it needs a tiny

[2021-11-16 12:37] Helveg commented on #2211
The `tornado` [documentation main page](https://www.tornadoweb.org/en/stable/#threads-and-wsgi) mentions that WSGI is not a main focus of the project:

Compared to the clear [landing page](https://gunicorn.org/#quickstart) of `gunicorn` with complete quick-start and deployment guide including `nginx`-plug-and-play config I think we should pick `gunicorn`.

[2021-11-16 13:42] stinebuu commented on #1320
Merged into PyNN with [NeuralEnsample/PyNN#724](https://github.com/NeuralEnsemble/PyNN/pull/724), still not released.

[2021-11-16 13:46] stinebuu commented on #2123
@Helveg Would you be willing to fix this and create a PR?

[2021-11-16 13:53] heplesser commented on #2211
Maybe a topic for the next NEST Open Developer VC @terhorstd. @Helveg Could you present the issue there?

[2021-11-16 14:35] Helveg commented on #2123
It's being worked on in the scope of a larger rework of the PyNEST module initialisation :)

[2021-11-17 10:01] sdiazpier opened #2212 "Enable autapses for structural plasticity in NEST 3"
**Describe the bug**
When migrating to NEST 3, a set of valid parameters have been specified to be provided to SetKernelStatus which does not include all parameters which were supported before by SetStructuralPlasticityStatus in previous versions of NEST 2. This has as a consequence that the connection builder generated with plastic synapses can not include the autapses parameter.

**To Reproduce*

[2021-11-19 11:25] terhorstd commented on #1182
Is this related to #1630? Should this be handled consistently?

[2021-11-19 12:02] terhorstd commented on #2161
Maybe this table is a good thing to add to the documentation. A) it would point people to related repos/docs/projects, B) new packages being developed would get a hint about naming, C) we would have a central overview to eventually come up with the minimal number of renames for a (hopefully) more consistent scheme.

[2021-11-19 12:06] terhorstd commented on #2161
Another thing would be to add a table for the different packages and deployment channels for NEST specifically. This of course overlaps with the different installation methods, but could provide a super-quick overview for people who know what they want already (the "deployer")…

docker:
apt:
conda:
yum:
pip:
spack:
…

[2021-11-22 07:17] jougs commented on #1630
@Helveg: has this been solved in the context of #2195 and #2210? Thanks!

[2021-11-22 07:20] Helveg commented on #1630
Yep, NEST is now libpython independent :)

[2021-11-22 07:27] jougs commented on #1182
@terhorstd: No, it's not. This one is purely about the internal helper libraries that are linked together to form the `nest` and `sli` executables and the `pynestkernel.so`.

As I'm anyway here, I might as well give a quick update on the status:
* `topology` has been integrated into the kernel in #1748
* `precise` has been merged into `models` in #1705
* `librandom` has been integrated into the ke

[2021-11-22 07:27] #1630 closed

[2021-11-22 10:46] gtrensch commented on #2153
@med-ayssar many thanks for you contribution! :+1:. The pull request is merged!

[2021-11-22 10:46] #2153 closed

[2021-11-22 18:30] pnbabu opened #2215 "Rename typedef variables in NEST"
The typedef variables present in `nest_types.h` should be renamed to names with an appropriate prefix or suffix.

Currently, NESTML synapse models cannot use a variable named `delay` to identify the dendritic delay because it conflicts with the NEST typedef of the same name. The typedefs could possibly be renamed with a suffix `_t` (but is generally not recommended as mentioned [here](https://stac

[2021-11-23 16:06] Dola47 opened #2217 "Learning rules available in NEST"
Dear All,

I am about to use NEST,  I found that we have plenty of neuron models and a lot of synaptic types.

The question is are we able to use NEST to train our spiking models end to end in the spiking domain? I mean do we have some learning rules available like STDP or Surrogate gradient descent or others available as well in NEST? Or, NEST just can be used to define the network (neurons and s

[2021-11-26 07:21] heplesser opened #2219 "Prohibit setting of unknown attributes on nest kernel and synapses"
As of NEST 3.1, kernel attributes can be set directly as attributes of `nest`. This can lead to subtle errors due to typing errors or incorrectly remembered names. For example,

[code]

looks like correct code to set the random seed, but has actually no effect on the simulation, because the correct attribute name is

[code]

We introduced careful checking of parameter names in dictionaries passed

[2021-11-30 10:38] lekshmideepu opened #2224 "Build and push docker images with Githubactions."
In order to automate the tasks, I think it would be nice to have the feature of building and pushing docker images using githubactions.

[2021-11-30 10:39] lekshmideepu commented on #2224
Just now had a discussion with @steffengraber  He gave more insights into this from his experiences.

[2021-11-30 17:53] clinssen commented on #2224
I would suggest to trigger a build by a new versioned release of either NEST, NESTML, NEST Desktop, or any of the other tools in the NEST ecosystem and hosted on github.com/nest.

[2021-11-30 17:55] clinssen commented on #2202
Fixed by 5f1e1a7a12fb5d13b338ac58e3c03ca89556401d.

[2021-11-30 17:55] #2202 closed

[2021-12-01 06:26] steffengraber commented on #2224
I think in addition, timed based builds should always keep the images up to date to avoid vulnerabilities.

As already discussed with @lekshmideepu, here is a first approach for these automated builds https://github.com/steffengraber/nest-docker/blob/master/.github/workflows/docker-image-latest.yml.

Is this the right place to discuss, or should this happen under https://github.com/nest/nest-docke

[2021-12-03 15:41] benef23 opened #2227 "Loading multiple Brain files in NEST Server"
**Is your feature request related to a problem? Please describe.**
In order complex simulations with large neural networks it is common practice to distribute python code across multiple files. Here as an example files can handle various subclasses, commonly used functions or only parameter values. Currenlty, only a single brain file can be loaded into NEST Server, which also is executed directly.

[2021-12-06 08:45] clinssen commented on #1777
Suggest to close this as we now have https://nest-extension-module.readthedocs.io/, which is linked from the front page of the main NEST documentation. Please re-open this issue or create a new issue in case there are specific suggestions remaining. Cheers!

[2021-12-06 08:45] #1777 closed

[2021-12-07 08:33] #2219 closed

[2021-12-07 09:23] stinebuu commented on #2212
@sdiazpier `autapses` has been renamed to `allow_autapses` with NEST 3. It is also not possible to set the parameter with the kernel status, it needs to be sent with the connection dictionary:
[code]

[2021-12-07 09:51] neuroady commented on #2212
@stinebuu with structural plasticity, connections are not explicitly defined via `nest.Connect(nrns, nrns, conn_dict, syn_dict)`. Rather neurons are given synaptic elements which establish connections based on some rule (`nest.EnableSturcturalPlasticity()`). Therefore, which connections are created cannot (and should not) be explicitly defined, rather it's the Structural Plasticity module which cr

[2021-12-07 09:56] sdiazpier commented on #2212
It is possible to enable or disable autapses for the specific connection builder. The solution is to send this information in the structural_plasticity_synapses parameter and enable this at the moment of creation of the builder. I am working on a prototype, should be available soon.

[2021-12-07 17:32] jessica-mitchell opened #2234 "Update NEST version for next release in conf.py"
The version of NEST in doc/userdoc/conf.py needs to be updated to 3.2 during the release workflow.

[2021-12-08 07:32] steffengraber opened #2237 "Error creating conda-forge packages for NEST 3.x"
Since NEST 3.0 the conda packages are created incorrectly in the conda-forge workflow.

Whether with version 3.1 or the current version from master, the following error occurs when testing the package:

    scanner.cc:581: bool Scanner::operator()(Token&): Assertion `in->good()' failed.

Here is the entire build log for a NEST 3.1 build with python 3.8:

https://dev.azure.com/conda-forge/84710dde-

[2021-12-08 08:11] heplesser commented on #2237
This seems related to a similar issue (with a docker container?) that we had a longer debug session on about two months ago, where somehow paths went badly wrong. Is there any way to activate C++-level and SLI-level debugging for this "import nest" on the conda-forge build machine?

[2021-12-08 08:12] heplesser commented on #2237
Any chance to run this with Valgrind or so to check if there are some incorrect memory accesses messing up path strings?

[2021-12-08 10:17] steffengraber commented on #2237
@heplesser Will be possible. But I need your expertise to integrate it correctly.

[2021-12-08 10:22] heplesser commented on #2237
@hakonsbm Could you help @steffengraber? I think you have more debugging experience, esp with valgrind.

[2021-12-09 19:20] terhorstd commented on #129
Is this actually an *issue*, or rather a project or discussion that should be continued somewhere else? What is the actual problem that needs to be solved here to close it?

I'd vote to close it.

[2021-12-10 06:33] #2041 closed

[2021-12-10 06:46] heplesser commented on #129
Similar to #556, this issue points at a large refactoring we should should consider to achieve cleaner and more maintainable code. As such, it would be a project of its own. To me, the main question is how we see issues: Should issues only represent relatively compact problems or tasks, or also be used to remind us of and collect discussions on larger changes? If we decided to use issues for relat

[2021-12-11 15:25] babsey opened #2241 "Lazy loading modules for PyNEST"
On initializing (`import nest`) nest doesn't import modules like `spatial`, `visualization`, `raster_plot` and `voltage trace`.
Instead it uses lazy loading approach but the first call of one of these modules shows `AttributeError`.

To solve this issue I added the lines to re-import called module in `/pynest/nest/__init__.py` (#2239, line 470).
I think this solution is not optimal. Maybe anyone c

[2021-12-11 17:14] babsey opened #2242 "Start uwsgi with nest.server failed"
Since `server` module is not imported in `pynest/nest/__init__.py` the command `nest-server` failed to start the server instance.
Thus I re-implemented importing `server` module -> #2239

But it is not a long-term solution, I am open for alternative method for this issue when nest-server is working.

[2021-12-11 19:51] Helveg commented on #2241
I can't reproduce your issue on current master 8315aec1b8d9387882b655144d62bb0b3cd6242f

[code]

I'm not sure unit tests could ever pass if the entirety of `nest.spatial` is unavailable either. Could there be other conditions for this problem to occur? Can you try regular `python` instead of `ipython` for example?

[2021-12-11 19:53] Helveg commented on #2242
I can't reproduce this one either on 8315aec1b:

[code]

[2021-12-11 20:00] Helveg commented on #2242
I manage to reproduce the issue with:

[code]

[code]

Does that not work for you?

[2021-12-11 20:29] Helveg commented on #2242
Furthermore I'm able to start `nest.server:app` with `gunicorn`:

[code]

[2021-12-12 08:09] babsey commented on #2241
I also tested in python3 and it shows the same error:

[code]

[2021-12-12 08:29] babsey commented on #2241
And also tested in docker image of nest (`https://github.com/nest/nest-docker/tree/master/src/latest`)
[code]

[2021-12-12 10:29] Helveg opened #2243 "CMAKE_INSTALL_PREFIX can be set incorrectly after error"
**Describe the bug**
If you first hit the "NEST must be installed in a virtual environment or with CMAKE_INSTALL_PREFIX", then switch to a venv and rerun, `CMAKE_INSTALL_PREFIX` will have been set to `/usr/local/`:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `cmake ..` in non-virtual Python env.
2. Switch to virtual env
3. `cmake ..`

**Expected behavior**
The `CMAKE_INSTALL_PREF

[2021-12-12 10:34] Helveg commented on #2241
I can reproduce it on Python 3.8 .. Interesting :roll_eyes:

[2021-12-12 11:04] Helveg commented on #2241
Ok, so the problem is that since #2220 the import machinery can't set attributes on `nest`.

[2021-12-12 11:05] Helveg commented on #2242
Ok, this is specific to python 3.8

[2021-12-12 13:27] med-ayssar commented on #2243
Hey @Helveg, maybe you might want to take a look at this PR [2245](https://github.com/nest/nest-simulator/pull/2245).

[2021-12-14 10:14] #2241 closed

[2021-12-14 10:14] #2242 closed

[2021-12-15 12:27] #2044 closed

[2021-12-15 12:53] #1971 closed

[2021-12-17 12:18] stinebuu commented on #1320
Looks like the newest release of PyNN supports NEST 3.1: http://neuralensemble.org/docs/PyNN/releases/0.10.0.html I am thus closing this.

[2021-12-17 12:18] #1320 closed

[2021-12-17 12:21] stinebuu commented on #1973
@babsey any updates on this?

[2021-12-17 12:34] stinebuu commented on #2217
Dear @Dola47, this is a good question for our [mailing list](https://nest-simulator.readthedocs.io/en/latest/contribute/mailing_list_guidelines.html). It has a lot of active users that can help you. I am therefore closing this here.

[2021-12-17 12:34] #2217 closed

[2021-12-21 09:41] stinebuu opened #2249 "C-make options and other references to Bluegene and K-computer still exists"
It is still possible to build NEST with Bluegeene and the K-computer, even though the machines do not exist anymore. See for instance

https://github.com/nest/nest-simulator/blob/06f9276ecef401b0e5cf2cfef8a6f028470ba1c1/cmake/ProcessOptions.cmake#L143-L146

When searching through the code base for `bluegene` and `k-computer` quite a lot of references show up. All the references to the machines sho

[2021-12-21 11:01] jougs commented on #1973
@babsey and I have discussed off-line that we should probably postpone this a bit more until we're further along with the restructuring of PyNEST, which most likely also will lead to a restructuring of how we handle exceptions.

[2021-12-28 15:33] ErbB4 commented on #2212
Hey, I had the same issue with moving from NEST2.x to NEST3.1 concerning structural plasticity. I am using this line to assign synaptic elements to my synapse with structural plasticity:

nest.SetKernelStatus({
    "structural_plasticity_synapses":{
                                'syn_exc':{
                                'model':                 'msp_excitatory',

[2022-01-03 17:10] med-ayssar opened #2251 "Dependency between `params` and `positions` in `nest.Create`"
**Describe the bug**
Providing `positions` to the `nest.Create()` function together with the `params`, forces the `params` to contain only single values and thus no list will be allowed
**To Reproduce**
Steps to reproduce the behavior:
1. `params = {"V_th":[-54.0, -55.0, -56,0}`
2. `positions = nest.spatial.grid(shape=[1,3])`
3. `x = nest.Create('iaf_psc_alpha', positions=positions, params=params)

[2022-01-04 04:31] ikitayama opened #2252 "`master` build fails with `-std=c++17` Apple gcc flag"
I need to use a polymorphic allocator supported in C++17, but NEST build fails with this:

If the sli subsystem expert can take a look at this, that'd be great. Thanks!

[code]

[2022-01-04 04:32] ikitayama commented on #2252
[code]

[2022-01-04 12:17] heplesser commented on #2252
I can reproduce this with Clang 13.0.0 and GCC 11.2.0 when switching to C++17 (requires at the moment, as far as I can see, to manually edit [this line](https://github.com/nest/nest-simulator/blob/06f9276ecef401b0e5cf2cfef8a6f028470ba1c1/cmake/DefaultCompilerFlags.cmake#L25).

@hakonsbm Could you take a look?

[2022-01-05 10:32] hakonsbm commented on #2252
@heplesser Looks like the compiler confuses `apply()` in nest.h with `std::apply()` from `<tuple>`, but I can't see where we specify the `std` namespace. Changing the calls in nestmodule.cpp to `nest::apply()` seems to fix the problem (at least with GCC 10.3.0 and Clang 12.0.0), but a cleaner solution would be to limit the namespace.

[2022-01-05 10:46] heplesser commented on #2252
@hakonsbm Thanks for the detective work. A quick search through the NEST codebase did not turn up any worrisome `using namespace std;` line, so I find this surprising. Could there be a "namespace leak" from the compiler, i.e., that `std::apply()` is available in the global namespace, causing the confusion? Given that GCC and Clang have different STL implementations, that would be a bit surprising,

[2022-01-06 08:04] ikitayama opened #2254 "`make installcheck` ends up in errors"
**Describe the bug**
After manual installation of NEST on M1 Max, `make installcheck` fails:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]
4. How to see error
[code]
**Expected behavior**
Set of tests are executed on M1 Max

**Desktop/Environment (please complete the following information):**
 - OS: macOS
 - Shell: zsh
 - Python-Version: -Dwith-python=OFF
 - NEST-Version: mast

[2022-01-06 12:05] heplesser commented on #2254
I cannot reproduce this on my M1, neither with `-Dwith-python=OFF` or without. I have created a conda environment using the `environment.yml` file in the main source directory (remove the `uwsgi` line on M1) and then configured with

[code]

Installcheck runs without problems. If your problems persist, could you try to run `make VERBOSE=1 installcheck` to get more output from make?

[2022-01-06 13:55] med-ayssar opened #2255 "Missing `model` name in NodeCollection"
**Describe the bug**
Calling `NodeCollection.get("model")` or `nest.GetStatus(NodeCollection, "model")` returns a string containing `UnknownNode`.
The following problem happens only if we create a `NodeCollection` instance from an external model.
**To Reproduce**
Steps to reproduce the behavior:
1. Call `to_nest` and `install_nest` from `PyNestml` module
2. Install the module
3. Create a populatio

[2022-01-07 07:38] #2252 closed

[2022-01-08 00:04] ikitayama commented on #2254
[code]

[2022-01-08 08:44] yurivict commented on #2179
ping.

[2022-01-10 06:21] steffengraber commented on #2177
@Ninontwik Sorry for not coming up to this. Does the problem still persists?

[2022-01-10 06:28] steffengraber commented on #1847
Done.

[2022-01-10 06:29] #1847 closed

[2022-01-10 10:22] Ninontwik commented on #2177
Yes @steffengraber, after not getting a response here I decided to use the nest mailinglist on which I got great help! Sorry for not closing the issue.

[2022-01-10 10:22] #2177 closed

[2022-01-10 23:51] jougs commented on #1620
The remaining issues are addressed in #2246.

[2022-01-11 08:50] hakonsbm opened #2259 "Add CMake flag for C++ standard"
The C++ standard `-std=c++11` is currently hardcoded in the CMake files:

https://github.com/nest/nest-simulator/blob/cb61289cc5751f68eb42f5eaf6564acc03823252/cmake/DefaultCompilerFlags.cmake#L25

To make it possible to easily check different standards, this value should be configurable. A CMake option should be added, for example something like `-Dwith-std=<C++ standard>`.

[2022-01-14 10:32] hakonsbm commented on #2255
@med-ayssar Looks like there is something wrong with the `model_id_`, see below:

https://github.com/nest/nest-simulator/blob/cb61289cc5751f68eb42f5eaf6564acc03823252/nestkernel/node.cpp#L107-L116

[2022-01-14 10:36] hakonsbm commented on #2254
@ikitayama Looks like you're missing the `junitparser` Python package. Can you try installing it (with for example `pip install junitparser`) and try `make installcheck` again?

[2022-01-14 10:48] ikitayama commented on #2254
I’m on JURECA, and the software stack is managed by the Environment Module.

On Fri, Jan 14, 2022 at 19:36 Håkon Bakke Mørk ***@***.***>
wrote:

[2022-01-14 11:45] #1620 closed

[2022-01-16 22:20] #2067 closed

[2022-01-17 02:33] ikitayama opened #2264 "Using `pmr::vector` alters the `hpc_benchmark.sli` results"
Using my branch, `pmr` at: https://github.com/ikitayama/nest-simulator,

the results are:
[code]

The average rate is low, and spike numbers are also low, compared to the `master` branch. At least in GCC,
this is not experimental anymore, thus I believe the implementation is solid, I wonder if there might be part of
the NEST code causing this.

[2022-01-17 04:48] ikitayama commented on #2264
I built NEST `master` with homebrew g++-11 on M1 Max.

[2022-01-17 08:35] lekshmideepu commented on #2254
@ikitayama Along with the EB modules, you could always install your own modules.

[2022-01-17 08:49] ikitayama commented on #2254
Is there a document so I can build modules on top of the current set of
modules?

On Mon, Jan 17, 2022 at 5:35 PM lekshmideepu ***@***.***>
wrote:

[2022-01-17 09:50] gtrensch commented on #2179
I'll have a look into the issue as soon as possible.

[2022-01-17 10:23] lekshmideepu commented on #2254
As of now, there is no explicit mention of the same in our docs.  As an eg: the documentation mentions that we have a `Python` module and a `SciPy-Stack` module that can be loaded and then we expect the user to take it from there. :-)  Once the modules you want to use are loaded, the steps are pretty much the same as on a more traditional setup. In your case, create a virtualenv using the Python f

[2022-01-17 10:30] ikitayama commented on #2254
Thanks! Will try that and report back.

On Mon, Jan 17, 2022 at 19:24 lekshmideepu ***@***.***> wrote:

[2022-01-17 11:07] #1226 closed

[2022-01-17 11:39] clinssen commented on #291
I would suggest to close this, as many of @tammoippen's points have already been addressed elsewhere in the mean time.

[2022-01-17 11:44] clinssen opened #2265 "Examples and tests without code duplication"
Although examples and tests are written with different purposes and audiences in mind, they often share a lot of the same code, for instance for setting up the network and taking recordings. The tests then additionally do some assertions on the recordings, whereas the examples would typically plot them instead.

We should come up with an organisation that prevents code duplication, and allows as m

[2022-01-17 11:54] heplesser commented on #2237
The build-log link above does not longer work for me.

At an earlier point of exploring this problem, we found that spurious zero-bytes in `slistartupfile` caused this problem. Could you insert [at the beginning of SLIStartup::SLIStartup()](https://github.com/nest/nest-simulator/blob/5f427cdc87f3120aaa6367c49c7dd77140829971/sli/slistartup.cc#L190) the following debugging output
[code]
It should re

[2022-01-17 21:13] heplesser opened #2266 "Revise aeif_psc_delta_clopath_dynamics documentation"
**Describe the flaw**
There are a few minor points about the model documentation (ref 2 never cited in doc text, typos), but my main issue is that I cannot straightforwardly map the parameters in either [1] or [2] to all the parameters in the model (tau_bar_bar, e.g.), and certainly not to the Matlab code [3].

**Suggest an improvement**
Provide the model equations in the documentation. Where para

[2022-01-18 02:47] ikitayama commented on #2264
If I switch to `homebrew` `clang-13` on M1 Max, the nest binary built from the pmr branch produces the same results.

[2022-01-18 06:40] heplesser commented on #2264
Do you get low firing rates for different random number generator seeds?

The Notes section in CPPReference's article on polymorphic allocators points to some limitations, including cases of undefined behaviour, see https://en.cppreference.com/w/cpp/memory/polymorphic_allocator. Could that explain the different behaviour you see?

I am also curious why you want to introduce polymorphic allocators

[2022-01-18 06:46] ikitayama commented on #2264
Because I'd like to use the unified shared memory scheme for OpenMP based
offloading; and secondly, the C++17 scheme is
easier for implementing a custom allocator (just by inheriting from the
memory_resource class).

On Tue, Jan 18, 2022 at 3:41 PM Hans Ekkehard Plesser <
***@***.***> wrote:

[2022-01-18 17:40] dionperd opened #2268 "Consistent behavior of sampling time for multimeters and spike_recorders for co-simulation"
In the context of tvb-multiscale cosimulation, it is possible to perform a NEST -> TVB update either
- via a population spike trains -> mean population rate conversion, or
- via a population membrane potentials -> mean population membrane potential averaging,
after a fixed interval of cosimulation equal to a number of TVB simulation steps, after which the two simulators have to synchronize by exch

[2022-01-18 20:26] #1907 closed

[2022-01-19 03:20] ikitayama commented on #2264
I read the Notes as an incompatibility between those normal vector whose
allocator is std::alloc and std::pmt::vector, no? If the same polymorphic
allocator is used throughout the codebase, problem might not occur.

On Tue, Jan 18, 2022 at 15:46 Itaru Kitayama ***@***.***>
wrote:

[2022-01-19 17:44] terhorstd opened #2271 "Add tools to developer environment"
**Describe the flaw**
In the [developer documentation](https://nest-simulator.readthedocs.io/en/latest/contribute/index.html) currently the [coding-guidelines](https://nest-simulator.readthedocs.io/en/latest/contribute/coding_guidelines_cpp.html#code-style-cpp) describe many separate tool requirements and give usage instructions, but only some have installation details. Additionally, the process o

[2022-01-19 19:46] jessica-mitchell commented on #2271
@terhorstd I was looking at including `cppcheck` to the `environment.yml` but the version mentioned in the code is an older version (1.69) and it is not available in conda or pip.

`pycodestyle` is what we use for pep8 and is already mentioned in the `environment.yml` file. However, it seems to be ignored, when running the static_code_analysis locally.

[2022-01-23 00:05] chenrui333 opened #2275 "release note shows 3.2.1, but the tag is 3.2"
👋  it is bit weird that the release note shows 3.2.1, but the tag is actually 3.2, just raise this issue to confirm if that is intended. Thanks!!
![image](https://user-images.githubusercontent.com/1580956/150659482-722eda48-c280-43fb-80aa-569e5c2eb3b5.png)

- relates to https://github.com/Homebrew/homebrew-core/pull/93618

[2022-01-26 14:28] terhorstd commented on #2275
That was only temporary. Is not an issue anymore.

[2022-01-26 14:28] #2275 closed

[2022-01-26 14:31] mlober opened #2276 "Inconsistent formatting since clang-format 9 merge"
**Describe the bug**
Found files with inconsistent formatting:
[code]

**To Reproduce**
Steps to reproduce the behavior:
checkout to master and run clang-format on any of the files above.
in terminal: `diff -u nestkernel/node_collection.h /dev/stdin <<<$(clang-format nestkernel/node_collection.h)`

**Expected behavior**
No difference when running clang-format on the (untouched) files above.

**Des

[2022-01-26 14:45] heplesser commented on #2276
I noticed that the build log shows that clang-format-11 is used on Github: https://github.com/mlober/nest-simulator/runs/4941813778?check_suite_focus=true#step:9:4002

Since different clang-format versions have slightly different built-in rules, this might be the problem. Which version of clang-format did you use for the local check on your computer?

@jougs Could the problem be that `ci_build.sh`

[2022-01-26 14:49] mlober commented on #2276
On my computer, I checked with clang-format version 10 and fixed one of the files. After pushing it, the checks on github worked again. So for this particular file at least, the formatting of clang-format 10 and 11 (as you said) should be the same.

[2022-01-26 14:52] heplesser commented on #2276
Our logic concerning clang-format is different: The code should conform to clang-format-9. We just need to fix the way we run it on Github.

[2022-01-26 15:09] mlober commented on #2276
I see the issue with the files. Some functions in them are formatted to the new standard and some are not.
For example, this line should be formatted into two lines (just like all the other functions above it):
https://github.com/mlober/nest-simulator/blob/b50d76f38c27523695771367a481141d7076ade1/nestkernel/nest_time.h#L618

[2022-01-26 15:35] Samuel-Boehm opened #2277 "ModuleNotFoundError: No module named 'nest'"
Hello,
Im very well aware that this was discussed here [before](https://github.com/nest/nest-simulator/issues/1687) but to be honest I was not able to solve my problem with the suggested workarounds here. So I would be very thankful if someone could help me:

I also got the notorious:
`ModuleNotFoundError: No module named 'nest'`

after I installed nest using:
`sudo apt install nest`

I started Py

[2022-01-26 20:29] #2277 closed

[2022-01-27 07:26] jougs commented on #2276
@terhorstd and myself are [working towards](https://github.com/terhorstd/nest-simulator/actions/runs/1564025690) a solution, where each static code analysis check is its own job and *all* files are checked continuously instead of only the changed ones. That should eliminate the problem of new changes shadowing formatting errors in previously made changes, but will still take a bit of time until it

[2022-01-27 08:12] #2276 closed

[2022-01-28 09:46] Helveg commented on #2003
* A sanitized version should be made available to Python
* It should be immediately clear from the Python version that it isn't an official release
  * Append a monotonically increasing `dev` tag, possibly packaging timestamp unless release workflow is ran
* Full version debugging info should be made readily available from the Python API `nest.version_info()`, so that the need for `git-branch@git-

[2022-01-28 09:52] terhorstd commented on #2211
@babsey , could you comment on this?

[2022-01-31 10:37] ikitayama commented on #2264
I asked the GCC community and was told as long as I use the same Polymorphic Allocator for all the vector, ie `std::pmr::vector` no problem. Mixing the use of `std::vector` and `std::pmr::vector` is problematic, as swap() does not expand the allocator. In my experience, libstdc++ is implemented so that it detects at build time rather than at run time.

[2022-02-01 11:28] #2138 closed

[2022-02-01 16:34] krachbumm3nte opened #2282 "Multimeter records from noise_generator unreliably and dependent on local_num_threads"
**Describe the bug**
The multimeter does not record current changes from a noise_generator reliably. This behavior seems to change in dependence of the number of threads used, as well as the number of neurons  (or perhaps nodes in general) in the simulation. When connection fails, all current values inside the multimeter are set to 0.0.

**To Reproduce**
see screenshots/attached file

**Expected b

[2022-02-02 21:26] zbarni opened #2285 "Can't specify synapse label when using array indices and one-to-one connection rule"
**Describe the bug**

It's not possible to use pass a `synapse_label` parameter in the `syn_spec` dictionary, in conjunction with the `one_to_one` rule and node ids passed as arrays. It works when nodes are passed as `NodeCollection`, but this limits some use cases where the same node should appear multiple times.

**To Reproduce**

[code]

gives the error
[code]
However, the following works:
[cod

[2022-02-07 17:05] med-ayssar opened #2287 "Dependency between `nest.CopyModel` and `nest.Install`"
**Describe the bug**
Once the function`nest.CopyModel` is called, it prevents from installing further modules, and I don't see any necessary dependencies between copying an existing model and installing a new one.
**To Reproduce**
Steps to reproduce the behavior:
1.  Install an existing synapse model `synapsemodule.so`
2. Call `nest.CopyModel("installed_synapse_name, "new_synapse_name")`
3. Instal

[2022-02-08 13:53] stinebuu commented on #2287
@jougs Do you think this will be fixed with the module system refactoring?

[2022-02-10 22:16] dartl0l opened #2291 "Troubles with nest.CreateParameter(parametertype, specs) function"
When trying to create parameter with normal distribution like in examples [https://nest-simulator.readthedocs.io/en/stable/ref_material/pynest_apis.html#nest.lib.hl_api_types.Parameter](url) i receive error: NESTErrors.DictError: DictError in SLI function CreateParameter_D: Unused dictionary items:  normal::sigma

However, according [https://nest-test.readthedocs.io/en/nest-3/ref_material/nest2_vs

[2022-02-11 11:04] clinssen opened #2292 "Search is broken on ReadTheDocs"
Searching for any keyword just yields a blank page, see for example:

https://nest-simulator.readthedocs.io/en/latest/search.html?q=test&check_keywords=yes&area=default

(GitHub is also broken right now so I cannot add any labels or projects to this issue.)

[2022-02-13 11:07] Samuel-Boehm opened #2293 "Cant install nest2.18, PyNest installation fails"
Dear Nest community,
since almost two weeks I'm wrestling with the nest2.18 installation. Nest 3.2 works perfectly fine on my computer. However I'd also need a 2.18 installation on my computer. In order to avoid cluttering all installations are run in virtual python environments.

Here is how to produce the error. In order to avoid this report to be super long I will put most of the console output

[2022-02-14 10:52] heplesser commented on #2293
@Samuel-Boehm Given that NEST 3.2 works, why not use it, as it comes with many additional advantages? If you need a NEST 2 version (e.g. for reference runs with existing models), you should use NEST 2.20.2.

[2022-02-14 11:41] Samuel-Boehm commented on #2293
@heplesser Yes, for exactly the reason of reference runs I'd need a NEST2 version. Ok, Ill try to install 2.20.2 and add the custom model to it. Thanks for the suggestion.

[2022-02-14 13:30] jougs commented on #2255
This should also be checked and possibly solved with the module system refactoring.

[2022-02-16 03:31] StefanBruens opened #2295 "proxynode::get_thread should return defined value (or throw)"
Currently, when the code is not compiled in DEBUG mode, get_thread will do sometthing random:

https://github.com/nest/nest-simulator/blob/6649606756d1a5fb8ec67550cec35abae1d4b4ae/nestkernel/proxynode.h#L114-L118

It should either return a defined value (e.g. `invalid_thread_`), or throw.

[2022-02-16 03:56] StefanBruens commented on #2295
Similar error:
https://github.com/nest/nest-simulator/blob/6649606756d1a5fb8ec67550cec35abae1d4b4ae/nestkernel/node.cpp#L137-L142

[2022-02-16 15:21] StefanBruens commented on #2193
CMake respects the standard DESTDIR mechanism for all `DESTINATION` paths:
https://cmake.org/cmake/help/latest/command/install.html

This is used by all Linux and BSD distributions for packaging. This is also referred to as a "staging area". Files are not installed into the running system (possibly breaking it), but to a temporary directory specified in DESTDIR.

CMake honors DESTDIR, and `setup.p

[2022-02-16 16:02] StefanBruens opened #2300 "`make install` unconditionally tries to install python dependencies via pip"
`make install` should install nest, but should not try to install all its python dependencies.

Build hosts in general do not have an internet connection, but are often isolated hosts for security and reproducibility reasons.

**To Reproduce**
cd build; cmake --prefix=/usr ..
make
make DESTDIR=/tmp/staging install

**Expected behavior**
All files belonging to `nest` should be installed into `/tmp/

[2022-02-17 10:41] #2292 closed

[2022-02-17 16:59] clinssen opened #2301 "Exception when specying synapse models as list in Connect()"
An exception happens when connecting with a given list of synapse models. This is (probably?) a rather obscure use case, and we could possibly deprecate this feature, which would amount to allowing only one single synapse type (such as "stdp_synapse") to be instantiated during one single Connect() call.

Minimal reproducer:
[code]
OK, so we can specify the synapse models as a list, but we need to

[2022-02-17 21:51] heplesser commented on #2301
I believe this was never intended to be possible. It could also create trouble with parameters, as different synapse models have different parameters. So we should forbid `syn_spec` from being anything but a string or a [CollocatedSynapse](https://nest-simulator.readthedocs.io/en/latest/release_notes/v3.0/features/handling_connections.html#collocated-synapses) object. I think we can prohibit this

[2022-02-22 08:52] dulingkang opened #2302 "remove SLI from nest"
**Is your feature request related to a problem? Please describe.**
SLI is a new language, not in common use,  not easily to debuging.

**Describe the solution you'd like**
Remove SLI, use pybind11 replace

**Describe alternatives you've considered**
Easily provide C++ and Python api.

[2022-02-22 08:59] jasperalbers opened #2303 "Change in neuron sorting since NEST 3.2"
**Describe the bug**
When using neurons with spatial metadata, the sorting of neurons inside of a node collection seems to change with NEST 3.2 as compared to 3.1 and 3.0. This might be desired behavior, however, we could not find documentation about it.

The following minimal reproducer prints the rates of neurons, once in default NEST sorting, and once sorted by rate (the second one to see that

[2022-02-23 08:24] jougs commented on #2302
SLI is actually a really old language that is still is use for quite some of the larger models that must run on machines that don't support running Python. Moreover, most of the NEST testsuite is written in SLI and SLI datatypes are the basis for just about everything in the NEST kernel. Due to the varied requirements of our user community, we can't just just drop it as your proposal suggests.

Th

[2022-02-23 08:24] #2302 closed

[2022-02-23 08:35] jougs commented on #2302
If you have concrete problems with the current implementation, you can of course open follow-up issues here on GitHub or discuss with us on our [mailing list](https://www.nest-simulator.org/mailinglist/postorius/lists/users.nest-simulator.org/).

[2022-02-23 08:57] JanVogelsang opened #2308 "404 Site not found on nest-simulator.org"
In the [contributing section of the community page of nest-simulator.org](https://www.nest-simulator.org/community/#contributing) there is a dead link in the second paragraph:
"Please see the _NEST developer space_ for information"
The "NEST developer space" leads to the nest's github.io page which does not seem to exist (anymore?).
The correct page might be:
https://nest-simulator.readthedocs.io/

[2022-02-23 09:22] WillemWybo opened #2309 "`+=` operator for parameter collections"
**Is your feature request related to a problem? Please describe.**
Collections of node parameters currently have to be set with a single command. We would like the option of appending further node parameters to the original parameter collection, as discussed [here](https://github.com/nest/nest-simulator/pull/1895#discussion_r805829211)

**Describe the solution you'd like**
Implementation of the `+

[2022-02-23 18:31] jessica-mitchell commented on #2308
Thanks for pointing this out. @steffengraber can you update the link?

[2022-02-24 06:21] steffengraber commented on #2308
The link is updated. Should we continue to call it "NEST developer space"?

[2022-02-24 23:42] med-ayssar opened #2312 "Conflict between user custom attributes and `nestkernel` attributes"
**Describe the bug**
As `nestml` doesn't put a **strong** restriction on the states and parameters names, the user may accidentally use variable names that may affect nest functionality such as `model`, `local`  and `thread_local_id`, therefore a separation is needed between the user defined attributes and `nestkernel` returned attributes from the `Node::get_status_base()`. A simple solution is to

[2022-02-25 09:50] stinebuu commented on #1493
Part 1 fixed with #2314. I think someone else needs to take a look at part 2., as I am not that familiar with the models.

[2022-02-25 11:52] boettcherj opened #2315 "Exceptions for unused dictionary items for multiple compartments/receptors"
**Is your feature request related to a problem? Please describe.**
There is not error for unused dictionary items when using SetStatus for multiple compartments and or receptors at the same time. However there is an error when adding a single compartment or a single receptor.

**Describe the solution you'd like**
Implementation of the same DictError that occurs when single compartments are added w

[2022-03-01 08:35] #2251 closed

[2022-03-01 10:18] hakonsbm commented on #2303
@jasperalbers This is because of a bug that was fixed in #2181 for NEST 3.2: When using an RNG to generate the position in a free layer, the RNG used prior to #2181 was thread specific. The Poisson generator also uses thread specific RNG to generate spikes, which means that creating node positions would affect the creation of spikes in the Poisson generator. #2181 changed the position generation t

[2022-03-01 10:18] #2303 closed

[2022-03-01 11:29] med-ayssar opened #2318 "Inconsistent returned type in `nest.GetConnections().get()`"
**Describe the bug**
Once the network is built by calling the connect function in nest, the user can inspect the connection by calling `nest.GetConnections().get()`. The return type of this function is a dictionary, so in case of calling `nest.GetConnections().get()` without previously making any connections, we should expect to get any empty dictionary, but instead an empty `tuple` is returned.

[2022-03-01 13:17] hakonsbm commented on #2318
@med-ayssar Which version of NEST are you using? Since NEST 3.0 `GetConnections()` should return a `SynapseCollection`, also if there are no connections.

[2022-03-01 13:51] med-ayssar commented on #2318
Sorry, I mean here after calling `nest.GetConnections().get()`, and yeah I am using NEST 3.0.

[2022-03-01 15:21] med-ayssar opened #2320 "`nest.Disconnect` isn't working"
**Describe the bug**
Trying to delete any existing connection in nest seems to always fail.
**To Reproduce**
Steps to reproduce the behavior:
[code]
Reaching the last line in the script, we get the following error: `NESTErrors.The connection does not exist: The connection does not exist in SLI function Disconnect_g_g_D_D: Deletion of connection is not possible.`

**Expected behavior**
A message in

[2022-03-01 20:42] #2259 closed

[2022-03-01 22:18] heplesser opened #2321 "Change default port for NEST Server to avoid conflicts on MacOS"
On MacOS, port 5000 is used by the system for the AirTunes service. Since `localhost` is mapped to `127.0.0.1` (IPv4) and `::1` (IPv6) and AirTunes is running on both, starting NEST Server with the current default port 5000 leads to the situation that that port offers NEST if accessed via IPv4 and AirTunes via IPv6. In particular, `http://localhost:5000` will resolve to AirTunes, as IPv6 takes pre

[2022-03-02 13:46] clinssen commented on #2320
@sdiazpier: is it the case that ``Disconnect()`` is only intended for use with structural plasticity?

[2022-03-02 17:14] clinssen opened #2322 "ReadTheDocs font is underspecified"
Opening https://nest-simulator.readthedocs.org/ in Chrome 91 on Debian Linux renders with a fixed-width font.

It seems that the computed font for the main text is

[code]

I fear that "system-ui" is not specific enough to achieve a consistent rendering across platforms.

[2022-03-04 11:11] clinssen opened #2323 "NESTML cannot build models in Docker image"
Some dependencies are missing in the NEST image for NESTML to successfully compile and build code. In particular, cmake and Boost libraries are missing.

Please see here for a Dockerfile that works OK with NESTML: https://github.com/clinssen/OCNS-2021-workshop/blob/master/docker_containers/nest-nestml-tutorial/Dockerfile

[2022-03-04 15:38] #2211 closed

[2022-03-07 10:42] clinssen commented on #2134
@Helveg: kind ping about the status of this!

[2022-03-07 12:24] Helveg commented on #2134
Oh, I thought this was merged already?

[2022-03-07 12:25] gtrensch commented on #2249
Resolved with #2306.

[2022-03-07 12:25] #2134 closed

[2022-03-07 12:25] #2249 closed

[2022-03-07 12:38] jessica-mitchell opened #2326 "Update NEST version for 3.3 release in conf.py"
Before the release of NEST 3.3, the conf.py needs to be updated in the development branch.

[2022-03-08 09:46] #2301 closed

[2022-03-08 10:38] #2207 closed

[2022-03-08 11:57] clinssen opened #2330 "Unbound variable error while running testsuite"
When running the testsuite without MPI enabled, I get:

[code]
This refers to the line
[code]
It looks like the second condition is always evaluated, so this should probably be converted into two nested if statements.

[2022-03-10 22:38] clinssen opened #2337 "Resetting the network state between simulation runs (``ResetNetwork()``)"
This continues the discussion from #525. Going from NEST 2 to 3, the API function ``ResetNetwork()`` was removed because it was unclear what it was supposed to do. We now propose to reintroduce the function, but with a more clearly defined semantics. Robust PyNN support for NEST 3 is a particular driver behind this proposal.

In principle, all state variables in neurons, synapses and devices, can

[2022-03-11 09:38] heplesser commented on #2337
Thank you for this nice summary, @clinssen.

Some comments:

- I consider `t_lastspike_` an internal variable, so that should be cleared automatically by `ResetNetwork()`.
- Random number generators should be re-seeded by the user explicitly. The user can choose whether to run again with the same seed or a different seed.
- For random seed and resetting time, we may want to offer convenience argum

[2022-03-11 10:55] jarsi opened #2340 "Described and actual behavior of -Dwith-optimize don't match"
**Description**
While doing some benchmarks together with @ackurth, we discovered that there is a discrepancy between the description and behavior of the flag `-Dwith-optimize`. According to the description in the file [CMakeLists.txt](https://github.com/nest/nest-simulator/blob/6565ce172c950cabb0dc7ffee216d1566fbf6c8a/CMakeLists.txt#L73) the default is `OFF` yielding `-O2`. Changing it to `ON` sh

[2022-03-11 11:22] heplesser commented on #2340
I think `with-optimize=OFF` should to that, i.e., turn off all optimization, i.e., `-O0`. The question then is if `ON` should yield `-O2` or `-O3`. I am not sure why we did not use `-O3` so far—maybe check compile times and resulting performance. Users can always give their own choice explicitly if they want. Documentation must obviously be updated.

[2022-03-11 12:56] jessica-mitchell commented on #2308
I think for now we can leave the name as is. Closing issue as link is fixed.

[2022-03-11 12:56] #2308 closed

[2022-03-11 17:19] clinssen opened #2342 "Segfault when trying to instantiate NESTML module or load model"
I'm getting a segfault when trying to instantiate a NESTML model from a freshly loaded module:

[code]

The backtrace is:

[code]

[2022-03-11 17:53] pnbabu commented on #2342
I see a similar error in Mac OS while installing a module built with NESTML

[code]

Backtrace:
[code]

[2022-03-11 20:20] heplesser commented on #2342
I assume you get these errors when working with a branch that is up-to-date with master? There, as of #2316, nodes are no longer allocated from `sli::pool`, so the fact that @clinssen's stack trace includes `sli::pool` may point to an inconsistency between NESTML and master.

[2022-03-14 12:18] #2255 closed

[2022-03-15 13:52] pnbabu commented on #2342
This error was due to an issue with ipython in my conda environment. Updating it to the latest version solved the problem.

[2022-03-15 14:07] #2271 closed

[2022-03-15 15:26] #2330 closed

[2022-03-17 09:36] #1097 closed

[2022-03-17 13:11] heplesser opened #2344 "clang-format 9.0.0 not available from PyPi for macOS"
Recently, `clang-format >= 9.0.0` was added to `environment.yml`.  This leads to failure on macOS, since PyPi provides clang-format wheels for macOS only from 10.0.1 onwards.

So we either need to take this out of the environment.yml file again or hike the clang-format version.

[2022-03-17 18:37] jougs commented on #2337
I am against re-using the old name `ResetNetwork()` here, as it would again suggest one-function-to-rule-them-all semantics. I  would rather introduce one or more functions with clear meanings. Regarding the addition to optional convenience arguments, I am also skeptical.

I would find something along these lines much more expressive:

[code]

My proposed function `clear_buffers()` could also be s

[2022-03-17 19:37] heplesser commented on #2344
@jougs clang-format is pip-installable for all newer versions on a wide range of systems (https://pypi.org/project/clang-format/13.0.1/#files), so do you see any reason not to jump to the most recent version per today, 13.0.1?

[2022-03-18 10:50] terhorstd commented on #2344
Formatting the code on MacOS is not release critical. The code is tested against clang-format-9 on the CI, which does not influence running NEST on MacOS. Only developers that are only on MacOS have to rely on CI, instead of testing locally.
Removing from milestone.

[2022-03-18 11:09] terhorstd commented on #2237
Since this is a deeper issue, we would do the release now for all other deployment formats and add a patch to the 3.x releases later – potentially even only in the conda packaging step.
Removing from milestone.

[2022-03-18 11:53] #2318 closed

[2022-03-18 13:14] terhorstd opened #2350 "Unify how to contribute information"
**Describe the flaw**
Currently, a contribution guide is in the `doc/userdoc/contribute/*` and in `CONTRIBUTING.md`. Both disagree, `CONTRIBUTING.md` is outdated.

**Suggest an improvement**
Incorporate the `CONTRIBUTING.md` into the proper documentation, so that there is only a single up-to-date guide. The link "Remember, contributions to this repository should follow its [contributing guidelines

[2022-03-18 13:24] terhorstd commented on #2326
The version information was removed from `conf.py` some time ago already (#2187, #2274). This issues is hence obsolete.

Closing.

[2022-03-18 13:24] #2326 closed

[2022-03-18 13:50] #1441 closed

[2022-03-18 18:02] heplesser commented on #2344
@terhorstd The problem is that creating a conda environment from environment.yml (pip part) fails when clang-format 9 cannot be installed. This would also irritate advanced users.

--
Prof. Dr. Hans Ekkehard Plesser
Head, Data Science Section
Faculty of Science and Technology
Norwegian University of Life Sciences
PO Box 5003, 1432 Aas, Norway
Phone +47 6723 1560
Email ***@***.***
Home http://arken

[2022-03-21 10:00] jougs commented on #2344
Removed in ed45e471f on the 3.3. release branch. For master, we're going to hike the requirement to the latest available version after the release.

[2022-03-22 10:22] morales-gregorio opened #2354 "Nest simulations cannot be pickled"
Hi,

I am using NEST to run many medium size simulations to perform a parameter scan. As part of my workflow the nest simulation gets packaged into a class and at some point pickled for future use.

The problem is that some of the newer objects in nest 3 cannot be pickled at all. In particular the nest.NodeCollection as well as the new devices cause this problem. Not being able to pickle severely

[2022-03-22 13:38] stinebuu commented on #2212
@sdiazpier Any updates on this? :)

[2022-03-22 13:44] stinebuu commented on #2193
Closing due to inactivity and answers from @Helveg and @StefanBruens. @yurivict, feel free to open again if the problem persists.

[2022-03-22 13:44] #2193 closed

[2022-03-22 14:00] stinebuu commented on #2354
Have you tried with plain `pickle`? See an example [here](https://github.com/nest/nest-simulator/blob/master/pynest/examples/store_restore_network.py).

[2022-03-22 15:31] morales-gregorio commented on #2354
Similar error:
[code]

Output:
[code]

[2022-03-22 15:33] morales-gregorio commented on #2354
I could circumvent this problem by doing the following:
[code]

Not ideal but it works now

[2022-03-22 16:22] morales-gregorio opened #2357 "No clipping for random parameters in nest 3.2"
Hi,

with the new `Parameter` objects there seems to be no support anymore for clipped distributions. This is particularly problematic for the case of delays, since the smallest delay should be set to the same size as the resolution of the simulation.

The documentation seems to indicate that this is possible (this exact functionality is what I would like to use),
[code]
but the actual implementat

[2022-03-24 03:05] yourssmile opened #2358 "When run csa_example.py unknow Python type<class 'csa.connset.ConnectionSet'>"
I want to build a network connection through CSA

But when i run csa_example.py

I've come across an error.

  File "csa_example.py", line 93, in <module>
    nest.Connect(pre, post, connspec)
  File "/home/xc/Desktop/nest-3.2-build/lib/python3.8/site-packages/nest/ll_api.py", line 227, in stack_checker_func
    return f(*args, **kwargs)
  File "/home/xc/Desktop/nest-3.2-build/lib/python3.8/site-p

[2022-03-27 20:06] #2049 closed

[2022-03-28 09:11] hakonsbm opened #2359 "Connecting spatial nodes with mask and `edge_wrap=True` yields wrong connections"
Creating a population with node positions drawn from a random distribution, without specifying the extent, will calculate the extent and centre based on node-positions.
[code]
The above example will print
[code]
The extent is not (2r, 2r) = (1.0, 1.0) as one would expect, and the centre is not at (0.0, 0.0).

Furthermore, with edge wrapping turned on, using masks when connecting will not connect t

[2022-03-29 06:13] Hugo-Mu opened #2361 "Inconsistent connections with array indexing when using multiple processors OR Issues with GetConnections on multiple processors (edit)"
**Describe the bug**
When trying to connect two population using sparse matrices (or standard matrices with no zero_values as well), as is described in [https://nest-simulator.readthedocs.io/en/stable/guides/connection_management.html#modifying-existing-connections](https://nest-simulator.readthedocs.io/en/stable/guides/connection_management.html#modifying-existing-connections), the connections ar

[2022-03-29 07:02] Hugo-Mu commented on #2361
After playing around the MRE a little, I have found out that the issue seems to be with the call ```GetConnections(source_population[i], target_population)```, as there seem to be no issue at all in any of the connections when looking from the postsnaptic side (i.e. with ```GetConnections(source_population, target_population[i])```), as is shown below
![16cores_post](https://user-images.githubuser

[2022-03-29 09:11] jessica-mitchell commented on #2322
@clinssen there is indeed some odd behaviour with the font. I explicitly added a font-family to the custom css. Could you check on your system how this looks: https://nest-test.readthedocs.io/en/fix-font-rtd/index.html
thanks!

Also, fyi, the font-family in for the forthcoming new theme (#2289), is included in the css as well.

[2022-03-29 10:57] jessica-mitchell commented on #2266
@jstapmanns would you be able to take a look at this and include the suggestions from @heplesser into the model documentation?

[2022-03-30 02:17] #2361 closed

[2022-03-30 02:32] Hugo-Mu opened #2363 "Inconsistent GetConnections behaviour on multiple cores"
**Describe the bug**
When running NEST on multiple processors (```nest.n_processors``` >  1), ```nest.GetConnections(source,targets)``` (get all targets from one source) does NOT return the correct weight for a given source-target pair. This is to contrast with the behavior when using ```nest.GetConnections(sources,target)``` (get all sources to one target), which returns the correct values of wei

[2022-03-30 08:28] hakonsbm commented on #2363
Thanks for reporting this issue. Just to clarify, because you talk about both "processors" and "cores", are you talking about running on multiple threads (by setting `nest.local_num_threads=16`)? Or are you also running on multiple MPI processes (running the script with for example `mpirun -n 4 python script.py`)?

[2022-03-30 08:48] hakonsbm commented on #2358
PyNEST not recognizing the ConnectionSet object could mean that NEST did not properly link to libneurosim during compilation. Did you use the `-Dwith-libneurosim=<path_to_libneurosim_installation>` flag when running CMake before compiling NEST? And if so, please paste the "NEST Configuration Summary" that is printed at the end of the CMake output.

[2022-03-30 08:53] Hugo-Mu commented on #2363
When I write core/processor I indeed mean threads ! (with ```nest.local_num_threads=x```)
Sorry for the unclear language and the confusion !

[2022-03-30 11:26] hakonsbm commented on #2363
The problem comes from calling `nest.GetConnections(A[40],B)` for both the x and y value in `plt.scatter()`. Connections in NEST are stored on the postsynaptic node's thread, and when gathering connections from multiple threads, the chunks of thread-local connections of each thread are added to the list in arbitrary order. Therefore, if `GetConnections()` is called multiple times, the resulting li

[2022-04-04 07:05] jessica-mitchell opened #2364 "Improve documentation for Izhikevich model"
The synapse model type should be mentioned in the model description (current-based synapses ?).
The equation for the dynamics is also not rendered properly and needs to be fixed.

[2022-04-06 21:13] med-ayssar opened #2367 "Missing `buffer_size_secondary_events` in `pynest`"
Calling `nest.buffer_size_secondary_events` causes a `keyerror exception`. However, the [documentation](https://nest-simulator.readthedocs.io/en/v3.3/ref_material/pynest_apis.html?highlight=buffer_size_secondary_events#nest.NestModule.buffer_size_secondary_events) shows that the `buffer_size_secondary_events` is part of the `KernelAttributes`.

[2022-04-11 08:00] yourssmile opened #2369 "Save and load SNN_model"
When I create a random SNN_model, and I want to save this model, I must save the neuron population and connection parameters to my files.
When I want to create the SNN_model, I created last time, I must load parameters from my files.
The work is rather tedious.

Is it possible to do a function of exporting model and loading model?

[2022-04-11 08:48] heplesser commented on #2369
You may want to take a look at this PyNEST example: https://github.com/nest/nest-simulator/blob/master/pynest/examples/store_restore_network.py

Generally, the best place to ask questions about how to use NEST is the NEST User Mailing List: https://www.nest-simulator.org/community/

@jessica-mitchell It seems that the store-restore example is not listed in our list of PyNEST examples at  https://n

[2022-04-11 11:34] yourssmile commented on #2369
Thank you for your answer, which is very helpful to me. I haven't been around NEST for long, so I haven't noticed the community forums， I am very sorry.

[2022-04-11 19:10] jessica-mitchell commented on #2369
@heplesser yes, it is indeed missing. I created a PR to include the missing examples

[2022-04-12 15:02] morales-gregorio commented on #2357
Hi! Thanks for the tip, it would be great to see this somehow built into the docs. Works perfectly fine now :)

It seems to also be relevant that when using `nest.math.min(Parameter, float)` the order of the inputs is kept, I am fine with this although I guess it should be explicitly said in the docs since it is not so intuitive that this should matter.

Best,
Aitor

[2022-04-20 10:43] #2285 closed

[2022-04-21 09:15] heplesser commented on #2052
@wisev Please excuse the very long delay in following up this issue. After further analysis, I have come to the conclusion that the `spike_dilutor` cannot be fixed for multithreaded simulation. But a solution is available in form of the `bernoulli_synapse`, which does the same thing, but implemented as a synapse instead of as a "pseudo"-neuron.

With the `bernoulli_synapse`, your example can be im

[2022-04-21 10:37] #2369 closed

[2022-04-21 10:47] #2060 closed

[2022-04-22 14:03] heplesser commented on #1933
@sdiazpier @pnbabu Ping!

[2022-04-22 14:05] heplesser commented on #1565
@clinssen @pnbabu Ping!

[2022-04-22 14:20] heplesser commented on #2154
I will close this issue for now. The code works, and once we revise our MPI testing setup we anyways will need a thorough re-write.

[2022-04-22 14:20] #2154 closed

[2022-04-24 12:10] med-ayssar opened #2378 "`nest.CopyModel` doesn't assign `new_id` to the new copied model"
**Describe the bug**
Once an instance of a copied model is created, `nest` returns again `Unknown` as the model name on the call of the `get` function.
**To Reproduce**
Steps to reproduce the behavior:
1. Copy the model
2. Create new instance
3. Call the get function
4. Observe the `model` and `model_id`  fields in the `dict`

**Expected behavior**
The copied model `id` must be a non-negative numb

[2022-04-25 08:15] heplesser commented on #2199
After some reflection, since `DoubleDataEvent` works and may be of use again, I think we can leave it in the code. I thus close.

[2022-04-25 08:15] #2199 closed

[2022-04-25 08:35] heplesser commented on #357
@clinssen Will this be addressed by NESTML? Then we could close this issue.

[2022-04-25 11:33] heplesser opened #2381 "Prevent NEST from running under mpirun-control if not built with MPI"
If NEST is built without MPI support, invoking NEST with `mpirun -np N` will create N independent NEST instances. This is a behaviour the user most likely does not desire. When writing to files, there is considerable risk that these instances will write to the same output files simultaneously, creating a mess at best.

Therefore, it would be good if an MPI-free NEST could report an error if it is

[2022-04-25 11:35] heplesser commented on #2363
@Hugo-Mu From your thumbs-up I take it that your are satisfied with the answer by Håkon and will close this issue.

@hakonsbm @jessica-mitchell How well is this aspect explained in the documentation? Should we add some information or an example (new issue)?

[2022-04-27 14:04] terhorstd commented on #2300
Hi @StefanBruens , my apologies for the delay.
Would the `-Dwith-python=OFF` flag help in your case? Then `make install` will not build the PyNEST interface.

[2022-04-27 17:40] StefanBruens commented on #2300
Previously I have been informed the Python interface is the only official, stable API of nest, and API compatibility is not a concern for the C++ interface.

_Originally posted by @heplesser in https://github.com/nest/nest-simulator/issues/2376#issuecomment-1105825821_

So disabling the Python API would create a package without any stable, external interface. Obviously this is not viable.

[2022-04-28 08:35] epastorelli opened #2382 "Compartmental model documentation: inconsistency in unit of measure of some parameters"
**Describe the flaw**
In NEST 3.3 compartmental model documentation (https://nest-simulator.readthedocs.io/en/v3.3/models/cm_default.html), capacitances and conductances are expressed respectively in uF and uS.
In cm_tree.cpp, lines 488-489 (print_tree function), they are reported as nF and uS.
In the given examples receptors_and_current.py and two_comps.py (https://github.com/nest/nest-simulator/

[2022-05-02 07:00] heplesser commented on #2321
@babsey Have you had a chance to take a look at this issue?

[2022-05-02 08:04] babsey commented on #2321
No, I did not look at this issue. But I think it is not a big deal to change it.
A new default port would be very uncommon one like 5813 (Fibonacci) or do you have a better number?

When the default port changed in next release, we need to inform associated projects which use NEST Server.
Here, I list projects using NEST Server:
- [NEST Docker](https://github.com/nest/nest-docker)
- [NEST Desktop]

[2022-05-02 12:24] heplesser commented on #2321
I have no previous experience in assigning port numbers, but after a quick search its seems that there is an [official IANA table mapping ports to services](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml) and a [protocol for assigning ports to services](https://www.rfc-editor.org/rfc/rfc6335.html). It seems to me that we should not use a port (below 41

[2022-05-04 08:45] clinssen commented on #2323
Issue was fixed in https://github.com/nest/nest-docker/pull/108.

[2022-05-04 08:45] #2323 closed

[2022-05-04 10:46] #1499 closed

[2022-05-05 16:02] babsey commented on #2321
See https://stackoverflow.com/questions/2200199/how-do-you-decide-what-port-to-use

[2022-05-06 11:11] ackurth opened #2388 "Unintuitive parametrization of gaussian2D"
**Is your feature request related to a problem? Please describe.**
The parametrization for ```nest.spatial_distributions.gaussian2D``` is in my humble opinion somewhat unintuitive. While I see that this is a standard parametrization for the two-dimensional Gaussian probability distribution, I have a hard time to relate the parameters directly to a tilted ellipse describing the cloud of points one

[2022-05-06 12:48] heplesser commented on #2388
@ackurth I think you have a point, but I am a bit reluctant to introduce a change that is not backward compatible. But I suppose one could deprecate the old scheme and for the time being, at least at the Python level, support the old and new parameterizations simultaneously, since both use different sets of parameters. One feature not supported by the Gabor scheme is an offset of the center as pro

[2022-05-08 07:39] clinssen opened #2389 "Some models internally force integration timestep below a certain value"
There are several models (adaptive exponential IAF models, ``glif_cond``, ``iaf_chxk_2008``) which internally force the integration timestep to be no greater than 0.01, e.g.:
https://github.com/nest/nest-simulator/blob/6adfd2cbb2df87123453cd2b46ef1aee40837d40/models/aeif_cond_exp.cpp#L381
I wanted to discuss whether this is an issue. This would mean that different nodes in the simulation are integ

[2022-05-09 07:21] heplesser commented on #2389
@clinssen As far as I can see, `iaf_chxk_2008` initialises `B_.IntegrationStep_` to the simulation resolution, so nothing special happens in that model. For `glif_cond`, I am not quite sure why it sets this low initial value for `B_.IntegrationStep_`, since the dynamics are not that fast; the comment in that code suggest that this setting migrated there from the aeif models.

Now, `B_.IntegrationS

[2022-05-09 12:12] hakonsbm commented on #2388
@heplesser I don't remember, but that reason seems possible. Not sure about the benefit of passing them as a 2D vector, though.

[2022-05-09 13:30] sanjayankur31 opened #2390 "nest fails to build with Python 3.11: error: cannot convert 'PyObject*' {aka '_object*'} to 'PyTracebackObject*' {aka '_traceback*'} in assignmen"
**Describe the bug**
nest fails to build with Python 3.11.0a6.

[code]

The interpreter state’s representation of handled exceptions (a.k.a exc_info, or _PyErr_StackItem) now has only the exc_value field, exc_type and exc_traceback have been removed as their values can be derived from exc_value. (Contributed by Irit Katriel in bpo-45711.)

https://bugs.python.org/issue45711
https://docs.python.org

[2022-05-09 13:54] heplesser opened #2391 "Review parameterization of location-dependent connection kernels"
This issue is inspired by #2388. The attached notebook provides a brief overview over some problems with the current implementation and documentation of location-dependent connection kernels, especially the Gaussian variants
[SpatialKernelProblems.pdf](https://github.com/nest/nest-simulator/files/8652225/SpatialKernelProblems.pdf).

Here some suggestions for a solution:

- Around the table of "dis

[2022-05-09 13:55] heplesser commented on #2388
I discovered a number of additional surprises and created #2391 as follow up.

@ackurth If you agree, kindly close this issue and let's continue discussion in the new one.

[2022-05-10 06:36] ackurth commented on #2388
Closing the issue due it followed up by #2391.

[2022-05-10 06:36] #2388 closed

[2022-05-12 12:02] #2295 closed

[2022-05-12 12:15] SimonSenn commented on #2184
Has anyone managed to resolve the issue?

[2022-05-12 12:26] #1974 closed

[2022-05-12 12:50] heplesser commented on #2184
In both cases reported above, there seems to be a mix-up between running a Python 3.9 interpreter and a NEST module built for Python 3.8. Conda should handle this properly in its dependency tracking.

Currently, NEST 3.3 is available on conda-forge in versions build for Python 3.8, 3.9 and 3.10. Could you please try again in a new, clean conda environment and report if this solves the problem?

[2022-05-12 13:18] SimonSenn commented on #2184
Thanks for the answer. Indeed, I have tried multiple times to install nest-simulator in a new and clean environment (nest_project2) but I always receive an import error as shown here:

Traceback (most recent call last):
  File "/Users/Simon/PycharmProjects/nest_project2/Try_5.py", line 1, in <module>
    import nest
  File "/Users/Simon/opt/anaconda3/envs/nest_project2/lib/python3.10/site-packages

[2022-05-12 13:49] heplesser commented on #2184
@SimonSenn Based on the log, I assume that you are working on a Mac. Does you machine have AppleSilicon or an Intel CPU?

[2022-05-12 13:53] SimonSenn commented on #2184
Correct. My Mac has an Intel CPU.

[2022-05-12 14:50] heplesser commented on #2184
I just tested on my Mac with macOS 12.3, Intel CPU. I have version 4.12.0 with Python 3.8 in the base conda environment (miniconda, not full anaconda). I then executed (in base)
[code]
Conda then created an environment with Python 3.10 and GSL 2.7. After activating it, running `nest` directly and importing `nest` from `python` and `ipython` worked for me. My paths with `nest_test` activated look l

[2022-05-13 12:31] steffengraber commented on #2237
Conda package for NEST v3.3 is available again. https://github.com/nest/nest-simulator/commit/05539ffdbe13affc3b8bed6de2095dffed1b4a16 has solved the problem.

[2022-05-13 12:31] #2237 closed

[2022-05-13 13:16] heplesser commented on #2391
@ackurth Thanks for working this out! We should indeed align. In mathematics, 0 angle is usually at the horizontal and one counts counterclockwise, while on maps it is on the vertical and one goes around clockwise. What would be most intuitive to computational neuroscientists? How does the neuroscience literature describe receptive field orientation and similar? The same questions apply to degree

[2022-05-13 14:13] pradkrish commented on #1933
Hello, Is this issue still open? I am happy to give it a go.

[2022-05-14 14:28] SimonSenn commented on #2184
Thank you very much! It did not work in the beginning. Then, I uninstalled anaconda and all connected files and reinstalled miniconda. I then followed your steps and it works now. I don't know if it was a mismatch between different versions or if my paths were not set correctly. Anyway, thanks for your help!

[2022-05-15 16:17] SimonSenn commented on #2184
Sorry for bothering again. I encountered another problem it seems. I can import nest and all but when I try to apply commands like nest.Create() or nest.Connect(), PyCharm gives me a warning saying:

Cannot find reference 'Create' in '__init__.py'

Does anyone have a solution?

[2022-05-15 19:59] ackurth commented on #2391
In the literature I only found ambiguous uses: [Here](http://observatory.brain-map.org/visualcoding/stimulus/drifting_gratings) (from Allen institute) the vertical axis corresponds to 0 deg. On the other hand, in this study by [Hubel and Wiesel](https://physoc.onlinelibrary.wiley.com/doi/10.1113/jphysiol.1959.sp006308) the horizontal axis seems to be 0 deg (without making it explicit, though). [He

[2022-05-16 14:23] Helveg opened #2395 "Can't use `-j` on `install-nodoc` target"
**Describe the bug**
Using `-j8` on `make install-nodoc` results in this error:

[code]

and results in a terribly slow build, slower than `make install -j8`

[2022-05-16 21:45] gergogomori opened #2397 "Improve the flexibility of the "Izhikevich neuron model""
**Target**
Currently the "Izhikevich neuron model" has several hard-coded parameters, the model is not as flexible as it could be. With slight modifications to the current code, more types of neurons could be properly modelled.

**Solution**
The following equations could be implemented as in Izhikevich (2007), chapter 8.1.4:
![equation](https://latex.codecogs.com/svg.image?C\dot{v}=k(v-v_r)(v-v_t)

[2022-05-17 09:40] clinssen commented on #2397
@gergogomori: thanks for your suggestion! Could it be an option for you to implement this model using NESTML?

See for example: https://github.com/nest/nestml/blob/master/models/neurons/izhikevich.nestml

[2022-05-17 11:27] jougs commented on #2116
For me, this boils down to the fact that NESTML (and possibly other external tools) need a way to query NEST version information in a nice way. As different parts of NEST are moving at a different pace, I would even suggest that we introduce different version numbers for the different parts, e.g. the module API, the model API, the PyNEST API, the NEST C++ API, and possibly others.

@sanjayankur31,

[2022-05-17 15:04] sanjayankur31 commented on #2116
The changes we've made in #2250 do allow the different shared objects to be versioned independently of each other and of the nest release value, ideally following the scheme recommended by the libtool documentation:

https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html

This only affects other software that links against the NEST shared objects at build/compile time, th

[2022-05-18 06:21] heplesser commented on #1933
Yes, the issues appears still to be open.

[2022-05-18 06:27] heplesser commented on #2184
NEST imports its components in an indirect way. This may confuse PyCharms code completion scheme and other features.

- In PyCharm, do you get the warning when running the code or is it a warning from the PyCharm editor? Could  you maybe post a screen shot?
- Could you test in a python or ipython shell that runs in the terminal, outside PyCharm?

[2022-05-18 09:14] lionelkusch opened #2398 "Wrong release to dowload from the documentation"
**Describe the flaw**
The link for the current release of the page : https://nest-simulator.readthedocs.io/en/v3.3/installation/index.html point to the version 2.20.

"Download the source code for the [current release](https://github.com/nest/nest-simulator/archive/v2.20.0.tar.gz)."

**Suggest an improvement**
You should update the link with the last release.

[2022-05-18 12:15] babsey opened #2399 "Parameter in ConnectLayers doesn't accept integer."
**Describe the bug**
With network of spatial neurons, it shows an error in `nest.Connect` call when the function has spatial distribution, e.g. for `p` and any synaptic specification is an integer:
[code]

**To Reproduce**
[code]
But it works when synaptic weight is float.

**Expected behavior**
As other parameters it should accept integers.

[2022-05-23 07:57] gtrensch commented on #2254
@ikitayama Are there any update on this?

[2022-05-23 08:03] #2293 closed

[2022-05-23 13:29] heplesser opened #2404 "model_details notebooks installed to wrong place or linked incorrectly"
The Jupyter notebooks from the `model_details` directory are installed to a different place than they are linked to. The notebooks are installed to

- https://nest-simulator.readthedocs.io/en/latest/neurons/model_details/aeif_models_implementation.ipynb

while the link from e.g. https://nest-simulator.readthedocs.io/en/latest/models/aeif_psc_alpha.html

goes to

- https://nest-simulator.readthedoc

[2022-05-25 10:15] babsey opened #2405 "Doc doesn't mention `t_ref` of `hh_psc_alpha`"
**Describe the flaw**
The user documentation doesn't mention `t_ref` of `hh_psc_alpha` (See the code https://github.com/nest/nest-simulator/blob/master/models/hh_psc_alpha.h#L91).

The question is, can the user set the value of `t_ref`?

**Suggest an improvement**
Add a line in doc for the parameter `t_ref` or remove the parameter from the model.
However the parameter `t_ref` seems to be used in t

[2022-05-31 14:03] RCagnol opened #2406 "Lack of parallelization of step_current_generator"
**Describe the bug**
The step_current_generators contribution in the simulation time seem to scale very badly with the number of threads used, in comparison to the contribution of neurons such as iaf_cond_exp. We reported the same issue on the mailing list here: https://www.nest-initiative.org/mailinglist/hyperkitty/list/users@nest-simulator.org/thread/NRWWS6X6JA53FCVOK2N7EXIFYYXGXNXI/

**To Repro

[2022-06-03 11:54] #2344 closed

[2022-06-06 15:05] Helveg opened #2409 "Building NEST wheels on `manylinux` image leads to an error because boost is missing"
**Describe the bug**
This bug is specific for a WIP branch of @hakonsbm and @jougs. When trying to build the NEST wheels on the manylinux image I run into the following error:

[code]

What we see:

1. CMake knows Boost is missing
2. `dictionary.cpp` includes boost anyway. Is this new code specific to your undertaking @hakonsbm ?

Should I work around this by installing Boost for now? If so, how?

[2022-06-07 07:25] hakonsbm commented on #2409
Thanks for reporting this. I assume you are referring to the [new-pynest branch](https://github.com/hakonsbm/nest-simulator/tree/new-pynest) in my fork. Boost is currently required by the dictionary implementation in dictionary.cpp. Eventually we may move to a mixed C++17/Boost implementation or a pure C++17 implementation, but as a workaround right now you should install with Boost (you only need

[2022-06-07 07:25] #2409 closed

[2022-06-10 20:40] saeidehdavoudi opened #2413 "Difficulties in installation on windows"
Hello,

I followed the instruction for installation on windows (using virtualbox) but I cannot import the nest on that. I faced the error "failed to open a session for the virtual machine lubunta-22.04 mit nest-v3.3 2". could you please help me on that?

Thank you in advance,

S.D

[2022-06-12 15:43] ackurth opened #2414 "After slicing node collection, spatial metadata (especially positions) is incorrect in NEST >= 3.2"
**Describe the bug**
When creating a node collection with spatial metadata containing more than one node, slicing and then fetching the positions of the nodes returns the positions of the unsliced node collection

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Current output of script (NEST 3.{2,3})
[code]
Expected output (NEST 3.{0,1})
[code]

**Desktop/Environmen

[2022-06-23 10:17] zbarni opened #2420 "Numerical instability in aeif_psc_alpha neuron model"
**Describe the bug**
While running some experiments together with @TeEsTeBe, we found the implementation of the `aeif_psc_alpha` neuron model appears to be numerically unstable for certain RNG seeds, with two different behaviors as described below:

**To Reproduce**
Steps to reproduce the behavior:
1. Consider the following example script
[code]
2. Used parameters
See script. We tried two differen

[2022-06-24 06:33] heplesser commented on #2420
Due to the exponentially growing current in the AEIF models, it is fiendishly difficult to integrate numerically. Some other implementations of the model simply side-step this by using forward Euler for integration, but NEST strives to be exact and uses an adaptive-stepsize RKF45 solver. To keep numerics somewhat under control, we limit `V_m` to `V_peak` when evaluating the right-hand side of the

[2022-06-25 08:10] Craw-B opened #2424 "how to run dry-run method in the nest。"
I read a paper about dry-run method,And I read the dry-run method in the nest source code. I want to know how to call it.But i dont know how to use it

[2022-06-27 14:58] terhorstd opened #2425 "Numerical instability found in test suite"
**Describe the bug**
Only the full-build of [PR #2418](https://github.com/nest/nest-simulator/pull/2418) shows a numerical difference to what is expected:
[code]

**To Reproduce**
Run test suite of full build on GitHub. See for example the [build logs](https://github.com/nest/nest-simulator/runs/7068366948?check_suite_focus=true) of #2418.

**Expected behavior**
Test suite should pass.

**Addition

[2022-06-28 09:33] #2425 closed, assigned to nobody

[2022-06-29 07:23] Craw-B commented on #2413
Nest cannot be installed on windows. You need to install it in the Linux environment. It is better to install the source code. Windows can also be installed using docker.

[2022-06-29 09:37] steffengraber commented on #2413
@ricardomurphy I can confirm this and will create a new VM.

@saeidehdavoudi Is it necessary to use this version, or can you switch to the latest version?

I'll let you know as soon as the update is available.

[2022-06-30 11:37] ricardomurphy commented on #2413
Unfortunately I still get the same error, both with the latest
version of NEST and Ver. 3.1:

Failed to import appliance C:\temp\nest-latest.ova.

Result Code: E_INVALIDARG (0x80070057)

Failed to import appliance C:\temp\nest-3.1.ova.

Result Code: E_INVALIDARG (0x80070057)

This was using Ver. 6.1.34 of VirtualBox in Windows 2010.
Ricardo
___________________________________

Dr. Ricardo Murphy,

[2022-06-30 11:55] steffengraber commented on #2413
@ricardomurphy Which file system do you have in Windows 2010? Fat32 only supports file sizes up to 4 GB, which is too small here.

[2022-06-30 12:09] saeidehdavoudi commented on #2413
Hello,
Thanks for the guidance. At that time, I needed working with NEST urgently, so I gave up windows and I tried on LINUX but I will use this version as well. My windows is 11.

Thanks,

S.D
________________________________
From: ricardomurphy ***@***.***>
Sent: Thursday, June 30, 2022 4:35 PM
To: nest/nest-simulator ***@***.***>
Cc: Saeideh Davoudi ***@***.***>; Mention ***@***.***>
Subject: R

[2022-06-30 12:28] steffengraber commented on #2413
@ricardomurphy Unfortunately, I don't have access to a Windows 10 system at the moment to test this. But I think these errors indicate a storage or RAM problem. How much free space do you have on your hard drive? How much RAM do you have available?

[2022-06-30 13:40] ricardomurphy commented on #2413
I have around 10 GB free on my C: drive (that's with VirtualBox installed) and I put the ova file on a 1TB drive with about 700 GB free. I have a total of 12 GB RAM.
Ricardo
___________________________________

Dr. Ricardo Murphy,
University of Oslo,
Domus Medica,
Division of Physiology,
Pb. 1103, Blindern,
0317 Oslo

On Thu, Jun 30, 2022, at 14:28, Steffen Graber wrote:

[2022-06-30 14:30] WillemWybo commented on #2382
Thank you very much for raising this issue. The compartmental model actually exerts no control over the units, meaning that it's up to the user to choose units that fit. The unit of time will always be ms though, and it's reasonable to assume that the unit of voltage is always mV. If for instance, capacitance is expressed in nF, that means that the capacitive currents will be in nF * mV / ms = nA.

[2022-06-30 14:47] ricardomurphy commented on #2413
Hello again.
I just managed to import nest 3.3 into VirtualBox on my Windows 10 tablet (Microsoft Surface Pro 4), which is a younger machine than my desktop. I'll test it tomorrow and let you know
Ricardo
___________________________________

Dr. Ricardo Murphy,
University of Oslo,
Domus Medica,
Division of Physiology,
Pb. 1103, Blindern,
0317 Oslo

On Thu, Jun 30, 2022, at 15:39, Ricardo Murphy wr

[2022-06-30 16:50] steffengraber commented on #2413
That sounds better. Thanks for your testing efforts.

[2022-07-01 07:23] #2254 closed

[2022-07-01 08:46] steffengraber commented on #2184
@SimonSenn Do you still have the problem in PyCharm?

[2022-07-01 08:59] steffengraber commented on #2184
@roopa-pai , @JiaweiShen1116  Are your difficulties with the import of NEST solved with the advice given so far?

[2022-07-01 09:07] Helveg commented on #1905
A "lean" superflag would also be appreciated: no share, no docs, no test, no help, no cruft. Just the binaries and libs 👍

[2022-07-01 16:20] ricardomurphy commented on #2413
Hi,
I ran the following program in the NEST VM, taken from the "Getting Started" page of the NEST website:

import nest
import nest.voltage_trace
import matplotlib.pyplot as plt
nest.ResetKernel()

#Create the neuron models you want to simulate:

neuron = nest.Create('iaf_psc_exp')

#Create the devices to stimulate or observe the neurons in the simulation:

spikegenerator = nest.Create('spike_gene

[2022-07-04 07:14] steffengraber commented on #2413
Thanks again for testing. We should perhaps discuss our hardware requirements again.

[2022-07-04 07:18] steffengraber commented on #2413
Since the issues seems to be fixed for now, I am closing the issue.

[2022-07-04 07:18] #2413 closed

[2022-07-04 09:51] jougs opened #2426 "Failing assertion upon `import nest`"
The following issue was reported [on the mailing list](https://www.nest-simulator.org/mailinglist/hyperkitty/list/users@nest-simulator.org/thread/A6NI4ONGZASI36BFJKL25FC54JSL2RNN/):

[code]

 - Rocky Linux 8.5
 - NEST 3.3 (Installation from source)
 - Problem also exists with current git

[2022-07-04 10:02] jessica-mitchell opened #2427 "Improve guidelines for mailing list communication"
**Describe the flaw**

We regularly have questions from users that lack adequate information, or questions that are repeated.

**Suggest an improvement**

If inadequate info is provided, the developer who is answering  can link to a page(s) regarding troubleshooting / mail template about what we expect  (OS, nest version, installation method) to help debug issues.

Specific changes:

- [ ] The tro

[2022-07-04 10:20] heplesser commented on #2426
Could you try running nest directly as follows:
[code]
and see if that works? If that does not work, could you try
[code]
and report the output? Could you also look at `libnestutil/config.h` in the build directory and post these lines corresponding to these (towards the end of the file):
[code]

[2022-07-05 20:59] heplesser commented on #2426
Did you configure NEST with the CMake option `-Dtarget-bits-split=hpc`? That likely explains the effect. Could you configure and build NEST again without this option and try again?

With `hpc`, NEST only uses 6 bits to encode up to 64 synapse model IDs, but NEST by default comes with 74 synapse models (because most synapse models come in plain, _lbl and _hpc  variants). In the standard configurati

[2022-07-08 08:32] marcobiasizzo opened #2428 "When selecting one neuron from a spatial population (using an index), maintain the spatial position only of the selected neuron"
**Is your feature request related to a problem? Please describe.**
I tried to implement a complex spatial connection. I wanted to define a custom logic connection for each of the input neurons. Iterating in a for loop, I selected the input neurons singularly and put them in the Connection function. Since they maintained the "spatial" metadata of the entire source population, the implementation fai

[2022-07-08 11:27] sdiazpier commented on #2212
Dear @swathianil I have generated a new branch with the modification to specify if atuapses are to be allowed or not with SP connections. The PR is currently in a test phase, once it has passed all CI tests I would ask you to please test it and validate that the functionality you are looking for is covered.
I am very sorry for the long time this took. If you have further questions about moving to

[2022-07-13 10:16] clinssen opened #2430 "Multimeter connects *to* neurons, while spike recorders connect *from* neurons"
While playing around with NEST Desktop, I ran into the slightly confusing case that multimeters connect *to* the neurons they are recording from, while for spike recorders the connections are the other way around (*from* the neurons, *to* the recorders). I was wondering if there is any reason not to make this consistent, which should hopefully just amount to a superficial change on the multimeters

[2022-07-17 17:07] dnao opened #2431 "nest-simulator compile failing"
Hi,
I am trying to compile the latest version of nest simulator on a fresh conda environment and would appreciate some assistance as it is failing.

I am using the following packages in conda:

`conda create --name condapythonfornestml -c conda-forge ipython cxx-compiler pyqt wxpython numpy pandas matplotlib h5py jsonschema pytest boost`

When I run cmake it failes at 99%:
[code]

I have attached

[2022-07-23 18:53] gtrensch opened #2434 "Improve link to release notes on the NEST documentation welcome page"
**Problem description:**
The [NEST documentation welcome page](https://nest-simulator.readthedocs.io/en/v3.3/) refers the reader to _release notes_, which covers changes and new features from previous NEST 3.x versions, but the link does not direct the reader to the current version's release notes. This is not what you would expect as a user.

**Suggested solution:**
Since this is a consequence of

[2022-07-23 19:47] gtrensch commented on #2434
PR #2435 created.

[2022-07-25 12:52] #2350 closed

[2022-07-26 06:40] clinssen commented on #2116
I understand the rationale for a separate API version numbering system, but this also adds another layer of complexity and a potential source of confusion to end users. Instead, our versioning policy could potentially be amended to say that any API change requires incrementing the minor NEST version number. This would hold for the external API as well as the internal API. Internal API changes are

[2022-07-26 15:38] JanVogelsang opened #2437 "`get_K_value()` can still return 0 erroneously in edge case"
**Describe the bug**
The bug was already described in #1034 and partially fixed in #1137, but still appears for some parameter combinations.

Continuing on the description of the issue mentioned above:
Between two communication episodes, lots of post-synaptic spikes might occur, which can lead to the removal of other post-synaptic spikes from the history-queue, which is needed for the synapse to c

[2022-07-27 07:14] hakonsbm commented on #2428
@marcobiasizzo Is this the same problem as in #2414?

[2022-07-27 08:58] marcobiasizzo commented on #2428
@hakonsbm Yes, it is. Thank you very much.

[2022-07-27 12:57] StefanBruens opened #2438 "Set RPATH is overly broad and partially incorrect"
**Describe the bug**
Currently, CMAKE_INSTALL_RPATH is used to set an RPATH which tries to fit all 3 of executables, libraries, and the python module.

Each of these 3 sets should have their own, separate RPATH. Otherwise, each one contains two invalid entries (at best non-existing, at worst pointing to something else).

(Unfortunately, distinct RPATH for executables and libraries is not directly

[2022-07-27 14:47] StefanBruens commented on #2300
This issue is still current (3.3).

[2022-08-01 12:19] terhorstd commented on #2431
Can you check if you have all required packages in stalled as mentioned in the Conda `environment.yml`? Check the Conda tab in the [install docs](https://nest-simulator.readthedocs.io/en/v3.3/installation/index.html). It looks like an incompatible `glibc` somewhere in your environment.

[2022-08-01 14:50] gtrensch opened #2441 "Replace the Python imaging library `PIL` with `matplotlib` in the Sudoku example"
**Problem Description**

The Sudoku example introduced with #2384 makes use of the Python imaging library `PIL`. Since we want to keep Python dependencies as low as possible, we would like to replace `PLI` with a `matplotlib` solution. An example for drawing a Sudoku field using `matplotlib` can be found [here](https://github.com/ipower2/Sudoku-Solver).

[2022-08-01 15:04] terhorstd commented on #2300
Yes, I completely agree. I don't recall why that should be necessary, @Helveg was this related to the wheel?

[2022-08-01 15:21] terhorstd commented on #2300
Hey, thanks @Helveg for the fast reply! @StefanBruens would you be interested in joining this effort from the MacOS side?

[2022-08-01 15:24] Helveg commented on #2300
FWIW: "being a proper binary extension to Python" boils down to having NEST's CMake setup successfully executed by `scikit-build`.

[2022-08-01 15:25] StefanBruens commented on #2300
I haven't touched a Mac for over 10 years ...

[2022-08-01 16:07] terhorstd commented on #2300
My appologies @StefanBruens, I wrongly implied this from the `if ( APPLE )` changes in PR 2439 and we're notoriously short in developers on mac, so my hopes went up a bit too much…

[2022-08-01 16:15] #2434 closed

[2022-08-02 06:04] #2052 closed

[2022-08-04 13:56] dnao commented on #2431
Thank you for the assistance @terhorstd . I have tried to compile again using a cluster node running RHEL7.9. This time it fails at 47%. I have attached the make and cmake output.

Pre-installed software includes gsl-2.7, cmake 3.24.0 and openMPI-1.10.3-gnu

I have built a fresh conda environment with the following packages:
conda create --name pythonfornestml -c conda-forge boost readline ipython

[2022-08-05 20:10] jessica-mitchell commented on #2322
Marking this as closed since #2289 should have resolved font issues. Please create a new issue if issue comes up again

[2022-08-05 20:10] #2322 closed

[2022-08-10 08:38] heplesser commented on #2431
@dnao It seems that you are using GCC 4.8, which is ancient. Please try again with a newer compiler. If I remember correctly, the most recent version of GCC is 11, of Clang 13.

[2022-08-10 09:55] Dola47 opened #2446 "Installation issue (ImportError: libgsl.so.25: cannot open shared object file: No such file or directory)"
**Describe the bug**
I'm attempting to set up NEST in a Python virtual environment. I followed the instructions [here](https://nest-simulator.readthedocs.io/en/stable/installation/index.html) (Conda/MacOS) to install NEST on a conda environment.

Conda 4.13.0, ipython 8.4.0, nest-simulator 3.3, jupyterlab 3.4.4, and python 3.9.13 are currently installed.

I just run python in the terminal after ac

[2022-08-10 10:04] heplesser commented on #2446
@Dola47 I have no experience combining Conda environments with virtualenvs (why stack one kind of virtual environment on top of another?). From your description above, it seems that you did not activate the conda environment after creating it (`conda activate LSM`). Then, can you try if `import nest` works after activating the Conda environment, without activating the virtualenv? Finally, I am not

[2022-08-10 13:54] #2446 closed

[2022-08-11 16:28] #2431 closed

[2022-08-11 16:29] dnao commented on #2431
Thank you. The compile is now working with gcc 13.0.

[2022-08-12 07:39] heplesser commented on #2116
I agree with @clinssen that additional version numbering schemes would induce more complexity with limited benefits. If we stick to semantic versioning logic for NEST (https://semver.org), backward-incompatible changes should only be introduced with major version number changes. Would that constrain us too much? I like the idea by mentioned by @clinssen to number non-releases like `nest-3.0-pre@dd

[2022-08-16 15:42] #2395 closed, assigned to nobody

[2022-08-18 04:50] yingmuying opened #2450 "mpirun error when executing according to nest-simulator-3.3/pynest/examples/Potjans_2014/README.rst"
nest-3.3: mpirun -n 2 python3 run_microcircuit.py, error
![nest3 3-mpi error](https://user-images.githubusercontent.com/16082632/185295124-da1509e6-d89b-4dd3-be12-af3b2ccde64a.jpg)
nest-3.2: mpirun -n 2 python3 run_microcircuit.py, OK
cmake with the same settings: cmake .. -Dwith-mpi=ON -Dwith-python=ON

**Desktop/Environment (please complete the following information):**
 - OS: Ubuntu-18.04
 - Br

[2022-08-18 07:01] heplesser commented on #2450
1. Could you post the full cmake invocation and its full output?
2. Have you run `make installcheck`? Did that pass?

[2022-08-18 14:41] heplesser commented on #2406
@RCagnol I have started to look at this problem now and hope to get back to you with a first analysis shortly.

[2022-08-18 15:09] heplesser commented on #2406
@RCagnol How many neurons and sources did you use for the line graph of the slowdown ratio above? Your data was produced with NEST 3.1. Does the problem persist with NEST 3.3?

[2022-08-19 21:37] jessica-mitchell opened #2454 "aeif_models_implementation fails to execute"
**Describe the flaw**

When running this notebook, the following error occurs

error: 'assimulo/thirdparty/hairer/dopri5module.c' missing
additional errors and warnings are created depending on where the notebook is run (tested locally and EBRAINS 22.07 kernel)

**Suggest an improvement**
The dependency Assimulo might need to be upgraded or changed

[2022-08-22 06:00] yingmuying commented on #2450
By comparing "nest-simulator-3.3/pynest/examples/Potjans_2014/network.py" and "nest-simulator-3.2/pynest/examples/Potjans_2014/network.py", I found that this problem may be caused by the difference of "__setup_nest()"

[2022-08-22 06:19] heplesser commented on #2450
So the Potjans network works for you with NEST 3.2, but not with NEST 3.3? Could you still answer my questions from before to allow us to analyse the problem better?

[2022-08-23 08:50] #833 closed

[2022-08-23 18:44] krzyLadda opened #2456 "Registration of currents of a given synapse"
Is it possible to record the current flowing through one selected synaptic connection.

Suppose I have an iaf_psc_alpha neuron that is stimulated by multiple synapses. It is possible to record the input currents (excitatory and inhibitory ) to the neuron with a multimeter. But I would like to record currents from individual sysnaps. How to do this?

[2022-08-24 06:53] heplesser commented on #2456
Recording input currents through individual synapses is not possible in most NEST neuron models. The reason is efficiency: As soon as a spike arrives at a neuron, its effect is summed in an input buffer with all other spikes with the same spike arrival time. Therefore, only the total input current at each time step is recordable directly.

If you only want to record input currents through a small

[2022-08-24 08:02] pnbabu commented on #2456
We have a `Multiple input synapse` example in NESTML where we can record currents from individual synapses: https://nestml.readthedocs.io/en/v5.0.0/nestml_language/neurons_in_nestml.html?highlight=multisynapse#multiple-input-synapses

The corresponding NESTML model: https://github.com/nest/nestml/blob/master/tests/nest_tests/resources/iaf_psc_exp_multisynapse.nestml

In this example, separate inpu

[2022-08-24 15:22] RCagnol commented on #2406
This graph was computed using all combinations of values of 2500, 5000, 7500 and 10 000 for both the number of current sources and number of neurons, such that n_neurons >= n_current_sources would always be true.

It seems that removing combinations which didn't meet this criterion of n_neurons >= n_current_sources tended to make the fitting less precise and overestimate a bit the slowdown ratio,

[2022-08-25 05:52] heplesser commented on #2406
So the data shown for a given thread number is the average across all combinations of n_neurons and n_current_sources? Could you provide graphs for a few n_neurons x n_current_sources combinations? Then I could run those combinations to see if I can reproduce your observations without having to run all combinations (with an eye to saving time and electricity). Could you also add markers to your li

[2022-08-25 09:17] RCagnol commented on #2406
No, it is not an average. This slowdown ratio is calculated as the ratio b/a such as: simulation time = a * n_neurons + b * n_sources
So to calculate the slowdown ratio for a given number of thread, we'd run a simulation for each combination of (n_neurons, n_sources) that I mentioned earlier, and do a 2D regression to obtain a and b. The goal with that is to evaluate how much the simulation time s

[2022-08-25 11:06] krzyLadda commented on #2456
@heplesser @pnbabu
I did exactly what you described in the points, but it increases the calculation time significantly, and I was looking for more optimal way.

The idea of receptors of different types or different input ports also came to my mind, but I didn't know that i can add them myself. That probably solves the problem.

Thank you for your help!

[2022-08-25 11:06] #2456 closed

[2022-08-25 15:19] heplesser commented on #2406
Thank you for your detailed explanation. I understand your approach now. It is a rather different way of analysing scaling than analyses we have done so far, so I didn't grasp it before.

Generally speaking, it is recommendable to keep the number of generators (of any kind) as small as possible. Each generator is replicated once per virtual process, in your case thus one per thread, so that genera

[2022-08-25 16:24] RCagnol commented on #2406
Actually our usual use case would be indeed having current sources and neurons connected one-to-one. This in degree of 25 is just a remnant of some tests we did to determine whether this bad scaling with the number of current sources was due to the generation of the current itself or by the step of injecting it to the neurons itself (I have to say that I don't have much insight on how nest works s

[2022-08-29 08:37] hakonsbm opened #2458 "Useless checks of `HAVE_MPL`"
As pointed out in https://github.com/nest/nest-simulator/pull/2394#discussion_r914561320, the checks of `HAVE_MPL` in hl_api_spatial.py only give a slightly nicer error message than the standard import error. Furthermore, the checks will never run, because they are *after* the import statement, see for example https://github.com/nest/nest-simulator/blob/7086c3cabb8923efd2ca783da02e8253ecfde865/pyn

[2022-08-29 20:56] heplesser commented on #2458
The actual import of Matplotlib happens at the beginning of `hl_api_spatial.py` and is properly protected
https://github.com/nest/nest-simulator/blob/7086c3cabb8923efd2ca783da02e8253ecfde865/pynest/nest/lib/hl_api_spatial.py#L36-L42
`HAVE_MPL` is set according to the result of the import attempt. I am not sure why `pyplot` is not imported here.

In the three `Plot...` functions, we should give a s

[2022-08-31 10:31] #2414 closed

[2022-08-31 10:31] #2428 closed

[2022-09-02 09:57] fire-papaya opened #2460 "is nest-simulator v3 available as a conda package?"
**Describe the flaw**
In [installation part](https://nest-simulator.readthedocs.io/en/v3.3/installation/index.html) of the docs, in Conda tab there is a warning `The Conda package is only available for NEST 2.X. If you want to use NEST 3.X, please see other installation options.` But on the [conda forge](https://anaconda.org/conda-forge/nest-simulator) version is stated to be 3.3

**Suggest an imp

[2022-09-05 10:53] #2359 closed

[2022-09-05 11:00] heplesser commented on #2460
Conda packages for NEST 3.3 became available on conda-forge only after NEST 3.3 was released. Since our documentation is versioned and NEST ReadTheDocs documentation by default shows the documentation version of the most recent release, the information about the conda packages is not included there. The "latest" version of the installation documentation is up to date (https://nest-simulator.readth

[2022-09-05 11:00] #2460 closed

[2022-09-06 08:07] jessica-mitchell commented on #2441
@krachbumm3nte Can you take a look at this when you get a chance?

[2022-09-07 08:52] jessica-mitchell opened #2461 "Clarify difference between compartmental models and multi-compartment model"
**Describe the flaw**

There are two types of models that use compartments in very different ways. It is difficult to distinguish based on names.

https://nest-simulator.readthedocs.io/en/latest/models/iaf_cond_alpha_mc.html and associated example: https://nest-simulator.readthedocs.io/en/latest/auto_examples/mc_neuron.html

And

https://nest-simulator.readthedocs.io/en/latest/models/cm_default.ht

[2022-09-07 12:31] jessica-mitchell opened #2464 "Model equations not in all model docs"
**Describe the flaw**

Some of the neuron models do not have equations in the docs, and they should be included.

Missing model equations:

iaf_*
hh_*
... (possibly more)

[2022-09-07 12:37] jessica-mitchell opened #2465 "Document local_spike_counter resetting behavior"
**Describe the flaw**

`local_spike_counter` will reset in repeated calls to simulate(), which is not documented
The assumed behavior is that it would reset after resetting the kernel.

**Suggest an improvement**
Add text to describe this behavior in PyNEST API.

@JoseJVS let me know if this isn't quite correct

[2022-09-07 12:58] heplesser commented on #2465
The behavior is documented with respect to `Simulate()`, even in two places:

- https://github.com/nest/nest-simulator/blob/ff0ac34eb3eccc0e519efb629a808841d5b60d90/pynest/nest/__init__.py#L362-L371
- https://github.com/nest/nest-simulator/blob/master/doc/htmldoc/nest_behavior/built-in_timers.rst

What is missing is information that the counter is also reset each time one calls `Run()`.

[2022-09-07 13:28] krachbumm3nte commented on #2441
Yes, I can take care of it. As far as I can tell I'm not a Collaborator yet, so I can't self-assign. Could you do that for me @jessica-mitchell ?

[2022-09-08 11:13] heplesser opened #2466 "Inconsistencies for corner cases of creating spatial layers"
I noticed some corner cases when creating spatial layers, which call for improvement.

### Confusing error message in case of negative extent

When creating a layer with negative extent, the error message should report the illegal extent value (>0 required), not a node outside the layer:
[code]

### Identical positions lead to extent 0

I think all dimensions of the extent should always be strictl

[2022-09-13 09:24] steffengraber commented on #2340
Solved with #2432.

[2022-09-13 09:24] #2340 closed

[2022-09-14 11:06] JanVogelsang commented on #2092
I could not find any occurrences of float declarations or C-style casts in the code anymore (apart from some code inside the thirdparty directory), therefore I suggest marking this issue as closed.

[2022-09-14 11:30] heplesser commented on #2092
Thanks for checking, I will close.

[2022-09-14 11:30] #2092 closed

[2022-09-14 14:14] JanVogelsang commented on #1922
@gtrensch Is this issue still relevant or did you manage to import NEST into CLion using CMake?

I tried to get it working together with @med-ayssar , but we didn't manage to get it running as we couldn't find a way to tell CMake in CLion which Python environment to use. Did someone find a solution for this already?

You don't need CMake to work to develop for NEST in CLion though. Running CMake f

[2022-09-14 14:53] JanVogelsang commented on #1922
@med-ayssar https://github.com/nest/nest-simulator/blob/master/doc/htmldoc/developer_space/workflows/nest_with_ides.rst
Let's add a new entry for CLion there and add the debugging workflow.

[2022-09-14 15:06] JanVogelsang commented on #2398
@jessica-mitchell Where do I find the .rst-files for this page? Was unable to find them on GitHub.

[2022-09-14 15:21] JanVogelsang commented on #2185
I was not able to install Nest from source using WSL a couple of weeks ago. I can't remember the exact issue, but I know that I tried resolving the issue for quite some time and could not manage to get it running. If necessary I can see if I can provide more details about the issue after reactivating my Windows machine.

[2022-09-14 21:36] heplesser commented on #1554
You are right, please go ahead!

[2022-09-15 07:30] hakonsbm commented on #2466
@heplesser I may be wrong, but I don't think it's stated anywhere that the extent has to be exactly the distance between the lower "left node" and the "upper right" node. Rounding up the extent avoids round-off errors where a node erroneously may appear outside of the layer.

Furthermore, rounding up the extent makes it behave as expected when creating randomly placed positions. Take for example c

[2022-09-15 09:35] jessica-mitchell commented on #2398
@JanVogelsang nest/master has some major changes to the structure of the docs folder since the release of v3.3 so you won't find the files there. Unfortunately once the release is out it's fixed: so we cant update the docs for 3.3 version.
this is part of a larger issue of ensuring docs are up-to-date by avoiding links to specific versions and testing links prior to releases. (which we have starte

[2022-09-15 10:03] heplesser commented on #2466
@hakonsbm I think I overlooked the rounding in #2459, but I think it problematic, because it rounds to integers and thus presumes a specific scale of the extent, numbers close to 1. The result can be highly unpredictable if we have large `r` and small `num_nodes` in the example above. Here are center and extent for five runs with `r=10` and `num_nodes=5`:

|Center|Extent|
|---:|---:|
| 7.52, -0.94

[2022-09-15 11:22] hakonsbm commented on #2466
Sure, let's discuss it in the open developer VC 26 September.

[2022-09-18 16:18] zbarni opened #2470 "Sender node ID not stored in SpikeEvent"
In specific cases, it would be useful to have access to the ID of the presynaptic neuron when handling an incoming spike on the postsynaptic side. However, in the handle function, `e.get_sender_node_id()` fails on ` > 0 ` assertion because when the spike is emitted by a neuron (and not a device), this (and all other sender-related) information is not set / lost along the way. I realize that this m

[2022-09-19 12:52] hakonsbm opened #2471 "All files in PRs are not always checked by static code analysis"
Currently the static code analysis in the CI doesn't always check all changed files of a PR, only files changed since the *previously pushed* commit. Therefore if a PR is opened with formatting errors in one file, and another file is changed and pushed, the static code analysis will incorrectly pass because the errors are in an unchanged file in the latest commit of that PR.

The problem comes fro

[2022-09-20 06:20] alex4200 commented on #2406
@heplesser Can you please comment on the above comment?
Or can this ticket be closed @RCagnol

[2022-09-21 07:19] #2426 closed

[2022-09-22 10:29] swathianil commented on #2212
@ErbB4 'model' within nest.SetKernelStatus is deprecated in Nest3, its renamed 'synapse_model'. So in your case, this should work:

nest.SetKernelStatus({
"structural_plasticity_synapses":{
'syn_exc':{
'synapse_model': 'msp_excitatory',
'post_synaptic_element': 'Den_exc',
'pre_synaptic_element': 'Axon_exc',
}
}
})

[2022-09-22 12:46] #1554 closed

[2022-09-22 17:20] swathianil commented on #2212
@sdiazpier Sorry for the delay, I tested the functionality using nest installation built from the sp_autapses branch. Unfortunately, still doesn't seem to accept autapses as a feature:

	    'structural_plasticity_synapses': {
		'synapse_ex': {
		    'synapse_model': 'msp_excitatory',
		    'post_synaptic_element': 'Den_ex',
		    'pre_synaptic_element': 'Axon_ex',
		    'allow_autapses': False,

[2022-09-25 19:59] heplesser opened #2480 "Cannot set membrane voltage to random values for several models"
**Describe the bug**
A `TypeMismatch` error is raised when trying to set `V_m` with a distribution from `nest.random` on neurons of the following types:

- iaf_psc_alpha_canon
- iaf_psc_alpha_ps
- iaf_psc_delta_ps
- glif_psc
- hh_cond_beta_gap_traub
- glif_cond

Setting `V_m` to a fixed value works.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Desktop/Environment (please complete t

[2022-09-26 13:57] jens-br opened #2481 "Add search bar to main page of documentation"
**Describe the flaw**
The start page of the documentation misses a search bar in the new theme.

**Suggest an improvement**
There should be a search bar on the documentation start page - ideally on the upper part of the page, since one often simply visits the page to search for a specific keyword (-> easy and instant access without scrolling or clicking would be very helpful).

**Supporting materi

[2022-09-26 16:16] clinssen commented on #2480
This affects NESTML too. Traceback snippet:

[code]

[2022-09-27 11:22] terhorstd opened #2483 "No `nest.help()` when installed through Conda"
The NEST help doesn't work when installed through conda. So `nest.help('iaf_psc_exp')` gives the following error:

    Sorry, there is no help for model 'iaf_psc_exp'.
    Use the Python help() function to obtain help on PyNEST functions.

This should either give useful information, or redirect to online documentation.

**Supporting materials**
This function is mentioned in different workshop and

[2022-09-30 16:30] zbarni opened #2486 "AdEx equations incorrect for current-based models"
**Describe the flaw**
The equations describing the evolution of the membrane potential of the current-based AdEx models appear to be incorrect. The synaptic currents are described in terms of conductances and dependent on the voltage. This should hold for the conductance-based versions, but not the current-based ones.
Affected models are: aeif_psc_delta (here the current is correct, but not in the

[2022-10-03 06:36] heplesser opened #2487 "do_tests.sh terminates early if Python tests fail"
When Python tests fail (possibly also when MPI, MUSIC or C++ tests fail), `do_tests.sh` will terminate early (immediately after the Python test suite is complete) and will not display the summary table of results and the list of failed tests, as can be seen here

https://github.com/heplesser/nest-simulator/actions/runs/3170175789/jobs/5162607621#step:8:8601

The final summary table when running Gi

[2022-10-07 09:29] heplesser opened #2492 "Copying plain and lbl versions of secondary-event synapses can lead to crash"
**Describe the bug**
NEST crashes if a secondary-event synapse, eg `gap_junction` is copied, the kernel then reset and after that the corresponding `_lbl` synapse is copied. This applies to

- gap_junction
- rate_connection_instantaneous
- rate_connection_delayed
- diffusion_connection

and also in opposite order.

**To Reproduce**

[code]

results in

[code]

**Desktop/Environment:**
 - NEST-Vers

[2022-10-07 09:57] heplesser commented on #2492
Yes, once you have merged in the new test :).

[2022-10-07 12:16] #2378 closed

[2022-10-07 12:20] heplesser commented on #2492
#2379 is merged now.

As first step in work on this issue, change https://github.com/nest/nest-simulator/blob/836f8099ac915950de0bc7756ec55d9f33a5cfc4/testsuite/pytests/test_copy_model.py#L61 to

[code]

so that also the secondary-event models are tested, which will make this test fail until the underlying bug is fixed.

[2022-10-07 12:43] Helveg opened #2494 "The documentation doesn't scrollTo"
**Describe the flaw**
Clicking the section items in the navbar doesn't navigate to the sections. My scroll finger hurts. Even navigating to their permalinks doesn't work:

https://nest-simulator.readthedocs.io/en/v3.3/ref_material/pynest_apis.html#module-nest.lib.hl_api_models

Update 1: Ah, seems like it also doesn't do it on other pages: https://nest-simulator.readthedocs.io/en/v3.3/getting_star

[2022-10-07 12:44] Helveg commented on #2494
Ah, seems like it also doesn't do it on other pages: https://nest-simulator.readthedocs.io/en/v3.3/getting_started.html#want-to-know-more

[2022-10-07 13:03] #2282 closed

[2022-10-07 13:36] Helveg commented on #1454
I'm no longer requesting this. Stepped simulations cover my current needs, and otherwise I'll monkeypatch the `nest` module ;)

[2022-10-07 13:36] #1454 closed

[2022-10-10 10:31] babsey commented on #2321
Ping to remind this issue.

[2022-10-10 10:46] babsey commented on #2321
My suggestions for NEST Server would be:

- [ ] 17969 - amount of Ås inhabitans
- [ ] 52428 - postal code of Jülich
- [ ] 59863 - (S)erver of (N)ine (E)ight (S)ix (T)hree
- [ ] 59873 - (S)erver of (N)ine (E)ight (S)even (T)hree

[2022-10-10 14:11] pnbabu opened #2497 "NEST module generated from NESTML fails to build on macOS when NEST is installed from conda-forge"
**Describe the bug**
After installing NEST through `conda-forge` and installing NESTML via `pip` in the same conda environment, the generated NEST module from NESTML fails to compile on macOS with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior: https://nestml.readthedocs.io/en/latest/installation.html#anaconda-installation

[code]
The `C++` path and the `$PYTHONPATH

[2022-10-10 20:19] heplesser commented on #2321
I suppose we are limited to 16 bits for port numbers, so 79104 will not work, even though it would be yet more fitting. Given those limitations, I'd suggest 52428.

@jougs @terhorstd @gtrensch Any comments or objections?

[2022-10-10 20:55] heplesser commented on #2497
The problem is that `nest-config --libs` from the `conda-forge` build returns `... -fopenmp=libomp ...`, while it should contain `...  -Xclang -fopenmp ...`. If NEST 3.3 is built locally with clang, this works out. There are some other problems with the libs provide, which have been fixed by #2468 (not available via conda yet).

@steffengraber Is it possible to get the output from the `cmake` run

[2022-10-11 04:31] steffengraber commented on #2497
Here are the complete build logs for osx_64 and osx_arm64:

osx_64 python3.10
https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/566950/logs/50

osx_arm64 python3.10
https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/566950/logs/49

[2022-10-11 07:50] jougs commented on #2321
52425 is the postal code of Forschungszentrum Jülich for mail delivery and nicely symmetric.

[2022-10-11 08:57] babsey commented on #2321
@jougs: You are right! The postal code of FZJ is palindromic. I also like the number 52425.

[2022-10-11 09:37] heplesser commented on #2321
Go 52425, go!

[2022-10-11 20:02] #2487 closed

[2022-10-11 20:24] #2454 closed

[2022-10-12 07:01] jessica-mitchell commented on #2494
@Helveg the scroll to feature works for me, what browser are you using?

[2022-10-12 07:06] Helveg commented on #2494
On Chrome, both on my laptop and mobile device.

[2022-10-12 07:50] jessica-mitchell commented on #2494
Hmm, I don't have this issue on Chrome or Firefox on my laptop, but Chrome on mobile doesnt work for me either.
Edit: Ok interesting, I just did an update to Chrome and now the scrollto feature stops working. Unfortunately, we can't make changes to the source files for a pre-existing release.

I also checked latest (master) on mobile/laptop Chrome and the scrollto feature works with this version.

[2022-10-12 08:57] Helveg commented on #2494
Ok, so with the next release this issue will resolve itself?

[2022-10-13 10:42] JanVogelsang opened #2500 "Detecting unused imports in CI"
Currently, there is no detecting of unused imports whatsoever. Removing, adding or replacing code can therefore easily lead to redundant or simply unused imports.
[Open-source tools](https://github.com/include-what-you-use/include-what-you-use) can be used to automatically detect these, and such a tool should be included into the CI pipeline as well as provided for developers as a `build_support`

[2022-10-14 11:51] gtrensch opened #2503 "The cortical microcircuit NEST examples do not generate the number of connections with a minimal delay that one might expect"
**Problem Description**
If you read out the connectivity from the cortical microcircuit NEST examples and reconstruct the distribution of synaptic delays, you will see a difference in the number of connections with a minimal synaptic delay compared to what one would expect for a truncated normal distribution. This is illustrated below for inhibitory projections:

<img src="https://user-images.gith

[2022-10-17 21:51] #2321 closed

[2022-10-18 10:05] steffengraber commented on #2184
Closed. Seems to be solved.

[2022-10-18 10:05] #2184 closed

[2022-10-19 08:04] #2480 closed

[2022-10-19 10:52] steffengraber commented on #2483
Played around a bit with the installation of NEST. It does not only apply to the conda package. To get this function to work, you still need to run a `make html` during the installation:

    make
    make html
    make install

This is not the case in the conda package and, to my knowledge, is not described in the NEST documentation. (?) Should we integrate it in the conda package?

[2022-10-19 10:56] steffengraber commented on #2483
In the NEST docker image, the installation is carried out in this way, which means that `nest.help('iaf_psc_exp')`  works there.

[2022-10-19 13:14] #2492 closed

[2022-10-20 07:26] #2399 closed

[2022-10-20 07:28] #1925 closed

[2022-10-20 11:15] JanVogelsang commented on #2470
Setting this information for every event would be quite costly (as this would result in another random jump in memory, therefore clearing at least parts of the cache), so from a performance perspective we would want to prevent this at all costs.
In which case would you need the presynaptic id on the postsynaptic side?

[2022-10-20 11:24] JanVogelsang opened #2508 "When moving to C++11, some checks can be removed"
Recently, with some PRs that modernized the codebase, we moved from mixed C/C++ to the C++11 standard. By doing so, there are some places now in which we can assume the C++11 standard and don't have to check anymore, if some functionality is available in the used C/C++ version.
e.g.: `libnestutil/config.h.in#L132-133`
[code]
Since std::nan is part of the C++11 standard, we can safely assume this i

[2022-10-20 11:36] heplesser commented on #2470
@zbarni Could you say more about the use cases for this? As Jan pointed out, a straightforward solution risks performance penalties and an efficient solution may be demanding to develop. If a neuron needs to map incoming spikes to senders, you can use the `rport`. I am quite certain that during connection creation the target neurons gets the gid of the sending neuron in the test event sent. If it

[2022-10-21 15:01] babsey commented on #2483
I would like to have it integrated in conda package. :pray:

[2022-10-21 15:04] zbarni commented on #2483
From my limited experience with getting NEST installed in various ways by various people, installation via conda is still much more common than through docker, for example. I believe that adding it to the conda package would be helpful for many users.

[2022-10-23 10:18] gergogomori opened #2509 ""Simulation time" dependent parameters"
Dear NEST Developer Team,

I am wondering whether it is possible to run a simulation in which some of the parameters of individual neurons (e. g. the synaptic strength) are a function of the simulation time.

I am currently trying to run a simulation with a population connected via basic "static_synapse", and a function that could tell the synaptic weights of the neurons based on the simulation ti

[2022-10-23 10:37] gergogomori commented on #2397
It seems like this is already implemented:
https://nestml.readthedocs.io/en/latest/models_library/izhikevich_psc_alpha.html

Next time I will keep in mind to check the models in NestML as well.

[2022-10-23 10:38] #2397 closed

[2022-10-24 04:30] steffengraber commented on #2483
The problem is that with `make html` the entire user documentation is installed. In other words, a lot of things that are never needed in a normal installation.

[2022-10-24 11:30] Helveg opened #2511 "There is no way to create a Security Advisory"
**Describe the bug**
I've found XSS vulnerabilities in the NEST server, resulting in arbitrary code execution on the target machine, but there's no way to create any Security Advisories to report this problem. The UI looks like this to me:

![image](https://user-images.githubusercontent.com/28923979/197516383-6ba833c3-e53a-4514-a395-76451c367b95.png)

The security policy says that NEST runs in wel

[2022-10-24 13:54] ChenK19 opened #2512 "Repeating creating nodes of same structure causes growing memory consumption and creation time"
Hello, I hope to create the same nest structure and adjust some connection weight in the structure for simulation, i accomplish that in a loop, for every iteration, create the nodes and connect them with newly weight, which  shows **growing memory consumption and creation time for nodes**.

maybe i need some help to solve the problem.

The problem is similar to  the pynest example in
[https://nest

[2022-10-25 08:36] nicolossus opened #2513 "Missing spatial user documentation"
In both the [3.3 release](https://nest-simulator.readthedocs.io/en/v3.3/ref_material/pynest_apis.html#module-nest.spatial_distributions.hl_api_spatial_distributions) and [latest](https://nest-simulator.readthedocs.io/en/latest/ref_material/pynest_apis.html#module-nest.spatial_distributions.hl_api_spatial_distributions) (as of writing) documentation on `Functions related to spatial distributions`,

[2022-10-25 13:05] heplesser opened #2515 "MacOS CI tests fail"
The last successful NEST build on MacOS was [#2136](https://github.com/nest/nest-simulator/actions/runs/3288963056/jobs/5419998743). The next matrix build and all subsequent failed [#2137(https://github.com/nest/nest-simulator/actions/runs/3296060754/jobs/5464998013)] because [CMake cannot find OpenMP](https://github.com/nest/nest-simulator/actions/runs/3296060754/jobs/5464998013#step:8:286).

Com

[2022-10-26 11:19] clinssen commented on #2509
Hi Gergő, thanks for writing in!

In general there would be two approaches to this:
- If your weights are only changing infrequently, you could simulate in chunks of time, e.g. simulating for 100 ms, changing the weights, then simulating another 100 ms, etc. This could be done from within your (Python) simulation script, where you are calling ``nest.Simulate()``.
- If your weights are changing mor

[2022-10-27 13:12] #1459 closed

[2022-10-28 15:13] ChenK19 opened #2519 "Repeat simulation with memory leakage"
Dear Nest Developers team:
I am trying to simulate the same nest model structure with different connection weight(for some local connections) repeatly, and i meet some problems for memory leakage in creation model even with nest.ResetKernel().

Then i test a easy demo like:
[code]

which causes increasing memory usage for 1.4M in every iteration like:

4.692104339599609
4.693546295166016
4.6949882

[2022-10-31 11:04] #1615 closed

[2022-11-10 12:33] #2519 closed

[2022-11-10 13:07] #1457 closed

[2022-11-14 18:39] jessica-mitchell commented on #2513
@nicolossus Just an update that I'm looking into this issue, but the solution doesn't seem to be straightforward. I thought since this spatial/hl_api_spatial.py contains classes, we would need to use `autoclass` rather than `automodule` but this doesnt work.
I'll continue to look into it.

[2022-11-14 18:42] jessica-mitchell commented on #2494
@Helveg I am closing this issue since the issue is resolved in master. Please create a new issue if this isnoted in the future

[2022-11-14 18:42] #2494 closed

[2022-11-14 18:44] jessica-mitchell commented on #2441
Closing issue as it is resolved with PR #2467

[2022-11-14 18:44] #2441 closed

[2022-11-14 19:18] jessica-mitchell commented on #2398
@lionelkusch thanks for pointing out this flaw, but as I mentioned above the documentation is fixed once the release is created so we cannot update links. In master, we do not link to a specific version for downloading NEST anymore.

I am closing this as this is resolved in master

[2022-11-14 19:18] #2398 closed

[2022-11-14 19:28] jessica-mitchell commented on #2481
@jens-br just fyi, I have started to look into this. Ideally I'm trying to get a search bar that matches the rest of the webpages.
Also just for the future, please write a more descriptive title, it's easy to overlook issues when scrolling :)
I dont know if you can add projects, but if possible, selecting the documentation project in the sidebar is also helpful. Or you can  mention me, if its docu

[2022-11-14 22:04] heplesser commented on #2513
Could this be related to the fact that we have two different `hl_api_spatial.py` files, once in `lib` and once in `spatial`. It should work, but .... I also noticed that at least sometimes `automodule` only works if the module file itself has a module docstring. But that does not seem to cause problems for `hl_api_spatial_distributions.py`, e.g..

Also note that spatial documentation is collected

[2022-11-15 12:20] #2465 closed

[2022-11-15 12:38] med-ayssar commented on #2381
Won't be feasible to check the number of processes (`MPI_num`) and have a flag `HAS_MPI` that either set to true or false during the compilation.

During execution and on kernel startup, we can check if `MPI_num > 1 and not HAS_MPI => exit with error`, else continue execution, or is it a too naive solution?

[2022-11-21 12:41] heplesser opened #2529 "Systematize definition of INVALID_* and MAX_* constants"
NEST defines certain constants for maximum and invalid values, but does not do so consistently. For `synindex`, invalid is defined as the maximum

https://github.com/nest/nest-simulator/blob/2381cf0e44eeaa36f0ecfff51de88a1d51383f16/nestkernel/nest_types.h#L137-L138

while for `targetindex`, the largest possible value is defined as invalid, and max as one below

https://github.com/nest/nest-simulat

[2022-11-22 14:27] JanVogelsang opened #2530 "Documentation on limitations of networks and parameters"
There are a few limitations regarding the networks one can use with NEST and the parameters for each neuron or synapse, due to the implementation of the kernel of NEST. There should be a page listing all these limitations and potentially also provide ways of alleviating some restrictions, by the use of compiler flags for example.

First, some of these limitations should be collected in this issue.

[2022-11-22 14:44] JanVogelsang commented on #2530
There is a maximum number of synapse types allowed per simulation, which can be modified by setting the HPC or non-HPC compiler flag. This is caused by the limited number of bits being used for the `syn_id`.

|            Flag            | Bitsize | Number of synapse types |
|:--------------------------:|:-------:|:-----------------------:|
| TARGET_BITS_SPLIT_STANDARD |    9    |           512

[2022-11-23 17:26] jens-br commented on #2481
@jessica-mitchell Thanks a lot! I am not sure how to represent the content more accurately in the title, but maybe you have some standards which I am not aware of?
Indeed, selecting the documentation project seems to be impossible, as the required buttons are not visible for a normal user:
![grafik](https://user-images.githubusercontent.com/53972736/203610555-3ee4d174-7ade-458c-a7c7-355aecd4efd3.p

[2022-11-25 13:01] heplesser commented on #357
@clinssen Ping!

[2022-11-25 13:04] zbarni commented on #2470
Thanks for this info, I was not aware that the solution in the kernel would come at a significant performance cost. We needed the mapping of spikes to senders in a replication study (Klampfl and Maass, 2013), which involved a more complicated learning rule that required some of the synapse logic to be implemented in the postsynaptic neuron. I haven't thought about the `rport` solution (which looks

[2022-11-25 13:04] #2470 closed

[2022-11-25 13:23] heplesser commented on #1185
Closing due to lack of interest.

[2022-11-25 13:23] #1185 closed

[2022-11-25 13:27] zbarni commented on #2483
Right, maybe one can make this decision based on users' preferences / current usage. However, if it's not done by default, then perhaps the documentation site [here](https://nest-simulator.readthedocs.io/en/v3.3/getting_help.html) should be updated, either by removing the `nest.help('model_name')` entry or making it clear that this only works if the documentation has been built (manually).

[2022-11-25 13:35] heplesser commented on #1531
@steffengraber What is the status on this? The page in question is no longer available in the "lastest" documentation.

[2022-11-25 13:37] heplesser commented on #1589
@steffengraber Ping!

[2022-11-25 13:38] heplesser commented on #1604
@JanVogelsang Could you take a look at this?

[2022-11-25 13:39] heplesser commented on #1650
@jessica-mitchell Ping!

[2022-11-25 13:40] heplesser commented on #1667
@steffengraber Ping!

[2022-11-25 13:44] heplesser commented on #1939
@YounesBouhadjar Have you made progress on this?

[2022-11-25 13:48] heplesser commented on #1992
@hakonsbm Ping!

[2022-11-25 13:49] heplesser commented on #1996
Closing for now due to lack of interest.

[2022-11-25 13:49] #1996 closed

[2022-11-25 13:53] heplesser commented on #2020
Closing in favour of more general refactoring later.

[2022-11-25 13:53] #2020 closed

[2022-11-25 13:58] heplesser commented on #2050
The distinction is both of logical advantage and useful in connection with jit.

[2022-11-25 13:58] #2050 closed

[2022-11-25 13:59] heplesser commented on #2070
@AlexVanMeegen Ping!

[2022-11-25 14:15] AlexVanMeegen commented on #2070
Ouch, yes!

[2022-11-25 14:28] heplesser commented on #2173
@sdiazpier What is the status on this?

[2022-11-25 14:34] heplesser commented on #2185
Closing as we do not support Windows at present.

[2022-11-25 14:34] #2185 closed

[2022-11-25 14:34] heplesser commented on #2189
@jessica-mitchell Ping!

[2022-11-25 14:35] #2190 closed

[2022-11-25 14:44] heplesser commented on #2215
We consciously decided not to use type-suffixes in NEST code. We will review the use of names such as `delay` for types.

[2022-11-25 14:44] #2215 closed

[2022-11-25 14:45] heplesser commented on #2224
@steffengraber Don't we have this in place already?

[2022-11-25 14:46] YounesBouhadjar commented on #1939
Hi @heplesser, sorry for the delay, we will be able to answer this as soon as we are done with #820.

[2022-11-25 14:50] heplesser commented on #2243
@Helveg Is this still relevant now that #2245 is merged?

[2022-11-25 14:51] heplesser commented on #2264
@ikitayama Can this issue be closed?

[2022-11-25 14:52] heplesser commented on #2265
Closing this as it is not an directly actionable issue.

[2022-11-25 14:52] #2265 closed

[2022-11-25 14:53] heplesser commented on #2266
@jstapmanns Ping!

[2022-11-25 14:57] heplesser commented on #2268
This would likely require significant changes, but we keep it in the backlog.

[2022-11-25 15:02] heplesser commented on #2300
@Helveg Will this get fixed with the wheel-based installation approach?

[2022-11-25 15:03] heplesser commented on #2315
@WillemWybo Ping!

[2022-11-25 15:04] heplesser commented on #2320
Solved, this closing.

[2022-11-25 15:04] #2320 closed

[2022-11-25 15:08] heplesser commented on #2357
@hakonsbm Could you update the documentation?

[2022-11-25 15:14] #2389 closed

[2022-11-25 15:16] heplesser commented on #2390
@sanjayankur31 Does the problem still persist with NEST 3.3 or current Github version?

[2022-11-25 15:18] heplesser commented on #2404
@jessica-mitchell Was this fixed by #2421?

[2022-11-25 15:18] heplesser commented on #2405
@babsey Could you create a PR?

[2022-11-25 15:21] heplesser commented on #2424
@suku248 Could you answer this one?

[2022-11-25 15:26] sanjayankur31 commented on #2390
I haven't had a chance to update the Fedora package to 3.3 yet. I'll test that out and get back to you.

[2022-11-25 15:27] heplesser commented on #2450
@yingmuying I am closing since I haven't heard back from you. Feel free to re-open if you have news.

[2022-11-25 15:27] #2450 closed

[2022-11-25 15:28] heplesser commented on #2458
@hakonsbm Can this be closed?

[2022-11-25 15:34] heplesser commented on #2497
Should disappear with wheel-based installation.

[2022-11-25 15:37] jens-br opened #2532 "Paragraph headings are hidden in the new Material design"
**Describe the flaw**
When using the references to single paragraphs in the new material design theme, the paragraph heading is hidden by the bar on the top.

**Suggest an improvement**
The paragraph heading should be readable after using a reference to a section.

**Supporting materials**
The paragraph heading is hidden by the bar:
![grafik](https://user-images.githubusercontent.com/53972736/2040

[2022-11-25 15:40] heplesser commented on #2512
Closing as fix is merged.

[2022-11-25 15:40] #2512 closed

[2022-11-25 16:23] Helveg commented on #2243
I would close it until something resurfaces, it's probably just a CMAKE learning curve to make a habit of clearing your build cache

[2022-11-25 19:53] jougs commented on #291
This will become much easier once SLI is not around anymore. I have thus moved it to the corresponding project.

[2022-11-25 22:46] ikitayama commented on #2264
Sure.

On Fri, Nov 25, 2022 at 23:51 Hans Ekkehard Plesser <
***@***.***> wrote:

[2022-11-26 14:49] JanVogelsang commented on #2470
I have to admit, I don't like the current solution and if we find that there would be multiple use cases for this, we should consider implementing a more elegant solution. For now, you can probably just stick with your solution, unless performance/scalability is crucial for your use case.

[2022-11-26 18:37] JanVogelsang commented on #1604
@heplesser There is not a lot to add here. What Charl said is correct and as Bruno said, we will need an implementation with both dendritic and axonal delays. And I can promise, we will soon have one, in combination with a nice thesis explaining all the details of delays in neural simulators, with a special focus on synaptic plasticity.

Regarding the problem with conductance-based models, I will

[2022-11-27 12:17] #2243 closed

[2022-11-27 12:26] #2264 closed

[2022-11-28 08:48] clinssen commented on #2215
Note that it would be a possibility to use namespaces to isolate the typedefs, e.g.
[code]

[2022-11-28 08:55] JanVogelsang commented on #2530
C++ standard (17?)

[2022-11-28 09:41] #2309 closed

[2022-11-28 09:46] #2471 closed

[2022-11-28 10:12] hakonsbm commented on #2458
@heplesser The issue isn't fixed yet.

[2022-11-28 10:34] jessica-mitchell commented on #2404
This is fixed with #2453

[2022-11-28 12:57] med-ayssar commented on #2287
I have tested this again with the current NEST version, and it seems that it has been already fixed!

[2022-11-28 12:58] #2287 closed, assigned to med-ayssar

[2022-11-28 13:20] heplesser commented on #2116
Decision at Hackathon 28 Nov 2022:

1. Use semantic versioning at the NEST level
    1. We use major.minor level
    2. At regular intervals (weekly?) create `rcX` releases (Github only, not Zenodo)
    3. Reconsider if not to use three-level `major.minor.patch[-rcX]` to ensure [compatibility with semver tools](https://pypi.org/project/semver/) even if `patch==0` in all cases
1. Revise the `I:` la

[2022-11-28 13:25] med-ayssar commented on #2367
This also is gone in the current master branch. Closing the issue!

[2022-11-28 13:25] #2367 closed

[2022-11-28 16:15] babsey commented on #2405
Rather not, because I do not know which one is the preferred choice.

To remove the mentioned doc or to add the parameter instance?

[2022-11-28 22:50] heplesser commented on #2354
@morales-gregorio Pickling NEST simulations is not possible. Any pickling from the Python level would not store the internal state of the network, and implementing complete pickling of the kernel in a robust way would be an extremely complex task.

But please see [this example for storing and restoring networks](https://github.com/nest/nest-simulator/blob/master/pynest/examples/store_restore_netwo

[2022-11-28 22:50] #2354 closed

[2022-11-28 23:09] heplesser commented on #2406
A solution for this problem is available [as an extension module](https://github.com/heplesser/nest-step-current-module) providing `aeif_cond_exp` and `iaf_cond_exp` models with built-in step current generator avoiding bottlenecks. I am therefore closing this issue.

[2022-11-28 23:09] #2406 closed

[2022-11-28 23:12] heplesser commented on #2017
#2385 provides a solution for this problem, see benchmarks at https://github.com/nest/nest-simulator/pull/2294#issuecomment-1329846733.

[2022-11-29 00:13] heplesser commented on #2420
@zbarni What do you think about the idea to limit the exponentially growing current? And what upper limit to the current value would you consider biologically plausible?

Looking at the [parameters of the `hh_cond_exp_traub`](https://github.com/nest/nest-simulator/blob/e49be2ae64b92b6b6d7c451b2ed8027c0975e480/models/hh_cond_exp_traub.cpp#L120-L126), an upper limit seems to be around 20000 nS x 100

[2022-11-29 10:06] heplesser opened #2541 "Replace typedef'ed types with C++ PODs"
This issue is a follow-up to #2215.

After a thorough discussion during the Hackathon we came to the following conclusions:

1. Typedefs (except `weight` and partially `delay`) are only used to index into containers. Therefore, `size_t` is the suitable POD where currently `typedef`s  `index`, `thread`, `port`, `rport`, ... are used.
2. Typedefs do not provide any type safety in C++.
3. Where we us

[2022-11-29 14:35] #2509 closed

[2022-11-29 14:50] jstapmanns commented on #2266
Hi, I am working on it and sent a first version to @jessica-mitchell to see whether the documentation compiles correctly.

[2022-11-29 15:25] #2357 closed

[2022-11-29 15:47] heplesser commented on #2405
@babsey The user can set `t_ref`, so there should be documentation, the same as for other models with that parameter. Could you create a PR and also check the other `hh_*` models if they need documentation for this parameter as well?

[2022-11-29 16:22] #2381 closed

[2022-11-29 20:24] #129 closed

[2022-11-30 06:56] steffengraber commented on #1589
These adjustments are part of the work on the package. Therefore, the issue can be closed here for the time being. If there is a need, it can be reopened.

[2022-11-30 06:56] #1589 closed

[2022-11-30 07:07] steffengraber commented on #2483
In preparation for NEST 3.4, I have tried to integrate the documentation into the package. Unfortunately, this does not work out of the box. The problem are these lines in conf.py:

[code]

OLDPWD does not seem to exist in the conda build environment.

[2022-11-30 07:09] steffengraber commented on #2224
We moved to gitlab pipelines. This is done and therefore closed.

[2022-11-30 07:09] #2224 closed

[2022-11-30 12:31] #1390 closed

[2022-11-30 13:35] clinssen commented on #1939
@ferqui: could you tell us if there are any updates on this? Otherwise we will close the issue due to the differences in the meaning of "synaptic delay" between simulators (assumed axonal in Brian, and dendritic in NEST) probably being the cause behind the differences.

[2022-11-30 13:42] Helveg opened #2546 "Remove SLI documentation generation"
#2544 introduces modular documentation building, and keeps the legacy SLI doc code in a [`BUILD_SLI_DOC` block](https://github.com/Helveg/nest-simulator/blob/fb43757b3d5a71aabbdfb187bc119bd64181d77c/doc/CMakeLists.txt#L27-L60). This block should be removed once the SLI interface has been removed.

[2022-11-30 13:55] #2017 closed

[2022-11-30 14:23] Helveg opened #2547 "User doc workflow doc lacks `pandoc` as dependency"
**Describe the flaw**
The user docs have a dependency on the `pandoc` executable, but this isn't mentioned here: https://nest-simulator.readthedocs.io/en/v3.3/documentation_workflow/user_documentation_workflow.html#setting-up-your-environment

[2022-11-30 14:52] med-ayssar opened #2548 "Cmake ignores the list of optimization options and chooses only the last item in the list"
**Describe the bug**
Calling cmake with `-Dwith-optimize="item1;item2;...;itemn"`, only selects the last item in the list, and the other items will be ignored.

[2022-11-30 21:47] jessica-mitchell commented on #2547
I think this is actually dealt with in one of the currently open PRs, or at least partially is. I can take a look