[2020-10-16 09:18] terhorstd commented on #1780
This is not an issue of NEST itself, but of the environment. You could for example activate enough swap space to avoid running out of memory.
This is a discussion of your personal setup and should (if at all) discussed on the mailing list. I'll close this here.

[2020-10-16 09:18] #1780 closed

[2020-10-16 09:35] terhorstd commented on #1783
This is a duplicate of #1660, and the default install path was explained. closing.

[2020-10-16 09:35] #1783 closed

[2020-10-16 10:55] jd41 commented on #1797
This is far from the only inconsistent spelling and naming within the NEST documentation, and I think for efficiency reasons they should be discussed and solved once rather than once per word.^1

For example, one particular thing that caused comprehension problems for me when I started to learn NEST was that the documentation freely switches between "status dictionary", "parameter dictionary", "st

[2020-10-16 12:32] jd41 commented on #1773
Brief recap from the "focus group" (9 NEST users including me):
- noone was aware of code (that they themselves or others wrote) which needed to make sure that files are synced and closed at some point within the simulation (which was @stinebuu's concern [here](https://github.com/nest/nest-simulator/issues/1773#issuecomment-700570459) if I understand correctly).

-One user told me that they had on

[2020-10-16 12:37] terhorstd commented on #1779
Documentation for old versions reflect the state when the version was released. When doing the release we can not see the future how things will be named, so documentation is valid only for a particular version. The missing backslash is unfortunate, but 2.10 is not maintained anymore.

[2020-10-16 12:37] #1779 closed

[2020-10-16 15:44] jougs commented on #1773
It might be that syncing and closing mid-flight is not needed often, but everyone who wants to analyze their data *while* the simulation is still running needs to be able to do this. Especially in long-running experiments involving plasticity this is crucial to not waste allocated compute time (and thus energy) on a possibly dead network.

And my other point still stands: If `SetStatus` automatica

[2020-10-16 15:49] Adam-Antios commented on #1687
Tried it and I was presented with this

[code]

[2020-10-16 16:43] jd41 commented on #1773
@jougs

This would still be possible by adding manual Cleanups, if the user wishes to during development of the network. None of the variants I suggested remove functionality. The question in my mind is just how much it is a problem that users may not be of that if the tutorial starts saying "use Run" + a warning role talking about how Cleanup is needed if you want to ensure syncing.
Is it actuall

[2020-10-16 16:45] jd41 commented on #1773
Sorry, had to correct some formatting in my last comment

[2020-10-16 17:00] Helveg opened #1803 "Python-first CMake installation"
**Is your feature request related to a problem? Please describe.**
When Python is installed with Python bindings, all the information is available on the location of the executable and where that Python executable will look for packages. NEST also provides a Python package, yet the system wide PYTHONPATH needs to be manipulated for the Python executable to find NEST's Python module. This hinders s

[2020-10-16 17:06] jougs commented on #1773
There still seems to be a formatting issue (or I don't get what the "Sphinx .. warning .. :: role" part is meant to mean). I also changed your numbering above, so it is easier to quote.

Yes, but I'd rather have the user *always* do this explicitly, as this might require moving files away or setting new names to prevent errors or overridden files

Most likely, some destructor will write the data w

[2020-10-16 17:11] jd41 commented on #1773
I think you and I are saying similar things here =)

[2020-10-19 09:01] #1758 closed

[2020-10-19 14:49] #1348 closed

[2020-10-20 06:38] stinebuu opened #1804 "Document CollocatedSynapses"
**Describe the flaw**
Once #1645 is merged, the new `Connect` syntax with `CollocatedSynapses` should be documented. It should probably be documented both in the *NEST 3 What's new* guide and in the *connection manager* documentation. @sarakonradi what do you think?

[2020-10-20 06:43] stinebuu opened #1805 "Add tests for receptor_types and CollocatedSynapses"
Once #1645 is merged, we should add some tests for `receptor_types` and `CollocatedSynapses`.

[2020-10-20 08:43] hakonsbm commented on #1790
@clinssen Was this fixed by #1798?

[2020-10-20 08:47] clinssen commented on #1790
Yes, thanks for pointing this out! I wrote "Fixes #1790" in a reply in that comments thread, but apparently GitHub doesn't trust that as I'm not the OP.

[2020-10-20 08:47] #1790 closed

[2020-10-20 12:54] #1782 closed

[2020-10-21 07:57] terhorstd commented on #1794
This is a single broken link. The issue for handling all broken links is #1627, please check if this one appears in the found broken links there. If it is not covered, #1627 needs additional checks.
Closing this one as duplicate / symptom of #1627.

[2020-10-21 07:57] #1794 closed

[2020-10-21 08:15] #904 closed

[2020-10-21 18:14] jougs commented on #1660
@steffengraber: any news on this?

[2020-10-22 09:54] AlexVanMeegen opened #1811 "Fast and safe Siegert implementation"
**Is your feature request related to a problem? Please describe.**
The `siegert_neuron` requires a numerically tricky integration where an `exp(s**2)` and and `1 + erf(s)` interact in the integrand. Currently, this problem is solved using a substitution that leads to an infinite integral which is better behaved but still tricky. The problem and the [currently implemented solution](https://github.c

[2020-10-23 07:47] #1687 closed

[2020-10-23 11:12] stinebuu commented on #1579
Fixed with #1697

[2020-10-23 11:12] #1579 closed

[2020-10-23 11:14] stinebuu commented on #1357
@jarsi Do you know if this is still a problem?

[2020-10-23 11:29] stinebuu commented on #1375
Closing due to inactivity and no concrete use case being available.

[2020-10-23 11:29] #1375 closed

[2020-10-23 11:34] stinebuu commented on #1353
This is fixed, but needs documentation and some tests. @hakonsbm is responsible.

[2020-10-23 11:49] stinebuu commented on #1432
Closing this. If the error comes up again, please file a new issue.

[2020-10-23 11:49] #1432 closed

[2020-10-23 11:51] stinebuu commented on #1509
@zbarni ping!

[2020-10-23 12:17] stinebuu commented on #982
Decision from NEST 3.0 issue sorting session: @heplesser will check with `ht_neuron` users for more up to date examples, the Hill Tononi example could then be removed from the NEST source code.

[2020-10-23 12:23] sarakonradi opened #1813 "Include conversion in nest.Create() API documentation"
This Issue is a reminder to include the conversion suggested in #1534 in the API documentation of ``nest.Create()``.

[2020-10-23 12:37] jarsi commented on #1357
I haven't had any issues since. Maybe @jasperalbers has some more insights as he has also run a couple of benchmarks. If not I would consider this as solved. Or more like disappeared...

[2020-10-23 13:45] hakonsbm commented on #1353
Can also try to see if it's possible to implement `numpy.ma.MaskedArray` as an argument to `connect_arrays()`.

[2020-10-24 18:15] jasperalbers commented on #1357
@jarsi @stinebuu  I have carried out several benchmarks of the Multi Area Model on JURECA, including runs with 100+ nodes, and haven’t run into a similar issue.

[2020-10-25 12:14] stinebuu commented on #1357
@jarsi @jasperalbers Ok, good (and mysterious)! I will close this, feel free to open it again if you run into the same problems.

[2020-10-25 12:14] #1357 closed

[2020-10-27 16:24] Helveg opened #1816 "NEST 2.4 random number information available in docs"
**Describe the flaw**
It seems that the documentation [here](https://nest-simulator.readthedocs.io/en/stable/guides/random_numbers.html) is quite old. Is everything there still up to date? If so the NEST 2.4 version number that appears a few times is quite confusing. There's also an unformatted code block [here](https://nest-simulator.readthedocs.io/en/stable/guides/random_numbers.html#basics-of-p

[2020-10-28 08:32] jiaduxie opened #1817 "Cluster parallel simulation"
Hi,jarsi,I am now simulating a small network for testing on two machines, and run it with the following command. It seems that the two machines run by themselves without interaction,running your own.

`mpirun.mpich -np 2 -host work0,work1 python ./multi_test.py`

Can nest simulate a network in a multi-node cluster environment? If yes, how do the nodes exchange data?

[2020-10-28 09:19] stinebuu commented on #1816
@hakonsbm @jougs @heplesser Will this be fixed in #1549?

@sarakonradi @terhorstd What is our policy on fixing documentation for different versions, should this be fixed for NEST 2.20.1? Because #1549 is a NEST 3.0 feature.

[2020-10-28 10:29] hakonsbm commented on #1816
@stinebuu Yes. Random number generation is being rewritten, so all relevant documentation will be updated.

[2020-10-28 11:46] jarsi commented on #1817
Yes, NEST is very well capable of simulating networks in a multi-node environment. I guess your question is related to the question you poster in the [multi-area model issues](https://github.com/INM-6/multi-area-model/issues/18).

What you are describing should not happen. NEST should not run two independent copies which do not interact with each other. The copies should interact with each other a

[2020-10-30 11:31] heplesser commented on #1816
The material on that page is mostly still correct, even if old, but some of the presentation is non-sensical in today's context. Since it will still be a few months before NEST3 will be officially released, I think an update would not hurt (but it should not delay 2.20.1 any further!).

I would suggest changes as follows:
- Rewrite the "Changes in ... NEST 2.4" section without any reference to NES

[2020-10-30 19:09] BSVogler opened #1821 "InvalidNodeCollection after reset"
In some use-cases I want to keep the access via variable to some nodes even after the net is reset and reconfigured. By using the ids this was possible before. Now using a node collection it will crash and requires the recreation by storing the ids redundantly.

[code]

I don't know about the internals of the NodeCollection. Wouldn't it be easier to add something like `nc.reinstante()` or even bet

[2020-10-30 19:54] BSVogler commented on #1755
I implemented a python implementation with tests ([Code in Gist](https://gist.github.com/BSVogler/fcd685f80bb8723fb6711b5b7453a35f)) and applied it to my reinforcement learning framework. It seems to work.

I encountered two problems which are currently solved with hacks in my library (no hacks in the intended nest library code):

- when using a custom model, the model needs to be defined before l

[2020-10-31 08:42] clinssen opened #1822 "MacOS stage of Travis CI is broken"
This looks like an issue with a Python 3.8 vs. 3.9 version conflict. Possibly, this is due to the default Python version in the Travis CI MacOS image having been upgraded to 3.9.

[2020-11-02 08:50] clinssen commented on #1822
And, on top of this, some new news from Travis CI: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

If I'm reading this right, this means we have to move to a paid (subscription) plan to continue building on MacOS, or apply for OSS credits.

cc @lekshmideepu

[2020-11-02 08:55] hakonsbm commented on #1821
@BSVogler It's a bit unclear to me what you want to do here. If you just want to use the status of the nodes, you can save the dict from `nc.get()` in a variable before calling `ResetKernel()`.

When calling `ResetKernel()`, all created nodes are destroyed. So all node IDs in a NodeCollection, and therefore the NodeCollection itself, becomes invalid. This is equivalent to using 2.20, where doing a

[2020-11-03 10:50] #1804 closed

[2020-11-03 13:51] clinssen commented on #1173
It has been decided that NESTML will generate code that completely subsumes the ``Archiving_Node`` and ``Clopath_Archiving_Node`` classes. These two classes will then go away. See discussion in https://github.com/nest/nest-simulator/pull/1820. @terhorstd: are you OK closing this issue?

[2020-11-03 14:33] anandtrex commented on #1728
I'm having a similar issue. Any update on why this might be happening?

[2020-11-03 22:49] heplesser commented on #1822
Looking at the build log in #1826, the first thing I noticed is an failure to build certain code in connection with installation of matplotlib (lines 777-808 in https://travis-ci.org/github/nest/nest-simulator/jobs/741134305) ending in
[code]

I found some older posts discussion missing `__addtf3`([one](https://github.com/ContinuumIO/anaconda-issues/issues/3455), [another](https://github.com/matpl

[2020-11-04 06:49] steffengraber commented on #1728
@brenthuisman Does your issue still exist? As far as I can see you are using `NEST v2.20.0` with the `latest` version of the `one-neuron`-example. Could you please check with this example:

   https://github.com/nest/nest-simulator/blob/v2.20.0/pynest/examples/one_neuron.py

@anandtrex Could you please describe your environment?

[2020-11-04 08:10] #1817 closed

[2020-11-04 08:14] jiaduxie opened #1827 "Configuration of multi-node parallel environment"
Hi,I am now simulating a small network for testing on two machines, and run it with the following command. It seems that the two machines run by themselves without interaction,running your own.

`mpirun -np 2 -host work0,work1 python ./multi_test.py`

Can nest simulate a network in a multi-node cluster environment? If yes, how do the nodes exchange data?
Do you know about the configuration of a pa

[2020-11-04 08:42] brenthuisman commented on #1728
@steffengraber Meanwhile I've switched to getting Nest from the neuroscience repository, so I don't know the status of the issue.

[2020-11-04 09:54] stinebuu commented on #1827
Hi @jiaduxie! This would be a good question for our NEST user mailing list: https://www.nest-simulator.org/mailinglist/postorius/lists/users.nest-simulator.org/

Here you can get help from people who are using NEST, as well as NEST developers.

You might also be able to find some information in our [documentation](https://nest-simulator.readthedocs.io/en/stable/guides/parallel_computing.html).

[2020-11-04 10:04] stinebuu commented on #1827
See also #1817

[2020-11-04 10:43] terhorstd commented on #1827
the discussion will be continued on the mailing list, closing here.

[2020-11-04 10:43] #1827 closed

[2020-11-04 13:14] BSVogler commented on #1821
I think I missed adding the crucial step where the nodes are recreated after the reset. The problem is that the node collection then refers to existing node ids but calling get will cause a crash. I think I will need to look again at the minimum example.

[2020-11-04 15:33] hakonsbm commented on #1821
If you create a NodeCollection, then `ResetKernel`, the NodeCollection is invalidated and can no longer be used, even if the node IDs it contains are recreated. This is because we want to avoid errors where metadata etc. of the new node IDs do not correspond to the old node IDs. And, as you demonstrate in the example, it's easy to recreate the NodeCollection again with `NodeCollection(ids)`.

Howe

[2020-11-04 15:39] BSVogler commented on #1821
It is only easy here because the example here is a minimal example. I have code with a lot of node collections which all need to be stored twice to refresh them. But it bothers me more that you cannot upgrade lists of ids with node collections when upgrading from nest 2 to 3. Currently NodeCollections are a not a superset of the functionality.

Why not use both? A method to refresh the metadata an

[2020-11-05 06:40] #1727 closed

[2020-11-05 07:57] lekshmideepu commented on #1822
Am working on this

[2020-11-05 10:30] #1754 closed

[2020-11-05 21:30] anandtrex commented on #1728
@steffengraber My problem was solved after updating to nest-2.20.1. (I was running single-threaded nest combined with python multiprocess).

[2020-11-06 06:15] steffengraber commented on #1728
The issue seems to be solved for everyone. Therefore I close it.

[2020-11-06 06:15] #1728 closed

[2020-11-06 13:55] stinebuu opened #1829 "Print a SynapseCollection"
**Is your feature request related to a problem? Please describe.**
Currently, when printing a SynapseCollection, the output are two rows of source and target id's, with some borders to separate the two. This is something I implemented a long time ago, mostly as a quick fix so we could actually see the nodes in the SynapseCollection. It is not very pretty, and becomes even less pretty when we have

[2020-11-08 08:57] laurentperrinet opened #1831 "Segmentation fault when importing nest in python 3.9 (MacOS + homebrew)"
**Describe the bug**
Segmentation fault when importing nest in python (MacOS + homebrew)

**To Reproduce**

[code]

or

[code]

4. How to see error

[code]

**Expected behavior**

The installation worked fine before python@3.9 became the default in homebrew.

**Desktop/Environment (please complete the following information):**
 - OS: reproduced on MacOS 10.13.6 (17G14033) and latest (Catalina 10.1

[2020-11-08 09:05] laurentperrinet commented on #1831
At the moment I submitted the issue, I could find traces of an older installation, removing it solved the problem:
[code]

Sorry for the noise - hope this helps MacOS users :-)

[2020-11-08 09:05] #1831 closed

[2020-11-08 09:56] ikitayama opened #1832 "Ninja build support"
Ninja build is supported by CMake and I am able to build NEST with it, however, most targets are not support thus
difficult to switch over to NInja from bare GNU Make build.

[2020-11-08 10:09] ikitayama opened #1833 "The "install-nodoc" target disables a parallel build"
`make -j8 install` launches a parallel build, but `make -j8 install-nodoc` becomes a sequence build like below:

[code]

[2020-11-09 08:46] #1352 closed

[2020-11-09 08:52] clinssen opened #1835 "One-neuron network calls synapse constructor thousands of times"
Creating a network with two neurons and one synapse calls the synapse constructor slightly over 1024 times, and the copy constructor another just-over-1024 times:

[code]

yields

[code]

The number 1024 is of course conspicuous as a power of two. Could a connbuilder expert take a look at this and clarify whether this is expected behaviour?

Thanks to @zbarni for reporting this!

[2020-11-09 09:03] #1805 closed

[2020-11-09 10:43] clinssen commented on #1811
@AlexVanMeegen: this is a very in-depth description, and I'm not sure I understand the implications without further discussing this in detail. Could we ask you to take care of filing a pull request for this, if you (and Tom) indeed decide that this confers sufficient advantages?

[2020-11-09 10:45] clinssen commented on #1516
This issue seems overly broad and not practical to address (unless we can find a PhD student with many spare cycles). I would suggest to create seperate issues for specific cases to prevent feature creep.

[2020-11-09 11:13] gtrensch commented on #1803
We will look at the problem you describe here.

[2020-11-09 15:44] heplesser commented on #1835
@hakonsbm Could this somehow be related to the 2^10=1024 block size of the `BlockVector`? If adding the first element to a connector adds a block (because the connector and thus BV is only created when the first synapse of a given type is created), and this would trigger construction of all elements in that block, that could explain it. One way to test would be to change the `block_size_shift` and

[2020-11-10 08:47] stinebuu commented on #1829
Decision from hackathon: Implement columns our self, include weights, delays and synapse model.

[2020-11-10 13:25] #1510 closed

[2020-11-10 14:00] AlexVanMeegen commented on #1811
@clinssen, I am not sure I see why a full PR is needed to understand the implications. Could you be a bit more specific what you are missing? Then I can try to answer before creating a full blown PR.

Nonetheless, I am of course most willing to make the PR if desired!

[2020-11-10 14:11] clinssen commented on #1811
I don't understand the domain well enough, to see the complete implications. If you are proposing to implement a mathematical re-formulation that yields the same results, but more accurately or with more numerical stability, this would I think be very welcome! And could you also say how it might impact runtime?

[2020-11-10 14:20] AlexVanMeegen commented on #1811
Yes, precisely: This is all about the numerical evaluation of a tricky integral (Eq. 2 in my notes). My proposal is simply to use a different mathematical reformulation of the integral than the one that is currently used which is, to my best current knowledge, better behaved.

Naively, I think this will also improve runtime without affecting the accuracy, but this of course needs a careful benchma

[2020-11-10 15:35] hakonsbm commented on #1835
Reducing the block size reduced the number of calls to the constructor, and `gdb` confirmed that it's the `BlockVector` causing this. Is it causing problems with some synapse models?

[2020-11-10 16:24] clinssen commented on #1835
That's great, thanks for clearing that up. I don't think it caused any errors, just confusion. The only question would be whether this merits documentation somewhere.

[2020-11-10 22:43] heplesser commented on #1835
I also wonder why this happens. I suspect that the construction of the first block in the `BlockVector` [which happens here](https://github.com/nest/nest-simulator/blob/b08590af6d721ab66f8a72dcde053cff00d56512/libnestutil/block_vector.h#L312) actually constructs every element in the block. And I fear that the same happens for every block that is added to the `BlockVector`, so that each synapse is

[2020-11-11 10:07] jougs commented on #1660
@steffengraber: Do you need assistance with this or is there any other way I can help to speed this up? I am usually working on multiple branches concurrently and really find it quite annoying that I can't have the documentation for each of them in the corresponding build directory and that the one in the source directory does oftentimes not reflect the branch I'm actually on. Should we maybe orga

[2020-11-11 10:18] steffengraber commented on #1660
@jougs

Yes, sure. When? Tomorrow after 10.00 looks good.

[2020-11-11 10:24] jougs commented on #1660
Great! I've scheduled a session for tomorrow 11:00 to 12:30.

[2020-11-11 11:47] clinssen commented on #1516
The NEST Hackathon of November 2020 agrees that this issue is overly broad, and to only address the aeif_cond_alpha initial values issue raised by @heplesser.

This issue, of aeif_cond_alpha initial conditions not matching the values in the corresponding publication, has apparently already been fixed in the relevant script (``pynest/examples/brette_gerstner_fig_2c.py``) in the meantime.

Taken tog

[2020-11-11 11:47] #1516 closed

[2020-11-11 14:40] AlexVanMeegen commented on #1811
Tom also approves this, so I guess it is indeed sensible. I'll prepare a PR, please bug me in case I forget about this!

[2020-11-11 14:50] clinssen commented on #1811
Great, thank you! Could you please also check whether there is a unit test covering the behaviour of the neuron near the point of numerical instability?

[2020-11-12 08:22] AlexVanMeegen commented on #1811
Sure, I'll try to keep this in mind!

[2020-11-12 11:36] clinssen commented on #1173
In the NEST Hackathon of November 2020, it was agreed to close this issue based on the reasons stated above.

See also #1820 for a related PR and discussion.

[2020-11-12 11:36] #1173 closed

[2020-11-12 14:15] sarakonradi commented on #1588
As discussed during the NEST Hackathon, we should probably wait with this until the RNG guide has been updated (#1549).

[2020-11-12 14:34] stinebuu commented on #1473
Closing due to inactivity.

[2020-11-12 14:34] #1473 closed

[2020-11-12 22:41] jougs opened #1844 "Make Doxygen developer documentation available via readthedocs"
Before #1843, NEST used the [Breathe](https://breathe.readthedocs.io/en/latest) extension for [Sphinx](https://www.sphinx-doc.org) to extract the [Doxygen](https://www.doxygen.nl) code comments from the source base. However, the extracted information was not (and still isn't) shown on [Read the Docs](https://nest-simulator.readthedocs.io/).

The main task for solving this issue is to decide how an

[2020-11-13 08:55] sarakonradi commented on #1797
I agree with using "postsynaptic" consistently.

Not sure if I would rename the issue, as "Inconsistent word/phrase choices in the NEST documentation" may be too broad and impractical to address. I would propose updating the spelling of "postsynaptic" for now and discussing other terms in separate issues.

[2020-11-13 10:36] hakonsbm commented on #1835
@heplesser That's right. When a new block in the `BlockVector` is created, all elements in that block are default constructed. Then, when adding an element to the `BlockVector`, it is copy constructed into the space of the already created element in the block.

I've done some simple benchmarks comparing filling a `BlockVector` against filling an `std::vector` with a reserved number of elements. It

[2020-11-13 11:23] sarakonradi opened #1847 "Update file links in "Cortical microcircuit example" documentation"
This issue follows up on #1841. It suggests updating the links in the "Cortical microcircuit example" documentation on RtD by specifying the target format, as discussed during the NEST Hackathon.

README: https://github.com/nest/nest-simulator/blob/master/pynest/examples/Potjans_2014/README.rst

[2020-11-16 09:09] AlexVanMeegen opened #1850 "More tests for the Siegert neuron"
**Is your feature request related to a problem? Please describe.**
Currently, the tests covering the Siegert neuron are quite sparse.

**Describe the solution you'd like**
Extend the testsuite.

**Describe alternatives you've considered**
- test strongly supra- / sub-threshold regime
- test mean- and fluctuation-driven regime
- compare against analytical solution for noiseless case

**Additional c

[2020-11-17 13:31] #1797 closed

[2020-11-17 13:34] terhorstd commented on #508
@heplesser, could you give some updates on the status of this?

[2020-11-17 14:21] zbarni commented on #1509
@stinebuu unfortunately I'm not sure when I'll have time to provide a reproducible code for this. To avoid further hindering development, I suggest closing this issue and maybe I can reopen it (or a new one) when some code is ready.

[2020-11-17 15:22] heplesser commented on #508
Fixing the documentation guide on random numbers as part of #1549 is very high on my agenda, hope to get to it later this week.

[2020-11-18 12:27] #1822 closed

[2020-11-20 08:06] #1353 closed

[2020-11-20 08:40] terhorstd commented on #1210
This is currently under deeper investigation.

[2020-11-20 08:57] terhorstd commented on #1010
@carlosengutierrez, did it work? any updates on this?

[2020-11-20 09:16] gtrensch commented on #1738
Issue closed. Please reopen if this is still a problem.

[2020-11-20 09:16] #1738 closed

[2020-11-20 10:20] stinebuu commented on #1509
@zbarni No problem! I will close this, but feel free to open it again.

[2020-11-20 10:20] #1509 closed

[2020-11-20 13:33] ghost opened #1854 "Can't import nest at PyCharm with Anaconda."
My OS is Ubuntu 20.04, with Anaconda3.
When I run 'import nest' form file and console, it's seems something wrong happen, but form terminal is fine.

![2020-11-20 21-25-52 的屏幕截图](https://user-images.githubusercontent.com/48119814/99805461-8f499980-2b77-11eb-9086-92981f39b57d.png)
![2020-11-20 21-26-39 的屏幕截图](https://user-images.githubusercontent.com/48119814/99805470-91abf380-2b77-11eb-8c43-84b989

[2020-11-20 13:38] 0xdream commented on #1854
And when I run it without Anaconda but use system python interface, everything is ok.

![2020-11-20 21-36-52 的屏幕截图](https://user-images.githubusercontent.com/48119814/99806187-9a50f980-2b78-11eb-9f37-47a2a485d3bf.png)

[2020-11-21 10:41] ikitayama commented on #1010
@terhorstd I think @carlosengutierrez will try his code-base at the end of this month. We'll see.

[2020-11-21 10:49] carlosengutierrez commented on #1010
Hi @terhorstd and @ikitayama . Yes, I am waiting for the availability of the machine by the end of this month. I will keep you updated. Thank you.

[2020-11-22 10:43] apeyser commented on #1773
This whole thing was built for the small minority of users who would need to poke around with internals -- specifically, collect data during a simulation phase, as per NestIO. I'd avoid doing any complicated work here -- it would defeat the purpose -- beyond simply throwing an exception on empirically defined "bad behavior", since everything is undefined in terms of these calls.

Or rewrite NEST f

[2020-11-23 09:10] brenthuisman commented on #1630
My problem (see above) was not related to this Issue, I solved it with @sanjayankur31 assistance, see: https://github.com/neurofedora/Issues/issues/1

[2020-11-23 09:18] jiaduxie opened #1855 "Multi-node parallel simulation error"
I want to run neuron simulations in parallel on multiple servers in OpenMPI.
I've installed Nest through conda: `conda install -c conda-forge nest-simulator`.
`multi_test.py`code show as below：
[code]
**To Reproduce**
Steps to reproduce the behavior:
[code]
2. Command to run
`/home/work/anaconda3/envs/pynest/bin/mpirun -np 2 -host work01:1,work02:1 /home/work/anaconda3/envs/pynest/bin/python3 /hom

[2020-11-23 10:49] stinebuu commented on #1792
Any updates on this, @DominicTanzillo?

[2020-11-23 13:14] DominicTanzillo commented on #1792
Hello @stinebuu sorry for not responding sooner. I have found a solution and it was an incompatibility between NEST and other applications. I downgraded Python to 3.6 and the exception ended.

I'm finishing finals right now and will provide more follow up after this week.

[2020-11-25 09:33] stinebuu commented on #1854
See also #1232 and #1412.

[2020-11-25 09:36] stinebuu commented on #1854
@sarakonradi @terhorstd @steffengraber as this is the third issue on problems with PyCharm, is this something we should document how to do?

[2020-11-25 12:40] Silmathoron opened #1856 "Use squash and merge for PRs"
GitHub now handles authorship correctly with "Squash and merge" (including potential co-authors), meaning that we could now use this to merge PRs and have only one commit per PR, making this history a lot easier to browse.

[2020-11-25 14:18] heplesser commented on #1854
@stinebuu I think that would make sense. PyCharm is rather widely used.

[2020-11-30 03:24] ConBke opened #1858 "Installation NEST on colab"
Hi!
     I  am currently trying to NEST to simulate a network and need to choose the parameters for the network, which costs much time with Genetic Algorithms, so I tried to use colab. But after installing anaconda on colab and followed the installation instruction of NEST simulator as: ' conda create --name ENVNAME -c conda-forge nest-simulator=*=mpi_openmpi*' and activating the environment, I st

[2020-11-30 09:47] #1829 closed

[2020-11-30 16:50] dionperd opened #1860 "NEST failing to compile with libreadline and libncurses error in Mac Os Big Sur 11.0.1 (20B29)"
I tried to compile a module and I got the error below:

g++-9: error: /usr/lib/libreadline.dylib: No such file or directory
g++-9: error: /usr/lib/libncurses.dylib: No such file or directory

It used to compile just fine. First time I try after upgrading to Mac Os Big Sur it fails.

No problem with compiling the same module in a Linux Docker container.

I can provide the module, although, this mus

[2020-12-01 00:34] ikitayama commented on #1010
@carlosengutierrez this is a heads-up, it's available until the end of December.

[2020-12-01 06:50] jougs commented on #1811
Shouldn't this issue have the word "safe" in the title, rather than "secure"? The same applies for #1849. Thanks!

[2020-12-01 08:32] AlexVanMeegen commented on #1811
Agreed, my bad!

[2020-12-01 09:58] heplesser opened #1861 "Add test to protect against use of double_t"
**Is your feature request related to a problem? Please describe.**
In ancient NEST history, we used `double_t` for most doubles, but dropped this and converted to use of just `double` a long time ago. But there is still a risk for `double_t` creeping in again, see #1859.

**Describe the solution you'd like**
Add a test as part of static code analysis to detect and reject use of `double_t` in NEST

[2020-12-01 10:07] jougs commented on #1811
If it were a really aggressive optimization, I'd of course also have accepted *furious* :smiling_imp:

[2020-12-01 10:53] AlexVanMeegen commented on #1811
"These optimizations were performed by trained professionals, don't try this at home."

[2020-12-01 15:15] hakonsbm commented on #1835
Restructuring the `BlockVector` to reserve instead of default filling each block proved more complicated than I first thought. I have instead done some profiling of the connection step in `hpc_benchmark.sli`. I used scale=1 which results in 126.6 million connections, and 123609 blocks. The profiling shows that adding new connections to the `BlockVector` (including allocation of new blocks) takes a

[2020-12-02 09:15] stinebuu commented on #1860
@dionperd Maybe this [e-mail thread](https://www.nest-initiative.org/mailinglist/hyperkitty/list/users@nest-simulator.org/thread/QKRQZOQ6DXPKV7QB7CSE3DVZ22HFAU52/) from the NEST-user mailinglist can be of help.

If not, @heplesser do you have time to have a look?

[2020-12-02 09:19] stinebuu commented on #1858
@ConBke When you say collab, are you talking about the EBRAINS collab?

@terhorstd have you installed NEST on the collab?

[2020-12-02 09:30] ConBke commented on #1858
Sorry that I was not clear. I was trying to use NEST on Google Colab, but failed.

[2020-12-02 14:40] heplesser commented on #1860
@dionperd The problem is just a missing readline library. I assume that you have installed gcc, cmake and openmpi using Homebrew, so `brew install readline` will probably do the trick. You may also want to `brew install gsl` to make sure that NEST also builds models with non-linear subthreshold dynamics. You should not really need the `-Dwith-mpi` and `-Dwith-python` flags, because NEST should fin

[2020-12-04 13:42] terhorstd commented on #1775
The build system for the documentation is refactored in #1843 , so the `doc` target is separate from the normal build. We have to look into the dependencies for the `install`.

[2020-12-04 13:50] terhorstd commented on #1775
There is a separate target `make install-nodoc` that probably already does what you want.

[2020-12-04 13:58] terhorstd commented on #1833
You may try to split your build and install process:
[code]

[2020-12-04 14:07] terhorstd commented on #1856
This is not an issue with the code and this should probably be discussed on the list or in the VC. I have put it on the [agenda](https://github.com/nest/nest-simulator/wiki/2020-12-07-Open-NEST-Developer-Video-Conference) for monday.

[2020-12-04 20:48] gtrensch commented on #1832
From the issue description it becomes not clear what the problem in NEST is. Please can you provide more information.

[2020-12-04 21:19] gtrensch commented on #1854
The solution described in https://github.com/nest/nest-simulator/issues/1232#issuecomment-529483291 only works for older PyCharm versions, e.g. Community Edition 2016.3. In newer versions PyCharm seems to come with a built-in virtual environment, see also the PyCharm documentation: [creating-virtual-environment](https://www.jetbrains.com/help/pycharm/creating-virtual-environment.html)

[2020-12-04 22:30] ikitayama commented on #1833
Okay.

On Fri, Dec 4, 2020 at 22:58 Dennis Terhorst <notifications@github.com>
wrote:

[2020-12-04 23:34] ikitayama commented on #1775
When developing code, we often install. Wanting to install binary without
docs.
So a instal-doc target should exist and install only install binaries needs
to run simulation was my argument.

Itaru.

On Fri, Dec 4, 2020 at 22:50 Dennis Terhorst <notifications@github.com>
wrote:

[2020-12-05 00:07] ikitayama commented on #1832
For example, I am not certain if `ninja check-install` can be executed or not.

[2020-12-05 00:11] ikitayama commented on #1832
[code]

[2020-12-05 00:28] ikitayama commented on #1832
Above was seen on my Intel MacBook Pro, while on JURECA, I could not issue `cmake -G Ninja /path/to/nest-simulator` successfully.

[2020-12-05 00:51] ikitayama commented on #1832
[code]

[2020-12-05 00:52] ikitayama commented on #1832
I had to install manually using `pip3` a Python package, `junitparser` though.

[2020-12-05 00:52] ikitayama commented on #1832
Tested on JURECA-DC.

[2020-12-05 02:56] ikitayama commented on #1832
I feel Ninja build can be done, so closing.

[2020-12-05 02:56] #1832 closed

[2020-12-05 02:59] ikitayama opened #1865 "Tests on JURECA-DC"
[code]

I'd like to learn whether I need to load more modules so that tests go well.

[code]

[2020-12-07 11:55] sarakonradi opened #1866 "Explain neuron models in documentation"
Currently, it is unclear from the documentation whether or not neuron model features can be combined.

As discussed in the ONDVC, we should clarify that neuron models in NEST are one entity. The information could be added to the welcome page or models directory.

[2020-12-08 07:37] terhorstd commented on #1856
Thanks for bringing this up and our comprehensive discussion in yesterday's [meeting](https://github.com/nest/nest-simulator/wiki/2020-12-07-Open-NEST-Developer-Video-Conference).

For reference:
The joint conclusion was to squash some PRs where it makes sense and is requested by the developer.

Since Github handles force-pushes to PR branches gracefully, the possibility of the developer squashing

[2020-12-08 07:37] #1856 closed

[2020-12-08 12:11] espenhgn commented on #1858
Hi,
The way to get NEST running on Google Colab is via apt, not conda:
[code]
Additional Python dependencies can be installed using `pip`; `!pip install <packagename>`

Then you'd have to restart the kernel/runtime (but no factory reset).
No reason to utilize MPI, as I don't think can access more than one physical machine anyway using the free resources. Use multiprocessing.

[2020-12-08 12:20] ConBke commented on #1858
Oh, I see. It worked! Thank you very much for your help!!!!

[2020-12-08 12:22] ConBke commented on #1858
Oh, I see. It worked! Thank you very much for your help!!!!

[2020-12-08 12:22] #1858 closed

[2020-12-09 09:02] stinebuu commented on #1792
@DominicTanzillo ping! :)

[2020-12-09 09:05] stinebuu commented on #1855
Answered in NEST-user mailinglist, see [here](https://www.nest-initiative.org/mailinglist/hyperkitty/list/users@nest-simulator.org/thread/3TFXDHQLAGMWH5W2HN5MH4ZBGUVLNO5C/) for details. Thus closing.

[2020-12-09 09:05] #1855 closed

[2020-12-09 09:06] #1813 closed

[2020-12-09 09:12] stinebuu commented on #1865
@ikitayama Could you print the error message for the ` nest.tests.test_multiple_synapses.MultipleSynapsesTestCase.test_MultipleSynapses_receptor_type_ht_neuron` test as well?

[2020-12-09 09:24] ikitayama commented on #1865
Sure thing. It’s been down at this moment I’ll do it later this week,
alright?

On Wed, Dec 9, 2020 at 18:12 Stine Brekke Vennemo <notifications@github.com>
wrote:

[2020-12-11 10:24] Helveg opened #1870 "Can the Python install requirements be listed in a seperate command"
**Describe the flaw**
There are a few Python packages listed in between Linux packages in the Ubuntu [installation instructions](https://nest-simulator.readthedocs.io/en/stable/installation/linux_install.html). Recommending to install Python packages through the distro package manager has some drawbacks: they can be outdated versions, and they install to the system Python rather than the Python in

[2020-12-11 11:31] Helveg commented on #1854
Isn't this again related to the fact that there is environment variable fidgetting required to link Python & NEST together? It seems to be that NEST is mainly used through its Python interface and should behave like a proper Python dependency. When installing with Python bindings NEST should install itself as a proper Python package and leave the rest of the system untouched, allowing for multiple

[2020-12-11 16:08] terhorstd commented on #1833
Did this resolve the issue?

[2020-12-12 06:02] ikitayama commented on #1833
I confirm that separating the build and install phases allows me to build in parallel, though I wonder if
the `install-nodoc` target can be written so that it does not prevent the Make running in parallel.

[2020-12-14 07:53] ikitayama commented on #1865
I did it again `make installcheck` on JURECA-DC; this time results were clean:

[code]

[2020-12-14 10:11] clinssen opened #1871 "Missing copyright information in Jupyter Notebooks"
Jupyter Notebooks in the NEST Simulator repository are consistently lacking a copyright header. Actually, for NESTML, I've been in the habit of placing the copyright information at the bottom (in a footer) instead. Docteam: if you are OK with this, I will create a PR doing the same for NEST Simulator.

[2020-12-14 10:27] ikitayama commented on #1865
Oops, I wasn't including the PyNEST tests; though how long does it take on average?

[2020-12-14 12:22] Mike2208 opened #1872 "nest-server fails to start when using uwsgi installed via apt"
**Describe the bug**
When using `uwsgi` installed via `apt` and not `pip`, running `nest-server start -o` fails with the message

    NEST Server
    -----------
    uwsgi: unrecognized option '--module'
    getopt_long() error

**To Reproduce**
Steps to reproduce the behavior:

1. Install Nest normally

2. If uwsgi has already been installed via pip, run

        sudo pip3 uninstall uwsgi

2. Ins

[2020-12-15 02:11] ikitayama commented on #1865
@stinebuu would you mind pointing me NEST CI/CD webpages to see if NEST is tested on JURECA-DC?

[2020-12-15 14:53] clinssen opened #1875 "Failing grep of the CI log"
In the PyNEST unit tests, a grep is done on the log to cull the more detailed debug/info messages, and print only the "summary" lines that end in "... ok|fail|skip|error":

https://github.com/nest/nest-simulator/blob/2869b6364ccd85edf69246deb12c03c05e4a3b49/testsuite/do_tests.sh#L456

However, when a warning or other text is printed inbetween, the grep removes too many lines, and no lines pertaini

[2020-12-15 15:47] jougs commented on #1875
In my development branch that moves the PyNEST testsuite from `nosetests` to `pytest`, I have completely removed the output mangling and just let it print in whatever way it wants. The idea is to then not get any information from that output at all, but use `junitparser` to read the XML files created by `pytest` for generating the summary. Unfortunately too much other things piled up and I never f

[2020-12-15 18:56] vin6 opened #1877 "mac install brew tap brewsci/science error"
**Describe the bug**
A "depends_on :java" warning is thrown when tapping brewsci/science in Homebrew:

brew tap brewsci/science
==> Tapping brewsci/science
Cloning into '/usr/local/Homebrew/Library/Taps/brewsci/homebrew-science'...
remote: Enumerating objects: 24, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 35556 (delta 12), re

[2020-12-16 09:15] stinebuu commented on #1865
@ikitayama

I am not sure how long it takes on average, I suppose it depends on the system you are building on, and I have not run NEST on JURECA-DC.
Would you have time to run the testsuite with PyNEST?

@sarakonradi @terhorstd do we have NEST CI/CD webpages?

[2020-12-16 09:28] stinebuu commented on #1877
@vin6 Did this problem arise when you tried to install NEST?

[2020-12-16 14:46] heplesser commented on #1877
@vin6 As far as I can see, your problem is a general problem with `brewsci/science`, not related to the NEST simulator. Note the `brewsci/science` is a legacy tap and no longer maintained (https://brewsci.github.io/homebrew-science/).

Since the issue is not related to NEST, I will close it.

[2020-12-16 14:46] #1877 closed

[2020-12-16 14:49] alberto-sibner commented on #1854
Using PyCharm CE 2020.2 on MacOS Big Sur, the following worked for me:

1. Under the Run menu, click on "edit configuration" for the file you want to run.
2. On the environment variables line, add the following variables:

![image](https://user-images.githubusercontent.com/49283178/102362415-42a58280-3fac-11eb-9574-78efe5cec073.png)

You can find out the values activating your conda environment fr

[2020-12-16 15:06] albertofdb commented on #1854
Using PyCharm CE 2020.2 on MacOS Big Sur, the following worked for me:

1. Under the Run menu, click on "edit configuration" for the file you want to run.
2. On the environment variables line, add the following variables:

![image](https://user-images.githubusercontent.com/49283178/102362415-42a58280-3fac-11eb-9574-78efe5cec073.png)

You can find out the values activating your conda environment fr

[2020-12-16 17:01] vin6 commented on #1877
Thank you for your response. What I’m ultimately trying to install is circos, and am having a hard time finding a current formula.

--Kelly

Kelly Vining
Assistant Professor
Department of Horticulture
Oregon State University
2750 SW Campus Way
Corvallis, OR 97331
541-737-0646

From: Hans Ekkehard Plesser <notifications@github.com>
Sent: Wednesday, December 16, 2020 6:46 AM
To: nest/nest-simulator

[2020-12-17 05:38] ikitayama commented on #1865
I think @lekshmideepu is in charge of that.

[2020-12-17 13:18] sarakonradi opened #1878 "Automatically link PyNEST functions"
Currently, the absence of automatically linked PyNEST functions leads to redundancy and repetitive descriptions.

As @jougs suggested in stinebuu/nest-simulator#8, it would be good to have an automatic linking of all PyNEST functions that are mentioned throughout the documentation (e.g. ``nest.Connect()``) to the corresponding anchor in the PyNEST API documentation.

[2020-12-18 01:10] carlosengutierrez commented on #1010
Hi @ikitayama , I am running out of ideas, I get stuck at 96% of the building when installing nest 2.20 or nest 3 on fugaku. I am using the cmake line below, any idea of what is happening ?

cmake -DCMAKE_INSTALL_PREFIX:PATH=~/nest-3-install/ -Dwith-mpi=ON -Dwith-warning=OFF -Dwith-readline=OFF -DCMAKE_C_COMPILER=mpifcc -DCMAKE_CXX_COMPILER=mpiFCC -Dwith-optimize="-Kfast,parallel -fPIC" ~/nest-sim

[2020-12-18 01:49] ikitayama commented on #1010
Carlos,
First, try switching to Clang mode with
-Nclang and see if build exceeds 98%.

On Fri, Dec 18, 2020 at 10:10 Carlos Gutierrez <notifications@github.com>
wrote:

[2020-12-18 02:21] carlosengutierrez commented on #1010
@ikitayama , it works with -->>>  -Dwith-optimize="-Nclang -fPIC"
How much different is this installation with respect to this ? -->> -Dwith-optimize="-Kfast,parallel -fPIC",? if I am not wrong the last option is recommended by fujitsu, right? let me continue trying it...

#########################
 99%] Compiling Cython CXX source for pynestkernel...
[ 99%] Built target nest
warning: /home/hp2001

[2020-12-18 02:34] ikitayama commented on #1010
Carlos that's great news! Then you'd need to file your build issue with
"Trad" mode against the local Support ;)

Have a good weekend!

On Fri, Dec 18, 2020 at 11:21 AM Carlos Gutierrez <notifications@github.com>
wrote:

[2020-12-18 02:59] niltonlk opened #1879 "Typo in test_sp/test_mpitests.py"
**Describe the bug**
A typo in line 41 of test_sp/test_mpitests.py that reads "python" instead of "nosetests" causes the test to fail.
Note that the error message that should be displayed in case of failure in line 50 reads "nosetests".
Test pass by fixing this typo.

**To Reproduce**
Steps to reproduce the behavior:
1. (Minimal) reproducing example
make installcheck with MPI ON
2. Used parameters

[2020-12-18 14:54] heplesser commented on #1010
@carlosengutierrez NEST compilation generally stops for quite a long while at 96% at the end of modelsmodule compilation, since a large number of templates then needs to be instantiated and compilers may attempt to perform global optimization across modelsmodule (all synapse models are templates). Good that you found an optimization setting that worked.

[2020-12-18 15:20] ChristianKeup opened #1881 "segmentation fault for slightly larger networks, related to version with openmpi"
Hello,

I'm using a laptop with 16G memory running Ubuntu 18.04. If I install NEST with OpenMPI using conda (as in the documentation):
(of course, I do not quite need openmpi on the laptop)

`conda create --name ENVNAME -c conda-forge nest-simulator=*=mpi_openmpi*`

and then run the following minimal example "simulation" as a python script:

    import nest
    nrns = nest.Create('iaf_psc_delta',

[2020-12-19 01:42] ikitayama commented on #1010
@heplesser Correct. I suppose if @carlosengutierrez can occupy a Fugaku compute node for, say, 8 hours or so, he can
see the build can finish. But that's the case for FCC's "Trad" mode; what @carlosengutierrez tried was not actually an optimization, but FCC's "clang" mode (in which FCC depends upon largely the implementation of LLVM).

[2020-12-19 01:58] ikitayama commented on #1010
Provided that a Fugaku compute node is operated around at 2GHz.

[2020-12-19 02:13] ikitayama commented on #1010
So, let's go back to the Issue itself; @carlosengutierrez do you see it fixed in the latest copiler?

[2020-12-20 07:47] ikitayama commented on #1865
To report that efficiently, should I upload the corresponding .XML file?

[2020-12-20 07:48] ikitayama commented on #1865
In batch mode on a JURECA-DC compute node, the time did not seem to be a problem at all.

[2020-12-20 07:49] ikitayama commented on #1865
We can discuss this in 2021, perhaps.

[2020-12-23 07:41] carlosengutierrez commented on #1010
@ikitayama @heplesser after several days, I could install last configuration for nest2 and nest3, I will test and report back
Thanks, C.

[2020-12-23 08:04] ikitayama commented on #1010
🎄

On Wed, Dec 23, 2020 at 16:41 Carlos Gutierrez <notifications@github.com>
wrote:

[2020-12-26 23:47] niltonlk opened #1882 "undefined reference to `void nest::ConnectionCreator::connect when building with Intel Parallel Studio XE 2020u4"
**Describe the bug**
When building current master (master@2869b6364) with Intel Parallel Studio XE 2020u4, the following error appears during make process:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. (Minimal) reproducing example
Build with Intel Parallel Studio XE 2020u4

2. Used parameters
[code]

3. Command to run
make

**Expected behavior**
It is expected that make terminates w

[2020-12-27 00:03] niltonlk commented on #1882
### Additional related info:
installcheck results in some MPI failures in both cases, when using Intel Parallel Studio, as well as for OpenMPI.

## Intel Parallel Studio 2020u4 case
The failures have already been discussed in the NEST users mailing-list (Oct 5, 2020, 21:18 UTC-3)
Most of the failures are:

and a few:

moreover, these errors doesn't seem to be consistent, as execution of some tests

[2020-12-30 10:44] Helveg opened #1883 "NEST's MPI transparency at the level of Python multiplicates memory usage per Python process"
**Is your feature request related to a problem? Please describe.**
When the construction of a network in NEST requires a lot of specific data, such as large connection matrices, or an irregular map of NEST IDs to other IDs all this data is loaded into each MPI node; even tough on average about  `(n - 1)/n` of that data will not pertain to that specific node and will be transparently ignored by NES

[2021-01-04 16:05] heplesser commented on #1881
@ChristianKeup Thanks for reporting this! This seems rather strange indeed. According to the stack trace, the segfault occurs when NEST sorts connections before starting the simulation. This does not happen (if I remember right) when not using MPI. Some questions/suggestions:

- Are you running with more than one MPI process (i.e. `mpirun -np N python` or just serially)?
- Which Boost version are

[2021-01-04 16:15] heplesser commented on #1882
@stinebuu @hakonsbm Could one of you look at the problem with the header file?

@niltonlk One potential explanation for the problems with the MPI tests is that NEST's MPI test setup collects data from the various parallel processes through pipes and this can lead to garbled messages. In the tests in the testsuite, we have configured everything so that messages are small enough that they do not get

[2021-01-05 08:30] #959 closed

[2021-01-06 09:31] stinebuu commented on #1865
@ikitayama Apologies for taking so long, vacation got in the way.

Could you post the `installcheck.log`?

[2021-01-06 09:54] hakonsbm commented on #1882
@heplesser When using GCC the implementation of the functions in `connection_createor_impl.h` is found when linking, so there is no need to include it. But apparently the linker doesn't find the functions when using the Intel compiler, which is strange. I can't seem to reproduce the problem though, although I've used the somewhat older Intel Parallel Studio XE 2020u2. Anyway, I don't see any harm

[2021-01-06 21:07] niltonlk commented on #1882
@hakonsbm Thanks for the info. I will recheck on my system, and I will see if I can test it with Intel Parallel Studio XE 2020u2 as well. If the problem persists, I may create a PR.

[2021-01-07 09:20] ikitayama commented on #1865
@stinebuu no problem, but as of this writing, I am having a hard time reproducing it on JURECA-DC, so close this Ticket.

[2021-01-07 09:20] #1865 closed

[2021-01-07 09:37] hakonsbm opened #1884 "Error raised when printing an empty SynapseConnection"
**Describe the bug**
Printing a SynapseCollection with no connections raises a `TypeError`.

**To Reproduce**
[code]

Raises the error
[code]

**Expected behavior**
Print output representing an empty SynapseCollection.

[2021-01-10 12:28] stinebuu opened #1885 "Segmentation fault when doing benchmarks on Piz Daint - related to Jonke synapse (?)"
**Describe the bug**
On Piz Daint, when doing weak scaling, I am getting segmentation fault when I use 36 compute nodes, 1152 virtual processes. The benchmark used to pass without problems. I have done bisectioning to try to find which commit causes the problem, and found it is the merging of PR #1665 into master (commit 6997cae6c893470257a0654fe48edb8b799169a0).

When commenting out `register_con

[2021-01-11 13:28] heplesser commented on #1885
@stinebuu This is indeed strange, especially that it is only the `jonke_synapse`.  One more test could be to change the order of synapse registrations, so jonke is registered early. But it could also be that there is a problem in the jonke synapse, maybe?

[2021-01-11 14:18] hakonsbm opened #1887 "Excessive and misleading warning when creating the first connection"
**Describe the bug**
In the current master (be21fc9a6b4b12998b80483f56a5fa794f099370), when creating the first connection or the first connection after calling `ResetKernel()`, the following warning will consistently be raised:
[code]
It is always raised, regardless of having called `GetConnections()` or not, which can be confusing. And because it is raised again after every `ResetKernel()`, the a

[2021-01-12 07:34] stinebuu commented on #1885
@heplesser I agree, very strange. There could be a problem with the jonke synapse, but when I test the last commit in the PR (305511fa11e863ba31e38b553d4d4aebdca451d0), the benchmark pass without problems. Should they not fail then as well if there was a problem with the synapse?

I will test the order of registrations and get back to you with the results.

[2021-01-12 09:59] clinssen commented on #1885
By coincidence, I worked a bit on the "Jonke" synapse model a few weeks ago. I ran a full cppcheck on the .h file, but no obvious issues (e.g. missing initialisations) were detected. @stinebuu: could you perhaps post a traceback running through valgrind or something similar?

[2021-01-12 13:51] stinebuu commented on #1885
@heplesser Registering the Jonke synapse earlier did not make  a difference.

@clinssen Will do! I just need to set up valgrind on Piz Daint first.

[2021-01-13 09:11] stinebuu commented on #1792
@DominicTanzillo I am closing this due to inactivity. Feel free to open again if the problem comes up again.

[2021-01-13 09:11] #1792 closed

[2021-01-13 12:07] ChristianKeup commented on #1881
Hello,

1. I ran the script only serially
2. I am not sure whether the conda installation uses Boost, since I don't get the cmake output then. At least libboost is not among the packages installed in the conda environment. When I compile the current Nest master, I have tried both with boost version 1.73, and without boost.
3. I compiled the current master with the MPI flag on, and indeed the error

[2021-01-13 14:38] heplesser commented on #1881
Thanks for the update! To build the same network with SLI, use
[code]
On my computer, that works fine. Could you try on yours?

My suspicion now would be that some libraries are mixed up in the Conda install. If anyone else with a Conda installation of NEST on Linux could test that would be useful.

[2021-01-13 15:17] ChristianKeup commented on #1881
Ah, thanks. This code works on the current master, but on the conda installed version 2.20 it throws an error:

Could it be that in version 2.20 the Connect function took different arguments?

Concerning your suspicion, this is also in line with what Moritz Helias guessed when I mentioned the issue to him. Maybe it links to a wrong version of OpenMPI or a related library.

[2021-01-13 17:40] ChristianKeup commented on #1881
Thanks @AlexVanMeegen for testing the issue on his laptop. He gets the same segmentation fault error: (Conda install with MPI)

also he pointed out that maybe the very same problem was reported by Dominic Standage on the Nest user mailing list last year, the title of that mail was "Microcircuit example, segmentation fault" .

[2021-01-14 07:36] heplesser commented on #1881
For NEST 2.20, which doens't have the fancy node collections yet, the corresponding script is
[code]

@steffengraber Since this seems to be a conda problem, could you take a look?

[2021-01-14 08:35] ChristianKeup commented on #1881
Thanks, this SLI code generated the same error as the python script.
I also got the error when using fixed_outdegree instead
`n n << /rule /fixed_outdegree /outdegree 200 >> << /weight -1.0 >> Connect`
but with all_to_all connectivity,
`n n << /rule /all_to_all >> << /weight -1.0 >> Connect`
 the error did not appear.

[2021-01-14 14:51] heplesser commented on #1881
Can you run the script in a debugger and report the stacktrace?

[2021-01-14 16:11] hakonsbm commented on #1881
I can reproduce the issue. The Conda package is built without debugging symbols, so `gdb` doesn't give much info, but points to the function `void boost::sort::pdqsort_detail::...` as the point where it goes wrong.

There are two Conda packages for Python 3.9, they depend on Boost 1.72 and 1.74. With a NEST Conda package that doesn't depend on Boost (`nest-simulator=2.20.0=mpi_openmpi_py38hb43900d

[2021-01-15 06:37] steffengraber commented on #1881
@hakonsbm Thank you for sorting this out.
Because of some problems with mpi we decided not to offer this in the conda packages anymore and recommend installing with mpi from source.
https://nest-simulator.readthedocs.io/en/nest-2.20.1/installation/linux_install.html

[2021-01-15 08:26] terhorstd commented on #1833
As the parallel build issue is solved, we can continue to discuss the default setting for installing documentation in #1775. Thanks for the feed-back.

[2021-01-15 08:26] #1833 closed

[2021-01-15 08:29] terhorstd commented on #1612
For the documentation we may consider loading the `environment.yml` in `conf.py` and exposing the dependencies as variables. Then the maintenance of version numbers in the documentation becomes much easier. Have a look at this [stackoverflow post](https://stackoverflow.com/a/33845358/14085246).

[2021-01-15 08:33] terhorstd commented on #1860
did this solve your issue, @dionperd ?

[2021-01-15 09:05] #1879 closed

[2021-01-15 09:24] dionperd commented on #1860
I am still having trouble to install NEST in my laptop.
However, I need to research a little bit more and post the new problem(s), in an organized manner to not waste your time.
I will try to do it asap and get back to you.
It could be that just my environment is really messed up...

[2021-01-15 19:15] terhorstd commented on #1870
Hey, thanks for noticing this! It is also one point in the context of #1612 . We are looking into this.

[2021-01-18 07:57] heplesser commented on #1612
Using one central `environment.yml` file seems to make a lot of sense. We should also use it in our CI build scripts then, both to avoid duplicity and to test the file itself. One point I wonder about is about the relation between `pip` and `conda` here. I know conda can handle `environment.yml` files that have a separate "pip" section for packages not available from conda, but I don't know how it

[2021-01-18 08:06] heplesser commented on #1612
It seems @jougs pretty much just answered my question in #1843.

[2021-01-18 21:24] jougs opened #1891 "Catch bad_alloc in SLI main loop and print a friendly error message"
In case common C++ exceptions are raised somewhere in the NEST code, they are caught by the SLI main loop, and presented to users by printing only the name of the exception. For most exceptions this is probably an appropriate course of action. One where it probably isn't, is `std::bad_alloc`, which signals an out-of-memory condition. Recently, there were multiple reports on the mailing list relate

[2021-01-18 23:36] jougs commented on #820
@clinssen, @YounesBouhadjar: are there any news on this?

[2021-01-18 23:38] jougs commented on #1861
@heplesser: how likely is it that the problem actually resurfaces? Maybe my suggestion war more or less just an academic one and we should close this issue _wontfix_?

[2021-01-19 06:42] heplesser commented on #1861
The probability is slim, I think I created the issue because I was so surprised that it had happened at all. And a test would be pretty simple. Just run
[code]
and check that `dt_matches` is empty.

[2021-01-19 08:19] clinssen commented on #820
This was pre-empted by some other projects and queries, such as #1840, a NESTML active dendrite tutorial review, and the triplet synapse. As the latter is now working and third-factor plasticity rules are next on the NESTML agenda, we expect to pick this up again within the next few weeks!

[2021-01-19 12:12] espenhgn opened #1892 "Poor performance of nest.GetPosition() vs. nest.DumpLayerNodes() with MPI"
**Describe the bug**
The performance of `nest.GetPosition(NodeCollection)` vs. `nest.DumpLayerNodes(NodeCollection)` is abysmally bad with MPI. Does it even make sense? Both iterates over units in the nodecollection and ultimately calls `get_position(nodeid)` at the C++ level it seems.

**To Reproduce**
1. reproducer.py:
[code]
2. MPI config: 1/128/256 MPI processes; 1 thread per process; 1/2 JURE

[2021-01-19 13:27] jougs commented on #820
Thanks for the update and no worries. I was just going through the stale issues in the [automated testing project](https://github.com/nest/nest-simulator/projects/5).

[2021-01-19 15:30] jougs commented on #1861
I've created a PR fixing this. Please review!

[2021-01-21 07:10] #1892 closed

[2021-01-21 07:17] #1315 closed

[2021-01-21 07:17] #1433 closed

[2021-01-22 13:56] stinebuu commented on #1885
A tiny update: With valgrind I get an *out of memory* error for all benchmarks (not only the one with 36 compute nodes). It is not very strange, as valgrind extracts a lot of stuff, but it fails with the *out of memory* error before it seg. faults with the 36 compute nodes. So I have not been able to extract the right information yet. I will work more on this next week!

[2021-01-22 14:26] sarakonradi opened #1896 "Update documentation workflow and doc/README.rst"
The user-level documentation instructions need to be updated to reflect the changes in #1843.

To avoid duplication, the relevant sections in ``doc/README.rst`` can be replaced with links to the [User level documentation workflow](https://github.com/nest/nest-simulator/blob/master/doc/documentation_workflow/user_documentation_workflow.rst) and [Developer documentation workflow](https://github.com/

[2021-01-22 17:49] lionelkusch opened #1897 "bad link in the documentation of poisson_generator : DeviceNode"
**Describe the flaw**
On this page of the documentation : https://nest-simulator.readthedocs.io/en/nest-2.20.1/models/generator.html
The link following link : http://ken.brainworks.uni-freiburg.de/cgi-bin/mailman/private/nest_developer/2011-January/002977.html
doesn't exist.

**Suggest an improvement**
Change the link or remove it.

[2021-01-22 22:30] #1675 closed

[2021-01-28 14:02] pnbabu opened #1898 "Support for vectors in RecordablesMap"
**Is your feature request related to a problem? Please describe.**
In NESTML, the variables defined in the state block of the neuron model are used to record using the NEST's multimeter. To achieve this, the generated NEST code has `insert_()` statements to the `RecordablesMap`.
[code]
We are now working to support vectors in NESTML that stores an array of values say, an array of membrane potentia

[2021-01-28 20:07] jougs commented on #1612
I think that it could be a bit confusing to have a set of requirement files in each location where we need them and expect users to infer their meaning based on location, i.e.
* top-level `environment.yml` and `requirements.txt` for runtime requirements
* `extras/environment.yml` and `extras/requirements.txt` for build requirements
* `doc/environment.yml` and `doc/requirements.txt` for documentati

[2021-01-29 06:47] heplesser commented on #1898
@pnbabu Could you explain in more detail what that vector should contain? In most neuron models, `g_ex` is a scalar which multimeter will request once per sampling time step. Therefore, `get_g_ex()` is expected to return a scalar. In which way do you want to extend this from scalar to vector?

[2021-01-29 06:52] heplesser commented on #1612
I quite like @jougs' alternative suggestion with respective files under `extra`.

[2021-01-29 06:54] heplesser opened #1900 "Restructure extras directory"
The `extras` directory contains a considerable number of files of quite different nature and purpose. We should structure it into thematic subdirectories and improve the README.

[2021-01-29 07:04] gtrensch commented on #1619
We've looked at VS Code and I'm afraid we can't do that much for you as this is not a NEST issue and is therefore out of our control.

[2021-01-29 07:41] gtrensch commented on #1854
In addition to my December 4th entry: I've switched to PyCharm version 2020.3, which allows you to specify the environment you want to use for your project. This works for both Conda environments and inheriting from your default setting. See the screenshots below.
![Screenshot from 2021-01-29 08-25-45](https://user-images.githubusercontent.com/19706694/106245956-a22eb900-620d-11eb-87f6-2343869434d

[2021-01-29 10:17] pnbabu commented on #1898
@heplesser The example provided in the issue happened to be `iaf_psc_delta`. The name was misleading and the requirement was not specific to that. This is a requirement for supporting multiple compartmental models for NESTML. In order to achieve this, we would need to store the values of variables from all the compartments. These values could be stored in vectors. For example, a vector with membra

[2021-01-29 11:42] DylanMuir commented on #1232
Currently for nest v2.20, the option from @juanmav of starting pycharm from the terminal works for me. Not very user-friendly, but functional.

[2021-02-01 12:11] sarakonradi commented on #1871
Discussed this with @jessica-mitchell, and it sounds good to us. Thanks!

[2021-02-01 13:04] #1884 closed

[2021-02-01 13:54] #1635 closed

[2021-02-01 13:56] sarakonradi commented on #1635
Closed after discussing this with @jessica-mitchell

[2021-02-01 14:15] sarakonradi commented on #982
@stinebuu @heplesser Are there any updates on this?

[2021-02-02 07:21] stinebuu commented on #982
@sarakonradi Not from my side.

[2021-02-02 08:26] #1674 closed

[2021-02-02 08:29] terhorstd commented on #1719
This can maybe treated consistently with
* PyCharm #1232, #1412
* VScode #1619
and maybe even environment handling discusison in
* Jupyter #1210

[2021-02-02 08:51] clinssen commented on #1390
While looking into this, I noticed the following pattern in most of the ``models/music_*.cpp`` files:

[code]

It looks to me like the S_ and P_ are flipped around here (ptmp should be set with P_, and stmp should be set with S_). Could someone confirm? I'll work on a PR.

[2021-02-02 08:52] clinssen commented on #1390
Suggestion to fix the TODOs (subject of this PR): move this check to set_status().

[2021-02-02 08:57] #1887 closed

[2021-02-02 11:35] jougs opened #1904 "PyNEST's help() function does not display model documentation anymore"
Since the dawn of the *doc extractor* and new RST-based model documentation (#1355, #1530), the model documentation is no longer accessible from the PyNEST function `nest.help()` because that only wraps around the SLI command `help` and thus does not "see" the new documentation files.

To solve this issue, the PyNEST help function has to be updated to display the new help texts for models and idea

[2021-02-02 11:40] jougs commented on #1289
Since the tag is meanwhile available (https://stackoverflow.com/questions/tagged/nest-simulator), I consider this issue resolved.

[2021-02-02 11:40] #1289 closed

[2021-02-02 12:42] jougs opened #1905 "Sort out and document CMake targets"
We currently have a bunch of different `make` targets, which are partly the result of a) using CMake defaults, b) carrying over defaults from the time when the build system still used autotools, and c) custom targets (some of which have bad names for historic reasons).

## Current situation

### `all`
* compile all source files and link static and dynamic libraries, as well as the executables
* cy

[2021-02-02 13:41] Helveg commented on #1289
I created the tag but I winged it on the descriptions, if ever the organisation wants to create new descriptions just @ me in an issue here and I'll update them.

[2021-02-02 15:09] #1811 closed

[2021-02-02 15:09] #1850 closed

[2021-02-02 15:36] sarakonradi opened #1907 "Fix sphinx-build warnings (cont.)"
This issue serves as a continuation of #1518 and addresses the remaining sphinx-build warnings. It also includes checking for broken links.

[2021-02-02 15:39] sarakonradi commented on #1627
At the NEST Hackathon, we agreed to close this issue and decouple help_generator from link checking. The former will be discussed offline. The latter is addressed in #1907.

[2021-02-02 15:39] #1627 closed

[2021-02-02 23:28] heplesser commented on #1905
I like your proposal. But I wonder if we need separate build and install targets for documentation? How about just having the `install-{user,dev}doc` targets?

The distinction between `doc` and `fulldoc` was introduced once upon a time because creating "all the bling" just took forever. Might want to check how long it takes today ...

[2021-02-03 08:57] jougs commented on #1390
@clinssen: The logic is that `ptmp` is a copy of the original parameters `P_` and then updated with whatever values are in the dictionary `d` in the next line. As there are parameters that depend on state variables from `S_`, we also pass that to the `set()` function. Insofar, I think the code is alright as it is: `ptmp`is updated (that's what `set()` essentially does) with values from `d` and `S_

[2021-02-03 15:46] steffengraber commented on #1854
Setting the environment variables plus picking my NEST conda environment, worked for me. With that terminal and python console work.
I use PyCharm 2020.3

[2021-02-03 15:51] pnbabu commented on #1891
[code]
When executed on a Linux machine, the above code does raise an exception which is of the type `std::exception` with the `exception::what()` string set to `std::bad_alloc`. So adding a new catch block to specifically catch the exception of type`std::bad_alloc` is not helpful here as the control will never go to that block when there is an out of memory error.

Executing the same code on Mac

[2021-02-04 00:59] jougs commented on #1612
In a video call with @heplesser today, we came to the conclusion that the requirements for building, testing and running NEST are sufficiently similar and lightweight that those can be in a single requirements file, while the ones for doc building are much different and considerably heavier. If we wanted to increase maintainability and reduce the risk of colliding with an infamous thermostat, we c

[2021-02-04 01:01] jougs commented on #1891
@pnbabu: many thanks for your efforts and the thorough investigation. I think in this case, we should rather close this and go for better documentation indeed.

@sarakonradi: do we already have a list of error messages and what they actually mean? If not, we should! Could you maybe start such a list based on the content of [`nestkernel/exceptions.h`](https://github.com/nest/nest-simulator/blob/mas

[2021-02-04 10:01] jougs commented on #1905
Here are some additional observations that result from a video call with @heplesser:
* we indeed only want a single target for generating the developer documentation and that should be as rich as possible (i.e. run Doxygen in full-on configuration)
* we actually should not have separate targets for installing the documentation. `make install` should just install whatever has been built before runn

[2021-02-04 14:58] Kim-Thoa opened #1915 "sli_run return an error like "NESTErrors.n_rec_voltage: ('n_rec_voltage in CheckParameters', 'n_rec_voltage', <SLILiteral: CheckParameters>, '')""
<img width="455" alt="截屏2021-02-04 下午10 44 58" src="https://user-images.githubusercontent.com/53555140/106908846-a3df0c00-673a-11eb-8dff-43a018fabf29.png">

I run an example provided in NEST on my laptop(macOS Big Sur). It store in Hagen_et_al_2016_cercor as you can see in picture. However, the network is too large to run on a laptop, so I change the neuron number "self.full_scale_num_neurons" to

[2021-02-05 07:10] heplesser opened #1917 "Refactor MPI-dependent Python tests"
Once #1908 is merged, there will be at least two copies of code for running nosetests under MPI control (`test_connect_all_patterns.py`, `test_mpitests.py`). Both are suboptimal, because they wrap multiple tests in a single nosetest, confusing reporting.

The code should be refactored to
- eliminate code duplication
- create a single helper function running a single test requiring MPI with a user-

[2021-02-05 08:27] jougs commented on #1917
Now that we're talking about it, I realize that I did most of what you describe already in the context of #1071, but that part got never merged. I'm thus reassigning to myself and try to look into this soon.

[2021-02-05 08:58] Kim-Thoa commented on #1915
I've solved this problem by decrease n_rec_voltage to 5. I found that the n_rec_voltage couldn't larger than the minimal value in "self.full_scale_num_neurons". 5 is the minimal value in array "self.full_scale_num_neurons" so that when I set n_rec_voltage equals to 5 everything goes well.

[2021-02-05 08:58] #1915 closed

[2021-02-05 09:09] #1861 closed

[2021-02-05 09:41] heplesser commented on #1917
Great! Let's discuss this when you get around to it :+1:.

[2021-02-09 07:34] #1866 closed

[2021-02-09 14:21] heplesser commented on #1816
Closing now that #1816 is merged.

[2021-02-09 14:21] #1816 closed

[2021-02-10 10:17] jessica-mitchell commented on #1844
Hi
I was just taking a look at this again and tested the workflow to refresh my memories on how this all worked.

Considering the changes to how the docs will be built after #1843 ,  I was wondering if it made sense to do the following
1.Reduce `make doc` and `make html` so there is only one `make`  for documentation. So all documentation is output to RtD
2. Take the configuration in normaldoc/ful

[2021-02-10 13:18] jougs commented on #1844
Please see #1905 for a proposal related to this

Also see #1905. And I like your proposal regarding XML as the intermediate format

[2021-02-10 14:21] jougs commented on #1612
@terhorstd, @jessica-mitchell, @sarakonradi, @steffengraber: Do you have any thoughts about the last proposal? I'd like to implement the doc-related changes already in the context of #1843 to save us from restructuring things yet again in the near future. Any objections? Thanks!

[2021-02-10 15:21] heplesser commented on #1612
@jougs I would consider to add one more environment: `...nest-simulator-server...`: `...nest-simulator...` + Flask & Co for those who want to run the server.

[2021-02-11 07:48] jessica-mitchell commented on #1612
This sounds good to me, thanks

[2021-02-12 08:14] stinebuu commented on #1755
Closing based on [comment](https://github.com/nest/nest-simulator/pull/1828#issuecomment-772544952) in #1828. For an example of how to store and restore a network, see #1919.

[2021-02-12 08:14] #1755 closed

[2021-02-12 08:17] stinebuu commented on #1821
@BSVogler Are you still having problems with this?

[2021-02-12 09:35] terhorstd commented on #1854
This seems to be solved from the installation side, so I'll remove it from Installation project. The screenshots and descriptions should go to the corresponding pages in the developer documentation. @sarakonradi, @jessica-mitchell, could you find the right spot for this?

[2021-02-12 09:36] jessica-mitchell commented on #1568
@heplesser I started taking a look at this and I have a few questions:

1. The name _model_details_ seems rather vague to me,  could we change the folder name for something more descriptive?
2. It's also not clear to me why we have these particular examples together (what do they have in common  with each other?) We easily could add a section to the PyNEST examples page, listing all the notebooks

[2021-02-12 09:59] gtrensch opened #1922 "How to import the NEST CMake project into CLion"
How to import the NEST CMake project into CLion

**Describe the flaw**
A clear description of what the error or weakness in the documentation is.

**Suggest an improvement**
A clear description of what you want to change or add to the documentation.

**Supporting materials**
If applicable, add links or screenshots to help explain the flaw.

**Desktop/Environment**
If applicable, please specify the

[2021-02-12 10:02] terhorstd opened #1923 "Overview page for IDE setups"
**Describe the flaw**
For different development envrionments, the setup is only discussed in the Issues, but no overview page exists.

**Suggest an improvement**
Create an overview page of different development IDEs and descriptions how to set them up for NEST development in in the developer documentation.

**Supporting materials**
See discussions in
* PyCharm #1854
* vsCode #1619
* CLion #1922
*

[2021-02-12 10:06] jessica-mitchell commented on #1854
@terhorstd should this be in developer documentation? users will likely find this information useful

[2021-02-12 10:29] terhorstd commented on #1775
This is also touched by #1843.

[2021-02-12 10:42] ikitayama commented on #1775
+1

On Fri, Feb 12, 2021 at 19:29 Dennis Terhorst <notifications@github.com>
wrote:

[2021-02-12 10:48] terhorstd commented on #1881
@steffengraber this should be documented and then closed. Moving to Documentation project.

[2021-02-12 10:49] terhorstd commented on #1900
Duplicate of #291.

[2021-02-12 10:49] #1900 closed

[2021-02-12 11:00] clinssen commented on #1568
This organisation stems from wanting to document, for example, the derivation of equations of a model, or other implementation details. This is often too much detail to include in the model documentation itself, and these pieces of documentation are often shared between several models (as you point out in point 3).

I would suggest to link the notebooks in the ``model_details`` from each model doc

[2021-02-12 15:32] hakonsbm opened #1924 "Reimplement communicate_Allreduce_max_in_place"
Converted from a comment in #1549. The function `communicate_Allreduce_max_in_place()` should be re-implemented to be like `max_cross_ranks()` introduced in that PR, and templatized.

[code]
Although, it seems like `communicate_Allreduce_max_in_place()` isn't actually used anywhere. So before re-implementing it, it should be checked if there are places where it should be used. If there are no plac

[2021-02-12 15:46] hakonsbm opened #1925 "Implement functions with MPI_Allreduce"
Converted from TODOs in #1549. The function `MPIManager::any_true()` and `RandomManager::check_rng_synchrony()` introduced in #1549 should be implemented using `MPI_Allreduce`.

Blocked because #1549 must be merged first.

[2021-02-14 17:24] BSVogler commented on #1821
@stinebuu This is about some enhancement about the implementation in nest 3, so this issue persists.

[2021-02-15 06:30] heplesser commented on #1568
I agree with @clinssen.

[2021-02-15 22:30] jougs commented on #1612
The recent discussions here and in [today's open NEST developer video conference](https://github.com/nest/nest-simulator/wiki/2021-03-15-Open-NEST-Developer-Video-Conference) suggest that the situation cannot be easily fixed for everyone.

Conda seems to be used as an universal package manager (i.e. not just for `pip` installable Python modules) on all platforms from Linux to Mac and seems to be h

[2021-02-16 10:47] steffengraber commented on #1612
Here is the recipe for building the nest-simulator package on conda-forge:
https://github.com/conda-forge/nest-simulator-feedstock/blob/master/recipe/meta.yaml
Could be a starting point.

[2021-02-16 19:04] clinssen commented on #1757
See: https://nest.github.io/nest-simulator/development_workflow

Does this document already contain the right material, or is it necessary to modify it?

I noticed there's no separate GitHub Issue for "merging the Developer Space branch into nest-master", should I create one? (Could you remind me of the fork/branch URL where I can find the Developer Space files?)

[2021-02-17 11:52] dizcza opened #1928 "Wrong cmake argument with-python=3 and PyThreadState has no member named exc_traceback"
I'm building NEST from Younes' branch https://github.com/YounesBouhadjar/nest-simulator/tree/stdsp_synapse to check his project. But the same issue is in the master branch (see part 2).

## Part 1

**Describe the flaw**
NEST docs state that if you want to build NEST with Python 3 support, you need to pass `-Dwith-python=3` in a cmake build command line. Doing so breaks the cmake.

**Suggest an imp

[2021-02-17 12:57] hakonsbm commented on #1928
Your Cython version (`0.26.1`) is quite old, and the C api has apparently changed in Python version 3.7. Can you try installing an up-to-date version of Cython and run CMake and `make` again?

Regarding the documentation, I can't find where it says that you should pass `-Dwith-python=3`, but there may be a typo somewhere of course. Note that for master you have to change the documentation version

[2021-02-17 13:26] dizcza commented on #1928
You're rigth. `-Dwith=python=3` flag exists only in v2.20.1 documentation but not in v3.
Also, upgrading Cython to the most recent solved the make problem (I needed to make a clean build). Perhaps, it's worthwhile mentioning in the documentation - I mean, regarding upgrading Cython.

[2021-02-17 13:26] #1928 closed

[2021-02-18 11:22] clinssen opened #1930 "Unify nomenclature of synapse names"
Neuron models have a consistent naming: the class name (for example, `gif_cond_exp`) is the same as the file name (`gif_cond_exp.{h,cpp}"`) and the name under which it is registered in the `ModelsModule` (`gif_cond_exp`).

For synapses, this is, however, not the case. For example, the class might be called `STDPConnection`, the filename is `stdp_connection.{h,cpp}` and the user-facing name it is g

[2021-02-18 13:27] jougs commented on #1905
There seems to be a bit of confusion about the fact that no user documentation is available after `make install` if you did not also call `make html` before that. Here's a new proposal that should reduce the potential for confusion and also takes in some input I gathered in various video calls over the past weeks:

* `all`: build static and dynamic libraries; compile and link executables; cythoniz

[2021-02-18 15:19] Helveg opened #1931 "NEST install process does not declare its Python dependencies to Python"
**Describe the bug**
NEST's python module relies on `numpy` but does not declare this dependency to the Python interpreter targetted in the install process. This leads to missing dependencies even though the installation instructions are followed, if a user uses a clean virtual environment:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a clean `pyenv`, `venv` or `virtualenv`

[2021-02-18 15:20] Helveg commented on #1803
Another issue with using `PYTHONPATH` to force the discovery of some `.py` files rather than going through the Python package installation process is that dependencies are not declared, see #1931

[2021-02-18 16:35] heplesser commented on #1905
@jougs With the targets you propose, the typical approach for a developer who want to compile, install and test, ignoring anything to do with documentation, would then be
[code]
Correct? I think this makes sense and keeps the number of different targets in bounds.

[2021-02-18 23:55] jougs commented on #1930
@heplesser: do you have an opinion about this? In my opinion, this should be implemented as quickly as possible.

[2021-02-19 06:51] heplesser commented on #1930
@jougs @clinssen This seems very sensible. I believe the `_connection` part of class and thus file names came from a technical/developer point of view, while the `_synapse` name exported to the user interface reflects the user perspective. The inconsistency is confusing. Even though this will not affect the user interface because only class and source file names are modified, I would want to inclu

[2021-02-19 06:52] heplesser commented on #1930
@abigailm Do you have any comments?

[2021-02-22 09:02] heplesser opened #1933 "Revise sp_manager::global_shuffle"
Currently, the behavior of [`sp_manager::global_shuffle()`](https://github.com/nest/nest-simulator/blob/5af666418730e3a0a7f7a1c0f717d19dd23a6434/nestkernel/sp_manager.cpp#L703) does not agree with the comment describing the method:

- The comment states that the method "shuffles the first n elements of the vector", implying that the elements from n+1 on remain in the vector in original order
- The

[2021-02-22 12:08] clinssen commented on #1835
Closing the issue as: expected behaviour; not an issue.

[2021-02-22 12:08] #1835 closed

[2021-02-22 12:19] clinssen opened #1934 "Running Connect() multithreaded fails when ``receptor_type`` is specified"
Minimal reproducer:
[code]
Sometimes works, but usually segfaults. Could not reproduce segfaults when omitting ``receptor_type`` from the parameters dictionary. Could not reproduce segfaults with ``receptor_type`` specified, but number of threads set to 1.

NEST version: nest-master @ 84ea0f7

[2021-02-22 13:14] stinebuu commented on #1934
@clinssen Is there a reason why you use `source = 1 + np.arange(30)` and the same for `target`? I guess what I am wondering is if you know if it also segfaults when you use the NodeCollection (so just `neurons` instead of `source` and `target`)?

[2021-02-22 13:20] heplesser commented on #1934
In any case, NEST should either issue an error message or work correctly, not segfault.

[2021-02-22 14:19] clinssen commented on #1934
Thanks for the suggestion, @stinebuu. Inserting the lines
[code]
before the Connect()-call apparently solves the segfault issue. Also using ``neurons`` instead of ``source`` and ``target`` makes the issue go away.

[2021-02-22 14:30] stinebuu commented on #1934
@clinssen Excellent! This makes it a bit easier to debug I think. I will have a closer look tomorrow.

[2021-02-22 16:02] YounesBouhadjar commented on #1934
@clinssen @stinebuu  but this breaks if there is a repetitive element in source or target, like having:
[code]
So, `source = nest.NodeCollection(source)` here throws an error, as node IDs in a NodeCollection must be unique.

[2021-02-22 16:04] YounesBouhadjar commented on #1934
Just want to say that this can't be a workaround for the moment, but it perhaps helps to debug the issue I guess.

[2021-02-23 12:54] ferqui opened #1939 "Comparison of STDP_dopamine_synapse with brian2"
Hi, I was comparing the NEST stdp_dopamine_synapse with a version in Brian2 simulator, but I get very different results on the eligibility trace.

<img width="1392" alt="Captura de pantalla 2021-02-23 a las 13 36 32" src="https://user-images.githubusercontent.com/11820464/108845192-6523cf80-75dd-11eb-852a-1bf2ee758b2d.png">

The equation that I used in the Brian2 implementation is the following:
[

[2021-02-23 13:42] clinssen commented on #1939
Just an initial observation: in Brian, "delay" refers by default to axonal delay (time it takes the spike to arrive from the presynaptic partner to the synapse), whereas in NEST, delay refers to dendritic delay (time it takes for the postsynaptic spike to backpropagate into the dendrite and to the synapse).

Additionally, the synaptic trace value in NEST is only updated when a presynaptic spike is

[2021-02-25 13:11] #1875 closed

[2021-02-25 15:58] heplesser opened #1944 "Stabilize test_multiple_synapses_spatial_networks.sli"
`mpitests/test_multiple_synapses_spatial_networks.sli` fails from time to time during CI testing, both on Travis and Github. Since this only occurs from time to time, I assume that the problem is due to the way our test setup collects data from multiple processes. This process is somewhat fragile if the amount of data communicated becomes too large.

Could you review the test and see if the amount

[2021-02-25 16:01] heplesser opened #1945 "Improved robustness of build log parser"
On certain occasions, the build log parser will present a long list of failed tests even if only a single test failed. For an example, see https://github.com/nest/nest-simulator/runs/1980183102?check_suite_focus=true, where only `mpitests/test_multiple_synapses_spatial_networks.sli` failed but 68 tests are listed as failing below the summary table.

[2021-02-25 23:37] jougs commented on #1930
I think there's two aspects to this, which we probably could easily separate:
1. renaming the C++ classes for internal consistency reasons and to make the help extraction more automatic
    in my view, this should be done asap
2. the user-facing `Models` command; after more thinking, my proposal here would be a full-on refactoring:
    - rename the `mtype` keyword to `model_type`
    - accept `neu

[2021-02-26 07:38] stinebuu opened #1946 "PlotTargets with azimuth_angle > 0 does not plot the mask correctly"
**Describe the bug**
This bug was first reported in the [NEST User mailing list](https://www.nest-simulator.org/mailinglist/hyperkitty/list/users@nest-simulator.org/thread/KOLROIEI5YTS3ANH52Y2X4NF5R57LXFG/). Calling `PlotTargets` with `azimuth_angle > 0` does not plot the mask correctly.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Produces the following image, the mask and neurons

[2021-02-26 08:00] heplesser opened #1947 "Remove PS_ARRAYS cmake option"
The PS_ARRAYS cmake option is a thing of ancient past. Remove it as soon as #1918 is merged.

[2021-02-26 08:06] Helveg opened #1948 "Add CMake flag for explicit Python installation"
**Is your feature request related to a problem? Please describe.**
The current CMake approach fails to deliver a functional Python package correctly isolated in the targetted Python environment.

(TL:DR; there's a summary of the problem halfway through and a bullet list of the solution at the bottom)

The best approach Python users - that follow Python best practices and use venvs - with CMake con

[2021-02-26 08:17] Helveg commented on #1948
@jougs I know that for example your main complaint was that `CMAKE_INSTALL_PREFIX` had to be respected; this revised solution does that! All nest components will be installed the way they would under the install prefix, but the install prefix is determined by the **active** Python interpreter so that explicit Python users don't have to do a thing. It plays super nice with all forms of Python envir

[2021-02-26 08:44] heplesser commented on #1944
NB: It could also be that there is an actual error behind this, but one that occurs only intermittently because it depends in timing between processes. So we need to test systematically.

The test is automatically run only for 1, 2 and 4 MPI processes with `nest_indirect`.  Running it like that for approx 20 times caused no failure on my system. But adding also 6 and 8 processes caused rather stra

[2021-02-26 08:45] Helveg commented on #1948
Just to compare. This is what a NEST CMake for Python users looks like now:

[code]

Notice that there are 3 different filesystem roots that I have to combine to point to all the right install prefixes, executables, libraries and include dirs.

And with this implemented:

[code]

[2021-02-26 08:51] terhorstd commented on #1905
So the `all` target does not do everything? Should we rename the target to something more reasonable, then?

[2021-02-26 08:59] heplesser commented on #1905
`all` builds all the executable material, which is what I would expect of `all`.  Documentation is something additional. So I think keeping `all` is fine.

[2021-02-26 09:06] stinebuu commented on #1944
@heplesser I have decreased the amount of data exchanged, but it is a bit difficult to trigger the error as you say. I have now tried running
[code]
both with the old version and my new one, but neither of the two versions seem to fail on my system. Also adding 6 and 8 processes and running `nest_indirect` works for me. So it seems very random.

Should I file a PR with the decreased data, and then

[2021-02-26 09:10] stinebuu commented on #1944
@heplesser you can also test the branch before a PR is filed: https://github.com/stinebuu/nest-simulator/tree/stabilize_test_multiple_synapses_spatial

[2021-02-26 09:46] gtrensch commented on #1905
Isn't it the case that documentation is part of our source code and we should therefore treat it like a normal module? Assuming there is an agreement on that, wouldn't it makes perfect sense to control the doc build process by using CMake variables? Using CMake variables to configure the doc build would simplify the make process and create more clarity. It furthermore could be a good solution for

[2021-02-26 10:25] heplesser commented on #1944
Even with the smaller data it fails for me occasionally. Since it seems easier to provoke the errors on my system, I will try myself a bit more to understand what goes wrong.

[2021-03-01 06:34] heplesser commented on #1168
I also wonder if we should change the name of this notebook, the "test" gives limited meaning. If we do so, documentation links would need to be updated, see #1949.

[2021-03-01 11:44] heplesser opened #1952 "Improve InvalidNodeCollection error message"
Currently, when invoking `nc.get()` on an invalid node collection `nc` (e.g. after a `ResetKernel`), the following error message is given:
[code]
This is very little informative for the user and should be replaced by a more informative message.

[2021-03-01 12:00] heplesser commented on #1821
The proper way to recreate nodes after a `ResetKernel` is through calling `Create()`, which will give you a new node collection to work on. Keeping node collections viable across a `ResetKernel` would be extremely difficult, because the meaning of node ids represented by a `NodeCollection` depends on the details of the `Create()` calls executed before and after the `ResetKernel`. Only if they are

[2021-03-01 12:00] #1821 closed

[2021-03-01 12:06] heplesser opened #1953 "Hike Python requirements to Python 3.8"
The Open Developer VC on 1 March 2021 decided to raise the minimum Python requirement for NEST to Python 3.8, released Nov 2019.

In solving this issue, all documentation should be checked for mentions of Python version numbers.

I suggest to close #1932 and create a new PR for this issue.

[2021-03-01 12:07] #1660 closed

[2021-03-01 15:22] heplesser commented on #1168
One decision to make about this notebook is if it should just illustrate what happens in the `testsuite/regressiontests/issue-1034.py` test or if we want to use it to provide more background on pre- and post-synaptic traces in STDP synapses. If it only illustrates the test, we could even wonder if one could not add that to the test itself and to delete the notebook, to avoid duplicity; if we keep

[2021-03-01 23:20] jougs commented on #1930
This PR is an important step in making the fixes to the PyNEST help system proposed in #1926 more useful by also allowing to display the help for synapse models. More background information about this can be found in [this comment](https://github.com/nest/nest-simulator/pull/1926#issuecomment-780482157).

[2021-03-01 23:24] heplesser opened #1957 "GetConnection hangs if some MPI ranks have no (new) connections"
If at least one MPI rank did not create a connection, a subsequent `GetConnections` call will hang. This happens because `ConnectionManager::have_connections_changed_` will not be set on MPI ranks not creating connections. On those ranks, `ConnectionManager::get_connections()` will not call `SimulationManager::update_connection_infrastructure()`, causing NEST to hang.

A minimal reproducer is give

[2021-03-03 10:36] heplesser commented on #1948
I have added this and #1959 to the agenda of the Open Developer VC on 15 March.

[2021-03-03 11:18] #1944 closed

[2021-03-03 21:05] jougs commented on #1948
Many thanks for the nice write-up :-) This indeed sounds like a cool and complete solution that could simplify life for many users (including myself). I'm very much looking forward to a presentation and discussion during the [Open NEST Developer VC](https://github.com/nest/nest-simulator/wiki/2021-03-15-Open-NEST-Developer-Video-Conference) and naturally also your upcoming PR.

[2021-03-05 06:18] #1568 closed

[2021-03-05 06:19] #1934 closed

[2021-03-05 07:15] stinebuu opened #1960 "connect_arrays should be defined in connection_manager instead of nest.cpp"
This is a follow-up to #1942.

The function for `connect_arrays()` is defined in `nest.cpp`. This should be refactored, as `nest.cpp` should only contain small wrapper functions passing work on to the various managers. `connect_arrays` in `nest.cpp` should thus refer to a `connect_arrays` in `connection_manager`.

[2021-03-05 08:54] stinebuu opened #1961 "Wrong path and link in user_documentation_workflow"
**Describe the flaw**
In the user_documentation_workflow on ReadTheDocs, https://nest-simulator.readthedocs.io/en/latest/documentation_workflow/user_documentation_workflow.html, it says that when you install documentation the rendered text can be found in `<nest_install_dir>/share/doc/nest/html/`

![image](https://user-images.githubusercontent.com/21308850/110089948-06a5e080-7d97-11eb-9016-5b3fbe1

[2021-03-05 10:17] clinssen opened #1962 "Missing citation in README.md"
README.md, which is shown on the GitHub repo landing page, is missing the citation entry for NEST 2.20.1.

This list of citations is redundant with ``doc/citing-nest.rst``. Perhaps the citations list in README.md should be replaced with a link to "citing-nest" on ReadTheDocs.

[2021-03-05 12:57] #1189 closed

[2021-03-05 14:27] stinebuu opened #1964 "Examples fail with voltage_trace has no attribute show"
**Describe the bug**
When running `balancedneuron.py` with current master you get an error saying
[code]
which comes from the following line in the example, and the face that `voltage_trace.py` does not have a function called `show()`

https://github.com/nest/nest-simulator/blob/2390f05bb40230eddfc36b22ea994bddc7bb53c3/pynest/examples/balancedneuron.py#L167-L168

There are in total 7 PyNEST functi

[2021-03-08 08:33] heplesser opened #1967 "Discrepancy between Github and Travis test results / Warnings count during compilation"
On Travis, this minimal build failed

https://travis-ci.org/github/nest/nest-simulator/jobs/761653390

while it passed on Github

https://github.com/nest/nest-simulator/pull/1966/checks?check_run_id=2044070265

Also the other tests (MPI_ONLY, OPENMP_ONLY, FULL) fail on Travis but pass on Github.

The reason for the failure on Travis is that the warnings count for `sli/scanner.cc` is 3 instead of t

[2021-03-08 09:12] heplesser opened #1968 "AEIF models have duplicitous t_ref and t_ref_ members"
Most AEIF models have both `t_ref` and `t_ref_` in the `Parameters_` structure, most likely due to a merge error at some point. Only one of them should remain.  This applies to

[code]

[2021-03-08 09:22] heplesser commented on #1967
The test failed on Travis because changes in line numbers in `scanner.cc` lead to `known_warnings` no longer being recognized. I fixed that with an update to #1966. The reason that the Github checks did not pick up the problem is probably that the warnings regex define in https://github.com/nest/nest-simulator/blob/fc645dd297fac6b75d866de4802f4dec5bf7b65a/extras/parse_travis_log.py#L370 does not m

[2021-03-08 09:46] jessica-mitchell commented on #1961
@stinebuu I think the paths will be correct as of  #1926. When I last built nest from that branch, the install directory path for docs was <install>/share/doc/nest/html/ and in the build directory the path was <build>/doc/userdoc/html/.
The link though does need to be fixed, thanks!

[2021-03-08 11:15] heplesser opened #1970 "Discrepancy between Github and Travis test results / Static analysis"
I discovered another discrepancy between Travis and Github results. This time, Travis finds a formatting error with cppcheck, while Github does not, see
- https://github.com/nest/nest-simulator/pull/1969/checks?check_run_id=2055849681
- https://travis-ci.org/github/nest/nest-simulator/jobs/761927469

[2021-03-08 11:33] hakonsbm commented on #1970
Retrieving changed files is commented out for the GitHub Actions static analysis:

https://github.com/nest/nest-simulator/blob/5650941557797a7b139c5272cfe37832613ab5b1/extras/gha_build.sh#L85-L95

[2021-03-08 11:34] clinssen commented on #1930
Now that we are renaming a vast number of C++ classes anyway, do we want to go to a CamelCase format for class names, and an underscore_format for file names and model names?

Most synapse classes are already in this format, but neuron classes are typically not, for example, compare:
[code]
and
[code]
In this example, ``hh_cond_beta_gap_traub`` would be renamed to ``HHCondBetaGapTraub``.

[2021-03-08 12:34] heplesser commented on #982
I suggest to remove this example from NEST. There is now a publicly available NEST-implementation of the complete Hill-Tononi model with carefully checked dynamics (https://github.com/ricardomurphy/Multiarea-Hill-Tononi-thalamocortical-network-model) for those interested in the model itself. Another aspect of the example was to show how to integrate documentation and Python code for a model, but h

[2021-03-08 12:40] heplesser opened #1971 "Move ConnPlotter from NEST code base to separate package"
The ConnPlotter packages included in the NEST code base is not an integral part of NEST, just an additional tool. I suggest to remove it from the NEST code base and turn it into an independent Python package hosted under github.com/nest.

@jougs @terhorstd Any comments?

[2021-03-08 13:34] jougs commented on #1930
@clinssen: No!

In general, I totally agree with you that class names should be CamelCase. But not here.

The whole point of this issue is that we *always* want
* the name, a model is registered with
* the name of the class implementing it, and
* the file name under which this implementation is stored

to be exactly the same. The reason is that that makes the generation of model documentation easi

[2021-03-08 14:44] #1968 closed

[2021-03-08 14:57] clinssen commented on #1930
@heplesser: do you mean that this issue is effectively blocked until #1549 is merged?

[2021-03-08 15:10] heplesser commented on #1930
I removed my comment concerning #1549. @jougs assured me that Git will be smart enough to sort things out ;).

[2021-03-09 09:36] heplesser commented on #1930
This is part of the NEST 3.0 milestone because it affects documentation rendering.

[2021-03-09 10:26] heplesser commented on #1897
Closed by merging #1920.

[2021-03-09 10:26] #1897 closed

[2021-03-09 11:09] babsey opened #1973 "Standardize error message in PyNEST"
**Describe the bug**
PyNEST raises errors in various aspects using
- `kernel.NESTError()`, e.g. in `_process_syn_spec` and in `_process_spatial_projections` functions  (`hl_api_connection_helper.py`) and in `Create` function (`hl_api_nodes.py`).
- `NESTErrors class`, e.g. `NESTErrors.ArgumentType()` in `_process_input_nodes` (`hl_api_connection_helper.py`).

However these different error raises mi

[2021-03-09 11:39] heplesser commented on #1860
We have now revised the instructions for building NEST on Mac, see https://nest-simulator.readthedocs.io/en/latest/installation/mac_install.html.

Those instructions are for NEST 3, but they should also work for NEST 2. They are based on installing all dependencies via Conda and have been tested successfully also Apple Silicon (M1 CPU).

[2021-03-09 15:53] #1655 closed

[2021-03-10 13:14] stinebuu commented on #1964
This is already fixed in #1534. However, it is also present in the [Getting started documentation](https://nest-simulator.readthedocs.io/en/stable/getting_started.html). This should be updated.

[2021-03-10 15:00] heplesser opened #1974 "Too many connections to MUSIC output proxies created when NEST runs MPI-parallel"
The following code should connect each parrot neuron exactly once to the MUSIC output proxy:
[code]
Running the code on a single process, this works fine, and the following code
[code]
prints this output:
[code]
This is the same output we get if `out` were a spike recorder.

Running on two MPI processes, one would expect that each rank has one connection, from the neuron it holds to the local devi

[2021-03-10 15:05] heplesser commented on #1974
I believe the problem is located in `ConnectionManager::connection_required()`, specifically at https://github.com/nest/nest-simulator/blob/470e1a4b97459c60e82d3d55e2dfd0db1082aa0b/nestkernel/connection_manager.cpp#L1244-L1253

As a brute-force solution, I have experimented with the following fix:
[code]
It seems to solve the problem above, but I have not checked for side effects.

[2021-03-10 15:05] heplesser commented on #1974
@mdjurfeldt Just an alert about this bug I found, in case MUSIC users contact you about it.

[2021-03-12 10:20] steffengraber commented on #1202
Any news on that?

[2021-03-12 10:31] steffengraber commented on #1496
@terhorstd This is solved with #1843 . Can we close it?

[2021-03-12 10:35] steffengraber commented on #1531
@mhelias and @abigailm Would be nice if you could have a look.

[2021-03-12 10:38] steffengraber commented on #1558
@jessica-mitchell Would be nice if you could have a look.

[2021-03-12 11:09] dilawar commented on #1202
I fell through cracks at my end. Thanks for the nudge.

I just updated the build pipeline. Since minimum cmake version required now is 3.12, it is going to build on fewer distros. I'll that latest Ubuntu, Debian, SUSE and Fedora passes. I am low on available time and attention these days, do ping me once in while if you don't hear from me in a while. I'd love to see this PR going through.

[2021-03-12 11:35] Helveg commented on #1948
@terhorstd, @jougs, @gtrensch and I had a meeting in which we agreed to go for Python-first as the default workflow, and to allow developers and others to opt-out of it.

Later @jougs, @gtrensch and I continued thinking out the details proposal and concluded:

* Set the `CMAKE_INSTALL_PREFIX` to that of the root of the Python environment.
  * This could lead to dangerous and distro/OS specific pro

[2021-03-12 11:40] Helveg commented on #1931
@gtrensch in the end we didn't settle on a solution for this one: Are we using `ensurepip` and `pip` to install the Python dependencies for the user (maybe only in the new default proposed in #1948), or do we leave it up to the user to do this seperately and update the install instructions as outlined in https://github.com/nest/nest-simulator/issues/1870 so that the install instructions for Python

[2021-03-12 11:43] Helveg commented on #1973
I don't know if this is the case yet, but a class hierarchy of those error messages would also be useful for writing better quality Python code and tools:

[code]

[2021-03-12 12:05] Helveg commented on #1948
For the virtualenv detection the following one-liners covers virtual environments of `venv`, `virtualenv`, `pyenv` and `conda`, but does not cover the non virtual `pyenv` Python installs:

[code]

Prints 0 for system Pythons, 1 for virtualenvs. To cover the non virtual pyenv someone with a bit more shell scripting experience should combine that one liner with a test whether the outcome of `pyenv v

[2021-03-12 13:53] #1930 closed

[2021-03-12 16:07] Helveg opened #1975 "Some details missing in `setup.py.in`"
**Describe the flaw**
There are some `setup.py` arguments that aren't specified.

**Suggest an improvement**
These could be added:
* [`classifiers`](https://github.com/pypa/sampleproject/blob/90d44abe361688aba5a189e661423863b34f5208/setup.py#L86)
* [`keywords`](https://github.com/pypa/sampleproject/blob/90d44abe361688aba5a189e661423863b34f5208/setup.py#L117)
* [`python_requires`](https://github.co

[2021-03-12 16:43] terhorstd commented on #286
@jougs, @sdiazpier, is this still a topic now that recording devices and the whole IO system have been reworked? It's marked "discussion", but maybe it is also an option to create sufficient documentation of the problem and close this hopefully soon.

[2021-03-12 17:05] terhorstd commented on #249
@clinssen , I agree, and currently do not see a point why this should be kept open. If @heplesser agrees, I'd close it.

[2021-03-13 04:45] dilawar commented on #1202
Successfully building packages from the master branch for the most recent distros : ubuntu 18.10 onwards, Debian-10 onwards, openSUSE-15.2 onwards, Fedora_30 onwards.

I had to make one change: rename `debian` directory to `_debian` since files inside `debian` was getting preference over my files while building deb package.

[2021-03-15 07:48] gtrensch commented on #1010
@carlosengutierrez did you find the time to test and is there any news on that?

[2021-03-15 11:07] heplesser commented on #249
Would it not make more sense to keep it open until the NESTML-generated synapses are here integrated? Maybe add a "Waits for NESTML" tag?

[2021-03-15 11:08] suku248 opened #1977 "Write documentation for built-in timers"
**Describe the flaw**
Built-in timers for different NEST phases such as network construction and simulation are included in the code base with #1778 but documentation of the timers and how they are used is lacking.

**Suggest an improvement**
Document
* [x] what exactly the timers measure including the hierarchy of timers,
* [x] how they are enabled,
* [x] whether/when they are reset,
* [x] that/w

[2021-03-15 23:25] jougs commented on #1891
@sarakonradi: friendly ping!

[2021-03-16 01:26] jougs commented on #1961
The broken link is fixed by #1926 (commit d7e20064e in particular).

[2021-03-16 11:37] carlosengutierrez commented on #1010
Hi @gtrensch , I will provide a response in a couple days. Thanks for the reminder.

[2021-03-16 13:30] jougs commented on #249
I suggest to create a corresponding issue on the NESTML issue tracker with all the relevant information and close this one wontfix with a link to the new issue.

[2021-03-16 13:52] sarakonradi commented on #1719
Closing this as #1941 fixes it.

[2021-03-16 13:52] #1719 closed

[2021-03-16 15:06] heplesser commented on #249
Sounds good to me. @clinssen Could you create the issue in the NESTML tracker, reference it from here and then close this as wontfix?

[2021-03-16 19:58] jougs commented on #1971
I like this idea. @clinssen can probably even help to make this `pip` installable. The name `nest-connplotter` would look nice alongside `nest-sionlib-reader` and `nest-extension-module`.

[2021-03-17 21:25] jougs commented on #1974
Your fix looks reasonable to me and I can't think of a bad side-effect. Could you please send a PR? Thanks!

[2021-03-17 21:37] jougs commented on #1487
I'm afraid this is not really a bug, but more a behavioral change between before and after the merge of NESTio. A current workaround is to move the result files away between subsequent calls to `Simulate()`.

Changing this behavior would require some non-trivial changes to the way the ASCII recording backend handles files, which I'm unlikely to find the time for any time soon. I will thus close th

[2021-03-17 21:37] #1487 closed

[2021-03-18 01:02] carlosengutierrez commented on #1010
Hi @ikitayama , I am getting the error below when importing nest 3 or nest2 (pynest). The error popups for any combination of flags. I guess I need to add compiler libraries in the compilation, it seems   -DCMAKE_C_COMPILER=mpifcc -DCMAKE_CXX_COMPILER=mpiFCC are not enough.  Any comment or idea? If I am not wrong the compiler was recently updated, right?. Thanks, C.

###
[u00442@k34-0209c nest-3-b

[2021-03-18 01:05] ikitayama commented on #1010
Try disabling MPI and see if it works.

On Thu, Mar 18, 2021 at 10:02 Carlos Gutierrez ***@***.***>
wrote:

[2021-03-18 06:45] heplesser commented on #1487
@jougs Just a question: What happens in this case if one runs
[code]
Would that also overwrite the files? One limitation with that approach is obviously that one cannot make any changes to the network or neuron parameters between the `run()` calls.

[2021-03-18 08:14] heplesser commented on #1773
I would like to take up the discussion here again, because we still do not raise exceptions when any network-modifying commands ( `SetStatus`, `Create`, `Connect`, `SetKernelStatus`, any other?) are attempted between `Prepare` and `Cleanup`.

Following Python's explicit is better than implicit maxime, I would suggest the following approach:
- `Run()` can only be used inside a `RunManager()` contex

[2021-03-18 09:22] tfardet commented on #1773
would ``Disconnect`` be safe?

I rather like your proposal about limiting available functions to ``Run`` within a ``Runmanager`` context

[2021-03-18 10:21] #1904 closed

[2021-03-18 10:21] #1961 closed

[2021-03-22 08:39] #982 closed

[2021-03-22 09:02] jessica-mitchell commented on #129
@heplesser apologies for leaving this one on the back burner so long. is this something that belongs in developer documentation? how up-to-date is the information, has much changed regarding how events are handled?

[2021-03-22 12:55] carlosengutierrez commented on #1010
Hi @heplesser , I could run pynest (nest3) by interactive jobs, with different flags for its compilation. I used @hakonsbm's connection_semantics_prototype on Fugaku and brunel_delta_nest.py from the examples. There is no dt resolution error. Let me summarize below some results using 2 processes, I indicate first the flags detected (from NEST configuration summary), and next the performance (outpu

[2021-03-22 13:58] heplesser commented on #1010
@carlosengutierrez Thank you for the data! First of all, could we maybe close this issue since the resolution error problem no longer seems to occur?

We could then open a separate issue concerning optimal compiler switches on Fugaku. The variation is indeed very large, so good choices are important. Concerning the output looking different for Installation 1, it seems to me this is mainly the orde

[2021-03-22 14:05] carlosengutierrez commented on #1010
Yes @heplesser , let's close the resolution problem issue. Thank you.

[2021-03-22 18:41] clinssen opened #1990 "Trace calculation bug in STDP triplet synapse"
The triplet synapse model [1] begins by formulating a few trace values in the form:
[code]

We deem this formulation to be equivalent to a sum of delta functions, as formulated in [2]:

[code]

where the delta function (a definition was omitted from [2]) is presumably the usual Dirac delta, defined as:

[code]

The weight update rules for depression and facilitation are then formulated, respective

[2021-03-22 20:40] #1010 closed

[2021-03-22 20:50] heplesser commented on #1990
@clinssen Thank you for this nice exposition! Would you consider to turn it in to a notebook under `doc/userdoc/model_details`?

[2021-03-24 07:30] stinebuu commented on #1883
@Helveg Sorry for the very long response time.

I suspect this will be partly fixed with NEST 3.0. For NEST 3.0 we no longer return a list of node id's when we create nodes, we return NodeCollections, a compact object that represent the nodes. So you will no longer need to move large lists of node ids when connecting, you will just need to pass around the node handles.

Though, when connecting wit

[2021-03-24 07:37] Helveg commented on #1883
I actually create `myIDs` as a seperate numpy array to "demonstrate" loading the connection data from an external source,  it's a bit of a shoddy example anyway.

Currently our data format is an HDF5 data set with 2 columns, pre and post ids, because they could be read through in chunks, flattening the memory footprint of reading through our connection data to the size of a chunk, so that's our "i

[2021-03-24 10:08] heplesser commented on #1648
Fixed by #1940.

[2021-03-24 10:08] #1648 closed

[2021-03-24 13:13] stinebuu commented on #1773
@heplesser If `Prepare()` and `Cleanup()` are private functions, do you mean that they are private on PyNEST level?
When I run benchmarks it is useful to have `Prepare()` because it is during the preparation stage that the connections are sorted. It is a bit more intuitive to have benchmarks with the `Prepare()`, `Run()`, `Cleanup()` phases separate in my opinion.

[2021-03-24 13:25] heplesser commented on #1773
@stinebuu They should be private on the PyNEST level, so you could still use them if you wanted ;). With the built-in timers provided by #1778, timing from the Python level becomes maybe also less important.  And finally, I guess you could measure prepare/cleanup times even with a context by smart placement of timers:

[code]

[2021-03-24 13:28] stinebuu commented on #1883
@Helveg I suppose your lists can contain the same node ids several times?

One problem I see with having NEST return only nodes on the individual processes is that if your source and target are on different processes, and you pass along lists with only the nodes on the process, you are not sure all connections are created.

@heplesser @jougs @hakonsbm do you have any thoughts on this?

[2021-03-24 13:35] #1967 closed

[2021-03-24 13:44] stinebuu commented on #1773
Yes, this would work for me :)

[2021-03-24 14:08] Helveg commented on #1883
Yep

I was actually inspired, or let's say emboldened to speak up as a user, by Arbor's recipe approach 😝 In Arbor you're supposed to provide implementations of functions that provide info about nodes, and each Arbor MPI process only calls these functions for the nodes it contains, for example the `connections_on` function in their ring network example:

[code]

This function is only called on eac

[2021-03-24 15:05] ackurth opened #1992 "Composing NodeCollections with spatial metadata"
**Is your feature request related to a problem? Please describe.**
In our work (@jasperalbers), we want to compose multiple non-overlapping NodeCollections that have spatial metadata, i.e. they are distributed in 2D space and 'tile' it. Each 'tile-collection' has a specific neuroscientific meaning and a particular shape, therefore they are generated independently in the same physical space. To est

[2021-03-25 08:38] #249 closed

[2021-03-26 09:32] terhorstd commented on #1860
Since this is fixed with #1918, I close this one.

[2021-03-26 09:32] #1860 closed

[2021-03-26 09:39] #1612 closed

[2021-03-26 09:44] terhorstd commented on #1905
@jougs, @gtrensch, is someone looking into this at the moment?

[2021-03-26 10:41] heplesser commented on #1883
@Helveg We'll take this up in the [Open NEST Developer VC on Monday](https://github.com/nest/nest-simulator/wiki/2021-03-29-Open-NEST-Developer-Video-Conference), I hope you can join!

[2021-03-26 11:13] jougs commented on #1905
I'm not and I'm not aware of anyone else doing this.

[2021-04-06 08:33] #1953 closed

[2021-04-06 09:51] jougs commented on #1891
As the issue cannot be solved in a general way, I'm now closing this.

[2021-04-06 09:51] #1891 closed

[2021-04-07 11:46] stinebuu opened #1996 "Create regular grids with jitter"
**Is your feature request related to a problem? Please describe.**
Creating regular grids with jitter is currently not possible with NEST 3, but I don't think it should be too difficult to implement. This first came up on the [NEST user mailing list](https://www.nest-initiative.org/mailinglist/hyperkitty/list/users@nest-simulator.org/thread/XHYTY4NJF4FZ3C7O5UCXL5SONKNO2B5A/).

It is possible to cr

[2021-04-07 12:02] stinebuu opened #1997 "Wrong figure/code snippet combination in spatial networks documentation"
**Describe the flaw**
Figure 8 in the PyNEST [spatial networks tutorial](https://nest-simulator.readthedocs.io/en/latest/tutorials/pynest_tutorial/part_4_spatially_structured_networks.html?highlight=jitter#defining-spatially-distributed-nodes) is a figure in which the neurons are positioned as grid+jitter. A little below this is a code snippet which is supposed to create the figure, but it doesn't

[2021-04-07 14:02] hakonsbm commented on #1992
When planning the implementation for NodeCollections (then called GIDCollections) it was decided that it should not be possible to join collections containing different metadata (see [this comment](https://github.com/nest/nest-simulator/issues/455#issuecomment-260285506)). Joining two NodeCollections containing spatial data is also not as straightforward as one might think, because of the underlyi

[2021-04-08 13:34] #1946 closed

[2021-04-08 18:39] Helveg opened #2000 "`FindCython` ignores error exit code and parses stderr for version numbers"
**Describe the bug**
`FindCython.cmake` parses error messages for version numbers and then uses them as the detected version for cython. This is a problem for pyenv users who might have a shim for cython which produces an error of this format:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a script called `cython` on a location detected by CMake
2. Make it print "Super critic

[2021-04-08 19:25] Helveg opened #2002 "PyNEST uses the deprecated `distutils`"
**Describe the bug**
There are hundreds of reasons to stay away from `distutils`, to give you an idea of how deep this problem runs in Python:

* All official Python docs refer you to setuptools or have a disclaimer that it's only still documented as a legacy doc
* The docs and module aren't maintained and still mention **Python 1.x**
* It's so bad that when `pip` reads a `setup.py` file they simp

[2021-04-08 20:03] Helveg opened #2003 "PyNEST's `setup.py` version does not comply with PEP440"
**Describe the bug**
The `setup.py` produced by CMake contains invalid version specifiers such as `python-cmake@6b17f32b1` which do not comply with [PEP440](https://www.python.org/dev/peps/pep-0440/) and lead to warnings in #1959 :

[code]

[2021-04-08 20:12] Helveg opened #2004 "Distribute `ConnPlotter` as a seperate package"
**Is your feature request related to a problem? Please describe.**
In the `extras` folder there is an additional package called `ConnPlotter` which CMake installs, not a fan of the approach.

**Describe the solution you'd like**
Either its functionality should be merged into PyNEST or distributed as a seperate package on PyPI, or perhaps with an opt-in CMake flag. As a user I find it odd that othe

[2021-04-08 20:17] Helveg commented on #2004
Oops, duplicate of #1971

[2021-04-08 20:17] #2004 closed

[2021-04-08 20:19] Helveg commented on #1971
@jougs It already is pip installable:

[code]

[2021-04-09 14:28] hakonsbm opened #2005 "Compilation warnings not detected by GitHub Actions"
The output from GitHub Actions CI is never parsed, so a CI job can only fail if any of the commands return a non-zero exit code (e.g. the build fails or the testsuite fails).

The `parse_travis_log.py` script checks both the output of static checks, and for warnings during compilation. The static checks are currently still handled by Travis, but because the build log is not parsed by GitHub Action

[2021-04-10 09:09] Helveg opened #2007 "PyPI serves a namesquatted NEST package"
Although install instructions don't mention nest is pip installable, `nest` is being name squatted on PyPI and poses a security risk to NEST users (pip install nest > import nest > You've executed arbitrary Python code). Once liberated we could upload basic wheels (for example whatever `cmake` without flags produces).

Since this package's last release is from 2012, is defunct and its README says

[2021-04-11 09:58] kurobaneHITOMI commented on #1928
Hi! I have the same issue here with python3.7.
I have upgraded cython, PyNEST and pip up to date before I ran `cmake `and `make`, but it still reports the error when `make`.
Here is the whole report :

[code]
How can I fix this, please?

[2021-04-12 10:06] #1896 closed

[2021-04-12 17:46] jougs commented on #1992
I agree that it would be useful to allow joining Node Collections with spatial metadata to support use cases as the one described above. @hakonsbm: can you give us a rough estimate of how much *some effort to implement* would be?

[2021-04-13 05:59] heplesser opened #2009 "Allow integer values where doubles are expected in NEST"
**Is your feature request related to a problem? Please describe.**

NEST does not convert integers to doubles even in cases where this would be unproblematic. The only exception is the `Simulate` call. Furthermore, the error message emitted if users use integers where double is required is often difficult to comprehend because it does not indicate which entry in a dictionary causes the error, as i

[2021-04-13 07:40] hakonsbm commented on #1992
@jougs Positions from spatial metadata of the two NodeCollections would have to be extracted, and a new spatial metadata object containing positions corresponding to the nodes in the joined NodeCollection would have to be created. The metadata object would then have to be assigned to the joined NodeCollection.

There is already an example of how to extract positions and create a new metadata objec

[2021-04-15 15:21] heplesser commented on #129
@jessica-mitchell I fear this issue really needs more than just better documentation, rather a full code review and refactoring. I will change the title of the issue—it could probably a hackathon topic.

[2021-04-16 14:01] heplesser opened #2013 "Remove undocumented weighted_spikes_{ex,in} recordables?"
`iaf_psc_alpha` and `iaf_psc_exp` (and only those) offer recordables `weighted_spikes_{ex,in}`. They have been available at least since NEST 2.6.1, but are not documented on illustrated in any example.

These recordables seem problematic to me because they show instantaneous summed spike weights at a given time step. As long as the recording interval of the multimeter is equal to the time step, th

[2021-04-19 08:20] stinebuu commented on #1207
@morales-gregorio Sorry for a very long response time! Would you be able to provide a PR for this?

[2021-04-19 09:17] #2005 closed

[2021-04-19 12:02] #1924 closed

[2021-04-20 07:18] gtrensch commented on #1619
We will improve the NEST documentation. This is addressed now in #1984 _"Add instructions for how to work with VS Code when developing NEST"_.

[2021-04-20 08:10] stinebuu opened #2015 "Possible to convert `have_connections_changed_` back to normal bool?"
With #2014 we no longer call `set_have_connections_changed( thread )` from the deep-level `connect()` functions, it is called from the high-level `connect`, coming straight from SLI. This is not thread parallell.

Looking at `have_connections_changed()`, it seems to me that it is still called in a thread parallell contex in `SimulationManager::update_connection_infrastructure`, and in `ConnectionM

[2021-04-20 10:26] terhorstd commented on #1977
RST version of the table by @wschenck and @suku248:

[code]

[2021-04-20 12:45] stinebuu commented on #1493
@heplesser I have started looking into this again.

When it comes to point 1: adding `iaf_psc_exp_ps` and `iaf_psc_exp_ps_lossless` to `test_iaf_ps_dc_accuracy.sli` requires the use of `expm1` in the update loop of the models, like you point out in the slide as well. They are currently using `exp`, but this is an easy fix. The use of `expm1` is consistent with `iaf_psc_alpha_ps` so that's ok. `iaf

[2021-04-20 15:55] gtrensch commented on #1870
@Helveg with pull request #1965 a solution for the problem you described is provided.

[2021-04-20 16:38] Helveg commented on #1870
@gtrensch The conda file of that PR is only valid for conda envs I suppose. I don't think Conda follows any PEP so their format is not canon and I won't be able to use it without using conda.

I think my own PR #1959 provides a vanilla solution here as it automatically installs the dependencies listed in nest's setup.py. I will respond to the other PR and ask about setup.py there

[2021-04-21 05:21] #2000 closed

[2021-04-21 14:13] stinebuu opened #2017 "Replacing deprecated model `iaf_psc_alpha_canon` with `iaf_psc_alpha_ps` leads to significant time increase"
`iaf_psc_alpha_canon` is deprecated, and should thus be removed. It can be replaced with `iaf_psc_alpha_ps`

https://github.com/nest/nest-simulator/blob/f7562a6d457adc83559395839e09b178b03de054/pynest/nest/lib/hl_api_helper.py#L70-L73

`iaf_psc_alpha_canon` is not used much in the code, it is used in one test and two examples, so it's not difficult to remove it. However, when trying to remove the

[2021-04-21 14:30] heplesser commented on #2017
@stinebuu Interesting! From a quick look at the code, there are two potential sources of this difference: alpha_ps allows different time constants for E and I synapses, canon has only one. This requires twice as many exponential functions to be evaluated. The other point is that alpha_ps determines threshold crossings precisely with regula falsi, while alpha_ps by default uses linear interpolation

[2021-04-21 14:40] heplesser opened #2019 "Give default values for parameters, especially for SetKernelStatus"
**Describe the flaw**
Documentation today often does not show default parameter values.

**Suggest an improvement**
Show default parameter values, especially in the docstring for `SetKernelStatus`.

[2021-04-21 14:41] stinebuu commented on #2017
@heplesser I will have a look with a profiling tool, yes!

Maybe interesting to also note that you can set the interpolation order for `iaf_psc_alpha_canon`, and for `ArtificialSynchrony.sli` the model use interpolation order 3.

[2021-04-21 14:44] heplesser opened #2020 "Explain sort_connections_by_source better"
**Describe the flaw**
From the documentation of `set_connections_by_source`, I find it difficult to decide which value to use—it is too technical. I am also uncertain about the meaning of "total number of threads".

**Suggest an improvement**
Provide a clear recommendation for users, e.g., "True will usually give best performance except when using more than NN virtual processes", then follow optio

[2021-04-21 18:45] clinssen opened #2021 "Move extension module documentation to nest/nest-extension-module repository"
- [x] The files marked in #1995 should be moved to the https://github.com/nest/nest-extension-module repository and linked from the NEST ReadTheDocs pages.

- [x] This means that we need to register https://nest-extension-module.readthedocs.org/
- [ ] ... and set up intersphinx for linking between our different ReadTheDocs subdomains.

*Edit: now with checkboxes!*

[2021-04-21 19:40] jougs commented on #2021
My take on this is that we can probably first move the files and add *intersphinx* support in a second step. The extension module and model creation documentation is anyway more or less outdated and needs a serious overhaul.

[2021-04-22 08:26] clinssen commented on #2021
@jougs: Gotcha. The PR has been updated and a new PR on nest-extension-module has been created.

[2021-04-22 12:46] #1659 closed

[2021-04-23 06:58] stinebuu commented on #2017
@heplesser After having a look on VTune it looks like it is indeed the many exponential functions. It is mostly the exponentials in the propagators, `propagator_31` and `propagator_32` that contribute to the time increase.
Just as a test I replaced the exponent functions in the propagators with `std::expm1() + 1`, and this decreased the time a bit (`brunel_ps.sli` then use 325.82).

[2021-04-23 07:04] heplesser commented on #2017
@stinebuu Thanks for testing this!

You mean replacing `exp()` by `expm1() + 1` reduces runtime for `brunel_ps.sli` from 491s to 326s? That seems a lot. I think we very carefully explored the precise arithmetic expressions we used, because they have significant consequences for numerics. There are a number of `test_iaf_ps_...accuracy` tests. How do they react to this change?

[2021-04-23 12:35] #245 closed

[2021-04-23 12:35] #349 closed

[2021-04-23 12:35] #508 closed

[2021-04-23 12:35] #1440 closed

[2021-04-23 12:35] #1296 closed

[2021-04-23 12:35] #1381 closed

[2021-04-23 12:35] #1405 closed

[2021-04-23 12:35] #1574 closed

[2021-04-26 06:11] heplesser opened #2025 "Make quantal_stp_synapse support setting n and a via normal set()"
`quantal_stp_synapse` currently allows setting its integer parameters `n` and `a` only via `SetDefaults`.  This collides with the NEST3-spirit of avoiding `SetDefaults` and `CopyModel`.

According to documentation in the model, this is due to limitations in `Connect()`.

Key questions:
- Do these limitations in connect still exist (@stinebuu, @hakonsbm)?
- Can #2024 help in this context, or would

[2021-04-26 08:25] gtrensch commented on #1619
Solved by pull request #1984.
We have added instructions to the documentation for how to work with VS Code when developing NEST.

[2021-04-26 08:25] #1619 closed

[2021-04-26 08:26] gtrensch commented on #1619
Issue closed.

[2021-04-26 09:49] clinssen commented on #2013
+1 for keeping the feature and documenting caveats about the resolution.

[2021-04-26 09:57] heplesser opened #2027 "Should default recording resolution for meters be stepsize?"
Currently, the default resolution for recording with volt- og multimeters is 1 ms, by default 10 time steps. This means that certain events may not be recorded if they happen too fast, leading to user confusion. This suggests to change the default to the simulation step size. On the other hand, this will increase memory requirements 10-fold, so some consideration is required.

[2021-04-26 09:58] heplesser commented on #2013
See also #2027.

[2021-04-26 10:03] heplesser opened #2028 "Document recordables"
Most neuron models have recordables, and overview is available by calling `get("recordables")`. These recordables are generally not documented in the model documentation, but should be.

[2021-04-26 18:59] jessica-mitchell opened #2029 "Improve explanation of errors in NEST"
**Describe the flaw**
Some of the errors thrown are not very descriptive nor particularly helpful to the reader. Some have multiple causes that are not detailed in the message.

**Suggest an improvement**
After a discussion with @sarakonradi  and @jougs, we'd propose adding an error numbering system to the errors in NEST. These would then be explained in the documentation (on ReadtheDocs).
The rea

[2021-04-29 09:53] #1960 closed

[2021-05-05 12:10] stinebuu commented on #1973
@babsey Would you be able to create a PR for this?

[2021-05-05 14:03] babsey commented on #1973
I am waiting for merging #2022 to master branch. Then I will continue working on this issue.

[2021-05-07 20:46] jessica-mitchell opened #2031 "Fix up colour and style of HTML output (mainly PyNEST APIs)"
**Describe the flaw**
The colours used to highlight functions etc. should be a light orange, but the default blue of the theme shows up in some cases. In addition, the style of the top border is more distracting than helpful,
The default blue also shows up in some admonitions, which can clash with the orange style of NEST.

**Suggest an improvement**
* Decide on a small set of colours that should

[2021-05-08 15:26] YounesBouhadjar opened #2032 "Synaptic stochasticity in NEST"
As a first step, I want to implement the following:

During run time, for every presynaptic spike, add noise drawn from normal distribution to the synaptic weight.

[2021-05-08 18:17] clinssen commented on #2032
Hi, I'm happy to report that this is already supported by the NESTML synapse. Please see the following link for what such a model could look like:
https://github.com/nest/nestml/blob/d29bd07cabfd9c609b4d23b7e5115a52231723fb/models/noisy_synapse.nestml
The unit test can be found here and produces the following figure:
https://github.com/nest/nestml/blob/d29bd07cabfd9c609b4d23b7e5115a52231723fb/test

[2021-05-10 09:46] heplesser opened #2033 "Automatically stop Simulate() if update time becomes too long"
**Is your feature request related to a problem? Please describe.**

NEST simulations can slow down significantly if network activity becomes high, even more so if neuron models use adaptive-stepsize solvers. Currently, there is no way to interrupt this simulation except killing the entire NEST process.

**Describe the solution you'd like**

The user sets an upper limit for the duration of a single

[2021-05-11 14:42] stinebuu opened #2034 "Some `fail_or_die` tests fail because of leftover NEST 2 code, not because of the thing that should fail"
When working on #2025, I noticed that we have `fail_or_die` tests that are failing, but they are failing because of leftover NEST 2 code, and not because of the actual thing that should fail.

I noticed this for [issue-737.sli](https://github.com/nest/nest-simulator/blob/master/testsuite/regressiontests/issue-737.sli), but the same might happen other places as well.

The tests in `issue-737.sli` u

[2021-05-12 08:15] stinebuu commented on #2034
Also need to go through all tests with `crash_or_die` as well as checking if there are other exit codes that are similar.

[2021-05-12 09:04] heplesser commented on #2025
@stinebuu It would be nice if you could create a PR for this. For the dopamine synapse, I'd suggest to create a separate issue, that may require some digging. The code printing that error message could definitely become nicer with C++11 features and it does not work as intended: instead of printing the parameter name, it will print `param_arr[ n ]` literally.

[2021-05-12 09:07] heplesser commented on #2034
@stinebuu Good you caught this in time. Can you work on this asap, maybe together with @hakonsbm if there are a lot of tests to fix?

@jougs @terhorstd Continue with NEST 3 release preparations, but do not release before all tests are fixed and pass.

[2021-05-12 09:50] stinebuu commented on #2034
@heplesser Yes, me and @hakonsbm will start working on this later today.

[2021-05-17 21:30] #1964 closed

[2021-05-17 21:31] jougs commented on #1504
Due to the merge of #1534, all remaining action items were resolved and I'm closing.

[2021-05-17 21:31] #1504 closed

[2021-05-17 21:55] jougs commented on #2025
@heplesser: can you please quickly comment on how critical this is for the release of NEST 3.0?

[2021-05-17 21:57] jougs commented on #1320
@jasperalbers, @hakonsbm: can you please quickly add some information about the current status to this issue? Thanks!

[2021-05-17 22:02] jougs commented on #1977
@suku248, @terhorstd, @jasperalbers, @jessica-mitchell: can one of you please comment on the status of this and how critical this is for releasing NEST 3.0

[2021-05-18 08:31] heplesser commented on #2025
This is not critical for NEST 3, but a nice to have to ensure consistency, especially to avoid unnecessary `SetDefaults()`. But it should not block the release, so I'll remove it from the milestone.

[2021-05-18 09:09] heplesser commented on #2025
Once this is fixed, the call to `SetDefaults()` should be removed from the `evaluate_quantal_stp` example. `qsyn_params` should be passed directly to `Connect()` as is done in the `Connect()` call using the `tsodyks2_synapse`.

 https://github.com/nest/nest-simulator/blob/71c5fb568c7295d3f5aebb668dab8c2dae33e2dc/pynest/examples/evaluate_quantal_stp_synapse.py#L156-L163

[2021-05-18 11:31] hakonsbm opened #2038 "Generating Sphinx documentation fails with an error after recent Jinja update"
Following the [user documentation workflow](https://nest-simulator.readthedocs.io/en/latest/documentation_workflow/user_documentation_workflow.html) to build the Sphinx documentation fails with the following error:
[code]

When creating a Conda environment with `extras/conda-nest-simulator-dev.yml` Jinja is installed as a dependency. Jinja was recently updated to version 3.0, which breaks the Sphi

[2021-05-18 13:02] hakonsbm opened #2041 "Update dependencies when Sphinx 4.1.0 is released"
Follow-up to #2039. Dependencies should be updated to require Sphinx>=4.1 when that is released, so we don't have to require Jinja<3.

[2021-05-18 14:10] stinebuu opened #2044 "Check if synapse parameters can be set during connection"
There are, after #2043 is merged, 4 synapse models that use `check_synapse_params` when connecting. These are: `cont_delay_synapse`, `jonke_synapse`, `static_synapse_hom_w` and `stdp_dopamine_synapse`.

`check_synapse_params` checks if a parameter can be set while connecting, or if it needs to be set before with `SetDefaults`. For some of the models, we still might not be able to set the parameter

[2021-05-20 07:54] #2038 closed

[2021-05-21 00:04] jougs commented on #1445
I'm closing, as there's only one action item left, which can be easily tracked by the corresponding issue #1503.

[2021-05-21 00:04] #1445 closed

[2021-05-21 08:41] terhorstd commented on #1905
This is partially already modified with #1959, which should be seen in this context.

[2021-05-21 08:43] espenhgn opened #2046 "nest.test() fail: NameError: name 'TestStructuralPlasticityMPI' is not defined"
**Describe the bug**
`NameError: name 'TestStructuralPlasticityMPI' is not defined` in pynest test file `test_mpitests.py` if NEST is compiled with MPI support:
[code]

**To Reproduce**
Compile with MPI and see above.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop/Enviro

[2021-05-21 10:41] #2034 closed

[2021-05-25 19:38] YounesBouhadjar commented on #2032
Thanks @clinssen, this is exactly what I want. I just tested my model with this synapse model and everything is working as expected. @heplesser what do you think?

[2021-05-26 06:25] #2046 closed

[2021-05-26 09:42] stinebuu opened #2049 "Move `update_value_int` from quantal_stp_synapse to where `updateValue` is defined"
The `quantal_stp_synapse` has a function called `update_value_int()`, which is used when setting the integer parameters of the model. This function might be useful for other models as well, and should be placed where `updateValue` is [defined](https://github.com/nest/nest-simulator/blob/master/sli/dictutils.h#L233).

https://github.com/nest/nest-simulator/blob/d6499c6ccf7c3d6926a2cd811e36dfca65124

[2021-05-26 09:55] stinebuu opened #2050 "Separation between `Parameters`, `State`, `Buffers` and `Variables`"
This is a follow up to #2042.

When working on #2042, the topic of `Parameters`, `State`, `Buffers` and `Variables` where discussed. Particularly if the separation between `Buffers` and `State` is still [needed](https://github.com/nest/nest-simulator/pull/2042#discussion_r634456651).

From [comment](https://github.com/nest/nest-simulator/pull/2042#discussion_r634990767) by @heplesser we have that:

[2021-05-26 10:33] #2025 closed

[2021-05-26 21:28] wisev opened #2052 "Issue with Spike Dilutor and Multi-Threading"
**Describe the bug**
spike_dilutor behavior changes when using multiple threads.

**To Reproduce**
Here's a small example that exhibits the behavior:
[code]

- When T = 1, we see 163 source spikes and 77 spikes from the dilutor (expected)
- When T = 2, we see 163 source spikes but 87 spikes from the dilutor
- When T= 4, we see 163 source spikes but 0 spikes from the dilutor
- When T= 8, we see 163

[2021-05-27 15:37] jessica-mitchell opened #2053 "ReadtheDocs latest build fails due to KeyError in conf.py"
**Describe the bug**
Since the merge of #2047 ReadtheDocs fails to build the latest (master) version of NEST. The error is within the conf.py file in doc/userdoc/
Configuration error:
There is a programmable error in your configuration file
 KeyError: 'OLDPWD'

**To Reproduce**
Steps to reproduce the behavior:
1. Build master branch on ReadtheDocs after commit d6499c6ccf7c3d6926a2cd811e36dfca65124

[2021-05-30 19:44] #2053 closed

[2021-06-03 13:21] #1588 closed

[2021-06-07 08:35] hakonsbm opened #2057 "Create a more robust solution to spatial round-off errors"
Follow-up issue from #2037. #2037 adds epsilon values to some comparisons to avoid issues from round-off errors. We should find a more robust way to handle these errors.

@heplesser Wrote for the following lines:

My main concern is that this test will work as long as coordinates are close to 1, but of they are much smaller or larger, we need to consider relative error. I would feel more comfortab

[2021-06-08 11:19] stinebuu commented on #1885
I have not been running the benchmarks in a long time, but I just tried again, and it seems to be working fine again. I do not know why, but I am closing this issue now.

[2021-06-08 11:19] #1885 closed

[2021-06-08 12:03] clinssen opened #2060 "Refactor ``Node::calibrate()`` method"
The ``calibrate()`` method should be renamed to something more descriptive, such as ``recompute_internal_variables()``.

It should be removed from the ``Node`` base class and no longer be called from ``NodeManager::prepare_node()``. Instead, it should be a private method, that individual ``Node`` classes call internally from three places: their constructor, their copy constructor, and ``SetStatus(

[2021-06-08 12:11] stinebuu commented on #1773
We looked at this again during the NEST 3.0 Finalton (08/06/2020). The issue with calling `SetStatus` between `run` will be fixed with #2060, it should then be possible to call `SetStatus`. As there are no `RunManager` for Sli, we keep `Prepare`, `run`, `Cleanup` and `Simulate` as is for now.

I am thus closing this issue, as it will be fixed with #2060.

[2021-06-08 12:11] #1773 closed

[2021-06-08 13:09] stinebuu commented on #1631
I am closing this as it is fixed in master.

[2021-06-08 13:09] #1631 closed

[2021-06-08 14:29] Helveg commented on #2007
@clinssen Have you had any success contacting the owner or started the procedure with the Python Packaging Authority yet?

[2021-06-08 14:51] clinssen commented on #2007
Hi Robin! We actually discussed this during a hackathon session today. Our conclusion was that, with a growing NEST ecosystem, we would instead prefer to stay consistent in the naming, and register nest-simulator, nestml, nest-desktop, in general, nest-*.

Personally I don't have a strong opinion on grabbing the "nest" entry on PyPI, but in any case, if we have an entry there it should be somehow

[2021-06-08 15:03] Helveg commented on #2007
Well if #1959 is merged you could have a CI pipeline that uploads the source tree as a source distribution and modify `setup.py` so that it CMakes it and installs it to the Python interpreter of the `pip` that invoked the install command. You could even leverage pips [`install-option`](https://pip.pypa.io/en/stable/cli/pip_install/#cmdoption-install-option) to allow to set CMake flags.

[2021-06-09 07:16] hakonsbm commented on #1923
@terhorstd Is this solved now that we have [nest_with_ides.rst](https://github.com/nest/nest-simulator/blob/master/doc/userdoc/contribute/nest_with_ides.rst)?

[2021-06-09 23:13] heplesser opened #2067 "Revise cmake_options.rst"
CMake options are not presented well in `cmake_options.rst`.  Instead of blocks of code including the descriptions of the options in pre-formatted form, we should create a table with the options preformatted in the left column and the descriptions in the right column. In this way, descriptions can also contain references to other parts of the documentation.

We should also review ordering and grou

[2021-06-10 07:35] clinssen opened #2069 "Calling ``nest.Connect()`` modifies ``syn_spec`` dictionary when given"
If ``syn_spec`` is a Python dictionary, calling ``nest.Connect(pre, post, syn_spec=syn_spec)`` modifies the ``syn_spec`` dictionary. This could lead to confusion and unexpected results.

This occurs in the function:
https://github.com/nest/nest-simulator/blob/2080ce33d9578df092ad296a3a49c0ab69d00742/pynest/nest/lib/hl_api_connection_helpers.py#L58

Adding a call to ``copy.deepcopy(syn_spec)`` at t

[2021-06-10 07:36] clinssen commented on #2032
Closing due to functionality already being covered by NESTML.

[2021-06-10 07:36] #2032 closed

[2021-06-10 07:37] #1947 closed

[2021-06-10 08:29] heplesser commented on #2069
deepcopy() sounds reasonable to me.

[2021-06-10 08:30] heplesser commented on #2069
Are there any other cases where the PyNEST API modifies dictionaries? It shouldn't do that.

[2021-06-10 09:20] #1977 closed

[2021-06-10 09:25] jougs commented on #1320
@clinssen: could you please give us a quick update on your recent checks?

[2021-06-10 10:21] AlexVanMeegen opened #2070 "Sigmoidal nonlinearity for pp_psc_delta"
**Is your feature request related to a problem? Please describe.**
Currently, the `pp_psc_exp` supports both a rectified linear and an exponential nonlinearity. Both have the drawback that they are not bounded which can lead to runaway activity in recurrent networks (even for inhibition dominated networks).

**Describe the solution you'd like**
A bounded, in particular a sigmoidal nonlinearity, wo

[2021-06-10 12:34] #1872 closed

[2021-06-10 13:06] clinssen commented on #1320
Hi! I am still working on this; making this update requires some understanding (reverse engineering) of the PyNN code, so it's not a completely trivial exercise. I met Andrew this morning in the HBP T5.3 coordination meeting, and we concluded that we ought to have a meeting between the two of us to speak through the technical details. It stays at the top of my priority list.

[2021-06-10 17:43] #1931 closed

[2021-06-10 17:43] #1948 closed

[2021-06-10 17:43] #1975 closed

[2021-06-10 17:43] #2002 closed

[2021-06-10 18:56] Helveg commented on #2007
🎉 #2073

we can upload the 3.0 release to `nest-simulator` with this

[2021-06-14 07:39] espenhgn opened #2075 "`ImportError: libnest.so: cannot open shared object file` w. NEST v3.0"
**Describe the bug**
Since d83005bc0 / 8d1df45d7 pyNEST doesn't quite know where to look for installed NEST dynamic libraries on certain platforms (at least on JUSUF/JURECA using my usual install procedure found below):
[code]
I have to manually update `LD_LIBRARY_PATH` to fix this issue as `export LD_LIBRARY_PATH=/p/home/jusers/hagen2/jusuf/.local/nest/lib64/nest:$LD_LIBRARY_PATH` as the installe

[2021-06-14 13:38] #1945 closed

[2021-06-16 09:38] Helveg commented on #2075
The commit you linked in the additional context is on a side branch, could you check that the bug is introduced between commits on the master branch 4de6c4a9317f7e9abbb904413bbcec5c88af09a9 and 396b6a8835475fae471ae58f26752d9049d441b9?

[2021-06-16 09:38] clinssen commented on #1320
See: https://github.com/NeuralEnsemble/PyNN/pull/718

[2021-06-16 10:00] Helveg commented on #2075
@espenhgn Could you try building with the [python-libdir branch of Helveg/nest-simulator](https://github.com/Helveg/nest-simulator/tree/python-libdir)?

[2021-06-16 10:30] jasperalbers opened #2079 "python folder in unexpected location after installing NEST 3"
**Describe the bug**
I encountered a potential bug while trying to install NEST 3 (release) on JURECA-DC with python. The building and installing works fine without errors, however, when sourcing `nest_vars.py` afterwards and trying to `import nest`, the following error is thrown:

[code]

Upon investigation of this issue, I noticed that in prior NEST versions the install step copies the two folde

[2021-06-16 12:12] Helveg commented on #2079
This is probably a duplicate of #2075. Can you try to build with my fix in https://github.com/Helveg/nest-simulator/tree/python-libdir

[2021-06-16 12:46] espenhgn commented on #2075
@Helveg, thanks for looking into this.

Your branch works, but:
[code]
so the Python major/minor version is somehow missed in the target path. Is that intentional? I would've though `<DCMAKE_INSTALL_PATH:PATH>/lib/pythonX.Y/site-packages` should be preferred destination (say for conda/virtualenv envs where calling `nest_vars.sh` ought to be redundant. I have in the path usually set the install des

[2021-06-16 12:59] Helveg commented on #2075
Not intentional ;p Just missing some vars in that scope :)

[2021-06-16 13:02] Helveg commented on #2075
@espenhgn Does my latest commit work? `${Python_VERSION}` is exported to the parent scope, but I'm not sure that it is exactly equivalent to `${Python_VERSION_MAJOR}.${Python_VERSION_MINOR}`

[2021-06-16 13:35] jasperalbers commented on #2079
Indeed, it is a duplicate. I can confirm that your branch fixes the issue!

[2021-06-16 13:45] espenhgn commented on #2075
Looks good to me! Also tried your suggestion w. conda - works fine.

[2021-06-16 21:18] heplesser commented on #2079
Closing as it is a duplicate of #2075.

[2021-06-16 21:18] #2079 closed

[2021-06-17 10:08] #2075 closed

[2021-06-18 06:25] heplesser commented on #1970
Fixed by #2078, Travis is now decommissioned.

[2021-06-18 06:25] #1970 closed

[2021-06-18 06:26] heplesser commented on #1601
@lekshmideepu Is this still relevant now that we use Github actions? The general problem, namely that NEST runs a reduced test suite when not finding, e.g., GSL, is probably independent of where we run the tests?

[2021-06-18 06:27] heplesser commented on #641
@lekshmideepu Is this still relevant now that we have moved to Github actions?

[2021-06-18 06:28] heplesser commented on #1556
@gtrensch Would #2076 solve this?

[2021-06-23 12:10] stinebuu commented on #2069
@clinssen Do you want to create a fix for this, or should someone from the PyNEST Team handle this?

[2021-06-23 12:42] clinssen commented on #2069
I'd be happy to work on this, but planning-wise it would be after the NEST Conference. No complaints if there are any volunteers before that time!

Suggest to (self-)assign somebody to this issue when work on a fix is begun.

[2021-06-26 16:42] MaxEngelen opened #2081 "Error during installation of NEST 3.0"
When installing the compiled source code an error occurs while trying to copy nest_simulator.egg-info. However the installation process continues and NEST 3.0 seems to work fine.

Steps to reproduce the behavior:
1. Download source code from git repo. Compile and run make.
2. Occured with and without parameters on cmake
3. make install
4. Scroll up on the installation log

An error message like th

[2021-06-29 10:35] jessica-mitchell opened #2083 "Fix RtD warning text about version 3.0 to reference master"
**Describe the flaw**
A warning is displayed on RtD in the version 'latest' (master) that warns users that version 3.0 is still incomplete.  This is no longer true.

**Suggest an improvement**
The warning can stay in place but the text should refer to the fact that the version being seen is master and thus it is actively being developed and tested.

[2021-06-30 12:38] heplesser commented on #291
@jessica-mitchell Could you take a look and come up with a suggestion?

[2021-06-30 12:43] heplesser commented on #487
Closing as won't fix because it is not a problem in practical life. @diesmann feel free to re-open if you want to amuse yourself with fixing it ;).

[2021-06-30 12:43] #487 closed

[2021-06-30 12:52] heplesser commented on #523
Many thanks for the proposal, but closing as there is currently no realistic pathway to implementation.

[2021-06-30 12:52] #523 closed

[2021-06-30 12:59] heplesser commented on #633
@sdiazpier Ping!?

[2021-06-30 12:59] heplesser commented on #641
Moved to Github actions, no longer relevant.

[2021-06-30 12:59] #641 closed

[2021-06-30 13:06] heplesser commented on #806
@ddahmen Could you look at this and decide if this is sufficiently interesting for you to invest time in an implementation?

[2021-06-30 13:08] heplesser commented on #899
Closing since there is no user demand for this feature.

[2021-06-30 13:08] #899 closed

[2021-06-30 13:10] heplesser commented on #939
The implementation would be challenging and demand appears limited, therefore closing. @TomBugnon, please re-open if this is still important for you.

[2021-06-30 13:10] #939 closed

[2021-06-30 13:14] heplesser commented on #1048
We do not support WSL at present, therefore closing.

[2021-06-30 13:14] #1048 closed

[2021-06-30 13:18] clinssen commented on #522
Implementation question: if the base class StructuralPlasticityNode should have this in its RecordablesMap, but it is only the child classes that actually declare, define and instantiate a RecordablesMap, how can the base class add its recordables to it?

For example, StructuralPlasticityNode could define an additional method, ``add_recordables_to_map(RecordablesMap&)``, which the child would be f

[2021-06-30 13:25] heplesser commented on #1185
@suku248 Ping

[2021-06-30 13:28] heplesser commented on #1207
@jasperalbers @ackurth Have you been able to take a look at this?

[2021-06-30 13:29] heplesser commented on #1210
We have significantly revised the Python setup with NEST 3, things should work out of the box now.

[2021-06-30 13:29] #1210 closed

[2021-06-30 13:33] heplesser commented on #1414
Assuming that this is fixed with NEST 3.0, I am closing.

[2021-06-30 13:33] #1414 closed

[2021-06-30 13:38] morales-gregorio commented on #1208
So, should the file be removed? I can alternatively rename it as `run_microcircuit_PBS.sh` and create another one called `run_microcircuit_SLURM.sh`

[2021-06-30 13:42] heplesser commented on #1457
@hakonsbm Ping

[2021-06-30 13:44] heplesser commented on #1471
Closing as the features are available in NEST 3.

[2021-06-30 13:44] #1471 closed

[2021-06-30 13:45] heplesser commented on #1496
Available in NEST 3, thus closing.

[2021-06-30 13:45] #1496 closed

[2021-06-30 13:45] heplesser commented on #1529
@morales-gregorio Could you provide a PR for this?

[2021-06-30 13:48] heplesser commented on #1531
@jessica-mitchell Could you review this and consider replacing it with a follow-up issue on how to auto-generated the features lists, including links to features described?

[2021-06-30 13:50] heplesser commented on #1554
@jessica-mitchell Ping.

[2021-06-30 14:03] heplesser commented on #1601
@lekshmideepu Closing for now, please re-open and rename if you still think it relevant.

[2021-06-30 14:03] #1601 closed

[2021-06-30 14:08] heplesser commented on #1620
@jougs Ping

[2021-06-30 14:11] heplesser commented on #1634
Closing, the NEST doc team is on this.

[2021-06-30 14:11] #1634 closed

[2021-06-30 14:12] morales-gregorio commented on #1207
Hi, I am looking into it now (sorry for the super late response), in general I think that all the documentation improvements from @jhnnsnk already fixed most (if not all the issues) that I was referring to when I wrote this.

[2021-06-30 14:14] heplesser commented on #1673
Too general.

[2021-06-30 14:14] #1673 closed

[2021-06-30 14:15] heplesser commented on #1681
Closing.

[2021-06-30 14:15] #1681 closed

[2021-06-30 14:17] morales-gregorio commented on #1529
Yes, looking into it now

[2021-06-30 14:18] heplesser commented on #1757
Workflow information is available on ReadTheDocs.

[2021-06-30 14:18] #1757 closed

[2021-06-30 14:20] heplesser commented on #1775
Closing this, further discussion in #1905.

[2021-06-30 14:20] #1775 closed

[2021-06-30 14:21] heplesser commented on #1803
Resolved with NEST 3, therefore closing.

[2021-06-30 14:21] #1803 closed

[2021-06-30 14:22] heplesser commented on #1854
We made a lot of improvements to installation with NEST 3 and assume this will work. Please re-open if not.

[2021-06-30 14:22] #1854 closed

[2021-06-30 14:24] heplesser commented on #1870
With NEST 3 deps are given in setup.py. Closing.

[2021-06-30 14:24] #1870 closed

[2021-06-30 14:25] heplesser commented on #1871
@jessica-mitchell Could you look into implementing this?

[2021-06-30 14:26] heplesser commented on #1881
Closing as this was an external error and is resolved by dropping MPI from conda package.

[2021-06-30 14:26] #1881 closed

[2021-06-30 14:27] heplesser commented on #1882
@niltonlk We did a lot of work on installation with NEST3. Could you check if the problem persists with the current master?

[2021-06-30 14:31] heplesser commented on #1898
Will be handled by NESTML, closing.

[2021-06-30 14:31] #1898 closed

[2021-06-30 14:36] heplesser commented on #1923
Has been created, thus closing.

[2021-06-30 14:36] #1923 closed

[2021-06-30 14:39] heplesser commented on #1939
@YounesBouhadjar, could you take a look at this in the context of #820.

[2021-06-30 14:41] heplesser commented on #1973
@babsey Since #2022 is merged, could you take another look at his one?

[2021-06-30 14:47] heplesser commented on #2003
Fixed in NEST 3, closing.

[2021-06-30 14:49] heplesser commented on #2007
Closing.

[2021-06-30 14:49] #2007 closed

[2021-06-30 14:53] heplesser commented on #2020
@jakobj Ping!

[2021-06-30 14:55] #2027 closed

[2021-06-30 14:56] heplesser commented on #2028
Will be delayed until auto-generated from NESTML.

[2021-06-30 14:56] #2028 closed

[2021-06-30 15:09] heplesser commented on #2070
@AlexVanMeegen Would you create a PR to add your nonlinearity as a third choice?

[2021-06-30 15:11] heplesser commented on #2081
@Helveg Could you try to look into this?

[2021-06-30 15:21] Helveg commented on #2081
Hi @MaxEngelen , could you give a list of the exact commands you executed? I'd like to reproduce this error to figure out what's going on :)

[2021-06-30 15:30] Helveg commented on #2081
It is probably related to this line:

https://github.com/nest/nest-simulator/blob/34086f8d87c63a85743dd5cde453486060266216/pynest/CMakeLists.txt#L91

We should change `'nest'` to `'nest-simulator'` there. Could you check whether building from https://github.com/Helveg/nest-simulator/tree/fix-pip-requirements fixes the issue?

[2021-06-30 15:43] morales-gregorio commented on #1208
Just discussed with @terhorstd and we will remove the file

[2021-07-01 06:41] heplesser commented on #1132
Instead of using pycodestyle directly, we might want to use flake8, which is a wrapper with more flexibility.

[2021-07-01 06:49] clinssen commented on #1132
Not necessarily opposed, but this is feature creep, and raises additional questions like which things do we want to check for. flake8 for example also checks "cyclometric code complexity". pep8→pycodestyle is just a rename, whereas pep8→flake8 is a feature change.

[2021-07-01 09:17] #2013 closed

[2021-07-01 14:35] #2083 closed

[2021-07-01 15:16] heplesser opened #2092 "Eliminate use of float from C++ code"
In a few dozen locations, data type `float` is used in C++ code in NEST, including NEST kernel. All these cases are likely glitches induced by too much Python programming and should be corrected to `double`. Also, any casts should be written out as explicit static casts, i.e., `static_cast< double >( x )` instead of `(double) x` according to Bjarne Stroustrup.

[2021-07-01 15:23] heplesser commented on #1132
@clinssen You are right, we should keep it simple, so let's move to pycodestyle.

[2021-07-01 21:19] heplesser commented on #2052
I can reproduce the bug with the following minimal reproducer. Spikes to and from the dilutor are passed through parrot neurons to avoid any side effects of special handling of spike transmission from/to devices.

[code]

[2021-07-01 21:27] heplesser commented on #2052
By design, `spike_dilutor` shall send a different diluted spike train to each of its targets. This requires sending spikes through `DSSpikeEvents` and handling them with an `event_hook()`. This again requires that outgoing spikes are sent thread-locally. `spike_dilutor` is therefore replicated on each thread (no proxies).

Currently, `spike_dilutor` is also a `local_receiver`, which means that eac

[2021-07-02 09:24] #2033 closed

[2021-07-02 11:30] #2009 closed

[2021-07-02 12:18] hakonsbm opened #2097 "Replace our custom `Vose` class with `std::discrete_distribution`"
Follow-up from #2094. With the modernized RNG setup we may consider to replace the [`Vose`](https://github.com/nest/nest-simulator/blob/bd546f530627137e6280559b4cd2c99dd8569f69/nestkernel/vose.h#L43) class with [`std::discrete_distribution`](https://en.cppreference.com/w/cpp/numeric/random/discrete_distribution), if performance is ok.

[2021-07-02 13:40] #1997 closed

[2021-07-02 18:03] VirenderNayal commented on #2092
Hello,
I am new to this repo. Can you assign me this issue and guide me where to make changes,
Thank you.

[2021-07-03 16:38] gtrensch commented on #1905
Summary of the decision made at the last hackathon:
- Move documentation Make build options to CMake variables to unify build configuration
- Introduce new CMake variables `user-doc` and `dev-doc` providing the following options
`user-doc = on/off`, Default: `user-doc = on`
`dev-doc = on/off/full`, Default: `dev-doc = off`, `dev-doc = on` only builds doxygen doc without class diagrams.

[2021-07-03 23:37] sanjayankur31 opened #2100 "Nest v3.0: bundled Random123 does not support s390x (fixed upstream)"
**Describe the bug**
While updating the version of NEST to 3.0 in NeuroFedora, we observed that it includes an older version of Random123 that does not support the s390x architecture.

We sent a patch upstream to fix this, so the version of Random123 on the GitHub does support s390x. Could the included copy in NEST please be updated?

https://github.com/DEShawResearch/random123/blob/main/include/R

[2021-07-04 12:11] sanjayankur31 opened #2101 "[NEST-3.0] crashes when built with `GLIBCXX_ASSERTIONS` defined"
(Edited for clarity)

**Describe the bug**
When NEST 3.0 is built with `GLIBCXX_ASSERTIONS`, it crashes on running. For example, when running the simple examples from the documentation, one gets:

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
0. Build Nest 3.0 with `-D_GLIBCXX_ASSERTIONS` included in the compilation flags (enabled by default in Fedora)
1. (Minimal) reproducing

[2021-07-04 12:47] sanjayankur31 commented on #2101
Disabling our build flags prevents the crash, so it's a downstream build issue. I'll isolate the flag causing the break and report back.

[2021-07-04 15:36] sanjayankur31 commented on #2101
More information on the flag here: https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_macros.html

For the time being, I've removed this flag from the Fedora build.

If possible, it'll be good to include this flag in the list of default flags that NEST is built with (at least in CI, if not in the released binaries).

[2021-07-05 10:15] EloyRC opened #2104 "Nest 3.0 nest-server-mpi crashes after /api/GetKernelStatus request"
nest-server crashes after receiving a `/api/GetKernelStatus` request. It happens only when using `nest-server-mpi` executed with mpirun

**How to reproduce:**

Start nest-server:
```mpirun -np 2 nest-server-mpi```

Send a request for `GetKernelStatus`. Examples:

* get full kernel status:

request:

```curl --header "Content-Type: application/json" http://localhost:5000/api/GetKernelStatus```

out

[2021-07-06 07:19] #2081 closed

[2021-07-06 10:29] YounesBouhadjar commented on #1939
I suspect the issue is related to what @clinssen mentioned. We are currently working on testing this synapse model and we will come back to you when we have more insights.

[2021-07-07 09:24] stinebuu commented on #2015
I have done some benchmarks, and it seems like with #1957, it is indeed possible to convert `have_connections_changed_` converted to bool. See for instance

![image](https://user-images.githubusercontent.com/21308850/124734802-c3f73f00-df15-11eb-9305-841012894790.png)

![image](https://user-images.githubusercontent.com/21308850/124734906-d7a2a580-df15-11eb-889d-7c016fb62776.png)

[2021-07-07 12:14] stinebuu commented on #2104
@babsey Would you be able to take a look at this?

[2021-07-07 12:59] #1529 closed

[2021-07-07 12:59] morales-gregorio commented on #1529
Closed by #2089

[2021-07-07 13:59] hakonsbm commented on #2097
The `std::discrete_distribution` shows a bit worse performance for high number of weights (i.e. high number of nodes in the mask), but I'm not sure if it's too bad to reject it. The difference is 4.5 seconds with 10 million weights. What do you think @heplesser?

As an alternative, the [`boost::random::descrete_distribution`](https://www.boost.org/doc/libs/release/libs/compute/doc/html/boost/compu

[2021-07-08 13:28] babsey commented on #2104
It seems that the last merged (#2103) of @jougs in nest-server causes this issue.

Please assign this to @jougs, too.

We need to test it ASAP.

[2021-07-08 16:17] #1132 closed

[2021-07-08 16:17] #1682 closed

[2021-07-08 16:36] jougs commented on #2104
@EloyRC: is this with the latest master? #2103 was meant to address exactly the problem you are observing...

The problem I see with the new version is rather a totally silent hang instead of a crash.

I will investigate next week.

[2021-07-09 07:54] EloyRC commented on #2104
Hi @jougs, no, I tested with tag `v3.0`, I should have tried with last master though... I will give a try to the commit you linked and wait for your investigations.

thanks!

[2021-07-09 08:02] hakonsbm commented on #2101
With the examples `recording_demo.py` and `balancedneuron.py`, the assertion fails with NEST 3.0 here:
https://github.com/nest/nest-simulator/blob/8b6a34cdb2896b9e9f5776202024630650ee48dd/pynest/pynestkernel.pyx#L623
It fails because the vector is empty, so getting a pointer to the first element is impossible. I assume that because the size of the vector is zero, `memcpy` immediately returns and t

[2021-07-14 02:10] jougs commented on #2104
I have investigated further and am pretty convinced that the current commits in master should resolve the issues you're seeing. I'm thus closing this issue.

Please re-open in case the issue persists with the new version.

[2021-07-14 02:10] #2104 closed

[2021-07-14 08:28] EloyRC commented on #2104
Confirmed, the crash disappears with the latest commit in master.

I can successfully request different parameters of the kernel. Eg:

```curl --header "Content-Type: application/json" -d "[\"biological_time\"]" http://localhost:5000/api/GetKernelStatus```

Thanks!

[2021-07-20 18:28] #2031 closed

[2021-07-21 14:21] #2019 closed

[2021-07-24 22:40] #1130 closed

[2021-07-24 22:40] #1917 closed

[2021-07-24 22:40] #1584 closed

[2021-07-26 09:01] #1207 closed

[2021-07-26 09:01] #1208 closed

[2021-07-28 07:44] #1871 closed

[2021-07-30 05:45] jessica-mitchell commented on #2021
@clinssen I think this issue can be closed, correct? Intersphinx is set up as far as I'm aware

[2021-07-30 09:03] clinssen commented on #2021
Perfect, closing!

[2021-07-30 09:03] #2021 closed

[2021-07-31 18:53] clinssen opened #2116 "Report major (+ minor) NEST version even when cloned from git"
#1223 changed the way NEST reports its version when it is cloned from git. Originally, the version consisted of hard-coded major, minor and patch numbers; afterwards, the git hash of the repository at time of cloning was reported.

An issue has emerged where, if NEST was installed from the git repository, NESTML is unable to query the NEST installation for its major version. In this case, only the

[2021-08-03 03:45] iniwap opened #2117 "Will nest support GPU?"
cpu simulate so slowly，will nest support GPU?

[2021-08-03 06:14] heplesser commented on #2117
@iniwap For general questions about NEST like yours, the NEST User Mailing List is a much better forum (see https://www.nest-simulator.org/community/).  For a GPU-based simulator with a NEST-like interface see

Golosio B (@golosio), Tiddia G, De Luca C, Pastorelli E, Simula F and Paolucci PS (2021)
Fast Simulations of Highly-Connected Spiking Cortical Models Using GPUs.
Front. Comput. Neurosci. 15

[2021-08-03 06:14] #2117 closed

[2021-08-09 13:14] heplesser commented on #2097
@hakonsbm I find it surprising that there is such a big difference between the std and boost version. I though the std random lib was mostly taken from boost. In most models, we probably have no more than a few thousand neurons in a mask, but we might get larger in some cases. Masks with just 10 elements seem unlikely. So is appears that the std-implementation is 20%–40% slower than our Vose imple

[2021-08-10 07:07] heplesser commented on #522
@clinssen Subclass constructors need to call the superclass constructor to ensure that inherited data members are initialised properly if they require non-default initialisation. I suggest that we follow the same logic here, i.e., that the concrete model class' `RecordablesMap< concrete_model>::create()` calls `superclass::insert_recordables(RecordablesMap&)`, as you suggested. If the programmer f

[2021-08-11 11:31] #1957 closed

[2021-08-11 11:31] #2015 closed

[2021-08-12 08:19] hakonsbm commented on #2097
@heplesser Because the benchmark above was performed by only drawing numbers, I have also done a benchmark in NEST where I replaced the `Vose` class. In this benchmark I connect a number of presynaptic nodes to a single node, with fixed indegree and an indegree of 1.

![result_nest](https://user-images.githubusercontent.com/8554349/129159054-21858687-e142-4dff-8040-5815f4d388d2.png)

The results s

[2021-08-12 12:47] heplesser commented on #2097
@hakonsbm Thank you for the updated benchmark! This looks indeed much better. But I am surprised that you write "indegree of 1"—this seems to be a very unrealistic case. Or did I get something wrong? What happens with large indegrees? And what distance-dependence do you use?

[2021-08-13 10:53] hakonsbm commented on #2097
@heplesser There is no distance-dependence.

I've run the benchmark again, now with indegree equal to 10 % of the presynaptic neurons. I also fixed a bug in the benchmark script, so now it's actually using 1 postsynaptic neuron, and not the same as the presynaptic neurons. I've therefore increased the number of presynaptic neurons.

![result_nest](https://user-images.githubusercontent.com/8554349/

[2021-08-13 12:10] heplesser commented on #2097
@hakonsbm Interesting. What kernel are you using, i.e., what does the distribution look like? I had a look into the respective codes: Boost uses an alias method (but maybe not Vose's—no information in the code and it is a bit difficult to read, while the GCC and Clang libraries use binary search on the cumulative distribution. So the latter should show a log_2 n dependence (but on very straightfor

[2021-08-14 20:35] niltonlk opened #2119 "Potjans_2014 example in NEST 3.0 gives different output under different MPI-process/thread splits with fixed VP number"
**Describe the bug**
Simulation of the Potjans_2014 microcircuit from pynest/example/Potjans_2014 using 4 MPI-processes and 1 thread per MPI process (total of 4 VP) and 1 MPI-process with 4 threads per MPI process (total of 4 VP) gave different results. Other parameters were kept constant, including the seed witch was the default 55.

**To Reproduce**
Steps to reproduce the behavior:
1. (Minimal)

[2021-08-16 09:36] lekshmideepu commented on #1556
Probably this is not valid anymore as Travis is closed now?

[2021-08-16 11:02] heplesser commented on #1556
@lekshmideepu I think testing the Arbor backend is still valid, just that we should do it using Github Actions.

[2021-08-16 13:24] niltonlk commented on #2119
It seems that in MPI parallelization, only nodes local to each MPI process are considered for connecting. That is, each MPI process forms independent networks. This information was obtained by obtaining the following code just after `nest.Connect` in line 468 of network.py:

which gives the following output (displayed only for pre_ID=0 and post_ID=0):

In this example, connections between L23e and

[2021-08-16 13:41] #1878 closed

[2021-08-17 14:18] hakonsbm commented on #2119
We have understood the problem, and I'll create a fix shortly.

[2021-08-17 16:48] lekshmideepu commented on #1556
@heplesser Sure. I meant mentioning "Travis" is not valid anymore. :-)

[2021-08-17 20:28] jougs opened #2120 "PyNEST function linking also affects SLI manual"
The linking of  PyNEST functions in documentaton (#2010) unfortunately went a bit too far and also changed one file of the SLI documentation, which *should not* be linked to the PyNEST API description.

Solving this issue requires reverting the corresponding changes in  [doc/userdoc/sli_docs/neural-simulations.rst](https://github.com/nest/nest-simulator/pull/2010/files#diff-2ed762298b960eedfa48e6b

[2021-08-18 07:52] stinebuu commented on #2069
@clinssen @heplesser using `deepcopy()` leads to problems when connecting with syn_spec's containing `nest.Paramater` or a `CollocatedSynapse`. The problem arises because of our datums, it seems to me that is not straight forward to copy them. We need to add a `__reduce__` function to the Cython class, but I am not able to do it correctly.

The `syn_spec` is currently only changed when we give it

[2021-08-19 23:20] niltonlk commented on #1882
Sorry for the late reply. My license for Intel Parallel Studio XE 2020 has expired, and we cannot apply for the academic free licence anymore. I will test with the recent Intel OneAPI and report back as soon as I get some results.

[2021-08-20 14:07] Helveg opened #2123 "Import of `ll_api` takes on initialization responsibilities"
The end of `pynest/nest/ll_api.py` calls an `init` function whose docstring says it "Initializes NEST" idiomatically this belongs in `__init__.py`. Following that idiom can prevent surprising consequences or sequences of events related to importing `ll_api` and better help new devs trace the sequence of events when `import nest` occurs.

[2021-08-20 15:27] niltonlk commented on #1882
I have just tested with Intel oneAPI 2021.3 HPC Toolkit. Since the provided Python version is 3.7.10, I downgraded the Python requirement to 3.7 in line 395 of `cmake/ProcessOptions.cmake`. The error still persists with the latest master (master@062e2723e)

[code]

By including connection_creator_impl.h in nestkernel/layer_impl.h as commented above, the build error disappears, but the following cy

[2021-08-21 08:05] heplesser commented on #1882
@niltonlk Thank you for testing and benchmarking. GCC seems to rock indeed :). I will close this issue now.

[2021-08-21 08:05] #1882 closed

[2021-08-21 18:51] niltonlk opened #2125 "Assertion fail in set_connections_have_changed in test_synapse_deletion_one_to_one_no_sp"
**Describe the bug**
Testsuilt results table does not report failures or erros, however, test_synapse_deletion_one_to_one_no_sp reports assertion failure in current master (NEST version master@8c16625).
The same error was observed in CentOS 7.9.2009 with GCC 8.3.0, OpenMPI 3.1.4, Python 3.8.10, Boost 1.71 and gsl 2.6 as well as in Fedora 34 with GCC 11.2.1, OpenMPI 4.1.0, Python 3.9.6, Boost 1.75

[2021-08-21 21:51] heplesser opened #2126 "NEST testsuite fails to report crashing test cases"
The NEST test suite will not detect Python test cases which lead to a segmentation fault, see #2125 and [also here in #2121](https://github.com/nest/nest-simulator/pull/2121#issuecomment-902520234).

This happens because the return value of `nosetests` is never inspected and now XML-output is written if `nosetests` terminates due to a segmentation fault or failed C++ assertion in the NEST kernel.

[2021-08-22 05:48] heplesser commented on #2125
I can reproduce this error on my computer (macOS 11.5.2, Apple Clang 12.0.5, OpenMPI 4.1.1, Boost 1.76, Cython 0.29.24, GSL 2.7, Python 3.9.6). But it passes in Github Actions, see #2127, especially [this log line](https://github.com/nest/nest-simulator/pull/2127/checks?check_run_id=3390900258#step:16:33848).

[2021-08-22 08:39] heplesser commented on #2125
Here is a minimal reproducer for this crash:
[code]

[2021-08-22 08:59] heplesser opened #2128 "MPI4PY not installed for Github Actions / Tests not executed"
MPI4PY is not installed for Github actions, [see here](https://github.com/nest/nest-simulator/blob/8c16625f39737318fceb97989e37fe6ab2b01342/.github/workflows/nestbuildmatrix.yml#L96-L114). Therefore, all tests depending on MPI4Py are skipped even for the FULL configuration.

I label this critical because it means our testsuite is not testing all it should.

[2021-08-22 09:00] heplesser commented on #2128
See also #2125 and #2127.

[2021-08-22 09:04] heplesser opened #2129 "Some tests are not executed at all"
As far as I can see from, e.g., [this FULL log](https://github.com/nest/nest-simulator/pull/2127/checks?check_run_id=3392272387), certain test are never executed at all, it appears that the files are never run. One example is [test_connect_arrays_mpi.py](https://github.com/nest/nest-simulator/blob/master/testsuite/pytests/test_connect_arrays_mpi.py). We need to ensure that all our tests are execut

[2021-08-22 09:08] heplesser opened #2130 "Revise test_disconnect"
The [disconnect test](https://github.com/nest/nest-simulator/blob/master/testsuite/pytests/test_sp/test_disconnect.py) with in the structural plasticity tests is poorly designed. The intention seems to be to test if disconnect works properly across MPI processes, but the test is never run with MPI.

See also #2125.

[2021-08-24 07:15] stinebuu commented on #2125
I also get a segmentation error by running the code snippet. However, `test_disconnect.py` pass without any problems for me.  I will investigate further.

[2021-08-24 07:31] heplesser commented on #2125
`test_disconnect` is poorly designed, see #2130, and won't do much if mpi4py is missing.

[2021-08-25 10:30] Helveg opened #2134 "Remove blanket and dynamic Python module importing"
There are some problems with how NEST loads its Python modules. To dynamically import all Python files found in `pynest/nest/lib` as modules into the `nest.hl_api` module a file `import_libs.py` was created which relies on the `ast` module and `compile` to create the `module` objects. The `ast` module is however volatile (see discussion in https://bugs.python.org/issue35894, mentioned also in the

[2021-08-25 10:40] jougs commented on #2134
I fully agree with your analysis and the conclusions :smile_cat:

If you want, you can just go ahead and implement your proposal (either in the context of #2114 or as a standalone PR).

[2021-08-25 10:48] Helveg commented on #2134
I'm a bit afraid of the possible fallout. A completely clean solution would not be fully backwards compatible. Since none of the modules in the `nest` codebase are prefixed with an underscore it's a conventional promise to its Python users that they are stable and public APIs that they're allowed to use. e.g. there might be some users that use `nest.lib.hl_api_simulation.GetKernelStatus(...)` and

[2021-08-25 11:55] jougs commented on #2134
:+1:

[2021-08-25 13:56] Helveg commented on #2134
I'll also remove as many import alls (`from ..ll_api import *`) as possible.

[2021-08-30 08:47] stinebuu commented on #1962
See also [Github citation files](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-citation-files).
We could have a `.bib` file with the main NEST citation, and a link to this [Zenodo page](https://zenodo.org/search?page=1&size=20&q=nest-simulator).

[2021-08-31 08:30] stinebuu opened #2138 "`plot_weight_matrices.py` should be rewritten"
**Describe the bug**
The PyNEST example [plot_weight_matrices.py](https://github.com/nest/nest-simulator/blob/master/pynest/examples/plot_weight_matrices.py) _only_ contains a function for plotting weight matrices, you have to provide a network yourself.

https://github.com/nest/nest-simulator/blob/bc5cc6268d42f3c8c829f1cc92ea762832e91449/pynest/examples/plot_weight_matrices.py#L59-L63

When provi

[2021-08-31 09:48] stinebuu opened #2139 "Some PyNEST tests are not shown in the testsuite list"
There are some PyNEST tests that are not shown in the testsuite list when running `installcheck`. The tests are run, but they have additional output, which leads to the test not being written to the list.

See for instance [test_pp_psc_delta_stdp.py](https://github.com/nest/nest-simulator/blob/8c16625f39737318fceb97989e37fe6ab2b01342/testsuite/pytests/test_pp_psc_delta_stdp.py), which produces the

[2021-08-31 10:00] Helveg opened #2140 "pip installed `pandoc` ignored during doc build"
In `extras/conda-nest-simulator-dev.yml` one can filter out all of the deps marked as required for docs and `pip install` them (except for `doxygen`). If you `make html` from your build folder a missing file and error that `pandoc` is required will be thrown:

[code]

[2021-08-31 10:03] Helveg commented on #2140
`pandoc` needs to be installed through `apt-get`, the pip installed version is not picked up from my `pyenv`.

[2021-08-31 10:16] Helveg commented on #2140
It seems that PyPI's `pandoc` is not the actual `pandoc`, but a Python library that ports its Haskell API to Python.

[2021-08-31 10:16] #2140 closed

[2021-08-31 11:25] heplesser commented on #2139
This will be solved by #2127.

[2021-09-01 09:10] #2125 closed

[2021-09-01 16:25] tfardet opened #2146 "Inconsistency between _cond_ and _cond_multisynapse implementations"
I think the problem has been discussed before but I could not find it and I run into this issue just now so I thought I would create a new issue to discuss it: *the implementation of conductance weights is inconsistent between ``_cond_`` and ``_cond_multisynapse`` models.*

This is because simple ``_cond_`` models (e.g. ``iaf_cond_alpha`` or ``aeif_cond_alpha``) expect *signed* conductances to tel

[2021-09-01 20:00] clinssen commented on #2146
I would suggest not to change the semantics of existing models. Does any use case exist for negative conductance signs in multisynapse models? Why does NEST crash and burn so dramatically here? Note that the check you describe seems to already be implemented in some models:
https://github.com/nest/nest-simulator/blob/a947d3a417500c7ec3393ed94377d7f6c82e7029/models/aeif_cond_alpha_multisynapse.cpp#

[2021-09-02 08:52] heplesser commented on #2146
I agree with @clinssen to not change this. Negative conductances are a strange thing, but we discussed their use in NEST as ex/inh distinguishing mechanism long ago and decided to keep it, esp for consistency with psc neurons. But better error handling would be good, but I fear we do not get reliable weight information when creating connections, and weights could always be changed later (in the mo

[2021-09-02 09:20] #2126 closed

[2021-09-02 09:20] #2139 closed

[2021-09-02 22:06] heplesser commented on #2129
Fixed by #2127, therefore closing.

[2021-09-02 22:06] #2129 closed

[2021-09-02 22:07] heplesser commented on #2128
Fixed by #2127, therefore closing.

[2021-09-02 22:07] #2128 closed

[2021-09-02 22:31] heplesser opened #2149 "Create stronger tests for spatial connections with fixed degree"
Current tests of spatial fixed-degree connection routines are simplistic and should be replaced by more sensitive tests, see this discussion: https://github.com/nest/nest-simulator/issues/2141#issuecomment-909953007_ .

[2021-09-02 22:33] #1546 closed

[2021-09-02 22:33] #2097 closed

[2021-09-03 09:03] AlexVanMeegen commented on #2070
@heplesser, sincere apologies for the late answer. I'll create a PR, but I currently have to prioritize other tasks so I cannot even give an estimate when this will be done.

[2021-09-03 10:59] #1883 closed

[2021-09-03 11:17] #2119 closed

[2021-09-03 13:08] #1556 closed

[2021-09-04 10:16] heplesser commented on #1226
Postponing to NEST 3.2 due to lack of time and urgency.

[2021-09-04 10:35] heplesser opened #2151 "Review and correct Arbor backend test"
The Arbor backend test fails currently as shown here: https://github.com/nest/nest-simulator/runs/3510427486?check_suite_focus=true#step:16:8270. Preliminary investigation indicates that MPI communication happens, but returns incorrect results at least for `min_delay`, typically 0. This might be due to a mismatch in datatype.

This issue was discovered in connection with #2148; during the review o

[2021-09-05 11:23] YounesBouhadjar opened #2152 "Type mismatch between the volume transmitter and synaptic property"
In NEST3, the `volume_transmitter` is of type NodeCollection, but in the synaptic specification it's required to provide only a node ID of the `vt`, For example when running:

[code]
You get a type mismatch error. A workaround for this is to convert the NodeColletion to a list of node IDs :

[code]

I think it would be cleaner if the synaptic property "vt" can accept a NodeCollection.

[2021-09-05 19:39] #2130 closed

[2021-09-06 06:15] heplesser commented on #2152
@YounesBouhadjar Thanks for pointing this out. In the testsuite, I found the following two approaches, the first if `vol` contains only a single volume transmitter, the second if it contains several:
[code]
I agree with you that it should be possible to pass a single-element node collection here, i.e., that
[code]
should work. Would you want to try to implement this?

I noticed two more things whe

[2021-09-06 08:28] #2069 closed

[2021-09-06 10:10] YounesBouhadjar commented on #2152
Something else I stumbled upon is that I get an error when connecting a `spike_generator` to the `volume_transmitter`:

[code]
It says that: We do not allow connection of a device to a global receiver at the moment. Any thought about that?

[2021-09-06 10:14] heplesser commented on #2152
@YounesBouhadjar  You need to put a `parrot_neuron` in between generator and transmitter. That should be mentioned in the documentation and shown in an example.

[2021-09-06 10:32] YounesBouhadjar commented on #2152
Thanks @heplesser, I was not able to find documentation about that.

In case we modify this, how a volume transmitter containing multiple `vt` (`vol_multi` in your example above) will be handled in the synapse model?

Sure I can add one, I guess this should include also the `stdp_dopamine_synapse`?

[2021-09-06 10:52] heplesser commented on #2152
I believe (needs to be checked with volume-transmitter experts) that it only makes sense to connect a single VT to a synapse. Therefore, I would raise a `ValueError` exception if a user passes a node collection with several elements. In the test example with `vol_multi`, one would have to pass `vol_multi[0]`, `vol_multi[1]`, etc.

Yes, it should be a fully working example of the type of plasticity

[2021-09-06 11:29] hakonsbm commented on #2151
1. The version that our script mimics is not an official version of Arbor, but a branch that implements receiving spikes from NEST (https://github.com/apeyser/arbor/tree/feature/nestio). That branch is based on Arbor master a few commits after version 0.2.2, from 2019.
2. The FULL build includes MUSIC, but NEST cannot be compiled with both MUSIC and the Arbor backend because they are mutually excl

[2021-09-06 14:39] med-ayssar opened #2153 "Installation Path"
**Describe the bug**
Calling the cmake command with "DCMake_INSTALL_PREFIX:PATH" flag containing an empty string (space) at the beginning of the path, results in installing the "nest-simulator" in the "/bin" and "/lib" folders, as well as setting the prefix to an empty string (i.e NEST_SIMULATOR_INSTALL_LOCATION = nest.ll_api.sli_func("statusdict/prefix ::")  will best set to empty).

**To Reprodu

[2021-09-06 20:08] heplesser commented on #2151
That should be made very clear in the test, and in the arbor backend code (which seems to lack any documentation, both user and developer doc). I'd suggest to give the precise hash of the Arbor version that this is based on.

That is unfortunate. I guess it is related to control over the MPI communicator?

[2021-09-06 20:15] heplesser commented on #2101
@hakonsbm Any news on this?

@sanjayankur31 Is it really `-DGLIBCXX_ASSERTIONS` or `-D_GLIBCXX_ASSERTIONS` with leading underscore?

[2021-09-07 07:08] hakonsbm commented on #2151
Will do.

That is my guess as well. @jougs may know more about it.

[2021-09-07 07:10] hakonsbm commented on #2101
@heplesser I'm still planning to look into it.

[2021-09-07 07:56] sanjayankur31 commented on #2101
There's a leading underscore: `-D_GLIBCXX_ASSERTIONS`. I'll correct the bug text now.

These are the default compiler flags that all Fedora packages are built with (for an x86_64 system):

[code]

[2021-09-07 08:05] jougs commented on #2151
I totally agree with the assessment so far, but  want to add some additional points: To the best of my knowledge no one ever used the Arbor *recording* backend (I'd really like that term used, as there are also *stimulation* backends and this is not one of them) and it never really left the proof of concept phase. Considering the ancient version of Arbor against which we build, the code is unmaint

[2021-09-07 08:11] heplesser commented on #2151
@jougs I agree with your analysis and suggestion. To move on (and avoid shipping "unstable" code with NEST 3.1), I suggest that we remove the Arbor backend including tests from NEST master immediately. Once the new module system is ready, we prepare an extension module with the Arbor backend. That could then even have a test setup including a real Arbor.

@espenhgn might also be interested in this

[2021-09-07 10:01] heplesser opened #2154 "Review coding style in do_tests.sh"
As commented by @terhorstd [here](https://github.com/nest/nest-simulator/pull/2148#discussion_r703342693), we use very complex shell constructs in parts of our test setup, e.g.

https://github.com/nest/nest-simulator/blob/099a962f3ca1b19f40058d8290746b2413a3ed5c/testsuite/do_tests.sh#L487-L489

We should see if this can be simplified.

[2021-09-07 10:55] w-klijn commented on #2151
Stability is important. The code will not be lost and can be updated at a later stage.

[2021-09-07 19:52] niltonlk commented on #2101
Since I also use Fedora, tried with `-D_GLIBCXX_ASSERTIONS` flag on latest master (master@099a962f3):
[code]
[code]
Resulted in some installcheck errors:
[code]

Find attached the installcheck log file:
[installcheck.log](https://github.com/nest/nest-simulator/files/7123994/installcheck.log)

[2021-09-07 22:22] jougs commented on #1454
@marcelkrueger: could you explain a bit how Insite can help here? Thanks!

[2021-09-08 07:54] heplesser commented on #2101
The failing tests (unittests, mpitests) point to real problems which we need to investigate (see installcheck.log file uploaded by Nilton).

Strangely, the pytests did not run, why test_blockvector is shown in the report above I do not quite understand. The output at the very end of the installcheck is very strange. Nilton, could you post the "test setup summary" that is printed at the beginning o

[2021-09-08 08:05] sanjayankur31 commented on #2101
Just a note: there are container images for Fedora available if someone needs a Fedora like installation to debug this. (One can install necessary packages etc. using `dnf` in the container)

https://hub.docker.com/_/fedora

https://docs.fedoraproject.org/en-US/neurofedora/containers/#_using_the_fedora_release_containers_interactively

[2021-09-08 08:08] hakonsbm commented on #2101
@heplesser Pytests didn't run because the `pytest-timeout` package isn't installed. It crashes with the error message `error: unrecognized arguments: --timeout`. The testsuite should check if `pytest-timeout` is installed and give a more informative message if it's not. `test_blockvector` is in the C++ tests.

[2021-09-08 09:49] heplesser commented on #2101
@hakonsbm Thanks, I just created a PR that will handle this properly.

@niltonlk You need to install `pytest-timeout` to run the Python tests. It avoids that tests get stuck forever.

[2021-09-08 09:53] w-klijn commented on #2151
I did a quick check with the Arbor people and the rest of the cosim team. The interface appears to be not longer in use.

[2021-09-08 12:06] niltonlk commented on #2101
I have now intalled pytest-timeout. I have also checked on the unittests failures, and fixed part of them. I will open a PR shortly. Here is the intallcheck summary:
[code]
And attached is the intallcheck log.
[installcheck.log](https://github.com/nest/nest-simulator/files/7128686/installcheck.log)

[2021-09-08 12:24] heplesser commented on #2101
@niltonlk Thanks for your efforts, I am looking forward to your PR! Interestingly, you have only 498 pynest tests (vs 663 otherwise) and none of the 166 "pynesttest mpi 2".

[2021-09-08 12:27] niltonlk commented on #2101
Just noticed that I forgot to allow oversubscribe... will redo the intallcheck and report back.

[2021-09-08 13:29] espenhgn commented on #2151
This functionality is of little use to me if it does not support an Arbor version with the place_pwlin API which to my knowledge was added much more recently.

[2021-09-08 18:55] niltonlk commented on #2101
The number of pynest tests seems to be related to the `-D_GLIBCXX_ASSERTIONS` flags:

### Without `-D_GLIBCXX_ASSERTIONS` flag:
`cmake -DCMAKE_INSTALL_PREFIX:PATH=/opt/lib/gcc/nest/fedora -Dwith-mpi=ON ../src/`
[code]
`make installcheck`
[code]

### With `-D_GLIBCXX_ASSERTIONS` flag:
`cmake -DCMAKE_INSTALL_PREFIX:PATH=/opt/lib/gcc/nest/fedora_D_GLIBCXX_ASSERTIONS -DCMAKE_CXX_FLAGS="-D_GLIBCXX_ASSE

[2021-09-09 05:27] heplesser commented on #2101
The raw Python test output in the installcheck log is quite garbled, since we run tests in parallel. To get a more readable log, change `--numprocesses=auto` to `--numprocesses=1` for debugging here:

https://github.com/nest/nest-simulator/blob/98b2fb4d284d38f7489dba3afc9158a611274ccf/testsuite/do_tests.sh#L474

The two-process MPI Python tests seem to not report because the last of them seems to

[2021-09-09 08:55] niltonlk commented on #2101
There was an error in the conditional expression in pulsepacket_generator. Fixing it, corrected not only test_pulsepacket_generator.sli, but recovered the missing pynest tests. There is now 2 failures left.
[code]
[installcheck.log](https://github.com/nest/nest-simulator/files/7135025/installcheck.log)