[2016-05-20 08:14] heplesser opened #356 "Refactor parameter checking into synapse classes"
Currently, `ConnBuilder::check_synapse_params_()` blocks the setting of certain paramters on synapses by inspecting the synapse type. The blocking rules are explicitly coded in the method, although they reflect properties of the underlying classes.
This needs to be refactored into the synapse classes. As a first step, necessary tests need to be written.

[2016-05-20 08:24] heplesser opened #357 "Make common properties queriable"
Currently, the common properties of synapses are only defined implicitly by them being part of the CommonProperties subclass of a synapse and in the documentation. This makes automatic testing impossible and thus leads to untested code and errors due to wrong assumptions.

I propose a s system similar to what is used in the multimeter, where recordables are registered and automatically reported in

[2016-05-20 08:44] heplesser opened #358 "PyNEST test suite crashes under OpenSuSE 13.1"
The PyNEST test suite crashes under OpenSuSE 13.1, both compiled with -O2 and -O0. The problem has been reproduced on several systems, but only under OpenSuSE 13.1 with gcc 4.8.1 or 4.9.2.
### Comment by @wschenck

Running the crashing test directly

[code]

from IPython works without problems.

My strong guess is that memory corruption happens elsewhere, and that crashing of this specific test wi

[2016-05-20 08:46] heplesser opened #359 "Mark skipped SLI tests as skipped, not success"
Tests testing for/against crashing code using `crash_or_die`, `failbutnocrash_or_die` or `passorfailbutnocrash_or_die` can only be run if NEST has been compiled without MPI, because they `shpawn` a separate NEST instance.

This also applies to tests skipped by `exit_test_gracefully`.

Currently, these tests exit with exit code 0, flagging success when NEST is built with MPI. They should return a v

[2016-05-20 08:52] heplesser opened #360 "Remove all uses of FindConnections"
`FindConnections` has long been deprecated, but is still used in some 70 places in NEST. It has to be replaced by `GetConnections` everywhere and removed.

[2016-05-20 08:57] heplesser opened #361 "Clearly document that threading in NEST should not be combined with multiple threads in Python"
Threading with python is bad.
Threading with Nest & python is really bad.
Threading with Nest & python & openmp is really really bad (SEGV bad often).
The question is: should this simply be declared "cave canem", or should we preempt by checking that python is running on the main thread (and to what extent is even that well-defined?) when nest is entered if openmp is active. I'm referring to havin

[2016-05-20 09:02] heplesser opened #362 "Prohibit binomial and poisson distributions for parameters with physical dimensions"
The binomial and Poisson distributions are meant for dimensionless variables (count data), not for physical quantities like weights and delays. This is because unit conversion, e.g., between nA and pA would a) potentially not be possible because only integers are allowed, and b) change the shape of these distributions. This becomes apparent for instance in the conversion between PyNN and NEST.
The

[2016-05-20 21:28] jakobj commented on #360
I think this is partly addresses by #221 (we removed the pynest FindConnections function). Should we make sure to remove all references to FindConnections in that PR or wait until the merge and create a new one?

[2016-05-20 22:18] jougs commented on #360
Cool! You can just do this in the aforementioned PR. I'll happily review it then. Many thanks.

[2016-05-20 22:25] jakobj commented on #352
If no one minds, I'd give this a try. @heplesser if that's OK please assign the ticket to me.

[2016-05-21 17:06] heplesser commented on #352
@jakobj Great that you want to work on this! All the "mechanics" should be in place from the Connect framework, but need to be applied to neuron initialization. The [`ConnParameter` class](https://github.com/nest/nest-simulator/blob/193594f9ce199a0db1322e7752da00237a671f4b/nestkernel/conn_parameter.h#L55) represents parameters and can be used for neuron as well as for synapse parameters. We should

[2016-05-21 17:09] heplesser commented on #360
@jougs #221 started out as a bug fix and has grown steadily; it has now been pending for four months. I think I would not burden it with even more things to do. Could you look it over and merge, assuming you are happy? Then @jakobj can work on this issue with #221 already merged.

[2016-05-24 05:37] steffengraber opened #363 "Extend the help extractor to understand conditional compilation"
Currently, the help extractor reads all source files and extracts the documentation, no matter if the function is enclosed in a #ifdef block or not. This means that the helpdesk may contain documentation for functions or models that have not been compiled, which frequently confuses users.

This is a follow-up to trac 713.

[2016-05-24 05:38] steffengraber commented on #363
Please label this with 'documentation'.

[2016-05-26 13:32] sanjayankur31 commented on #217
I think this issue should now be closed :)

[2016-05-26 13:36] heplesser commented on #217
Fixed by #217.

[2016-05-26 13:36] #217 closed

[2016-05-26 15:23] apdavison opened #368 "Incorrect summation of synaptic currents for `iaf_psc_exp_ps`"
When two inputs, with equal but opposite weights, converge on an `iaf_psc_exp_ps` neuron with different time constants for the `ex` and `in` synapses, the voltage trace is flat. This problem does not occur with `iaf_psc_exp` or if the inputs arrive at different times.

To reproduce, run the following once with `precise=True`, again with `precise=False`:

[code]

_`precise = False`_
![without_ps](h

[2016-05-26 15:54] Silmathoron opened #369 "Connect does not accept any iterable (e.g. numpy.array)"
The following code should (IMO) work with nest:

[code]

However, it does not: `nest.Connect(gids.tolist(), sd)` is instead required. Furthermore, the error message is `pynestkernel.NESTError: ArgumentType in Connect: The type of the second parameter did not match the argument(s) of this function.` which confuses people seeing it for the first time.

I think adding a conversion for any iterable to

[2016-05-26 22:03] heplesser commented on #368
One ignores Donald K at ones own peril: premature optimization is the root of all evil .... The problem is that [`SliceRingBuffer::get_next_spike()`](https://github.com/nest/nest-simulator/blob/abe8f7275468db5e65c11fd3e204a84241e6800a/precise/slice_ring_buffer.h#L207) sums all spikes arriving at *exactly* the same time and then returns the summed weight. In the test case, this sum is zero, thus th

[2016-05-26 22:07] heplesser opened #370 "Create iaf_psc_alpha_ps"
We currently have models `iaf_psc_exp_ps` and `iaf_psc_delta_ps`, which are direct precise equivalents of their normal counterparts. Create `iaf_psc_alpha_ps` as direct counterpart to `iaf_psc_alpha`. Currently, we only have `iaf_psc_alpha_canon`, which only has a single synaptic time constant, while `iaf_psc_alpha` has different time constants for E and I synapses. The `_canon` and `_presc` model

[2016-05-26 22:14] heplesser commented on #369
@Silmathoron You are basically right, and we are working on it, especially @jougs. Some time ago, we introduced `GidCollections`, which represent sequences of GIDs in compact form, so that the `Create()` call could return a very compact representation of the GIDs created instead of a full list. In Python, `GidCollections` will behave like iterables, and any functions currently expecting lists of G

[2016-05-27 06:38] Silmathoron commented on #369
Ok, thanks, it's just that since it came up several times in the mailing list and I wasn't seeing anything on the issue tracker, I wanted to make sure everybody knew about it. Good luck with the update!

[2016-05-27 17:48] Silmathoron commented on #370
It's in my [PR](https://github.com/nest/nest-simulator/pull/229), but it's a GSL version...

[2016-05-30 13:10] codeteam17 opened #372 "nest::Scheduler crashes with assertion error."
Changing firing rates of Poisson spike sources in successive runs causes assertion error in nest::Scheduler:

[code]

The network is build in PyNN this way:

[code]

Interestingly, running only 2 iterations instead of 5 works like a charm. After 3rd change of firing rate kernel fails.

Fully functional (runnable) example is attached, with exact network weights and firing rates used.
[minimal_examp

[2016-05-30 18:37] adamhaber opened #373 "NEST Testsuite Summary"
Just installed NEST, ran the test suite and encountered some problems.

I'm attaching the requested logs and would be happy to answer any questions in case I can help.

[nest logs.zip](https://github.com/nest/nest-simulator/files/289971/nest.logs.zip)

[2016-05-30 22:23] heplesser commented on #373
@adamhaber Thank you for your report. Which OS, compiler, MPI library, Python version are you using?

[2016-05-31 05:30] adamhaber commented on #373
OSX 10.11.5, Python 2.7 (anaconda). How can I check for compiler version and MPI library?

[2016-05-31 06:30] heplesser opened #374 "Convert Topology User Manual to IPython Notebook / Markdown"
The Topology User Manual is currently available as a PDF document. Convert it either to IPython Notebook, Markdown or other modern format suitable for online use.

[2016-05-31 06:41] heplesser commented on #373
@adamhaber I assume that you compiled with the standard compiler under OSX, which is clang. Unfortunately, NEST and clang have some issues (see #74).

The easiest way to install NEST on a Mac is to install it via the Homebrew package manager:

1. To install homebrew, follow the instructions here: http://brew.sh/
1. Then, in a terminal
    1. Add the homebrew/science tap: execute `brew tap homebrew

[2016-05-31 06:41] #373 closed

[2016-05-31 06:47] heplesser opened #375 "Update installation instructions"
The [installation instructions on nest-simulator.org](http://www.nest-simulator.org/installation/) are \ outdated or about to become outdated (CMake transition) and lack a table of contents, so that it, e.g., would be clear that OSX instructions come further down on the page.

The page should be revised completely.

[2016-05-31 06:55] heplesser commented on #375
@steffengraber As a first step, could you add the following right at the beginning of the installing on OSX section:

The easiest way to install NEST on a Mac is to install it via the Homebrew package manager:

1. To install homebrew, follow the instructions here: http://brew.sh/
1. Then, in a terminal
    1. Add the homebrew/science tap: execute `brew tap homebrew/science`
    1. For information

[2016-05-31 09:09] steffengraber commented on #375
@heplesser
I have added the text into the website and grayed the following text about OSX.
http://www.nest-simulator.org/installation/

and integrate it in my pull request #371

[2016-05-31 11:02] sanjayankur31 opened #376 "Provide verbose error information when MPI_Init_thread fails"
I've been having some weird issues with our cluster - my simulation just errors out with these:

[code]

The mpi_manager doesn't quite provide any more details and this makes the error quite hard to debug. Would it be possible to use the `MPI_Error_string` method in mpi_manager.cpp to provide more information to the user when the `MPI_Init_thread` method fails?

[Example error file from MPI simula

[2016-05-31 11:35] heplesser opened #377 "Importing NEST into Python modifies sys.argv"
Importing NEST into Python modifies the content of `sys.argv`. It does not matter whether NEST is imported before or after `sys`.

To reproduce, save the following code into a file:
[code]
Then run with varying number of command line arguments, e.g.:
[code]

Note that the first entry is changed (`pynest` instead of `st.py`) and, for more than two command line arguments, also subsequent arguments.

[2016-05-31 11:59] heplesser commented on #377
This was probably introduced by db73559, see also issue #163 and PR #164.

@apeyser and @mdjurfeldt : You wrote or reviewed the PR, could you take a look? I am wondering how to write a good, automatic test for this.

[2016-06-01 09:37] codeteam17 commented on #372
Is there any suggestion how setting firing rates of Poisson spike sources could cause crash in Scheduler? How those two are connected?

[2016-06-01 14:39] sanjayankur31 opened #381 "Travis builds failing"
A change in the llvm apt repository seems to be causing test travis builds to fail. Error output:

[code]

[2016-06-01 14:40] sanjayankur31 commented on #381
Closing duplicate of #380.

[2016-06-01 14:40] #381 closed

[2016-06-01 22:31] laurentperrinet opened #382 "failing to run NEST + Python 3"
I could compile NEST wrt python3 on macosx (with homebrew) using

[code]

(see http://blog.invibe.net/posts/2016-06-01-compiling-and-using-pynn-%2B-nest-%2B-python3.html)
but I fail running an example:

[code]

any guidance is welcome!

[2016-06-02 06:23] heplesser commented on #382
@meduz We just added a formula for nest to Homebrew, so the recommended way to install NEST under OSX is now via Homebrew:

1. Add the homebrew/science tap: execute `brew tap homebrew/science`
1. For information on what options NEST has and what will be installed, execute `brew info nest`
1. To install nest with Python, execute `brew install nest --with-python`. This will install the most recent r

[2016-06-02 19:31] jakobj commented on #352
thanks @heplesser, i agree that we can reuse and should rename `ConnParameter`. from what i've gathered so far `SetDefaults` is called whenever `Create` is called. i am not sure yet, where i can see this in the code, it seems to be some sli dictionary magic. ;) the issue then is: if defaults are changed to initialize all nodes during one connect call with the specified parameters, at which point s

[2016-06-02 20:29] meduz commented on #382
This seems perfectly timed!

As I wished to compile for python3, I used your second solution which worked perfectly.
(Sorry I could not test the brew recipe.)

Thanks a lot,
Laurent

PS: updated instructions on http://blog.invibe.net/posts/2016-06-01-compiling-and-using-pynn-%2B-nest-%2B-python3.html

[2016-06-03 08:29] heplesser commented on #382
@meduz Great, and thank you for blogging about NEST! You may want to mention that the compiler switches to cmake are only necessary on OSX; under Linux, things should work without them.

[2016-06-03 08:44] heplesser commented on #352
@jakobj The default parameter values are set and reset in [`Create_l_i_D` at the SLI level](https://github.com/nest/nest-simulator/blob/9faa71e51c9413657a909ad8ecbb8b5d5923693c/lib/sli/nest-init.sli#L160).

We might want to move this down to the C++-level and proceed as follows:

1. Fixed parameters are set as defaults in the model prototype (and reset later).
1. All other parameters (either rando

[2016-06-03 11:17] sanjayankur31 commented on #376
Using `MV2_DEBUG_SHOW_BACKTRACE=1 /usr/local/bin/mpiexec -n $NUM_NODES ... ` gives some more info. Now I get:

[code]

Still doesn't really clarify where the issue is. This is with mvapich2. I'm going to switch to mpich to test it now.

[2016-06-03 14:04] sanjayankur31 commented on #376
It works flawlessly with mpich, so I've just switched to it at the moment. Leaving this issue open until someone figures out how to handle MPI errors.

[2016-06-07 12:59] sanjayankur31 opened #388 "Use codecov.io to generate code coverage reports"
Just a nice to have. According to https://github.com/codecov/example-python, just two new lines are required in the travis.yml file:

[code]

Nose already supports codecoverage as shown here: https://github.com/codecov/example-python#using-nosetests.

Github/codeconv integration: https://github.com/integrations/codecov

Of course, codecov.io is free to use for public repositories, similar to travi

[2016-06-08 07:30] apeyser opened #390 "INSTALL does not have complete cmake instructions for BlueGeneQ"
Does not work:

[code]

[code]

is needed... but still does not work, because LTDL_LIBRARIES are not found.

Additionally the INSTALL says:
"It is recommended to build statically on larger BlueGene/Q systems."

Who says so? That hasn't been an issue on BGQ systems for more than a year. The problem is that the CMake code is incomplete/incorrect/hacked, and not any essential problem with dynamic loa

[2016-06-08 09:41] tammoippen commented on #390
Hi @apeyser,

See the official [Compiling and Tuning Applications on JUQUEEN](http://www.fz-juelich.de/ias/jsc/EN/Expertise/Supercomputers/JUQUEEN/UserInfo/CompilingTuning.html) site:

See [here](http://www.fz-juelich.de/ias/jsc/EN/Expertise/Supercomputers/JUQUEEN/UserInfo/SharedLibraries.html?nn=1113336) for further information how to generate shared libraries and create dynamic executables in C

[2016-06-08 11:19] apeyser commented on #390
@tammoippen
Thanks for identifying who's to blame for the incomplete advice.

NB: That's old, and for most applications it's an urban myth. XLC compiles by default statically to hack around bad build scripts from the early days on BGQ when GPFS hadn't been tuned properly, which then required counter-hacks to turn dynamic linking back on --- the usual bad design leading to further bad design. If yo

[2016-06-08 14:35] apeyser commented on #377
@heplesser
Does this happen with and without MUSIC, only with MUSIC or only without MUSIC? And how was this found --- does someone have a particular problem arising from this?

[2016-06-08 15:44] apeyser commented on #390
@tammoippen
So with:
[code]
I get:
[code]

So it looks like the pthread tool chain that I'm picking up references some dl pieces.

[2016-06-08 21:20] heplesser commented on #377
@apeyser I have only tested this without MUSIC. I noticed the problem when running a Python script that receives simulation parameters on the command line, see the toy example below. The problem is that this script will see the modified command line arguments unless I move `import nest` after the point where I read out the command line arguments. Scripts should not depend on such ordering

[code]

[2016-06-08 22:52] heplesser opened #392 "Improve robustness, markup and parsing of build log on Travis"
The work on #380 and #391 revealed that the build log generated on Travis should be improved:
- Instead of relying on text or commands, introduce explicit marker lines with special format for mark the beginning and end of certain sections, e.g. `======= BEGIN VERA =======` and  `======= END VERA =======`. This will allow for much more robust parsing, even as the content of sections evolves.
- If t

[2016-06-09 08:36] tammoippen commented on #220
@sanjayankur31 The variable `CMAKE_CXX_STANDARD` is first introduced to cmake 3.1. We need to change the `cmake_minimum_required()` version then, since the standard cmake on most distributions is still 2.8.12, e.g. on JUQUEEN. We should look for a backward compatible way, e.g. something discribed [here](https://stackoverflow.com/questions/10851247/how-to-activate-c-11-in-cmake).

[2016-06-09 09:36] sanjayankur31 commented on #220
@tammoippen sure, that makes sense in general. This commit is luckily not a change related to a feature that was added in C++11, so it shouldn't break anything.

[2016-06-09 10:24] tammoippen commented on #390
@apeyser
`INSTALL:142`:

`pynestkernal.so` has to be a shared library for Python to load it -> you can only build shared libraries with XLC if additional flags are set -> the flags become set, when we decide for `-Dstatic-libraries=OFF`, then the flags are set in the same way as in the original BG/Q toolchain files.

Compiling with python3 on JUQUEEN would look like this:
First, cythonize `pynestk

[2016-06-10 10:13] sanjayankur31 commented on #388
Another option: https://coveralls.io/

[2016-06-10 12:10] apeyser commented on #377
Command line parameters have been liable to corruption since pynest was written. The exact symptoms depend on python version, cython version and compiler.

Pull #393 should fix it.

[2016-06-10 13:05] #220 closed

[2016-06-11 10:19] zuoxingdong opened #394 "PDF Tutorial and IPython Notebook based examples"
Is there a possibility to maintain a set of PDFs of the tutorials (i.e. Introduction to PyNest on the web) for easier update and review.

In addition, it might be very interesting to have IPython notebooks of either exercises to practice basic usage of NEST or examples of networks both with usage of APIs and corresponding visualizations.

[2016-06-13 10:29] abigailm commented on #394
The tutorials are here: http://www.nest-simulator.org/introduction-to-pynest/
They have some formatting errors which we will take care of soon.

[2016-06-13 10:29] #394 closed

[2016-06-13 20:39] ManuNeuro opened #396 "Dynamic normalization of activity"
Hi everyone,

I'm new in the nest developpement, and I had questions about how to develop neuron models.

Following Abigail advise in a thread to the mailing list, I'm posting my issue here, hopping that you could help me !
http://mail.nest-initiative.org/cgi-bin/mailman/private/nest_user/2016/004678.html

So, I'd like to implement a dynamic normalization over activity, the principle is the follow

[2016-06-14 11:21] tammoippen commented on #392
Please see #395 if it fixes most of the points.

[2016-06-14 13:38] shahidbright commented on #259
Hi, I am also getting problem in installing nest on ubuntu 14.04 LTS

i have a separate build library and I configured nest with libneurosim which was fine
i am inside build directory then run following command
(previously I was doing mistake that I forgot to mention trunk in the end but now I am doing with trunk in a fresh nest build directory)
../nest-2.10.0/configure --prefix=/home/shahid-linux

[2016-06-14 14:55] shahidbright opened #398 "PyNEST test fail during make installcheck"
Hi,

after running make installcheck command, everything was good except I got one error;

NEST Testsuite Summary
----------------------
  NEST Executable: /home/shahid-linux/anaconda2/bin/nest
  SLI Executable : /home/shahid-linux/anaconda2/bin/sli
  Total number of tests: 206
     Passed: 205
     Failed: 1 (1 PyNEST)

What to do and what will be its consequences ? I am new to PyNN and NEST.

[r

[2016-06-14 19:35] heplesser commented on #240
@sanjayankur31 I just merged #284. I hope that solves the issue you raised. Would you close it if you are satisfied?

[2016-06-14 21:26] sanjayankur31 commented on #240
Yes. Thank you! Closing.

[2016-06-14 21:26] #240 closed

[2016-06-15 09:27] apeyser commented on #390
@tammoippen
"Loading the PyNEST .so works, but some dependancies are missing, e.g. scimath, which causes loading PyNEST completely to fail ."

I've gotten to where you are.
Nope, it's not missing dependencies, but a broken environment. The question now is, since it was working before cmake, is it a cmake change or a library change (did some library way inside get broken and thus leading to these s

[2016-06-15 13:28] sanjayankur31 commented on #101
This one is fixed - needs closing @heplesser , @jschuecker

[2016-06-15 16:50] sanjayankur31 opened #400 "Use pandas.read_csv instead of numpy.loadtxt"
This explains it: http://akuederle.com/stop-using-numpy-loadtxt. (numpy.loadtxt is extremely slow compared to pandas.read_csv.)

One place where numpy.loadtxt is used is in the [raster_plot.py](https://github.com/nest/nest-simulator/blob/master/pynest/nest/raster_plot.py) file.

Not the most urgent issue, but something that can be updated when there's time.

[2016-06-15 17:00] #101 closed

[2016-06-15 17:11] heplesser commented on #400
@sanjayankur31 Thank you for pointing this out! I think we should take this up at one of the next developer meetings, since it would make Pandas a requirement for PyNEST. I think there are many excellent reasons for this, but we should still discuss it in a bigger group.

As an aside: For interactive work, you can pass the `events` dictionary returned by `GetStatus` on a recording device directly

[2016-06-16 05:52] BiaDarkia opened #401 "Error during make in slistartup.cc"
I am trying to install NEST on arch linux, but keep receiving an error message when running make. I run the following commands for configure and make:
[code]

I receive the following error message:
[code]

Does anyone have any idea what may cause the issue?

[2016-06-16 07:51] heplesser commented on #401
@BiaDarkia You are probably using GCC 6 as compiler, which by default follows the C++11 standard, breaking some code. This is a duplicate of #220, which has been fixed by #389, but this was after the 2.10.0 release.

You have three options:
- Run configure adding `CXXFLAGS="-std=c++98"` to the configure line to enforce use of C++98 standard
- Pull the newest NEST sources from Github (note: they us

[2016-06-16 13:36] tammoippen commented on #398
Hi @shahidbright,

The issue is [known](https://github.com/nest/nest-simulator/issues/210#issuecomment-175524931). See #210 for a discussion. In #323 the issue was fixed, so I assume you are using NEST 2.10?

The problem is that PyNEST only finds the `libreadline.so` from Anaconda, which is lacking some symbols, i.e. it does not link against `libncurses`. You can either install NEST from the maste

[2016-06-17 02:13] BiaDarkia commented on #401
Thank you for the help. I tried searching for similar issues first, but didn't find the ones you are referencing. I managed to get NEST up and running by pulling the newest source code from GitHub and building with cmake.

[2016-06-17 07:54] heplesser commented on #401
@BiaDarkia Great! I will close the issue then.

[2016-06-17 07:54] #401 closed

[2016-06-17 14:48] #377 closed

[2016-06-18 18:14] jakobj commented on #352
thanks for the poiner @heplesser. i now moved the current functionality entirely to the C++ level. this works quite nicely. i'll look into random distributions now. you can see the changes in my branch: https://github.com/jakobj/nest-simulator/tree/fix352_random_initialization_neurons

[2016-06-19 10:10] heplesser commented on #352
@jakobj Looks very good! I cannot comment directly in your code, so I will do it by link.

- [< 1 neuron error](https://github.com/nest/nest-simulator/compare/nest:52e14b5...jakobj:48d98d3#diff-371fef123b62af2b34f8800d45f346ebR189): should be "strictly positive", positive includes 0.
- [Invalid parameter error](https://github.com/nest/nest-simulator/compare/nest:52e14b5...jakobj:48d98d3#diff-371fe

[2016-06-19 11:24] heplesser commented on #396
@ManuNeuro
- ` S_.s0_ = V_.P00_;` should be ` S_.s0_ *= V_.P00_;` to implement the exponential decay of the saturation variable.
- Spike input is handled incorrectly:

[code]

   These lines are executed during every update step, so you hike `S_.s0_` on each step, independent on whether a spike has arrived or not. What you probably want is

[code]

    where `unweighted_spikes_` is a ring buffer l

[2016-06-19 11:53] gewaltig opened #402 "nest-similator.org broken on MacOS"
The nest-simulator.org site does nor display properly on Chrome and Safari.
<img width="1146" alt="screen shot 2016-06-19 at 13 50 25" src="https://cloud.githubusercontent.com/assets/2889878/16177142/2e89664e-3625-11e6-92e5-313f14ad569a.png">

[2016-06-19 15:46] jakobj commented on #352
Thanks @heplesser for the comments. I implemented `DictsEqual` by two calls to `SubsetQ`. That seems to work fine.

[2016-06-19 20:42] heplesser commented on #402
@steffengraber I can confirm the problem on Safari 9.1.1 under OSX 10.10.5. Safari also does not display the graphics, but at least it does not let the figure caption into the menu below.

[2016-06-19 21:39] lekshmideepu commented on #402
It works fine with me on Safari 9.0.2 under OSX 10.11.2

[2016-06-20 05:32] steffengraber commented on #402
Hi  @gewaltig  and @heplesser
I need some more information.
Could you please go to nest-simulator.org again and open the Safari Console. I think you can do that with:

1. Command-Option-I (Web Inspector)
2. Command-Option-C (Console)

If this do not work, open the Safari Web Inspector and find the console, like it is described here: https://developer.apple.com/library/mac/documentation/AppleApplic

[2016-06-20 07:11] heplesser commented on #402
@steffengraber Now it works (and I am rather certain that it has worked in the past as well, but definitely not last night).

Note: To get to the Web Inspector/Console, one first needs to go to Preferences > Advanced and check off "Show Develop menu in menu bar". Then one finds Inspector and Console in the Develop submenu.

[2016-06-20 10:01] jougs commented on #259
It looks like the path you're giving to `--with-libneurosim` is the path of your checkout of the libneurosim source code. This is wrong. The path you have to give to this option is the install path, to which you installeded libneurosim.

[2016-06-20 10:25] apeyser commented on #400
Suggestion: try to use pandas, and if that fails fallback to our current code
@sanjayankur31 If you try that approach, we'll be happy to extend raster_plot to use panda if it's available

[2016-06-20 10:27] apeyser commented on #398
Duplicate. Closed.

[2016-06-20 10:27] #398 closed

[2016-06-20 10:54] heplesser commented on #392
@gtrensch Given your suggestions for further improvements, I leave this issue open even after #395 is merged and leave it in your care.

[2016-06-20 11:48] shahidbright commented on #259
can you tell me how to find this install path ? I only used these commands

./autogen.sh
./configure --prefix=/home/<user>/anaconda2
make

[2016-06-20 11:59] heplesser commented on #259
@shahidbright Could you move this discussion to the NEST User mailing list. It is really not about NEST development.

[2016-06-20 12:42] shahidbright commented on #259
I just followed the above discussion before me and only presented a similar problem.

[2016-06-20 13:06] jougs commented on #259
@shahidbright: if you installed to `/home/anaconda2`, that's probably the path you're looking for. Inside of the relevant path you should have `include/neurosim/connection_generator.h` if you're unsure.

Just to clarify: this is not a user forum, but a bug tracker. Your question is most likely not a bug in NEST, but a user problem, which we usually discuss on the NEST user mailing list. Please con

[2016-06-20 16:20] felix-schneider opened #403 "Nest running into infinite loop (?)"
I'm encountering an error when running trying to run my network. Nest runs into an infinite loop, using 100% cpu of one core but making no progress. I'm using PyNN, but debugging showed that the loop occurs in nest. I have encountered this behaviour multiple times, it is difficult to predict and highly dependent on the neuron parameters. In a similar example, the error did not occur immediately, b

[2016-06-20 21:31] heplesser commented on #403
@Scaatis I can reproduce you infinite loop. One difference I noticed between your two scripts is

[code]

vs

[code]

The first leads to cm around 10^-3 and to an infinite loop, while the second does not. Multiplying by 1000.0 also in the first scripts makes that script work, too. When configuring the neuron in NEST, PyNN multiplies cm by a factor 1000 internally, so we get in NEST

- `C_m == 1.08

[2016-06-21 09:05] tammoippen commented on #56
@jougs @heplesser @apeyser
Dynamic loading of external user modules is the only reason NEST depends on `libltdl`. This leads to inconveniences, if the library is not present by default, e.g. on JUQUEEN, see [this comment](https://github.com/nest/nest-simulator/issues/390#issuecomment-224540108) in #390. Further it increases the code / project complexity:
* The `DynamicLoaderModule` is responsible

[2016-06-21 09:37] heplesser commented on #56
@tammoippen Thank you for the analysis! I think the next step should be an in-depth analysis of possible use cases (extending your very last remarks above), before we decide on a solution.

[2016-06-21 12:00] apeyser commented on #56
@tammoippen 3 is just another way to do 1?

[2016-06-21 13:26] jougs commented on #56
Would 2 still link the standard modules that come with NEST statically? If yes, I like that most.

[2016-06-22 13:57] tammoippen commented on #56
@apeyser Yes, except that you do not have to compile twice and do not have to hassle with `nest-config`.

@jougs Yes, the standard modules will be linked directly (if static or dynamic depends on whether you build NEST statically or dynamically).

[2016-06-22 16:30] ManuNeuro commented on #396
Okay, first, thank you very much, this helped a lot,

Indeed I want to apply normalization to input spikes.

So now that I understand better, I created separated buffer like that :

[code]

So according to the iaf_psc_alpha model,
https://github.com/nest/nest-simulator/blob/7537a6b68a693eefe375176e2eac31276f08ee77/models/iaf_psc_alpha.cpp

I've implemented the buffers in handle() like that :

[cod

[2016-06-23 03:40] dnao opened #405 "Create iaf_cond_beta"
I am trying to modify the iaf_cond_alpha module to include two synaptic time constants: the rise and decay time of the post-synaptic conductance, as well as external inputs modeled as a constant conductance term. I have committed these changes in my branch: [iaf_cond_beta.cpp](https://github.com/dnao/nest-simulator/blob/condbeta/examples/betacond/iaf_cond_beta.cpp) and [iaf_cond_beta.h](https://gi

[2016-06-23 07:15] heplesser commented on #405
@dnao I had a short look through your code. I think the problem is because you forgot the module files among the sources in [CMakeLists.txt](https://github.com/dnao/nest-simulator/blob/759c16a664aa924ca3f92a04feb22541cd9a411c/examples/betacond/CMakeLists.txt#L40). Here, you need to add `betacond.h` and `betacond.cpp`. You also need to rename `mymodule.cpp` to `betacond.cpp`.

Another problem is in

[2016-06-23 11:42] heplesser commented on #396
@ManuNeuro Fine that it works! Would you close the issue then?

[2016-06-23 13:33] heplesser commented on #402
@steffengraber I made an interesting observation today using Safari: If I am on the nest-simulator.org page and click either "About NEST" or the NEST logo, the page is loaded in the garbled form shown in the screenshot above. When I then click "Reload" (or reach the page by entering its address in the address field), the page is rendered correctly. This behaviour was reproducible.

Not sure whethe

[2016-06-23 13:46] heplesser opened #406 "PyNEST does not handle NEST error messages with non-ASCII characters correctly"
PyNEST does not handle error messages containing non-ASCII characters correctly, at least under Python 2.7.

This is an example of a properly handled error (shortened):

[code]

and here an example that breaks:

[code]

Note that SLI handles this fine:

[code]

This issue was originally mentioned in #405.

[2016-06-23 13:47] steffengraber commented on #402
Hi @heplesser

could you please go to the garbled page, open the Safari Console and send the complete content of it to me.
This would be very helpful, because I can not reproduce this error.

[2016-06-23 13:51] sanjayankur31 opened #407 "Consider supporting HDF5/netCDF for file outputs"
I'm running some simulations - 6000 seconds simulation time - which isn't really too long. I do however have spike files that are 25Gbs to process. Using human readable ASCII formats is nice, but it increases file size and I/O - and I/O is usually the performance bottle neck nowadays. I was looking at how one can improve on this, and the usual solution is to use binary files - but binary files are

[2016-06-23 13:56] gewaltig commented on #402
I gett the same messed up page on Chrome and Safari, so I am not sure Safari is to blame.

[2016-06-23 14:06] sanjayankur31 commented on #407
I'd written a [binary spike monitor for Auryn](https://github.com/fzenke/auryn/blob/develop/src/BinarySpikeMonitor.cpp) which saved a lot of space and I/O - I wasn't aware of HDF then

[2016-06-23 14:06] gewaltig commented on #402
My stats are
MacOS 10.11.5 (15F34)
Chrome Version 51.0.2704.103 (64-bit)
Version 9.1.1 (11601.6.17)

And @heplesser reload trick does not work for me...

[2016-06-23 14:18] gewaltig commented on #402
Here is a transcript of the safari error log:

[Warning] Invalid CSS property declaration at: * (flexslider.css, line 63)
[Warning] Invalid CSS property declaration at: * (flexslider.css, line 82)
[Warning] Unexpected CSS token: : (advps-style.css, line 73)
[Warning] Unexpected CSS token: : (advps-style.css, line 88)
[Warning] Unexpected CSS token: : (advps-style.css, line 98)
[Warning] Invalid CS

[2016-06-23 16:46] ManuNeuro commented on #396
Yeah sure thanks !

In the meantime I was able to train my model with that kind of normalization, which lead to bad results, so I'm going to create another thread to implement static normalization !

[2016-06-23 16:46] #396 closed

[2016-06-23 16:47] dnao commented on #405
Thank you @heplesser . I have implemented the changes you have suggested in [betacond](https://github.com/dnao/nest-simulator/tree/condbeta/examples/betacond) except now I have an error when I try to run "make" after running cmake.
[code]

I am running RHEL7.0 with Anaconda 2.5.0 (Python 2.7.11). I have compiled the latest version of NEST from the master branch. For the MyModule code, I am able to

[2016-06-23 16:53] jougs commented on #405
There's a superfluous `void` in line [155](https://github.com/dnao/nest-simulator/blob/condbeta/examples/betacond/betacond.cpp#L155) of `betacond.cpp`. Removing that should help.

[2016-06-23 18:39] jakobj commented on #352
@heplesser would it be an option to adapt `SetStatus` to accept parameter distributions as arguments? this way we would provide the user with the option of randomizing parameters whenever they feel like it and we could use it in the `Create` command. this requires two passes (one for creation, one for parameter randomization) through all created nodes during a single `Create` call, but it might ke

[2016-06-23 20:43] heplesser commented on #352
@jakobj This sounds like an interesting idea. I suggest we discuss it in the next developer VC.
@jougs What do you think?

[2016-06-23 20:51] jakobj commented on #352
@heplesser another issue i stimbled upon: we can't rename `ConnParameter` to `Parameter` since this collides with a class `Parameter` in topology. the alternative `ParameterInitializer` sounds a bit strange to me. any ideas?

[2016-06-24 02:57] dnao commented on #405
Thank you @jougs . Hopefully I am nearly there. I appear to be stuck now with this error:

[code]

I am confused because the error appears to be caused by the ```iaf_cond_beta``` model itself, which is only a slightly modified version of ```iaf_cond_alpha``` (with some new variables). My reasoning behind this is that If I keep MyModule exactly the same with the only change being the replacement of

[2016-06-24 05:56] heplesser commented on #405
@dnao I think this is a namespace problem. You place all declarations in `iaf_cond_beta` into namespace `nest`, but they should be in namespace `mynest`, since they belong to your module. Even better, you should find a new namespace name for your module, so that you module could be loaded together with modules by other users without any name clashes. You need to use the same namespace in the `beta

[2016-06-24 09:05] sanjayankur31 commented on #407
Here's some data on this:

[code]

Quite a reduction. I've also found that libraries such as [pandas support reading hdf natively](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_hdf.html).

[2016-06-24 09:33] jougs commented on #407
Thanks for the suggestion and your data.

We (@apeyser, @wschenck, @sbillaudelle and I, amongst others) did a lot of research on new  I/O strategies for NEST recently and we're currently in the process of finalizing our code and try to make it available for the next release.

However, we decided against HDF5 in favor of a custom binary streaming format based on our benchmarks. Due to the heavy str

[2016-06-24 10:16] sanjayankur31 commented on #407
Ah, awesome - I look forward to testing the new format (SIONlib?).

I'll just use ASCII + HDF for the time being.

[2016-06-24 10:20] jougs commented on #407
Yes, the new format will be based on SIONlib. I'll update this issue when there's news.

[2016-06-24 11:30] heplesser commented on #352
@jakobj I would suggest doing it the other way around: Rename `Parameter` in topology to `TopologyParameter`, so that `Parameter` will be free for use in NEST generally. I will send you a PR soon.

[2016-06-24 14:25] ingablundell commented on #405
@dnao @heplesser  I think it should be easy to generate this sort of model with NESTML. @DimitriPlotnikov and I will do that.

[2016-06-28 09:38] sanjayankur31 commented on #407
Came across this paper on a "neuroscience simulation data format" - worth a look: http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4823348/

[2016-06-28 09:47] nash169 opened #410 "multi-threading issue with volume transmitter/stdp dopamine synapse"
Hi there,
I got a weird problem using the volume transmitter and the stdp dopamine synapse implemented in NEST. Monitoring the variable 'n' of the stdp dopamine synapse (the firing rate of the dopaminergic neurons) I noticed that his behavior changes depending on the number of threads I'm using. I wrote a small script to test the problem: two neurons are connected each other using a stdp dopamine

[2016-06-28 10:10] mschmidt87 opened #411 "NEST developer version specifies version to '2.10.0'"
The NEST developer version from github specifies its version number to '2.10.0' and is therefore easily confused with the official release version. This is true for the header that is shown on the startup of NEST and for `nest.version()`.

Optimally, this could instead give the commit hash of the source code that was actually used for the code.

[2016-06-28 13:53] Silmathoron commented on #410
Ok, just to show that this does not go away with the latest git source

with 1 thread
![1-thread](https://cloud.githubusercontent.com/assets/8523051/16417976/40829fd0-3d48-11e6-81ee-4be02f744baa.png)

with 2
![2-threads](https://cloud.githubusercontent.com/assets/8523051/16417981/45fd9ffa-3d48-11e6-9100-d375dbea8407.png)

And here is an input from David Kappel on the mailing list regarding a possi

[2016-06-28 20:42] tammoippen opened #412 "CMake confused by simultaneous installation of Python2 and Python3"
When using older versions of `cmake` (before version 3.4, e.g. [here](https://github.com/Kitware/CMake/blob/v3.3.2/Modules/FindPythonLibs.cmake)) the script to find the Python libraries is independent from the script to find the Python interpreter. Thus, it is possible that Python 2.7 interpreter is found, but NEST is linked against Python 3 libraries. In this case, loading the `pynestkernel` does

[2016-06-29 09:53] krishnanj commented on #403
@Scaatis @heplesser : I can reproduce the error and I am looking at the update function now. Will keep you posted!

[2016-06-29 12:58] jougs commented on #360
Solved by #221.

[2016-06-29 12:58] #360 closed

[2016-06-29 13:14] #267 closed

[2016-06-30 00:46] dnao commented on #405
Thank you @heplesser . I have been working through the two files and making namespace changes as appropriate. ```pif_psc_alpha``` provides a good outline but there are a number of differences between the two models (such as the use of GSL and a dynamics function in ```iaf_cond``` models) which have thrown me. My [latest compilation](https://github.com/dnao/nest-simulator/commit/153b6528cc2449877e7

[2016-06-30 06:42] heplesser commented on #405
@dnao You have moved everything in  `iaf_cond_beta.{h,cpp}` into namespace `betanest`, but in `betacond.{h,cpp}`, you still put things into namespace `mynest`.  You need to use the same namespace throughout your module.

Concerning `double_t` and `int_t`: You either need to prefix them with the `nest::` namespace qualifier or you can simply replace them by plain C++ `double` and `int`.

[2016-06-30 11:24] krishnanj commented on #403
`iaf_psc_exp_ps::update()` calls the `emit_spike_` function whenever the voltage is above threshold. `emit_spike_` function calculates spike time by bisection method `iaf_psc_exp_ps::bisectioning_` and the infinite loop appears to happen in the following while condition (for some values of voltage before propagation `V_.y2_before_`):

[code]

If we were not to take the absolute value here:
[code]

[2016-06-30 15:10] heplesser commented on #403
@krishnanj Thanks for your detective work! Dropping the absolute value will make the code pass because the while loop will terminate as soon as the left-hand side of the comparison becomes negative. So the `fabs()` needs to stay.

I assume that we get stuck in an infinite loop as `div` grows and `dt/div` becomes so small that `root` does not change any more. If we add as additional condition `and

[2016-06-30 15:26] heplesser opened #414 "Remove topology manual figures from git"
This is a follow-up to #408. The figure files created while building the Topology User Manual should be deleted after the PDF is built and should not be committed to the Git repo.

[2016-06-30 16:49] sanjayankur31 commented on #187
Is this still a valid ticket after the move to cmake?

[2016-06-30 19:57] astoeckel opened #415 "CLI: Setting verbosity does not work"
According to `nest --help` the command line switch `--verbosity=QUIET` turns off all messages. However, executing

[code]

yields

[code]

Note the log messages with severity "INFO".  The same happens when trying to set the verbosity to "FATAL". Tested with the current git version.

[2016-06-30 20:44] heplesser commented on #415
@astoeckel The messages above are issued when the `RNGManager` is first created during startup, before any command line arguments are read in `SLIStartup`. The code checking for verbosity settings in that constructor is rather weak, actually. So we probably need to re-organize handling of command-line arguments. This is not trivial, especially when interacting with PyNEST and/or Music.

[2016-06-30 21:11] astoeckel commented on #415
@heplesser This sounds like an understandable limitation. Wouldn't it be sufficient to just cache the log messages in the logger until a verbosity level has been set?

I stumbled across this while interfacing with NEST via SLI and stdin/stdout. While it surely isn't hard to ignore log messages in the output, it adds another parsing step. So alternatively, it would be sufficient for me if log messa

[2016-06-30 21:45] heplesser commented on #415
@jougs Could you take a look?

[2016-06-30 21:45] heplesser commented on #300
Fixed by #408.

[2016-06-30 21:45] #300 closed

[2016-07-01 20:00] DimitriPlotnikov commented on #405
@dnao @ingablundell

I did the initial mapping the iaf_psc_delta  ( cf. https://github.com/nest/nestml/blob/master/models/iaf_psc_delta.nestml ) as I found in your fork ( https://github.com/dnao/nest-simulator/blob/condbeta/examples/betacond/iaf_cond_beta.h ). Attached is an example simulation of a single neuron that receives a spike after 200ms:
![iaf_psc_delta](https://cloud.githubusercontent.co

[2016-07-02 08:55] heplesser commented on #405
@DimitriPlotnikov Nice work! Could you plot the difference between the solutions to see if there are any minuscule numeric differences?

[2016-07-02 16:14] meduz commented on #382
thanks for the feedback.

Do you plan to allow for users to mention the version of python they use? Like for ``numpy``, the use of the `` brew install numpy --with-python3 `` option.

thanls,
Laurent

PS: @heplesser I did add a mention to that point

[2016-07-02 20:57] DimitriPlotnikov commented on #405
@heplesser Which solutions do you mean? Currently, more or less very similar code compared to that in NEST is generated (except that there is one unnecessary copy of the state vector before passing it into GSL solver, but it will be improved in during further development).

[2016-07-04 11:29] heplesser commented on #405
@DimitriPlotnikov It seemed to me that the plot you inserted above shows a blue and a green line superimposed, with one line from the original NEST code and one from NESTML-generated code. I was thinking of the difference between those two lines.

[2016-07-04 11:32] heplesser commented on #382
@tammoippen What do you think?

[2016-07-04 11:34] DimitriPlotnikov commented on #405
@heplesser Yes, there are two lines, but they are really same. Do I understand it right: the issues is about adding the iaf_cond_beta to NEST and it is currently not available in NEST? If so I can hardly to the desired comparison.

[2016-07-04 12:00] heplesser commented on #405
@DimitriPlotnikov I am confused: You created one line via NESTML and the other using the cond_beta-implementation proposed here, didn't you? When you say "really the same"---how same? Even a single data point differing by 1e-15 mV can in the long run make a difference in a chaotic system. So either the curves are *identical* (difference is zero everywhere) or they are different. I just want to be

[2016-07-04 12:02] DimitriPlotnikov commented on #405
@heplesser the curves are identical.

[2016-07-05 11:47] heplesser opened #417 "NEST 3.0 Release Meta-Issue"
This issue is a meta-issue to collect a to-do list for the NEST 3.0 release. Consider the list of items below a proposal, based on face-to-face discussions between @jougs and me recently. I suggest to discuss it in the next open developer video conference (including the question whether this should be an issue or rather a wiki post). This list contains ideas for changes that will have a significan

[2016-07-08 13:02] uahic commented on #417
An optional feature which could be though of (in principal) is to use music input/output message ports for steering the simulator remotely ("Nest as a service"). This could work by sending/receiving SLI commands. An issue here might be the output handling, the input should be straight forward. In combination with the the other existing ports altogether this would be sufficient to build/enhance rem

[2016-07-11 10:20] abigailm commented on #31
@apeyser and @heplesser, what is required for this issue to be closed?

[2016-07-11 10:22] abigailm commented on #56
@apeyser, @heplesser, @jougs - what needs to happen for this issue to be closed?

[2016-07-11 10:23] abigailm commented on #74
@heplesser , @jougs - what is the status with this problem, and what needs to happen to close the issue?

[2016-07-11 12:02] sanjayankur31 commented on #212
@tammoippen - this seems fixed already - needs to be closed :)

[2016-07-11 15:41] jougs commented on #31
@abigailm: I think someone needs to review our documentation of the [development workflow](http://nest.github.io/nest-simulator/development_workflow) and check if the information in this issue is contained there. After that is the case, the issue can be closed.

[2016-07-11 16:26] sanjayankur31 commented on #31
I can check the dev workflow if you'd like to assign this to me. :)

[2016-07-11 18:31] abigailm commented on #31
@sanjayankur31 delighted to, thank you! :)

[2016-07-12 06:25] dnao opened #419 "Extremely slow simulation of hh_psc_alpha neurons when V_m is very low"
In the `hh_psc_alpha` and `hh_psc_alpha_gap` models, when V_m < -300 mV, the simulation time increases significantly and the realtime factor approaches 0. The code below should demonstrate the resulting slowdown in simulation time around 12-32 ms as a result of repeated inhibitory stimulus applied between 0 and 30 ms:

[code]

![Image of membrane potential](http://i.imgur.com/dfxJxth.png)

For 'ty

[2016-07-12 13:00] tillschumann commented on #410
What we understood from a short look at the code:
Besides the race condition issue, volume_transmitter doesn’t have proxies (like spike detectors), which means they are available on all virtual processes. But which also means that the volume_transmitters only receive spikes from neurons on the same virtual process.

We just came up with following workaround:
 - change in function has_proxies “retu

[2016-07-12 13:16] jougs commented on #212
@sanjayankur31: thanks for noticing.

[2016-07-12 13:16] #212 closed

[2016-07-12 14:15] abigailm commented on #410
This analysis can't be quite right. The whole point of the volume transmitter is that it receives from everywhere, but only acts on local synapses. And whereas it may not be thread safe, it certainly was tested on distributed set-ups. So it indeed does not have proxies, but crucially local_receiver() returns false (unlike a spike_detector), meaning each instance receives spikes from all sources, n

[2016-07-12 15:04] tillschumann commented on #410
Thanks for the clarification. I was not aware of the local_receiver functionality.
We will try out if the second step is already sufficient than.

[2016-07-13 08:59] sanjayankur31 commented on #31
It looks good! Some minor points/suggestions:

- The "Getting started with Git development" section could have a link to the [Git book](https://git-scm.com/book/en/v2/)?

- "Create your own fork of nest" and "Setup your fork" should be subsections under the main "Making your own fork of nest" section?

- "Development workflow" -> "Suggested development workflow"?

- In the "Basic Workflow" section

[2016-07-13 09:38] jougs commented on #31
Dear @sanjayankur31, many thanks for the good work!

Regarding the use cases: they were mainly there to get things started for us and we were planning to remove them. Do you think we need them? If yes, we can also polish them instead.

Would it be possible to start a pull request containing your suggestions? The developer space pages are contained in the branch `gh-pages` of the `nest-simulator` r

[2016-07-13 11:41] sanjayankur31 commented on #31
I think they can be removed then.

Sure. I'll begin working on this now.

[2016-07-13 13:51] krishnanj commented on #403
@heplesser Bisection method takes the voltage value before propagation (which is below threshold) and step `dt` and calculates spike time iteratively. [Generally](http://pastebin.com/NLaqgBsB) the voltage values `y2_before (=y2_root`) are positive and typically close to threshold (since its going to spike in a few ms). In [this](http://pastebin.com/fQcX6ydj) case it seems that in one of the iterat

[2016-07-14 16:10] #31 closed

[2016-07-15 12:43] alberto-antonietti commented on #410
Dear all,
I tried partially the solution proposed by Till.
I worked not on the release 2.10.0, but on the current master branch.

In nestkernel/connection_manager.h

in the function nest::ConnectionManager::get_connections

I have changed the arguments of the for loop (line 1092) in this way:

`for ( thread t = 0; t < kernel().vp_manager.get_num_threads(); ++t )`
      ^^^^^^^^^^^^
became:
`for (

[2016-07-15 13:55] sanjayankur31 commented on #361
I think checking if python is running on the main thread and aborting with an error if it isn't is a good way to go - when nest supports openmp and mpi, I see no reason for people to need multiple python threads.

Checking for the main thread is simple enough: http://stackoverflow.com/questions/23206787/check-if-current-thread-is-main-thread-in-python

To begin with, some mention of this in the us

[2016-07-18 15:11] apeyser commented on #412
@jougs @gtrensch
What cmake are we supporting? If it's >=3.4, we can close this as won't fix.

[2016-07-18 15:14] apeyser commented on #56
@heplesser @abigailm

I believe we'd have to come to a decision on what dynamic module capabilities to offer re: tammo's analysis, and then actually do it.

I'm not sure who's offering the programmer time for this, now that Tammo is gone.

[2016-07-18 17:06] jougs commented on #412
Can we make this so, then? Ubuntu Xenial Xerus(16.04) has 3.5.1. I'd rather not invest time in supporting old packages that can either be gotten from the distribution or source.

If we agree that we drop support for older versions, we need to adapt [INSTALL](https://github.com/nest/nest-simulator/blob/master/INSTALL), which currently says

[2016-07-20 08:48] tammoippen commented on #412
Keep in mind, that Juqueen and other compute clusters might have older versions installed. We would require users to install cmake in this case.

[2016-07-20 11:34] jougs commented on #412
@tammoippen: true.

There are pre-built statically linked versions on the cmake homepage, so installation is not so complicated. but I'm not sure if we should burden people with that if they just happen to have an older distribution.

On the other side, I seem to be the only one hitting this problem regularly and that certainly does not justify to change code.

[2016-07-20 12:30] hendrikrth opened #424 "Installcheck fails with custom python"
Hi everyone,
I have the following problem:
I installed the current version of NEST on my local machine (running on Scientific Linux release 7.2 (Nitrogen)) with a self compiled Python (2.7.12) and Openmpi (2.0.0). I had to do this because the python of our institut which is installed in /usr/bin has no openmpi. Configuring NEST with the needed prefixes (custom path, custom python, openmpi) works b

[2016-07-20 15:38] MarkoFil opened #425 "Installcheck fails 1 test"
When running installcheck after fresh installation of NEST 2.10., there is one failed test somewhere.
[reports.zip](https://github.com/nest/nest-simulator/files/374084/reports.zip)

[2016-07-21 07:59] sanjayankur31 commented on #425
From the logs, this is the failed test:

[code]

Can you please check that the reported file `/home/markof/opt/nest/share/doc/nest/help/sli/array.hlp` exists to begin with?

[2016-07-21 08:02] sanjayankur31 commented on #424
This is the error in the test suite:

[code]

According to [this post](http://stackoverflow.com/questions/2584198/undefined-symbol-pyunicodeucs2-decode-whilst-trying-to-install-psycopg2), you need to use an additional flag while building Python from source. Can you please try it out and see if that fixes the issue?

[2016-07-21 08:08] MarkoFil commented on #425
It does, please find it attached.

Cheers,
Marko

On 21 July 2016 at 09:59, Ankur Sinha <notifications@github.com> wrote:

[2016-07-21 08:50] hendrikrth commented on #424
Yes it fixed the issue. Thank you very much.

[2016-07-21 08:50] #424 closed

[2016-07-21 09:13] sanjayankur31 commented on #425
Can you check the permissions on the file then? The error says that the file could not be opened for writing. It's one of these tiny things.

[2016-07-21 09:18] MarkoFil commented on #425
Since I had to use sudo in order to make/make install, the file belongs to
root. I didn't use sudo to perform make installcheck though.

-rw-r--r-- 1 root root  224 Jul 20 17:29 array.hlp

On 21 July 2016 at 11:13, Ankur Sinha <notifications@github.com> wrote:

[2016-07-21 11:42] sanjayankur31 commented on #425
That may be it actually - if you're installing in your own user's home directory, you needn't use run `make install` with `sudo`. If you run the `installcheck` with sudo, it should work.

[2016-07-21 12:01] MarkoFil commented on #425
Ah, I see! I can try to reinstall it without sudo and see what happens.
When reinstalling, is it enough just to delete $HOME/opt/nest, or do I have
to delete something more?

On 21 July 2016 at 13:42, Ankur Sinha <notifications@github.com> wrote:

[2016-07-21 12:12] sanjayankur31 commented on #425
Just deleting the existing installation directory should be enough (you'll have to use `sudo` to delete it at the moment, of course). Please do `source <path to nest_vars.sh>` before running `installcheck` so that nest knows where the files are at.

[2016-07-21 14:09] MarkoFil commented on #425
Alright, I've now done it without sudo (and in another location, as it
turned out there is already an "opt" folder on root - I'm still a Linux
noob), and installcheck returned no errors. Thank you for the help!

Cheers,
Marko

On 21 July 2016 at 14:12, Ankur Sinha <notifications@github.com> wrote:

[2016-07-21 14:31] sanjayankur31 commented on #425
You can use the `/opt` folder or any other location that works for you - as long as you source `nest_vars.sh`, it should work. Please close this issue :)

[2016-07-21 14:38] #425 closed

[2016-07-22 09:25] DimitriPlotnikov commented on #411
Hi,
it is true an issue in the current version of NEST. However, I don't like the proposal to use the any hashcodes based on commits. It could lead to a problem, that NEST user would start to relay on a particular temporary version development version.

Therefore, my proposal would be to call the current version like: 3.0.0-SNAPSHOT. It unambiguously states that it is a development version of the

[2016-07-22 09:55] mschmidt87 commented on #411
Hi, your proposal would at least avoid confusion of the developer version with the release version.

However, I still think that it would be better to have the commit hash displayed, because this enables true provenance tracking of which version of NEST you actually compiled and are using, when e.g. discovering a bug. So, whenever a user reports a bug or a problem with NEST, we can easily ask him

[2016-07-22 10:46] DimitriPlotnikov commented on #411
Hi,

from my point of view, all bugs must be reported on the latest version. If it is not there anymore, then the bug is solved:) We will discuss it one more time during the next NEST developer meeting and meet the final decision then.

[2016-07-22 11:49] apeyser opened #426 "cmake files all seem to have nest copyrights"
The Platform cmake files which come from the cmake tree have had nest copyright 2004 added to them. Wrong year, wrong organization, wrong wrong.

[2016-07-22 12:04] apeyser opened #427 "CMake broken on BGQ (or CMake considered harmful)"
CMakes design is broken for a) mpi and b) BGQ. For MPI, the cmake authors seem to believe that they can in general write a program that can extract all the necessary information from the mpi wrappers for all machines in all cases, and then use that information to directly construct the actions needed to reproduce that behavior.

This would ultimately imply P==NP :astonished:

For BGQ with sionlib,

[2016-07-22 15:47] apeyser commented on #412
@jougs
I hit it regularly (as in today on BGQ, yesterday on my desktop...).
"CMake considered harmful" is my catch phrase of the day.

I would really suggest only supporting a very narrow band of CMake to limit the support effort we have to put into it. :+1: on requiring (and documenting) cmake >=3.4 (maybe even cmake == 3.4). I don't want to bother with cmake efforts any more --- it's just fundam

[2016-07-25 07:53] mschmidt87 commented on #411
Okay, you have a point here. Still, I think it would be useful to have the executable indicate the exact commit hash, I have stumbled across this quite a few times during development and simulation work.

[2016-07-25 10:17] abigailm commented on #427
Is this an issue that we can raise with the CMake developers, such that there is a possibility that things would be less harmful in the future?

[2016-07-25 10:17] abigailm commented on #426
Dennis will look into this

[2016-07-25 15:25] DimitriPlotnikov commented on #405
@dnao what is the status of this issue?

[2016-07-25 15:31] kingjr commented on #210
updating ipython on anaconda generated the same error on ubuntu 14.04

adding `LD_PRELOAD=/lib/x86_64-linux-gnu/libncursesw.so.5`  to .bashrc fixed the error.

[2016-07-26 02:17] dnao commented on #405
@DimitriPlotnikov I was able to compile your nestML code and run a simulation. I compared it to the iaf_cond_alpha model and found that, when the synaptic time constants are identical (rise time = decay time), there is a small difference between the solutions of the two models. Perhaps this is consistent with the nature of numerical approximation.

Additionally, setting non-zero values for F_E and

[2016-07-27 09:05] sanjayankur31 commented on #343
@jougs - has a decision been made on this? Does someone just need to sit down and remove the aliases in favour of their standard variants now?

[2016-07-27 09:08] sanjayankur31 commented on #343
The advantages I see of using aliases are:

- readability (`weight` makes more sense than `double_t`)
- aliases are usually shorter (`somealias` instead of `unsigned long long` and so on)

[2016-07-27 09:10] sanjayankur31 commented on #317
Fixed. Closing.

[2016-07-27 09:10] #317 closed

[2016-07-27 09:11] sanjayankur31 commented on #324
@leukone - are you still getting the error - please let us know. We'll close this issue in 2 weeks.

[2016-07-27 09:14] sanjayankur31 commented on #303
Looks like this is fixed. @tammoippen - please close if fixed?

[2016-07-27 09:20] sanjayankur31 commented on #187
@tammoippen - close this one too?

[2016-07-27 16:57] tillschumann opened #430 "NodeManager::is_local_node returns wrong values for last rank"
NodeManager::is_local_node( Node\* n ) seems to return always true for the last rank.

from my understanding:
vp is initialized with -1 for remote nodes.
therefore vp % n_sim_procs_ in mpi_manager_impl.h:55 returns id of last rank for remote nodes

[2016-07-28 13:54] #303 closed

[2016-07-29 08:14] apeyser commented on #361
What "threads in python" are you specifically referring to? Which module running what? Just the standard threading module?

In general, you're right -- just don't do threads in python. Ever. It's (almost?) never the sensible thing to do.

I don't think there's any general solution -- but checking if you happen to be started from the main thread may avoid some of the most obvious mistakes.

[2016-07-29 10:33] wschenck opened #433 "gh-pages/coding_guidelines_c++.md is broken"
The two source code text boxes at the end of the page (reg. vera++ and clang-format configuration) are merged into one (see attached screenshot).
![screenshot_20160729_123225](https://cloud.githubusercontent.com/assets/11649523/17245801/934f1042-5588-11e6-8259-020a743aa92a.png)

[2016-07-29 12:00] #427 closed

[2016-07-29 12:11] apeyser opened #435 "nest website: balanced network"
At: http://www.nest-simulator.org/py_sample/random-balanced-network-exp-synapses-multiple-time-constants/

I see the following line:
num_synapses = nest.GetDefaults("excitatory")["num_connections"]+

which is a syntax error.

[2016-07-31 16:00] #187 closed

[2016-08-01 09:06] jakobj opened #437 "Connect ignores parameters for neuron->device and device->device connections"
As discovered by @weidel-p #221 introduced a bug, which causes parameter dictionaries to be ignored when connecting a neuron to a device or a device to a device. This can be traced back to [connection_manager.cpp:450](https://github.com/nest/nest-simulator/blob/master/nestkernel/connection_manager.cpp#L450) and [connection_manager.cpp:461](https://github.com/nest/nest-simulator/blob/master/nestker

[2016-08-01 10:32] golosio opened #438 "Multisynaptic neuron model with independent synaptic rise times and decay times"
The multisynaptic neuron models that are currently available do not allow one to define independent synaptic rise times and decay times. The alpha function depends on a single time constants, and it is not always suitable for modeling synaptic conductance. On the other end, the time course of most synaptic conductances can be well described by the sum of two exponentials (see A. Roth and M.C.W. va

[2016-08-01 14:00] janhahne opened #440 "Add warning when two-way connections are created without symmetric=true"
PR #315 added a symmetric flag to the `conn_dict` in order to be able to create symmetric connections ( a->b , b->a ) with a single call to `nest.Connect`. Two-way connections like `gap_junction` demand this flag to be set to `true` in order to create accurate connections.

The default setting for `symmetric` is however `false`. Therefore it would be desirable to add a warning to NEST that is disp

[2016-08-01 14:26] heplesser commented on #74
@abigailm I will check whether these tests also fail under OSX 10.11 and will report back soon.

[2016-08-01 14:38] heplesser commented on #419
@dnao I am not sure why the numerics slows down so much when the neuron hyperpolarizes extremely. It probably is due to the adaptive stepsize solver switching to very small time steps due to fast changes in state variables other than V_m. @DimitriPlotnikov, could you take a look at the details?

The main point, though, is that a hyperpolarization to -300 mV is entirely unphysiological: The membran

[2016-08-01 14:45] heplesser commented on #403
@krishnanj Thanks for the further analysis! I will have a look at it shortly.

[2016-08-01 14:52] heplesser commented on #56
@abigailm @apeyser I'll take responsibility for this one.

[2016-08-01 15:55] DimitriPlotnikov commented on #438
@golosio You pull request still doesn't pass through CI. It would be very helpful, if you would get all tests pass.

@abigailm @heplesser aeif_cond_exp_multisynapse is an example of a neuron model, that currently doesn't integrate well with NESTML approach. Generally, it is not an issues to deal with in NESTML. Here is an example of model with 2 constants implemented: ( cf. https://github.com/nest

[2016-08-01 15:58] jakobj opened #442 "Error in testsuite when compiling with MUSIC"
When compiled with MUSIC the test `test_neurons_handle_multiplicity.sli` fails with `Key '/V_m' does not exist in dictionary.`, since NEST tries to get `V_m` from a MUSIC device. These devices need to be added to the ignore dictionary. PR will follow.

[2016-08-01 17:27] golosio commented on #438
@DimitriPlotnikov Thank you. The build process and the install check work fine in my machine. I'm new with nest development and I still have to understand how the Travis check works.

[2016-08-02 04:37] DimitriPlotnikov commented on #438
@heplesser What is the general policy regarding including new models into NEST?

[2016-08-02 07:58] golosio commented on #438
@DimitriPlotnikov accordind to the guidelines in the developer space: http://nest.github.io/nest-simulator/code_review_guidelines, concerning new models, "each pull request needs an OK from the CI platform and at least two reviewers to be merged". Meanwhile, my pull request passed through the CI. It was blocked by very little formatting problems, the rules for formatting are very strict.

[2016-08-02 14:03] heplesser opened #445 "Vera++ configuration file missing from repository"
According to [NEST Developer Space](https://nest.github.io/nest-simulator/coding_guidelines_c++#vera-profile-nest), the NEST repository should contain a configuration file for vera++, that needs to be symlinked from the vera++ profiles directory. This file is currently missing. On Travis, `build.sh` generates that file on the fly with the following content:

[code]

This is not an option for `chec

[2016-08-02 14:17] #437 closed

[2016-08-02 14:28] heplesser commented on #435
This is due to a line break probably introduced when rendering for the website. The correct code is

[code]

and that is directly cut and pasted from Master.

@steffengraber Is there any chance that the parenthesis around the addition disappeared when converting the code for the website?

[2016-08-03 08:41] #336 closed

[2016-08-03 09:19] #400 closed

[2016-08-03 12:53] heplesser commented on #403
@krishnanj I ran your script with a bit of debugging output and it indeed shows that at some point `div` becomes so large that `dt/div` becomes zero. The iteration is then stuck. To avoid this, we should change the loop as follows:
[code]
The issue then is how to handle cases in which we leave the loop because we have not converged. I suggest to raise an exception:
[code]

The other question is wh

[2016-08-03 13:02] heplesser commented on #343
@sanjayankur31 This issue is only about the following aliases for standard C++ datatypes:
[code]
At some point very long ago we had an idea that you could change `double_t` to be an alias for `float` and thus reduce the memory required for network components. But that would have required fully consistent use of `double_t` throughout, which we do not have at all. We also learned since that memory i

[2016-08-03 13:06] heplesser commented on #344
These type aliases are informative, but since they are just aliases of plain C++ datatypes, the compiler performs no type checking. So they can create a false sense of safety on the part of the programmer.

[2016-08-03 14:24] gtrensch commented on #412
Discussed that issue with @apeyser: There is no user-friendly solution.

We decided to leave the cmake_minimum_required() version check as is for the moment checking for >=2.8.12. Changing this would effect the Travis build.

We will enhance the installation instructions adding a note on the cmake/Python problem and making a recommendation for the cmake version.

[2016-08-03 15:14] weidel-p commented on #347
We could start by including MUSIC in the Travis CI test matrix. As MUSIC is based on MPI, it only makes sense to compile and test NEST with MUSIC for cases including MPI.
I know our time on Travis is limited and I'm not sure if we can afford compiling and testing MUSIC in the given time. Did someone think about (or test) that already?

To test the functionality of MUSIC we could convert the MUSIC

[2016-08-04 08:14] #442 closed

[2016-08-04 08:15] heplesser commented on #347
One aspect to test is whether MUSIC respects spike multiplicity, i.e., whether the MUSIC out proxy generates n spikes when receiving a SpikeEvent with multiplicity n.

[2016-08-04 13:07] DimitriPlotnikov commented on #411
Hello @mschmidt87,
your points are correct and valid from the developer's point of view.  But for the enduser a commit hash is not really informative.  github enables you to checkout a particular pullrequest (https://help.github.com/articles/checking-out-pull-requests-locally/) and/or particular commit. In case that you really need to work with th specific commit, you can do it and keep track of t

[2016-08-04 13:29] apeyser commented on #411
But bug reports on the developer branch indicate that we are talking about the developer's point of view.The hash can go into a built file, and for release versions there'd be no hash, since it's a fixed release.

The counter-point is that this makes the system more complex and buys us little, since we're talking a sophisticated user who was smart enough to at last have a tag pointing at his sourc

[2016-08-04 16:29] apeyser commented on #435
Now I see -- it's a python indent thing + paren thing. I didn't even look at the next line, because it lines up at position 0, so it can't syntactically be part of the same unit, and without the parens, the plus at line end is an incomplete statement, since newline is python-syntactic.

Is the code in the scroll-down box pulled directly from the source tree, or is there some "massaging" that goes

[2016-08-05 08:32] heplesser commented on #411
@apeyser I suggest we discuss version numbering in the Developer VC on 22 Aug (the agenda for 8 Aug is full enough already).

@mschmidt87 If uncertainties about the version used occur in discussion with developers, it is always available through `statusdict/rcsinfo :: =`, so I think it is not necessary to provide it in the startup message.

@DimitriPlotnikov I think you `-SNAPSHOT` proposal makes

[2016-08-05 11:13] lepmik opened #449 "Error when running code from connection management documentation"
Running the following code from the [documentation](http://www.nest-simulator.org/connection_management/)

NEST 2.10.0
[code]

[code]

[code]

[2016-08-05 12:41] heplesser commented on #449
Thanks for catching this! In
[code]
it should be `'stdp_synapse'` as in the preceding example. `static_synapse` has no parameter `alpha`.

@steffengraber Could you fix this?

[2016-08-05 13:01] hendrikrth opened #450 "PyNEST version of the microcircuit"
So far there is a SLI version of the microcircuit included in the examples, but not a PyNEST version.

[2016-08-05 16:42] gtrensch commented on #412
Even though it won't fix the CMake find_package() issue, I found a workaround to prevent the
version mix when CMake is localizing the Python interpreter, includes and libraries. There are options for the find_package() function allowing version checks. Extracting the interpreter version and rejecting everything which do not exactly match that version works quite well. I tested that on two Ubuntu s

[2016-08-08 14:13] heplesser commented on #343
In the  [Open NEST Developer VC today](https://github.com/nest/nest-simulator/wiki/2016-08-08-Open-NEST-Developer-Video-Conference) we decided to remove all the `_t` datatypes.

[2016-08-08 14:15] heplesser commented on #344
In the  [Open NEST Developer VC today](https://github.com/nest/nest-simulator/wiki/2016-08-08-Open-NEST-Developer-Video-Conference), we concluded that replacing the alias types with proper classes with `explicit` constructors would will not incur run-time penalties and increase type safety.
We will do a check to see how many changes in NEST code this would require and return to the issue in the ne

[2016-08-08 14:28] apeyser commented on #344
I've looked at it and thought about it:

To add type-safety without too many problems (such as handling constexpr's, explicit cast expressions, ..) would require c++11.

On the other hand, with c++ 11, we could simply require curly-braced construction/initialization {} to solve all the problems of implicit narrowing, and if we wanted further safety it would be fairly trivial to construct these cla

[2016-08-08 14:46] jougs commented on #433
@wschenck: thanks for spotting this!

[2016-08-08 14:46] #433 closed

[2016-08-08 15:09] heplesser commented on #344
@apeyser Thanks for the quick check! Based on that and the arguments raised during the discussion today, I would then suggest to leave things as they are.

Would you open a new issue concerning a potential transition to C++11? The main issue here is compiler support, given that cutting-edge HPC hardware typically seems to be anything but cutting edge when it comes to compilers ...

[2016-08-08 15:24] apeyser opened #453 "C++ 11"
Following #344, we should consider transitioning towards C++11.

All HPC machines currently support at least C++ 11, except possibly for K, which is in the process of porting their gcc-based compiler to gcc-4.8.2 at some point this year.

STLs are usable, curly brace constructors remove narrowing, constructors and converters are vastly improved, templates are vastly improved...

In fact given that

[2016-08-08 15:25] #344 closed

[2016-08-08 15:45] jougs commented on #435
@steffengraber knows all about this. If the file in the repository differs from the one on the homepage, there's probably a bug in the conversion script.

[2016-08-08 18:11] jougs commented on #449
@heplesser: the content of the homepage can be changed by modifying the files in [extras/userdoc/md/documentation](https://github.com/nest/nest-simulator/tree/master/extras/userdoc/md/documentation). The process is exactly the same as for changing code. Branch, fix, PR.

[2016-08-09 07:50] heplesser opened #455 "Fully support GIDCollections in SLI and Python"
We decided in the [Open NEST VC 8 Aug](https://github.com/nest/nest-simulator/wiki/2016-08-08-Open-NEST-Developer-Video-Conference) to removed subnets which represent structure in the simulation kernel and move all structure representation to the script layer in form of GIDCollections (see als #417). We further decided to
- create release 2.12 as a release that will be backward compatible (so old

[2016-08-09 08:24] jougs commented on #455
Thanks for writing this up. However, I disagree about the creation of `NewCreate`, `NewGetStatus`, etc.

In my opinion, no one will use them anyway until things break. Adding them just creates more work for us now and again when the transition occurs. Let's rather issue a good deprecation warning in the functions for 2.12.

Moreover, this is only relevant for SLI users, which are the smaller part

[2016-08-09 09:07] jougs commented on #347
@weidel-p: with #409 merged, the build time is not a big problem anymore and adding MUSIC to the maximal job is high on my agenda. You're welcome to help!

Basically we need three things in place for this:
- Installation of MUSIC in Travis and addition of the corresponding flags to the configuration (easy)
- A test harness to run jobs via the `music` launcher (medium)
- Tests!

I'm also adding @md

[2016-08-09 11:48] heplesser commented on #455
@jougs I think your argument is sound.

[2016-08-09 12:27] flinz opened #456 "Consistent information on how to cite NEST"
On the homepage (http://www.nest-simulator.org under **'please cite nest and tell us about your work'**) the instruction is to generally cite the reference:
[code]

On the [NEST github Readme.md](https://github.com/nest/nest-simulator#citing-nest) we have
* a link to the most recent Zenodo entry for 2.10
* the instructions to cite this instead for NEST versions above 2.8

I guess both versions sho

[2016-08-09 16:56] tillschumann opened #457 "Data races"
Using the regression test from #429 two more data races occurred:
![screenshot from 2016-08-09 17 57 30](https://cloud.githubusercontent.com/assets/11838886/17523409/c1b200c2-5e5a-11e6-918e-b51bf5d91ca1.png)
![screenshot from 2016-08-09 17 54 14](https://cloud.githubusercontent.com/assets/11838886/17523410/c1bc0a22-5e5a-11e6-874c-ae03061f7f9f.png)

[2016-08-10 07:47] krishnanj commented on #403
@heplesser Thank you! I will look into this and update this thread again.

[2016-08-10 09:39] heplesser commented on #456
@flinz Thanks for noticing this!
@steffengraber Could you adapt the text on the website to the text in the README?

[2016-08-10 12:28] flinz commented on #257
@steffengraber any updates on the documentation build system?

[2016-08-11 07:05] lepmik opened #459 "Inhibitory weight distribution"
Wen connecting two populations with pyNEST the sign of synaptic weights define if synapses are inhibitory or excitatory. Presently it does not seem to be possible to explicitly select an inhibitory weight distribution. Below is an example of a workaround and a suggestion for a fix.

[code]

Comment from mailing list by Hans Ekkehard Plesser:

[2016-08-11 09:04] apeyser commented on #456
That should be NEST >= 2.8.
2.8 has doi:10.5281/zenodo.32969
2.10 had doi:10.5281/zenodo.44222

[2016-08-15 09:22] jougs opened #460 "Shutdown of Jenkins at qa.nest-initiative.org"
Since our move to GitHub, we're using Travis CI for continuous integration of the NEST source code. This means that from our point of view, the old Jenkins installation at https://qa.nest-initiative.org/ is not needed anymore.

However, back at the time, we offered the CI service also to other projects. This issue is mainly created to get some kind of written agreement of all people hosting projec

[2016-08-16 06:01] steffengraber commented on #456
I have adapted the text in the README and in the index.md.
See pull request #461.

[2016-08-16 11:58] steffengraber commented on #435
The website displays NEST v2.10.0.
In
https://github.com/nest/nest-simulator/blob/v2.10.0/pynest/examples/brunel_alpha_numpy.py
line 328 I found:

    num_synapses = nest.GetDefaults("excitatory")["num_connections"]+\
    nest.GetDefaults("inhibitory")["num_connections"]

In master:
https://github.com/nest/nest-simulator/blob/master/pynest/examples/brunel_alpha_numpy.py
everything is ok (line 338)

[2016-08-16 13:01] jougs commented on #435
Thanks for investigating @steffengraber. The fix was pushed to master when @heplesser PEP8ified the file in 6d331cf.

@steffengraber can you please fix on the homepage and then close this issue?

[2016-08-16 13:53] steffengraber commented on #435
Changed in:

- http://www.nest-simulator.org/py_sample/random-balanced-network-exp-synapses-multiple-time-constants/
- http://www.nest-simulator.org/py_sample/random-balanced-network-delta-synapses/
- http://www.nest-simulator.org/py_sample/random-balanced-network-alpha-synapses-connected-with-nest/
- http://www.nest-simulator.org/py_sample/random-balanced-network-alpha-synapses-connected-with-num

[2016-08-16 13:57] steffengraber commented on #435
@jougs I have no rights to close this issue.

[2016-08-16 14:03] jougs commented on #435
Thanks for fixing.

[2016-08-16 14:03] #435 closed

[2016-08-16 17:06] jougs commented on #460
* @ctrueden ([Fiji](https://qa.nest-initiative.org/view/Fiji)): gave OK via email
* @apdavison ([PyNN](https://qa.nest-initiative.org/view/PyNN), [Sumatra](https://qa.nest-initiative.org/view/Sumatra)): gave OK via email
* @jbednar ([Topographica](https://qa.nest-initiative.org/view/Topographica)): gave OK via email

[2016-08-16 17:07] jougs commented on #460
@mdjurfeldt: do you still need the MUSIC job on the system?

[2016-08-16 18:40] ctrueden commented on #460
Just for public record, here is a (slightly cleaned up) version of my email:

[2016-08-17 09:16] mdjurfeldt commented on #460
@jougs Due to the move to Travis CI, the MUSIC job at qa.nest-initiative.org, is not needed.

Thanks!
Mikael

[2016-08-17 15:54] jougs commented on #412
Fixed by #452.

[2016-08-17 15:54] #412 closed

[2016-08-18 07:34] golosio opened #463 "Parameter arrays cannot be used in connections with rules fixed_indegree and fixed_outdegree in Python"
Two-dimensional parameter arrays can only be used in conjunction with rule 'all_to_all'.
Apparently, there is no reason to apply this restriction for connection rules 'fixed_indegree' and 'fixed_outdegree', because with such rules there is a fixed number of connections, which can easily be matched to the elements of a two-dimensional array. Having the possibility to use parameter arrays with such

[2016-08-18 07:59] steffengraber commented on #257
@flinz as a first step, there is now a new pull request #464.
It would be nice if you could have a look on it. This is then also part of the build system for the user documentation.

[2016-08-20 13:06] heplesser commented on #459
This issue follows up ticket 887 in the old NEST trac.

[2016-08-20 13:12] heplesser commented on #459
A more general approach would be to support arbitrary mathematical expressions for parameters. The question is how to implement this efficiently. Topology has *undocumented* support for this on the SLI level:
[code]
This is undocumented since we have not come up with a good solution for lifting this to the Python level yet. Something like
[code]
might be feasible, but the question is how to allow

[2016-08-23 23:49] uahic opened #468 "NEST assertion jn scheduler.h when using MUSIC and PyNN"
Setup:
2 processes (lets call them A and B) that are setting up NEST-MUSIC-event-ports and connect them to pyNN populations (this is done via direct nest-connect rather than using PyNN). As this is part of a service-platform it has to support late-connecting so Ive put parrot neurons in front of the music_event_out_proxys (one_to_one connection, so 1 parrot per output channel).

In the example I'v

[2016-08-25 08:31] krishnanj commented on #403
@heplesser may I ask if you can point me to a reference for how to create parrot neurons in PyNN? I couldn't find it in the documentation.

[2016-08-25 11:40] heplesser commented on #403
@krishnanj Unfortunately, I don't know. Could you ask on a PyNN or on the NEST User mailing list? I think it would be best to create a reproducer for this bug using PyNEST, or, even better in SLI, so that we later can integrate it as regression test into our testsuite.

[2016-08-25 11:41] #449 closed

[2016-08-26 18:56] uahic commented on #468
It seems that the bug is caused by an acceptable latency which has been chosen larger than the max_delay in the network. This probably causes requests on buffer moduli for delay values that do not exist since the max_delay is smaller and the size of the moduli_ buffer is determined by (min_delay + max_delay). I think something like  an upper bound assertion for accLatency should be introduced in t

[2016-08-28 10:57] heplesser commented on #246
There is an additional issue here: The help system does not work properly with Jupyter notebooks. Calling `nest.help('iaf_psc_alpha')` will use `more` (or whichever pager is defined in `.nestrc` to display the help in the terminal in which `jupyter` was started and the notebook will hang until the user closes the pager. This is confusing at best and completely useless on web-based systems such as

[2016-08-30 08:21] heplesser opened #470 "Revise SLI doctesting"
We currently have an essentially unused method for doctest in SLI, the `validate` function. It is only used to test the `round` SLI function, and even that causes problems, see #464.

We should revise our approach to doctesting, especially since #464 moves help extraction and generation to Python.

[2016-09-06 09:45] heplesser opened #472 "Review and improve iaf_psc_*_multisynapse models"
The `iaf_psc_*_multisynapse` models need review. Once #261 is merged, `gif_psc_exp_multisynapse` should be taken as reference for the review. Note in particular:
-  While all other neuron models require only that the refractory time is non-negative, `iaf_psc_*_multisynapse` require that the refractory time is at least one time step (see `calibrate()` method). This inconsistency should be removed a

[2016-09-06 09:51] heplesser opened #473 "hh_cond_exp_traub handles refractory time incorrectly"
[`hh_cond_exp_traub::calibrate()`](https://github.com/nest/nest-simulator/blob/0d58accc82b6b44801c82e502976889e3c37d80b/models/hh_cond_exp_traub.cpp#L371) sets `V_.RefractoryCounts_` to a hard-wired value of 20 time steps, independent of the simulation resolution. Neuron responses will therefore depend on resolution.

Note also that the refractory period cannot be changed by the user.

[2016-09-09 08:11] mschmidt87 commented on #459
Hi, I just stumbled upon this issue again. If I understood the Topology code correctly, it allows for the four basic operations of adding, substracting, multiplying and dividing parameters, which are implemented on the C++ level by the `SumParameter`, `DifferenceParameter` etc. classes. So, this is basically what we would need, right?
Wouldn't a solution be to do the following:
1. Port the impleme

[2016-09-09 10:33] #456 closed

[2016-09-09 10:33] flinz commented on #456
This is addressed in the merged PR https://github.com/nest/nest-simulator/pull/461

[2016-09-09 10:36] flinz commented on #151
Should we approach anything final, https://github.com/nest/nest-simulator/issues/406 should be addressed too.

[2016-09-09 11:01] heplesser commented on #459
@mschmidt87 In principle, you are right. I will think about this carefully in the planned work to unify the topology and connect user interfaces. There are currently two problems with this approach:

1. Much of the syntax is very topology-centric with parameter names that do not generalize
1. The implementation is slow: each time a parameter is evaluated, NEST needs to do a tree traversal to recur

[2016-09-09 11:45] jougs commented on #459
Maybe our compiler expert @DimitriPlotnikov can help optimizing this?

[2016-09-09 12:16] DimitriPlotnikov commented on #459
@jougs @heplesser I understand only partially what is going on in this issue.
1) Must be solved by domain experts
2) You can mimic an attribute grammar (add an attribute 'value' to each expression, walk through the tree and compute it once, retrieve cached value each time it is needed). My assistant student did it for NESTML expression sub-language and he is working on a short presentation explain

[2016-09-09 12:55] DimitriPlotnikov commented on #405
@heplesser Before I proceed with more detailed review, I would like to have an acknowledgment that the model is important enough to be included into NEST repository.

[2016-09-09 12:56] DimitriPlotnikov commented on #438
@golosio @heplesser
Cf. my latest comment in the pull request.

[2016-09-09 12:57] DimitriPlotnikov commented on #411
The PR https://github.com/nest/nest-simulator/pull/448 is already merged and the issue can be closed.

[2016-09-09 15:02] jougs commented on #411
@DimitriPlotnikov: thanks for checking.

[2016-09-09 15:02] #411 closed

[2016-09-12 22:41] heplesser commented on #405
@DimitriPlotnikov Yes, I think we should include this model.

[2016-09-13 08:16] golosio opened #477 "Building a generic base class for all multisynapse neuron models"
There is a significant superposition in the code of all multisynapse neuron models. For code revision, maintenance, introduction of new models, a more efficient solution would be to have a generic base class (or maybe a template class) multisynapse_neuron, which contains the common code and from which all multisynapse neuron models could be derived.
Also, there is probably no reason to bind an ins

[2016-09-13 08:20] golosio commented on #477
See also issue #472 and comment https://github.com/nest/nest-simulator/pull/439#discussion_r78281957

[2016-09-14 10:53] heplesser opened #478 "CMake does not handle additional linker flags correctly"
When linking NEST against additional libraries, e.g., non-standard memory allocators, CMake places the linker flags in the wrong position: Additional libraries should be linked last, but CMake places them first.

As an example, when configuring NEST with (some flags removed)
[code]
one ends up with the following linker invocation:
[code]
Note that `libtcmalloc_minimal.a` is at the very beginning,

[2016-09-14 11:08] heplesser opened #480 "Remove subnets from NEST"
As decided in the [Developer VC on 8 Aug](https://github.com/nest/nest-simulator/wiki/2016-08-08-Open-NEST-Developer-Video-Conference), subnets are to be removed from NEST for the NEST3 release (#417).

This entails:
- Full GIDCollection support (#455)
- `Create` returning `GIDCollection` instead of last gid (SLI) or a list of GIDs (Pynest)
- Transition from `0 << >> SetKernel` to `<< >> SetKernel

[2016-09-14 11:10] heplesser opened #481 "Make topology independent of subnets"
Removal of subnets (#480) requires that topology becomes independent of subnets in maintaining its metadata. Instead, the metadata should be attached to the GIDCollection representing a layer.

[2016-09-14 11:18] heplesser opened #482 "Support for advanced dry-run mode"
Future advanced dry-run modes will require that we can associate a network node to a group (population) based on its GID. Currently, this is done using subnets, but this will disappear with subnets (#480).

An alternative solution could be implemented as follows:
1. Each call to `Create` creates a group (population) of nodes.
2. Each such group is numbered uniquely, and the group number is stored

[2016-09-15 15:38] ricardodeazambuja opened #484 "Python bindings crashing on OSX (installed using Homebrew)"
After installing nest using Homebrew (HEAD or not), every time I open a python shell and type "import nest" it crashes with the message below:
Assertion failed: (out != NULL), function execute, file ../../sli/sli_io.cc, line 401.
Abort trap: 6

OSX 10.10.5 and, according to Homebrew, all dependencies are available:
==> Dependencies
Build: autoconf ✔, automake ✔
Required: libtool ✔, readline ✔
Reco

[2016-09-16 06:24] heplesser commented on #484
@ricardodeazambuja
- Can you start the nest binary (should be `/usr/local/bin/nest`)?
- Have you run `brew test nest`? If yes, what result did you get?
- Which Python version are you using, and how have you installed it (system, brew, anaconda, ...?).

[2016-09-17 19:23] ricardodeazambuja commented on #484
@heplesser

I'm using Python 2.7.12, installed from Homebrew (/usr/local/Cellar/python/2.7.12).

I can start the nest binary:
              -- N E S T --

  Copyright (C) 2004 The NEST Initiative
  Version 2.10.0 Sep 17 2016 20:10:47

This program is provided AS IS and comes with
NO WARRANTY. See the file LICENSE for details.

Problems or suggestions?
  Visit http://www.nest-simulator.org

Type 'h

[2016-09-18 09:40] heplesser commented on #74
I just tried with the newest version o Apple Clang that ships with XCode 8:

- NEST master 38a9608
- OSX 10.11.6
- Apple LLVM version 8.0.0 (clang-800.0.38)
- Python 2.7.12 :: Continuum Analytics, Inc. (Anaconda)

Results:
- Running test 'unittests/test_aeif_cond_alpha_multisynapse.sli'... Failed: segmentation fault
- Running test 'unittests/test_recorder_close_flush.sli'... Failed: segmentation f

[2016-09-18 10:03] heplesser opened #486 "OSX & XCode 8: Endless stream of warnings when compiling"
Compiling NEST after installing XCode 8 will lead to an endless stream of warnings when compiling with gcc (from homebrew):

[code]

This is a known problem, see
- http://stackoverflow.com/questions/39502921/warning-section-const-coal-is-deprecated-error-after-updating-xcode-to-la
- https://github.com/Homebrew/homebrew-core/issues/4812

From Stackoverflow, it seems the best work around is to run

[2016-09-18 10:47] heplesser opened #487 "SLI dup function can cause segmentation fault"
I have come across a strange segmentation fault caused by the SLI `dup` function. The following line with reliably cause a seg fault when run as the first command in a newly started NEST:

[code]

The line works perfectly well with 49 instead of 50 elements. The following also works reliably:

[code]

so the fact that we insert to values for each Table element is not the problem. I tried to get so

[2016-09-19 07:57] heplesser opened #488 "Discussion: A new interface for parameterization and spatially structured networks in NEST"
## Background

NEST currently has two different interfaces for specifying parameters to NEST functions, one used by `Connect` and `Create`, the other used by `topology.ConnectLayers`. The latter is quite strongly based on concepts in the Topology module. This duplicity is unfortunate and should be removed.

Work on NEST optimization has shown that memory locality is crucial to excellent performanc

[2016-09-20 21:34] heplesser commented on #478
@apeyser This was a user error, I now found the correct way of adding additional libraries (at least working on Juqueen):

- `-DCMAKE_EXE_LINKER_FLAGS` is, as the name says, only for linker *flags*, not for *libraries*
- Additional libraries need to be added with `-Dwith-libraries`, as in the following example:
[code]

I will add this information to the INSTALL file and close this issue.

[2016-09-20 21:34] #478 closed

[2016-09-22 05:19] heplesser commented on #486
I discovered a little problem with the fix above: FileMerge disappears from the Path. So if you try to resolve merge conflicts using FileMerge (eg using SourceTree), nothing will happen (FileMerge won't start and OSX won't give you an error message). You need to switch back to XCode 8 with
[code]
For a proper solution, we need to wait for the underlying bugs in GCC and Clang to be fixed, see Homeb

[2016-09-23 11:43] DimitriPlotnikov commented on #438
Since there is already an active pull request solving this issues and this issue being quite  non-informative, from my point of view we can close it.

[2016-09-23 11:46] DimitriPlotnikov commented on #405
@golosio you already added a multisynapse version of the model. Can we close this issue or do still have problems and/or issues to discuss in this context?

[2016-09-23 22:04] golosio commented on #438
ok

[2016-09-23 22:04] #438 closed

[2016-09-27 07:58] heplesser opened #493 "Revise access to local nodes in ConnBuilder once neurons are managed per thread"
Subnet removal and per-thread neuron management will allow direct access to nodes on any given thread. Exploit this to simplify ConnBuilder.

[2016-09-27 11:32] flinz commented on #74
I have very similar issues compiling the master branch https://github.com/nest/nest-simulator/tree/4b94532f5e592883e3ba87969dd3dd2a3eb32c22:
* OSX 10.11.6
* Apple LLVM version 8.0.0 (clang-800.0.38)
* MacPorts Python 2.7.10

Results are exactly the same

[2016-09-27 12:46] heplesser opened #494 "Remove aeif_cond_alpha_RK5 model"
As @Silmathoron [has pointed out earlier](https://github.com/nest/nest-simulator/pull/35#issuecomment-186309378), the explicit RK5 implementation appears significantly slower than the one based on GSL. Having two implementations of the same model is confusing to the user and increases maintenance efforts.

I therefore propose to remove the RK5-version of the model.

@gewaltig I hope this is okay f

[2016-09-27 12:54] Silmathoron commented on #494
In fact, this would save me a lot of time because I was designing the test for PR #474 and I can't get the RK5 version to get close enough to the LSODAR reference solution.
So if everyone is okay with it, I can remove it in my PR...

[2016-09-27 13:03] gewaltig commented on #494
This is strange, in all of our tests, the RK5 version was faster and more accurate than the GSL version (I think the tests are in the examples)

[2016-09-27 13:08] gewaltig commented on #494
I commented on the other thread. I would prefer to first see where the speed differences come from.

In any case, I'll dig out the old benchmarking scripts.

[2016-09-27 13:12] gewaltig opened #495 "cmake ignores pynest on MacOS with MacPorts"
When compiling a fresh checkout, pynest is ignored.

OS: 10.11.6 (El Capitain)
cmake 3.6.1 (macports)

The issue seems to be related to
https://github.com/pybind/pybind11/issues/99

The same fix indicated there solves the problem.

[2016-09-27 13:21] gewaltig commented on #495
Basically, call cmake like this:
cmake -DPYTHON_LIBRARY=$(python-config --prefix)/lib/libpython2.7.dylib  -DPYTHON_INCLUDE_DIR=$(python-config --prefix)/include/python2.7 .

[2016-09-27 13:41] gewaltig commented on #494
Dear all,

the comparison between the two implementations is done by the script
evaluate_aeif_cond_alpha_RK5.py  in the pynest examples.

On my mac, I get the following output:
`Runtime GSL: 0.0493731832504
Test: 0.0436501979828
Ratio: 0.884087172613
Spike Times GSL - Reference:[ 0.082  0.02   0.053  0.153  0.163  0.165  0.167  0.169  0.171  0.173
  0.275  0.277  0.279  0.281  0.283  0.385  0.387]

[2016-09-27 13:54] heplesser commented on #494
We have discussed the numerics of the AEIF model in detail in #229 (several Jupyter notebooks attached there), and #474 includes a notebook with a reference solution based on the LSODAR solver. We should create a reference solution using that notebook as a basis for implementation comparisons.

[2016-09-27 14:29] gewaltig commented on #494
Sorry, can you send me the link to the notebook? I cannot find it in #474
anyway that all does not invalidate the comparison between the two implementations....

[2016-09-27 15:18] Silmathoron commented on #494
Notebook is [here](https://github.com/Silmathoron/nest-simulator/blob/06f65c5ab450d0a2b4db3c9e0f721be621eff158/doc/model_details/aeif_models_implementation.ipynb).
It describes the problem of binding the exponential argument.

[2016-09-27 17:53] gewaltig commented on #494
Thanks. I had a master student who did the RK5 implementation and we did a lot of testing and analysis. I'll look for his thesis where the work is documented.
Also, I still would like to know why the RK5 implementation is slower only in the network case.
I suspect an issue in the synapse handling.

[2016-09-28 11:23] krishnanj commented on #403
@heplesser Here is a replica of the same script in PyNEST that generates the same error:

[code]
and irrespective of how weights are set it appears that the arrival of first event causes the infinite loop. Initialising seed to some other random value in the program or during run-time only delays this occurrence but seems to hit unnatural voltage values at some point.

[2016-09-28 21:02] Silmathoron commented on #494
If you can, try to have a look at the behaviour of the RK5 implementation, comparing it to the reference LSODAR solution included in #474.
Personally, I can't make the behaviour match as closely as the GSL implementation, and, more specifically, I cannot remove the boundary on the argument of the exponential without leading to either numerical instabilities or parasitic jumps in ``w`` at spike tim

[2016-09-29 06:03] abdultaqi opened #498 "Configure error"
I am trying to install NEST but  a particular error i am getting

Configure: error:  Your need either std:isnan or isnan to compile NEST

i am using Ubuntu 14.04 LTS version

[2016-09-29 07:22] heplesser commented on #498
The NEST User Mailing List (http://www.nest-simulator.org/community/) is often a better forum for questions like this.

Which version of NEST are you using? And which compiler ( `gcc --version` shows this if you are using gcc)? This shouldn't really be a problem on Ubutu 14.04.

[2016-09-29 07:26] abdultaqi commented on #498
gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4
NEST: v2.10.0

[2016-09-29 07:37] heplesser commented on #498
That combination should certainly work. Could you post the config.log file, probably best as compressed attachment?

[2016-09-29 08:58] heplesser commented on #468
@uahic Since you mention `scheduler.h` above I assume that you work with NEST 2.10. When developing a solution for this, would you do it based on the current master?

[2016-09-29 09:01] heplesser commented on #459
For a general solution to this, see #488.

@lepmik Would you consider closing this issue? Have you found a work-around?

[2016-09-29 09:09] heplesser commented on #440
@janhahne I wonder if we shouldn't throw an exception instead of just issuing a warning. My experience is that warnings tend to be overlooked.

Would you create a PR for this?

[2016-09-29 09:24] #459 closed

[2016-09-29 09:26] lepmik commented on #459
Still use the workaround I stated in the first post :)

[2016-09-29 10:00] Silmathoron opened #499 "Wrong variable recorded for iaf_psc_alpha and 'input_currents_ex/in'"
The synaptic current recorded for the ``iaf_psc_alpha`` model is wrong: we get the derivative (exponential shape) and not the current, which is contained in ``S_.y2_ex_`` or ``S_.y2_ex_``.
 ``S_.y1_ex_``/``S_.y1_ex_`` are returned instead.

See attached notebook.
[iaf_psc_alpha_error_record.ipynb.zip](https://github.com/nest/nest-simulator/files/500328/iaf_psc_alpha_error_record.ipynb.zip)

[2016-09-29 11:12] heplesser commented on #499
@Silmathoron I think you are right. Could you prepare a PR to fix this? Do you know if the same problem applies to other models?

[2016-09-29 11:14] Silmathoron commented on #499
I don't know about other models but I'm just waiting for Travis to finish checking that everything's alright before clicking on the PR button ;)

[2016-09-29 13:57] abdultaqi commented on #498
i have deleted all files now i am going to try again if same thong will happen i will surely push files here thanks

[2016-09-29 15:47] Silmathoron opened #501 "Various names for synaptic current"
In ``nest_names``, there are several variables defined to designate the synaptic currents.
I'll give only the examples for the excitatory current:
* ``"I_syn_ex"`` for [``iaf_tum2000``](https://github.com/nest/nest-simulator/blob/0d58accc82b6b44801c82e502976889e3c37d80b/models/iaf_tum_2000.cpp#L59)
* ``"I_ex"`` for [`hh_psc_alpha``](https://github.com/nest/nest-simulator/blob/0d58accc82b6b44801c82

[2016-10-03 06:36] abdultaqi commented on #498
[Untitled 1.docx](https://github.com/nest/nest-simulator/files/505614/Untitled.1.docx)

I had tried again but the same error is coming. Attached is the file of configuration

[2016-10-03 09:05] heplesser commented on #498
@abdultaqi I think the root of the problem is in this section of the `configure` output:
[code]
It seems that `configure` does not find a C++ compiler on your computer. `configure` should have given a sensible error message at this point.

To install the g++ compiler, run
[code]
You may also want to run
[code]
to install the GNU Science Library providing support for more neuron models.

NB: I have

[2016-10-03 09:06] heplesser commented on #498
Note  to developers: Since we have moved from autotools to CMake, there is no point in fixing the missing error message in configure.

[2016-10-04 07:56] Silmathoron commented on #501
@heplesser we did not discuss it in the VC, but I guess I should remove ``"I_ex"`` and ``"input_currents_ex"`` from ``nest_names``, right?

[2016-10-04 08:13] mschmidt87 commented on #227
So @jakobj , can you please close this issue now?

[2016-10-04 08:24] #227 closed

[2016-10-04 09:11] heplesser commented on #501
@Silmathoron Yes, and if they have any "in" siblings those as well.

[2016-10-04 18:47] jougs commented on #499
Closing now that #500 is merged

[2016-10-04 18:47] #499 closed

[2016-10-05 06:28] heplesser opened #505 "Improved windowing for devices"
This is a follow-up to discussions in #497, which raised the issue of windowing recordings.

We should think through approaches, syntax and semantics before committing to a solution. Windowing will probably be useful for many types of recordings, so we should aim for a more general solution. It also needs to be compatible (reasonably) with existing solutions to ensure a consistent user experience

[2016-10-05 09:06] flinz opened #506 "Voltage dependent STDP rules (e.g. Clopath Rule)"
# Introduction

There has been recent interest expressed in context of the Human Brain Project to have more complex STDP rules available in NEST. As part of this, I am currently trying to figure out some possibilities for implementing voltage based STDP rules in NEST, e.g. synapses that update their weight depending on the (current) postsynaptic voltage, and would like to encourage some discussion

[2016-10-05 11:36] SepehrMN commented on #505
@heplesser @weidel-p @abigailm I have implemented a similar mechanism in my new device #436. There are multiple start and stop times, and one interval can be specified. Those should not ideally be in the device,  but in the recording device.

[2016-10-05 16:48] jougs commented on #470
@heplesser, @diesmann: any update on this? Are you OK with #464 removing the pertaining test and fixing this later?

[2016-10-06 06:39] heplesser opened #508 "Misleading documentation on random number generators"
On http://www.nest-simulator.org/random_numbers/, most relevant information in seeding RNGs is given under the "random numbers in parallel simulations" heading. This is misleading, since users need to seed the grng and the thread-0 rng in serial simulations.

[2016-10-06 08:27] heplesser opened #509 "Correct input handling for aeif_cond_alpha_multisynapse"
Input handling for `aeif_cond_alpha_multisynapse` needs to be modified according to the decision made in the [NEST Developer VC 19 Sep 2016](https://github.com/nest/nest-simulator/wiki/2016-09-19-Open-NEST-Developer-Video-Conference):
- Replace `E_ex`, `E_in` with vector of reversal potentials the same size as `taus_syn` (one per synapse)
- Replace  `I_syn_ex`, `I_syn_in` recordables with one reco

[2016-10-06 08:28] heplesser opened #510 "Correct input handling for aeif_cond_beta_multisynapse"
Input handling for `aeif_cond_beta_multisynapse` needs to be modified according to the decision made in the [NEST Developer VC 19 Sep 2016](https://github.com/nest/nest-simulator/wiki/2016-09-19-Open-NEST-Developer-Video-Conference):

- Replace `E_ex`, `E_in` with vector of reversal potentials the same size as `taus_syn` (one per synapse)
- Replace  `I_syn_ex`, `I_syn_in` recordables with one reco

[2016-10-06 08:30] heplesser opened #511 "Correct input handling for gif_cond_exp_multisynapse"
This issues becomes relevant once #261 is merged.

Input handling for `gif_cond_exp_multisynapse` needs to be modified according to the decision made in the [NEST Developer VC 19 Sep 2016](https://github.com/nest/nest-simulator/wiki/2016-09-19-Open-NEST-Developer-Video-Conference):
- Replace `E_ex`, `E_in` with vector of reversal potentials the same size as `taus_syn` (one per synapse)
- Replace

[2016-10-06 08:31] heplesser commented on #510
@golosio Could you look at this? cond_beta is already furthest, since it has the proper `handle()` method.

[2016-10-06 08:40] golosio commented on #510
Sure, I'll have a look.

[2016-10-06 09:16] #501 closed

[2016-10-06 09:34] heplesser commented on #470
@jougs @steffengraber I just added a suggestion to #464 (too busy today to make it via a PR to @steffengraber ). With that in place I think #464 can go ahead.

[2016-10-06 09:44] heplesser opened #512 "Check whether SiblingContainers can also be removed"
This relates to #480, subnet removal.

I have a hunch that with subnets, we can also drop `SiblingContainer`s. Nodes would be entirely managed by `SparseNodeArray`s and `ModelrangeManager`s on a per-thread basis. Nodes with siblings are simply identified via their type.

[2016-10-06 11:55] jougs commented on #470
Many thanks!

[2016-10-07 05:18] heplesser opened #514 "Update aeif_cond_beta_multisynapse to new aeif numerics approach"
`aeif_cond_beta_multisynapse` should be updated to the same voltage-limiting scheme introduced for the `aeif_cond_alpha_*` models (except `RK5` variant) with #474.

@golosio Could you take care of this, maybe together with #510 ?

[2016-10-07 07:16] golosio commented on #514
ok, if you agree I'll put the changes together in a single PR

2016-10-07 7:18 GMT+02:00 Hans Ekkehard Plesser <notifications@github.com>:

[2016-10-07 08:04] golosio commented on #510
We have to take care that the same quantity should have the same name in different models. How should I call the reversal potential? Maybe V_rev (I prefer this) or E_rev?

[2016-10-07 08:13] heplesser commented on #510
I think in the literature reversal potentials are usually given as E, so I would suggest `E_rev`. @Silmathoron Any thoughts on this?

[2016-10-07 08:19] Silmathoron commented on #510
For conductance-based flows, I've never seen something other than  E be used... so ``E_rev`` looks good!

[2016-10-07 08:25] Silmathoron commented on #510
By the way, just a thought since we're at it: should there be a possibility of giving only a double for the reversal potentials and taus if the user want them to be all equal?

[2016-10-07 08:44] golosio commented on #510
Ok. Also, we should take a decision on what to do when the number of receptor ports is changed, and when E_rev or taus_syn ( taus_rise or taus_decay for _cond_beta_ ) are defined or redefined with a number of elements that does not match the current number of receptor ports.
In aeif_cond_beta_multisynapse I tried to follow the same approach of aeif_cond_alpha_multisynapse and I used one of the vec

[2016-10-07 08:53] Silmathoron commented on #510
This sounds reasonable, but just to be sure: when you say

you mean that ``nest.SetStatus({"E_rev": Elist})`` would raise an error, but not ``nest.SetStatus({"num_of_receptor": len(Elist), "E_rev": Elist})``, right?

And ``nest.SetStatus({"num_of_receptor": old_number + 1})`` would automatically concatenate ``E_rev`` and ``taus_syn_rise/decay`` with default values?

[2016-10-07 08:58] golosio commented on #510
right!

[2016-10-08 04:43] heplesser commented on #510
@golosio @Silmathoron I would suggest that we force the user to be explicit: if a call to `SetStatus` contains `taus_syn`, it also must contain `E_rev`, and they must be of the same length; `num_receptors` is a read-only variable. `taus_syn` and `E_rev` cannot shrink once connections exist. I would even consider creating the neurons with empty `taus_syn` and `E_rev` (implying `num_receptors == 0`)

[2016-10-08 13:31] golosio commented on #510
Ok, I'll try to do it in this way, however I'm not sure that I can check if
a call to SetStatus contains both synaptic time constants and reversal
potential from the model code itself, without modifying other parts of nest
code.
Let me know if you already have an idea of how to check it.

2016-10-08 6:43 GMT+02:00 Hans Ekkehard Plesser <notifications@github.com>:

[2016-10-08 13:46] golosio commented on #514
@Silmathoron I was taking care of this issue and I was wondering if it is really necessary to have two aeif_cond_alpha_dynamics functions in aeif_cond models, one for Delta_t>0 and the other for Delta_t=0, but very similar to each other. I tried to modify your version of aeif_cond_alpha using only one  aeif_cond_alpha_dynamics function with a check on Delta_t:
  if ( node.P_.Delta_T > 0. )
  {

[2016-10-09 05:23] golosio commented on #510
@heplesser @Silmathoron ok I checked and it should not be difficult to make the checks inside the model code without involving other parts of the code. Sorry, before I did not have clear how multiple DictionaryDatum were processed. I'll try to implement the solution proposed by @heplesser .

[2016-10-09 05:54] golosio commented on #510
@heplesser

I am not sure about this... I liked the idea that if the user creates a multisynapse neuron without explicitly setting its parameters and just use it, it will behave as a single-receptor-port neuron, rather than giving an error...

[2016-10-09 09:55] heplesser commented on #510
@golosio We may want to discuss this in the next Developer VC on Oct 17.

[2016-10-09 10:14] golosio commented on #510
@heplesser I found a solution that fulfill your suggestions by changing
only the model code, see my PR.

Il 09/Ott/2016 11:55, "Hans Ekkehard Plesser" <notifications@github.com> ha
scritto:

[2016-10-09 14:13] heplesser commented on #506
@flinz You raise very interesting issues which we should discuss properly. I think a presentation and initial discussion at the next [Open NEST Developer Video Conference (17 Oct)](https://github.com/nest/nest-simulator/wiki/2016-10-17-Open-NEST-Developer-Video-Conference) would be a good start if that fits for you. We could also arrange a group session on this topic during the [NEST User Workshop

[2016-10-09 20:11] Silmathoron commented on #510
Ok, I'll try to have a look at the PR this week, but I guess we should wait for the VC to make a decision on the default behaviour (though I agree with @golosio that forcing the user to be explicit might be seen as obnoxious from his -- the user's -- point of view, even though we think we're doing it for his own good ^^).

[2016-10-09 20:22] Silmathoron commented on #514
Well, I'm not expert enough to know whether the memory/speed gain will have any influence... maybe @heplesser can help on that or knows someone who might tell us. In the meantime I'll try to run some tests on a cluster to compare the runtimes, but this might take time because this week schedule is rather tight...
I agree, though, that having redundant code might not be the best option; yet it migh

[2016-10-10 06:02] golosio commented on #510
As I will not be able to participate to the VC, I want to say that I do not have a strong opinion about the default behavior. For sure @heplesser has much more experience then me on how to handle interaction with the user.

[2016-10-10 09:25] golosio commented on #514
It's true. However, as you know, redundant code makes code maintenance more difficult. In the past in other collaborative projects I had a lot of problems with that. There is always the possibility that someone modifies properly one part and not the other. Personally I always prefer to avoid redundant code.someone modifies properly one part and not the other. Personally I always prefer to avoid re

[2016-10-10 15:02] maharjun opened #517 "nest.helpdesk() error: RangeCheck in getinterval_s"
I have compiled nest without MPI support for python3. Upon running the following

[code]

I get the following error

[code]

[2016-10-11 11:05] Silmathoron commented on #514
I added the question to the VC so a decision can be made with everyone ;)

[2016-10-11 13:27] golosio commented on #514
ok, but maybe it was not necessary. Your opinion and that of @heplesser is importanr for me, because you took care of this part of the code, and if my arguments did not convince you, I would use two separate functions, even though I have a different opinion.

[2016-10-12 22:52] heplesser commented on #517
I can reproduce this error under Linux with Python 2.7 with a standard `.nestrc` file containing
[code]
on a computer that does not have `firefox` installed.

As a work-around, you should change `firefox` to the name of a browser available on your system in the `.nestrc` file in your home directory. The expression in parentheses should start the browser from the command line.

Under OSX 10.11 with

[2016-10-13 08:42] heplesser commented on #514
@golosio @Silmathoron "Das Bessere ist der Feind des Guten", as we say in German ("The better is the enemy of the good"). Avoiding code duplication is generally a good idea, and here we can do it in a very straightforward way, so I think it is a good idea. Indeed, you can make it even more compact:
[code]
Since `node.P_.Delta_T` is constant during simulation, compiler and CPU will be able to do br

[2016-10-13 08:54] Silmathoron commented on #514
Ok, fine for me, I'll make a PR to update this.

[2016-10-13 09:08] golosio opened #519 "Improve the mechanism for skipping elements of parameter arrays with connection rule all_to_all"
in conn_builder.cpp, line 849-853:

[code]

and same thing in other parts of the same file.
Looping over skip_conn_parameter_() can become very inefficient due to nested loops and function calls, including to ConnParameter::skip(), which requires a vtable lookup. Since the number of source neurons is fixed in the all_to_all rule, it should be possible to avoid those loops and to pass the number of

[2016-10-13 09:34] heplesser opened #520 "Review and improve *_cond_*_multisynapse models"
There are probably some ways to simplify the `*_cond_*_multisynapse` that should be exploited, e.g., replacing the `num_of_receptors` counter with a getter method and removing unused `receptor_type` array.

See also #472, #511, #509, #510.

[2016-10-13 12:10] tillschumann opened #521 "*_hpc connections return local id instead of global id of target neuron"
SLI example:
[code]

Output:
[code]
[code]
I think it is misleading that on the one side you get the global neuron id and on the other side the local neuron id.

[2016-10-14 09:33] sanjayankur31 opened #522 "Permit recording of calcium concentration for structural plasticity simulations"
Moving the discussion on the mailing list here.

The number of synaptic elements in neurons is a function of the calcium concentration and therefore, it is quite important to be able to monitor the calcium metrics. At the moment, one cannot record calcium concentration. The simulation has to be stopped, calcium information dumped, and then the simulation resumed. This has a very high overhead cost

[2016-10-15 23:12] adamhaber commented on #74
I am experiencing very similar issues as well. Installed nest 2.10.0 from source, with brew's GSL. Running `make installcheck` gave the following result:

  Total number of tests: 729
     Passed: 708
     Failed: 21 (17 PyNEST)

*** There were errors detected during the run of the NEST test suite!
*** Please report the problem at
***     https://github.com/nest/nest-simulator/issues
*** To help u

[2016-10-18 01:42] alexeyshusharin opened #523 "NEST connection infrastructure improvements"
## 1. Introduction

Information about connections between neurons is a major memory consumer in neural simulations. This makes the effective connection memory management one of the most important aspects of neural simulation software. NEST simulator has quite effective memory management. [The great work](http://journal.frontiersin.org/article/10.3389/fninf.2014.00078/full) was done to reduce the c

[2016-10-18 14:57] jougs commented on #517
Fixed by #518.

[2016-10-18 14:57] #517 closed

[2016-10-19 13:35] janhahne commented on #440
@heplesser I agree with you. An exception is the better choice. There is however one tricky case: All-to-all connections are symmetric by default. So we need to allow the creation of all-to-all connections with `symmetric=false`.

I created a PR (#524) which implements this and hopefully resolves this issue.

[2016-10-20 11:29] jougs opened #525 "Define what ResetNetwork is expected to do"
Resetting a simulation mid-flight is a complex task. The function `ResetNetwork` is meant to do this, but the implementation is incomplete.

We thus decided to investigate what cannot be done explicitly without the function (e.g. resetting the internal spike buffers in neurons) and add corresponding functions. Once we have these functions in place, we deprecate `ResetNetwork` for the next release

[2016-10-25 11:14] alberto-antonietti opened #527 "Segmentation fault with DataConnect and Multithreading"
I was trying DataConnect with multiple threads, and I got a segmentation fault if the number of threads was >1.

I have compiled the current Github version of NEST on Linux Ubuntu 14.04, with gcc-4.8.

This is the pynest script that I have used to reproduce the issue:

[code]

If I set "CORES" to 2, 4 or 8, I get a segmentation fault error, sometimes without any information, sometime with a little

[2016-10-25 17:30] heplesser commented on #527
I can confirm this on master on OSX 10.11 with gcc 6.2.1.

[2016-10-26 03:52] james4424 commented on #506
@flinz @heplesser I have also generalized the original clopath voltage plasticity rule to account for anti-hebbian plasticity observe at distal dendrites of the layer 5 pyramidal neuron (see attached poster). This is one of the experiments that cannot be accounted for in the original paper.
[poster_ver6_1.pdf](https://github.com/nest/nest-simulator/files/552282/poster_ver6_1.pdf)

The generalized

[2016-10-26 12:26] esternwar opened #528 "NEST install error"
OS - Kubuntu 16.10 Yakkety Yak Release
Error text:
/home/****/soft/nest/nest-2.10.0/sli/slistartup.cc: In member function 'bool SLIStartup::checkpath(const string&, std::__cxx11::string&) const':
/home/****/soft/nest/nest-2.10.0/sli/slistartup.cc:75:15: error: cannot convert 'std::ifstream {aka std::basic_ifstream<char>}' to 'bool' in return
   return ( in );

[2016-10-26 13:36] jougs commented on #528
Duplicate of issue #220, fixed by pull request #389.

You can either update to latest git master or merge the changes from the linked pull request.

[2016-10-26 13:36] #528 closed

[2016-10-26 13:45] #510 closed

[2016-10-26 13:45] #514 closed

[2016-10-27 13:16] Silmathoron commented on #523
Hi Alexey,
thanks a lot for the extensive proposal, this looks really interesting.
Some of it went a bit over my head, though, so I have a few questions:

## TargetConnector

Since ``TargetConnector`` has not been created yet, what is the "target pointer to the list" you're referring to?

I'll let you discuss with people that are more knowledgeable than me about the default number of ``Connection`

[2016-10-27 16:26] alexeyshusharin commented on #523
@Silmathoron, Thanks for feedback!
Please see answers below.

Probably I should change a description a little bit to make it more clear.
Each Node has a pointer to the first TargetConnector object. This is actually a pointer to the linked list of TargetConnector's. When the connections are not created, the list is empty and so this pointer is null.

The question is reasonable.
If we have only poin

[2016-10-27 16:38] Silmathoron commented on #525
Hi @jougs!
I'm not sure I understand what you would replace ``ResetNetwork`` with...
What I expect from this function is that it resets everything as it was before my **very first** call to ``Simulate``, i.e.:

- all network structure (neurons, synapses, devices...) is unchanged
- time is reset to 0
- all nodes' status are reset to their initial values at object creation.

[2016-10-31 11:21] heplesser commented on #487
@diesmann @gewaltig This looks like a SLI bug of a kind that needs seasoned interpreter experience---could one of you take a look?

[2016-10-31 11:31] diesmann commented on #487
I can take a look.
Markus

On 31.10.2016 12:21, Hans Ekkehard Plesser wrote:

--

Prof. Dr. Markus Diesmann, Director
Inst of Neuroscience and Medicine (INM-6)   Tel +49-2461-61-4748 (secr)
Computational and Systems Neuroscience &        +49-2461-61-9301 (lab)
Institute for Advanced Simulation (IAS-6)   Fax +49-2461-61-9460
Theoretical Neuroscience                    Mob +49-175-290-1943
Jülich Re

[2016-10-31 12:43] heplesser opened #531 "Use singular parameter names throughout"
Several multisynapse models currently use plural versions of parameter names, such as `taus_syn`. The Developer VC on 31 Oct decided to standardize to singular names (`tau_syn`) throughout; there had been no protest after @heplesser's mail in this matter to NEST User on 26 October.

[2016-10-31 12:49] heplesser opened #532 "Provide fast way to determine in-degree of node"
Currently, determining the in-degree of a node in general requires expensive `GetConnections` operations. On the other hand, `Archiving_Node` already keeps track of the number of incoming plastic synapses. Could we extend this mechanism so that it becomes cheap to determine the in-degree of a node?

The background for this is a request for noise proportional to the in-degree of a neuron by Adam H

[2016-10-31 13:15] heplesser commented on #445
@jougs Could you take a look at this one?

[2016-10-31 15:39] heplesser commented on #290
@sdiazpier What is the status on this?

[2016-10-31 15:41] heplesser opened #533 "Parallell tests for structural plasticity and disconnect"
Currently, there are no tests for structural plasticity running in parallel, neither using MPI, nor threads, or a combination of both. These tests need to be added. They should also cover plain `Disconnect` without use of structural plasticity.

See also #290.

@sdiazpier Could you work on this?

[2016-10-31 15:45] heplesser opened #534 "Defined interface to neuron models with multiple receptors"
Currently, there is no well-defined interface for neuron models which have multiple receptors. Compare, e.g., `ht_neuron` and `iaf_psc_alpha_multisynapse`. The former offers a `receptor_type` dictionary mapping channel names to numbers, while the latter provides `n_synapses` implying that valid receptor numbers are 1 ... n_synapses.

The lack of standardization makes testing difficult. We should d

[2016-10-31 22:44] heplesser commented on #527
@alberto-antonietti I would recommend that you use the `Connect` function, which also accepts explicit parameter arrays. I have rewritten your example with `Connect` below. It uses the default all-to-all connection rule and parameters are given asa 2D matrix, with one column per source and one row per target neuron. Alternatively, you could use the `one-to-one` rule with 1D arrays. You can also mi

[2016-11-01 08:53] stinebuu commented on #406
PyNEST manages to handle the error correctly with Python 3, we are looking at the problem with Python 2.7 now.

[2016-11-01 10:33] alberto-antonietti commented on #527
Thank you @heplesser! I will avoid using `DataConnect` in the future, thanks for the two alternatives!

[2016-11-01 11:09] heplesser opened #537 "Remove DataConnect"
`DataConnect` appears to have bugs (see #527) and also appears significantly slower than `Connect` with parameter arrays (factor 3 in one benchmark). I thus propose to remove `DataConnect` from NEST. Note that `DataConnect` is not illustrated in any examples include with NEST, which probably means that it is not use too widely.

For one example of re-writing a script using `DataConnect` with using

[2016-11-01 13:59] heplesser commented on #537
Timeline:
- Mark `DataConnect` as deprecated in NEST 2.12
- Remove it with NEST 3.0

[2016-11-01 14:10] heplesser opened #538 "GetStatus should (be able to) return a structured NumPy array"
`GetStatus` currently returns a plain tuple of tuples then called with parameter names. Some Python acrobatics are required to turn this into a structure NumPy array that can be used easily, as in this example from #537:
[code]
It would be much cleaner, safer and probably more efficient if `GetStatus` returned a structure NumPy array right away, at least as an option.

[2016-11-01 19:01] tobiastshirt commented on #484
@ricardodeazambuja,

I am having the same issue. Any chance you found a solution?

[2016-11-01 19:14] tobiastshirt commented on #484
@heplesser
(1) nest starts on its own.

(2) Using Python 2.7.12, compiled with brew, on MacOSX 10.10.5

(3) brew test nest comes up with the same error message as the command within python:
Testing homebrew/science/nest
==> Using the sandbox
==> /usr/local/Cellar/nest/2.10.0_3/bin/nest --version
==> /usr/local/Cellar/nest/2.10.0_3/share/nest/extras/do_tests.sh --test-pynest
Last 15 lines from /Use

[2016-11-01 21:05] tobiastshirt commented on #484
Update: the issue resolved when adding the following flags to the brew formula in addition to the --with-python flag already set in the previous brew:
--with-mpi --without-gsl --without-openmp --HEAD

the import nest command still fails, but with a different error message

[2016-11-02 13:33] heplesser commented on #484
@tobiastshirt You write that the issue resolved with the additional flags, but that you still get an error when running `import nest`. This is confusing: if you mean by "resolved" that all tests pass, then importing nest must work---the Python-based tests all import nest. Could there be a problem with your PYTHONPATH? And what error message are you now getting?

[2016-11-02 13:59] tobiastshirt commented on #484
@heplesser
Thanks for your help, and sorry for being unclear in the last post. When importing nest I now get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/nest/__init__.py", line 52, in <module>
ImportError: cannot import name pynestkernel

I assume that the original error was resolved because 'brew tes

[2016-11-02 14:54] jougs commented on #534
@heplesser, I agree that there should be at least some conventions for this. @DimitriPlotnikov, @ingablundell: can you please comment from the NESTML perspective?

[2016-11-02 15:10] DimitriPlotnikov commented on #534
`ht_neuron `: has different but fixed named ports.
`iaf_psc_alpha_multisynapse`: has arbitrary many unnamed ports.

For me it is just different concepts that should be also tested with different strategies. Currently, in NESTML we follow the NEST convention.

Of course, we can add indexes to the ht_neuron, which can used to work with a particular channel (and where do I get information which index

[2016-11-02 21:07] heplesser commented on #484
@tobiastshirt Could you try adding `/usr/local/lib/python2.7/site-packages` to your `PYTHONPATH`?  It might be an idea to put that into your `.bashrc`, since it is a quite common path.

[2016-11-03 09:27] DimitriPlotnikov commented on #534
@heplesser, @jougs
Could you, please, provide concrete use-cases where the unified API would be use-full? "Testing" sounds a way to abstract for me.

[2016-11-04 10:32] Silmathoron commented on #473
Ok, here's news!
I made the changes to ``hh_cond_exp_traub``, but then I thought "ok, wth, I'll make a test to check all neurons implement ``t_ref`` correctly" (at least all those that have it)...
**But**... it turns out that:

1. there are model like ``amat2_psc_exp`` does not clamp the potential during refractory period, so I cannot check it directly (same for ``hh_*`` obviously)... would you ha

[2016-11-04 10:37] heplesser commented on #243
Idea from @tillschumann : Use MPI Recude operations from SLI to collect test data across ranks.

[2016-11-04 10:37] heplesser commented on #243
Idea from @tillschumann : Use MPI Recude operations from SLI to collect test data across ranks.

[2016-11-04 10:37] heplesser commented on #243
Idea from @tillschumann : Use MPI Recude operations from SLI to collect test data across ranks.

[2016-11-04 10:38] heplesser commented on #243
Idea from @tillschumann : Use MPI Reduce operations from SLI to collect test data across ranks.

[2016-11-04 10:38] heplesser commented on #243
Idea from @tillschumann : Use MPI Reduce operations from SLI to collect test data across ranks.

[2016-11-04 10:46] heplesser commented on #243
Idea from @tillschumann : Use MPI Reduce operations from SLI to collect test data across ranks.

[2016-11-04 13:13] henriklinden commented on #484
Hi,

I have also run into similar problems when trying to install nest via brew on macOS 10.12. After some helpful advice from @heplesser on the nest_user mailing list I tried a slightly different route: I installed gsl, gcc, cmake and libtool from brew and then compiled the latest nest from git in a python 2.7 conda environement (I did it in the root environment, but a separate environment also w

[2016-11-04 14:56] heplesser commented on #243
Idea from @tillschumann : Use MPI Reduce operations from SLI to collect test data across ranks.

[2016-11-04 23:54] Silmathoron commented on #532
I think we can reference @alexeyshusharin's proposal (#523)  here, since it directly addresses this problem, among other things.

[2016-11-08 08:50] heplesser commented on #455
# Design of GIDCollections

`GIDCollection`s were introduced as a compact representation of network nodes. They currently exist in two forms, either representing a contiguous range of GIDs by storing the first and last neuron, or by storing an explicit array of arbitrary GIDs. `GIDCollection`s are currently only created by explicit conversion operations on the SLI level, and are accepted by the `C

[2016-11-08 11:28] terhorstd commented on #455
first version of GIDCollection UML:
![gidcollections](https://cloud.githubusercontent.com/assets/19151396/20097445/bf2c7c24-a5ae-11e6-84b9-9eccce2bf170.png)

[2016-11-08 12:59] tclose commented on #484
I am having the same problem with the brew version.

I had a look at that line in sli_io.cc and it relates to the dynamic casting of ostringstream

[code]

I checked the config.log and looks like HAVE_SSTREAM was defined. However, I am guessing that it isn't being consistently defined across the build so that ostreamdatum->get() is returning a std::ostrstream instead of a ostringstream and this is

[2016-11-08 14:48] heplesser commented on #455
@terhorstd I struggle to get Dia to run on OSX, so could you add the following additions to the UML diagram:
- `GIDCollectionMetadata` class, see above
- `GIDCollectionMetadata const * get_metadata() const` method
    - zero pointer indicates no metadata
    - `GIDCollectionComposite` returns `parts[0].get_metadata()`
    - `operator+()` raises an exception unless `metadata_ == other.metadata_` (e

[2016-11-08 14:53] heplesser commented on #481
## User interface changes

### Current
[code]
displays layer-specification dictionary

### Future
[code]
- First returns status of all nodes in layer
- Second returns layer-specification dictionary

## Implementation

- `AbstractLayer` no longer inherits from `Subnet`
- Metadata in class derived from `GIDCollectionMetadata`, contains
    - pointer to layer object
    - dictionary datum with layer-

[2016-11-08 15:28] apeyser commented on #481
@heplesser : Have you considered using the 'with' grammatical construction with topology?
So:
[code]

[2016-11-08 17:32] thisroot opened #543 "error make command in cygwin windows"
Hi, i got an error message when  runing "make" command.
I try to install Nest to Cygwin in Windows.
May be is missing library. Did anybody passed this step?

[code]

nest.h
[code]

[2016-11-09 21:38] heplesser commented on #481
@apeyser Your suggestion seems a bit like a step back into the subnet approach we want to leave behind. In #455, we propose that GIDCollections (as returned by CreateLayer) would be immutable, so you could not put anything into them once they are created. Also, I would like to retain the declarative approach of topology, where all information required to specify a layer is passed to CreateLayer in

[2016-11-11 09:26] Silmathoron commented on #543
Hi @thisroot, could you give us some specifics on your install: what compiler are you using? which version?
In fact if you could give the result of configure, it would be best.
I'm not sure many people tried to install NEST on windows (I sure didn't), and I'm pretty sure we make no guarantee it is possible... but it would be interesting to know!

[2016-11-11 09:53] thisroot commented on #543
Hi @Silmathoron, into the "limits" library which supply with sygwin not have LONG_LONG_MAX type, I changed this type on a LLONG_MAX, and this step has been continued, and i got a new errors, but this is a other story.

[2016-11-11 09:53] #543 closed

[2016-11-11 10:00] Silmathoron commented on #543
Ok, good!
If you run into other errors, you'll probably get answers more quickly if you post on the mailing list.
Also if you manage to get NEST running on widows, please give us a feedback on what you did so we can add a tutorial on the website ;)
Good luck!

[2016-11-11 15:34] flinz opened #545 "SetDefaults on connections with wrong DataType crashes Nest"
In the [master branch](https://github.com/nest/nest-simulator/commit/1fd378f8d95d64ed0af32fadd373a9500a68e719) calling ``SetDefaults`` on a connection with a wrong datatype causes Nest to ``terminate called without an active exception``.  In Nest 2.10 this correctly raised a NestError. Importantly, for neuron models this still works correctly, see below.

Missing we be missing something in our uni

[2016-11-14 09:20] heplesser commented on #455
# Summary of Design Discussion 8 Nov 2016

@terhorstd, @stinebuu, @hakonsbm and @heplesser discussed design via VC on 8 Nov. Here a summary of conclusions and open questions. This post is based on notes by @terhorstd .

## How to include "explicit collections" (general unsorted non-unique arrays) in GIDCollection interface?
* not the same type of objects and used for entirely different purposes
*

[2016-11-14 10:24] stinebuu commented on #455
We will introduce fingerprints in order to properly handle `ResetKernel()`. After using `ResetKernel()` all metadata etc. will be gone, but we will still have the GIDs and/or other data the user might have extracted. It is important that we are not able to use these GIDs in functions such as `Connect`, because the user might have created a new set of metadata that does not correspond to the old `G

[2016-11-16 14:39] Silmathoron opened #547 "Inconsistent implementation of refractory period between iaf and aeif models"
The implementation of the refractory time is inconsistent between the ``iaf_*`` and ``aeif_*`` models:

- aeif models "seem to consider" that when a spike occurs, the spike was emitted at the beginning of the step, so the timestep containing the spike is considered in the refractory period.
- iaf and gif models do not see it that way, so there is an additional timestep compared to aeif...

Here is

[2016-11-17 10:26] heplesser commented on #406
#536 will fix this.

[2016-11-17 10:29] heplesser commented on #405
@dnao Can we close this issue?

[2016-11-17 10:34] heplesser commented on #290
Per 2.12, NEST should at least prohibit simulations with structural plasticity and multiple threads, if we cannot solve this issue properly by then.

[2016-11-17 10:58] sanjayankur31 commented on #290
@sdiazpier - can you please expand on "unwanted behaviour"? I'm using SP with MPI but I haven't really been analysing the data yet. If you can give us more information, I can narrow down the issue. Either a test case or a data dump from a test case would be most helpful?

[2016-11-17 11:57] heplesser commented on #519
@golosio Note that #465 is merged and that a version of `skip_conn_parameter_()` skipping a given number of nodes is now available.

[2016-11-17 12:08] golosio commented on #519
@heplesser right, I can take care of this issue

[2016-11-17 12:39] heplesser commented on #477
@golosio Would you consider closing this issue, since NESTML will provide a much more general solution?

[2016-11-17 12:42] heplesser commented on #468
@uahic Does this problem still exist for the current master?

[2016-11-17 12:42] heplesser commented on #463
Closing as this was fixed by #465 .

[2016-11-17 12:42] #463 closed

[2016-11-17 12:47] heplesser commented on #266
I am working on this in connection with #455, I have a working prototype and will create a PR in the not too far future. I close this issue to keep issue-clutter down.

[2016-11-17 12:47] #266 closed

[2016-11-17 12:50] heplesser commented on #355
Proper support for iterating and slicing over GIDCollections will be provided by the PR addressing #455. A prototype exists, a PR should be ready soon. I keep this issue alive as it indicates some code that is superfluous and can be removed once #455 is fixed.

[2016-11-17 12:52] heplesser commented on #369
This can be addressed as an add-on once #455 is fixed.

[2016-11-17 12:59] heplesser commented on #430
@tillschumann You are right that vp is -1 for remote nodes, but then, there are never pointers to remote nodes, so `is_local_node()` should only be called for local nodes with valid vp numbers. But clearly, the method name then is very misleading and there should be some checks: `const Node&` as input argument instead of `Node*` and assertion that `vp >= 0`.

[2016-11-17 13:04] golosio commented on #477
Sure...

[2016-11-17 13:04] #477 closed

[2016-11-17 13:11] heplesser commented on #21
Since this issue will go away once #526 is solved, I close this issue to reduce issue-clutter.

[2016-11-17 13:11] #21 closed

[2016-11-17 13:13] heplesser commented on #102
I close this issue since we now have #541 .

[2016-11-17 13:13] #102 closed

[2016-11-17 13:15] heplesser commented on #114
This have been fixed by #474 .

[2016-11-17 13:15] #114 closed

[2016-11-17 13:19] heplesser commented on #211
This has been fixed by #221, thus closing.

[2016-11-17 13:19] #211 closed

[2016-11-17 13:27] heplesser commented on #279
Closing this, since it is superseeded with the more general #505 .

[2016-11-17 13:27] #279 closed

[2016-11-17 13:29] heplesser commented on #304
Added 3.0 Milestone, since all examples will require review as we transit to GIDCollections and remove subnets, see #480 .

[2016-11-17 13:31] heplesser commented on #329
See also #473 .

[2016-11-17 13:33] heplesser commented on #330
See also #473 .

[2016-11-17 13:36] heplesser commented on #351
For 2.12, we should at least introduce a barrier that stops connections from devices using fixed_indegree or fixed_total_number.

[2016-11-17 13:43] heplesser commented on #352
@jakobj I have recently opened #488 for a general approach to initializing parameterization of nodes and connections. We should see this and that issue in context.

[2016-11-17 13:46] heplesser commented on #354
I close this for the following reasons:
- Once we transition to GIDCollections, these contain neurons only once, so the problem disappears.
- In addition to Connect based on GIDCollections, we will have support for data-based version(s) which will allow repeated GIDs but will strictly do one-to-one connections.

[2016-11-17 13:46] #354 closed

[2016-11-17 13:49] heplesser commented on #358
@wschenck Is this still acute?

[2016-11-17 13:58] heplesser commented on #370
Since #229 was not merged, we are still lacking these models. See also #368 .

[2016-11-17 13:59] heplesser commented on #402
This works now, thus closing.

[2016-11-17 13:59] #402 closed

[2016-11-17 14:02] heplesser commented on #390
@apeyser Does this problem still persist?

[2016-11-17 14:07] heplesser commented on #495
Possibly relevant info from NEST User from @gtrensch :

NEST requires the Python interpreter and the Python libraries to be of exact same version. The CMake configure process tries to find a matching pair and runs some checks. If this is not successful an error is raised.
You always may overwrite following CMake variables to set the Python environment:

PYTHON_EXECUTABLE ..... path to the Python i

[2016-11-17 14:08] heplesser commented on #498
Closing this since there has not been any more activity for over a month.

[2016-11-17 14:08] #498 closed

[2016-11-17 14:48] Silmathoron commented on #370
Right x)
I completely forgot that... but I guess we should discuss the implementation anyway... I'm usually in favor of GSL but maybe this model is solvable exactly and should be implemented differently...

Btw @heplesser, is there a document somewhere explaining the new labels? The "C", "I", P" letters are not very explicit to me...

[2016-11-17 23:35] heplesser commented on #370
@Silmathoron I will post an explanation of the labels on the Wiki shortly. C: Component, I: Interface, P: Progress, S: Severity, T: Type. The main point of having these letters in front is to make sure that the labels for the different "dimensions" always are in the same (alphabetical) order.

[2016-11-18 11:16] uahic commented on #468
@heplesser Currently, I am currently not able to reproduce it but if it happens again I'll let you know

[2016-11-18 11:50] uahic opened #550 "Enhancement of NEST input/output devices for interactive purposes (e.g. for MUSIC)"
I would like to open a discussion about some enhancements to the NEST C++ level to improve interactive remote-control and since it requires modifications to existing code I would like to hear others opinions first.

Issues:

- Phillip Weidel has built a very useful weight-recorder but as all the other devices it does not allow streaming the buffer values out via MUSIC.

- Spike/Current,... generat

[2016-11-18 14:26] heplesser commented on #468
@uhaic Then I will close the issue for now. Please re-open it if the problem should recur.

[2016-11-18 14:26] #468 closed

[2016-11-21 07:22] apeyser commented on #481
@heplesser: So you want them built bottom up rather than top bottom?

In the end, it's an api detail -- we could build the data structures in any direction, if we found it handy, and then interface to the bottom up approach.

[2016-11-21 10:45] heplesser opened #552 "Add deprecation warnings for features that will disappear with NEST 3."
NEST 2.12 should issue deprecation warnings for any functions or models that will not be part of NEST 3 and suggest alternatives. Warnings are limited to PyNEST, since few people write SLI these days except for tests.

The critical change in NEST 3 is that subnets will disappear and thus all functions based on subnets. For more on `GIDCollection`s, see #455. Below is a list of model and functions

[2016-11-21 15:29] uahic opened #553 "Distance-dependent structural plasticity"
Hi, I  would like to ask if there is any way to couple the probability of rewiring during the connectivity updates to the distance between pre- and postsynaptic neurons? As far as I can see it is entirely independent of distance measures but maybe I have overseen something or do you think topology (in NEST of course) should emerge from the plasticity rules only?

[2016-11-21 21:20] heplesser opened #554 "How to handle end-of-simulation time when simulation is interrupted / Remove `resume`?"
Work on #311 in #542 revealed the following: If simulation is interrupted during the update cycle, the `to_do_` entry of the kernel is not reset. Consider the following situation (after merging #542):

1. `100 Simulate` is called, starting from time 0
1. The simulation is interrupted by a user signal at time 55.5
1. `100 Simulate` is called

Then, after the interrupt, `0 /time get` will report 55.

[2016-11-21 21:23] Silmathoron commented on #547
Any thought about which behavior should be enforced?
I think each implementation is logical but:

- it seems weird to have apparently different refractory periods
- since the aeif model can be equivalent for some sets of parameters, we cannot allow it anyway

I guess since the iaf is kind of the reference model, we should change the aeif to match it's behaviour... I'll try to check on other simula

[2016-11-21 21:26] heplesser opened #555 "How should NEST handle external signals?"
At present, NEST can handle signals `SIGINT`, `SIGUSR1` and `SIGUSR2`, provided that NEST is compiled without MPI. If such a signal is received during the simulation update loop, the loop is exited at the end of the next min-delay interval.

Issues
- The interrupt mechanism appears to use some very ancient constructs, see `sli/psignal.*`
- It is not documented nor clear that just the three given s

[2016-11-21 21:27] heplesser opened #556 "Define kernel states and transitions between them properly"
As @apeyser pointed out during the review of #542, which addresses #311, kernel states are currently labeled by a collection of boolean flags with no formally defined transition rules.

The task is to defined a finite set of states, preferable as enumeration, and to precisely define the transition rules between those states.

See also #554 and #555.

[2016-11-21 22:15] heplesser commented on #547
I have now come to the conclusion that the implementation in `aeif_psc_alpha` is incorrect, while `iaf_psc_alpha` is correct. I assume this carries over to the remaining `aeif_*` models as well.

The problem is that in [`aeif_psc_alpha::update()`](https://github.com/nest/nest-simulator/blob/ba239aebeca066b0d8d6d739f060e55143f1e346/models/aeif_psc_alpha.cpp#L447), the refractory counter is counted

[2016-11-21 22:20] heplesser commented on #472
This will be fixed by #541.

[2016-11-21 22:29] Silmathoron commented on #547
OK, I'll have a look next week

[2016-11-22 00:33] heplesser commented on #547
@Silmathoron I added three new tests at then end of `test_iaf_cond_beta_multisynapse.sli` in #557. I think those tests generalize to all aeif models (and iaf models, except the third which checks w dynamics). Maybe one could create a separate test that runs these tests for all relevant models?

[2016-11-22 07:48] Silmathoron commented on #547
Ok, I also provided some refractoriness tests in the pending PR correcting the ``hh_cond_exp_traub`` model that directly check that the correct duration is implemented, but they can't work until the aeif models are fixed ^^

[2016-11-22 10:01] heplesser opened #558 "Ensure all examples work with 2.12 and avoid deprecated functions"
Once all other issues for this milestone are complete, including #552, ensure that all examples work and do not use deprecated functionality.

[2016-11-22 11:13] heplesser commented on #547
I have implemented a reference solution and tests in #557 for `aeif_cond_beta_multisynapse`. The test mainly check
- that for `t_ref == 0` membrane potential is equal to `V_reset` only at the time step of the spike
- that for `t_ref == h`, where `h` is the resolution, membrante potential is equal to `V_reset` at the time step of the spike and the time step afterwards.

The correct implementation

[2016-11-22 11:13] heplesser commented on #547
@DimitriPlotnikov This is most likely relevant for NESTML.

[2016-11-22 12:08] heplesser commented on #547
An alternative implementation for the update loop is the following:
[code]
But the code is slightly more complex. The only difference between the two is that non-clamped variables, e.g., w for aeif models, will "feel" the effect of the spike from the sub-step at which the threshold crossing is detected, while with the first solution the effect starts with the next time step.

I put this up for dis

[2016-11-22 12:50] heplesser opened #559 "Correct user documentation for spin_detector"
The user documentation for `spin_detector` is incorrect and looks like copied from `spike_detector`.  It needs to be corrected.

@mhelias Could you fix this asap?

[2016-11-22 13:22] #553 closed

[2016-11-22 17:02] priyankarroychowdhury3 opened #561 "Bug in NEST-INSTALLATION-SYSTEM"
If absolute path is not used during cmake, message will be displayed that NEST is correctly installed but in reality when you want to call NEST by some Python file, import Python error is obtained. On further analysis, it is found that most of the necessary files in /install/lib/python2.7/site-packages are missing.

Only when absolute path is used in cmake, the installation is done accurately.

[2016-11-23 19:10] heplesser commented on #440
This was fixed by #524, therefore closing.

[2016-11-23 19:10] #440 closed

[2016-11-25 16:42] zbarni opened #564 "Autocomplete for PyNEST API functions in editors"
Currently autocomplete features are not possibly with PyNEST in editors such as PyCharm. Reason for this are the dynamic imports in __init.py__:

    for name in os.listdir(os.path.join(os.path.dirname(__file__), "lib")):
        if name.endswith(".py") and not name.startswith('__'):
            exec("from lib.{0} import *".format(name[:-3]))`

One solution is to add imports manually, possibly als

[2016-11-25 22:06] jakobj opened #565 "Structural plasticity disables valid connectors"
Structural plasticity allows the creation and deletion of connections during runtime. In order to manage memory consumption, a heterogenenous connector containing multiple synapse types can be converted to a homogeneous connector when a deletion of a synapse leads to the situation that only a single synapse type is present in the connector (https://github.com/nest/nest-simulator/blob/master/nestke

[2016-11-27 23:48] heplesser commented on #445
Fixed by merge of #562.

[2016-11-27 23:48] #445 closed

[2016-11-27 23:51] #472 closed

[2016-11-28 11:24] heplesser commented on #547
Design decisin in NEST Open Developer VC 28 Nov: Implement variant 1 with threshold check and refractory countdown outside wihle loop.

[2016-11-28 12:47] DimitriPlotnikov commented on #547
FYI: diese Variant wird momentan in NESTML Generator benutzt.

MfG
Dimitri

On 28.11.2016 12:24, Hans Ekkehard Plesser wrote:

Design decisin in NEST Open Developer VC 28 Nov: Implement variant 1 with threshold check and refractory countdown outside wihle loop.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/nest/nest-simulat

[2016-11-28 16:54] graipher opened #567 "Error in compiling slistartup.cc"
When trying to compile on Ubuntu 16.10, with `./configure --prefix=/usr/local/`, I get the following error:

[code]

[2016-11-28 22:41] heplesser commented on #567
This is a duplicate of #220, which has been fixed by #389.

[2016-11-28 22:41] #567 closed

[2016-11-29 13:12] maharjun opened #570 "makeallhelp does not exist in dictionary"
The following command

    sli --userargs=$NEST_SRC_DIR/examples/MyModule/:$NEST_SRC_DIR/examples/MyModule/sli/ \
    $NEST_INSTALL_DIR/share/nest/sli/install-help.sli

results in the following error

    SLI v2.11.0 (C) 2004 The NEST Initiative
    Generating on-line help pages for NEST ...

    Nov 29 14:09:23 SLIInterpreter::execute [Error]: DictError
        Key '/:makeallhelp' does not exist

[2016-11-29 13:14] #531 closed

[2016-11-30 16:19] jakobj opened #571 "Structural plasticity delivers spikes via connections that were not present at the time of the spike"
The `update_` function in NEST contains the following while loop (severely simplified, see https://github.com/nest/nest-simulator/blob/master/nestkernel/simulation_manager.cpp#L588 ff):
[code]

As one can deduce from the comments, spikes are always "gathered", i.e., communicated among all processes at the end of a slice, while they are delivered at the beginning of the next slide. However, due to

[2016-12-01 07:16] lekshmideepu opened #572 "Travis unable to find the build log files in the Travis build directory"
Merge commit fails in Travis build as it is unable to find the log files in the build directory.

[code]
It is looking for the following files:
[code]
 Need to edit the .travis.yml file to look for new .html and .hlp files

[2016-12-01 11:20] heplesser commented on #547
@Silmathoron @DimitriPlotnikov @ingablundell I have now explored the issue of "inside" vs "outside" in detail, including a third variant, "inside" thresholding with precise return from refractoriness ("inside_pr"). To this end, I create a separate branch https://github.com/heplesser/nest-simulator/tree/issue-547-experiments with an instrumented `aeif_cond_alpha_experimental` neuron that allows sel

[2016-12-01 13:03] Silmathoron commented on #547
@heplesser thanks a lot for the extensive tests in the notebook!
What do you propose? I think the double refractory period is easy to implement and would be much better. However it would be more complex to test for correct implementation.
Anyway, I think this clearly rules out the outside detection, so should we reschedule this issue for the next VC?

[2016-12-01 16:05] #572 closed

[2016-12-02 08:45] Silmathoron commented on #547
Thinking back on this issue, I wonder about something: if we chose the ``inside_pr`` implementation (and I think we should) how should we deal with the non-gsl models?
I ask this question because this would lead us to model that are almost equivalent to the old "gridprecise" models I proposed in the original PR on the AEIF models.
However, at that time I had deliberately created two different mode

[2016-12-02 10:20] heplesser commented on #547
I propose that we settle for the plain "inside" method for now, correcting the count-down of refractory steps where necessary. This works well and keeps us close to the implementation we have had in most cond-based models so far. "inside_pr" has some issues as well (but beyond the scope of this issue) and requires more complex changes to models. I will send a mail to the list about these issues sh

[2016-12-02 10:24] Silmathoron commented on #547
Fine with me, I'll try to make the PR quickly

[2016-12-02 13:40] heplesser commented on #571
@jakobj The mysterious ways of network simulation ... I agree with your analysis in principle. One could argue, though, that structural plasticity occurs at a much large time scale than spiking, and that time itself thus should be considered coarse-grained with respect to synapse creation and deletion. Let us assume SP is updated very 100 ms. In a real network, new synapses are created at any time

[2016-12-02 13:49] heplesser commented on #570
@maharjun In NEST Master, we recently moved help generation from SLI to Python. This is also changed in [`examples/MyModule/CMakeLists.txt:270ff](https://github.com/nest/nest-simulator/blob/782d30a6dccb5452250d2289423c812f3e8947bb/examples/MyModule/CMakeLists.txt#L270). If you create your own module before this change was merged into master, you need to update the `CMakeLists.txt` file in you modu

[2016-12-02 13:52] heplesser commented on #564
@apeyser Could you take a look at this?

[2016-12-02 13:54] heplesser commented on #561
@jougs Could you take a look? Maybe we should ensure that CMake requires and absolute path?

[2016-12-02 13:55] heplesser commented on #410
Closing as this was fixed by #429.

[2016-12-02 13:55] #410 closed

[2016-12-02 14:23] heplesser commented on #372
@codeteam17 I just tried the following PyNEST version of your simulation on a recent master. You did not specify the number or size of networks, nor the input rates you used. My script sets up 10 networks with 10000 poisson generators each, with random rates from 100 to 5000 spikes/s. It runs nicely for me. Could you give it a try, adjusting the weight and input arrays to your case? If you still h

[2016-12-02 14:24] heplesser commented on #343
Closing as this has been fixed by#454.

[2016-12-02 14:24] #343 closed

[2016-12-02 14:29] heplesser commented on #325
@wvangeit Could you check if you still have this problem with the current master version from Github? I am also using Mac, and the tests work for me. Do you have any special numerical libraries installed that would replace glibc math functions such as `exp()`? I the problem has dissappeared, would you close the issue?

[2016-12-02 14:30] heplesser commented on #310
@steffengraber Has the recent merge of #464 maybe solved this issue?

[2016-12-02 14:31] heplesser commented on #309
@steffengraber Any news on this one with more recent versions?

[2016-12-02 14:34] heplesser commented on #252
I think @apdavison's comment provides a good explanation and work-around. I am therefore closing this issue.

[2016-12-02 14:34] #252 closed

[2016-12-02 14:34] heplesser commented on #246
@steffengraber Would the new help generator of #464 be useful to address this?

[2016-12-03 07:38] wvangeit commented on #325
@heplesser sure, will look at this in the coming week

[2016-12-03 11:42] sanjayankur31 opened #574 "`sudo make install` leaves a `doc/help` directory owned by root in the source tree"
Description of problem:
-----------------------------

Running `make install` to install nest to the expected directory, such as `/opt` leaves a `doc/help` directory owned by the `root` user in the source tree.

Version-Release or Git commit:
----------------------------------------

[code]

How reproducible: (Always/Sometimes/Unsure)
------------------------------------------------------------

A

[2016-12-03 14:20] Silmathoron commented on #552
@heplesser preparing the PR for the correct ``t_ref`` implementation in the AEIF models, I just remembered that ``aeif_cond_alpha_multisynapse`` is also based on ``aeif_cond_alpha_RK5``... shall we switch it to GSL?

[2016-12-04 16:38] sanjayankur31 opened #576 "[MPI][Structural plasticity] Running structural plasticity with MPI results in NEST crash"
Description of problem:
------------------------------
Running structural plasticity simulations using MPI results in a crash. I ran into this with my research simulation first and have tried to strip the simulation down in an attempt to pin point the issue. Not too successful yet, I'm afraid.

Version-Release or Git commit:
-----------------------------------------
[code]

How reproducible: (Alwa

[2016-12-04 17:01] sanjayankur31 commented on #576
- [Complete GDB stack trace with debuginfo enabled - gdblog.txt](https://github.com/nest/nest-simulator/files/629671/gdblog.txt)

[2016-12-05 06:16] steffengraber commented on #310
Yes, it is solved.

[2016-12-05 08:35] steffengraber commented on #309
I've tried it with the nest live media, installed the libneurosim and downloaded the newest master.
The same problems as above.

[2016-12-05 09:08] steffengraber commented on #246
@heplesser Do you have an example how the help should look like for Jupyter?

[2016-12-05 09:29] heplesser commented on #574
@steffengraber Could you take a look at this? I see two solutions:
- generate help as part of `make`
- still generate help in `make install`, but run the process building the pages with normal user privileges; I guess that would be safer, too.

[2016-12-05 09:30] heplesser commented on #552
@Silmathoron Would you have time to do this this week?

[2016-12-05 09:38] #310 closed

[2016-12-05 09:44] Silmathoron commented on #552
Maybe... but I've got the NESTML workshop so probably more like this week-end

[2016-12-05 09:47] heplesser commented on #246
@steffengraber It can look just as when displayed in a terminal, the problem is where it is displayed. Currently, `nest.help()` calls SLI `help`, which calls `page`, which in turn invokes the pager specified by the user (`more` or `less`). The pager then outputs directly to `stdout`, but in the terminal in which the user invoked `jupyter notebook`, not in the notebook window in the browser.

Ideal

[2016-12-05 13:27] steffengraber commented on #574
The documentation says:

    cmake -DCMAKE_INSTALL_PREFIX:PATH=</install/path> </path/to/NEST/src>
    make
    make install

For me, with this, 'git clean -dfx' works fine.

Installing as root do not only creates the help files with su priviliges. There are some more in different folders.
So, if you make 'sudo make install', you have to 'sudo git clean -dfx' to clear the source tree.

@heplesser

[2016-12-05 14:23] heplesser opened #578 "NEST allows multimeter connections to devices that do not support recording"
### Description of problem
NEST allows connections to devices that do not support recording.

### Version-Release or Git commit
Master @ 782d30a

### How reproducible?
Always

### Steps to Reproduce
[code]

### Actual results
- No error message, `events` dictionary has empty entries after simulation.
- No connection is created (checked by `nest.GetKernelStatus()['num_connections']`)

### Expected

[2016-12-05 14:24] heplesser commented on #576
@sdiazpier Could you take a look?

[2016-12-05 18:13] sanjayankur31 commented on #576
I've narrowed it down a little more. If I create the spike detectors, but don't connect them, the program doesn't crash any more. Still looking into exactly what's happening, but this should give some ideas to begin with:

[code]

[2016-12-05 23:15] heplesser commented on #509
This is now implemented in PR #557.

[2016-12-06 10:26] sanjayankur31 commented on #574
Usually, (and I'd think that this is more a convention than a rule) the `make install` step only copies files to the `INSTALL_PATH`, the building process is done in the `make` step. The issue is that system wide installation either in the FHS folders or alternatives such as `/opt/` or `/usr/local` etc. requires the use of `sudo make install` - non root users cannot write to these directories. For

[2016-12-06 10:36] steffengraber commented on #246
@heplesser jupyter runs in an other environment than python. This could be matched. I have created a (very) first example:
https://github.com/steffengraber/nest-simulator/blob/help_notebook/pynest/nest/lib/hl_api_info.py#L90

[2016-12-06 11:07] heplesser commented on #246
I wanted to try it, but after a clean install of master, `install/share/nest` only contains
[code]
How do I build the help files?

[2016-12-06 11:20] steffengraber commented on #246
@heplesser The files must be in '.../share/doc/nest/help'.

[2016-12-06 11:51] heplesser commented on #246
Sorry for mixing that up, but in `share/doc/nest` I just have
[code]
Which part of the build or install process should generate the help?

[2016-12-06 12:21] steffengraber commented on #246
Go to `extras/help_generator`

    python parse_help.py <source_dir> <build_dir> <install_dir>

source_dir: the root auf the nest-simulator path
build_dir: where you want to build the files
install_dir: path to ... share/doc/nest

[2016-12-06 13:58] heplesser commented on #246
Works, displaying the help text as normal output. Just a few comments:
- For Py3 compatibility, it must be `print(hlptxt)`
- The `if hlptxt == ''` text crashes, because if we didn't find a help file, the variable is undefined when we get here.

[2016-12-06 15:14] sanjayankur31 commented on #576
Narrowed it down further. It's a more general error. I can reproduce it in a simulation with ONE neuron, where no synapses are to be formed or deleted:

Test program
-------------------

[code]

Crash output
------------------

[code]

The relevant portion of the stack trace
-------------------------------------------------

[code]

Complete files
-------------------

- [gdb-new.txt](https://githu

[2016-12-06 15:17] sanjayankur31 commented on #576
Of course, no crash if the program is run without MPI.

[2016-12-07 13:44] maharjun commented on #570
@heplesser Yup this seems to work fine. Thanks for the clarification

[2016-12-07 13:44] #570 closed

[2016-12-07 17:43] jakobj opened #581 "NEST master (92d53f9) does not compile on K"
The current master branch does not compile on K due to the following error:

[code]
However, a few lines below it complains, that exactly that function is not referenced from anywhere (modulo the `&`, changing the function definition to pass-by-value also doesn't work, and in any case would not be a desirable change ):

[code]

Can anyone explain this imho rather strange behaviour of the compiler?

[2016-12-08 05:06] heplesser commented on #519
Fixed by #568.

[2016-12-08 05:06] #519 closed

[2016-12-08 05:30] heplesser commented on #581
@jakobj For some reason, `operator<<()` is defined with the `static` keyword
[code]
I do not even know what `static` means when applied to a function that is not a member of a class. But I noticed  that Eclipse also tells me that the function is never used, and that removing `static` removes that warning.

[2016-12-08 06:59] steffengraber commented on #246
Yes, using Python for printing the text in Python make sense. But using a pager on plain Python make sense, too. In NEST there is the mechanism choosing a pager with the `.nestrc`. I think, it is possible to use this.
Or is there a good pager for Python?

[2016-12-08 07:58] benoit-girard commented on #484
I am also having the same problem with the brew version.

I tested the solution proposed by @henriklinden, it seems to work (at least, I can "import nest" in python)

[2016-12-08 11:20] steffengraber commented on #363
This is solved with pr #464.

The help generator adds a new "Require:" section to the documentation.

[2016-12-08 13:01] heplesser commented on #246
Here two links from a quick google search:
- http://stackoverflow.com/questions/13227494/paging-output-from-print-statement
- https://pypi.python.org/pypi/pager

[2016-12-08 13:08] heplesser commented on #363
@steffengraber Ok, would you then close the issue?!

[2016-12-08 13:12] #363 closed

[2016-12-08 14:49] steffengraber commented on #246
Yes,` Pager` is a terminal/console pager module. With `pydoc.pager` pydoc works like a pager program. There are some more intersting pydoc extensions.
In a first test both looks like `less` - what is good.
But, why to change a good and flexible (choice of: `less`, `more`, `emacs`, `xemacs`,...)
way to present the docs?
Only to see if - and how - it works I have integrated a few lines in `hl_api_in

[2016-12-08 14:57] heplesser commented on #246
@steffengraber Besides the display issue in Jupyter notebooks, the other problem is NEST compiled with MPI. In that case, we cannot spawn a pager process and therefore NEST help is not available at all. If we used Python to do the paging, we would avoid this limitation.

[2016-12-08 16:22] Silmathoron opened #583 "Change PSCs implementation?"
As was pointed out by Sam at the NESTML workshop, for exponential or alpha shaped current/conductances, we do not need to compute them through a solver (e.g. GSL):
* the ODEs are linear
* not time dependent

This means that, e.g., ``I_syn(t) = f( t, I_syn'(0), I_syn''(0) )``, where ``t=0`` is the time of the last spike arrival.

From this, after a spike arrival, we only have to recompute the 1 (ex

[2016-12-09 07:43] heplesser commented on #583
@Silmathoron The function `f()` in your proposal represents update according to exact integration, doesn't it? Thus, one would update synaptic conductances using EI, and membrane potential (and other quantities) using an ODE solver. A master student of mine investigated this a little some years ago (unpublished). One problem we discovered then is that since conductances are always positive, integr

[2016-12-09 07:44] steffengraber commented on #246
I have tested it with `-Dwith-mpi:BOOL=ON`. It worked.

[2016-12-09 08:43] Silmathoron commented on #583
Ok, I'll try to investigate when time pemits.
For adaptive steps, I was kind of hoping that evaluating the conductance or current every time GSL returns (in the 2nd ``while`` loop) would be good enough... and still lighter that all the additional steps from the ``rk45``... we'll see!

[2016-12-09 14:03] #511 closed

[2016-12-09 14:36] wvangeit commented on #325
@heplesser I tried to install from the master using CMake. However, it seems that for some reason it doesn't install the Python module. (At least the import fails after I execute the nest_vars.sh script).
I'm also getting failed tests when running 'make test'. I've attached the log and the build script.
(I don't have any special math libraries installed that I know of)
Am running on Mac OS Sierra

[2016-12-09 16:12] heplesser commented on #325
@wvangeit There are unfortunately some problems on Mac, see #74 (related to the failing tests) and #484 (Python problems). Your log shows that CMake gets confused by a mix of 2.7.10 and 2.7.12.

@henriklinden recently provided a description for installing under macOS 10.12, see https://github.com/nest/nest-simulator/issues/484#issuecomment-258427350 .

Updating the installation instructions for Ma

[2016-12-09 17:42] jakobj commented on #581
Yes, you are right. I was wondering about that as well. Apparently this lets you define functions with the same name and signature but different behaviour across different .cpp files (see for example [this discussion on stackoverflow](https://stackoverflow.com/questions/10876930/should-one-never-use-static-inline-function)). however, removing the static keyword does not help in this particular cas

[2016-12-10 00:59] JanneM commented on #581
When we built NEST 2.6(?) on K some years ago, the Fujitsu compiler choked on overloading the << operator. We ended up patching the code to change them into regular methods and method calls instead.

[2016-12-10 14:34] SepehrMN opened #585 "Convention for neurons and connections named after modelers?"
Greetings,

Is there some form of a convention for neurons and connections named after the authors of publications?

I observed the following discrepancies:
ht_neuron and ht_connection (HTConnection)
but elsewhere we have mcculloch_pitts_neuron

I'll create a new model and I'm hoping to use kay_phillips_neuron and kay_phillips_connection

[2016-12-11 13:37] janhahne commented on #581
We had a similar problem with the gap-junction implementation and the K compiler. In the end we replaced the operator by functions (see https://github.com/nest/nest-simulator/pull/122/commits/af7632297d947f86e143eea405753e4e65f46ebd)

[2016-12-11 14:07] SepehrMN commented on #534
Hi,

I'm building models where connections either belong to the receptive field or the contextual field. This is a bit more abstract than receptors. Perhaps "channel_type" or "connection_type" would be more encompassing than "receptor_type"?

[2016-12-11 14:23] SepehrMN commented on #534
Just a small suggestion and a bit off-topic: perhaps `connection_type` or `channel_type` would be more encompassing than `receptor_type`. Especially for abstract neuron models without defined biophysical receptors. E.g., in a specific model I'm working on, all connections have to be labeled as either belonging to a contextual field or a receptive field:

https://www.ncbi.nlm.nih.gov/pubmed/2082106

[2016-12-11 19:01] jakobj commented on #581
thanks for you comments! I will create a PR soon to replace `operator<<` with a regular function, to make sure NEST stays K compatible.

[2016-12-11 21:08] sdiazpier opened #588 "Wrong units of the structural_plasticity_update_interval variable"
Currently, the structural_plasticity_update_interval variable, which defines the time between changes in the connections of the network (creation and deletion of synapses), is defined in number of simulation steps. This should be changed to ms so that it is more intuitive to the user and standardized to the other time variables in NEST.

[2016-12-11 22:05] heplesser commented on #585
@SepehrMN We have not been 100% consistent, but the general rule is to use build the name as
[code]
Examples are
- `iaf_chs_2007`
- `iaf_chxk_2008`
- `iaf_tum_2000`
We haven't applied these rules completely consistently, but for neuron models that are mainly known from a single paper and that have not been given a more general name in the publications that introduced them (e.g. `aeif` and `amat` m

[2016-12-11 22:15] SepehrMN commented on #585
@heplesser Many thanks! could not find this here: https://nest.github.io/nest-simulator/neuron_model_naming

I suppose `binary` <category> would suffice for both stochastic and threshold types.

[2016-12-12 13:43] #565 closed

[2016-12-12 17:24] sanjayankur31 opened #589 "Structural plasticity attempts to delete connections between neurons and spike detectors"
Description of problem:
------------------------------
I've been trying to debug a crash in a structural plasticity simulation, similar to #576.  Based on the traceback, it appears as if `update_structural_plasticity` tries to delete connections between neurons and `spike_detectors` when the number of synaptic elements has reduced and synapses need to be deleted. I've looked through the code, and

[2016-12-12 17:25] sanjayankur31 commented on #589
@sdiazpier @suku248 - can you please look to see if the analysis is correct when you have some cycles free?

[2016-12-12 22:01] #547 closed

[2016-12-12 22:46] Silmathoron commented on #473
Ok, merging #575 solved part of the problem so I will at least be able to propose a fixed hh_cond_exp_traub and tests for almost all neurons implementing ``t_ref``.
A notable exception remains ``amat2_psc_exp`` which does not clamp the potential... any opinion on the matter?
What about the problem of non-refractory IAF models and precise models?

[2016-12-13 05:51] heplesser commented on #473
- `amat2_psc_exp` does not clamp the potential. From Yamauchi et al (2011): "In addition, to avoid singular bursting, the neuron is not allowed to fire within an absolute refractory period τ_R even when the membrane poten- tial exceeds the threshold. If the membrane potential lies above the threshold after the period τ_R, the model assumes another spike."
- Which IAF models are non-refractory?
- P

[2016-12-13 08:54] Silmathoron commented on #473
Ok, so ``amat2_psc_exp`` is out.

Here is the current list of models I need to ignore:

    ignore_model = [
        "aeif_cond_alpha_RK5",
        "aeif_cond_alpha_multisynapse",
        "aeif_cond_beta_multisynapse",
        "amat2_psc_exp",
        "ginzburg_neuron",
        "hh_cond_exp_traub",
        "hh_psc_alpha",
        "hh_psc_alpha_gap",
        "ht_neuron",
        "iaf_chs_2007",

[2016-12-13 12:49] hakonsbm commented on #578
Additionally, there are similar cases where an attempt to create a connection fails silently, such as when connecting a generator, voltmeter, subnet or volume_transmitter with each other or with themselves. The source of this behaviour lies in [`ConnectionManager::connect`](https://github.com/nest/nest-simulator/blob/master/nestkernel/connection_manager.cpp#L364) which simply calls `return` when i

[2016-12-13 14:06] LeRyc opened #591 "Problem installing NEST on macOS Sierra"
I tried to install NEST the following way:
- cmake -DCMAKE_INSTALL_PREFIX:PATH=$HOME/opt/nest -DCMAKE_C_COMPILER=gcc-6 -DCMAKE_CXX_COMPILER=g++-6 ../nest-simulator/
- make
- make install
- make installcheck

When running 'make installcheck' all tests are successful except for the PyNEST tests (Phase 7). The following error message is printed:

Phase 7: Running PyNEST tests.
-----------------------

[2016-12-13 14:17] janhahne opened #592 "Incorrect linking in helpindex.html"
The links in `$INSTALLDIR/share/doc/nest/help/helpindex.html` now link to

`$INSTALLDIR/share/doc/nest/help/$BASEDIR?/$NAME.html` instead of `$INSTALLDIR/share/doc/nest/help/sli/$NAME.html` or `$INSTALLDIR/share/doc/nest/help/cc/$NAME.html` depending on `$NAME`

I did a quick search but failed to find the corresponding code to fix this. @steffengraber could you have a look at this (maybe this was

[2016-12-13 15:09] SepehrMN commented on #591
Not sure but it may be that the testsuite is using system python instead of the one used by you. Try using NEST and see if it works. You can try adding path of your python to your .bashrc / .bash_profile.

[2016-12-13 21:38] heplesser commented on #591
Indeed, it seems there is a mix of Python 2.7 and 3.5 here. You may want to take a look at [macOS suggstions by Henrik Lindén](https://github.com/nest/nest-simulator/issues/484#issuecomment-258427350).

[2016-12-13 21:50] #520 closed

[2016-12-13 21:51] heplesser commented on #509
Fixed by #557.

[2016-12-13 21:51] #509 closed

[2016-12-14 07:12] LeRyc commented on #591
Thank you guys! Everything works fine now.

It somehow was not enough to create a conda environment with version 2.7 when anaconda was version 3.5. I now installed anaconda 2.7 and all problems solved.

[2016-12-14 07:50] steffengraber commented on #592
@janhahne Thanks for debugging.
There is a pull request to fix it: #593.

[2016-12-14 14:28] Silmathoron commented on #473
@heplesser I just tried, ad due to the implementation of the HH models, there is just no way I can test them...
Using the interspike, I managed to test the ``mat2`` and amat2`` models, as well as the precise models.

[2016-12-14 14:46] #592 closed

[2016-12-15 12:10] heplesser commented on #558
Any issues arising here are fixed in #580.

[2016-12-16 18:01] jakobj opened #596 "Structural plasticity disables heterogeneous connectors"
Structural plasticity currently disables connectors when deleting a connection from a heterogenenous connector (no, this is not a duplicate of #565 ). In `disconnect`, the connector is validated, which clears the `has_primary` and `has_secondary` flags (https://github.com/nest/nest-simulator/blob/master/nestkernel/connection_manager.cpp#L645). After calling `delete_connection`, however, these valu

[2016-12-17 19:35] jakobj commented on #576
I just had a look at this bug and it can be traced back to an unprotected call to `SparseTable.get` in `get_targets` (e.g., https://github.com/nest/nest-simulator/blob/master/nestkernel/connection_manager.cpp#L1317). The access is usually done via the `validate_source_entry_` function, which resizes the sparsetable according to the total number of neurons in the network, and hence protects against

[2016-12-18 19:48] sdiazpier commented on #596
Hi dear @jakobj, your analysis sounds correct. Thank you for taking a deep look into this. :+1:

[2016-12-19 12:37] #581 closed

[2016-12-19 13:03] ErbB4 opened #598 "How to record free elements in structural plasticity"
Hi everyone,
I want to record the number of free axonal/dendritical elements with time during simulation in structural plasticity to check the synaptic dynamics. But I didn't find it in the sample code. Could someone please help me with it? Thanks in advance!
Best,
ErbB4

[2016-12-19 14:19] #351 closed

[2016-12-20 06:25] heplesser commented on #598
@ErbB4 The best place for questions regarding the use of NEST is the NEST User mailing list, see http://www.nest-simulator.org/community/ for information on how to subscribe and post. We use Github issues to manage errors and concrete enhancement proposals. I will close this issue and look forward to your post on NEST User.

[2016-12-20 06:25] #598 closed

[2016-12-20 09:51] heplesser commented on #486
The work-around does not seem to work if you have XCode 8 command-line tools installed. This is a GCC/LLVM bug:
- https://gcc.gnu.org/bugzilla/show_bug.cgi?id=71767
- https://llvm.org/bugs/show_bug.cgi?id=28427
At least the GCC bug seems to have been fixed recently, we'll have to wait until the fixed propagate to the GCCs distributed by Homebrew and Macports.

[2016-12-21 09:39] jakobj opened #600 "Nodes supporting waveform relexation can lead to desynchronization of MPI processes"
when simulating with two MPI processes, the following code causes the simulation to hang:
[code]

the cause for this can be found in https://github.com/nest/nest-simulator/blob/master/nestkernel/node_manager.cpp#L614 ff, where `any_node_uses_wfr` is only determined locally on every process. since in the simulation above, one neuron is located on rank 0, entering the wfr loop (https://github.com/ne

[2016-12-21 12:31] janhahne commented on #600
@jakobj Good catch and thank you for the analysis!

In general the node parameter `node_uses_wfr` should not be set by the user, but be determined as `false` if the neuron does not support waveform relaxation and equal to the kernel parameter `use_wfr` if the neuron supports wfr. So, a manual setting of `node_uses_wfr` can cause wrong results anyway. Therefore we should disable the possibility to

[2016-12-21 19:23] sdiazpier commented on #576
Hi dear @sanjayankur31 and @jakobj. I am checking the testcase provided by @sanjayankur31 and I have some additional info to provide. This crash does not happen with other neuron models or with the iaf_cond_exp without specifying the values for 'tau_syn_ex': 5., 'tau_syn_in': 10.  I think the problem goes higher, in the update_structural_plasticity, when maybe the information about a recently brok

[2016-12-21 23:12] jakobj commented on #571
Thanks for you commen @heplesser. I agree that it is difficult to argue about biological plausibility with this coarse grained update of synaptic elements, so the technical/user experience view should take precedence.
In this regard, I disagree with your first point: from the point of the user, spikes should be delivered via all and only those synapses that are present when the presynaptic neuron

[2016-12-22 00:03] heplesser commented on #600
My suggestion would be to perform MPI communication about the use of wfr on each `Simulate` call, before simulation actually starts. We have a check for grng-synchrony in place and one could do something similar for wfr. Checking whether a neuron supports wfr is possible remotely: Also for non-local nodes, you can look up the model based on the GID, and then check the model prototype. But you cann

[2016-12-22 00:04] #596 closed

[2016-12-22 00:16] heplesser commented on #571
@jakobj I would suggest that we discuss this during one of the next developer meetings.

[2016-12-24 01:17] uahic opened #605 "Nest-config does not include path topology module headers"
A possible minor bug:

Currently I am trying to add a Mexican Hat function as a TopologyParameter and pack it within a Nest Module. After having run the cmake .. command the 'make' command results in error massages indicating that topologymodule and topology_parameter headers cannot be found. Indeed, the nest-config --includes call does not return a path to the topology module headers.

Adding the

[2016-12-26 05:01] sepehrmn opened #606 "Design for a model involving a neural goal function for training weights"
Greetings,

I want to implement a model and a mechanism for it that allows incoming synapses to be trained based on a neural goal function. I have come up with a plan and I would appreciate feedback on the technical implementation as this would minimize the work during the peer review process.

# 1. Background

Cortical neurons take context into account when processing stimuli. At the level of eac

[2017-01-02 10:08] heplesser commented on #486
I have now updated my system (OSX El Capitan 10.11.6) to XCode 8.2.1 and gcc 6.3.0 from Homebrew. In that combination, the linker warnings disappear. Pending a test on macOS Sierra 10.12 (later today), I assume we can consider this solved.

[2017-01-02 14:09] heplesser commented on #591
Closing as @LeRyc reported that all works well now.

[2017-01-02 14:09] #591 closed

[2017-01-02 14:46] heplesser opened #610 "Prepare Topology User Manual PDF for NEST 2.12"
The PDF for the Topology User Manual needs to be carefully quality controlled before the 2.12 release to ensure that all code examples and figures are included.

[2017-01-02 20:11] SepehrMN commented on #606
@heplesser Many thanks! I'd be very happy to discuss it here, but I'm currently unavailable at the time of NEST Developer Conferences.

[2017-01-03 08:20] heplesser commented on #486
I have now tested under macOS Sierra 10.12 was well (XCode 8.2.1, gcc 6.3.0) and the warnings are gone. I am thus closing this issue.

[2017-01-03 08:20] #486 closed

[2017-01-04 13:41] ingablundell opened #616 "Neuron Models use old GSL solvers for evolution of ODEs"
In all models that use GSL solvers for ODEs the functions have not been updated.

The functions are declared in the header file gsl_odeiv.h. But should be gsl_odeiv2.h according to the new version. Then the prefix gsl_odeiv will have to be changed to gsl_odeiv2 for all functions.

In the reference manual for GSL solvers it is

 but

See:

https://www.gnu.org/software/gsl/manual/html_node/Ordinary-

[2017-01-04 13:50] #552 closed

[2017-01-04 13:51] heplesser commented on #616
@ingablundell You are right in principle. Unfortunately, the GSL documentation does not provide any information about the reasons for and consequences of the change in the interface. My understanding is that it is purely a change in the interface with no consequences for the actual integration. Some stepping algorithms, though, are available only for the new interface.

Re-writing everything manua

[2017-01-04 13:53] ingablundell commented on #616
@heplesser My problem was that everything in the reference manual refers to the new version, so it is a bit annoying if you want to look up what the old version does.

But I would also say that this should be changed in the context of NESTML.

[2017-01-04 14:38] Silmathoron commented on #558
There are some subtle problems remaining concerning deprecation matters.
For instance ``iaf_neuron`` is still present in many docstrings' examples:

- pynest/nest/lib/hl_api_models.py
- models/volume_transmitter.h
- models/stdp_dopa_connection.h
- topology/topologymodule.cpp
- nestkernel/nestmodule.cpp
- models/music_event_in_proxy.h
- models/music_event_out_proxy.h
- nestkernel/nestmodule.h
- lib

[2017-01-04 16:39] jougs commented on #585
Fixed by #611.

[2017-01-04 16:39] #585 closed

[2017-01-05 08:45] Silmathoron opened #617 "Wrong import in hl_api from python 3"
After merging #580, an incorrect import for python 3 was included, this make ``import nest`` lead to

    /home/tfardet/.nest-2.10.0-install/lib64/python3.5/site-packages/nest/lib/hl_api_connections.py in <module>()
         29 from .hl_api_simulation import GetKernelStatus, SetKernelStatus
         30 from .hl_api_subnets import GetChildren
    ---> 31 import hl_api_helper as hlh
         32 impo

[2017-01-05 08:49] Silmathoron opened #619 "Add test for python 3 in travis"
Travis test with Python should run tests for both Python 2 and Python 3 (this would avoid including errors from users developing under Python 2)

[2017-01-05 09:52] heplesser commented on #619
@lekshmideepu @jougs A recent merge broke NEST under Python 3 (see #617) and it turned out that there were a number of other Python 3 incompatibilities as well (see #620 for fixes).  This was not discovered by Travis since we only test with Python 2 at the moment.

Could you investigate how to set up CI testing with both Python 2.7 and 3.5?

[2017-01-05 10:40] jougs commented on #619
I have this on my agenda since long and can have a look. My idea was be to use virtualenv and only test the maximal configuration after that worked with Python 2.7

[2017-01-05 11:12] heplesser commented on #619
Yes, that sounds sensible.

[2017-01-05 14:28] heplesser commented on #610
@hakonsbm @stinebuu The key point in the review here is that the PDF is complete, including all code examples and figures. All code examples are imported from the `layers.py` and `connections.py` scripts and their `*.log` files, so the code works.

[2017-01-05 16:40] #605 closed

[2017-01-06 08:48] heplesser commented on #617
Fixed by merge of #620.

[2017-01-06 08:48] #617 closed

[2017-01-06 13:35] hakonsbm commented on #406
@heplesser This issue has been fixed by #536.

[2017-01-06 14:39] uahic opened #624 "Refactoring of recording_device"
I would like to suggest some refactoring of the recording_device due to PR #577 and also because the class is pretty overloaded

## Analysis:
All recorders do share the same language as they expect some Events as input in their handle routine. From this routine they usually call record_event of the recording_device class which in turn has been configured by the recorder. Considering the multimeter

[2017-01-07 12:04] uahic commented on #624
The devices could also be provided by a manager which in turn allows flexibility for the user (such as integrating further networking libraries as extension modules, for example ROS for local purposes).

[2017-01-07 15:06] #406 closed

[2017-01-09 10:46] #426 closed

[2017-01-10 11:09] #600 closed

[2017-01-11 08:57] heplesser commented on #624
@uahic This sounds very interesting, although I am not entirely sure I understand all the details of your proposal yet. We may want to carefully analyse and evaluate the entire recording code before committing to a new design. Would you be willing to present you ideas in one of the next open developer VCs?

[2017-01-11 09:55] #473 closed

[2017-01-11 14:29] #610 closed

[2017-01-11 14:47] #375 closed

[2017-01-11 16:40] uahic commented on #624
@heplesser Yes, the next VC would be fine. If you think proposals should not be posted (feels a little 'wrong') in the issues section let me know.

Here is a more compressed version:

The (very simple) idea is basically to keep the recorder nodes and they are responsible for collecting Events and potentially to pre-process them (e.g. the multimeter's accumulator mode). Then they call record_event(

[2017-01-11 16:41] jakobj opened #627 "MPI tests with OpenMPI 2.0.1 fail on platforms with <4 processors"
After updating my packages, I can't run the mpitests any more, since I end up with errors of the type
[code]
It seems like a change in default behaviour of openmpi (processors are not oversubscribed by default any more), but it can also be that I messed up my configuration.
Usually one can manually oversubscribe with `--oversubscribe` passed to mpirun, but this does not seem to be easily possible

[2017-01-12 18:30] heplesser commented on #589
Fixed by merge of #604.

[2017-01-12 18:30] #589 closed

[2017-01-12 18:31] heplesser commented on #576
Fixed by merge of #604.

[2017-01-12 18:31] #576 closed

[2017-01-12 18:39] heplesser commented on #290
@sdiazpier Could you create a follow-up issue to remind us to check whether and how structural plasticity can be enabled in multi-threaded simulations?

[2017-01-15 13:52] #558 closed

[2017-01-19 14:47] Silmathoron opened #632 "Py3.6: invalid mode for dlopen()"
With Python 3.6, loading ``pynestkernel.so`` with dlopen cannot be done with the actual ``__init__.py``

[code]

With Py3.6, then correct call (or at least one that seems to work) is:
`` sys.setdlopenflags(os.RTLD_GLOBAL)`` (see [PyDoc](https://docs.python.org/3/library/sys.html#sys.setdlopenflags))

A correction could be

[code]

If I understand correctly the [doc](https://docs.python.org/3/libra

[2017-01-19 17:12] sdiazpier opened #633 "Follow up on structural plasticity with multi-threaded simulations not working correctly"
This is a follow up issue for #290 where the problem was that structural plasticity currently does not work properly when multiple threads are enabled. With the PR #629 an exception is now raised when the user tries to enable structural plasticity in combination with a multi-threaded setup.
However the underlying issue is still unsolved and needs to be addressed.

[2017-01-19 19:28] heplesser commented on #632
@Silmathoron Thank's for your detective work. Actually, [`dl` has been deprecated since 2.6](https://docs.python.org/2/library/dl.html), and we definitely do not support anything before that, so `dl` (and `DLFCN`) should go. Under 2.x, we then need to use `ctypes` and under 3.x `os`. Also, `os` provides `RTLD_NOW` on the Mac, while `ctypes` doesn't. I will post a PR shortly.

[2017-01-23 13:20] SimonaNedelcheva opened #635 "Installation problem"
Check of installation report is following:
NEST Executable: /home/user/opt/nest/bin/nest
  SLI Executable : /home/user/opt/nest/bin/sli
  Total number of tests: 729
     Passed: 720
     Failed: 9 (9 PyNEST)

***
*** There were errors detected during the run of the NEST test suite!
***
*** Please report the problem at
***     https://github.com/nest/nest-simulator/issues
***
*** To help us diagnos

[2017-01-24 02:15] TomBugnon opened #636 "Can't import nest from python on macOS Sierra"
Hi all,

I am having difficulty launching nest from python on macOS...

I have been installing nest from a python2.7 conda virtual environment on macOS using homebrew according to the instructions given on your website ( `brew install nest --with-python` ). The package installs correctly in /usr/local/Cellar/nest/2.10.0_3
I add the pynest folder to the python path
`export PYTHONPATH=/usr/local/Cel