[2015-05-12 22:21] jougs opened #5 "PyNEST tests using scipy.stats.kstest fail"
All PyNEST tests using the function `scipy.stats.kstest` fail with older versions of Python and SciPy (here Python 2.6.6, SciPy 0.7.2). The error messages look like this:

[code]

[2015-05-12 22:25] jougs opened #6 "PyNEST tests using AssertGreater fail"
All PyNEST tests using the compatibility versions of `AssertGreater` fail with older versions of Python and SciPy (here Python 2.6.6, SciPy 0.7.2). The error messages look like this:

[code]

[2015-05-12 22:34] #5 closed

[2015-05-18 09:34] heplesser opened #8 "configure.ac is missing from examples/MyModule"
File `configure.ac` was not imported into GitHub with the rest of `examples/MyModule`. Thus, MyModule cannot be built.

[2015-05-18 11:11] heplesser commented on #8
This most likely happened because `.gitignore` excludes `configure.ac`.  This problem disappears once the `fix-956-libtool` patch is merged. I for now force `configure.ac` addition.

[2015-05-20 14:22] #8 closed

[2015-05-22 08:17] apeyser opened #13 "Turn off notification noise"
The current travis settings are noisy. By deleting the notification section, the default scheme is used, which is that messages only go to the submitter. Given the pull system, there's no need for everyone to get every build error, as in the SVN/Jenkins setup.

[2015-05-22 12:23] apeyser commented on #13
Since this was also part of the pull request @lekshmideepu #12, I've merged this, and then rebased & split #12 into #15 and #16.

[2015-05-29 13:37] albada opened #20 "No help on voltmeter"
nest.help('voltmeter')

yields

NESTError: NoHelpInformationError in help

[2015-05-29 15:19] albada opened #21 "difference between iaf_neuron and iaf_psc_alpha unclear"
Both iaf_neuron and iaf_psc_alpha are implementations of a leaky integrate-and-fire model with alpha-function shaped synaptic currents, but the documentation differs between these and does not explain why both models are needed.

https://trac.nest-initiative.org/trac/wiki/CodeReorganisationJune2006 states: "iaf_neuron has been retired. Use iaf_psc_alpha instead."

[2015-06-01 14:27] jschuecker opened #22 "Incomplete documentation of 'noise_generator'"
If the noise generator is connected to a neuron, the relation between its standard deviation 'std' and the actual fluctuations seen in the membrane potential of the neuron is not clear from the documentation.

[2015-06-15 09:26] heplesser opened #28 "MyModule does not work on BlueGene"
User modules (`MyModule`) do not work on BlueGene at present. Loading them as dynamically linked modules fails as well as building NEST with `MyModule` linked in. This is most likely due to the fact that the `MyModule` build setup does not take BlueGene peculiarities into account.

[2015-06-15 09:27] heplesser commented on #28
#### Workaround

 Copy the code for models from the user module into the `models` directory, add the files to `models/Makefile.am` and the pertaining `#includes` and `register_model<>()` and `register_connector_model<>()` lines to `models/modelsmodule.cpp`.

[2015-06-15 15:26] apeyser commented on #28
Has this proposition been generally tested, or is it a generalization from one case?

[2015-06-16 07:30] heplesser commented on #28
Only one user has tried to use NEST with his own module on BlueGene so far (to my knowledge), and has failed. The user could not load the module with `Install`, and when trying to compile NEST with that module, the build ended with the error message below. Note that libtool "translates" all `.la` libraries to `.a` files, while for `libmymodule.la` it injects `libmymodule.so` into final compiler/li

[2015-06-16 12:21] flinz opened #30 "Dead link to 'Overview of scheduling and update strategies' on homepage index.md"
In the [index.md](https://github.com/nest/nest-simulator/blob/gh-pages/index.md) there is a dead link to [Overview of scheduling and update strategies](https://github.com/nest/nest-simulator/blob/gh-pages/simulation_loop_mindelay).

I assume this will include a overview of the internal simulation loop, i.e. when which node/connection functions are called by the simulator. Comparable slides were sh

[2015-06-16 14:03] apeyser opened #31 "Don't work on your master"
Working on your master leads to really nasty merge histories. You'll work, then merge into our master, and then continue working without pulling up to upstream, then remerging. You should keep your master pristine, work on a branch, and then do a pull request on the branch. After that, you should delete the branch and make a new branch from master.

This is something to check for in a code review

[2015-06-16 14:09] apeyser commented on #31
You can check with gitk or at https://github.com/nest/nest-simulator/network. If the branch that is pull requested has already been merged into master... then reject.

[2015-06-16 14:50] gewaltig commented on #31
"Working on your master leads to really nasty merge histories. You'll work, then merge into our master, and then continue working without pulling up to upstream, then remerging. "
I am not sure I understand what you are saying here.

[2015-06-16 15:43] apeyser commented on #31
Repositories:
* upstream is nest/nest-simulator
* origin is apeyser/nest-simulator
* local is your local machine

If origin is a fork of upstream, and local is a clone of origin, then we have three masters:
* upstream/master
* origin/master
* local/master

upstream/master should only be changed via pull requests which are handled by the owners team.
origin/master should be pushed to from local/mas

[2015-06-16 19:19] naveau commented on #31
@apeyser: is this picture illustrate your point? I was also not entirely sure to understand!
![git-workflow](http://image.slidesharecdn.com/altnet-mygitworkflow-131221011143-phpapp01/95/my-git-workflow-22-638.jpg?cb=1387588394)
from http://fr.slideshare.net/rhwy/my-git-workflow

[2015-06-16 20:18] apeyser commented on #31
Mikael, thanks, very nice. That is what you are supposed to do. If you work directly on your master, then step 7 would be a problem, and step 9. If your commits become interspersed on "ProjectA" with others, then you'd have to realize this and message your master by hand.

A number of developers have already had problems because of this, and I can see from the from the branching pattern that some

[2015-06-17 06:06] gewaltig commented on #31
Dear Alexander and Michael
Thanks a lot for the clarification.

Best
Marc-Oliver

Alexander Peyser <notifications@github.com> schrieb am Di., 16. Juni 2015
um 22:18:

[2015-06-17 06:44] wschenck commented on #31
I understand that interspersed commits become a problem when working on
your own master *and* pulling from upstream (team account in the
figure). But what would happen if you don't pull (which implies merge),
but instead fetch from upstream and then rebase your master on
upstream/master?

In my so far limited understanding of git, git should detect the double
commits in upstream/master and your lo

[2015-06-17 08:23] apeyser commented on #31
Yes, if you were consistent you and understand rebase, you can do exactly what @wschenck suggests.

But why? Keeping your work on a separate branch and then rebasing the branch on master would give you the same effect with the additional advantage that git would then do extra bookkeeping for you, leading to a simpler and less error prone process.

[2015-06-17 20:54] heplesser commented on #31
@apeyser, thanks for these explanations. I just have one question now. Assume I made changes in my branch `fix1`, pushed and created a pull request. It may take a little while before my PR is merged into the upstream master. In the meantime, I would like to be able to use `fix1` in another branch of mine, `feature2`. How can I do that? Would something like

    git checkout feature2
    git merge

[2015-06-17 20:59] heplesser opened #36 "test_rdv_param_setting fails for some compilers"
Test `test_rdv_param_setting.sli` fails when NEST is compiled with g++ 5.1.0 or Apple clang 6.1.0 with `-O2`.

The reason for this is unsafe integer-overflow detection in `librandom::UniformIntRandomDev::set_status()`, which leads to some overflow cases not being detected.

@apeyser provided a pointer to a safe implementation at https://www.securecoding.cert.org/confluence/display/c/INT32-C.+Ensur

[2015-06-18 06:59] heplesser opened #38 "Feature request: Script for checking coding style compliance"
The C++ code style guidelines suggest running three tools (clang-format, vera++, cppcheck) to verify code formatting. The build.sh for Travis script can run these automatically (although there seems to be some trouble).

I would very much appreciate a small script that I could use myself locally to run all code style checks in one go, something like `check_code_style.sh`.

@tammoippen you are mayb

[2015-06-19 07:42] apeyser commented on #31
If I get your question:

If you merge fix1 into feature2, then merging feature2 into master will merge fix1, thus you wouldn't make (or you'd cancel) the PR for fix1 when feature2 was merged.  But I expect that if you're merging feature2, you'd merge fix1 into master first to minimize the size of each single merge.

So yes, history is global and if someone else had merged fix1 into feature3, then

[2015-06-19 12:07] wschenck opened #42 "Suggestion: Create structured Travis log output"
Right now, the content written to stdout (and maybe stderr?) during the whole build and test process on Travis is just put into a single log file. Access to separate build artifacts is only possible by asking our GitHub team for a special build with output to S3.

Maybe life could be made a little bit easier by structuring the output to stdout during Travis builds in a more explicit way. This woul

[2015-06-19 12:11] lekshmideepu commented on #42
Currently, I'm doing some testing on how to upload artifacts to S3 per build and per job id basis. Recently, they had some changes in their setup. Hope to resolve this issue soon.
Once it's set, you will be able to access the artifacts separately for each build.

[2015-06-19 13:11] lekshmideepu commented on #42
Refer the issue: https://github.com/travis-ci/travis-ci/issues/3432

[2015-06-19 13:52] wschenck commented on #42
My suggestion was just meant as a supplement to the S3 setup.

A better structured Travis build log output could help on one's own GitHub repo for which the connection to S3 does not exist and is not planned (at least as far as I know).

[2015-06-19 13:57] apeyser commented on #42
We could use base64 to make a tar.bz2 into something dumpable that could be cut as a single object.

[2015-06-22 16:30] tammoippen opened #43 "TravisCI fails on removed files"
When a file is removed in a commit, the build.sh still tries to run cppcheck, vera++ and clang-format on it, hence all builds will fail. The solution is to first check, whether the file in the changeset, which is under testing, is still present – so before build.sh:115 have something like:

    if test -e "$f" ...

[2015-06-25 10:49] #43 closed

[2015-06-27 09:01] #36 closed

[2015-06-29 15:45] heplesser commented on #28
@apeyser I have worked on this for the better part of today and now need advice from someone who knows Juqueen better than me.

User modules can be added to NEST in two ways: as dynamically loaded modules (`(mymodule) Install` at runtime load the module) or by linking in `libmymodule.so` at compile time. The module is then ready for use when NEST has started. On Linux and OSX, libtool handles this

[2015-06-30 12:52] tammoippen commented on #28
From my work on Juqueen I know, that NEST compiles as a static application with no dynamic loading of libraries possible. Further, it is discouraged to dynamically link libraries on Juqueen at all, because every compute node has to load the library over the network, which will increase the complete execution time. So I think the way to go is use `--with-modules=mymodule` and statically link the mo

[2015-07-01 08:04] apeyser commented on #28
The juqueen linkers and compilers will compile static rather than dynamic versions even with normal dynamic linker flags --- you have to really insist on compiling dynamically. I'll post here the flags after looking it up, since I had to do this to get PyNest to work.

It's discouraged as a waste of cycles to load dynamic modules --- but since this isn't the cycle bottleneck, as long as it's not r

[2015-07-01 08:10] apeyser commented on #28
[code]

are needed for the linker to build dynamic libraries. How to convince NEST to use this without blowing up the configure script is an exercise for the student.

Also, go for gcc rather than the ibm compilers, given the extra pain there.

[2015-07-01 09:15] heplesser commented on #28
@apeyser Thanks for your help. Actually, I found a rather painless way to build and link modules as proper static libraries on BlueGene in the end. I will file a PR shortly.

[2015-07-01 12:07] heplesser opened #56 "Revise the build setup for user-defined modules (MyModule)"
Once #28 is fixed, user-defined modules based on `MyModule` should work on all architectures, including BlueGene. At the same time, it is clear that our way of building such modules is not the most convenient one and breaks with some good practices for such modules. We should therefore revise the build mechanism. This is a follow-up to trac.526.

Note that the philosophy of trac.526 was to move en

[2015-07-01 12:12] jschuecker commented on #22
Solved by @heplesser #50

[2015-07-01 23:30] frankmichler opened #59 "Invalid URL in deprecation warning for new Connection Management"
### Problem: old URL
The deprecation warning about changes in the connection management contains a link to the old site:
http://nest-initiative.org/Connection_Management
When clicking the link the following message shows up:

*"This is somewhat embarrassing, isn’t it? It seems we can’t find what you’re looking for. Perhaps searching can help."*

### Error Reproduction
This code will reproduce the

[2015-07-02 13:01] frankmichler commented on #59
The fix was merged in commit db80b18e53acac751c6c95b54711e37a75bd9f75
So I guess the issue can be closed now.

[2015-07-03 11:15] apeyser opened #62 "clang-format line length"
@tammoippen

100 is way, way too long. 80 should be the absolute maximum length of a line, and I'd argue for 70.

I know that some editors will tend to drive you towards long lines (Xcode) with line wrapping, but on that point, objectively, the lines should be single concepts, single tests, and the wrapping should be fixed by the programmer. A line like:
[code]
is way, way too long.

Look at the d

[2015-07-03 11:20] apeyser opened #63 "lib/sli/rcsinfo.sli"
Ok, I have this file in the tree, and it gets updated to:
[code]

without which, tests fail. Is this thing still necessary?

@jougs

[2015-07-03 11:45] heplesser commented on #62
@apeyser

I agree that in the example above, code probably will be more readable by splitting it over two lines.

At the same time, I also find that 80 can be a bit on the short side, in particular for header lines in function definitions when using expressive class and method names, forcing one to split parameter lists over many lines close to the right margin. Not sure I like that.

[2015-07-03 13:02] apeyser opened #64 "git diff --name-only $TRAVIS_COMMIT_RANGE"
@tammoippen: in build.sh, we do
[code]
Inside my repo on some pushes, this seems to return incorrect/unreachable references. I haven't yet identified the cause, or a travis bug report on this, but it may be a problem with history rewrites on pushes that it may end up referencing old, non-existent commits.

[2015-07-03 13:15] apeyser commented on #62
I'd say: typedefs. If the names are so expressive that they're filling up long lines, the expressiveness in the header will make the logic of the source code difficult to read.

So, you split the baby: you keep the long names, but you use them as comments with typedefs in your source code, and then use locally readable very short names.
[code]

The experience from typesetting is unequivocal: optim

[2015-07-03 13:52] #59 closed

[2015-07-03 15:27] heplesser commented on #22
@apeyser I am a bit surprised that you closed the issue before #50 has been merged?

[2015-07-03 15:55] apeyser commented on #22
My apologies --- I thought it had been merged.

[2015-07-07 00:27] rgerkin opened #65 "pynestkernel not compiling on OSX"
I'm having trouble getting a compiled pynestkernel library on OSX.  Standard installation doesn't even attempt to compile it and put it in the build directory, so I get:

`File "/Users/rgerkin/Desktop/nest-2.6.0/pynest/nest/__init__.py", line 52, in <module>`
`from . import pynestkernel as _kernel`
`ImportError: cannot import name 'pynestkernel'`

due to the file being missing.  The installation s

[2015-07-07 06:49] tammoippen commented on #65
Hello rgerkin,

Here you can find general instructions, on how to build NEST on OSX: http://www.nest-simulator.org/installation-2/ (you have to scroll down a bit).

Further, I wrote up a Xcode workflow for OSX 10.10, but I am sure it will also work with OSX 10.9. You can find it here: https://nest.github.io/nest-simulator/xcode_workflow

I hope this helps for the pynestkernel issue. Please let me

[2015-07-08 14:25] jougs commented on #22
#50 was merged, so I'm closing this for real now.

[2015-07-08 14:26] #22 closed

[2015-07-08 14:53] jougs commented on #63
We want to have a unique identifier for the builds and to put into documentation and such.

The `/rcsinfo` value is updated by `extras/create_rcsinfo.sh`, which uses `svnversion` and of course does not work anymore now.

My plan was to update the script to use a combination of `git rev-parse --short HEAD` and `git rev-parse --abbrev-ref HEAD`. Feel free to address this issue if you have a better i

[2015-07-08 15:15] apeyser commented on #63
The sha is useful to get back to git when you've lost the connection with git --- so, embedding it during the production of the distribution tar ball. If you're working in the tree, you can just call git rev-parse, right? If the goal is to put something in the install tree to check when you get confused, I guess it could be part of make install.

It's a bit of a pain, so it shouldn't be in many pl

[2015-07-14 07:48] #28 closed

[2015-08-03 11:12] apeyser opened #72 "Communicator accessibility"
Currently communicators are internal structures. It would be helpful to pull out the communicator, particularly for the case of MUSIC which uses a sub-communicator as part of putting as much of the machinery outside of NEST rather than buried in internal structures.

So either by integrating pymusic:
s = music.Setup()
s.getcomm()

or by adding a nest call:
nest.getcomm()

[2015-08-04 13:06] tammoippen commented on #64
Hi @apeyser ,
TRAVIS_COMMIT_RANGE has some problems with history rewrites. I am working on correcting this with  the github api: https://developer.github.com/v3/pulls/#list-pull-requests-files

[2015-08-06 11:32] heplesser opened #74 "Several testsuite tests fail when compiling with clang under OSX"
As first reported by Mario Mulansky on NEST User (17 July 2015), several testsuite tests fail when compiling NEST under OSX using the clang compiler.

To reproduce:
- OSX 10.10.4
- Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
- `../src/configure --prefix=`pwd`/install --without-openmp`
- GSL 1.16 from homebrew
- NEST master branch aeb41655c9db320c921b69b835f59a5132b5b45d

The

[2015-08-06 13:12] heplesser commented on #74
Further observations:

- The errors also occur if NEST is compiled with clang using `--with-debug --with-optimize CFLAGS=-O0 CXXFLAGS=-O0`
- Errors occur in different locations on subsequent runs (backtrace)
- Occasionally, instead of failing, tests enter an infinite loop
- No other tests in the testsuite fail
- If compiled for debugging as above, then also `regressiontests/ticket-787.sli` fails

[2015-08-08 15:18] aklawy commented on #21
There is actually a difference in some parameters.

The synaptic time constant is described by one parameter (tau_syn) in the 'iaf_neuron' model, and by two parameters (tau_syn_ex & tau_syn_in) in the 'iaf_psc_alpha' model.
Additionally, the 'iaf_psc_alpha" model contains the parameter V_min which is the absolute lower value for the membrane potential.

[2015-08-08 19:02] mariomulansky commented on #74
Please let me know if you need further information on this.

On a short side note: if you prefer reports on Github instead the mailing list, I suggest to change the corresponding message shown when some tests are failing.

[2015-08-11 15:25] hannahbos opened #76 "tau_minus_triplet defined but no triplet STDP"
[This is a summary of things discussed in trac.766]
Neurons have the property tau_minus_triplet, but this does not seem to be used, which may be confusing for users. In the ticket triage session on August 27, 2014, we came to the conclusion that triplet STDP from the developer module should be made available in the public NEST version.

[2015-08-14 10:01] mdeger opened #77 "stdp synapses on pp_psc_delta neuron are not plastic"
stdp_synapses onto pp_psc_delta neurons are apparently not plastic at the moment. I have made a simple example simulation script which is available here:
https://github.com/mdeger/nest-simulator/blob/master/testsuite/manualtests/test_pp_psc_delta_stdp.py

The result of the script is shown in the attached pictures. Both neurons spike shortly after each spike of a sequence of spikes from the same pr

[2015-08-14 10:03] mdeger commented on #77
the second picture was missing:

![test_pp_psc_delta_stdp_fig2](https://cloud.githubusercontent.com/assets/11544025/9271722/6516f502-427c-11e5-8e55-cf8ec31f43eb.png)

[2015-08-14 11:46] heplesser commented on #77
@mdeger Thank you for reporting this. I fear you have discovered a proper bug. The `update()` method of `pp_psc_delta` does not call `set_spiketime()` when emitting a spike, so that the synapse gets the impression that the neuron has never fired.

The same seems to be true for the following models:

- `ginzburg_neuron` and `mcculloch_pitts` (based on `binary_neuron`)
- `parrot_ps`
- `pp_psc_delta`

[2015-08-14 13:28] heplesser opened #80 "Add test that neuron models heed event multiplicity"
Events, in particular `SpikeEvent`s can include a multiplicity: one event object represents several spikes emitted by a single sender in a single time step. The `handle()` method of the receiving neuron must read out this information and apply it, typically by multiplying the weight with the multiplicity. I think this only makes sense for `SpikeEvent`s, for all other event types this should lead t

[2015-08-14 13:34] heplesser opened #81 "Add a status flag indicating whether a model support precise events"
For all I can see, it is currently not possible to detect whether a neuron model supports precise spike times, short of reading the documentation. This is unfortunate for the user, and makes automated testing problematic if that requires adaptation for models supporting precise times.

Add a flag to the status dictionary, returning the value provided by `Node::is_off_grid()`.

[2015-08-14 13:37] heplesser opened #82 "`parrot_neuron` should exploit spike multiplicity"
`parrot_neuron` currently emits spikes using a loop

[code]

This is inefficient---why don't we use multiplicity and make just a single `network->send()` call?

[2015-08-14 13:48] heplesser commented on #77
@mdeger I have created a test (`ticket-77.sli`)) and started fixing this in my repo (https://github.com/heplesser/nest-simulator/tree/fix77-missing-set-spiketime). I am waiting for feedback from plasticity experts before fixing the `pp_*` models; I am not certain about handling multiplicity.

[2015-08-18 15:24] apdavison opened #85 "Precise models don't work with stdp_synapse?"
The following script:
[code]
gives
[code]
If I replace `'iaf_psc_exp_ps` with `'iaf_psc_exp`, it works fine.

`nest.GetDefaults('iaf_psc_exp_ps')` shows no `tau_minus` parameter, and the same is true for some other precise models I looked at.

Is there a reason why `iaf_psc_exp_ps` cannot work with `stdp_synapse`? If so, please could this be documented (unless I missed the documentation). If not,

[2015-08-18 16:07] jougs commented on #74
@mariomulansky: See #86 for a pull request that fixes the web references in the source code. Thanks for pointing this out!

[2015-08-19 07:57] heplesser commented on #85
@apdavison I can confirm this. It also applies to the other precise models. Technically speaking, the reason is that these models are derived directly from `Node`, not from `ArchivingNode`, whence `Node::register_stdp_connection()` throws `IllegalConnection`.

@abigailm @suku248 I am not sure if there is a deep reason for this or if it is rather an oversight? At present, the spike time history in

[2015-08-19 08:45] heplesser opened #88 "Rename function `test_connect_helpers.test_synapse`"
Function `test_connect_helpers.test_synapse` is a helper function, it does not implement a test. We therefore need to change the name to something not containing `test`, so that nosetests won't run it as a test.

This has lead to failing tests for some time (see eg Travis build 141.8), which were not reported due to #89.

[2015-08-19 08:47] heplesser opened #89 "Travis does not report test suite failures"
Travis will report success on builds even if the testsuite (`make installcheck`) fails. An example is Travis build 141.8 with one failing PyNEST test; see also #88.

The underlying problem is that `make installcheck` returns exit code 0 even when tests fail.

[2015-08-19 16:02] #89 closed

[2015-08-19 16:02] #88 closed

[2015-08-24 09:15] tammoippen commented on #30
The dead link is removed with #78.
General information about the *scheduling and simulation* can be found at [http://www.nest-simulator.org/scheduling-and-simulation-flow/](http://www.nest-simulator.org/scheduling-and-simulation-flow/).
General information about the *connection creation* can be found at [http://www.nest-simulator.org/connection_management/](http://www.nest-simulator.org/connection

[2015-08-24 09:26] flinz commented on #30
Great, thanks for picking up on this! I'll close the issue.

[2015-08-24 09:26] #30 closed

[2015-08-24 10:11] jougs commented on #20
@heplesser

[2015-08-24 10:18] jougs commented on #42
@lekshmideepu: Ping!

[2015-08-24 10:22] #65 closed

[2015-08-24 14:57] heplesser commented on #21
I have started to look at this. I noticed that we rather freely vary between using `iaf_neuron` and `iaf_psc_alpha` in the testsuite, in `test_iaf_1to2.sli`, e.g., we have one `iaf_neuron` and one `iaf_psc_alpha`, while the documentation claims both to be `iaf_neuron`. Test files mentioning both models (dumb grep) are

- manualtests/test_hh_phaseplane.sli
- unittests/test_getnodes.sli
- unittests/

[2015-08-25 10:08] #6 closed

[2015-08-25 11:52] #20 closed

[2015-08-26 13:53] tammoippen commented on #62
I put a [branch](https://github.com/tammoippen/nest-simulator/tree/columnLimit) online with column limit set to 80:

    Showing 323 changed files with 6,627 additions and 3,513 deletions.

with `rewrite nestkernel/nest_names.h (60%)`.

[2015-09-01 13:22] mdeger commented on #77
@heplesser Thank you for very much for investigating, and for finding a solution. I hope your suggestion of adding the set_spiketime call can be implemented soon, if it indeed fixes it.

[2015-09-02 14:05] heplesser commented on #77
@abigailm Ping! Could you have a look at my previously posted questions concerning this ticket?

[2015-09-07 13:53] jougs opened #99 "Add summary for build process in TravisCI"
Currently, the log files of Travis contain different types of information in one large block of text:
* configuration log and summary
* build output
* output from the coding guideline checker
* static code analysis results
* logs from the testsuite
In case of failures, it is hard to find the exact cause of failure.

Once the log files are available on S3 (#98), the logs shown by TravisCI could be

[2015-09-07 14:44] lekshmideepu commented on #99
As we have merged #98, we could decide about the files which are to be uploaded to S3 to avoid the confusion in the primary log output. I think, the output from the coding guideline checker and the static code analysis results can be uploaded to S3.

[2015-09-07 20:56] heplesser commented on #99
Ideally, the build log on Travis should be compact and point to the source of problems. All "volume output" should be as artifacts on S3. Essentially, I would like to see on Travis only

[code]

If any of those tests fails, instead of `passed`, a short message should be provided. For setup, configure, build and install, probably a tail of the console output is most suitable, for the coding guideli

[2015-09-09 09:05] heplesser opened #101 "Review current input and its documentation in iaf_psc_exp"
`iaf_psc_exp` handles current input supplied via `CurrentEvent`s differently than other neuron models. Input via rport 0 is handled the normal way, while input via rport 1 is filtered as excitatory synaptic input.
This behavior is documented in one sentence, but that sentence is too little visible for an additional feature such at this. It should at least be on a line of its own, probably be `Rema

[2015-09-09 09:07] heplesser opened #102 "Review iaf_psc_exp_multisynapse"
`iaf_psc_exp_multisynapse::update()` contains a number of "not sure about this" comments. It needs review and proper testing urgently.

[2015-09-09 11:06] jschuecker commented on #101
This filtering of the current is motivated by the diffusion approximation, i.e. replacing the incoming  spike-trains with a gaussian white noise. This noise has to be filtered by the synapse. I implemented this to prove our newly developed theory about neurons subjected to coloured noise, caused by synaptic filtering. Is this explanation satisfactory?

I will improve the documentation.

[2015-09-09 12:56] Haffi112 opened #103 "Configuring a custom module fails"
Hi,

I'm going through this tutorial in an attempt to get a custom module running (I've already installed PyNEST successfully):

    https://nest.github.io/nest-simulator/synapse_models

Everything works up to the point when I run the command

    ../MyModule/configure --with-nest=/usr/local/bin/nest-config

Then it stops due to an error, see here (I replaced some long file structure with /path/to

[2015-09-10 09:26] Haffi112 commented on #103
I managed to fix it by moving MyModule to a path where there was not folder with a space in its name in the path...

[2015-09-10 09:26] #103 closed

[2015-09-11 08:32] lekshmideepu commented on #42
As the S3 deployment PR has been merged, I'm closing this issue.

[2015-09-11 08:32] #42 closed

[2015-09-14 15:53] jafyvilla opened #105 "NEST 2.6.0 crashes when using different synapse parameters with a large number of connections"
When using NEST v2.6.0 - together with Music- to run one of our simulations, on some occasion we get this error, and the simulation crashes:

python: ../nestkernel/scheduler.h:789: static nest::delay nest::Scheduler::get_modulo(nest::delay): Assertion `static_cast::size_type>(d) < moduli_.size()' failed.

With version 2.4.2 there are no problems.
After digging into the problem, and testing differe

[2015-09-15 10:53] heplesser commented on #105
@jafyvilla Thank you for your bug report. I have some questions that should help me to understand the problem better.

1. You write that the behavior is not consistent. Is it inconsistent between identical simulations (freshly started kernel, identical random number seeds), or is it only inconsistent between simulations with different random number seeds?
1. I assume you set the different delays a

[2015-09-20 12:06] heplesser opened #106 ""Simple simulation" example on website does not work"
As reported on NEST_USER, the "simple simulation" example on http://www.nest-simulator.org/neural_simulations/ does not work, because the `interval` property of the `voltmeter` is set after the voltmeter has been connected to a neuron.

We need to reverse the order of operations and explain the need to set the interval first. We also need to check the remainder of the example.

[2015-09-21 08:29] jakobj commented on #106
i now changed the order of the commands and cleaned up the example in general a bit. could someone else please add the explanation of this required order of SetStatus & Connect? i was wondering about the part about subnets. is someone using them? do we want to keep them as a feature and if not, could we remove that part from the example?

[2015-09-21 14:09] jougs commented on #106
As already often discussed, subnets will go away at one point (at least in their current form). This means they should not be advertised prominently in the documentation. Could you please remove them from the documentation? Many thanks for spotting and fixing!

[2015-09-21 19:26] jakobj commented on #106
alright. the subnet part is now removed from that page.

[2015-09-25 03:30] jougs commented on #63
With #109 merged, the file you mention above gets updated to something like
[code]
which should be more useful.

[2015-09-26 22:58] #63 closed

[2015-09-27 12:06] jakobj opened #111 ""make disclean" returns an error"
when running make distclean, distclean-recursive throws an error when trying to run distclean in the pynest directory:

Making distclean in pynest
make[1]: Entering directory '/home/jordan/opt/nest-simulator.build/pynest'
Makefile:630: ../nest/.deps/pynestkernel_la-neststartup.Plo: No such file or directory
make[1]: *** No rule to make target '../nest/.deps/pynestkernel_la-neststartup.Plo'.  Stop.

[2015-09-28 13:03] hanke opened #113 "'regressiontests/ticket-659-copyright.py'... Failed: error in test script"
Observed when running the test of the current master HEAD.

[2015-09-28 13:17] jougs commented on #113
Thanks for reporting. Could you please attach `reports/installcheck.log`, so we can see what file actually failed? Thanks!

[2015-09-28 13:27] hanke commented on #113
Thanks for the pointer. Non-issue. I wrongly assumed that it would assume me to run the tests from the root of the source dir. Needs an explicit specification and work ... Closing.

[2015-09-28 13:27] #113 closed

[2015-09-28 17:12] apdavison opened #114 "Regression in NEST 2.8.0 for 'aeif_cond_exp' with Delta_T = 0"
When Delta_T = 0, the membrane voltage should go to infinity as soon as "V_th" is reached ([Scholarpedia](http://www.scholarpedia.org/article/Adaptive_exponential_integrate-and-fire_model#Physiological_interpretation)). This is handled correctly in NEST 2.6.0, but in NEST 2.8.0 there is no spike until the voltage reaches "V_peak".

Example:

[code]

![aeif_conf_exp_nest_2 6 0](https://cloud.github

[2015-09-29 14:19] heplesser commented on #114
@apdavison Thanks for spotting and reporting this. I can confirm the observation.

I have traced it back to a change in how we handle excessively large exponents (svn r11833), where I employed a transformation that is mathematically, but not computationally, correct and did not take into account the possibility that `Delta_T == 0`.

This affects all `aeif_cond_*` models.

[2015-09-29 14:50] heplesser commented on #114
@gewaltig Could you take a look at this. I am not entirely certain what would be the best way to handle this case without adding `if ( Delta_T == 0 )` in several places, particularly since the adaptive stepsize algorithm needs to be able to handle whatever we do in the `dynamics()` function. Maybe we can solve this in conjunction with #35?

[2015-09-30 09:18] gewaltig commented on #114
Thanks for pointing this out. I’ll look at the problem.

Best
Marc-Oliver

On 29 Sep 2015, at 16:50, Hans Ekkehard Plesser <notifications@github.com<mailto:notifications@github.com>> wrote:

@gewaltig<https://github.com/gewaltig> Could you take a look at this. I am not entirely certain what would be the best way to handle this case without adding if ( Delta_T == 0 ) in several places, particularly

[2015-09-30 12:31] heplesser commented on #114
@gewaltig: I talked some more about this with @apdavison. From a PyNN perspective, it would be ok to not support `Delta_T==0`. NEURON does not support that edge case either, PyNN then substitutes the corresponding I&F model. So throwing an exception when the user tries to set `Delta_T==0` and recommending `iaf_psc_*` is probably the easiest solution.

Another interesting question is what happens i

[2015-09-30 13:00] apdavison commented on #114
@heplesser I think you misunderstood me this morning. NEURON didn't support this edge case, but it does now (see https://github.com/NeuralEnsemble/PyNN/issues/367). It was running the PyNN regression tests with NEST 2.8.0 which uncovered the issue. Nevertheless, if it is too difficult to support this in NEST going forward, I am happy with the Exception approach.

[2015-09-30 19:06] mih opened #116 "Test failure when NEST is installed system-wide"
I have prepared a Debian packaging for NEST v2.8 targeting Debian proper (PR will come shortly). I have sorted out most things already. However, I am facing an issue when running the test suite for a NEST installation in /usr. This culprit is this:

[code]

Is there a way to make this work -- maybe by writing into a temp dir? If not, I would exclude this test -- it is the only one that fails.

It

[2015-10-01 07:52] jougs commented on #116
Many thanks for your work on the packaging and for reporting this.

It seems like we've never seen this error before (it's kind of curious that NEST tries to write to a help file during startup...). Could you please post the output of the following command?
[code]

[2015-10-01 08:04] hanke commented on #116
Here is the log

[code]

[2015-10-02 05:52] diesmann opened #117 "Dot displays in examples on nest simulator web site broken"
the panels that should contain dot displays appear but seem to be empty, at least on my screen.

[2015-10-02 06:19] steffengraber commented on #117
Hi Markus,
could you please send me an example screenshot.
Steffen

[2015-10-02 07:18] jougs commented on #117
http://www.nest-simulator.org/wp-content/uploads/2015/09/repeated_stimulation.png
http://www.nest-simulator.org/wp-content/uploads/2015/09/brunel_alpha_numpy.png

[2015-10-02 07:23] jougs commented on #117
Executed locally, the scripts give the desired result. I assume that the problem is related to the marker-size or such in the style script that is used to generate the plots for the homepage.

[2015-10-02 07:27] steffengraber commented on #117
There are some problems with the color scheme for matplotlib. Better to use the the standard.

[2015-10-02 08:02] steffengraber commented on #117
I did a complete new build.
For example:
http://www.nest-simulator.org/wp-content/uploads/2015/10/brunel_alpha_numpy.png

[2015-10-02 09:02] jougs commented on #117
Thanks. This is OK for now, but I really would like to have the old color scheme back. Could you please attach your script here, so I can test what the underlying problem is?

[2015-10-02 09:15] steffengraber commented on #117
I used this fantastic script: https://gist.github.com/huyng/816622.
It worked some time ago but after a few improvements of my system ...

On 02.10.2015 11:02, Jochen Martin Eppler wrote:

--
Steffen Graber

Simulation Lab Neuroscience
Division HPC in Neuroscience         Phone:  +49 2461 61 8930
Jülich Supercomputing Centre         E-mail: s.graber@fz-juelich.de
Institute for Advanced Simulation

[2015-10-02 09:49] steffengraber commented on #117
Find the problem: changing the default backend to GTKAgg solves it.

[2015-10-02 10:19] jougs commented on #117
Nice investigation! Thanks for solving it.

[2015-10-02 10:19] #117 closed

[2015-10-06 16:14] jafyvilla commented on #105
@heplesser Sorry for taking such a long time to reply, but these past weeks have been a bit hectic. I'll try to give more details about the test setup.

1. From my tests, I would say that the behavior is consistent between identical simulations (see next answer).
2. No, the delays and weights are not random, they are already established for the circuit that we are using, I was just applying them.

[2015-10-06 17:25] tammoippen commented on #64
I am closing this issue as PR #75 is closed. @apeyser please reopen if the issue persists.

[2015-10-06 17:25] #64 closed

[2015-10-06 17:27] tammoippen commented on #38
The script is merged: #95 #96
Hence closing this issue.

[2015-10-06 17:27] #38 closed

[2015-10-07 16:51] tammoippen commented on #99
Please see PR #119.

Regarding the short TravisCI log: all Travis does comes into the log, i.e. all the setup stuff will be in there anyway. If I am not mistaken, this behaviour is hard to change.

I have also put the static analysis to the front, but Travis will not fail immediately when the formatting is wrong, but will first try to build NEST and perform `make installcheck`. This way we will ha

[2015-10-08 07:41] flinz commented on #76
Following up on this:Is the developer module triplet model  available on somebody's branch?

[2015-10-08 12:35] jougs commented on #76
@abigailm @mhelias

[2015-10-08 23:04] heplesser commented on #105
@jafyvilla Thank you for your update. Unfortunately, I still cannot pinpoint any possible cause of the problem. I would very much appreciate if you could give NEST 2.8.0 a try. If the error persist there, I'll be happy to investigate, but debugging 2.6 at this point makes little sense.

If the problem persists, could you provide me with a script that causes the problem, and an example of edited de

[2015-10-12 13:37] mschmidt87 opened #121 "Use of synapse types in NEST + PyNN Issue #377"
This issue is related to the pyNN issue 377 "PyNN exhausts NEST 2.6/2.8 synapse model storage" (https://github.com/NeuralEnsemble/PyNN/issues/377).

1. In pyNN, whenever a pyNN.projection is created to establish connections, a new synapse type in NEST is created, which is a misuse of NEST's synapse type. A synapse type in NEST specifies the dynamical model of synapse (e.g. static, STDP etc.) and n

[2015-10-13 08:55] jafyvilla commented on #105
@heplesser I have been trying to debug this issue with version 2.8.0 as well. The error is still there. Unfortunately I cannot provide a script to reproduce it because I have realized that the problem is not consistent, even using a fixed set of parameters (weight and delays) for the connectivities across  different simulations, which makes me think it could be some kind of race condition. For exa

[2015-10-13 09:04] heplesser commented on #105
@jafyvilla Thanks for testing under 2.8.0! Just one more question: You observe the problem only when using NEST with Music, don't you? This may help us to narrow down the cause. That only you observe the problem is no excuse for us as developers---it might simply be that your use case is exercising parts of the simulator that others don't.

[2015-10-13 09:20] jafyvilla commented on #105
I just tested it without the Music component (just the NEST simulation), and the problem persists: it fails some times when starting the simulation. So I guess we can take Music out of the equation...
I just sent you in an email the parameters I am using. Hope that helps.

[2015-10-16 10:25] janhahne opened #123 "Compiler errors on K"
The current nest code produces compiler errors on the K computer. There are simple workarounds for all of them, nevertheless it would be nice to add a configure option similar to "--enable-bluegene" or any other fix.

<h4>When compiling with:

<h4>The following compiler errors occur:

  in librandom/clipped_randomdev.h:

      using RandomDev::operator();

  in lines 97,204,205,337,446,447

  **si

[2015-10-16 10:43] ikitayama commented on #123
@janhahne With your set of options, I am still fail to build NEST on the frontend. Are you working in one of the old development environments? I'd appreciate your PRs.

[2015-10-16 11:27] flinz opened #124 "Error/typo in nest-simulator.org/connection_management.py"
In http://www.nest-simulator.org/connection_management/ > inspecting connections

The first line
```GetConnections(source=None, target=None, model=None)```
should be changed to
```GetConnections(source=None, target=None, synapse_model=None)```

[see https://github.com/nest/nest-simulator/blob/master/pynest/nest/hl_api.py#L777]

[2015-10-16 12:02] abigailm commented on #77
Oh wow I am so slow. Sorry.
If a neuron emits multiple spikes per time step, then set_spiketime() has to be called each time, otherwise they will not be included in the history. This is assuming the spikes are distinguishable, as in, occur at different times albeit close together. If a neuron model can emit spikes with multiplicity > 1, then I guess the model developer should decide what STDP mean

[2015-10-16 12:14] abigailm commented on #85
There is no deep reason for this, I think. All that would need to happen is that that `Node::register_stdp_connection()` should act as in the non-precise models and that `set_spiketime(t)` is fed an appropriate time object that incorporates the offset

[2015-10-16 12:23] abigailm commented on #76
@flinz I have a version of this and I will update it to be mergeable with the current release. A test would be very nice though - do you think you can lend a hand here, to get the model available as soon as possible? There is a SLI test for the basic STDP synapse (tests/unittests/test_stdp_synapse.sli) that could serve as a basis, or you could write a PyNEST test along the same principles - expose

[2015-10-16 12:31] flinz commented on #76
@abigailm sure, we can take care of testing..

To mention this, a student (@zifeo) is currently reimplementing the Pfister (2006) triplet rule himself, based off the stdp_synapse, which is the reason why i wanted to have a look at the existing implementation, to prevent redundancy.

We'll end up writing tests anyways, which will be equally applicable.

[2015-10-16 12:39] abigailm commented on #76
@flinz OK, then perhaps it would be easiest if I get the synapse running with the current release and then send you the source, and you and/or your student make the corresponding PR when you are happy with the testing?

[2015-10-16 12:56] flinz commented on #76
@abigailm sure, this will work!

[2015-10-16 12:58] abigailm commented on #76
@flinz I'm on it.

[2015-10-16 13:11] janhahne commented on #123
@ikitayama If you apply the workarounds mentioned above to the current state of the master branch and use the options from above you should be able to build NEST on the frontend. I added a branch where those workarounds were applied ( https://github.com/janhahne/nest-simulator/tree/Kcomputer ). There is still an error while "make install", which occurs because the executable can not be executed on

[2015-10-16 13:36] ikitayama commented on #123
@janhahne Thank you for creating the branch. I spent couples of hours and gave up detecting the MPI and worked around by setting SLI_mpi_link_ok to yes. As you said, build still fails.
I will try your branch over the weekend and report back here. Let's see how far I can go.

[2015-10-16 14:11] flinz commented on #82
Since i am already working on the parrot_neuron, I changed this to use multiplicity (see the branch https://github.com/flinz/nest-simulator/tree/issue-parrot_neuron-multiplicity) and added a test to confirm.

This branch is based off my branch already containing new tests for the parrot neuron (https://github.com/flinz/nest-simulator/tree/parrot-multiport), so I will open a pull request once that

[2015-10-16 18:49] jougs commented on #124
Fixed. Thanks for the report.

[2015-10-16 18:49] #124 closed

[2015-10-17 00:43] ikitayama commented on #123
@janhahne I've just completed the build of your special branch on the frontend. Thank you.

[2015-10-17 10:55] ikitayama commented on #123
@janhahne In the mean time, we need something like below for K computer,
do you have something similar already to send to mainline?

[code]

[2015-10-18 05:47] ikitayama commented on #123
The third workaround seems to be reasonably acceptable to me and I checked
that FCC doesn't understand the usage yet (C++11 is partially supported).

[2015-10-18 09:31] heplesser commented on #77
@abigailm Thanks for your feedback! Among the models setting spike event multiplicity, we can distinguish two cases: binary neurons boldly abuse the multiplicity mechanism to convey completely different information, so we can set them aside. For all other models, a multiplicity > 1 indicates more than one spike during a time step, but assuming implicitly that those spikes  occurred at slightly dif

[2015-10-18 09:53] heplesser opened #125 "Should it be possible to connect binary neurons to normal neurons?"
NEST currently comes with two "binary neuron" models, `ginzburg_neuron` and `mcculloch_pitts_neuron`, both derived from class `binary_neuron`. These neuron communicate by `SpikeEvent`s that do not really represent spikes, but state transitions, and that abuse the event multiplicity entry to communicate which states they are transiting between. But since they use `SpikeEvents`, they still can be co

[2015-10-18 09:53] heplesser commented on #125
@mhelias Could you take care of this?

[2015-10-18 10:17] heplesser opened #126 "Create MPI-test for plasticity with pre-synaptic neurons using spike multiplicity"
Several neuron models, especially `pp_*` models, use `set_multiplicity()` to convey that several spikes have been fired within a single time step. Since these models have proxies, their spikes are conveyed via `Network::send_remote()`, which converts a `SpikeEvent` with multiplicity n into n  `SpikeEvent`s of multiplicity 1. Thus, it does not matter that `STDPConnection::send()` and other plastic

[2015-10-18 11:49] heplesser commented on #123
@janhahne @ikitayama I have a few comments concerning the issues you experience in building NEST on K. We detect K through the `-DIS_K` passed to the configure script. Since there is only a single K in the world, I would leave it at that.

#####  `librandom/clipped_randomdev.h`

I fear the problem here may be a weakness in the compiler. Each of the classes that are used as template argument `BaseR

[2015-10-19 10:25] janhahne commented on #123
@heplesser Thank you for your explanations and suggestions. I implemented them in a branch and was able to build this version of nest on K. As discussed in the meeting this morning I am now waiting for @tammoippen to send me a small test script to ensure that the new function `is_nan` works properly on K.

[2015-10-19 11:53] JanneM commented on #123
Are you going to try building with pynest at some point? I tried recently, but linking to the pynest library during startup fails, likely due to the dlopen() bug on K.

[2015-10-19 12:03] ikitayama commented on #123
@hanahne I've confirmed the updated branch can be built without an issue. However,
when I do launch the simulator interactively it fails with an error comes from omp_set_num_threads.
Do you have a simple set of .sli files I can test?

[2015-10-20 11:12] heplesser opened #129 "Review role and use of Events in connection creation and signal transmission"
We use `Event`s in NEST both during connection creation and during transmission of signals via connections. `Event`s are used differently in both cases, and different subsets of `Event` public functions cater to the different uses. This is not properly documented at present.

As an example, `e.get_sender().get_gid()` and `e.get_sender_gid()` will yield inconsistent results, even though one would e

[2015-10-20 15:33] sanjayankur31 opened #131 "configure script clears CFLAGS and CXXFLAGS"
I was trying to build nest on my Fedora 23 system - package it as an rpm in fact. It kept failing and I realised this was because the configure script clears the CFLAGS and CXXFLAGS variables. Is there a reason why this is done?

https://github.com/nest/nest-simulator/blob/master/configure.ac#L461

[2015-10-21 06:46] heplesser commented on #129
See also ticket 685 in the old trac,

[2015-10-21 06:58] heplesser commented on #131
@sanjayankur31 Before being cleared, the flags as saved as SLI_SAVE_{C,CXX}FLAGS (see lines 330-370), and these saved values are then appended to the flags used to build NEST by the SLI_SET_{C,CXX}FLAGS macros. So they will be used when building NEST, but they will not be used while running the tests following line 461.

As you can see from the comments in configure.ac, I wrote that code 11 years

[2015-10-21 07:48] ikitayama opened #132 "The invalid memory is freed."
While I am executing a test program on K computer from

testsuite/manualtests/ticket-458

I get:
[code]

Below is my submission script
[code]

Wonder if other people seen similar error on other supercomputers?

[2015-10-22 11:04] ikitayama commented on #132
@JanneM pointed out that I was using incorrect .sli files.

[2015-10-22 11:26] apdavison commented on #114
Looking at this again, it is not true that when `Delta_T==0` the model is the same as `iaf_psc_*`, because there is still the adaptation term `- w`

[2015-10-22 12:38] sanjayankur31 commented on #131
Ah, that's weird. I was building nest for Fedora (review ticket here - https://bugzilla.redhat.com/show_bug.cgi?id=1273579  and copr builds here - https://copr.fedoraproject.org/coprs/ankursinha/neuroscience-research/build/129034/) and it didn't seem to pick up CFLAGS, LDFLAGS or CXXFLAGS that the build system set up. It exports them before calling the configure script. Like this for example:

[co

[2015-10-22 12:44] sanjayankur31 commented on #131
This is what I'd get when CFLAGS was cleared, for example:

[code]

Here, all the required packages are installed, and everything available in the standard locations, but the configure script failed to find them.

[2015-10-25 05:48] ikitayama opened #133 "PyNEST on an ARMv8 hardware"
I just wanted to let the Community know that one of the PyNEST examples executed successfully
on an ARMv8 platform (Fedora 22 aarch64).

[code]

[2015-10-25 13:41] ikitayama commented on #123
@janneM I think I've built PyNEST, but it fails at run-time too.

Some notes:
The GNU compatibility flag, -Xg is absolutely needed, and the cythonize part
needs to be done on the compute node. I manually edited the pynest/Makefile
to remove the shared flag from from pynestkernel_la_LDFLAGS.

[2015-10-25 13:57] JanneM commented on #123
@ikitayama Did you manage to cross-compile the rest of NEST? That's good news, as having to log in for compilation was very slow and painful.

How exactly does it fail? Is it the dlopen() call that crashes?

[2015-10-25 14:05] ikitayama commented on #123
@janneM No, it's not a pure cross-compilation, I had to log on to the compute node.

I'll report back here about the details of the issue. It could well be that the dlopen() issue,
but not sure yet.

[2015-10-25 14:12] ikitayama commented on #123
@janneM

In my trying  of this:

$ mpirun -np 2 python /[...]/nest-simulator/pynest/examples/CampbellSiegert.py

Error suggested I need SciPy and other modules.

[2015-10-25 14:45] JanneM commented on #123
Scipy and Numpy are available on the compute nodes. Which order do you
import things? I import nest as the very first library and that works.

2015-10-25 23:12 GMT+09:00 Itaru Kitayama <notifications@github.com>:

--
Jan Morén
http://sites.google.com/site/janmoren/
http://janneinosaka.blogspot.com

[2015-10-26 00:09] ikitayama commented on #123
@JanneM Ah, yes they are. Importing nest first ended up with no such module, even with
the correct PYTHONPATH set.

When you build your own PyNEST, did you do that all while you were on the compute node?
libtool fails to build a shared library if the -shared flag kept in the pynest/Makefile.

[2015-10-27 13:30] gewaltig commented on #114
I am somewhat hesitant here. As a fix, I would just go back to the old code, as it behaved correctly. At the time I deliberately "precomputed" the result to achieve the desired threshold crossing.
On a more general note, I would like to remove the old GSL based adex versions in favor of the faster and more accurate RK5 versions.

[2015-10-28 15:57] bosse89 opened #134 "mat2_psc_exp not spiking"
I'm using mat2_psc_exp/amat2_psc_exp with default settings trying to just make it spike.
Testing similar currents at http://www.ton.scphys.kyoto-u.ac.jp/~shino/toolbox/kspred/pred.html
which spikes nice.

Here is some test code:
#################################################################
import nest
import pylab
nest.ResetKernel()
neuron = nest.Create("mat2_psc_exp")
nest.SetStatus(neuron, {

[2015-10-29 10:33] heplesser commented on #134
@bosse89 The mat2 and amat2 models behave differently than most other neuron models: The membrane potential V_m is never reset. Instead, the threshold V_th jumps (usually up) after each spike, see e.g., Fig 1 in Kobayashi et al (2009) og Fig 6 and 7 in Yamauchi et al (2011). So you should record and plot `V_th` in addition to `V_m` in order to get the full picture.

At least for amat2, we have not

[2015-10-29 14:09] bosse89 commented on #134
Thank you for the answer.
I see, so the way that the spikedetector works with the MAT model is that it looks at V_th spikes instead of V_m? It defenitely makes more sense when plotting V_th from a spike predicting perspective.
But from a biological perspective ... isn't the whole point to make V_m spike and not V_th?
################################################################
import nest
impo

[2015-10-29 16:44] Silmathoron opened #135 "GetGlobal and DataConnect variants in PyNEST 2.8"
I am rather new to NEST, but I have been trying to reproduce topological graphs generated by usual graph libraries (graph_tool or snap) into NEST.
Functions that would be especially useful to me are:
- GetGlobalNodes/Leaves
- GetLocalNodes/Leaves
- DataConnect_i_D_s

However, these functions do not appear when I run *dir(nest)*: only DataConnect and GetNodes are present. The second one was especia

[2015-10-30 09:32] ikitayama commented on #123
@janhahne I just wanted to know that I've verified that the HEAD of the Kcomputer computer can use OpenMP threads, together with MPI on K computer. Many thanks to @JanneM for providing a .sli script for my testing and useful advices.

[2015-10-30 10:18] heplesser commented on #134
@bosse89 The spike detector works by recording the spikes emitted by a neuron, not by looking at the internals of a neuron. Most neuron models in NEST are highly abstract mathematical models of neuronal dynamics. It makes no sense to assign "spiking" to either V_m and V_th.

Since this discussion is not about technical problems in NEST but about usage and general principles of neuronal modeling, i

[2015-10-30 10:27] bosse89 commented on #134
Thanks a lot for the help Hans!

[2015-10-30 10:27] #134 closed

[2015-10-30 14:37] janhahne commented on #123
@ikitayama Thank your for your help with this issue.

[2015-10-31 06:41] ikitayama commented on #133
Distributed computing (OpenMPI) was also possible on the same hardware. Checked using both hpc_benchmark.sli and ArtificialSynchrony.sli scripts in the examples/nest directory of the NEST tree.

[2015-10-31 06:41] #133 closed

[2015-11-01 02:07] ikitayama commented on #132
Reopening although this is platform specific, I am still seeing this.

[2015-11-01 10:34] ikitayama opened #139 "SIGBUS error at end of simulation"
I have been trying to run a simulation described in Potjans_2004 on K computer, however almost always
job ends after receiving a SIGBUS error.

[code]

@janhahne have you encountered this error on K computer? Is there a workaround?

[2015-11-01 13:08] janhahne commented on #139
@ikitayama I suppose that you are writing the results of the recording devices to file? In this case you need to set the `fbuffer_size` of the recording devices to `8192` on K.

For example:
[code]

If thats the reason here you just need to add this line in `microcircuit.sli` every time you find a `to_file`.

[2015-11-01 21:18] frankmichler opened #141 "Error with non default tics_per_ms"
# Error with non default tics_per_ms
## Error description
When compiled with --with-tics-per-ms=4, on NEST import a NEST error
occurs in constructor of node class "correlospinmatrix_detector".

[code]
## Root cause
in correlospinmatrix_detector.cpp, default constructor uses 0.1 for delta_tau, obviously assuming tics-per-ms=10.

[code]

## Proposed solution
Use 'Time::min()' instead of '0.1'

[2015-11-02 08:46] ikitayama commented on #139
@janhahne thank you very much. Actually, @janneM also pointed out to me off the list the other day.
Now I am able to run the simulation and other simulations in the examples/nest.
Below is a profile result from a microcircuit simulation with 1500 nodes, 8 OMP threads per node.
![microcircuit potjans_2014](https://cloud.githubusercontent.com/assets/962791/10877379/07959982-8189-11e5-92f9-cb23383945

[2015-11-02 10:31] ikitayama commented on #139
Please note that in the above, only MPI functions and OMP constructs are profiled.
I will start working on adding annotations in the user-defined functions soon.

[2015-11-03 12:24] frankmichler commented on #141
Time::min() was wrong. I misunderstood it to be the length of the minimal time step, but it seems to be the lowest possible time value which is a huge negative number.

This should be the solution which gives the lenght of a step in ms.
[code]
For the default values tics_per_step==100 and tics_per_ms==1000. this should result in 0.1
Implemented in commit 4dcad7abf4b7aac4b944ac426fa43c1064a2113b pu

[2015-11-03 13:25] frankmichler opened #145 "Missing unit tests for non default compile configurations (like --with-tics-per-ms)"
# Status quo
## Tests are designed for default config

Most unit tests are designed for default compile configurations. Thus they fail when NEST is compiled e.g. with different temporal resolution (I mostly use --with-tics-per-ms=4 and --with-tics-per-step=1).
## No tests for non default temporal resolution

There seem to be no tests for non default temporal resolutions. Thus, errors that break NE

[2015-11-03 16:01] flinz opened #147 "404 on www.nest-simulator.org/random_numbers"
The page http://www.nest-simulator.org/random_numbers is missing, but is still linked from http://www.nest-simulator.org/documentation ('Random numbers in NEST')

[2015-11-03 16:04] jougs commented on #147
Thanks for the hint. I've fixed the problem.

[2015-11-03 16:04] #147 closed

[2015-11-03 23:23] heplesser commented on #145
Actually, for quite a while it has been possible to change the time base at runtime, e.g.,
[code]
so one could add this to (most) tests to enforce the expected
[code]

@frankmichler Out of curiosity, why do you work with such very coarse ticks?

[2015-11-04 04:02] frankmichler commented on #145
@heplesser  I used a temporal resolution of 0.25 ms before, when I used my own simulation library. And I didn't see a reason to use a higher resolution. I tested it once, and it didn't make a difference in my case. So I stick with 0.25 ms. I guess, my simulations are finished faster this way.

[2015-11-04 08:56] heplesser commented on #77
@abigailm After further inspection, I now feel certain that `get_K_value()` and `get_K_values()` also will work correctly if the target neuron has sent spikes with multiplicity > 1 and registered them by multiple calls to `set_spiketime()`. The essential point is that `get_history()` test `runner->t_ <=` (and not `<`), so that it runs past multiple spikes registered with the same time and hikes th

[2015-11-04 10:37] janhahne commented on #123
Fixed with PR 127 and 130

[2015-11-04 10:37] #123 closed

[2015-11-04 13:39] janhahne commented on #139
@ikitayama Very good. Then I guess this issue can be closed now?

[2015-11-04 13:58] ikitayama commented on #139
@janhahne Please go ahead.

[2015-11-04 15:25] heplesser commented on #145
@frankmichler Using a resolution of 0.25 ms is fine, but you don't really need to compile that into NEST. Even if you want to compile in the resolution for convenience, you do not really need to change `tics_per_ms`. `--tics_per_step=250` with the standard tic-base of 1 microsecond should do fine. I suggest that further discussion of which tic base to use should be on NEST User.

But you are right

[2015-11-04 23:08] heplesser opened #149 "MyModule does not work with gcc 4.7.2 / missing symbols"
As Oliver Breitwieser reported on NEST User 30 Oct 2015, loading mymodule fails when NEST 2.8.0 is built with gcc 4.7.2 under Linux. I have reproduced this failure, using 4.7.2, but not using gcc 5 under OSX.

To reproduce:
1. Build mymodule as instructed (http://nest.github.io/nest-simulator/extension_modules)
1. Run `nest -c "(mymodule) Install"
1. NEST fails, reporting it cannot open mymodule d

[2015-11-04 23:19] heplesser commented on #135
@Silmathoron There are some differences in the functions available in SLI (NEST's native intepreter) and PyNEST, which you presumably are using, since you call `dir(nest)`. In PyNEST, `GetNodes()` wraps both `GetGlobalNodes` (default) and `GetLocalNodes` (if called with `local_only=True`). The same holds for `GetLeaves()`. Also, `DataConnect()` on the Python level wraps `DataConnect_i_D_s` or an o

[2015-11-05 12:30] flinz commented on #76
We've opened a PR including the triplet model. https://github.com/nest/nest-simulator/pull/150

[2015-11-05 16:29] Silmathoron commented on #135
Thank you for your reply, I'll make sure to use the mailing list in the future.

[2015-11-05 16:29] #135 closed

[2015-11-05 17:03] flinz commented on #82
@heplesser I think this can be closed, since a fix was merged.

[2015-11-05 17:06] jougs commented on #82
Definitely.

[2015-11-05 17:06] #82 closed

[2015-11-05 17:07] flinz commented on #80
@heplesser would it make sense to attempt writing this in pynest at all, or is there a straightforward way of testing this in SLI?

In pynest one could compare the effect of a single spike with multiplicity 1 against a single spike with higher multiplicity on the state variable of all neuron models, and assert there is a difference. However, this seems a little indirect..

[2015-11-05 17:17] flinz opened #151 "More detailed pynest errors: subclassing the general pynest nest.NESTError class"
So far the pynest API only throws a single error class, the [NESTError](https://github.com/nest/nest-simulator/blob/master/pynest/pynestkernel.pyx#L79).

In order to catch more detailed errors on the python side, it probably would make sense to subclass this error into a few more python-side error classes, reflecting the [actually raised SLI exceptions](https://github.com/nest/nest-simulator/blob/

[2015-11-05 17:32] jougs commented on #151
If I remember correctly, one of the reasons for using only one type of exception was to make it easier for PyNN to know what happened. @apdavison might know more about this. @apeyser might have a more technical perspective on this.

[2015-11-05 21:00] apdavison commented on #151
If you subclass `NESTError`, there's no problem either way. PyNN or other libraries using NEST can choose to catch just `NESTError`, or the more specific subtypes (I would probably choose to catch the subtypes).

[2015-11-05 21:03] heplesser commented on #80
@flinz Our basic strategy so far has been to write tests in SLI where possible. A lot of connectivity tests are probabilistic and need statistical analysis, so they are written in Python to be able to use tools from SciPy etc. But in this case, tests in SLI would be better, so the tests can run even when Python is not available.

The basic approach here would be the same as I implemented in `Parro

[2015-11-06 11:44] flinz commented on #151
@apdavison Yes, subclassing was the intention - i'll have a look at this.

[2015-11-09 18:20] jakobj commented on #106
i think this issue can be closed!

[2015-11-10 07:47] heplesser opened #152 "Skip documentation when installing cross-compiled NEST"
This is issue is based on a report by Babak Keshavarz on NEST User 10 Nov 2015.

Running `make install` on a cross-compiled NEST may lead to a crash during the installation of NEST Online documentation because the cross-compiled SLI executable may not work on the machine executing make.

Installing the documentation is the last step in the NEST install process. We should check whether SLI can run,

[2015-11-10 07:51] heplesser opened #153 "Add `install-nodoc` target"
Installation of NEST online help takes an irritating amount of time during development work, when one is frequently recompiling and reinstalling. As long as one only changes C++ code or PyNEST Python code, one can use `make install-exec` to skip installation of documentation, but this also skips installation of SLI libraries, the testsuite and examples. Therefore, we should add an `install-nodoc`

[2015-11-10 08:24] heplesser commented on #106
I just updated the page so that the output actually looks like nest-2.8.0 output (GID shown by default, integer values shown without trailing .0) and changed the input current a little so that one actually sees the return from refactoriness. Updated the explanation a bit as well.

With that, I am happy, but I think someone else should proofread before closing.

[2015-11-11 09:04] w-klijn opened #154 "Using GetConnections as documented results in TypeError"
When using the function GetConnections calling with an empty dictionary should result in all connections being returned. It aborts with an Type error:

Minimal code example:
import nest
nest.GetConnections({})  # Error also occurs in a populated model

Traceback (most recent call last):
  File "getconnections.py", line 3, in <module>
    nest.GetConnections({})
  File "/home/ubuntu/build/nest2.8.0

[2015-11-11 09:40] w-klijn commented on #154
The documentation I followed was apparently for a different function:
I should use the interface of: nest.hl_api.GetConnections.

[2015-11-11 09:40] #154 closed

[2015-11-12 14:51] borismarin commented on #74
I am getting the same segfaults on OSX 10.10.5, using either Apple LLVM version 7.0.0 (clang-700.1.76) (`--without-openmp`), or [clang-omp](https://clang-omp.github.io/)  )`--with--openmp`).

[2015-11-17 06:39] JanneM opened #156 "PyNEST+MUSIC+OpenMP fails to work"
PyNEST and MUSIC (1.1.15) fails on the receiving side when OpenMP is enabled and two models are connected using MUSIC. The sending side works. SLI models are unaffected. It happens when explicitly setting either local_num_threads or _total_num_virtual_procs on the receiving side. This is reproducible on both architectures I have access to (Linux/AMD64 and K).

The error message complains that the

[2015-11-17 09:55] steffengraber commented on #152
I added a set of helping tools for the NEST documentation. See pull request #157.
The python tool generate_help2jsonhtml.py in extras/userdoc/generator extract the whole documentation from the code files (".sli", ".cpp", ".cc", ".h") and write it to HTML and JSON files.
See the documentation: extras/userdoc/README.md.
It is very fast and maybe it is an solution.

[2015-11-17 09:56] steffengraber commented on #153
See my comment in #152.

[2015-11-17 14:44] jschuecker commented on #121
Solution and implementation plan:
We will use a decorator around a synapse type, that optionally gives every synapse a projection id as an integer. This projection id can be optionally passed to the Connect function, so that this feature will be optional in pyNEST while in PyNN it will be set automatically.
This is independent of pyNN and would cost one integer for each synapse but adds the idea o

[2015-11-19 13:56] SepehrMN opened #161 "Kernel parameters missing from helpdesk"
"rng_seeds" and "grng_seed" kernel parameters are missing from the nest helpdesk.

[2015-11-19 19:52] mdjurfeldt commented on #156
The reason for this is that setting total_num_virtual_threads causes Network::reset () to be called which causes clearing of the Network::music_in_portlist_. This also clears the port name which the music_event_in_proxy had registered (event_in) and music_event_in_proxy is never given a new chance to register it.

I guess there are two possible solutions:

1. Introduce a new virtual method in the

[2015-11-19 22:48] mdjurfeldt commented on #156
My previously suggested solution 1 is somewhat invasive in that all nodes will have an extra method. Solution 2 has the ugly effect of requiring network.cpp to #include "music_event_in_proxy.h".

I'll now instead prepare a pull request for solution 3 which is to maintain a pristine copy of music_in_portlist representing the state after models have been loaded. This is then used to initialize the l

[2015-11-20 11:20] mdjurfeldt opened #163 "PyNEST doesn't handle MPI or MUSIC induced changes in argv"
The MPI standard specifies that MPI_Init may change the contents of argc and argv. The mpich MPI implementation does this and MUSIC uses this mechanism to replace argc and argv according to the contents of the MUSIC specification file.

PyNEST translates the contents of sys.argv for the nest kernel, but it does not do the backwards translation needed after NEST startup, since args may have changed

[2015-11-20 14:59] apeyser commented on #163
Shouldn't we just move the MPI Init out of NEST and pass the communicator in? These problems occur because we keep on recreating interfaces that have already been written --- and it produces all those #ifdef's that cause problems.

I can fix it --- is this a theoretical problem, or is there an existing case where this causes a failure?

[2015-11-20 15:02] apeyser commented on #163
Ah, I misread what was pointing to what. So you've already put in the code and have the pull request.

Can you give me the case information for this? Has this broken something currently, are you worried about a future case, or is it general correctness?

[2015-11-20 15:07] JanneM commented on #163
It breaks things when you have a PyNEST model that also uses command line arguments for its operation. You get all the MUSIC-related arguments mixed in with the ones meant for the model.

[2015-11-20 15:13] mdjurfeldt commented on #163
This is responding to the problem Jan has. My change makes current
behaviour of pynest align with the behavior of a corresponding C++
application in that argv gets retrieved from the MUSIC configuration file.

At the same time this fixes a difference in behavior which pynest had
depending on MPI implementation:

Before my change, pynest under OpenMPI would get the users command line
arguments into

[2015-11-20 15:15] mdjurfeldt commented on #163
On Fri, Nov 20, 2015 at 3:59 PM, Alexander Peyser <notifications@github.com>
wrote:

This is a good idea.  However since this is a change in the API for the
user, I suggest that we do it in NEST3.

[2015-11-20 16:00] apeyser commented on #163
Agreed that's a major revision for NEST 3. Thanks for the update on the root issue. Which issue # for Jan's problem? That way I can start to work backwards through my message backlog...

I'll look over your pull request next week.

[2015-11-20 16:08] apeyser commented on #151
Agreed that would be the best solution. The next question is implementation and hierarchy. I'll have to look into how the exception is currently constructed and if there's a reasonable automated way to do this.

[2015-11-20 16:34] mdjurfeldt commented on #163
He hasn't reported it as an issue.

But what I did is rather straightforward:

1. Changed neststartup to use an extra level of indirection for argc and
argv.

2. Cleared argv and filled it from argv_bytes again after pynestkernels
call to neststartup

On Fri, Nov 20, 2015 at 5:00 PM, Alexander Peyser <notifications@github.com>
wrote:

[2015-11-20 17:42] jougs commented on #106
I've read the page and generally find it nice. I'm thus closing this issue.

[2015-11-20 17:42] #106 closed

[2015-11-20 23:30] JanneM commented on #163
I didn't report it here as it seemed a MUSIC problem to me. Should I open an issue on it, just to make it formal? Also, how do I share things like test cases? Check them in on a branch on my forked nest-simulator repo and refer to them fro here?

[2015-11-23 08:04] heplesser commented on #153
@steffengraber Given that your new solution is blazingly fast, I think we can just drop this ticket to keep complexity within bounds. This issue should be closed when #157 is merged.

[2015-11-23 12:52] frankmichler commented on #141
Pull request #144 with the proposed solution was merged in commit d971005728061322214dd706adebc8e0d1653991
Therefore I close the issue.

[2015-11-23 12:52] #141 closed

[2015-11-23 15:43] apeyser commented on #152
A --without-doc configure flag should be added, since it appears to me that no such flag exists.

Every solution will require some set of tools, which will lead to corner cases with failures on top of wasted compilation time. We already have the "IS_BLUEGENE" flag to suppress slidoc because of this problem (among others). We should have a configuration that skips all of it from the get go.

[2015-11-23 16:42] jougs commented on #152
Also see trac.791 for a related issue.

[2015-11-23 17:31] apeyser commented on #152
Yes -- a number of options should be explicitly disable-able such as docs and readline, instead of being the result of special-case flags (such as enable-bluegene). Whether they are done by implicit checks and disabling, or by failing on tests and requiring explicit disabling is a further question of complexity. But a first cut is making sure that one can disable things like docs piecewise.

[2015-11-23 17:44] apeyser commented on #163
@JanneM: MUSIC is also on github https://github.com/INCF/MUSIC, so you can put the issue there and reference from here or visa versa. That way when I forget about it, I can chase it down.

The goal of the tests would be ultimately integration, correct? Then you can do precisely what you suggest, since they'll be part of this repo eventually. There's also Gist (see at the headline of any github pag

[2015-11-23 19:46] heplesser commented on #131
@sanjayankur31 Thanks for building NEST for Fedora! Looking at copr, it seems that you have succeeded in building NEST now---was that after manually removing the lines that cleared the CFLAGS? We are currently looking at a thorough overhaul of our build system, so unless it is crucial for you, I would not want to spend much time on investigating this issue further at present.

Btw, I noticed the q

[2015-11-24 09:44] sanjayankur31 commented on #131
I've managed to build it, and the package works, but as you'll see from the review, there are a few issues I need to work on before the package gets into Fedora and EL (CentOS etc too).

I manually deleted the lines in the spec file. It isn't crucial at all. I can carry that patch downstream for the time being - I have to carry some patches to get the files to install in proper Fedora specific MPI

[2015-11-24 09:44] #131 closed

[2015-11-24 09:55] jougs commented on #131
Just a short addition: we're happy to review a pull request with the patches you require for proper package building. If they don't collide with other platforms, we'll include them into mainline NEST.

[2015-11-24 10:28] sanjayankur31 commented on #131
I'm still looking into them. They seem to mostly be downstream patches that are required to place files in proper Fedora specific locations. For example, on Fedora/EL variants, this is how MPI specific locations are defined (when one goes `module load mpi/openmpi-x86_64`):

[code]
Just changing `prefix` and `execprefix` didn't quite seem enough - binaries go to a different location, python stuff g

[2015-11-24 14:26] heplesser commented on #77
I suggest that we solve the in-depth test of STDP for multiplicity > 1 when addressing #80.

[2015-11-24 20:03] mdeger commented on #77
Thanks for the comprehensive changeset @heplesser and the test.
Concerning pp_pop_psc_delta, and your comment above about pp_* neurons: Because pp_pop_psc_delta represents a whole population of neurons, not just a single one, I don't think it makes sense to connect to it with plastic synapses at all. For instance, every synapse on it typically sees massive postsynaptic firing activity. A synapse o

[2015-11-24 22:14] heplesser commented on #77
@mdeger That makes sense!

[2015-11-25 14:47] apeyser commented on #163
Pull #164 merged. I'll close this issue and if someone would like to add test cases or any other documentation, just reopen.

[2015-11-25 14:53] #163 closed

[2015-11-26 12:36] heplesser commented on #114
@apdavison I have tried for some time now to find a numerically stable solution supporting `Delta_T==0` that carries minimal overhead, but have not been entirely successful. So I fear we won't be able to fix this for the next NEST release. It will have to wait for a new implementation of aeif-numerics in context of #33.

[2015-11-26 13:08] JanneM opened #169 "Added OpenMP check for one more unprotected OMP call"
Pull request #120 added another call for omp_get_thread_num() in nestkernel/connector_base.h without a check that NEST is compiled with OpenMP. #168 adds the check.

[2015-11-26 13:12] jougs commented on #169
Closing as #168 was merged.

[2015-11-26 13:12] #169 closed

[2015-11-29 13:11] JanneM commented on #156
I can confirm that pull request #165 indeed solves this issue. I'll close this issue.

[2015-11-29 13:11] #156 closed

[2015-11-29 13:13] #161 closed

[2015-12-01 11:52] tammoippen opened #172 "`CopyModel` on `gap_junction` does not work"
See https://github.com/nest/nest-simulator/pull/158#issuecomment-160584748

When registering the `gap_junction` model, the `static` variable `GapJEvent::synid_` is set to the synapse id of the `gap_junction` model.  Late, the `Scheduler` uses this to distinguish, which kind of SecondaryEvent is send.
The problem is, that one cannot copy the model: if `GapJEvent::synid_` is set to the new model, th

[2015-12-01 16:01] heplesser commented on #105
@jafyvilla I finally got back to this ticket and have been able to confirm and localize the error. If NEST creates a connection with a delay that is not a multiple of the time resolution, then the minimum delay is not set correctly. E.g., simulating with resolution 0.1 and creating a connection with delay 0.82 will result in a connection with delay 0.8, while the minimum delay is 0.9. This causes

[2015-12-03 11:12] heplesser commented on #80
See the work on #82, especially test_parrot_neuron.py for test strategies.

[2015-12-03 11:24] janhahne opened #178 "JuQueen compiler error: "nest::Connector<1,ConnectionT>" contains a circular reference back to ...""
I just tried to build the current master branch on JuQueen. The build failed:

[code]

The last bigger change to `connector_base.h` was pull request [#120](https://github.com/nest/nest-simulator/pull/120). Could this be related? This should probably be fixed before NEST 2.10 is released.

[2015-12-03 11:38] heplesser commented on #178
Interestingly, clang on OSX also produces errors, although different ones:

[code]

and

[code]

In this case, I believe a `using Node::get_synaptic_elements;` is missing, and the method in `Archiving_Node` should also be `const`.

[2015-12-03 11:40] heplesser opened #179 "Add clang to our Travis setup"
As shown by, e.g., #178, clang discovers errors in code that gcc does not notice. We should therefore add clang to our test harness on Travis and compile at least one configuration with it. Since clang is open source, that should not be too difficult, I hope.

[2015-12-03 14:08] heplesser commented on #178
#180 fixes the second error about the missing using declarations.

The other issue is more serious, so I will open a new issue for it.

[2015-12-03 14:23] heplesser opened #181 "Gap junction implementation not strictly C++-standard compliant"
Compiling NEST with Clang reveals a conflict with C++ standard compliance in the implementation of gap junctions:
[code]
The problem here is that we attempt to initialize an iterator with a pointer. This is not standard-compliant, since STL implementations may choose to implement vector iterators with data types other than pointers.

The reason for the construction above is that we need to exchang

[2015-12-03 21:32] janhahne commented on #181
@heplesser When @mhelias and I build the `CoeffArrayIterator` class we were aware, that the `std::vector<double>::iterator` <-> `std::vector<uint>::iterator` transformation using pointers and `reinterpret_cast` might be critical, but then it worked just fine with gcc and also on JuQueen and the K computer.

I agree that we should look for a more standard-compliant way to do this, but we should als

[2015-12-04 07:14] heplesser commented on #181
@janhahne `std::copy()` allows different iterator types for source and destination. I won't have time to test this before noon, unfortunately.

[2015-12-04 07:43] apeyser commented on #181
I'm not sure I understand what's going on here. Is an array of doubles being interpreted as uint by bit-casting? Why? And why is this performance critical? Are doubles & ints being stuffed into the same array, and are they being distinguished some how? Or is this an attempt to override a double array with integer? And if so, why is a possibly varying bit length type (unsigned int) being traded wit

[2015-12-04 09:32] apeyser commented on #149
:laughing:
in C++ < 11, double literal constants aren't counted as compile time constants, so they can't be static const's in headers, but literal integers and a set of operations on them are. It's one of those poor compromises made at the C++ standardization committee. Thus, you can't have LIM_POS_INF.ms, but need to make it a macro.

For some reason, it appears that gcc 4.7.2 isn't inlining LIM_

[2015-12-04 10:18] apeyser commented on #149
I looked into it, and it appears that in C++ 03 this is not fully defined, and in C++ 11 involves great legal gymnastics regarding "odr-used". So either there's a case somewhere downstream where tics is referenced in such a way that requires it's address (such as a reference) that under some compiles isn't optimized away, or gcc 4.7.2 is acting funny and failing to recognize it.

The safe thing is

[2015-12-04 10:52] janhahne commented on #181
@apeyser Here is a more detailed description of what is going on there

In `hh_psc_alpha_gap` a `GapJEvent` is filled with data:
[code]

Later this is written into the `std::vector< std::vector< uint_t > > secondary_events_buffer_;`: via `inline fwit& GapJEvent::operator>>( fwit& pos )`:
[code]

which is attached to `std::vector< uint_t > local_grid_spikes_;` in `nest::Scheduler::collocate_buffers

[2015-12-04 13:23] apeyser commented on #181
So, if I understand correctly, you are trying to override a vector of uint's with a vector of doubles, hoping that all the vector of uint machinery will work properly in between including remote passing, and then cast the whole thing back to the correct type at the end?

This won't work in 32 bit environments where sizeof(uint) != sizeof(double), for starters. Second, even if we assume a 64 bit en

[2015-12-04 13:28] apeyser commented on #181
Do we have some measures or theoretical model for the performance loss for copying into a vector<uint> of fixed size? And that still would leave the issue that bitcasting between double and int isn't 32 bit safe --- there would need to be a configuration flag to turn off gap junction for 32 bit machines and a compile time check for the sizeof(unsigned int) >= sizeof(double) if gap junction code is

[2015-12-04 14:39] tammoippen commented on #172
fixed by #175

[2015-12-04 14:39] #172 closed

[2015-12-04 14:41] tammoippen commented on #99
Fixed by #119

[2015-12-04 14:41] #99 closed

[2015-12-04 14:44] #13 closed

[2015-12-04 14:57] janhahne commented on #181
@apeyser We do not at all rely on sizeof(uint) == sizeof(double). I just tried to describe the general problem why we used the `CoeffArrayIterator` which causes the compiler error with clang and the process of the data. For the details I suggest you have a look at the actual code in `event.h` (lines 913-975), which is pretty much self explaining.

I do not doubt that there are smarter or cleaner w

[2015-12-04 15:01] janhahne commented on #178
@jougs The original JuQueen issue is still not addressed/solved. The comment of @heplesser refers to the additional compiler errors from his first post. So this should be reopened.

[2015-12-04 16:48] apeyser commented on #181
Okay, so then I wasn't understanding correctly. So is the problem is that you don't want to copy a uint -> a uint before using operator>> which does copy a uint -> a uint? And that's needed to stuff the values through send remote using a virtual >> operator?

So, I see know that you've defined a post-incrementer that then scales the increment in case sizeof(double) is a multiple of sizeof(uint), a

[2015-12-06 14:53] jougs commented on #178
@janhahne: aargh! Sorry, I did not mean to close this. It was automatically closed when I merged #180, which mentioned this issue as being a (partial) fix for this issue.

[2015-12-06 15:43] heplesser commented on #178
@janhahne @tammoippen and I think we have a solution, will create pull request soon.

[2015-12-06 19:41] janhahne commented on #181
@apeyser I think now we are talking about the same thing! Thank you for the valuable comments. I created a branch ( https://github.com/janhahne/nest-simulator/tree/gap_fix181 ) which removes the `CoeffArrayIterator` and instead uses `std::vector` iterators in `GapJEvent` as you suggested. For starters this should fix the compiler error mentioned in this issue. You are right that the operator-funct

[2015-12-07 08:12] heplesser commented on #181
@janhahne @apeyser I would suggest that we do not attempt to solve problems before they actually occur, especially if they seem quite unlikely, such as non-contiguous storage of vector elements. The important thing is to have solid tests in place that would flag any trouble in case storage is not contiguous. `test_gap_junction.sli` at present only checks that gap junctions can be created, while `t

[2015-12-07 08:20] heplesser commented on #181
@janhahne While reviewing the gap junction code, I found it difficult to keep a good overview over the different data types and data members due to some rather cryptic names. Longer names generally make for better readability in my experience. Would you consider the following:
- `GapJEvent`-> `GapJunctionEvent`
- `fwit` -> `std::vector< uint_t >::iterator`
- `dfwit` -> `std::vector< double_t >::it

[2015-12-07 10:39] janhahne commented on #181
@heplesser The suggested name changes sound reasonable. I will include them in PR #181.

There actually is a third test in the testsuite doing what you ask for. It is hiding under the name of the neuron model `test_hh_psc_alpha_gap`. The only thing missing is that it is not included in the MPI-test.

[2015-12-07 11:01] apeyser commented on #181
@janhahne: Looks good, except the &d needs a char* cast, but the concept is sound, and to help the compiler with some const's for the bounds. I made a suggestion on the PR on how to turn the size_uint call into something compile-time collapsible to a const.

I'd like to think about later (after merge), moving some of this code into a separate file where we can make this reusable, since the problem

[2015-12-07 13:56] heplesser commented on #181
@janhahne I think we have enough tests then.

[2015-12-07 15:54] heplesser opened #185 "Require nosetest for Python-based testing"
We currently have to test setups for Python-based testing: unittest and nosetest. Nosetest is used if available, especially on our Travis CI, and unittest serves as a fallback. I believe that this is a recipe for disaster: Developers who have not installed nosetest on their computer will add tests to the unittest testsuite, but these may not be executed by nosetest, if they have unsuitable names.

[2015-12-07 21:42] jougs commented on #185
I think your suggestion makes sense. I can't remember exactly why I left the old test harness in there at all. Probably because I did not fully trust the new setup myself ;-)

[2015-12-08 01:35] JanneM commented on #185
This would only be a requirement if you actually did try to run the tests, right? It would still be possible to configure and build without it, I hope.

[2015-12-08 07:23] heplesser commented on #185
@JanneM Yes, nosetest is only required to run the tests. But you should be able to install nosetest on any system that has Python, so if you can use PyNEST on a system, you should be able to run the tests. For all I can see, nosetest is a pure Python package, so installing it on systems with Python should be straightforward.

[2015-12-08 12:53] apeyser commented on #185
I think it worth pointing out for others --- this only affects PyNEST tests, and not SLI tests, so it only affects builds which by definition have python installed.

[2015-12-08 13:00] apeyser opened #186 "What are the heterogeneity guarantees given by NEST in MPI?"
And to what extent are they currently tested?

Issue #181, pull #184 and the proceeding pull #122 introduced code that would break in a non-homogeneous MPI environment. Do we have documented whether or not we support heterogeneous clusters, and if we don't, do we have any runtime tests associated with that?

Have all MPI transfers been properly typed before now, and if so, is that an undocumented

[2015-12-08 15:44] #181 closed

[2015-12-08 16:59] heplesser commented on #186
@apeyser We have not paid any attention to heterogeneous MPI environment at all so far. So for now, you should not use NEST on heterogeneous MPI environments.

[2015-12-08 17:18] heplesser commented on #121
Closing #121 by #158

[2015-12-08 17:18] #121 closed

[2015-12-08 17:19] heplesser commented on #125
Fixed by #128.

[2015-12-08 17:19] #125 closed

[2015-12-10 07:57] heplesser opened #187 "Not all pynest examples are included in Makefile DATA variable"
Far from all examples in `pynest/examples` are included in the `data_DATA` variable in `pynest/Makefile.am`. The missing files are presumably not included when rolling a distribution tarball.

They need to be added. To make maintenance of the `data_DATA` variable easier, file names should be alphabetically ordered.

[2015-12-10 08:02] heplesser opened #188 "Python code should be checked against PEP8"
We now have powerful and useful code-style checking for our C++ code, but we do not check the style of our Python code. We should add PEP8-conformity checks to our code-style checker.

[2015-12-10 10:34] jougs commented on #187
See trac.609, trac.654 and trac.904 for the corresponding tickets in the old bug tracker.

[2015-12-10 12:18] apeyser opened #190 "Add current git tag info to rcsinfo.sli"
Currently, part of the git hash goes into rcsinfo.sli. Maybe we can add more info here regarding tag & branch? Or maybe this is good enough, given that we can reverse map to that from the sha?

Reference #109 for earlier discussion

[2015-12-11 11:07] tammoippen commented on #186
I am not sure if this is the right place to ask about this and please correct me if it is off topic:

I am worried about the `pack_pointer` / `validate_pointer` thing in `connector_model.h` that was introduced with #122. I stumbled over this while reviewing the Structural Plasticity PR: From looking at it, I understand that we assume, that the 2 LSB of pointers will always be 0s, hence we can use

[2015-12-11 12:40] janhahne commented on #186
@tammoippen There is a
[code]

in `allocate()` in `connector_model_impl.h` ensuring that it will be detected if the two bits aren't 0. So we cannot run into any strange errors there. The question if we can assume that this will always be the case is however legit. Anyhow I would rather deal with this if this case actually occurs than building an alternative implementation that is not used. So far

[2015-12-11 13:02] tammoippen commented on #186
I came across a similar discussion. The check is good and I am happy with the strategy.

[2015-12-13 16:30] zifeo opened #191 "Pynest Kminus and triplet-Kminus accesses."
Currently `K_minus` and `triplet_K_minus` (archiving node) are not accessible through pynest. This lead to difficulties when testing spiking time-dependent plasticity as described in #150 as post-synaptic variables are involved in this process.

[2015-12-13 16:45] zifeo opened #192 "Synaptic triplet variables renaming"
As for now, triplet variables are following the `triplet_variable-name` pattern. As stated in #150 using triplet as a suffix (`variable-name_triplet`) instead of a prefix might increase the readability a lot and be more coherent with published work. If this change has to be done, I would be happy to help.

[2015-12-14 21:11] jougs commented on #190
I'm happy to review/accept any pull request on this matter ;-)

[2015-12-14 21:25] jougs commented on #149
Closing via #189.

[2015-12-14 21:25] #149 closed

[2015-12-15 08:45] #178 closed

[2015-12-15 13:06] gewaltig opened #193 "Rename "iaf_tum" neuron model to match the naming conventions"
The iaf_tum model is a current based model with adaptive threshold and exponential post-synaptic currents.
It was implemented after the Tsodyks, Uziel, Markram paper, but is actually the model described in Hill (1936)

I suggest renaming the model to
iaf_psc_exp_dyn_th to reflect is main properties.

The suffix dyn_th is for "dynamic threshold" and alternative may be "sfa" for spike-frequency adap

[2015-12-16 08:33] apeyser commented on #186
By posix: "The malloc() and calloc() functions return a pointer to the allocated
       memory, which is suitably aligned for any built-in type."

So the danger would only be for a posix compliant 16 bit architecture, which wouldn't work for a large number of other reasons -- other than crazy architecture that align +1 or something (which I've never heard of).

But the code should be commented suf

[2015-12-16 08:44] apeyser commented on #186
But has any one looked carefully at whether the code can be optimized out? Given the malloc promise and this sort of aliasing, a smart compiler (maybe?) could kill the code silently, unless there is a proper union or char* reference to the space.

[2015-12-16 15:06] #85 closed

[2015-12-17 11:32] janhahne commented on #186
@apeyser You are right, I opened a minor pull request that improves the documentation (see #195).

Regarding your question: I am not sure if anyone looked at this in-depth. I would assume such an error to be highly unlikely, but if you have any suggestion how to improve `pack_pointer`, `validate_pointer`, `has_primary` and `has_secondary` this would of course be welcome.

[2015-12-18 09:27] QiaoGuang opened #197 "Hope a clear doc to specify parameters"
When use python to build models, I do not know the means of many parameters. Hope there be some python docs to specify which parameters  I can set to achieve some desirable behaviors.

[2015-12-18 10:15] apeyser commented on #186
@janhahne: we've run across this before, since the compilers are getting smarter and smarter. The trick may be to use unions so that the compiler knows that it can't safely optimize bits or operations away.

[2015-12-21 08:47] heplesser commented on #77
Closing this now that #160 and #167 have been merged.

[2015-12-21 08:47] #77 closed

[2015-12-21 12:40] #105 closed

[2015-12-21 16:46] jakobj opened #200 "K compilation"
i am trying to compile the current master branch on K. i am using the following configure line:

it always gets stuck at

restarting compilation does not change much. once it got a bit further and crashed with the following message

gmake[1]: *** [libmodelsmodule_la-modelsmodule.lo] Error 1
gmake[1]: Leaving directory `/volume2/home/ra000024/a03303/opt/nest-simulator.build/models'
make: *** [all-r

[2015-12-21 16:59] heplesser commented on #200
@jakobj @jougs  I suppose by "gets stuck" means that nothing happens for a long time? In that case, you just need to wait, even if you have to wait for a *very* long time. The compiler needs to instantiate a lot of templates, and some compilers are rather slow at that.

The "virtual memory exhausted" error message that you got on one try is most likely due to the high demands NEST puts on template

[2015-12-21 17:01] jakobj commented on #200
yes, i meant nothing happens any more. so I'll wait a bit longer and report back as soon as I have run the microcircuit example. thanks for the fast response.

[2015-12-21 22:23] JanneM commented on #200
If you don't want to remove synapse models, you can get around the error by removing the "-Kfast" parameter. I haven't yet looked at which optimization is causing it. And yes, building modelsmodule.cpp is very, very slow.

[2015-12-24 12:46] jakobj commented on #200
thanks Janne! since commenting out neuron & synapse models did not help (still out of virtual memory), removing the -Kfast finally allowed me to compile the nest-master branch (336e89a) and successfully run the microcircuit example on 72 nodes.
for future reference here is the configure line:

running make then took

user    53m9.455s
sys     0m52.110s

[2016-01-04 14:25] jakobj commented on #200
for documentation purposes: here's how to compile NEST 2.10.0 (10e238c), with gsl 2.1
configure gsl

running make for gsl then took about 4min.

configure NEST

running make for NEST then took

user    62m51.076s
sys     1m55.591s

[2016-01-08 10:12] apeyser opened #202 "DOI on 2.10 seems wrong"
On zenodo, I find it under 10.5281/zenodo.44222
but on the release page, I see 10.5281/zenodo.91889

I'll try to fix it, if I can find how to update the release web page

[2016-01-08 10:43] apeyser commented on #202
Ok, fixed --- @jougs please check that I didn't mess it up.

[2016-01-08 13:10] steffengraber commented on #202
Fixed it on web page

[2016-01-08 16:21] sanjayankur31 opened #203 "Remark in iaf_neuron.h not applicable to model?"
https://github.com/nest/nest-simulator/blob/master/models/iaf_neuron.h#L99

refers to tau_syn_in/tau_syn_ex neither of which seem to be used in the model. Do these remarks apply to this model? Exactly the same remark is found in iaf_psc_exp and other models where these parameters are indeed used, and this is just making me wonder if there's something about the iaf_neuron model that I have missed.

[2016-01-10 09:53] heplesser commented on #203
@sanjayankur31 Thanks for pointing this out! `iaf_neuron` has just a single synaptic time constant, `tau_syn`, which applies to excitatory and inhibitory input spikes. The documentation in `iaf_neuron` is incorrect, probably due to a cut-and-paste mistake.

[2016-01-10 14:16] sanjayankur31 commented on #203
@heplesser Ah! Thank you for confirming this. Should I remove the remark and open a pull request? (I know there's a code freeze in effect at the moment).

[2016-01-11 14:06] jougs commented on #202
Many thanks for spotting and fixing this. Apparently the internal Zenodo ID is different from the one used in the DOI.

[2016-01-11 14:06] #202 closed

[2016-01-13 18:39] #139 closed

[2016-01-13 18:59] jougs commented on #132
@janhahne pointed out that this is caused by the same problem as #132, which is closed. Thus I am also closing this. @ikitayama, feel free to re-open if you find the issue persists.

[2016-01-13 18:59] #132 closed

[2016-01-14 12:14] mdjurfeldt opened #206 "Conngen module problem"
Running csademo.py in the following archive:
[csademo.zip](https://github.com/nest/nest-simulator/files/90348/csademo.zip)
invokes CGConnect, which generates the following error:

Traceback (most recent call last):
  File "csademo.py", line 9, in <module>
    nest.CGConnect (p0, p1, cg)
  File "/usr/local/lib/python2.7/dist-packages/nest/lib/hl_api_helper.py", line 138, in stack_checker_func
    r

[2016-01-15 09:13] ikitayama opened #207 "MPI-3.0 functions in NEST 2.10.0"
Are there any MPI-3.0 functions used in the new NEST 2.10.0 release?
I ask because the profiler version we use detects none of those.

[2016-01-15 11:32] janhahne opened #208 "Ignore delay of gap_junction connection"
The class `GapJunction` is derived from the class `Connection` and therefore contains a parameter for the delay of the connection. As gap junction connections have no delay our goal was to ignore this delay in the calculation of the `min_delay` and the `max_delay` and to prohibit the user from setting the delay of this connection or at least alarming the user that the value will be ignored.

There

[2016-01-18 09:09] tammoippen commented on #208
I guess (for NEST 3.0), we have to implement this checking in the `ConnectorModel`: all delay checking for `min/max_delay` is done in the `DelayChecker`s with the functions `assert_valid_delay_ms` or `assert_two_valid_delays_steps`. They are called in `GenericConnectorModel::add_connection`. If the `ConnectorModel` only performs delay checking, if the model `has_delay_` is `true` then no update to

[2016-01-18 10:01] tammoippen commented on #208
BTW:

    SLI ] /hh_psc_alpha_gap 2 Create
    SLI [1] 1 2 << /model /gap_junction /delay 3.0 >>  Connect
Will connect the `/hh_psc_alpha_gap` with a `static_synapse` (default synapse model) (see `lib/sli/nest-ini.sli:340ff`, especially 363-366).

    SLI [1] << >> GetConnections ==
    [<1,2,0,0,0>]
            ^ = syn_id ~ static_synapse

[2016-01-18 14:26] janhahne commented on #208
So it is working as it should in NEST 2.10 and my sli code was just wrong. Thank you @tammoippen for pointing that out. I send a PR to your nest3 branch with an updated version of the `test_gap_junction.sli` which now also tests that the delay is ignored for gap junctions. Together with your new commit this should fix this issue.

[2016-01-18 14:26] #208 closed

[2016-01-20 12:39] apdavison opened #210 "Request: Provide Anaconda package for NEST"
Currently, installing NEST on OS X is painful, and requires Macports or Homebrew.

Many Python users on OS X now use Anaconda, since it makes installing large packages such as Numpy and Matplotlib much easier.

Having a NEST package in the Anaconda Cloud repository would make installing NEST on OS X as simple as:

[code]

[2016-01-20 13:37] apeyser commented on #210
Another reason for this: #209
Apparently, Anaconda is quite popular, but will require some package wrapping because of dynamic libraries, which will be blamed on nest. Entry point for how this is done: http://conda.pydata.org/docs/build_tutorials/pkgs.html

[2016-01-21 12:14] apeyser commented on #207
I don't think so. We tend to be quite conservative with external APIs, but I don't believe we've made a specific policy about MPI level. In practice though, MPI-2.

[2016-01-21 12:23] ikitayama commented on #207
Thanks. So Score-P should be able to detect all of the MPI functions used in the current NEST code then. Good to know.

[2016-01-21 12:33] apeyser commented on #210
Anaconda seems to have come from the issue of building numpy correctly, with a large number of non-python dependencies, for people who would like to move a bit faster than their distributions do --- and some distributions have quite poor numpy performance because of their choice of packages to provide those dependencies (such as using netlib blas).

Apparently by search interest, google says that

[2016-01-21 14:22] jakobj opened #211 "segmentation fault in connect with multiple threads"
using multiple threads, when calling connect with a mixture of neuron and devices, a segmentation fault occurs as threads create connections in non-thread-local sparse tables.
the following lines will generate a segmentation fault:

[code]

in this case thread0 and thread1 both try to create a connection in the connector of neuron 1 on thread 1. this can be traced back to the use of  `get_node(gid

[2016-01-23 13:13] jakobj commented on #211
there still seem to be old connection routines like DivergentConnect in the connection_builder_manager. i thought these were completely replaced by the new connect framework? does it make sense to fix them aswell as they exist for a good reason or should i ignore them? @heplesser @hannahbos

[2016-01-23 18:11] jougs commented on #211
We decided to do the restructuring first and then clean up for the release once everything is in master.

[2016-01-26 13:10] apeyser commented on #210
If someone is using anaconda and is willing to share their recipe, this would be a great place to put the gist.

[2016-01-26 13:16] apeyser commented on #207
Should this be a formal decision, that we commit to <=MPI-2 until further notice/discussion, and that goes into the documentation somewhere?

[2016-01-26 13:46] jougs commented on #210
@tammoippen: Could you check if this gets any simpler using your cmake port of our build system? Thanks!

[2016-01-26 13:49] jougs commented on #207
@apeyser: yes, I think so. I think it should go into the doxygen documentation block that is in the new `MPIManager` class.

[2016-01-27 10:07] tammoippen commented on #210
Hi,

I can confirm the loading problem (#209) on a fresh Linux (Lubuntu 15.10). I first installed Anaconda (2.4.1), then all NEST dependancies. When calling `python -c "import nest"` i get the same error:

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/home/test/Downloads/nest2.10.build/install/lib/python2.7/site-packages/nest/__init__.py", line 52,

[2016-01-27 11:57] apeyser commented on #210
So nest is being compiled without the path set to match the anaconda lib path that python uses, right? The rpath for python and pynestkernel conflict, and the rpath for pynestkernel needs to be fixed.

If that's right, then with anaconda on linux, you'll need to set
LDFLAGS=-Wl,-rpath=/home/test/anaconda2/bin/../lib

or you need to install nest to /home/test/anaconda2 so that the paths match.

Thi

[2016-01-27 13:29] tammoippen commented on #210
So, neither nest, pynestkernel nor the system python installation need a rpath set to work. Only the Anaconda Python has a rpath set to load the correct libpython2.7.so (otherwise the system library would be loaded...), and others (to be independent).

And the problem is not, that pynestkernel does not find a libreadline.so, but it does not find a symbol `undefined symbol: PC`. After comparing the

[2016-01-29 09:38] apeyser commented on #210
@tammoippen
Right, the system readline is linked to libncurses, but the anaconda readline is not.

And this mess is unavoidable for systems like anaconda. Either anaconda links readline to libncurse for everyone (and just hacks this one problem...) or we add libncurses to python (which just hacks this one problem and may cause others...) or you put anything linked to anaconda libraries into the an

[2016-01-29 13:12] tammoippen commented on #74
Please also see #205, especially this [comment](https://github.com/nest/nest-simulator/pull/205#issuecomment-176092340):

[2016-01-29 13:16] tammoippen opened #212 "SPBuilder::connect hiding"
In #205 @heplesser found, that `SPBuilder::connect(GIDCollection, GIDCollection)` is hiding `ConnBuilder::connect()` ([comment](https://github.com/nest/nest-simulator/pull/205#issuecomment-175907923)):

@sdiazpier, can you please look into this?

[2016-01-29 15:17] jakobj opened #214 "hard coded decay of vacant elements in structural plasticity"
in e.g., https://github.com/nest/nest-simulator/blob/ff2bdbb/nestkernel/simulation_manager.cpp#L489 the amount for the decay of vacant elements is hardcoded to be 10%. should this not be a parameter that the user can change? and if not, it would be better to define it as a global constant? @sdiazpier

[2016-01-29 15:20] sdiazpier commented on #214
Yes this is right @jakobj , I have already done the changes and will submit the PR asap.
Thanks for pointing it out.

[2016-01-29 15:21] sdiazpier commented on #212
Dear @heplesser, thanks for detecting this, I will work on it right away.

[2016-01-31 11:13] heplesser opened #217 "No online documentation for synaptic elements"
It seems to me that synaptic elements and their parameters are not documented for our online user documentation (SLI-style). I think the best place would be above the `SynapticElements` class declaration, as well as ahead of the different `GrowthCurve` subclasses.

[2016-02-01 15:24] sdiazpier commented on #217
Dear @heplesser, thanks for detecting this, I will work on it right away.

[2016-02-01 16:46] sanjayankur31 opened #220 "Build error on Fedora rawhide (what will become Fedora 24 - GCC 6)"
This is what I get when trying to build nest using my rpm on Fedora rawhide (24). It builds perfectly on Fedora 23. The one major different between Fedora 23 and rawhide/24 is that rawhide/24 is now using GCC 6 for builds, while F23 is using GCC 5.3.1

[code]

Complete build log files can be found here: https://ankursinha.fedorapeople.org/misc/nest-rawhide-logs/

[2016-02-01 22:04] #214 closed

[2016-02-01 22:49] heplesser commented on #220
@sanjayankur31 Others have reported the same problem with the not yet released GCC6 (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=811669). As far as I understand the C++98 standard, this code should be legal.

[2016-02-02 10:59] sanjayankur31 commented on #220
Ah, I'll keep checking the build with every GCC update. The default C++ standard for GCC 6 is C++14. I wonder if that has anything to do with this. I'll keep investigating. Cheers!

https://gcc.gnu.org/gcc-6/changes.html

[2016-02-03 23:27] francineigomes opened #223 "Errors detected during the run of the NEST test suite"
Problems during NEST instalation
virtual machine: vmware
so: ubuntu

[reports.zip](https://github.com/nest/nest-simulator/files/116588/reports.zip)
[nest.I25ZI.zip](https://github.com/nest/nest-simulator/files/116592/nest.I25ZI.zip)

[2016-02-04 09:41] apeyser commented on #223
So, regressiontests/ticket-787.sli failed? Is this the release version 2.10 you ran, or a master at some point, or ???

If that's the case, it looks like ctermid is failing. I'm not sure why we even have that -- anyone?
Also, I'm not sure how it ever worked given this code:
[code]

This would seem to guarantee a SEGV if you have a controlling terminal and you get unlucky regarding where in memory

[2016-02-06 11:39] heplesser opened #225 "refractory_input property cannot be set on iaf_psc_delta_canon"
The `refractory_input` property cannot be set on `iaf_psc_delta_canon`. The corresponding data member `with_refr_input_` exists, but is incorrectly placed in `S_`; it should be in `P_`. A getter for the property exists.

Before fixing this, create a test that verifies that input during the refractory period is handled correctly for `refractory_input` set to `true` and `false`.

[2016-02-06 11:46] heplesser opened #226 "Documentation and behavior differ concerning CurrentEvent input to some precise models"
Documentation for `iaf_psc_delta_canon` and `iaf_psc_alpha_canon` states that these models do not accept `CurrentEvent` input, even though the neurons do so (as do the other precise neurons). Current input is handled as piecewise constant input that can only change at points in the time grid.

The comments need to be reviewed and we need to check whether tests for current input to precise neurons

[2016-02-11 14:28] jakobj opened #227 "infinite loop for fixed_indegree, fixed_outdegree"
when executing the following commands
[code]
(or equivalently with `fixed_outdegree`) NEST hangs in an infinite loop. this most likely is the same  behaviour as was reported in trac ticket 451 and consequently fixed (see `testsuite/regressiontests/ticket-451.sli`). this is an issue if the connect routine can not finish due to the user-given constraints. this should probably be fixed for the NewCon

[2016-02-15 11:17] jougs commented on #203
Fixed by merge of #224.

[2016-02-15 11:17] #203 closed

[2016-02-16 16:33] obreitwi opened #228 "MyModule complation error with v2.10.0"
When trying to compile MyModule with NEST v2.10.0, the following compile error is thrown:

[code]

My best guess is that the code for MyModule was not updated to confirm to the recent internal code changes.

[2016-02-17 15:47] higain opened #230 "make installcheck fail (3 Errors)"
Hi, after a few failed attempts of installing & google research I gave up and now hope you can help me.

I'm on a VM running Ubuntu 14.04.3 64 bit, trying to install a freshly downloaded nest 2.10.0 with python 2.7.
I've narrowed it down to 3 tests:
- unittests/test_iaf_1to2_ex.sli
- unittests/test_iaf_min_delay_set.sli
- unittests/test_iaf_min_delay_simblocks.sli

report is attached.
[nesttests.z

[2016-02-17 15:51] antolikjan opened #231 "undefined symbol: __kmpc_end_critical"
We are attempting to install nest 2.10.0 on a cluster with intel compiler suite.

The configure command is:
CXX=mpiicpc configure --with-mpi --with-debug="-DMPICH_IGNORE_CXX_SEEK"

The configuration and compilation doesn't indicate any problems.

After installation nest command start with no problem. But when we start python and do 'import nest' we get:

ImportError: .../lib/python2.7/site-package

[2016-02-17 22:23] JanneM commented on #231
On K we get a very similar-looking error unless we build and link against a Python built with OpenMP(1) or manually add a couple of OMP-related system libraries. To test if that is the case, could you try building without OpenMP and see if the error persists?

(1) Python doesn't use it; it just ensures it gets the needed library linked.

[2016-02-18 08:53] tammoippen commented on #228
I just tried to compile `MyModule` from NEST 2.10.0 - I could not reproduce your errors. Can you please elaborate one which steps you took to compile the module? My steps were:

    cd /path/to/MyModule
    ./bootstrap.sh
    mkdir build
    cd build
    ../configure --with-nest=/path/to/nest/2.10.0/install/bin/nest-config
    make
    make install

For more information on how to build and use ext

[2016-02-18 08:59] tammoippen commented on #230
Hello @higain,

It seems that `nesttests.zip` contains an empty folder `reports`. Can you please attach the `config.log` as well?

Best, Tammo

[2016-02-18 10:26] antolikjan commented on #231
Thanks for help.

After disabling OpenMP by running following configure command we avoid the import error and are able to perform 'import nest' from python:
CXX=mpiicpc /workgpfs/rech/nyi/commun/sources/nest-2.10.0/configure --with-mpi --disable-openmp --without-openmp --prefix=/workgpfs/rech/nyi/commun/venvs/nest-test-py2.7.9 --with-debug="-DMPICH_IGNORE_CXX_SEEK"

However, 'make installcheck' st

[2016-02-18 10:33] obreitwi commented on #228
Sorry, what I meant to say was I try to compile `MyModule` against the current head (`v2.10.0-301-gc2ce466`) instead of the 2.10.0 release. It appears the example was not yet updated to the nest3 changes.

[2016-02-18 13:10] tammoippen commented on #228
I can reproduce this with c2ce466! And the errors have already been addressed in #213. When that PR is merged, MyModule works again.

[2016-02-19 12:33] antolikjan commented on #231
@JanneM Since one of our issues seems to be related to the open-mp, similar to your experience on K, would you mind sharing the list of OMP-related libraries that makes it work for you?

Thanks in advance

[2016-02-19 13:10] higain commented on #230
Hi @tammoippen,

sorry, my bad. Here's the zip again.

Cheers
[logs.zip](https://github.com/nest/nest-simulator/files/137982/logs.zip)

[2016-02-19 13:34] JanneM commented on #231
@antolikjan, the libraries in our case was "fj90i" and "fj90f" - but as those are Fujitsu-specific libraries that's unlikely to actually help you very much.

The root issue is that you still need to build with OpenMP enabled when building the Python bindings. In our case - and perhaps also in yours - this means having to build against a version of the Python libraries that are already configured w

[2016-02-19 15:45] antolikjan opened #237 "installcheck failed tests"
Nest 2.10.0, intel compiler suite, RedHat version 6.7

Configure command with which compilation was done:

CXX=mpiicpc ./configure --with-mpi --disable-openmp --without-openmp -- --with-debug="-DMPICH_IGNORE_CXX_SEEK"

[reports.zip](https://github.com/nest/nest-simulator/files/138234/reports.zip)

[2016-02-19 17:18] jougs commented on #114
@heplesser, @apdavison, @gewaltig please also take into account https://github.com/nest/nest-simulator/pull/35#issuecomment-186309378

[2016-02-22 11:23] jougs commented on #56
See also #213.

[2016-02-22 11:28] jougs commented on #62
NEST Core decided to reformat all code to 80 character lines. @tammoippen: Can you please do this and adapt the pertaining scripts accordingly? We're happy to accept a PR containing these changes.

[2016-02-22 11:29] jougs commented on #72
NEST Core came to the conclusion that this is too unspecific and should be closed.

[2016-02-22 11:29] #72 closed

[2016-02-22 11:30] jougs commented on #76
Closing, as #150 was merged.

[2016-02-22 11:30] #76 closed

[2016-02-22 11:32] jougs commented on #80
@heplesser What is the status of this? Thanks!

[2016-02-25 10:46] antolikjan commented on #231
We managed to solve the problem thanks to the assistance of the cluster admin team (Sylvie Therond). I am not sure to what extent this is down to the idiosyncrasies of the system, but I am posting below the configure options we had to use, in case it is of help to future users, or for developers to make the configuration system more robust:

configure CC=mpiicc CFLAGS="-openmp -mt_mpi -O3" CXX=mpi

[2016-02-25 10:46] #231 closed

[2016-02-25 14:30] jougs commented on #21
In the NEST Core Meeting on Monday we decided that we're going to remove the plain `iaf_neuron` and replace all uses of it in favor of `iaf_psc_alpha`. I'm currently working on this and will create a corresponding pull request.

[2016-02-26 14:54] antolikjan commented on #237
We have progressed with the installation of the nest on the system. After using following configuration options we now get only 3 faild tests once running installcheck. Could you please let us know if any of them is critical?

configure CC=mpiicc CFLAGS="-openmp -mt_mpi -O3" CXX=mpiicpc CXXFLAGS="-openmp -mt_mpi -O3" LDFLAGS="-L/.../mkl/lib/intel64 -lmkl_intel_lp64 -lmkl_sequential -lmkl_core -lpt

[2016-02-26 15:34] antolikjan opened #238 "No speedup from mpi parallelization (SLI and PyNEST)"
Nest 2.10.0, intel compiler suite, RedHat version 6.7

Compiled with following options:
configure CC=mpiicc CFLAGS="-openmp -mt_mpi -O3" CXX=mpiicpc CXXFLAGS="-openmp -mt_mpi -O3" LDFLAGS="-L/.../mkl/lib/intel64 -lmkl_intel_lp64 -lmkl_sequential -lmkl_core -lpthread -lm -L/.../compiler/lib/intel64 -liomp5"

To test parallelization we use the hpc_benchmark.sli and slightly modified version of the b

[2016-02-26 16:17] antolikjan commented on #238
I have found another problem which might be related to above, so I am posting it here in the hope it will help somebody to diagnose what is going on.

If I increase the number of neurons to above ~50000 neurons (645 mil. synapses), regardless how many mpi processes I select (i.e. I am sure that sufficient amount of memory _should have been_ allocated), the simulation crashes with following alloc e

[2016-02-28 11:37] uahic opened #239 "Music continuous out ports"
Since there is currently not possibility to get currents or other continuous values out of a parallel NEST simulation via music I would like to propose that I implement the proxy for NEST.

Usecase:

In the HBP neurorobotics subproject we want to run NEST and the Gazebo simulator in a closed-loop whereas the actuators of the (simulated) robots are driven by currents (V_m property of the neurons) r

[2016-02-29 11:45] tammoippen commented on #102
@hannahbos can you look into this?

[2016-02-29 15:00] heplesser commented on #230
@higain I compiled a freshly downloaded nest-2.10.0 on a Ubuntu 14.04 LTS 64 bit virtual box with gcc 4.8.4 and GSL 1.16. All 729 tests passed, so I am not sure what may go wrong on you machine.

[2016-02-29 15:18] heplesser commented on #80
@jougs Thanks for reminding me about this one. I will try to get around to it shortly. Actually, I now think that one can set up a test reasonably easily: `parrot_neuron` always emits spikes with multiplicity. Thus, if we in one case send spikes at identical times from two spike generators via two parrot neurons, and once via a single parrot, then in one case we get two input spikes of multiplicit

[2016-02-29 15:36] heplesser commented on #237
@antolikjan From scanning the logs, it seems the following tests failed:

- unittests/test_dcgen_versus_I_e.sli
- test_ThreadsFindConnections
- test_ThreadsGetEvents

They should all pass. I have access to a system with the intel compiler suite and can try there within a few days. It is a bit tricky to make modify the tests so that they tell you what is going wrong.

Btw, why do you need the `-DMP

[2016-02-29 15:44] antolikjan commented on #237
@heplesser Thank you, that would be extremely helpful. Regarding the DMPICH_IGNORE_CXX_SEEK flag: that was a suggestion from nest FAQ to avoid errors we were getting, but note that the configure command in my second post doesn't use it anymore.

[2016-02-29 15:44] sanjayankur31 opened #240 "Weights in stdp_triplet_connection cannot be negative - these cannot be used for inhibitory synapses?"
I may be missing something here, but from the examples that I've come across, if one wants to use synapse models as inhibitory, one just provides a negative weight. Now, in the implementation of the stdp_triplet_connection, the weights are bounded to (0, Wmax) - they cannot be negative. Does this mean they cannot be used for inhibitory synapses at all?

https://github.com/nest/nest-simulator/blob/

[2016-02-29 15:45] sanjayankur31 commented on #240
@flinz  - I ran into this while working on the symmetric stdp pull request - what do you think?

[2016-02-29 15:50] heplesser commented on #238
@antolikjan The `hpc_benchmark.sli` script sets the total number of virtual processes to 1. How did you adjust this when running in parallel? I am surprised because both in your `mpiproc=16` and our `mpiproc=1` log, NEST reports 2253 local nodes being simulated. This number should go down proportional to the number of MPI processes.

[2016-02-29 16:43] flinz commented on #240
@sanjayankur31
The triplet learning rule is only intended for positive weights (reflecting the amount of neurotransmitter released). In general, this also seems to be the case for example for https://github.com/nest/nest-simulator/blob/master/models/stdp_connection.h, in which no negative weights are allowed

So far I was of the opinion that negative weights are a workaround in NEST when multiple

[2016-02-29 18:15] antolikjan commented on #238
@heplesser yes that is strange but that is the behavior I observe. To be clear I am now attaching the exact combination of files that I use to run the hpc_benchmark.sli with 32 processes:

[hpc_benchmark.sli.tar.gz](https://github.com/nest/nest-simulator/files/151484/hpc_benchmark.sli.tar.gz)
[hpc_b_output.tar.gz](https://github.com/nest/nest-simulator/files/151483/hpc_b_output.tar.gz) (the output

[2016-03-01 07:27] heplesser commented on #237
@antolikjan Could you compile NEST using the gcc compiler suite instead of Intel on the cluster you are using, so that you would (hopefully) have a working setup until we have solved the problems with the Intel compiler suite?

[2016-03-01 08:20] heplesser commented on #237
@antolikjan The configure line you reported four days ago does not contain `--with-mpi`. Was that intentional or an oversight? It would explain several observations that you reported in #238, because without `--with-mpi`, NEST will be compiled without MPI support, even though you are using the MPI compiler wrappers. I am currently testing with Intel compilers and will get back to you soon.

[2016-03-01 08:57] heplesser commented on #237
@antolikjan I have now compiled NEST without MPI and without MKL as follows

[code]

All tests pass (except MPI tests, which are skipped). The three tests that failed when you tested also passed. Since those tests are all independent of MPI, I assume something else went wrong. As a next step, I will try building serially but with MKL.

[2016-03-01 09:50] heplesser commented on #237
@antolikjan I have now compiled a serial (i.e. thread-parallel, no-mpi) version with MKL using

[code]

All tests pass.

Btw, I am using the Intel compilers version 14.0.2 and MKL 11.1 on a cluster running Rocks Linux.

[2016-03-01 12:53] apeyser commented on #188
Seems reasonable to me, much as I find PEP8 to be filled with nonsense, standardization has a lot of value (even when wrong). Shouldn't this become a pull?

[2016-03-01 13:33] tammoippen commented on #188
Thank you! :smile: On it.

[2016-03-01 13:43] flinz commented on #188
@apeyser Just in general, I would be interested why you're so opposed to PEP8?
I usually lint against PEP8 and find it a quite sensible set of style guidelines..

[2016-03-01 15:10] heplesser commented on #238
@antolikjan I had a look at your output, and as I mentioned in #237, in your configure line, the `--with-mpi` switch is missing. You could try to run the configure line from the first entry in this issue again. From my experience, the configuration report that is output at the end will show `With MPI: No`. Thus, you get a NEST executable that is linked against MPI libraries, so `mpirun` will launc

[2016-03-01 20:36] heplesser commented on #237
@antolikjan Here now the results from my experiments with Intel compilers, MKL and MPI. I compiled with (broken across a few lines here for better readability)
[code]
Note that I had to deselect Python, because I otherwise got a conflict between MPI libs with and without OpenMP support when linking `pynestkernel.so`.

The resulting executable passes all unit and regression tests. The MPI tests fai

[2016-03-01 20:54] heplesser commented on #237
The following archive contains all scripts and results mentioned above:

[bench_mpi.tar.gz](https://github.com/nest/nest-simulator/files/153585/bench_mpi.tar.gz)

[2016-03-01 20:58] heplesser opened #242 "Support Intel compiler suite and MKL"
A range of HPC sites provide the Intel compiler suite and MKL. Currently, we provide no instructions on how to build NEST with the Intel compiler suite with pertaining libraries. It seems, though, that the Intel tools may provide significant performance advantages, see #237, so it may be useful to support the Intel tools. #237 also contains the current state of experience with building with Intel

[2016-03-01 21:28] heplesser opened #243 "Revise MPI test setup"
This is a follow-up to trac.562.

The way MPI tests work in NEST needs a thorough revision. Currently, a single pure-SLI monitoring process forks NEST processes running with given numbers of MPI processes. All MPI processes (ranks) write their results back to the monitoring processes via a single pipe. This can easily lead to problems if multiple ranks write to the pipe simultaneously.

We thus ne

[2016-03-01 21:38] heplesser opened #244 "Revise topology user interface"
In preparation for NEST 3, the topology UI should be cleaned up and made consistent with the `Connect` UI, especially with respect to how randomized parameters are specified.

We should also consider support for bounded parameter values, as in the following pseudo-code:

[code]

which would ensure that the parameter is at least `dt`, and that smaller values will lead to re-drawing. This follows up

[2016-03-01 21:51] heplesser opened #245 "Revise random generator interface in NEST"
The interface to the random number generators in NEST, both in the kernel and at the SLI level, is clumsy and should be updated for NEST 3. Specifically, we should
- provide an easy way to seed all kernel RNGs using a single master seed
- provide an easy way to change the type of RNG used in the kernel
- make changing and seeding kernel RNGs easy from the Python level
- consider changing the defau

[2016-03-01 22:07] heplesser opened #246 "Make help and helpdesk more robust"
Currently, the NEST `help` and `helpdesk` commands can be rather difficult to use. In particular, they won't work if NEST has been compiled with MPI support, since both require spawning subprocesses.
- From Python, display of help information and opening of the helpdesk should bypass the NEST kernel completely, thus avoiding any problems with spawning
- It should not be necessary to specify the co

[2016-03-02 07:49] heplesser opened #247 "Make hpc_benchmark.sli example invariant under mpi/thread splits"
The `hpc_benchmark.sli` example is currently not invariant under different MPI/Thread-splits of a fixed number of virtual processes. This has historic reasons and is not a problem in itself, but I think it would make much sense to revise the example to be invariant.

The key issues are
- Recording from a fixed number of neurons per _mpi process_. The total number of recorded neurons should be fixe

[2016-03-02 08:03] heplesser opened #248 "Make GetStatus and SetStatus compatible"
`GetStatus` and `SetStatus` are complementary functions and it is reasonable to expect that the result of `GetStatus` can be used as input to `SetStatus`:

[code]

should work. Currently, it does not work (for almost all models). One reason for this is that `GetStatus` returns a number of read-only values; when these are sent to `SetStatus`, they are not read out and an `UnaccessedDictionaryItem`

[2016-03-02 08:11] heplesser opened #249 "Error handling for synapse models and synapses"
Currently, `SetStatus` and `SetDefaults` when used on synapse models or connections does not throw exceptions when invalid parameter values are given.

For neurons, `SetStatus` and `SetDefaults` are handled in a way that ensures that no parameters are changed unless it is certain that all parameters values a legal. This is done by first making all changes on a temporary copy of the parameter objec

[2016-03-02 09:09] heplesser opened #250 "Review parameter names relating to synapse models"
At present, different parts of NEST use different terms to refer to synapse models:
- In the `syn_spec` dictionary passed to `Connect`, the synapse model is passed as `model`
- `GetConnections` uses `synapse_model`
- `DataConnect` uses `synapsemodel` according to documentation
- `GetDefaults` returns an entry `synapsemodel`
  We should try to find a way to systematize this. Unfortunately, this may

[2016-03-02 14:20] heplesser commented on #206
@mdjurfeldt Sorry for the very late response. We removed `GetChildren`, `GetLeaves` etc some time ago and replaced them by `GetGlobalChildren`/`GetLocalChildren`, `GetGlobalLeaves`/`GetLocalLeaves` etc. The reason for this was to make explicit what you are asking for. The `Global` variants collect information from all MPI processes, which may be very slow and require a lot of memory. The `Local` v

[2016-03-02 14:53] heplesser commented on #239
@uahic I have never used Music in simulations myself, so please take my advice with a pinch of salt.

In principle, your approaches should work, but using the `multimeter` will lead to some overhead.

Biologically, my interpretation would be that muscle fibres receive spike input from motor neurons that then translate into transmitter concentrations/membrane potentials in the muscle fibres that le

[2016-03-02 15:18] uahic commented on #239
@heplesser Our first idea was to simply integrate the spikes on the receiver side (in terms of music: the other simulator) but that requires knowledge of which integrator has to be used (=reimplementing neuron internals) and we dropped that idea for this reason.

Your suggestion is what we want to do except that I like to query other motor neurons for their potentials instead of integrating it in

[2016-03-02 16:00] albada opened #252 "PyNN 0.7.5 setup fails with NEST 2.10.0"
pyNN.nest.setup() tries to set minimal and maximal delays, but this causes an error because gap_junction does not have a delay.

[2016-03-03 12:07] sanjayankur31 opened #254 "Preserve newlines in command index documentation"
I'm not entirely sure how the nest command index is generated, but it seems newlines are stripped out? The description seems to be one long line - this makes it quite difficult to read, especially when you're looking for various parameters. Take this page for example: http://www.nest-simulator.org/cc/spike_generator/ The example here isn't formatted either. Could the formatting and things be prese

[2016-03-03 15:52] uahic opened #256 "Music event out proxy channel numbers"
While crawling the code of the music_event_out_proxy.h I found that the default mapping (Music IndexMap) could possibly be wrong:

`inline port
music_event_out_proxy::handles_test_event( SpikeEvent& , rport receptor_type )
{
  // receptor_type i is mapped to channel i of the MUSIC port so we
  // have to generate the index map here, that assigns the channel
  // number to the local index of this c

[2016-03-03 17:16] flinz opened #257 "Autogenerate PyNEST reference documentation"
Currently the Python bindings for NEST are not really well documented. There is the [pynest introduction](http://www.nest-simulator.org/introduction-to-pynest/) and many example, but I personally often find myself lacking an API reference. Further, changes in the API are not automatically reflected in the pynest introduction.

Since most of the API is documented, an easy solution would be to autog

[2016-03-04 11:50] steffengraber commented on #257
Hi @flinz
I am currently working on a new build system for the documentation. For the python part the decision is to use docstrings according to the NumPy/SciPy documentation standard.
From my side reformatting the docstrings would be helpful.

[2016-03-04 12:03] flinz commented on #257
@steffengraber nice - do you have a little more details on what you're doing?

Regarding the docstring reformatting: I will do that.

------------

**Here is a little sidenote on autogeneration of the python documentation, maybe its helpful if you're working on this**

PyNEST widely uses decorators and thus the autogenerated docs showed all decorated functions with the universal signature ``functi

[2016-03-04 12:51] apeyser commented on #257
@flinz: Is the problem that the decorators don't use @wrap inside to raise the function information up to the final function?

[2016-03-04 13:52] flinz commented on #257
@apeyser decorators already use this actually, as: ``@functools.wraps(func)``(e.g. https://github.com/nest/nest-simulator/blob/master/pynest/nest/lib/hl_api_helper.py#L135)

I did a little research on this, and it seems to be a common problem. Some workarounds involve [hacking the ``wraps`` decorator](http://stackoverflow.com/questions/28366818/preserve-default-arguments-of-wrapped-decorated-pytho

[2016-03-04 14:37] flinz commented on #188
@tammoippen Most of the PyNEST still needs to be formatted to comply to pep8.
Are already in the process of doing this? I couldn't see anything on your issue branch.

If not, I might as well clean it up when I am going over it (while [reformatting the doc strings](https://github.com/nest/nest-simulator/issues/257))

[2016-03-04 14:45] tammoippen commented on #188
@flinz I was not planning on reformatting them in that PR. It would be great when you do this. I start the PR as soon as #213 is merged, as I put the changes on top of that code.

[2016-03-04 15:08] apeyser commented on #257
@flinz: So it's a bug in sphinx: https://github.com/sphinx-doc/sphinx/issues/1711 which apparently no one has become interested in fixing. Sphinx should look at __wrapped__ for wrapped functions to get the original signature, but it doesn't, and @wraps doesn't lift parameters (it wouldn't make sense, since you can use them for partials and other operations).

[2016-03-04 15:23] flinz commented on #257
@apeyser interesting, thanks!

But, before we delve deeper, it would be useful to know which build system @steffengraber has in mind. If it is sphinx indeed, this would be worth a closer look. This would also help me write the docstrings (e.g., sphinx offers some extra syntax).

[2016-03-04 16:56] flinz commented on #188
@tammoippen both pep8 and docs are WIP on https://github.com/flinz/nest-simulator/tree/pynest-docs

[2016-03-04 16:57] flinz commented on #257
Working on both pep8 compliance and doc reformatting on https://github.com/flinz/nest-simulator/tree/pynest-docs.

[2016-03-05 00:32] russell0 opened #259 "Recursive build.... Making all in nestkernel"
Seems like there's a recursive build, which never ends.

[code]

[code]

And keeps repeating forever.

[2016-03-05 16:18] flinz opened #260 "PyNEST: Parameters for GetStructuralPlasticityStatus"
This is probably for @sdiazpier:

The function [`GetStructuralPlasticityStatus`](https://github.com/nest/nest-simulator/blob/master/pynest/nest/lib/hl_api_simulation.py#L134) currently takes one neccessary parameter `params`.

I can however neither pass a string, a list of strings, only an empty dictionary works for me so far.

Perhaps this should be a optional parameter?
E.g., `GetKernelStatus` t

[2016-03-05 16:34] heplesser commented on #188
@flinz Great work, thanks a lot!

[2016-03-05 16:37] heplesser commented on #259
@russell0 Could you try to place your build directory outside the source code directory?

[2016-03-06 20:23] uahic commented on #256
Issue can be closed, using the receptortype as music channel is OK

[2016-03-07 07:01] #256 closed

[2016-03-07 10:49] apeyser opened #262 "Create command: tuple of gids to range"
Create in pynest currently returns an iterator which is of the form (n, n+1, ..., n+x). This should be replaced by a range iterator.

[2016-03-07 17:21] jougs commented on #252
@apdavison: How do we handle old versions of PyNN? Are they just deprecated and not expected to run with new versions of NEST? Thanks!

[2016-03-07 17:33] apdavison commented on #252
PyNN 0.7.x is only tested with NEST 2.2, although I think some people have successfully used more recent versions of NEST.

Normally, old versions of PyNN are only expected to run with the version of NEST that was current when they were released.

The problem here is that the neuromorphic hardware systems in HBP only support the PyNN 0.7 API (0.8 support is underway), so anyone who wants to use bo

[2016-03-07 22:11] russell0 commented on #259
Hi @heplesser

I removed the old nest source directory, re-downloaded the tarball, made a build directory, did ../configure, make, had the same result.

Would love to get this going!  Any hints/workarounds/bugsquashes? :)

-Russell

Russells-MacBook-Pro:build russell$ uname -a
15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64

  574  tar

[2016-03-08 07:22] heplesser commented on #259
@russell0 You are compiling on OSX 10.11(El Capitan), aren't you? Are you using g++ or clang? The first compile command in the log you included calls g++, but the final error is from clang, so I wonder if there is a mix-up there.

Since the final error message reports missing `ConnectionGenerator` components while linking, I wonder whether libneurosim may cause problems here. Could you try to comp

[2016-03-08 07:33] heplesser opened #264 "Raise exception when simulation times not commensurable with resolution requested"
In certain places in NEST, times need to be multiples of the resolution. Currently, this is only checked in `spike_generator::Parameters_::set()`. Other places where this should be checked are
- setting origin/start/stop in `Device::Parameters_::set()`
- `SimulationManager::simulate()`, which currently only checks against overflow

Concerning the latter in particular at the following, look at the

[2016-03-08 12:47] mschmidt87 opened #266 "gidcollections are not iterable in SLI"
Currently, is is not possible to loop over a `gidcollection` in SLI, i.e. the following code

[code]

produces the error:

[code]

I think that we should implement the possibility to loop over a `gidcollection`. I will take a look at this.

[2016-03-08 12:57] sdiazpier commented on #260
Hi @flinz
Yes you are right, for the moment a dictionary is expected in this function which is not used and it is not optional. Thank you noticing this. I will reformulate the call format of the function.

[2016-03-08 15:13] flinz commented on #151
I had a quick look at this, see https://github.com/flinz/nest-simulator/commit/4568d3776f175fc29b02c96b780683813d7a592f

@apeyser I dont know if you had something like this in mind, but its a short proof of principle

- Grab all errors from nestkernel and sli, and create python wrappers (uses get_errors.py which needs to be somehow integrated into the build process) in [hl_api_errors.py](https://g

[2016-03-08 15:36] wschenck opened #267 "Small documentation bug in comment reg. structural plasticity"
@sdiazpier:
I think I have found a small documentation bug in one of the comments reg. structural plasticity. Please look [here](https://github.com/nest/nest-simulator/blob/57a27c9c766f2e4642ae1381980ec2ce84c03ff6/nestkernel/nestmodule.cpp#L1785).

"Name: EnableStructuralPlasticity" in the comment does not fit to the functions which follow directly afterwards.

[2016-03-08 15:40] sdiazpier commented on #267
Dear @wschenck thanks for noticing that. I will fix it as soon as possible.

[2016-03-08 16:43] apeyser commented on #151
@flinz: I think it could be done entirely dynamically:
[code]

and then you just: `except NestExceptions.NESTUnknownModelIDError: handleit`
and on the other hand: `raise getattr(NestExceptions, 'NEST'+errorname)` where `errorname = NESTUnknownModelIDError`

Doing the preprocessing avoids debugging spelling issues and lost classes, however, so it may still be better since the code is clang-formatte

[2016-03-08 19:47] russell0 commented on #259
@heplesser -- yes indeed it seems like libneurosim was the culprit.

Just updated to OS X 10.11.3.

A bunch of PyNEST errors below.

  589  ../configure --prefix=$HOME/opt/nest --without-openmp
  590  make
  591  sudo make install
  592  sudo make installcheck

  AssertionError:
  FAIL: test_linear_growth_curve (nest.tests.test_sp.test_growth_curves.TestGrowthCurve)
      raise AssertionError(_bui

[2016-03-08 22:01] russell0 commented on #259
I installed libneurosum using Anaconda -- is there a more NEST-approved way??

Russells-MacBook-Pro:PyNN russell$ conda install -c https://conda.anaconda.org/emka libneurosim
Using Anaconda Cloud api site https://api.anaconda.org
Fetching package metadata: ......
Solving package specifications: ...........

# All requested packages already installed.
# packages in environment at //anaconda:
#
libn

[2016-03-09 08:07] apeyser commented on #259
It's always trouble when you install elements partially in anaconda --- the library paths, for example, tend to get messed up. I'd suggest either directly building libneurosim, or building nest and all other dependencies under anaconda. If you do the latter, we'd appreciate it if you shared with us the recipe.

[2016-03-09 09:16] mschmidt87 opened #268 "postscript-sli-mode in emacs leads to unusable keys"
When using postscript-sli-mode with the provided lisp files in emacs, some keys are no longer usable.
In particular, typing 'd', '[', and ']' leads to the same error, which reads
`Symbol's value as variable is void: last-command-char`.

Produced with Emacs 24.4.1.

[2016-03-09 09:18] jougs commented on #259
@russell0: please use markdown syntax to mark code/output as I did now for your comments. This makes it much easier for people to read the blocks and prevents GitHub from erroneously displaying things as headlines, etc.

[2016-03-09 09:36] jougs commented on #259
@heplesser: I'd rather have anaconda issues sorted out before looking at possible deeper causes for this problem. However, I doubt that anyone tried libneurosim on Mac, so these problems might well be caused by anything Mac specific.

Here's how you would conventionally install [libneurosim](http://software.incf.org/software/libneurosim):
[code]

Then configure NEST using the switch `--with-libneu

[2016-03-09 10:16] heplesser commented on #259
The test failures reported are the same as covered by #74. The problem is that compiling with clang under OSX generates code that causes segmentation faults under certain conditions. Note that by default gcc and g++ will invoke clang on OSX.

To compile NEST on OSX, you need to install gcc, e.g., from Homebrew or MacPorts, and then, use a configure line like (please build outside the source direct

[2016-03-09 17:39] jougs commented on #238
I've added Information about threading and MPI support to the output of `Simulate` in #269. Hopefully that will prevent problems like this.

@antolikjan: Can you please re-check and report back. Thanks!

[2016-03-10 09:47] tammoippen opened #270 "Why is giving the install prefix mandatory?"
This is an issue, which came to our attention while working on the build system #213: with master, we fail loudly, when the user does not supply a value to `--prefix` during configure:

[code]

With `cmake` I 'copied' the behavior, but it is not clear whether we should keep the bahavior.

[2016-03-10 10:05] tammoippen opened #271 "Refactoring the startup."
The function `neststartup()` in `nest/neststartup.h/cpp` is used both for starting up the sli-nest executable as well as the PyNEST module. A compile time flag `_IS_PYNEST` is given to compile this file to differentiate what is build. In master this is buried in `pynest/Makefile.am`, which uses the files in `../nest/` as sources.

In `cmake` (#213) a target `nest_lib` in `nest/CMakeLists.txt` is b

[2016-03-10 12:20] apeyser commented on #271
Agreed, that would be much clearer and flexible

[2016-03-10 13:07] tammoippen opened #272 "`make installcheck` fails when building with `-DNDEBUG`"
Enabling the flag `NDEBUG` breaks `make installcheck`, as we relay on assertions to fail in the test `selftests/test_crash_or_die.sli` (when building without mpi). All other tests seem to pass.

The `CMAKE_BUILD_TYPE` [[1]](https://cmake.org/cmake/help/v3.0/variable/CMAKE_BUILD_TYPE.html) (#213) system usually sets this flag for everything beyond `Debug`, but has some [advantages](https://cmake.or

[2016-03-10 14:40] heplesser commented on #270
If I remember correctly, `prefix` defaults to `/usr/local`. This may have been introduced to protect users from configuring for directories requiring root privileges for installation, and to encourage them to install NEST in places where it can easily be uninstalled by deleting an entire directory.

If we permit configure without `--prefix`, we should adhere to the "default default" (`/usr/local`,

[2016-03-11 07:44] heplesser opened #274 "Create a glossary of terms and abbreviations"
#273 makes me wonder if and where we should create a glossary of terms used in NEST. `wfr` makes sense, but it is not immediately comprehensible as "waveform relaxation", it is simply not an abbreviation widely known in the relevant community (in contrast to, e.g., `iaf` and `hh`). What would be a good place for such a glossary?

@jougs @steffengraber Any ideas?

[2016-03-11 08:28] steffengraber commented on #274
Hi @heplesser
I translated all static documentation to standard markdown:
https://github.com/steffengraber/nest-simulator/tree/static-markdown-doc/extras/userdoc/md/documentation

Maybe we can integrate it there.

[2016-03-11 14:10] uahic opened #275 "Design question of music channel indexing"
I finished a first working music_cont_out_proxy but there is a last issue (design question) that needs to be resolved.

After some discussion with Mikael Djurfeldt we have the following possibilities for the mapping of neurons to global music indice:

1. The user passes a list of neuron GIDs to the proxy, each process finds via NEST c++ api the neuron which are locally available and acesses them d

[2016-03-11 14:27] mdjurfeldt commented on #275
Just to clarify my position on this:

The most important question we need to settle is how the user interface for mapping a set of neurons to a MUSIC port should look like. Once we have decided this, we'll certainly find a good way to implement it.

I think we should re-use as much as possible of the existing concepts in the NEST world. For example, there will always be ways in NEST to specify a s

[2016-03-11 14:56] apeyser commented on #275
Why does this mapping need to be done via MUSIC? What I mean is if we define a bag of neurons through some other mechanism at network creation time, then we can simple make a 0..n id for the music mapping without knowing what the underlying gid's are. So m maps to collection[m], which was created on construction without the allgather.

For this we just need a population object or device that does

[2016-03-11 15:01] uahic commented on #275
The problem is that each process has to do its own mapping and must know which global music id (range) to use to prevent overlapping with other processes. Think about a single global array outside of NEST and now you need to map neurons ids or mapped neuron ids to this array.

[2016-03-11 15:02] mdjurfeldt commented on #275
This is not done via MUSIC. This is about deciding how it should look like for the user to export a set of neurons through a MUSIC port from within NEST.

Yes, what you describe sounds like my alternative 1.

Do you have "population objects" now in NEST?  What alternatives do we have to specify the bag of neurons except for a list of gids (as specified in the NEST manual for the connection primiti

[2016-03-11 15:07] mdjurfeldt commented on #275
@uahic The cont proxy should use NEST infrastructure to determine which of the gids are local in one process. The intersection of the bag of local neurons and the bag to be exported through the port is what makes the music index map (which is an implementation detail which the user should not see).

[2016-03-11 15:23] JanneM commented on #275
As a user, my main concern is being absolutely certain that I know which neuron maps to which output channel, then to which input channel. Typically, you'd have an explicit array with a set of GIDs or a reference to a structure such as a subnet or a topological network. You expect the mapping to be consistent: a subnet or topology surface is mapped in GID (row) order to MUSIC channels. For an arra

[2016-03-11 15:32] uahic commented on #275
I would prefer to specify the channel on the  synapse just as it is the case for the spike output proxy. This would satisfy full control in which output channel the information goes and the user does not have to worry about GIDs. Maybe we can solve this without a new synapse model if we put some logic in one of the base classes (I dont know how they work yet) and if the user sets music_channel ids

[2016-03-11 15:50] mdjurfeldt commented on #275
@uahic 1. Why do you prefer to specify the channel on the synapse? You should not use the event output proxy as a model or try to align to it, because we have for long talked about changing this interface. At least, we should now try to figure out what is most convenient. Specifying a list of gids *does* give you full control over which values are mapped to which channels in th port.

2. The GID l

[2016-03-11 16:00] uahic commented on #275
It is clear that this happens inside c++,  okay I didnt thought about that the position is inherently included in the gid list, I could code this. The remaining problem is: should the user really specify the GID list manually? As I said before, asking NEST for GIDs via GetStatus returns NOT the entire list of GIDs, just the local GIDs

Example script for 4 MPI ranks:
neurons = nest.Create('iaf_neu

[2016-03-11 16:19] mdjurfeldt commented on #275
@uahic Good.

Regarding Gid list and Create:

Some of the rules for Connect require knowledge about the corresponding neurons in other ranks, so somehow information about the full set of neurons must be there.  I'm talking about, for example:

pop1 = nest.Create (...)
pop2 = nest.Create (...)
conn_dict = {'rule': 'fixed_outdegree', 'outdegree': N}
nest.Connect (pop1, pop2, conn_dict)

Can a real N

[2016-03-11 16:24] uahic commented on #275
@mdjurfeldt Would you argue against using your approach but once the list is set, the proxy connects itself (via c++) against the target neurons via synapses?  this would simplify to retrieve the desired cont values alot and fits in the pipeline nicely. In the current state Objects

[2016-03-11 16:29] mdjurfeldt commented on #275
@uahic This is a question for the NEST developers. I can't argue against it.

[2016-03-11 16:40] uahic commented on #275
Okay I tried to run Nest with 2 MPI ranks on different machines and both of them return all created global ids

[2016-03-11 16:43] mdjurfeldt commented on #275
Great! Everything clear, then?
Den 11 mar 2016 17:40 skrev "Martin Schulze" <notifications@github.com>:

[2016-03-11 17:06] uahic commented on #275
Absolutely!

@Nestdevelopers
I had a look over the current repository code what I would like to know is if the music interface (for the user) will in the future still involving neuron representations or be purely go via Get/SetKernelStatus?

[2016-03-11 23:34] russell0 commented on #259
@heplesser Well -- I tried my best to follow your instructions, namely using gcc5 and g++5, and it didn't work.

Also the non-Anaconda libneurosim didn't work.

Am I wasting my time trying to get the right options from macports and anaconda working for the configure script on Mac 10.11.3 (GSL, MPI, libneurosim)?  Nothing seems to work.  I have all updated macports and freshly untarred NEST.

Does

[2016-03-12 15:14] uahic commented on #275
Okay the music_con_out_proxy neuron seems to work properly now

[2016-03-14 16:43] russell0 commented on #259
Any suggestions??

[2016-03-15 07:37] heplesser commented on #259
@russell0 Many NEST developers are working under OSX, both 10.10 and 10.11 and we manage to build NEST without difficulty using the gcc compiler suite from Homebrew or Macports. A Homebrew formula for NEST should become available soon (https://github.com/Homebrew/homebrew-science/pull/3331). Thus, installing NEST under OSX is not an issue per se.

libneurosim is not a part of NEST and we as NEST d

[2016-03-15 07:37] #259 closed

[2016-03-15 12:50] flinz opened #277 "Step_current_generator: offset usage is inconsistent with other devices"
The way the ``step_current_generator`` uses the device->origin value is different from e.g. the ``poisson_generator``, in that it does not shift the amplitude times relative to ``origin``, but simply [ignores the current generator for times < origin](https://github.com/nest/nest-simulator/blob/master/models/step_current_generator.cpp#L144).

See the plot below, for two such generators with similar

[2016-03-15 14:34] heplesser commented on #277
@flinz It's not a bug, it's a feature, although one that could be described better in the documentation.

`origin`, `start` and `stop` only define a mask on the output (or, for recording devices, the input), of a device, in the sense that the device will only provide output in the interval from `origin+start` to `origin+stop`. The variables do not in any way influence what is being output in this

[2016-03-15 14:44] brunomaga opened #278 "Question about multi-rate of adaptive stepping"
Hi there.

I have a question concerning the interpolation methods: Is it possible to use multi-rate or adaptive time stepping (e.g. VODE, LSODE) in nest? If yes, can you point me to a tutorial or documentation?

Also, I was under the impression that you use Euler methods for fixed step interpolation, yet the features page says "Each neuron model is assigned an appropriate solver". What other solve

[2016-03-15 15:57] heplesser commented on #278
@brunomaga Please address general questions about NEST to the NEST User Mailing List (http://www.nest-simulator.org/community/). Github issues should address bugs in the code or errors in the documentation. I am therefore closing this issue.

[2016-03-15 15:57] #278 closed

[2016-03-16 07:59] flinz commented on #277
@heplesser if this is intended, then I will close the issue. My point was, that do exactly the same paradigm as in your example for a step current generator, one would have to use

[code]

This difference in handling (i.e. having to set additionally the amplitude_times in absolute time) caused a little confusion yesterday, and, as you said, maybe should be better documented.

[2016-03-16 08:11] heplesser commented on #277
@flinz Yes, that is exactly what you need to do. I will create a new issue to remind us about improving the device documentation. I'll close this issue now.

[2016-03-16 08:11] #277 closed

[2016-03-16 08:13] flinz commented on #151
I would also vote for the approach of building a dict of errornames from which the exceptions are dynamically generated at import time. From the user-side it should be clear from pynest at import time which errors can be differentiated. If error classes are created at runtime only as they are raised (as in your example) this would not be possible.

Could you explain a little more what you mean? So

[2016-03-16 08:14] heplesser opened #279 "Better documentation of origin/start/stop in devices"
Currently, the user-level documentation of the `origin`, `start`, `stop` parameters of devices is unsystematic and incomplete. These parameters should be documented thoroughly in the StimulatingDevice and RecordingDevice user-level documentation, and referenced in the same way from all device documentation. It must also be made clear that changing `origin` only affects `start` and `stop`, but no o

[2016-03-16 09:42] apeyser commented on #151
@flinz: I meant that I don't know whether there's a rule regarding subclassing nest exceptions in dynamic libraries load by nest as 'modules'.

My last paragraph was just thinking about a way that the exception classes could have registered themselves as the were declared, with a structure like (just as an example off the top of my head):
[code]
but in the current implementation, the names aren't

[2016-03-17 11:30] jougs commented on #274
I agree with @steffengraber. @heplesser, can you create a pull request against Steffen's repository?

[2016-03-18 09:27] heplesser commented on #240
@sanjayankur31 The problem you describe relates to a design decision taken very early in the history of NEST, long before we started to introduce plasticity: Weights between neurons with current-based synapses are signed. Thus, they lump together two aspects: the strength of the connection (which is a quite complex effective strength reflecting the total number of synapses between to neurons, the

[2016-03-18 14:26] heplesser opened #281 "NEST Topology crashes for fixed fan-out on multiple MPI processes"
The following code will work correctly if run on a single MPI process, but crashes reporting an `IllegalConnection` in `ConnectLayers_i_i_D` when run on two or more processes:
[code]
The code works fine for `/convergent` connections and also if a connection probability is given instead of a fixed number of outgoing connections.

[2016-03-24 14:49] weidel-p opened #285 "Regressiontest `ticket-77.sli` fails"
The regressiontest `ticket-77.sli` fails if NEST is configured with MUSIC.
I think this test handles the `music_event_out_proxy` as a neuron model and therefore fails.

[2016-03-25 09:24] heplesser commented on #285
@weidel-p When NEST is compiled with MUSIC, `music_event_out_proxy` appears as a model in `modeldict`, doesn't it? Clearly, the test in `ticket-77.sli` makes no sense for the music proxy. Could you add the proxy to the `skip_list` (l 57-62)? Then the test will ignore it.

Could you at the same time rename the test from `ticket-77.sli` to `issue-77.sli` (Github: issues, old trac: tickets)?

[2016-03-28 10:18] jschuecker opened #286 "Voltmeter/Multimeter influences min_delay"
The meaningless delay of a connection from a multimeter/voltmeter influences the `min_delay`. This might lead to a shorter communication interval than actually needed, in particular because this devices are usually connected with the default value (1ms). Could we set this delay internally to `max_delay`? @heplesser, @tammoippen, what do you think?

[2016-03-28 13:06] heplesser commented on #286
@jschuecker This is an interesting point. Slightly generalized, connecting recording devices should not reduce the minimum delay in the network. Stimulating devices are different, since for them the connection delay influences when signals arrive. The only effect of longer delays for recording-device connections than 1 ms would be that data may take longer time to arrive at the recorder, and that

[2016-03-28 13:20] heplesser opened #287 "Incorrect error message when connecting with bad delay"
NEST may issue an incorrect error message if minimum and maximum delay have been set explicitly and a connection is created with invalid delay

[code]

Note that the first `Connect` call with delay 2.5 ms works fine, indicating that the delay limits have been set. The second `Connect` calls uses the default delay of 1 ms, provoking an error, but the error message reports min and max delay of 0.1 m

[2016-03-29 13:27] #275 closed

[2016-04-04 12:46] tammoippen commented on #228
@obreitwi Can you please again try compiling `MyModule` of the current master? #213 is now merged and I took special care for compilability of `MyModule`. Be aware, that the build syatem changed to `cmake`.

[2016-04-04 12:59] jougs commented on #200
@jakobj: Is this fixed with the merge of #213? If yes, please close this issue. Many thanks!

[2016-04-04 13:27] jougs commented on #116
Dear @hanke,
sorry for the endless delay. Can you please re-check if the issues persist with the current version of master? With the merge of #213, we have replaced the build system with cmake.

[2016-04-04 14:00] tammoippen commented on #152
With #213 being merged, installing NEST skips generating the help documentation when cross compiling; see [here](https://github.com/nest/nest-simulator/blob/master/sli/CMakeLists.txt#L145). Hence closing as fixed.

[2016-04-04 14:00] #152 closed

[2016-04-04 14:10] tammoippen commented on #56
With #213, modules can be build statically, dynamically or as plug-in ( `Install` mechanism) - also on BlueGene. But you still get an error, when the module is linked dynamically and you load it again with an `Install`.

I have not tried it yet, but there is a possibility, to have `cmake` build sub-cmake-projects just by adding it as a subdirectory ([here](https://stackoverflow.com/questions/35732

[2016-04-04 15:02] sdiazpier opened #290 "Problem updating connections with structural plasticity and multiple threads"
Unwanted behaviour is observed when updating the connectivity of the network using structural plasticity with multiple threads. This is not the case when multiple MPI processes are used. It seems like it is a problem with the structural plasticity manager while updating the number of deleted synapses.

[2016-04-05 06:43] heplesser commented on #290
@sdiazpier Could you add a script reproducing this problem? It should be as compact as possible and preferably written in SLI so we can develop a regression test from it.

[2016-04-05 06:54] tammoippen opened #291 "Organize installed examples and documentation."
The directory `<installdir>/share/doc/nest` and  `<installdir>/share/nest` after install is quite unorganized and crowded:
- All testsuite related code is distributed at its toplevel. Also, the directory  `<installdir>/share/nest/extras` contains the `do_test.py/sh` files for running the tests, which seems to be an unnecessary separation.
- Examples mixed inside the `examples` subdirectory and in

[2016-04-05 15:07] sanjayankur31 opened #293 "Remove deprecated connection_manager sources"
Hiya,

Just going through the source - I notice connection_manager.{h,cpp} are not to be used - can these please be removed from the tree completely. I assume they were kept around while the move to cmake was being made - now that the move is complete, there's no reason to keep them around. Folks can always checkout an older commit if they want to refer to these files.

[2016-04-06 08:40] EmiliosIsaias opened #295 "There were errors detected during the run of the NEST test suite"
Dear NEST team,

After the installation of the NEST v2.10.0 in my Linux Ubuntu distribution, I typed 'make installcheck' to verify the correctness of the process. The results showed that 4 out of 729 tests were unsuccessful.

The returned message suggested to attach the files from the folders '/home/nest/Documents/nest-2.10.0/reports' and '/home/nest/Documents/nest-2.10.0/reports/nest.aDlR1'. Howe

[2016-04-07 12:55] uahic opened #299 "ROS integration"
Hello,

I would like  the integration of (asynchronous) communication with applications outside of NEST via ROS (http://www.ros.org/). Why ROS? Because its widely used in the robotics world and pretty simple to use (publisher/subscriber sockets).
- An integration similar to music would allow live-time injection of spikes/currents during simulation time asynchronously. Thus, using the simulator as

[2016-04-07 14:54] weidel-p commented on #299
Hi @uahic

you're bringing up an interesting topic which I think is of gaining interest.

Although I like the idea of using NEST as a robotic controller, I see some drawbacks in your approach:

1. As you already mentioned, MUSIC already implements an interface to NEST for the exchange of data during simulation time. Adding another interface with basically the same purpose increases the complexity

[2016-04-07 16:12] uahic commented on #299
There are some drawbacks with the adapter approach

1. You either need to write config files for music and passing what port is of which type such that the adapter can make the instantiations/connections between both APIs.
2.  Messages cannot be passed during Setup-Phase, which requires that all meta-information needs to go over config files or (python bindings of other communication libraries) ag

[2016-04-08 13:08] sanjayankur31 opened #300 "Figure 3.6 in the toplogy user manual is empty"
I was going through the [topology user manual](https://github.com/nest/nest-simulator/blob/master/topology/doc/Topology_UserManual.pdf) and noticed that the graphs in figure 3.6 (Distance-dependent and randomized weights and delays. See text for details) are empty.

[2016-04-08 13:34] uahic commented on #299
What I did not consider so much is that ROS on a cluster would need to communicate with the local ROS which needs to be setup etc. This would be a good argument against an integrated solution

[2016-04-11 08:22] heplesser opened #302 "Move or remove manualtests in testsuites"
The main and the topology testsuites currently contain tests that need to be run manually. In practice, this means that they are hardly ever run and quickly become outdated, see comment in #221.

Those tests should preferably be converted to proper unit or regression tests, or, where that would be impossible, removed. Removal appears preferable to keeping dead code around.

[2016-04-11 08:38] tammoippen opened #303 "NEST build system does not respect --docdir"
(from trac.781)

On SUSE (and maybe other Linux) they have different install directories for `doc` and `data` than `$(datadir)/doc/$(pkgname)`. With autotools you could set the datadir with `--datadir`, but NEST did not respect this. With cmake this is still not implemented, but could be with little efford by using [`GNUInstallDirs`](https://cmake.org/cmake/help/v3.0/module/GNUInstallDirs.html).

[2016-04-11 08:47] tammoippen opened #304 "Review Examples"
(from trac.904)

With cmake all examples are installed. The task of this issue is to review all examples, fix them if they are outdated or remove them if they are not needed anymore. See also #291 which will effect installed examples as well.

[2016-04-11 13:30] #293 closed

[2016-04-12 10:05] uahic commented on #299
I decided to start working on a generic adapter which will probably be finished in a first version within this month.

[2016-04-14 13:07] steffengraber opened #307 "cmake -Dwith-libneurosim=ON failed"
`cmake -DCMAKE_INSTALL_PREFIX=/home/steffen/work/opt/nest -Dwith-optimize=ON -Dwith-warning=ON -Dwith-mpi=OFF -Dwith-python=ON -Dwith-gsl=OFF -Dwith-libneurosim=ON

make
`
Failed with:

`/home/steffen/Downloads/nest-simulator-master/conngen/conngendatum.h:27:43: fatal error:

neurosim/connection_generator.h: Datei oder Verzeichnis nicht gefunden

compilation terminated.
nest/CMakeFiles/nest.dir/bu

[2016-04-14 14:16] tammoippen commented on #307
Hi @steffengraber ,

You can find the sources [here](http://software.incf.org/software/libneurosim/code_repository). After installing them, you can give the install path to `with-libneurosim`, if the install dir is not found automatically:

[code]

But you should not get the error... When `cmake` did not find the libneurosim, it should build without it. I will investigate.

[2016-04-15 08:15] steffengraber commented on #307
Hi @tammoippen

works.

Thank you.

[2016-04-15 11:56] steffengraber opened #309 "make installcheck errors for PyNEST Testsuite"
Hi,

that's it what I did:

[code]

Everything looks nice, but at the end of the checks:

[code]

Looks like a problem with the libneuronsim. But cmake says:

[code]

[2016-04-16 13:05] heplesser opened #310 "Formatting errors in online model documentation"
Documentation generated for the website from SLI-style docstrings are incorrectly formatted. In particular, it seems that all paragraph breaks and line breaks in bullet list and similarly tabulated text are ignored. This renders the documentation quite illegible, see e.g. the "Parameters" section of  http://www.nest-simulator.org/cc/iaf_psc_alpha/.

@steffengraber Could you take a look at this?

[2016-04-16 17:08] jakobj commented on #200
@jougs yes, this is indeed resolved. closing.

[2016-04-16 17:08] #200 closed

[2016-04-16 17:10] jakobj commented on #227
this is also addressed with #221: a warning informs the user of a possible endless loop. as soon as that PR is merged, this issue can be closed.

[2016-04-18 10:19] #111 closed

[2016-04-18 10:21] tammoippen commented on #114
See also #229

[2016-04-18 10:26] tammoippen commented on #116
@heplesser Can you look at this? Thank you!

[2016-04-18 11:55] heplesser commented on #114
In the dynamics function computing the derivative, we must use `min( y [ S::V_m ], node.P_.V_peak )` wherever `V_m` appears in expressions. I will fix this in the standard AEIF-model shortly. This ensures that `w` will not be "polluted" by super-peak values of V_m and keep numerics stable.

[2016-04-19 08:22] steffengraber commented on #310
hi @heplesser
I have integrated a new version of the command index coming from the SLI-style docstrings. It recognizes now the paragraphs and line breaks. There is still something missing but better readable. More is coming soon.

[2016-04-19 09:29] weidel-p commented on #299
as you decided to work on an adapter, it might me interesting for you to take a look at the preprint of our publication on this topic ([http://arxiv.org/abs/1604.04764](http://arxiv.org/abs/1604.04764)). Maybe you can pick up some ideas or even make use of our approach for your purposes.

This manuscript also addresses your concerns about the performance; it shows that the adapter can run in real

[2016-04-19 11:23] uahic commented on #299
The performance measures is valuable information, thanks! I am actually working on two things: 1) the connection between the CLE (mentioned in your paper) and NEST/other music backends via pymusic in a general way and 2) the ros adapter (currently in my spare time) for quick experiments with robots

[2016-04-19 14:44] Silmathoron opened #311 "No reset of simulating_ bool after error and ResetKernel"
On NEST 2.10.0 I'm doing many consecutive runs to test the behaviour of my models with various parameters. Some of the combinations of parameters lead to numerical instability in `aeif` models so I wanted to catch this error and use `ResetKernel` to continue the loop over the remaining parameters.

The error is:
`NumericalInstability in Simulate_d: NEST detected a numerical instability while updat

[2016-04-19 20:21] heplesser commented on #311
@Silmathoron Could you check if the problem persists with the newest source from Github? We have completely reorganized initialization and reset a little while ago, and I would hope that his problem disappeared then.

[2016-04-19 21:08] Silmathoron commented on #311
Yep, still failing:
``python: /home/silmathoron/Documents/PhD_NNGA/NEST/nest/nestkernel/simulation_manager.h:172: const nest::Time nest::SimulationManager::get_time() const: Assertion `not simulating_' failed.``

[2016-04-19 23:09] heplesser commented on #311
Does it "just" fail like this now, or does NEST also still crash under certain conditions?

[2016-04-20 06:38] Silmathoron commented on #311
I "hope" the script I put in the first message reproduces the error on any machine... On my two machines, it's fail, crash, and burn...

I'll try to have a look at it before lunch.

[2016-04-20 08:44] tammoippen commented on #311
I can reproduce your error with the script you supplied. This is a very interesting issue and I do not have a solution yet, but I want to share my findings so far:

The error happens [here](https://github.com/nest/nest-simulator/blob/master/nestkernel/universal_data_logger_impl.h#L110) in the `get_time()` call. The neurons are calibrated within `SimulationManager::prepare_simulation_()`, which is

[2016-04-20 09:09] tammoippen opened #314 "Make NEST installation independant from source & build directory"
In NEST [`config.h`](https://github.com/nest/nest-simulator/blob/master/libnestutil/config.h.in#L45) we set the source and build directory and use it within NEST (`#define NEST_SOURCEDIR "@PKGSRCDIR@"` and `#define NEST_BUILDDIR "@PKGBUILDDIR@"`). When we want to create pre-build binaries for different platforms, e.g. for [OS X](https://github.com/Homebrew/homebrew-science/pull/3331) or for [Debia

[2016-04-20 09:30] Silmathoron commented on #311
@tammoippen Great, thanks! I did not see there was a 2nd ``init`` function in the ``_impl.h`` ^^"

I'll try to find out where this goes wrong; in fact ``simulating_`` is already set to ``true`` when entering ``NodeManager::prepare_nodes()``

[2016-04-20 12:12] tammoippen commented on #311
The simulation should not end inside the `update()` method. Every call of `nest.Simulate(200.)` should run through the complete cycle `prepare_simulation_(); resume_();  update_(); finalize_simulation_();`. Also in the case, where the script runs through (e.g. `g_L=17.0`) the `simulating_`-flow works as expected. The `finalize()` method is used in the `nest.ResetKernel()` call: first finalize then

[2016-04-22 11:59] kopxiong opened #316 "Can't import nest after having updated to ubuntu 16.04 LTS"
ImportError                               Traceback (most recent call last)
<ipython-input-1-c493c116876b> in <module>()
----> 1 import nest

/home/andy/opt/nest/lib/python2.7/site-packages/nest/__init__.py in <module>()
     50
     51
---> 52 from . import pynestkernel as _kernel
     53 import lib.hl_api_helper as hl_api
     54

ImportError: libgsl.so.0: cannot open shared object file: No such

[2016-04-22 12:12] heplesser commented on #316
@kopxiong The problem here is that NEST does not find the GNU Science Library, gsl. Is GSL installed on your system, and did you recompile NEST after updating to 16.04?

The [NEST User mailing list](http://www.nest-simulator.org/community/) is a better place for questions like this one. Could you send any further communication in the matter there?

[2016-04-22 12:13] weidel-p commented on #285
fixed by #312

[2016-04-22 12:13] #285 closed

[2016-04-22 13:17] kopxiong commented on #316
@heplesser After I recompiled NEST the issue was fixed. Thanks a lot!

[2016-04-22 13:49] #316 closed

[2016-04-24 16:50] sanjayankur31 commented on #220
It does look like a standard thing - I tested this with
[code]
on an older gcc and it still failed - so, I'm just forcing cmake to use the 98 standard. If, nest only supports the 98 standard, maybe we should add this to CMakeLists.txt:
[code]

@tammoippen - what do you think?^

https://cmake.org/cmake/help/v3.1/prop_tgt/CXX_STANDARD.html#prop_tgt:CXX_STANDARD

[2016-04-24 17:40] sanjayankur31 opened #317 "CMakeLists.txt: INSTALL_LIB_DIR should not be hard coded to lib"
https://github.com/nest/nest-simulator/blob/master/CMakeLists.txt#L85

The value of `INSTALL_LIB_DIR` is set to `lib` here, which makes `PYEXECDIR` always point to `/usr/lib/python...`. However, on `x86_64` systems, for example, `INSTALL_LIB_DIR` should be `lib64` and the resulting `PYEXECDIR` (and other lib things) would then point to `/usr/lib64/python...` and so on.

[2016-04-24 20:02] heplesser commented on #220
@sanjayankur31 C++11 indeed changed the way streams are convertible to bool, see [C++ Reference](http://en.cppreference.com/w/cpp/io/basic_ios/operator_bool). Together with the rules for [contextual conversion](http://en.cppreference.com/w/cpp/language/implicit_conversion) of [if conditions](http://en.cppreference.com/w/cpp/language/if) in C++11, this means that `if ( in )` still works, while `ret

[2016-04-25 12:04] #239 closed

[2016-04-25 14:05] #80 closed

[2016-04-25 14:13] jougs commented on #275
Sorry to step in only so late. I've been quite busy recently. Here's some clarifications:

- `Create` in SLI only returns the last (global) GID it created. This means the whole range can be re-creaetd using the returned value and the number of nodes created
- `Create` in PyNEST does exactly this. It returns `tuple(range(last_gid - n + 1, last_gid + 1))`
- Since [NewConnect](https://github.com/nest

[2016-04-25 15:48] uahic commented on #275
This is excellent!, is the other way around also supported that the user is able to pass ranges into SetStatus and it is then converted into GIDCollections?

[2016-04-26 10:48] tammoippen opened #322 "Update Emacs extension to use Git instead of svn."
The Emacs extension for sli, [`sli.el.in`](https://github.com/nest/nest-simulator/blob/master/extras/emacs/sli.el.in), still uses the SVN extension [`psvn.el`](https://github.com/nest/nest-simulator/blob/master/extras/emacs/psvn.el). The task in this issue is to update the `sli.el` to use the [Git extension](https://www.emacswiki.org/emacs/Git).

[2016-04-26 13:09] tammoippen commented on #62
Closing as #297 is merged.

[2016-04-26 13:09] #62 closed

[2016-04-26 21:49] heplesser commented on #210
It looks like #323 provides a tidy solution for the readline and ncurses problems. Together with #318, this should make installing NEST more robust. Once we have a Homebrew formula for NEST it should not be too challenging to provide something similar for Linux. Managing an Anaconda package on top of this might be more work than gain, in particular since NEST is anything but a pure python package.

[2016-04-27 08:43] jougs commented on #220
I this is indeed the only place where GCC6 fails, I agree with @heplesser's suggestion to tidy up the code. I'm happy to review a PR in this direction.

[2016-04-27 08:48] apeyser commented on #210
We should probably not put PyNEST in the standard site-packages, in order to facilitate having multiple nest versions installed. Otherwise, we'd need to combine python virtualenv with NEST installation, which could lead to further issues. Has someone tried that?

[2016-04-27 08:53] Silmathoron commented on #210
I haven't, but asking whether PyNEST should be installed in the standard ``site-packages`` or locally in ``$NEST_PREFIX/lib`` during the install seems like a good idea to simplify the life of regular users who only have one installed version of NEST...

[2016-04-27 09:50] sanjayankur31 commented on #220
I'm not sure if this is the only place where it fails - it is the first place it fails - and this causes the build to abort. We'll only know about the other places once we fix this and re-run the compilation from what I know.

[2016-04-28 07:25] jougs commented on #275
Currently only `Connect` supports `gidcollection`. The plan is to make `Create` return a `gidcollection` and convert all functions that operate on GIDs or lists of GIDs use them. Ideally, we'd also have a wrapper for Python so one can use them as normal iterables there as well. See also #266.

Also, I'm happy to review a pull request if you want to start converting functions to `gidcollection`.

[2016-04-28 10:09] leukone opened #324 "make installcheck Error for PyNest"
Hi, I installed pynest but then I removed it, and as I installed it again, I make and make install nest, but when I run make installcheck, I get:

`  SLI Executable : /opt/nest/bin/sli
  Total number of tests: 446
     Passed: 445
     Failed: 1 (0 PyNEST)

---

**\* There were errors detected during the run of the NEST test suite!

---

**\* Please report the problem at
**\*     https://github.co

[2016-04-28 11:15] wvangeit opened #325 "Tests failing for NEST 2.10.0 on MBP"
I ran nest.test() from a python prompt, and the tests below failed.
Nest was installed on my MacBook Pro (Retina, 13-inch, Early 2015) using the tarball from the website (configure/make/make install), numpy version was 1.11.0
#
## FAIL: test_gaussian_growth_curve (nest.tests.test_sp.test_growth_curves.TestGrowthCurve)

Traceback (most recent call last):
  File "/Users/werner/local/nest/lib/python2

[2016-04-28 18:40] tammoippen commented on #325
Hallo @wvangeit

What compiler did you use? The gcc/clang from xcode/apple? If yes, NEST is unstable with this compiler, see #74. Please use a GCC from homebrew/macports/fink for building NEST and follow the instructions [here](http://www.nest-simulator.org/installation/) at "mac os x".

[2016-04-29 07:21] wvangeit commented on #325
It seems nest used the /usr/bin/gcc compiler (clang) for the compilation. Now forced the use of the /usr/local/bin/gcc-5 compiler (homebrew).
Did a clean install (removed build directory, and installation directory).
Still get exactly the same results. Have attached the config.log

[config.log.zip](https://github.com/nest/nest-simulator/files/241910/config.log.zip)

[2016-05-02 13:33] astoeckel opened #329 "Multiple events for a single spike in hh_cond_exp_traub when increasing time resolution"
When running a simulation with the hh_cond_exp_traub neuron model, an increased time resolution (a time step smaller than the default 0.1ms), causes single output spikes in the HH model to be issued multiple times. The cause of issue should be

[code]

in `hh_cond_exp_traub.cpp` where the number of ticks in `V_.RefractoryCounts_` is initialised with the constant `20` instead of calculating the num

[2016-05-02 13:44] astoeckel opened #330 "Refractoriness causes output spikes being dropped in hh_cond_exp_traub"
The constant 2ms refractoriness in the `hh_cond_exp_traub` model causes output spikes to be discarded once the output inter-spike-interval drops below 2ms.

For example, this simulation [1] results in the following voltage trace
![nest_hh_trace](https://cloud.githubusercontent.com/assets/1783545/14955622/82ec818c-107b-11e6-9046-ccb176126501.png)
where spikes are produced with approximately an 2ms

[2016-05-03 06:57] Silmathoron commented on #329
I agree with @astoeckel that it seems the way refractoriness is considered in the ``hh_cond_exp`` model is rather weird: on hybrid models such as the ``iaf`` or ``aeif``, the voltage is clamped during the whole refractory period so there is no risk of missing spike. Such a feature can be necessary to get closer to real neural behaviour because these simple models have no intrinsic equivalent of re

[2016-05-03 09:10] #281 closed

[2016-05-03 12:29] heplesser commented on #330
@astoeckel Thank you for reporting this. While it is a slightly different issue than #329, both issues are closely related as they expose weaknesses in the current implementation of the Traub model in NEST. I would suggest that we combine the two issues and have all further discussion in #329.

[2016-05-03 12:35] heplesser commented on #329
@astoeckel Thank you for reporting this and #330. I suggest we discuss both issues here.
@Silmathoron Thanks for the reference to the PyNN for Brian implementation.

I agree that the current implementation of the `hh_cond_exp_traub` model badly abuses the refractoriness mechanism. @astoeckel's solution to emit a spike when a threshold crossing is detected for the first time and then to suppress al

[2016-05-03 14:37] heplesser opened #331 "Failed assertion on SLI `Transpose`"
The following triggers and assertion:

[code]

The desired output was

[code]

[2016-05-03 15:33] tobikausk opened #332 "current generating devices cannot be connected to binary neurons"
The ac-generator (and probably also dc- and step-current-generator) cannot be connected to binary neurons. This would be a useful feature (as you sometimes want to create "time varying thresholds") and would not create any inconsistencies.
The problem can be fixed rather easily and I will open a PR soon.

[2016-05-03 23:25] heplesser commented on #332
@mhelias What do you think about this proposal? Binary neurons are quite different from everything else, so interpreting "current" input as a signal that represents a time-varying threshold is probably something one could do. But documentation would have to be very clear.

[2016-05-04 08:45] mhelias commented on #332
Tobias and I discussed this. Actually, the connection of ac and dc denerators to binary neurons only fails since we implemented a stricter checking for compatibility of spiking and binary models. In previous revisions this has been possible and some of our published articles rely on this feature. The only thing to implement is the function send_signal() in all generators that should be compatible.

[2016-05-09 10:18] abigailm commented on #145
@frankmichler After some discussion, we prefer your first suggestion. Could you possibly create a PR which implements this (or at least the assumptions stating part) for at least one unit test, which we can then apply more generally?

[2016-05-09 10:27] abigailm commented on #185
Decided in the developer meeting on 9.5.2016 that this is a good idea and should be implemented

[2016-05-09 10:35] abigailm commented on #186
Decided in the NEST developer meeting on 9.5.2016 that the documentation of NEST should be adjusted to say that NEST should only be run in a homogeneous MPI environment [and no guarantees if you ignore this ;) ]

[2016-05-10 11:30] mer0mingian opened #334 "make of MyModule is covered by Pull Request #318: Make NEST installation independent"
Dear all,

when going through the tutorial for the example module, I get the following error messages after a fresh install (built from 7df53d71601394cbb074d920399466f211e93e16) and registering nest-config when making MyModule:

[code]

[2016-05-10 12:24] jakobj commented on #186
since I am now somehow assigned to this: @apeyser could you create a PR that introduces safeguards against overly eager compilers? however, as far as I understand the discussion, this has nothing to do with heterogeneous MPI environments, but with portability in general. to address the MPI issue, I will add a sentence to the documentation, as @abigailm suggested.

[2016-05-10 14:16] mer0mingian commented on #334
Thanks for the immediate response.
All issues resolved.

[2016-05-10 14:16] #334 closed

[2016-05-10 15:30] apeyser commented on #186
@jakobj: that's tricky. I'll think about it.

[2016-05-10 15:53] jakobj commented on #186
@apeyser thanks, that's great. I think in the meantime we can close this issue after merging #335.

[2016-05-10 19:43] jakobj opened #336 "Improve github readme"
the current readme does contain a lot of useful information, but does not state what NEST actually is, nor does it contain all links to relevant resources. also it is questionable to me whether the syntax highlighting for emacs and vim should get such a prominent place. maybe a (very) condensed version of the http://nest-simulator.org/ homepage could be an option?

[2016-05-10 20:04] jakobj commented on #324
hi, please attach a zip file with the reports as stated in the error message. this will help us to track down the problem.

 *** of these directories to the issue:
 *** - '/home/ola/nest-2.10.0-build/reports'
 *** - '/home/ola/nest-2.10.0-build/reports/nest.rhIEc'

[2016-05-11 07:38] #186 closed

[2016-05-11 08:25] tammoippen commented on #334
As the title suggests, this is fixed by #318.

[2016-05-11 10:37] heplesser opened #338 "Eliminate duplicity between build.sh and check_code_style.sh"
Currently, developers use `check_code_style.sh` to check style compliance on their own computers, while Travis checks style compliance with different code in `build.sh`. This risks that checks differ. `build.sh` should use `check_code_style.sh`, or both should use the same helper script to do the work.

We should also consider to terminate building if the style check fails for faster turn-around a

[2016-05-11 12:23] jakobj opened #339 "Copyright header test fails with backup files in source directory"
Some editors (e.g., emacs) create automatic backup files, which are usually placed in the same directory as the actual file. Our copyright header test fails on some of these backup files:

[code]

I'll create a PR fixing this issue soon.

[2016-05-11 12:24] jakobj commented on #339
Labels: bug testsuite
Assignee: jakobj

[2016-05-11 14:22] heplesser commented on #188
With #337 merged, I will close this issue.

[2016-05-11 14:22] #188 closed

[2016-05-12 12:20] jakobj commented on #302
one of the outdated manualtests seems to be "testsuite/manualtests/test_stdp_dopa.py", which does not seem to produce the desired behaviour:

[code]

[2016-05-12 13:20] #339 closed

[2016-05-13 09:18] heplesser commented on #311
I can confirm the bug with the newest version (dc5edb5) and @tammoippen's serial script with the original `g_L` value.

@tammoippen The error does not occur for large `g_L >= 17` because NEST does not hit numeric problems then (it is plausible that the larger leak conductance dampens dynamics a little). Therefore, no exception is thrown and the `aeif_cond_alpha::update()` method is left in the pro

[2016-05-13 09:19] heplesser commented on #314
This was addressed by #318.

[2016-05-13 09:19] #314 closed

[2016-05-17 07:50] yan1982 commented on #329
Hi @heplesser  , here is a good reference about this model.

Biol Cybern. 2008 Nov;99(4-5):427-41. doi: 10.1007/s00422-008-0263-8. Epub 2008 Nov 15.
**Minimal Hodgkin-Huxley type models for different classes of cortical and thalamic neurons.**
_Pospischil M1, Toledo-Rodriguez M, Monier C, Piwkowska Z, Bal T, Frégnac Y, Markram H, Destexhe A._

[2016-05-17 18:04] heplesser commented on #329
@yan1982 Thank you, I will take a look at it shortly!

[2016-05-18 12:05] jougs opened #343 "Replace alias datatypes by their standard variants"
We're often using our own typedef'd versions of standard datatypes throughout the code (e.g. `int_t` instead of just `int`; see line 104-109 in [nest_types.h](https://github.com/nest/nest-simulator/blob/dc5edb5808c2526229acbb3989a54acb4efd8d29/nestkernel/nest_types.h#L104))

The use is inconsistently and brings more confusion than readability. These custom types should be removed and their usage r

[2016-05-18 12:19] jougs opened #344 "Review how alias data-types are used"
Currently, we have a lot of alias datatypes that make the code less readable to normal C++ programmers and only help little for NEST experts. Because the aliases are just typedefs, they do not provide any additional type safety.

The following list of aliases is defined in [nest_types.h](https://github.com/nest/nest-simulator/blob/dc5edb5808c2526229acbb3989a54acb4efd8d29/nestkernel/nest_types.h):

[2016-05-18 12:34] jougs opened #345 "do_tests should get all arguments from the commandline"
Currently, `do_tests.sh` is created from `do_tests.sh.in` by cmake. This means that several variables of the kind `@ARG@` are set fixed in the script, which makes it impossible to use the script for other installations and also makes the script itself more complex as it needs to be. The script should get all its arguments from the commandline instead.

This was known as trac393. See also #318.

[2016-05-18 12:43] jougs opened #346 "NEST simulation time limited to 59 hours, change communication from uint_t to ulong_t?"
NEST can currently not simulate for more than 59 hours, since all communication of time stamps between MPI processes is done using the `uint_t` data type, which is 32 bit even on (many) 64 bit systems.

Even when not using MPI, simulation running to more than 1.1e9 ms will trigger an assertion in `Scheduler::advance_time_()`, when steps (type `long_t`) and delays (type `uint_t`) are compared in a

[2016-05-18 13:38] jougs opened #347 "Write tests for the MUSIC interface"
Currently, MUSIC is not covered by any tests. This should be changed.

[2016-05-18 13:42] jougs opened #348 "Improve tests for randomized generators"
- From `manualtests`, `test_sinusoidal_poisson_generator_{5,6}.sli` should be made to work as automated MPI tests.
- We currently have no tests of the statistical properties of spike trains generated by randomized generators. That should be fixed.

[2016-05-18 13:59] jougs opened #349 "Revise test_rdv_param_setting to detect missing generators and check numbers."
Currently, anyone implementing a new RDV has to add a parameter-setting test to `test_rdv_param_setting.sli`. This may be forgotten. One should put all test setup into an array, so one can check that tests are available for all generators in `rdevdict`.

In addition, where numbers are generated, one may also check for upper and lower bounds and data type (double vs long).

This was known as trac82

[2016-05-19 08:55] heplesser opened #351 "Fixed indegree connection rule creates wrong number of connections when connecting to devices on multiple MPI processes"
Connecting a population of neurons to a device such as `spike_detector` using a random rule such as `fixed_indgree` or `fixed_total_number` using multiple MPI processes leads to an incorrect total number of connections. E.g., the following script

[code]

will report 50 and 45 connections on two MPI processes, i.e., 95 in total, not the expected 100. When random seeds are changed, the connection n

[2016-05-20 07:34] heplesser opened #352 "Implement randomized initialization for neurons"
With `NewConnect`,  we support randomised initialisation of synapses. Provide the same type of support for neuron initialisation, so that one could write

[code]

This was previously trac854.

[2016-05-20 07:36] heplesser opened #353 "Run test_connect_all_patterns.py with mpirun"
The test pynest/nest/tests/test_connect_all_patterns.py is explicitly written to be run MPI parallel (i.e. using `mpirun -np 2 python test_connect_all_patterns.py`). The testsuite does not allow this at the moment. The task is to modify the testsuite harness to allow this.

See also #302.

[2016-05-20 08:05] heplesser opened #354 "Connect() does not suppress multapses reliably if source/target GIDs are repeated"
An (undocumented) assumption made by `Connect()` is that each source and target neuron appears only once in the source and target arguments. But if a single neuron is included more than once, e.g.

[code]

i.e., GIDs 36 and 97 are included twice, this will defeat the multapse-supression mechanism and you will have two connections between 36 and 97 and some other neurons. Furthermore, it also means

[2016-05-20 08:11] heplesser opened #355 "Review and clean up classes for handling of ranges of gids"
Over time, we have grown quite a zoo of different ways to handle boring lists of nodes, i.e. those containing only a bunch of contiguous sorted GIDs. The main motivation has always been to save memory when e.g. representing the GIDs 1 to 10,000 in a call to a `Connect` function.

This ticket collects all approaches related to this attempt and tries to put them in a historic perspective. The task f